<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12"></div>
	<form role="form" [formGroup]="formUbicacion">
		<div class="ui-g form-group">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-10">
						<h1 i18n>Mapa de la ubicación</h1>
					</div>
				</div>
				<div class="ui-g-12 ui-md-10">
					<!-- Dirección -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3">
							<label i18n><strong>Dirección:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9">
							<input type="text" pInputText id="txtDireccion" name="txtDireccion" maxlength="500" [(ngModel)]="ubicacion.direccion" formControlName="direccion"
								pTooltip="Dirección" tooltipPosition="top">
						</div>
					</div>
					<!-- Ciudad -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3">
							<label i18n><strong>Ciudad:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9">
							<input type="text" pInputText id="txtCiudad" name="txtCiudad" maxlength="300" [(ngModel)]="ubicacion.indDirCiudad" formControlName="indDirCiudad"
								pTooltip="Ciudad" tooltipPosition="top">
						</div>
					</div>
					<!-- Estado -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3">
							<label i18n><strong>Estado:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9">
							<input type="text" pInputText id="txtDirEstado" name="txtDirEstado" maxlength="300" [(ngModel)]="ubicacion.indDirEstado"
								formControlName="indDirEstado" pTooltip="Estado" tooltipPosition="top">
						</div>
					</div>
					<!-- País -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3">
							<label i18n><strong>País:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9">
							<input type="text" pInputText id="txtPais" name="txtPais" maxlength="3" [(ngModel)]="ubicacion.indDirPais" formControlName="indDirPais"
								pTooltip="País" tooltipPosition="top">
						</div>
					</div>

					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3">
							<label i18n><strong>Locación:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9">
							<input pInputText id="pac-input" type="text" i18n-placeholder placeholder="Ingrese la locación">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12 mapBackground">
						<div id="map"></div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-8"></div>
				<div class="ui-g-12 ui-md-2" *ngIf="ubicacion.indEstado != 'A' && escritura">
					<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" [disabled]="!formUbicacion.valid" (click)="editarUbicacion()"
						icon="ui-icon-save"></button>
				</div>
			</div>
		</div>
	</form>
</div>