<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar al listado de atributos-->
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<h1 i18n>Nueva Ubicación.</h1>
				</div>

			</div>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g form-group">
					<div class="ui-g-12 ui-md-12">
						<h1 i18n>Datos de la ubicación.</h1>
					</div>
					<div class="ui-g-12 ui-md-10">
						<form role="form" [formGroup]="formUbicacion">
							<!-- Código interno -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3">
									<label i18n><strong>Código para manejo interno:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-9">
									<input type="text" pInputText id="txtCodigo" name="txtCodigo" [(ngModel)]="ubicacion.codigoInterno" formControlName="codigo"
										pTooltip="Código interno" tooltipPosition="top">
								</div>
							</div>

							<!-- Nombre -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3">
									<label i18n><strong>Nombre de la ubicación:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-9">
									<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="150" (blur)="establecerNombre();" [(ngModel)]="ubicacion.nombre"
										formControlName="nombre" pTooltip="Nombre de la ubicación" tooltipPosition="top">
								</div>
							</div>

							<!-- Nombre de despliegue -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3">
									<label i18n><strong>Nombre de despliegue:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-9">
									<input type="text" pInputText id="txtDespliegue" name="txtDespliegue" maxlength="150" [(ngModel)]="ubicacion.nombreDespliegue"
										formControlName="nombreDespliegue" pTooltip="Nombre de despliegue" tooltipPosition="top">
								</div>
							</div>

							<div *ngIf="setUbicacion">
								<!-- Dirección -->
								<div class="ui-g-12 ui-md-12">
									<div class="ui-g-12 ui-md-3">
										<label i18n><strong>Dirección:</strong></label>
									</div>
									<div class="ui-g-12 ui-md-9">
										<input type="text" pInputText id="txtDireccion" name="txtDireccion" maxlength="500" [(ngModel)]="ubicacion.direccion" formControlName="direccion"
											pTooltip="Dirección" tooltipPosition="top">
									</div>
								</div>

								<!-- Ciudad -->
								<div class="ui-g-12 ui-md-12">
									<div class="ui-g-12 ui-md-3">
										<label i18n><strong>Ciudad:</strong></label>
									</div>
									<div class="ui-g-12 ui-md-9">
										<input type="text" pInputText id="txtCiudad" name="txtCiudad" maxlength="300" [(ngModel)]="ubicacion.indDirCiudad" formControlName="indDirCiudad"
											pTooltip="Ciudad" tooltipPosition="top">
									</div>
								</div>

								<!-- Estado -->
								<div class="ui-g-12 ui-md-12">
									<div class="ui-g-12 ui-md-3">
										<label i18n><strong>Estado:</strong></label>
									</div>
									<div class="ui-g-12 ui-md-9">
										<input type="text" pInputText id="txtDirEstado" name="txtDirEstado" maxlength="300" [(ngModel)]="ubicacion.indDirEstado"
											formControlName="indDirEstado" pTooltip="Estado" tooltipPosition="top">
									</div>
								</div>

								<!-- País -->
								<div class="ui-g-12 ui-md-12">
									<div class="ui-g-12 ui-md-3">
										<label i18n><strong>País:</strong></label>
									</div>
									<div class="ui-g-12 ui-md-9">
										<input type="text" pInputText id="txtPais" name="txtPais" maxlength="3" [(ngModel)]="ubicacion.indDirPais" formControlName="indDirPais"
											pTooltip="País" tooltipPosition="top">
									</div>
								</div>
							</div>
						</form>
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3">
								<label i18n><strong>Locación:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-9">
								<input id="pac-input" pInputText type="text" i18n-placeholder placeholder="Ingrese la locación" pTooltip="Locación" tooltipPosition="top">
							</div>
						</div>
						<div class="ui-g-12 ui-md-12 mapBackground">
							<div id="map"></div>
						</div>

						<div class="ui-g-12 ui-md-10"></div>
						<div class="ui-g-12 ui-md-2" *ngIf="escritura">
							<button pButton i18n-label label="Guardar" class="green-btn flat" [disabled]="!formUbicacion.valid" (click)="agregarUbicacion()"
								icon="ui-icon-save"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>