<div class="ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Butón para regresar en la navegación-->
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
				</div>
				<div class="ui-g-12 ui-md-7">
					<div class="ui-g-12 ui-md-12">
						<div class="heading-detalle">
							{{ubicacion.nombre}}
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Ubicación</ng-container>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="cargandoDatos">
					<div class="ui-g-12 ui-md-12" >
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="!cargandoDatos">
					<!--Widget para mostrar el estado y efectividad de la Ubicación" -->
					<div class="ui-g-12 ui-md-12 ui-lg-12" >
						<div class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': draft, 'cbx-3': archivado, 'cbx-6': inactivo}" (click)="op2.toggle($event)">
							<div class="ui-g-4">
								<i class="material-icons">edit</i>
						</div>
						<div class="ui-g-8">
							<span class="name" i18n>Estado:</span>
							<span class="count">{{ubicacion.indEstado | estadoElemento}}</span>
							<ng-container [ngSwitch]="tipo">
								<ng-container *ngSwitchCase="'Activo'"> <small i18n><p>Activo</p></small></ng-container>
								<ng-container *ngSwitchCase="'Inactivo'"> <small i18n><p>Inactivo</p></small></ng-container>
							</ng-container>
						</div>
					</div>
					<p-overlayPanel #op2>
						<div class="ui-g-12 ui-md-12" style="width:260px">
							<div class="ui-g-12 ui-md-12" style="margin:10px 5px 10px 10px"> 
								<div *ngIf="ubicacion.indEstado=='P' && escritura" class="ui-g-12 ui-md-12" style="float: right;">
									<h3 class="input-spacing"><strong i18n>Ubicación Activa</strong></h3>
									<p i18n>Se puede utilizar en los demás modulos del sistema.</p>
									<div class="ui-g-12 ui-md-12" style="float: center;">
										<button pButton type="button" class="orange-btn" i18n-label label="Inactivar" icon="ui-icon-check" (click)="confirmar(); op2.hide()"></button>
									</div>
								</div>
								<div *ngIf="ubicacion.indEstado =='I' && escritura" class="ui-g-12 ui-md-12" style="float: right;">
									<h3 class="input-spacing"><strong i18n>Ubicación Inactiva</strong></h3>
									<p i18n>No esta disponible, para ser utilizada es necesario activarla.</p>
									<div class="ui-g-12 ui-md-12" style="float: center;">
										<button pButton type="button" class="green-btn" i18n-label label="Activar" icon="ui-icon-check" (click)="confirmar(); op2.hide()"></button>
									</div>
								</div>
								<div *ngIf="ubicacion.indEstado =='D' && escritura" class="ui-g-12 ui-md-12" style="float: right;">
									<h3 class="input-spacing"><strong i18n>Ubicación en borrador</strong></h3>
									<p i18n>Debe ser publicada para ser utilizada en los demás modulos del sistema. Si desea, puede eliminar por completo esta ubicación.</p>
									<div class="ui-g-12 ui-md-12" style="float: center;">
										<button pButton type="button" class="green-btn" i18n-label label="Publicar" icon="ui-icon-check" (click)="publicarUbicacion(); op2.hide()"></button>
									</div>
									<div class="ui-g-12 ui-md-12" style="float: center;">
										<button pButton type="button" class="red-btn" i18n-label label="Remover" icon="ui-icon-trash" (click)="confirmar('remover'); op2.hide()"></button>
									</div>
								</div>
								<div *ngIf="ubicacion.indEstado =='A'" class="ui-g-12 ui-md-12" style="float: right;">
									<h3 class="input-spacing"><strong i18n>Ubicación Archivada</strong></h3>
									<p i18n>No se puede realizar cambios y ser utilizada en el sistema.</p>
								</div>
								<div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: x-small; color: white;">
									<div class="ui-g-12 ui-md-2 ui-lg-2">
										<i class="material-icons">information</i>
									</div>
									<div class="ui-g-12 ui-md-7 ui-lg-7">
										<label i18n>No cuenta con los permisos necesarios para cambiar la definición de la ubicación</label>
									</div>
								</div>
							</div>
						</div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
		</div>
		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" i18n-label label="General" icon="ui-icon-reorder" [routerLink]="informacion" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" i18n-label label="Efectividad" icon="ui-icon-create" [routerLink]="efectividad" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" i18n-label label="Mapa" icon="ui-icon-place" [routerLink]="mapa" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" i18n-label label="Beacons" icon="ui-icon-gps-fixed" routerLink="beacons" [routerLinkActive]="['ruta-activada']"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-w-title">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="verModal" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12" *ngIf="eliminar">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
	   <div class="ui-g-12 ui-md-12" *ngIf="!eliminar">
            <ng-container i18n>¿Confirma que desea cambiar el tipo de publicacón de la ubicación?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="verModal = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Cambiar" (click)="estadoActivo()" icon="ui-icon-check" *ngIf="!eliminar"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerUbicacion()" icon="ui-icon-trash" *ngIf="eliminar"></button>
    </p-footer>
</p-dialog>