<div class="ui-g ui-fluid card">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g-12 ui-md-12">
			<div class="ui-g form-group">
				<div class="ui-g-12 ui-md-10">
					<h1 i18n>Ubicaciones</h1>
				</div>
				<div class="ui-g-12 ui-md-8 ui-lg-8">
					<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaUbicaciones()" (onRemove)="busquedaUbicaciones()" i18n-placeholder
						placeholder="Búsqueda"></p-chips>
					<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
				</div>
				<div class="ui-g-12 ui-md-2 ui-lg-2">
					<button pButton type="button" (click)="avanzada = !avanzada" i18n-label label="Búsqueda Avanzada"></button>
				</div>
				<!--Butón para agregar un nuevo atributo-->
				<div class="ui-g-12 ui-md-2" *ngIf="escritura">
					<button pButton type="button" i18n-label label="Agregar" class="green-btn flat" (click)="nuevaUbicacion()" icon="ui-icon-add"></button>
				</div>
			</div>
		</div>
		<!--Busquedas avanzadas-->
		<div class="ui-g-12 ui-md-12" *ngIf="avanzada">
			<p-fieldset legend="Estados" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="P" i18n-label label="Publicado" (onChange)="busquedaUbicaciones()" [(ngModel)]="estado"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="I" i18n-label label="Inactivo" (onChange)="busquedaUbicaciones()" [(ngModel)]="estado"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="D" i18n-label label="Borrador" (onChange)="busquedaUbicaciones()" [(ngModel)]="estado"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="A" i18n-label label="Archivado" (onChange)="busquedaUbicaciones()" [(ngModel)]="estado"></p-checkbox>
					</div>
				</div>
			</p-fieldset>
		</div>
		<!--Se muestra la lista con las ubicaciones-->
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>
		<div class="ui-g-12" *ngIf="!cargandoDatos">
			<p-dataList [value]="listaUbicaciones" [paginator]="true" [rows]="10" *ngIf="!listaVacia" (onLazyLoad)="loadData($event)"
				[lazy]="true" [totalRecords]="totalRecords">
				<p-header i18n>
					Lista de ubicaciones
				</p-header>
				<ng-template let-ubicacion pTemplate="item">
					<div class="clearfix listBorder">
						<div class="ui-g-1 ui-md-1"></div>
						<div class="ui-g-3 ui-md-3">
							<p><strong i18n>Nombre: </strong>&nbsp; &nbsp;{{ubicacion.nombre}}</p>
						</div>
						<div class="ui-g-3 ui-md-3">
							<p><strong i18n>N. Despliegue: </strong>&nbsp; &nbsp;{{ubicacion.nombreDespliegue}}</p>
						</div>
						<div class="ui-g-3 ui-md-3">
							<p><strong i18n>Calendarizacion:</strong> &nbsp; &nbsp;{{ubicacion.indCalendarizacion | calendarizacion}}</p>
						</div>
						<button pButton (click)="ubicacionSeleccionada(ubicacion.idUbicacion)"  icon="ui-icon-edit" class="listButton"></button>
						<button pButton *ngIf="escritura && ubicacion.indEstado=='D'" (click)="dialogoConfirmar(ubicacion.idUbicacion, ubicacion.indEstado)"
							icon="ui-icon-delete" class="listButton"></button>
						<button pButton *ngIf="escritura && ubicacion.indEstado=='P' || ubicacion.indEstado=='I'" (click)="dialogoConfirmar(ubicacion.idUbicacion, ubicacion.indEstado)"
							icon="ui-icon-archive" class="listButton"></button>
					</div>
				</ng-template>
			</p-dataList>
			<div class="ui-g-12" *ngIf="listaVacia">
				<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<span i18n>No existen ubicaciones disponibles</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="!publicada">
			<ng-container>{{remover}}</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="publicada">
			<ng-container>{{archivar}}</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" *ngIf="!publicada" (click)="removerUbicacion()" icon="ui-icon-trash"></button>
		<button pButton type="button" i18n-label label="Archivar" *ngIf="publicada" (click)="removerUbicacion()" icon="ui-icon-archive"></button>
	</p-footer>
</p-dialog>