<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12 ui-md-12" *ngIf="!cargandoDatos">
		<!--Fomulario para insertar una ubicacion-->
		<form role="form" [formGroup]="formUbicacion">
			<div class="ui-g form-group">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-10">
							<h1 i18n>Datos de la ubicación</h1>
						</div>
					</div>
					<div class="ui-g-12 ui-md-9">
						<!-- Código interno -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3">
								<label i18n><strong>Código para manejo interno:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-9">
								<input type="text" pInputText id="txtCodigo" name="txtCodigo" [(ngModel)]="ubicacion.codigoInterno" formControlName="codigo"
									pTooltip="Código interno" tooltipPosition="top">
							</div>
						</div>
						<!-- Nombre -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3">
								<label i18n><strong>Nombre de la ubicación:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-9">
								<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="150" (blur)="establecerNombre();" [(ngModel)]="ubicacion.nombre"
									formControlName="nombre" pTooltip="Nombre de la ubicación" tooltipPosition="top">
							</div>
						</div>
						<!-- Nombre de despliegue -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3">
								<label i18n><strong>Nombre de despliegue:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-9">
								<input type="text" pInputText id="txtDespliegue" name="txtDespliegue" maxlength="150" [(ngModel)]="ubicacion.nombreDespliegue"
									formControlName="nombreDespliegue" pTooltip="Nombre de despliegue" tooltipPosition="top">
							</div>
						</div>
						<!-- Horario -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3">
								<label i18n><strong>Horario de atención:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-9">
								<input type="text" pInputText id="txtHorario" name="txtHorario" maxlength="500" [(ngModel)]="ubicacion.horarioAtencion" formControlName="horario"
									pTooltip="Horario de atención" tooltipPosition="top">
							</div>
						</div>
						<!-- Teléfono -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3">
								<label i18n><strong>Teléfono:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-9">
								<input type="text" pInputText id="txtTelefono" name="txtTelefono" maxlength="25" [(ngModel)]="ubicacion.telefono" formControlName="telefono"
									pTooltip="Horario de atención" tooltipPosition="top">
							</div>
						</div>

						<div class="ui-g-12 ui-md-9"></div>
						<div class="ui-g-12 ui-md-2" *ngIf="ubicacion.indEstado != 'A' && escritura">
							<!--Para agregar la ubicación, se activa hasta que el formUbicacion sea valido -->
							<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" [disabled]="!formUbicacion.valid" (click)="editarUbicacion()"
								icon="ui-icon-save"></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
