<div class="card">
    <div class="ui-g ui-fluid">
        <h1 i18n>Insertar Rol</h1>
        <div class="ui-g-12 ui-lg-12">
            <form [formGroup]="formRoles">
                <div class="ui-g-12 ui-lg-12">
                    <span class="md-inputfield">
                        <input id=nombre type="text" pInputText  required="true" [(ngModel)]="rol.nombre" formControlName="nombre">
                              <label for="nombre" i18n>Nombre</label>
                            </span>
                </div>
                <div class="ui-g-12 ui-lg-12" style="margin-top:25px;">
                    <span class="md-inputfield">
                            <input id=descripcion type="text" pInputText  required="true" [(ngModel)]="rol.descripcion"
                            formControlName="descripcion" />
                              <label  for="descripcion" i18n>Descripción</label>
                    </span>
                </div>
                <div class="ui-g-10 ui-lg-10"></div>
                <div class="ui-g-2 ui-lg-2" *ngIf="tienePermisosEscritura">
                    <label for="btnAceptar"></label>
                    <div class="col-md-4 center-block">
                        <button pButton [disabled]="!formRoles.valid" i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" (click)=agregarRol()></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>