<div class="ui-g card">
	<div class="ui-g-1 ui-md-1">
		<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
	</div>
	<div class="ui-g-12 ui-md-7">
		<div class="ui-g-12 ui-md-12">
			<div class="heading-detalle">
				{{rol.nombre}}
			</div>
		</div>
		<div class="ui-g-12 ui-md-12">
			<div class="sub-heading-detalle">
				<ng-container i18n>Rol</ng-container>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12 ui-lg-12" *ngIf="!displayUsuariosPorRol">
			<form [formGroup]="formRoles" class="form-horizontal">
				<div class="ui-g-10">
					<h2 class="input-spacing" i18n>Detalle de Rol</h2>
				</div>
				<div class="ui-g-2">
					<button pButton i18n-label label="Usuarios Asociados" icon="ui-icon-people" (click)="showUsuariosPorRol()"></button>
				</div>
				<div class="ui-g-12">
					<label for="textinput" i18n>Nombre</label>
				</div>
				<div class="ui-g-12">
					<input pInputText id="nombre" name="txtnombre" type="text" [(ngModel)]="rol.nombre" formControlName="nombre">
				</div>
				<div class="ui-g-12">
					<label for="desc" i18n>Descripción</label>
				</div>
				<div class="ui-g-12">
					<input pInputText id="desc" name="txtdescripcion" type="text" [(ngModel)]="rol.descripcion" formControlName="descripcion">
				</div>
				<div class="ui-g-10"></div>
				<div class="ui-g-2" *ngIf="tienePermisosEscritura">
					<button pButton i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" (click)="modificarRol()"></button>
				</div>
			</form>
		</div>
		<div class="ui-g-12 ui-lg-12" *ngIf="displayUsuariosPorRol">
			<div class="ui-g-12 ui-md-10">
				<!--<p-chips i18n-placeholder placeholder="Búsqueda..."  [(ngModel)]="busqueda" (onAdd)="getUsuariosPorRol()" (onRemove)="getUsuariosPorRol()"></p-chips>
            	<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>-->
			</div>
			<div class="ui-g-12 ui-md-2">
				<button pButton i18n-label label="Rol" type="button" icon="ui-icon-arrow-back" (click)="displayUsuariosPorRol=false"></button>
			</div>



			<div class="ui-g-12 ui-md-12">
				<p-dataList [value]="usuariosPorRol" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="cantRegistrosTotal">
					<p-header i18n>
						Lista de usuarios
					</p-header>
					<ng-template let-usuario pTemplate="item">
						<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
							<div class="ui-grid-row">
								<div class="ui-grid-col-2">
									<img [src]='usuario.avatar' class="img-lists img-border" />
								</div>
								<div class="ui-grid-col-8">
									<div class="ui-grid ui-grid-responsive ui-fluid">
										<div class="ui-grid-row input-spacing">
											<div class="ui-grid-col-2">
												<ng-container i18n>Nombre:</ng-container>
											</div>
											<div class="ui-grid-col-10">{{usuario.nombreUsuario}}</div>
										</div>
										<div class="ui-grid-row input-spacing">
											<div class="ui-grid-col-2">
												<ng-container i18n>Correo: </ng-container>
											</div>
											<div class="ui-grid-col-10">{{usuario.correo}}</div>
										</div>
										<div class="ui-grid-row input-spacing">
											<div class="ui-grid-col-2">
												<ng-container i18n>Estado: </ng-container>
											</div>
											<div class="ui-grid-col-10">{{usuario.indEstado|estadoUsuario}}</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-2">
									<div class="ui-grid-col-12"> <button type="button" pButton class="pull-right" icon="ui-icon-edit" iconPos="right" (click)="gotoDetailUsuario(usuario)"></button></div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
		</div>
	</div>
</div>