<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12 ui-md-12">
			<div class="heading-detalle">
				<ng-container i18n>Roles de usuario</ng-container>
			</div>
		</div>
		<div class="ui-g-12 wrapper-spacing">
			<div class="ui-g-12 ui-md-8 ui-lg-8">
				<p-chips i18n-placeholder placeholder="Búsqueda..."  [(ngModel)]="busqueda" (onAdd)="buscarRoles()" (onRemove)="buscarRoles()"></p-chips>
            <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<div class="ui-g-12 ui-md-2 ui-lg-2"><button pButton i18n-label label="Buscar" icon="ui-icon-search" (click)="buscarRoles()"></button></div>
			<div class="ui-g-12 ui-md-2 ui-lg-2"><button pButton i18n-label label="Agregar" [disabled]="!tienePermisosEscritura" icon="ui-icon-add" class="green-btn" [routerLink]="rutaInsertar"></button></div>
			<div class="ui-g-12" *ngIf="vacio">
				<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay roles disponibles</label>
					</div>
				</div>
				<!--<p-messages [value]="[{severity:'info', summary:'', detail:'Aún no hay roles disponibles'}]"></p-messages>-->
			</div>
			<div class="ui-g-12" *ngIf="roles.length>0">
				<p-dataList [value]="roles" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="cantRegistrosTotal">
					<p-header i18n>Lista de roles</p-header>
					<ng-template let-rol pTemplate="item">
						<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
							<div class="ui-grid-row">
								<div class="ui-grid-col-11">
									<div class="ui-grid ui-grid-responsive ui-fluid">
										<div class="ui-grid-row input-spacing">
											<div class="ui-grid-col-2 "><strong i18n>Nombre:</strong> </div>
											<div class="ui-grid-col-10"> {{rol.nombre}}</div>
										</div>
										<div class="ui-grid-row input-spacing">
											<div class="ui-grid-col-2"><strong i18n>Descripción:</strong> </div>
											<div class="ui-grid-col-10">{{rol.descripcion}}</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-1">
									<div class="ui-grid-row">
										<button pButton class="pull-right" icon="ui-icon-delete" (click)="mostrarModalEliminarRol(rol)" [disabled]="!tienePermisosEscritura"></button>
										<button pButton class="pull-right" icon="ui-icon-edit" (click)="gotoDetalle(rol)"></button>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
		</div>
	</div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayConfirm" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea eliminar este rol?</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="displayConfirm=false"></button>
        <button pButton type="button" i18n-label label="Eliminar" icon="ui-icon-check" (click)="confirmEliminarRol()"></button>
    </p-footer>
</p-dialog>