<div class="ui-fluid">
	<div class="ui-g card">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-9">
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
				</div>
				<div class="ui-g-12 ui-md-10">
					<div class="ui-g-12">
						<div class="heading-detalle">
							{{usuario.nombreUsuario}}
						</div>
					</div>
					<div class="ui-g-12">		
						<div class="sub-heading-detalle">
							<ng-container i18n>Usuario</ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-3">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					<div class="ui-g-5 ui-md-5"></div>
					<div class="ui-g-2 ui-md-2">
						<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
					</div>
				</div>
				<!--Widget para mostrar el estado del usuario -->
				<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
					<div class="ui-g card cbx" [ngClass]="{'cbx-1': activo, 'cbx-3': inactivo}" (click)="op2.toggle($event)">
						<div class="ui-g-4"><i class="material-icons">edit</i></div>
						<div class="ui-g-8">
							<span class="name" i18n>Estado:</span>
							<span class="count">{{usuario.indEstado | cambioEstado}}</span>
						</div>
					</div>
					<p-overlayPanel #op2>
						<div class="ui-g-12 ui-md-12" style="width:260px">
							<div style="margin:10px 5px 10px 10px">
								<div *ngIf="usuario.indEstado == 'B' && escritura" class="ui-g-12 ui-md-12">
									<h3 class="input-spacing" i18n><strong>Usuario activo</strong></h3>
									<p i18n>Puede modificar la información y utilizarlo en el resto de los módulos del sistema.</p>
									<button pButton class="red-btn" i18n-label label="Inactivar" icon="ui-icon-archive" (click)="displayModalConfirm=true; op2.hide()"></button>
								</div>
								<div *ngIf="usuario.indEstado == 'I' && escritura" class="ui-g-12 ui-md-12">
									<h3 class="input-spacing" i18n><strong>Usuario inactivo</strong></h3>
									<p i18n>No puede realizar cambios en la información o utilizarlo en el resto de los módulos del sistema.</p>
									<button pButton class="green-btn" i18n-label label="Activar" icon="ui-icon-check" (click)="activarUsuario(); op2.hide()"></button>
								</div>
								<div *ngIf="!escritura" class="ui-g-12 ui-md-12">
									<ng-container i18n><strong>No cuenta con permisos de escritura sobre usuarios.</strong></ng-container>
								</div>
							</div>
						</div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-toolbar">
		<div class="ui-g ui-fluid">
			<div class="ui-g-6 ui-md-2 ui-lg-2">
				<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" routerLink="detalleAtributos" [routerLinkActive]="['ruta-activada']"></button>
			</div>
			<div class="ui-g-6 ui-md-2 ui-lg-2">
				<button pButton type="button" icon="ui-icon-security" i18n-label label="Roles" routerLink="detalleRoles" [routerLinkActive]="['ruta-activada']"></button>
			</div>
		</div>
	</div>
	<div class="card">
		<router-outlet></router-outlet>
	</div>
</div>

<p-dialog i18n-header header="Confirmación" modal="true" [(visible)]="displayModalConfirm">
	<ng-container i18n>¿Está seguro que desea inactivar el usuario?</ng-container>
	<p-footer>
		<button type="button" pButton icon="fa-close" (click)="displayModalConfirm=false" i18n-label label="Cerrar"></button>
		<button type="button" pButton icon="ui-icon-archive" (click)="displayModalConfirm=false" i18n-label label="Inactivar" (click)="desactivarUsuario()"></button>
	</p-footer>
</p-dialog>