<div class="ui-g ui-fluid ">
	<div class="ui-g-12 ui-lg-12">
		<form [formGroup]="usuarioForm">
			<h2 class="input-spacing" i18n>Datos personales de {{usuario.nombreUsuario}}</h2>
			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<div class="ui-g-12 ui-md-10 input-spacing" *ngIf="usuario.avatar">
					<img [src]="file_src" class="img-forms img-border" />
					<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
				</div>
				<div class="ui-g-12 ui-md-10 input-spacing" *ngIf="!usuario.avatar">
					<img src="/resources/img/loading_icon.gif" class="img-forms img-border"/>
					<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
				</div>
				<div class="ui-g-12 ui-md-10">
					<input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
					<label for="fileAvatar" i18n>Seleccione un archivo</label>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="txtNombre" i18n>Nombre Público</label>
					</div>
					<div class="ui-g-12 ui-md-9 ui-lg-8">
						<input id="txtNombre" name="txtNombre" type="text"  pInputText  pTooltip="Nombre" tooltipPosition="left" i18n-placeholder placeholder="Nombre" [(ngModel)]="usuario.nombrePublico" formControlName="nombrePublico">
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="txtNombreInterno" i18n>Nombre de Usuario</label>
					</div>
					<div class="ui-g-12 ui-md-9 ui-lg-8">
						<input id="txtNombreInterno" name="txtNombre" type="text" pInputText pTooltip="Nombre de usuario" tooltipPosition="left"
						i18n-placeholder placeholder="Nombre de usuario" [(ngModel)]="usuario.nombreUsuario" formControlName="nombreUsuario"(blur)="validarNombre()">
						<div *ngIf="!nombreValido&&usuarioForm.get('nombreUsuario').touched">
							<span class="alert-danger">*El nombre de usuario ya existe</span>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="txtEmail" i18n>Email</label>
					</div>
					<div class="ui-g-12 ui-md-9 ui-lg-8">
						<input id="txtEmail" name="txtEmail" type="text" i18n-placeholder placeholder="Email" pTooltip="Correo electrónico" tooltipPosition="left"
							[(ngModel)]="usuario.correo" pInputText formControlName="correo">
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="txtEmail" i18n>Estado</label>
					</div>
					<div class="ui-g-12 ui-md-9 ui-lg-8">
						<p-inputSwitch [(ngModel)]="usuarioActivo" (click)="toggleEstado()" [ngModelOptions]="{standalone: true}"></p-inputSwitch><span style="margin-left:15px; margin-bottom:5px">{{usuario.indEstado | estadoUsuario}}</span>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="pwdinput" i18n>Contraseña</label>
					</div>
					<div class="ui-g-12 ui-md-9 ui-lg-8">
						<input id="pwdinput" name="pwdinput" type="password" i18n-placeholder placeholder="Contraseña (temporal)" pInputText pTooltip="Contraseña" tooltipPosition="left" [(ngModel)]="usuario.contrasena" formControlName="contrasena">
					</div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-8" *ngIf="tienePermisosEscritura">
				<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="uploading"/>
			</div>
			<div class="ui-g-12 ui-md-2" *ngIf="tienePermisosEscritura">
				<button id="btnAceptar" name="btnAceptar" pButton i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" [disabled]="!usuarioForm.valid&&usuarioForm.touched"
					(click)="siguiente()"></button>
			</div>
		</form>
	</div>
</div>