<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<h1 i18n="Título de insertar usuario|Insertar usuario" i18n>Insertar Usuario</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<form [formGroup]="usuarioForm">
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-12 ui-md-10">
							<img class="img-forms" [src]="file_src" />
							<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
						</div>
						<div class="ui-g-12 ui-md-12" *ngIf="tienePermisosEscritura">
							<input class="upload" id="fileAvatar" name="fileAvatar" type="file"  #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
							<label for="fileAvatar" i18n>Seleccione un archivo</label>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<label for="txtNombre" i18n="nombre completo del usuario|Nombre"><strong>Nombre Completo</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-8">
							<input id="txtNombre" name="txtNombre" type="text"  pInputText  pTooltip="Nombre" tooltipPosition="right" i18n-placeholder placeholder="Nombre" [(ngModel)]="usuario.nombrePublico" formControlName="nombrePublico">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<label for="txtNombreInterno" i18n="nombre de usuario del usuario|NombreUsuario"><strong>Nombre de Usuario</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-8">
							<input id="txtNombreInterno" name="txtNombre" type="text" pInputText pTooltip="Nombre de usuario" tooltipPosition="right"
							i18n-placeholder placeholder="Nombre de usuario" [(ngModel)]="usuario.nombreUsuario" formControlName="nombreUsuario" (blur)="validarNombre()">
							<div *ngIf="!nombreValido&&usuarioForm.get('nombreUsuario').touched">
								<span class="alert-danger" i18n="existe nombreUsuario|NombreUsuarioExiste">*El nombre de usuario ya existe</span>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<label for="txtEmail" i18n="email usuario|Email"><strong>Email</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-8">
							<input id="txtEmail" name="txtEmail" type="text" i18n-placeholder placeholder="Email" pTooltip="Correo electrónico" tooltipPosition="right"
								[(ngModel)]="usuario.correo" pInputText formControlName="correo">
						</div>
					</div>
					<!--<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="txtEmail">Estado</label>
					</div>
					<div class="ui-g-12 ui-md-9 ui-lg-8">
						<p-inputSwitch [(ngModel)]="usuarioActivo" (click)="toggleEstado()" [ngModelOptions]="{standalone: true}"></p-inputSwitch><span  style="margin-left:15px; margin-bottom:5px">{{usuario.indEstado|estadoUsuario}}</span>
					</div>-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<label for="pwdinput" i18n="clave usuario|Contrasena"><strong>Contraseña</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-8">
							<input id="pwdinput" name="pwdinput" type="password"  i18n-placeholder placeholder="Contraseña (temporal)" pInputText pTooltip="Contraseña" tooltipPosition="right" [(ngModel)]="usuario.contrasena" formControlName="contrasena">
						</div>
					</div>
					<!--<div class="ui-g-12 ui-lg-12 ui-md-12 input-spacing">
						<span class="md-inputfield">
							<input id="txtNombre" name="txtNombre" type="text"  pInputText  [(ngModel)]="usuario.nombrePublico" formControlName="nombrePublico">
							<label for="txtNombre">Nombre Completo</label>
						</span>
					</div>

					<div class="ui-g-12 ui-lg-12 ui-md-12 input-spacing">
						<span class="md-inputfield">
							<input id="txtNombreInterno" name="txtNombre" type="text" pInputText  [(ngModel)]="usuario.nombreUsuario" formControlName="nombreUsuario" (blur)="validarNombre()">
							<label  for="txtNombreInterno">Nombre de Usuario</label>
						</span>
						<div *ngIf="!nombreValido&&usuarioForm.get('nombreUsuario').touched">
							<span class="badge alert-danger">*El nombre de usuario ya existe</span>
						</div>
					</div>

					<div class="ui-g-12 ui-lg-12 ui-md-12 input-spacing">
						<span class="md-inputfield">
							<input id="txtEmail" name="txtEmail" type="text"  pTooltip="Correo electrónico" tooltipPosition="right" [(ngModel)]="usuario.correo" pInputText formControlName="correo">
							<label  for="txtEmail">Correo electrónico</label>
						</span>
					</div>
					<div class="ui-g-12 ui-lg-12 ui-md-12 input-spacing">
						<span class="md-inputfield">
							<input id="pwdinput" name="pwdinput" pPassword type="password" weakLabel="Débil" mediumLabel="Medio" strongLabel="Fuerte"  pInputText [(ngModel)]="usuario.contrasena" formControlName="contrasena">
							<label  for="pwdinput">Contraseña temporal</label>
					</span>
					</div>-->
		
					<div class="ui-g-12 ui-md-6"></div>
					<div class="ui-g-12 ui-md-2">
						<img *ngIf="cargando==true" class="loading-gif" style="width: 30px;height: 30px" src="/resources/img/loading_icon.gif">
					</div>
					<div class="ui-g-12 ui-md-2">
						<button id="btnAceptar" name="btnAceptar" pButton i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" [disabled]="!usuarioForm.valid && !tienePermisosEscritura" (click)="insertarUsuario()"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>