    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Usuarios</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a routerLink="listaUsuarios">Lista de Usuarios</a></li>
                <li><a routerLink="insertarUsuario">Insertar Usuario</a></li>
                <li><a routerLink="listaRoles">Lista de Roles</a></li>
                <li><a routerLink="insertarRoles">Insertar Roles</a></li>
            </ul>
        </div>
    </nav>-->
    <router-outlet></router-outlet>
