<div class="ui-g ui-fluid ">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g-12 ui-md-12" *ngIf="!displayRoles">
			<div class="ui-g-12 ui-md-8">
				<!--<input pInputText [(ngModel)]="terminoBusqueda">-->
				<p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="busquedaRolesAsociados()" (onRemove)="busquedaRolesAsociados()"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
				<!--<h2 class="input-spacing" i18n>Roles asociados a este usuario</h2>-->
			</div>
			<div class="ui-g-6 ui-md-2">
				<button pButton i18n-label label="Buscar" icon="ui-icon-search" (click)="busquedaRolesAsociados()"></button>
			</div>
			<div class="ui-g-6 ui-md-2">
				<button id="btnAddRegla" type="button" [disabled]="!tienePermisosEscritura" pButton icon="ui-icon-add" (click)="mostrarModalRol()"
				 i18n-label label="Agregar Rol"></button>
			</div>
			<div *ngIf="rolesVacio==true">
				<div class="ui-g-12 ui-md-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay roles asociados a este usuario</label>
					</div>
				</div>
				<!--<p-messages [value]="[{severity:'info', summary:'', detail:'Aún no hay roles asociados a este usuario'}]"></p-messages>-->
			</div>
			<div class="ui-g-12" *ngIf="!usuario||!rolesAsociados">
				<div class="ui-g-5"></div>
				<div class="ui-g-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
				<div class="ui-g-5"></div>
			</div>

			<div class="ui-g-12" *ngIf="rolesAsociados && rolesAsociados.length>0">
				<p-dataList [value]="rolesAsociados" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)"
				 [totalRecords]="totalRows">
					<p-header i18n>
						Roles
					</p-header>
					<ng-template let-rol pTemplate="item">
						<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
							<div class="ui-grid-row">
								<div class="ui-grid-col-11">
									<div class="ui-grid ui-grid-responsive ui-fluid">
										<div class="ui-grid-row">
											<div class="ui-grid-col-2">
												<ng-container i18n>Nombre: </ng-container>
											</div>
											<div class="ui-grid-col-10"> {{rol.nombre}}</div>
										</div>
										<div class="ui-grid-row">
											<div class="ui-grid-col-2">
												<ng-container i18n>Descripción:</ng-container>
											</div>
											<div class="ui-grid-col-10"> {{rol.descripcion}}</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-1">
									<div class="ui-grid-row">
										<button type="button" [disabled]="!tienePermisosEscritura" pButton class="pull-right" icon="ui-icon-delete" (click)="mostrarModalEliminarRol(rol) "></button>
										<button type="button" pButton class="pull-right" style="margin-right:20px" icon="ui-icon-edit" (click)="gotoDetalleRol(rol)"></button>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="displayRoles">
			<!--<div class="ui-g-12">
				<h2 class="input-spacing" i18n>Seleccione un rol para insertar</h2>
			</div>-->
			<div class="ui-g-12 ui-md-8">
				<p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="cargarRoles()" (onRemove)="cargarRoles()"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<div class="ui-g-12 ui-md-2">
				<button pButton i18n-label label="Buscar" icon="ui-icon-search" (click)="cargarRoles()"></button>
			</div>
			<div class="ui-g-12 ui-md-2">
				<button pButton i18n-label label="Volver a roles" icon="ui-icon-arrow-back" (click)="displayRoles=false"></button>
			</div>
			<div class="ui-g-12" *ngIf="!roles">
				<div class="ui-g-5"></div>
				<div class="ui-g-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
				<div class="ui-g-5"></div>
			</div>
			<div class="ui-g-12" *ngIf="roles&&roles.length==0">
				<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>No hay roles disponibles o que coincidan con el término de búsqueda</label>
					</div>
				</div>
				<!--<p-messages [value]="[{severity:'info', summary:'', detail:'No hay roles disponibles, o que coincidan con el término de búsqueda'}]"></p-messages>-->
			</div>
		
			<p-dataList class="ui-g-12" *ngIf="roles&&roles.length>0" [value]="roles" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadDataRoles($event)" [totalRecords]="totalRowsRoles">
				<p-header i18n>
					Roles
				</p-header>
				<ng-template let-rol pTemplate="item">
					<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
						<div class="ui-grid-row">
							<div class="ui-grid-col-12">
								<div class="ui-grid ui-grid-responsive ui-fluid">
									<div class="ui-grid-row">
										<div class="ui-grid-col-2">
											<ng-container i18n>Nombre: </ng-container>
										</div>
										<div class="ui-grid-col-10"> {{rol.nombre}}</div>
									</div>
									<div class="ui-grid-row">
										<div class="ui-grid-col-2">
											<ng-container i18n>Descripción: </ng-container>
										</div>
										<div class="ui-grid-col-10">{{rol.descripcion}}</div>
									</div>
								</div>
							</div>
							<div class="ui-grid-col-2">
								<div class="ui-g-12">
									<button pButton [disabled]="!tienePermisosEscritura" i18n-label label="Agregar" icon="ui-icon-add" (click)="agregarRol(rol)"></button>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataList>
		</div>
	</div>
</div>


<p-dialog i18n-header header="Confirmación" [(visible)]="displayConfirm" showEffect="fade" [modal]="true" minWidth="400"
 minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea remover la asignación de este rol?</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Cerrar" (click)="displayConfirm=false"></button>
        <button type="button" pButton i18n-label label="Ok" [disabled]="!tienePermisosEscritura" (click)="confirmEliminarRol()"></button>
    </p-footer>
</p-dialog>