<div class="ui-g ui-fluid card">
	<div class="ui-g-12 ui-md-12">
		<div class="heading-detalle">
			<ng-container i18n>Usuarios</ng-container>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12">
		<div class="ui-g-8 ui-md-8">
			<p-chips i18n-placeholder placeholder="Búsqueda..."  [(ngModel)]="terminosBusqueda" (onAdd)="buscarUsuarios()" (onRemove)="buscarUsuarios()"></p-chips>
            <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			<!--<input type="text" pInputText i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminoBusqueda" >-->
		</div>
		<div class="ui-g-2 ui-md-2">
			<button pButton type="button" i18n-label label="Buscar" icon="ui-icon-search" (click)="busquedaAvanzada = !busquedaAvanzada"></button>
		</div>
		<div class="ui-g-2 ui-md-2">
			<button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" [routerLink]="'/usuarios/insertarUsuario'" *ngIf="tienePermisosEscritura"></button>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="busquedaAvanzada">
			<p-fieldset i18n-legend legend="Estados" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="B" i18n-label label="Activos" [(ngModel)]="preferenciasBusqueda" (onChange)="buscarUsuarios()"></p-checkbox>
					</div>
					<div class="ui-g-2 ui-md-3">
						<p-checkbox name="group1" value="I" i18n-label label="Inactivos" [(ngModel)]="preferenciasBusqueda" (onChange)="buscarUsuarios()"></p-checkbox>
					</div>
				</div>
			</p-fieldset>
		</div>
		<div class="ui-g-12 ui-lg-12" *ngIf="usuarioList&&usuarioList.length<1">
			<div style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No hay notificaciones disponibles</label>
				</div>
			</div>
			<!--<p-messages [value]="[{severity:'info', summary:'', detail:'No hay notificaciones disponibles'}]"></p-messages>-->
		</div>
		<div class="ui-g-12" *ngIf="!usuarioList">
			<div class="ui-g-5"></div>
			<div class="ui-g-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
			<div class="ui-g-5"></div>
		</div>
		<p-dataList *ngIf="usuarioList&&usuarioList.length>0" class="ui-g-12 ui-md-12" [value]="usuarioList" [paginator]="true" [rows]="9"
		 [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="cantRegistrosTotal">
			<p-header i18n>
				Lista de usuarios
			</p-header>
			<ng-template let-usuario pTemplate="item">
				<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
							<img [src]='usuario.avatar' class="img-lists img-border" />
						</div>
						<div class="ui-grid-col-8">
							<div class="ui-grid ui-grid-responsive ui-fluid">
								<div class="ui-grid-row input-spacing">
									<div class="ui-grid-col-3"><strong i18n>Nombre:</strong> </div>
									<div class="ui-grid-col-9">{{usuario.nombrePublico}}</div>
								</div>
								<div class="ui-grid-row input-spacing">
									<div class="ui-grid-col-3"><strong i18n>Nombre de usuario:</strong> </div>
									<div class="ui-grid-col-9">{{usuario.nombreUsuario}}</div>
								</div>
								<div class="ui-grid-row input-spacing">
									<div class="ui-grid-col-3"><strong i18n>Correo:</strong> </div>
									<div class="ui-grid-col-9">{{usuario.correo}}</div>
								</div>
								<div class="ui-grid-row input-spacing">
									<div class="ui-grid-col-3"><strong i18n>Estado:</strong> </div>
									<div class="ui-grid-col-9">{{usuario.indEstado|estadoUsuario}}</div>
								</div>
							</div>
						</div>
						<div class="ui-grid-col-2">
							<button pButton class="pull-right" icon="ui-icon-edit" iconPos="right" (click)="gotoDetail(usuario)"></button>
							<button pButton class="pull-right" icon="ui-icon-archive" iconPos="right" (click)="usuarioEliminar = usuario; displayModalConfirm= true" *ngIf="usuario.indEstado == 'B'"></button>
						</div>
					</div>
				</div>
			</ng-template>
		</p-dataList>
	</div>
</div>

<p-dialog i18n-header header="Confirmación" modal="true" [(visible)]="displayModalConfirm">
	<ng-container i18n>¿Está seguro que desea inactivar el usuario?</ng-container>
	<p-footer>
		<button type="button" pButton icon="fa-close" (click)="displayModalConfirm=false" i18n-label label="Cerrar"></button>
		<button type="button" pButton icon="fa-check" (click)="displayModalConfirm=false" i18n-label label="Inactivar" (click)="eliminarUsuario()"></button>
	</p-footer>
</p-dialog>