<div class="ui-grid ui-grid-responsive" *ngIf="selectionMode=='U'">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <ng-container i18n>
                Miembro:
            </ng-container>
        </div>
        <div class="ui-grid-col-8" style="padding-right: 10px;">
            <input type="text" pInputText [value]="innerValue?.nombre" readonly/>
        </div>
        <div class="ui-grid-col-2" style="padding-left: 7px; padding-right: 7px;">
            <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialog=true"></button>
        </div>
    </div>
</div>
<div class="ui-grid ui-grid-responsive" *ngIf="selectionMode=='M'">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <ng-container i18n>
                Miembro:
            </ng-container>
        </div>
        <div class="ui-grid-col-8">
            <input type="text" pInputText [value]="innerValue?.nombre" readonly/>
        </div>
        <div class="ui-grid-col-2">
            <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialog=true"></button>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialog" [width]="800">
    <p-chips [(ngModel)]="terminosBusqueda"></p-chips>
    <p-dataTable [value]="listaMiembros" [rows]="4" [paginator]="true" [totalRecords]="cantTotalRegistros" [lazy]="true" (onLazyLoad)="loadLazy($event)">
        <p-column field="imagenArte" i18n-header header="Imagen">
            <ng-template let-col let-miembro="rowData" pTemplate="body">
                <img class="img-lists" src="{{miembro.imagenArte}}">
            </ng-template>
        </p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="indTipoMiembro" i18n-header header="Tipo">
            <ng-template let-col let-miembro="rowData" pTemplate="body">
                {{miembro.indTipoMiembro}}
            </ng-template>
        </p-column>
        <p-column styleClass="col-button">
            <ng-template pTemplate="header">
                <ng-container i18n>
                    Miembros:
                </ng-container>
            </ng-template>
            <ng-template let-miembro="rowData" pTemplate="body">
                <button *ngIf="selectionMode=='U'" type="button" pButton (click)="seleccionarMiembro(miembro)" i18n-label label="Seleccionar" icon="fa-check"></button>
                <button *ngIf="selectionMode=='M'" type="button" pButton (click)="seleccionarMiembros()" i18n-label label="Seleccionar" icon="fa-search"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>