<div class="ui-grid ui-grid-responsive" *ngIf="selectionMode=='U'">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <ng-container i18n>
                <strong>Premio:</strong>
            </ng-container>
        </div>
        <div class="ui-grid-col-8" style="padding-right: 10px;">
            <input type="text" pInputText [value]="innerValue?.nombre" style="width:100%" readonly/>
        </div>
        <div class="ui-grid-col-2" style="padding-left: 7px; padding-right: 7px;">
            <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialog=true"></button>
        </div>
    </div>
</div>
<div class="ui-grid ui-grid-responsive" *ngIf="selectionMode=='M'">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <ng-container i18n>
                <strong>Premio:</strong>
            </ng-container>
        </div>
        <div class="ui-grid-col-8">
            <input type="text" pInputText [value]="innerValue?.nombre" style="width:100%" readonly/>
        </div>
        <div class="ui-grid-col-2">
            <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialog=true"></button>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialog" [width]="800">
    <!--<p-chips [(ngModel)]="terminosBusqueda"></p-chips>-->
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="getListaPremios()" (onRemove)="getListaPremios()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaPremios" [rows]="4" [paginator]="true" [totalRecords]="cantTotalRegistros" [lazy]="true" (onLazyLoad)="loadLazy($event)">
        <p-column field="imagenArte" i18n-header header="Imagen">
            <ng-template let-col let-premio="rowData" pTemplate="body">
                <img class="img-lists" src="{{premio.imagenArte}}" width="25%" height="25%">
            </ng-template>
        </p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="indTipoPremio" i18n-header header="Tipo">
            <ng-template let-col let-premio="rowData" pTemplate="body">
                {{premio.indTipoPremio | tipoPremio}}
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
           <ng-template let-premio="rowData" pTemplate="body">
                <button *ngIf="selectionMode=='U'" type="button" pButton (click)="seleccionarPremio(premio)" icon="fa-check"></button>
                <button *ngIf="selectionMode=='M'" type="button" pButton (click)="seleccionarPremios()" icon="fa-search"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>