<div class="ui-fluid">
	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-10">
						<div class="heading-detalle">
							<ng-container i18n>Métrica</ng-container>
						</div>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-8">
						<!--Se realizan búsquedas según criterios-->
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaMetricas()" (onRemove)="busquedaMetricas()" i18n-placeholder placeholder="Búsqueda..."></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<div class="ui-g-12 ui-md-2 ui-lg-2">
						<button pButton type="button" (click)="avanzada = !avanzada" i18n-label label="Búsqueda avanzada"></button>
					</div>
					<!--Butón para agregar un nuevo atributo-->
					<div class="ui-g-12 ui-md-2" *ngIf="escritura">
						<button pButton type="button" i18n-label label="Agregar" class="green-btn flat" (click)="nuevaMetrica()" icon="ui-icon-add"></button>
					</div>
				</div>
				<!--Busquedas avanzadas-->
				<div *ngIf="avanzada" class="ui-g-12 ui-md-12">
					<p-fieldset legend="Estados" class="ui-g-12 ui-md-12">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-9">
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group1" value="P" i18n-label label="Publicada" [(ngModel)]="estadoMetrica" (onChange)="busquedaMetricas()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group1" value="A" i18n-label label="Archivada" [(ngModel)]="estadoMetrica" (onChange)="busquedaMetricas()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group1" value="B" i18n-label label="Borrador" [(ngModel)]="estadoMetrica" (onChange)="busquedaMetricas()"></p-checkbox>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>
		</div>

		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					<div class="ui-g-5 ui-md-5"></div>
					<div class="ui-g-2 ui-md-2">
						<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
					</div>
				</div>
			</div>
			<div class="ui-grid-12" *ngIf="!cargandoDatos">
				<!--Se muestra una lista con las métricas disponibles-->
				<p-dataList [value]="listaMetricas" [paginator]="true" [rows]="6" *ngIf="!listaVacia">
					<p-header i18n>
						Lista de Métricas
					</p-header>
					<ng-template let-metrica pTemplate="item">
						<div class="listBorder clearfix">
							<button pButton type="button" class="listButton" (click)="metricaSeleccionada(metrica.idMetrica)" icon="ui-icon-edit"></button>
							<button pButton type="button" class="listButton" (click)="confirmar(metrica.idMetrica)" icon="ui-icon-delete" *ngIf="metrica.indEstado != 'A' && escritura"></button>
							<div class="ui-g-11 ui-md-10 ui-lg-10" id="margin-list">
								<div class="ui-grid-row">
									<div class="ui-g-4 ui-md-2 element-list">
										<p i18n><strong> Nombre: </strong></p>
									</div>
									<div class="ui-g-8 ui-md-4 element-list">
										<p> {{metrica.nombre}}</p>
									</div>
									<div class="ui-g-4 ui-md-2 element-list">
										<p i18n><strong> Estado: </strong> </p>
									</div>
									<div class="ui-g-8 ui-md-4 element-list">
										<p> {{metrica.indEstado | estadoElemento}}</p>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-g-4 ui-md-2 element-list">
										<p i18n><strong> Tipo de medida: </strong> </p>
									</div>
									<div class="ui-g-8 ui-md-4 element-list">
										<p> {{metrica.medida | metricaTipoMedida}}</p>
									</div>
									<div class="ui-g-4 ui-md-2 element-list">
										<p i18n><strong>Días de vencimiento: </strong> </p>
									</div>
									<div class="ui-g-8 ui-md-4 element-list">
										<p> {{metrica.diasVencimiento}} </p>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
				<!--Se muestra este mensaje si no existen métricas-->
				<div *ngIf="listaVacia" class="alert alert-info">
					<span i18n>No existen métricas disponibles.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Remover" (click)="removerMetrica()" icon="ui-icon-trash" *ngIf="escritura"></button>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
	</p-footer>
</p-dialog>