<div class="ui-g ui-fluid">
	<div class=" ui-g-12">
		<div class="card card-w-title ui-g">
			<div class="ui-g-12"  style="text-align: center">
				<div class="heading-detalle input-spacing">
					<ng-container i18n>Dashboard de Métricas</ng-container>
				</div>
			</div>
			<!--DASHBOARD general de Métricas-->
			<div class="ui-g-12" style="margin-top: 25px;"></div>
			<div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No tiene autorización para leer la información de métricas.</label>
				</div>
			</div>
			<!-- Información de la cantidad acumulada, redimida y vencida de las métricas -->
			<div class="ui-g-12" *ngIf="!cargandoDatos && lectura">       
				<div class="ui-g-12 ui-md-4">
					<div class="ui-g-12 ">
						<div class="ui-g card cbx cbx-1" style="cursor: default;">
							<div class="ui-g-4">
								<i class="material-icons">group</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Cantidad acumulada</span>
								<span class="count">{{cantAcumulada}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-4">
					<div class="ui-g-12 ">
						<div class="ui-g card cbx cbx-2" style="cursor: default;">
							<div class="ui-g-4">
								<i class="material-icons">group</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Cantidad Redimida</span>
								<span class="count">{{cantRedimida}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-4">
					<div class="ui-g-12 ">
						<div class="ui-g card cbx cbx-3" style="cursor: default;">
							<div class="ui-g-4">
								<i class="material-icons">group</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Cantidad Vencida</span>
								<span class="count">{{cantVencida}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Charts que muestra la cantidad acumulada, vencida y redimida de las metricas-->
		<div *ngIf="!cargandoDatos && lectura">
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g ui-fluid card" style="margin-bottom: 0px;padding-left: 0px;">
					<div class="ui-g-12" style="text-align: center">
						<h2 i18n>Cantidad de métrica acumulada</h2>
					</div>
					<div class="ui-g-12">
						<p-chart type="line" [options]="options" [data]="chartCantAcumulada"></p-chart>
					</div>
				</div>
			</div>
			<div class=" ui-g-12  ui-md-12">
				<div class="ui-g ui-fluid card" style="margin-bottom: 0px; padding-right: 0px;">
					<div class="ui-g-12" style="text-align: center">
						<h2 i18n>Cantidad de métrica redimida</h2>
					</div>
					<div class="ui-g-12">
						<p-chart type="line" [options]="options" [data]="chartCantRedimida" (onDataSelect)="selectData($event)"></p-chart>
					</div>
				</div>
			</div>
			<div class=" ui-g-12  ui-md-12">
				<div class="ui-g ui-fluid card" style="margin-bottom: 0px;padding-left: 0px;">
					<div class="ui-g-12" style="text-align: center">
						<h2 i18n>Cantidad de métrica vencida</h2>
					</div>
					<div class="ui-g-12">
						<p-chart type="line" [options]="options" [data]="chartCantVencida" (onDataSelect)="selectData($event)"></p-chart>
					</div>
				</div>
			</div>	
		</div>	
		<div class="ui-g ui-fluid" *ngIf="cargandoDatos">
			<div class="ui-g-12 ui-md-5"></div>
			<div class="ui-g-12 ui-md-2">
				<img src="/resources/img/loading_icon.gif" />
			</div>
			<div class="ui-g-12 ui-md-5"></div>
		</div>
	</div>
</div>