<div class="card ui-g ui-fluid">
	<div class="ui-g-12 ui-md-5" *ngIf="!chartVistasData">
	</div>
	<div class="ui-g-12 ui-md-2" *ngIf="!chartVistasData">
		<img src="/resources/img/loading_icon.gif" />
	</div>
	<div class="ui-g-12 ui-md-5" *ngIf="!chartVistasData">
	</div>

	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="chartVistasData">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n>Estadísticas de la métrica</h2>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-3">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Total Acumulada</span>
					<span class="colorbox-count">{{statsData.cantAcumulada}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-2">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Total Redimida</span>
					<span class="colorbox-count">{{statsData.cantRedimida}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-1">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Total Vencida</span>
					<span class="colorbox-count">{{statsData?.cantVencida}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n>Balances</h2>
		</div>
		<div class="ui-g-12 ui-md-12">
			<p-chart type="line" [data]="chartVistasData" (onDataSelect)="selectData($event)"></p-chart>
		</div>
	</div>
</div>