<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <!--Botón para regresar-->
                <div class="ui-g-3 ui-md-1">
                    <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
                </div>
                <div class="ui-g-12 ui-md-8">
                    <div class="ui-g-12 ui-md-12">
                        <div class="heading-detalle">{{metrica.nombre}}</div>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <div class="sub-heading-detalle"><ng-container i18n>Métrica</ng-container></div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                        <div class="ui-g-5 ui-md-5"></div>
                        <div class="ui-g-2 ui-md-2">
                            <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                        </div>
                    </div>
                    <!--se muestra el estado de la metrica-->
                    <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
                        <div class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado}" (click)="op2.toggle($event)">
                            <div class="ui-g-4">
                                <i class="material-icons">edit</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Estado </span>
                                <span class="count">{{metrica.indEstado | estadoElemento}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <p-overlayPanel #op2 >
                    <!--Según el estado de la métrica, así serán las opciones e información que se muestre-->
                    <div class="ui-g-12 ui-md-12">
                        <div *ngIf="metrica.indEstado == 'B' && escritura" class="ui-g-12 ui-md-12" >
                            <p i18n>La métrica se encuentra en estado Borrador, se puede publicar o eliminar permanentemente</p>
                            <button pButton type="button" class="orange-btn" i18n-label label="Publicar" icon="ui-icon-check" (click)="publicarMetrica(); op2.hide()"></button>
                        </div>
                        <div *ngIf="metrica.indEstado == 'B' && escritura" class="ui-g-12 ui-md-12">
                            <button pButton type="button" class="red-btn" i18n-label label="Eliminar" icon="ui-icon-trash" (click)="metricaAccion('eliminar'); op2.hide()"></button>
                        </div>
                        <div *ngIf="metrica.indEstado == 'P' && escritura" class="ui-g-12 ui-md-12">
                            <p i18n>La métrica se encuentra <strong>publicada</strong>. Solo puede ser archivada</p>
                            <button pButton type="button" class="red-btn" i18n-label label="Archivar" icon="ui-icon-archive" (click)="metricaAccion('archivar'); op2.hide()"></button>
                        </div>
                        <div *ngIf="metrica.indEstado == 'A'" class="ui-g-12 ui-md-12">
                            <label i18n>No se pueden realizar cambios, la métrica esta archivada.</label>
                        </div>
                        <div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: medium; color: white;">
                            <div class="ui-g-12 ui-md-2 ui-lg-2">
                                <i class="material-icons">information</i>
                            </div>
                            <div class="ui-g-12 ui-md-7 ui-lg-7">
                                <label i18n>No cuenta con permisos de escritura sobre la métrica</label>
                            </div>
                        </div>
                        <div class="ui-g-12"></div>
                    </div>
                </p-overlayPanel>
            </div>
        </div>
        <div class="ui-toolbar">
            <div class="ui-toolbar-group">
                <div class="ui-g">
                    <div class="ui-g-6 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" routerLinkActive="ruta-activada" routerLink="general"></button>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-brush" i18n-label label="Actividad" routerLinkActive="ruta-activada" routerLink="actividad"></button>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-group" i18n-label label="Dashboard" routerLinkActive="ruta-activada" routerLink="dashboard"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-12">
			<div class="card card-w-title">
                <router-outlet></router-outlet>
			</div>
        </div>
    </div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerMetrica()" icon="ui-icon-trash" *ngIf="metrica.indEstado == 'B' && escritura"></button>
        <button pButton type="button" i18n-label label="Archivar" (click)="removerMetrica()" icon="ui-icon-archive" *ngIf="metrica.indEstado == 'P' && escritura"></button>
	</p-footer>
</p-dialog>