<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12 ui-md-12" *ngIf="!cargandoDatos">
		<!--Formulario para la actualización de las métricas-->
		<form role="form" [formGroup]="formMetrica">
			<div class="ui-g form-group">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h2 i18n>Detalle de métrica</h2>
					<!-- Nombre de la metrica -->
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-12 ui-md-5 ui-lg-3">
							<label i18n><strong>Nombre:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8 ui-lg-7">
							<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="metrica.nombre" formControlName="nombre"
							(blur)="establecerNombres();">
						</div>
					</div>
					<!-- Nombre interno de la metrica -->
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-12 ui-md-5 ui-lg-3">
							<label i18n><strong>Nombre interno:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8 ui-lg-7">
							<input type="text" pInputText id="txtNombreInterno" name="txtNombreInterno" maxlength="50" [(ngModel)]="metrica.nombreInterno"
							formControlName="nombreInterno" pTooltip="Nombre de la métrica" tooltipPosition="top" (blur)="validarNombre()">
						</div>
					</div>
					<!-- Tipo de Medida de la metrica -->
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-12 ui-md-5 ui-lg-3">
							<label i18n><strong>Medida de la métrica:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8 ui-lg-7">
							<label>{{ metrica.medida | metricaTipoMedida }}</label>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-12 ui-md-5 ui-lg-3">
							<label for="ddGrupos" i18n><strong>Grupo de tier asociado:</strong></label>
						</div>
						<div *ngIf="!listaVacia" class="ui-g-12 ui-md-8 ui-lg-7">
							<p-dropdown [options]="grupoItem" id="ddGrupos" name="ddGrupos" [(ngModel)]="grupoNivel" autoWidth pTooltip="Grupos de niveles"
							tooltipPosition="top" formControlName="grupo"></p-dropdown>
						</div>
						<div *ngIf="listaVacia" class="ui-g-12 ui-md-8 ui-lg-7">
							<label i18n>Aún no existen grupos de Tiers creados.</label>
						</div>
					</div>
					<!-- Expiracion de la metrica [Si/No]-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5 ui-lg-3">
							<label i18n><strong>¿La métrica tendrá expiración?</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8 ui-lg-7">
							<div class="ui-g-6 ui-md-6 ui-lg-6">
								<p-radioButton name="radioExpiracion" id="rdExpiraTrue" [value]="true" [(ngModel)]="metrica.indExpiracion" formControlName="radioExpiracion"
								i18n-label label="Si"></p-radioButton>
							</div>
							<div class="ui-g-6 ui-md-6 ui-lg-6">
								<p-radioButton name="radioExpiracion" id="rdExpiraFalse" [value]="false" [(ngModel)]="metrica.indExpiracion" formControlName="radioExpiracion"
								i18n-label label="No"></p-radioButton>
							</div>
						</div>
						<!-- Cantidad de dias en las que vence la metrica -->
						<div *ngIf="metrica.indExpiracion" class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtVencimiento" i18n><strong>Cantidad de días de vencimiento:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<p-spinner size="30" id="txtVencimiento" name="txtVencimiento" [min]="0" [(ngModel)]="metrica.diasVencimiento" formControlName="diasVencimiento"
								pTooltip="Días de vencimiento" tooltipPosition="top"></p-spinner>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-8"></div>
					<div *ngIf="metrica.indEstado != 'A' && escritura" class="ui-g-12 ui-md-3 ui-lg-2">
						<button pButton type="button" class="green-btn flat" i18n-label label="Guardar" icon="ui-icon-save" (click)="actualizarMetrica()"
						[disabled]="!formMetrica.valid"></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>