<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar al listado de atributos-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<div class="heading-detalle">
						<ng-container i18n>Nueva métrica</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12">
		<div class="card">
			<div class="ui-g">
				<!--Formulario para la inserción de métricas-->
				<form [formGroup]="formMetrica" role="form">
					<div class="ui-g form-group">
						<h2 i18n>Datos de la metrica</h2>
						<!-- Nombre de la metrica -->
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label i18n><strong>Nombre</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="metrica.nombre" formControlName="nombre"
									pTooltip="Nombre de la métrica" tooltipPosition="top" (blur)="establecerNombres();">
							</div>
						</div>

						<!-- Nombre interno de la metrica -->
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label i18n><strong>Nombre interno:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtNombreInterno" name="txtNombreInterno" maxlength="50" [(ngModel)]="metrica.nombreInterno"
									formControlName="nombreInterno" pTooltip="Nombre de la métrica" tooltipPosition="top" (blur)="validarNombre()">
							</div>
						</div>

						<!-- Tipo de Medida de la metrica -->
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label i18n><strong>Medida de la métrica:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<p-dropdown [options]="tipoMetrica" id="txtMedida" name="txtMedida" [(ngModel)]="metrica.medida" formControlName="medida"
									autoWidth pTooltip="Medida" tooltipPosition="top"></p-dropdown>
							</div>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="ddGrupos" i18n><strong>Grupo de tier asociado:</strong></label>
							</div>
							<div *ngIf="!listaVacia" class="ui-g-12 ui-md-8 ui-lg-7">
								<p-dropdown [options]="grupoItem" id="ddGrupos" name="ddGrupos" [(ngModel)]="grupoNivel" autoWidth pTooltip="Grupos de niveles"
									tooltipPosition="top" formControlName="grupoNivel"></p-dropdown>
							</div>
							<div *ngIf="listaVacia" class="ui-g-12 ui-md-8 ui-lg-7">
								<label i18n>No existen grupos de tiers</label>
							</div>
						</div>
						<!-- Expiracion de la metrica [Si/No]-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label i18n><strong>¿La métrica tendrá expiración?</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<div class="ui-g-6 ui-md-6 ui-lg-6">
									<p-radioButton name="radioExpiracion" id="rdExpiraTrue" [value]="true" [(ngModel)]="metrica.indExpiracion" formControlName="radioExpiracion"
										i18n-label label="Si"></p-radioButton>
								</div>
								<div class="ui-g-6 ui-md-6 ui-lg-6">
									<p-radioButton name="radioExpiracion" id="rdExpiraFalse" [value]="false" [(ngModel)]="metrica.indExpiracion" formControlName="radioExpiracion"
										i18n-label label="No"></p-radioButton>
								</div>
							</div>

							<!-- Cantidad de dias en las que vence la metrica -->
							<div *ngIf="metrica.indExpiracion">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtVencimiento" i18n><strong>Cantidad de días de vencimiento:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-7">
									<p-spinner size="30" id="txtVencimiento" name="txtVencimiento" [min]="0" [(ngModel)]="vencimiento" formControlName="diasVencimiento"
										pTooltip="Días de vencimiento" tooltipPosition="top"></p-spinner>
								</div>
							</div>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6"></div>
						<!--Botón para regresar-->
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<button pButton type="button" class="red-btn flat" i18n-label label="Cancelar" (click)="goBack()" icon="ui-icon-close"></button>
						</div>
						<!--Botones del formulario-->
						<div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf = "escritura">
							<!--Se activa hasta que el formMetrica sea valido, inserta la metrica-->
							<button pButton type="button" class="green-btn flat" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formMetrica.valid" (click)="agregarMetrica()"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
