<div class="card ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4">
            <h3 i18n class="sub-heading-detalle">Historial de Actividad</h3>
        </div>
        <div class="ui-g-12 ui-md-4">

        </div>
        <div class="ui-g-12 ui-md-4">
            <label i18n><strong>Períodos:</strong></label>
            <p-dropdown [options]="periodos" [(ngModel)]="indPeriodo" (onChange)="obtenerActividad()"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
        <!--Tabla con las actividades en métrica, se pueden exportar los datos a csv desde aquí-->
        <p-dataTable #dt exportFilename="{{metrica.idMetrica}}_actividad" [value]="listaActividades" [rows]="20" [paginator]="true">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g-10"></div>
                    <div class="ui-g-2">
                        <button type="button" pButton icon="fa-file-o" i18n-label  iconPos="left" label="Exportar a CSV" (click)="dt.exportCSV()" style="float:left"></button>
                    </div>
                </div>
            </p-header>
            <p-column field="nombreMiembro" i18n-header header="Miembro"  sortable="true"></p-column>
            
            <p-column field="indTipo" i18n-header  header="Tipo" sortable="true" >
                <ng-template let-evento="rowData" pTemplate="body">
                    <!--  VIO_PROMOCION("G"), MARCO_PROMOCION("H"),-->
                <div style="text-align:center">
                    <span i18n *ngIf="evento.indTipo=='I'">Ganó Métrica</span>
                    
                </div>
                </ng-template>
            </p-column>
            <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                <ng-template let-evento="rowData" pTemplate="body">
                    <div style="text-align:center">
                    <span>{{evento.fecha|date:'short'}}</span>
                    </div>
                </ng-template>
            </p-column>
            <p-column header="" *ngIf="lecturaMiembro">
                <ng-template let-evento="rowData" pTemplate="body">
                     <div style="text-align:center">
                    <button  style="width:auto" pButton (click)="gotoDetail(evento.idMiembro)" i18n-label label="Ir a Miembro"></button>
                     </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>