<div class="ui-fluid">
	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar al listado de atributos-->
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-7">
					<div class="ui-g-12 ui-md-12">
						<div class="heading-detalle">
							{{atributo.nombre}}
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Atributo Dinámico</ng-container>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
					<!--Muestra el estado del atributo-->
					<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
						<div class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-3': archivado, 'cbx-2': borrador }" (click)="op2.toggle($event)">
							<div class="ui-g-4">
								<i class="material-icons">edit</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado </span>
								<span class="count">{{atributo.indEstado | estadoElemento}}</span>
							</div>
						</div>
					</div>
					<!--Muestra información según el estado del atributo-->
					<p-overlayPanel #op2>
						<div class="ui-g-12 ui-md-12">
							<div *ngIf="atributo.indEstado == 'D' && escritura" class="ui-g-12 ui-md-12" style="float: right;">
								<button pButton type="button" class="orange-btn" i18n-label label="Publicar" icon="ui-icon-check" (click)="publicarAtributo(); op2.hide()"></button>
							</div>
							<div *ngIf="atributo.indEstado == 'P' && escritura" class="ui-g-12 ui-md-12">
								<button pButton type="button" i18n-label label="Archivar" class="red-btn" (click)="eliminar = true; op2.hide()" icon="ui-icon-archive"></button>
							</div>
							<div *ngIf="atributo.indEstado == 'D' && escritura" class="ui-g-12 ui-md-12">
								<button pButton type="button" i18n-label label="Eliminar" class="red-btn" (click)="eliminar = true; op2.hide()" icon="ui-icon-trash"></button>
							</div>
							<div *ngIf="atributo.indEstado == 'A'" class="ui-g-12 ui-md-12">
								<ng-container i18n>No se pueden realizar cambios, el atributo esta archivado.</ng-container>
							</div>
						</div>
						<div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: medium; color: white;">
							<div class="ui-g-12 ui-md-2 ui-lg-2">
								<i class="material-icons">information</i>
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-7">
								<label i18n>No cuenta con permisos de escritura sobre este atributo</label>
							</div>
						</div>
						<div class="clearfix"></div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<!--Formulario con la información del atributo-->
			<form role="form" [formGroup]="formAtributo">

				<div class="ui-g">
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-6">
							<h1 i18n>Datos del Atributo</h1>
						</div>
					</div>

					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>

					<div class="ui-g-12 ui-md-12" *ngIf="!cargandoDatos">
						<div class="ui-g form-group">
							<!-- Nombre del atributo -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtNombre" i18n><strong>Nombre del atributo</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="atributo.nombre" formControlName="nombre"
										(blur)="establecerNombre();">
								</div>
							</div>
							<!-- Nombre interno -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="nombreInterno" i18n><strong>Nombre interno</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText id="nombreInterno" name="nombreInterno" maxlength="50" [(ngModel)]="atributo.nombreInterno"
										formControlName="nombreInterno">
								</div>
							</div>
							<!-- Descripción -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtNombre" i18n><strong>Descripción</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="100" [(ngModel)]="atributo.descripcion"
										formControlName="descripcion">
								</div>
							</div>

							<!--Tipo de dato-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label i18n><strong>Tipo de dato:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6 ui-lg-5">
									<label>{{atributo.indTipoDato | tipoDato}}</label>
								</div>
							</div>
							<!-- Valor por defecto -->
							<div class="ui-g-12 ui-md-12" *ngIf="atributo.indTipoDato">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="docIdentificacion" i18n><strong>Valor por defecto</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<!--Tipo numérico-->
									<div *ngIf="atributo.indTipoDato == 'N'">

										<p-spinner size="30" id="txtNumerico" name="txtNumerico" [min]="0" [(ngModel)]="atributo.valorDefecto" formControlName="valorDefecto"
											pTooltip="Valor por defecto numérico" tooltipPosition="top"></p-spinner>
									</div>

									<!--Tipo texto-->
									<div *ngIf="atributo.indTipoDato == 'T'">
										<input type="text" pInputText [(ngModel)]="atributo.valorDefecto" id="txtTexto" name="txtTexto" formControlName="valorDefecto"
											pTooltip="Valor por defecto tipo texto" tooltipPosition="top">
									</div>

									<!--Tipo booleano-->
									<div *ngIf="atributo.indTipoDato == 'B'">
										<div class="ui-g-12 ui-md-7 ui-lg-6">
											<p-dropdown [options]="boolItem" id="ddboolItem" name="ddboolItem" [(ngModel)]="atributo.valorDefecto" formControlName="valorDefecto"
												[autoWidth]="false"></p-dropdown>
										</div>
									</div>

									<!--Tipo fecha-->
									<div *ngIf="atributo.indTipoDato == 'F'">
										<p-calendar id="txtFecDefecto" name="txtFecDefecto" showAnim="slideDown" [(ngModel)]="fecha" formControlName="valorDefecto"
										 dateFormat="dd/mm/yy" [readonlyInput]="true" (onSelect)="obtenerFecha($event)"></p-calendar>
									</div>
								</div>
							</div>

							<!--Índice de visibilidad para aplicación móvil-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label i18n><strong>¿Será visible para la aplicación móvil?</strong></label>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioVisibilidad" id="radioTrue" [value]="true" [(ngModel)]="atributo.indVisible" formControlName="indVisible"
										i18n-label label="Si"></p-radioButton>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioVisibilidad" id="radioFalse" [value]="false" [(ngModel)]="atributo.indVisible" formControlName="indVisible"
										i18n-label label="No"></p-radioButton>
								</div>
							</div>

							<!--Indicador de requerido-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label i18n><strong>¿El atributo será requerido?</strong></label>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioRequerido" id="radioTrue" [value]="true" [(ngModel)]="atributo.indRequerido" formControlName="indRequerido"
										i18n-label label="Si"></p-radioButton>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioRequerido" id="radioFalse" [value]="false" [(ngModel)]="atributo.indRequerido" formControlName="indRequerido"
										i18n-label label="No"></p-radioButton>
								</div>
							</div>
						</div>
						<div class="ui-g-12 ui-md-7"></div>
						<!--Se muestra si el atributo no esta archivado y tiene permisos de escritura-->
						<div *ngIf="atributo.indEstado != 'A' && escritura" class="ui-g-12 ui-md-2">
							<!--Disabled cuando el form no es válido-->
							<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" [disabled]="!formAtributo.valid" class="green-btn flat"
								(click)="actualizarAtributo()"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerAtributo()" icon="ui-icon-trash" *ngIf="escritura"></button>
	</p-footer>
</p-dialog>