<div class="ui-fluid">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-10">
					<h1 i18n>Atributos Dinámicos</h1>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-8 ui-lg-8">
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaAtributos()" (onRemove)="busquedaAtributos()" placeholder="Búsqueda"
							i18n-placeholder></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<div class="ui-g-12 ui-md-2 ui-lg-2">
						<button type="button" (click)="avanzada = !avanzada;" i18n-label label="Búsqueda avanzada" pButton></button>
					</div>
					<!--Butón para agregar un nuevo atributo-->
					<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
						<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="nuevoAtributo()" icon="ui-icon-add"></button>
					</div>
				</div>
				<!--Busquedas avanzadas-->
				<div class="ui-g-12 ui-md-12" *ngIf="avanzada">
					<p-fieldset legend="Tipo de premio" class="ui-g-12 ui-md-6">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group2" value="B" i18n-label label="Booleano" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group2" value="N" i18n-label label="Numéricos" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group2" value="F" i18n-label label="Fecha" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group2" value="T" i18n-label label="Texto" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
						</div>
					</p-fieldset>
					<p-fieldset legend="Estados" class="ui-g-12 ui-md-6">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group1" value="P" i18n-label label="Publicado" [(ngModel)]="estadoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group1" value="A" i18n-label label="Archivado" [(ngModel)]="estadoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-6">
								<p-checkbox name="group1" value="D" i18n-label label="Borrador" [(ngModel)]="estadoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>
		</div>

		<!--Se muestra la lista con atributos-->
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					<div class="ui-g-5 ui-md-5"></div>
					<div class="ui-g-2 ui-md-2">
						<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
					</div>
				</div>
			</div>
			<div class="ui-grid-12" *ngIf="!cargandoDatos">
				<div *ngIf="!listaVacia">
					<p-dataList [value]="listaAtributos" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
						<p-header i18n>
							Atributos Dinámicos
						</p-header>
						<ng-template let-atributo pTemplate="item">
							<div class="listBorder clearfix">
								<button pButton type="button" class="listButton" icon="ui-icon-edit" (click)="atributoSeleccionado(atributo.idAtributo)"></button>
								<button pButton type="button" class="listButton" *ngIf="escritura && atributo.indEstado == 'D'" icon="ui-icon-delete" (click)="confirmar(atributo)"
									[disabled]="atributo.indEstado =='A'"></button>
								<button pButton type="button" class="listButton" *ngIf="escritura && atributo.indEstado == 'P'" icon="ui-icon-archive" (click)="confirmar(atributo)"
									[disabled]="atributo.indEstado =='A'"></button>
								<div class="ui-g-11 ui-md-10 ui-lg-10" id="margin-list">
									<div class="ui-grid-row">
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Nombre:</strong></p>
										</div>
										<div class="ui-g-8 ui-md-5 element-list">
											<p>{{atributo.nombre}}</p>
										</div>
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Estado:</strong></p>
										</div>
										<div class="ui-g-8 ui-md-3 element-list">
											<p>{{atributo.indEstado | estadoElemento}}</p>
										</div>
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Descripción:</strong></p>
										</div>
										<div class="ui-g-8 ui-md-5 element-list">
											<p>{{atributo.descripcion}}</p>
										</div>
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Tipo:</strong></p>
										</div>
										<div class="ui-g-8 ui-md-2 element-list">
											<p>{{atributo.indTipoDato | tipoDato}}</p>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</p-dataList>
				</div>
				<div class="ui-g-12" *ngIf="listaVacia">
					<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
						<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
							<i class="material-icons">information</i>
						</div>
						<div class="ui-g-8 ui-md-7 ui-lg-7">
							<span i18n>No existen atributos disponibles</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="atributo.indEstado == 'D'">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="atributo.indEstado == 'P'">
			<ng-container i18n>¿Confirma que desea archivar este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Remover" *ngIf="atributo.indEstado == 'D' && escritura" (click)="removerAtributo()"
			icon="ui-icon-trash"></button>
		<button pButton type="button" i18n-label label="Archivar" *ngIf="atributo.indEstado == 'P' && escritura" (click)="removerAtributo()"
			icon="ui-icon-archive"></button>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
	</p-footer>
</p-dialog>