<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar al listado de atributos-->
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-9">
					<h1 i18n>Nuevo Atributo Dinámico</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<form role="form" [formGroup]="formAtributo">
				<div class="ui-g">
					<div class="ui-g-12" *ngIf="!escritura">
						<p-messages [value]="[{ summary:'', severity:'info'}]" [closable]="false">
							<ng-container i18n>No cuenta con permisos para agregar un nuevo atributo.</ng-container>
						</p-messages>
					</div>
					<!--Información del atributo-->
					<div class="ui-g-12 ui-md-12">
						<h1 i18n>Datos del atributo dinámico</h1>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g form-group">

							<!-- Nombre del atributo -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtNombre" i18n><strong>Nombre del atributo</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="atributo.nombre" formControlName="nombre"
										(blur)="establecerNombre();" pTooltip="Nombre del atributo" tooltipPosition="top">
								</div>
							</div>

							<!-- Nombre interno -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="nombreInterno" i18n><strong>Nombre interno</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText id="nombreInterno" name="nombreInterno" maxlength="50" [(ngModel)]="atributo.nombreInterno"
										formControlName="nombreInterno">
								</div>
							</div>

							<!-- Descripción -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtDescripcion" i18n><strong>Descripción</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="100" [(ngModel)]="atributo.descripcion"
										formControlName="descripcion" pTooltip="Descripción del atributo" tooltipPosition="top">
								</div>
							</div>

							<!--Tipo de dato-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="indTipo" i18n><strong>Tipo de dato</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<p-dropdown [options]="tipoItems" id="indTipo" name="indTipo" [(ngModel)]="atributo.indTipoDato" formControlName="indTipoDato"
										autoWidth pTooltip="Tipo de dato" tooltipPosition="top" (onChange)="cambioTipoDato()"></p-dropdown>
								</div>
							</div>
							<!-- Valor por defecto -->
							<div class="ui-g-12 ui-md-12" *ngIf="atributo.indTipoDato">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label i18n><strong>Valor por defecto</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<!--Tipo numérico-->
									<div *ngIf="atributo.indTipoDato == 'N'">
										<p-spinner size="30" id="txtNumerico" name="txtNumerico" [min]="0" [(ngModel)]="atributo.valorDefecto" formControlName="valorDefecto"
											pTooltip="Valor numérico" tooltipPosition="top"></p-spinner>
									</div>

									<!--Tipo texto-->
									<div *ngIf="atributo.indTipoDato == 'T'">
										<input type="text" pInputText [(ngModel)]="atributo.valorDefecto" id="txtTexto" name="txtTexto" formControlName="valorDefecto"
											pTooltip="Valor por defecto tipo texto" tooltipPosition="top">
									</div>

									<!--Tipo booleano-->
									<div *ngIf="atributo.indTipoDato == 'B'">
										<div class="ui-g-3 ui-md-3">
											<p-inputSwitch [(ngModel)]="boolDefecto" formControlName="valorDefecto" id="switchBoolean" name="switchBoolean"></p-inputSwitch>
										</div>
										<div class="ui-g-3 ui-md-3">
											<label for="switchBoolean">{{ boolDefecto | datoBolean}}</label>
										</div>
									</div>

									<!-- Tipo fecha-->
									<div *ngIf="atributo.indTipoDato == 'F'">
										<p-calendar id="txtFecDefecto" name="txtFecDefecto" showAnim="slideDown" pTooltip="Fecha por defecto" tooltipPosition="top"
											[(ngModel)]="fechaDefecto" dateFormat="dd/mm/yy" formControlName="fecha" [readonlyInput]="true"></p-calendar>
									</div>
								</div>
							</div>

							<!--Índice de visibilidad para aplicación móvil-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label i18n><strong>¿Será visible para la aplicación móvil?</strong></label>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioVisibilidad" id="radioTrue" [value]="true" [(ngModel)]="atributo.indVisible" formControlName="indVisible"
										i18n-label label="Si"></p-radioButton>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioVisibilidad" id="radioFalse" [value]="false" [(ngModel)]="atributo.indVisible" formControlName="indVisible"
										i18n-label label="No"></p-radioButton>
								</div>
							</div>

							<!--Indicador de requerido-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label i18n><strong>¿El atributo será requerido?</strong></label>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioRequerido" id="radioTrue" [value]="true" [(ngModel)]="atributo.indRequerido" formControlName="indRequerido"
										i18n-label label="Si"></p-radioButton>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton name="radioRequerido" id="radioFalse" [value]="false" [(ngModel)]="atributo.indRequerido" formControlName="indRequerido"
										i18n-label label="No"></p-radioButton>
								</div>
							</div>
						</div>
					</div>

					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5"></div>
						<div class="ui-g-12 ui-md-2 ui-lg-2">
							<!--Cancela la inserción del atributo-->
							<button pButton type="button" i18n-label label="Cancelar" class="red-btn flat" (click)="goBack()" icon="ui-icon-close"></button>
						</div>
						<!--Se muestra solo si tiene permiso de escritura-->
						<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
							<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" [disabled]="!formAtributo.valid" (click)="agregarAtributo()"
								icon="ui-icon-save"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>