<div class="card card-w-title">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-1">
            <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
        </div>
        <div class="ui-g-12 ui-md-9">
            <div class="ui-g-12 ui-md-9">
                <div class="heading-detalle"> {{categoria.nombre}} </div>
            </div>
            <div class="ui-g-12 ui-md-9">
                <div class="sub-heading-detalle">
                    <ng-container i18n>Categoría de Misión</ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-10 ui-md-10"></div>
            <div class="ui-g-2 ui-md-2" *ngIf="!displayMisiones">
                <button pButton i18n-label label="Misiones asociadas" (click)="displayMisiones=true"></button>
            </div>
            <div class="ui-g-2 ui-md-2" *ngIf="displayMisiones">
                <button pButton i18n-label label="Detalle de categoría" (click)="displayMisiones=false" style="display: inline-block"></button>
            </div>
            <div *ngIf="!displayMisiones">
                <div class="wrapper-spacing">
                    <form [formGroup]="form">
                       <div class="ui-g-10 ">
                            <h2 class="input-spacing" i18n> Detalle de Categoría</h2>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-6">
                            <!--Imagen que representa a la categoría-->
                            <div class="ui-g-12 ui-md-12">
                                <img [src]="file_src" class="img-forms img-border" />
                                <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf = "tienePermisosEscritura">
                                <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
                                <label for="fileAvatar" i18n>Seleccione un archivo</label>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <label for="nombreCategoria" i18n><strong>Nombre</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-7">
                                <input id="nombreCategoria" pInputText name="nombreCategoria" type="text" [(ngModel)]="categoria.nombre" formControlName="nombre"
                                    (blur)="establecerNombres();">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <label for="nombreInternoCategoria" i18n><strong>Nombre Interno</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-7">
                                <input id="nombreInternoCategoria" (blur)="verificarNombreInterno()" pInputText name="nombreInternoCategoria" type="text"
                                    [(ngModel)]="categoria.nombreInterno" formControlName="nombreInterno">
                            </div>
                            <div *ngIf="!nombreValido&&form.get('nombreInterno').touched">
                                <span class="badge alert-danger" i18n>*Este nombre de categoría ya existe</span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <label for="descripcionCategoria" i18n><strong>Descripción</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-7">
                                <input id="descripcionCategoria" name="descripcionCategoria" type="text" pInputText [(ngModel)]="categoria.descripcion" formControlName="descripcion">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ui-g-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-7"></div>
                    <div class="ui-g-12 ui-md-2">
                        <button id="btnAceptar" name="btnAceptar" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid"
                            (click)="editarCatetoria()"></button>
                    </div>
                </div>
            </div>
            <div *ngIf="displayMisiones">
                <div class="wrapper-spacing">
                    <div class="ui-g-10">
                        <h2 class="input-spacing" i18n> Misiones asociadas a esta categoría</h2>
                    </div>
                    <div class="ui-g-12" *ngIf="misiones.length<=0">
                        <p-messages [value]="[{severity:'info', summary:'', detail:'Aún no hay misiones asociadas a esta categoría'}]"></p-messages>
                    </div>
                    <p-dataList class="ui-g-12 ui-md-12 ui-lg-12" [value]="misiones" [paginator]="true" [totalRecords]="totalRecords" [rows]="10"
                        [lazy]="true" (onLazyLoad)="loadData($event)">
                        <p-header i18n> Misiones asociadas a la categoría</p-header>
                        <ng-template let-mision pTemplate="item">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2" style="text-align:center">
                                        <img src="/resources/demo/images/img.png" class="img-lists img-border">
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <ng-container i18n>Nombre: </ng-container>
                                                </div>
                                                <div class="ui-grid-col-8">{{mision.nombre}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <ng-container i18n>Descripción:</ng-container>
                                                </div>
                                                <div class="ui-grid-col-8">{{mision.descripcion}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <ng-container i18n>Nombre Interno: </ng-container>
                                                </div>
                                                <div class="ui-grid-col-8">{{mision.nombreInterno}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <ng-container i18n>Tags:</ng-container>
                                                </div>
                                                <div class="ui-grid-col-8">{{mision.tags}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <button type="button" class="pull-right" pButton icon="ui-icon-search" (click)="gotoDetailMision(mision)"></button>
                                        <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="mostrarModalEliminarCateg(mision)" *ngIf="tienePermisosEscritura && escrituraMision"></button>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </p-dataList>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <ng-container i18n>¿Está seguro que desea revocar esta misión de la categoría? Esta acción es irreversible.</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton i18n-label label="Cerrar" (click)="displayModalEliminar=false"></button>
        <button pButton i18n-label label="Eliminar" (click)="eliminarCategoria()"></button>
    </p-footer>
</p-dialog>