<div class="ui-g-12 ui-md-12">
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Botón para regresar al listado de atributos-->
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<div class="heading-detalle">
					<ng-container i18n>Insertar Categoría</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui-g-12 ui-md-12">
	<div class="card">
		<div class="ui-g ui-fluid">
			<form [formGroup]="form">
				<h2 i18n>Datos de la categoría</h2>
				<div class="ui-g-12 ui-md-6 ui-lg-6">
					<!--Imagen que representa a la categoría-->
					<div class="ui-g-12 ui-md-12">
						<img src='{{ file_src }}' alt="" class="cp-insert cp-round" *ngIf="file_src" />
						<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
						<label for="fileAvatar" i18n>Seleccione un archivo</label>
					</div>
				</div>
				<!--Nombre-->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="txtNombre" i18n><strong>Nombre</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<input id="nombreCategoria" pInputText name="nombreCategoria" type="text" [(ngModel)]="categoria.nombre" formControlName="nombre"
							(blur)="establecerNombres();">
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="nombreInternoCategoria" i18n><strong> Nombre Interno</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<input id="nombreInternoCategoria" (blur)="verificarNombreInterno()" pInputText name="nombreInternoCategoria" type="text"
							[(ngModel)]="categoria.nombreInterno" formControlName="nombreInterno">
					</div>
					<div *ngIf="!nombreValido&&form.get('nombreInterno').touched">
						<span class="badge alert-danger" i18n>*Este nombre de categoría ya existe</span>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<label for="descripcionCategoria" i18n><strong>Descripción</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<input id="descripcionCategoria" name="descripcionCategoria" type="text" pInputText [(ngModel)]="categoria.descripcion" formControlName="descripcion">
					</div>
				</div>
				<div class="ui-g-12" *ngIf="tienePermisosEscritura">
					<div class="ui-g-12 ui-md-5 ui-lg-5"></div>
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<button pButton type="button" i18n-label label="Cancelar" class="red-btn" (click)="goBack()" icon="ui-icon-close"></button>
					</div>
					<div class="ui-g-12 ui-md-3 ui-lg-2">
						<button id="btnAceptar" name="btnAceptar" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid||!nombreValido"
							(click)="insertarCategoria()"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>