<div class="card">
    <div class="ui-g ui-fluid wrapper-spacing">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-8 ui-lg-10">
                        <h1 class="input-spacing" i18n>Categorías de misión</h1>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <button type="button" pButton icon="ui-icon-add" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" [routerLink]="rutaInsertar"></button>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="categorias&&categorias.length<=0">
                <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay categorías disponibles'}]" [closable]="false"></p-messages>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="categorias&&categorias.length>0">
                <p-dataList [value]="categorias" [paginator]="true" [rows]="10" [totalRecords]="cantRegistros" [lazy]="true" (onLazyLoad)="loadData($event)">
                    <p-header i18n> Listado de categorías </p-header>
                    <ng-template let-categoria pTemplate="item">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                            <div class="ui-grid-row" style="position: relative;">
                                <div class="ui-grid-col-2" style="text-align:center">
                                    <img class="img-lists img-border" [src]="categoria.imagen">
                                </div>
                                <div class="ui-grid-col-8" >
                                    <div class="ui-grid ui-grid-responsive ui-fluid" >
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-4"><ng-container i18n>Nombre: </ng-container></div>
                                            <div class="ui-grid-col-8">{{categoria.nombre}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-4"><ng-container i18n>Nombre interno: </ng-container></div>
                                            <div class="ui-grid-col-8">{{categoria.nombreInterno}}</div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-4"><ng-container i18n>Descripción: </ng-container></div>
                                            <div class="ui-grid-col-8">{{categoria.descripcion}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-col-2">
                                    <div class="ui-grid-row">
                                    <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="mostrarModalEliminarCategoria(categoria)" *ngIf="escritura"></button>
                                    <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="gotoDetail(categoria)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataList>
            </div>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <ng-container i18n>¿Está seguro que desea eliminar la categoría? Esta acción es irreversible.</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cerrar" (click)="displayModalEliminar=false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Eliminar" (click)="eliminarCategoria()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>