<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12">
			<div class="ui-g-12 ui-md-1">
				<button pButton name="btnBack" icon="ui-icon-arrow-back" (click)="goBack()"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<div class="ui-g-12">
					<div class="heading-detalle">{{mision.nombre}}</div>
				</div>
				<div class="ui-g-12">
					<div class="sub-heading-detalle"><ng-container i18n>Misión</ng-container></div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-3">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div (click)="opA.show($event)" class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado, 'cbx-4': inactivo}">
						<div class="ui-g-4">
							<i class="material-icons">check</i>
						</div>
						<div class="ui-g-8" [ngSwitch]="mision?.indEstado">
							<span class="name" i18n>Estado:</span>
							<span class="count" i18n *ngSwitchCase="'A'">Activo</span>
							<span class="count" i18n *ngSwitchCase="'B'">Archivado</span>
							<span class="count" i18n *ngSwitchCase="'C'">Borrador</span>
							<span class="count" i18n *ngSwitchCase="'D'">Inactivo</span>
						</div>
					</div>
				</div>
				<p-overlayPanel #opA>
					<div class="ui-g ui-fluid" style="width:100%">
						<div style="margin:10px 5px 10px 10px">
							<div *ngIf="mision.indEstado !='B'">
								<div class="ui-g-12" *ngIf="mision.indEstado =='C'">
									<p i18n>La misión se encuentra en estado borrador, puede editar la misión de manera segura, o eliminarla si así lo deseas
										antes de activarla</p>
								</div>
								<div class="ui-g-12" *ngIf="mision.indEstado =='A'">
									<p i18n>La misión se encuentra en estado activo, ahora están habiltadas muchas funciones
										y podra usar este misión en los demás módulos de la aplicación</p>
								</div>
								<div *ngIf="mision.indCalendarizacion=='P'">
									<p i18n>La misión se encuentra activa permanentemente</p>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<label for="ddEfectividad" i18n><strong>Efectividad:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p-dropdown [options]="itemsCalendarizacion" id="ddEfectividad" name="ddEfectividad" [(ngModel)]="mision.indCalendarizacion"
										autoWidth pTooltip="Efectividad" tooltipPosition="top" (onChange)="onChangeDropCalendarizacion($event)"></p-dropdown>
								</div>
								<div *ngIf="mision.indCalendarizacion=='C'">
									<div class="ui-g-12">
										<label for="finicio" i18n>Fecha de inicio:</label>
									</div>
									<div class="ui-g-12" style="width:220px;">
										<p-calendar id="finicio" [showIcon]="true" readonlyInput="true"  (onSelect)="mision.fechaInicio = fecInicio" [(ngModel)]="fecInicio" 
											dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
										
									</div>
									<div class="ui-g-12">
									<label for="ffin" i18n>Fecha de fin:</label>
									</div>
									<div class="ui-g-12" style="width:220px;">
										<p-calendar id="ffin" [showIcon]="true" readonlyInput="true" (onSelect)="mision.fechaFin= fecFin" [(ngModel)]="fecFin" [minDate]="fecInicio"
										dateFormat="dd/mm/yy" [showTime]="true"></p-calendar>
									</div>
									<div class="ui-g-12">
										<p-checkbox [(ngModel)]="isRecurrente" (onChange)="onChangeRecurrencia()" binary="true" i18n-label label="Recurrente"></p-checkbox>
									</div>
									<div class="ui-g-12" *ngIf="isRecurrente==1">
										<div class="ui-grid ui-grid-responsive" style="margin-bottom:10px">
											<div class="ui-grid-row">
												<fieldset>
													<legend i18n>Días:</legend>
													<div class="ui-grid-col-6">
														<div class="ui-g-12">
															<p-checkbox name="dias" value="L" i18n-label label="Lunes" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
														<div class="ui-g-12">
															<p-checkbox name="dias" value="K" i18n-label label="Martes" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
														<div class="ui-g-12">
															<p-checkbox name="dias" value="M" i18n-label label="Miércoles" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
														<div class="ui-g-12">
															<p-checkbox name="dias" value="J" i18n-label label="Jueves" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
													</div>
													<div class="ui-grid-col-6">
														<div class="ui-g-12">
															<p-checkbox name="dias" value="V" i18n-label label="Viernes" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
														<div class="ui-g-12">
															<p-checkbox name="dias" value="S" i18n-label label="Sábado" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
														<div class="ui-g-12">
															<p-checkbox name="dias" value="D" i18n-label label="Domingo" [(ngModel)]="diasSeleccionados"></p-checkbox>
														</div>
													</div>
												</fieldset>
											</div>
										</div>
										<div class=" ui-grid ui-grid-responsive" style="width:250px;margin-bottom:10px">
											<div class="ui-grid-row">
												<fieldset>
													<legend i18n>Intervalo de semanas:</legend>
													<div class="ui-grid-col-12">
														<div class="ui-g-12">
															<input type="number" pInputText [(ngModel)]="mision.indSemanaRecurrencia" i18n-placeholder placeholder="Intervalo">
														</div>
													</div>			
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="mision.indEstado == 'B'" class="ui-g-12 ui-md-12">
								<p i18n>No se pueden realizar cambios, la misión está archivada.</p>
							</div>
							<div class="ui-g-12 ui-md-12">
								<div *ngIf="mision.indEstado != 'B'" class="ui-g-12 ui-md-12" style="float: right;">
									<button pButton class="green-btn" i18n-label label="Guardar" icon="ui-icon-save" (click)="actualizarMision(); opA.hide()"></button>
								</div>
								<div *ngIf="mision.indEstado=='A'" class="ui-g-12 ui-md-12">
									<button pButton class="red-btn" i18n-label label="Archivar" icon="ui-icon-archive" (click)="displayModalArchivar=true; opA.hide()"></button>
								</div>
								<div *ngIf="mision.indEstado=='C'" class="ui-g-12 ui-md-12">
									<button pButton i18n-label label="Publicar" class="orange-btn" (click)="activarMision(); opA.hide()" icon="ui-icon-check"></button>
								</div>
								<div *ngIf="mision.indEstado=='C'" class="ui-g-12 ui-md-12">
									<button pButton i18n-label label="Eliminar" class="red-btn" (click)="displayModalEliminar=true; opA.hide()" icon="ui-icon-delete"></button>
								</div>
							</div>
						</div>
					</div>
				</p-overlayPanel>
			</div>
		</div>

	</div>
</div>
<div class="ui-toolbar">
	<div class="ui-g ui-fluid">
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button
				pButton
				type="button"
				icon="ui-icon-reorder"
				i18n-label label="General"
				routerLinkActive="ruta-activada"
				routerLink="common">
			</button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-brush" i18n-label label="Despliegue" routerLinkActive="ruta-activada" routerLink="arte"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-group" i18n-label label="Audiencia" routerLinkActive="ruta-activada" routerLink="elegibles"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-create" i18n-label label="Límites" routerLink="limites" routerLinkActive="ruta-activada"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Categorías" routerLinkActive="ruta-activada" routerLink="categorias"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-settings" i18n-label label="Reto" routerLinkActive="ruta-activada" routerLink="reto"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-settings" i18n-label label="Actividad" routerLinkActive="ruta-activada" routerLink="actividades"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-settings" i18n-label label="Respuestas" routerLinkActive="ruta-activada" routerLink="aprobacion"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-reorder" i18n-label label="Dashboard" routerLinkActive="ruta-activada" routerLink="dashboard"></button>
		</div>
	</div>
</div>

<div class="card">
	<router-outlet></router-outlet>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea eliminar la misión? Esta acción es irreversible.</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="displayModalEliminar=false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Eliminar" (click)="eliminarMision()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalArchivar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea archivar la misión? Esta acción es irreversible.</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cerrar" (click)="displayModalArchivar=false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Archivar" (click)="cancelarPublicacion()" icon="ui-icon-archive"></button>
    </p-footer>
</p-dialog>




<!--
	<div class="ui-g-12 ui-md-3">
				<div *ngIf="mision.indEstado=='A'">
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div (click)="opA.show($event)" class="ui-g card cbx cbx-1">
							<div class="ui-g-4">
								<i class="material-icons">check</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado:</span>
								<span class="count" i18n>Activo</span>
							</div>
						</div>
					</div>
					<p-overlayPanel #opA>
						<div class="ui-g ui-fluid" style="width:260px">
							<div style="margin:10px 5px 10px 10px">
								<h3 class="input-spacing" i18n><strong>Misión Activa</strong></h3>
								<p i18n>La misión se encuentra en estado activo, ahora estan habiltadas muchas funciones
									y podras usar este mision en los demás módulos de la aplicacion</p>
								<div class="ui-g-12">
									<button pButton class="red-btn" style="margin-top:10px" i18n-label label="Archivar" icon="ui-icon-delete" (click)="displayModalArchivar=true"></button>
								</div>
							</div>
						</div>
					</p-overlayPanel>
				</div>
				<div *ngIf="mision.indEstado=='C'">
					<div class="ui-g-12 ui-md-12 ui-lg-12 ">
						<div (click)="opC.show($event)" class="ui-g card cbx cbx-2">
							<div class="ui-g-4">
								<i class="material-icons">create</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado:</span>
								<span class="count" i18n>Borrador</span>
							</div>
						</div>
					</div>
					<p-overlayPanel #opC>
						<h4 class="input-spacing" i18n><strong>Activar Misión</strong></h4>
						<div class="ui-g ui-g-fluid" style="width:260px">
							<div class="ui-g-12">
								<p i18n>La misión se encuentra en estado borrador, puedes editar la misión de manera segura, o eliminarla si así lo deseas
									antes de activarla</p>
							</div>
							<div class="ui-g-12">
								<p i18n>Una vez la misión se encuentre activa, no podrá volver a borrador</p>
							</div>
							<div class="ui-g-12">
								<button pButton i18n-label label="Activar" class="green-btn" (click)="activarMision()" icon="ui-icon-check"></button>
							</div>
							<div class="ui-g-12">
								<button pButton i18n-label label="Eliminar" class="red-btn" (click)="displayModalEliminar=true" icon="ui-icon-delete"></button>
							</div>
						</div>
					</p-overlayPanel>
				</div>
				<div *ngIf="mision.indEstado=='B'">
					<div class="ui-g-12 ui-md-12 ui-lg-12 ">
						<div class="ui-g card cbx cbx-3">
							<div class="ui-g-4">
								<i class="material-icons">delete_forever</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado</span>
								<span class="count" i18n>Archivado</span>
							</div>
						</div>
					</div>
				</div>
			</div>-->