<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <form [formGroup]="form">
            <div class="ui-g-12 form-group">
                <div class="ui-g-12">
                    <h2 class="sub-heading-detalle" i18n>Límites de la misión</h2>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="tipoMision" i18n><strong>Límite de respuestas</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <p-inputSwitch name="indRespuesta" [(ngModel)]="mision.indRespuesta" formControlName="indRespuesta"></p-inputSwitch>
                    </div>
                </div>
                <div class="ui-grid" *ngIf="mision.indRespuesta==true">
                    <div class="ui-g-12 ui-md-5 ui-lg-5">
                        <div class="ui-g-12 ui-md-4 ui-lg-6">
                            <label for="cantidadRespuestas" i18n><strong>Cantidad global de respuestas:</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-6">
                            <input pInputText id="cantidadRespuestas" name="cantidadRespuestas" type="number" min="0" [(ngModel)]="mision.cantTotal"
                                formControlName="cantTotal">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-5 ui-lg-5">
                        <div class="ui-g-12 ui-md-4 ui-lg-6">
                            <label for="indIntervaloTotal" i18n><strong>Período:</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-6">
                            <p-dropdown id="indIntervaloTotal" formControlName="indIntervaloTotal" name="indIntervaloTotal" [(ngModel)]="mision.indIntervaloTotal"
                                [options]="itemsPeriodo" [autoWidth]="false"></p-dropdown>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-5 ui-lg-5">
                        <div class="ui-g-12 ui-md-4 ui-lg-6">
                            <label for="cantTotalMiembro" i18n><strong>Cantidad de respuestas por miembro:</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-6">
                            <input id="cantTotalMiembro" pInputText name="cantTotalMiembro" type="number" min="0" [(ngModel)]="mision.cantTotalMiembro"
                                formControlName="cantTotalMiembro">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-5 ui-lg-5">
                        <div class="ui-g-12 ui-md-4 ui-lg-6">
                            <label for="indIntervaloMiembro" i18n><strong>Intervalo de respuesta por miembro: </strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-6">
                            <p-dropdown id="indIntervaloMiembro" formControlName="indIntervaloMiembro" name="indIntervaloMiembro" [(ngModel)]="mision.indIntervaloMimebro"
                                [options]="itemsPeriodo" [autoWidth]="false"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-5 ui-lg-5" *ngIf="mision.cantTotalMiembro>1">
                        <div class="ui-g-12 ui-md-4 ui-lg-6">
                            <label for="indIntervaloRespuesta" i18n><strong>Frecuencia de respuesta:</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-6">
                            <input id="cantIntervalo" pInputText name="cantTotalMiembro" type="number" min="0" [(ngModel)]="mision.cantIntervalo" formControlName="cantIntervalo">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-5 ui-lg-5" *ngIf="mision.cantTotalMiembro>1">
                        <div class="ui-g-12 ui-md-4 ui-lg-6">
                            <label for="indIntervaloTotal" i18n><strong>Período:</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-6">
                            <p-dropdown formControlName="indIntervaloRespuesta" id="indIntervaloRespuesta" name="indIntervaloRespuesta" [(ngModel)]="mision.indIntervalo"
                                [options]="itemsPeriodo" [autoWidth]="false"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6"></div>
                </div>

                <div class="col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-8 ui-lg-8">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid" (click)="actualizarMision()"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>