<div class="ui-g ui-fluid">
    <h3 i18n>Aprobación de misiones</h3>
    <div class="ui-g-12" *ngIf="!respuestasPendientes">
        <div class="ui-g-5"></div>
        <div class="ui-g-2">
            <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
        </div>
        <div class="ui-g-5"></div>
    </div>
    <div class="ui-g-12 ui-md-12">
        <p-dropdown [autoWidth]="false" [options]="itemsEstado" id="respuestasItem" name="respuestasItem" [(ngModel)]="estado" (onChange)="getRespuestasPendientes()"></p-dropdown>
    </div>
    <div class="ui-g-12" *ngIf="listaVacia">
        <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
			<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
				<i class="material-icons">information</i>
			</div>
			<div class="ui-g-8 ui-md-7 ui-lg-7" *ngIf="!(mision.indAprovacion == 'A' && estado =='P')">
				<label i18n>No hay respuestas.</label>
			</div>
            <div class="ui-g-8 ui-md-7 ui-lg-7" *ngIf="mision.indAprovacion == 'A' && estado =='P'">
				<label i18n>No hay respuestas pendientes para misiones con aprobación automática.</label>
			</div>
		</div>
    </div>
    <div class="ui-g-12" *ngIf="!listaVacia">

        <!--Tabla con las respuesta de una misión tipo encuesta-->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='E'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList" expandableRows="true"
            #detail (onRowClick)="detail.toggleRow($event.data)">
            <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
            <p-column i18n-header header="Cantidad de preguntas">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.respuestaEncuesta.length}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" i18n-header header="Estado">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='P'"><!--&& gestion-->
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'G')" i18n-label label="Aprobar" icon="ui-icon-check"></button>
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'F')" i18n-label label="Rechazar"
                            icon="ui-icon-close"></button>
                    </div>
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Aprobada</ng-container>
                    </div>
                </ng-template>
            </p-column>
            <ng-template let-respuesta pTemplate="rowexpansion">
                 <div class="ui-g-12  ui-fluid" style="font-size:16px;padding:20px">
                   <div class="ui-grid-row" *ngFor="let pregunta of respuesta.respuestaEncuesta; let i = index;">
                       <div *ngIf="pregunta.detallePregunta == null">
                           <h4>{{i+1}}. <ng-container i18n>Pregunta no definida</ng-container></h4>
                           <div class="ui-g-12 ui-md-2">
                                <img src='' class="listImg borderImg">
                            </div>
                            <div class="ui-g-12 ui-md-10">
                                <div class="ui-g-12 ui-md-12">
                                    <ng-container i18n>Tipo respuesta: Sin definir</ng-container>
                                </div>
                                <div class="ui-g-12 ui-md-3">
                                     <ng-container i18n>Respuestas del miembro: </ng-container>
                                     <ng-container>{{pregunta.respuesta}}</ng-container>
                                </div>
                            </div>
                       </div>
                       <div *ngIf="pregunta.detallePregunta != null">
                        <h4>{{i+1}}. {{pregunta.detallePregunta.pregunta}}</h4>
                        <div class="ui-g-12 ui-md-2">
                                <img src='{{pregunta.detallePregunta.imagen}}' class="listImg borderImg">
                            </div>
                            <div class="ui-g-12 ui-md-10">
                                <!--<div class="ui-g-12 ui-md-2">
                                    <ng-container i18n>Tipo pregunta: </ng-container>{{pregunta.detallePregunta.indTipoPregunta|tipoPregunta}}
                                </div>-->
                                <div class="ui-g-12 ui-md-12" *ngIf="pregunta.detallePregunta.indTipoPregunta == 'E'">
                                    <div class="ui-g-12 ui-md-12">
                                        <ng-container i18n>Tipo respuesta: </ng-container>{{pregunta.detallePregunta.indTipoRespuesta|tipoRespuesta}}
                                    </div>
                                    <div class="ui-g-12 ui-md-12">
                                        <div *ngIf="pregunta.detallePregunta.indTipoRespuesta == 'RM' || pregunta.detallePregunta.indTipoRespuesta == 'RU'">
                                            <div *ngIf="pregunta.detallePregunta.indTipoRespuesta=='RM'"> <ng-container i18n>Tipo de respuesta correcta: </ng-container> {{pregunta.detallePregunta.indRespuestaCorrecta | indRespMultiple}}</div>
                                            <div *ngIf="pregunta.detallePregunta.indTipoRespuesta=='RU'"> <ng-container i18n>Tipo de respuesta correcta: </ng-container> {{pregunta.detallePregunta.indRespuestaCorrecta | indRespUnica}}</div>
                                                
                                            <div class="ui-g-12 ui-md-3">
                                                <ng-container i18n>Respuestas disponibles: </ng-container>
                                                <ng-container>{{pregunta.detallePregunta.respuestas}}</ng-container>
                                            </div>
                                            <div class="ui-g-12 ui-md-3">
                                                <ng-container i18n>Posición respuesta correcta: </ng-container>
                                                <ng-container>{{pregunta.detallePregunta.respuestasCorrectas}}</ng-container>
                                            </div>
                                            <div class="ui-g-12 ui-md-3">
                                                <ng-container i18n>Posición de respuestas del miembro: </ng-container>
                                                <ng-container>{{pregunta.respuesta}}</ng-container>
                                            </div>
                                        </div>
                                        <div *ngIf="pregunta.detallePregunta.indTipoRespuesta == 'RT' || pregunta.detallePregunta.indTipoRespuesta == 'RN'">
                                            <div class="ui-g-12 ui-md-3">
                                                <ng-container i18n>Respuestas del miembro: </ng-container>
                                                <ng-container>{{pregunta.respuesta}}</ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-12" *ngIf="pregunta.detallePregunta.indTipoPregunta == 'C'">
                                    <div class="ui-grid ui-grid-pad">
                                        <div class="ui-g-12" *ngIf="pregunta.detallePregunta.indRespuestaCorrecta">
                                            <ng-container i18n>Tipo de comparación: </ng-container>
                                            <ng-container>{{pregunta.detallePregunta.indRespuestaCorrecta | indRespCorrecta}}</ng-container>
                                        </div>
                                        <div class="ui-g-12" *ngIf="pregunta.detallePregunta.indRespuestaCorrecta">
                                            <ng-container i18n>Valor de comparación: </ng-container>
                                            <p-rating readonly [(ngModel)]="pregunta.detallePregunta.respuestasCorrectas" [cancel]="false" stars="5"></p-rating>
                                            <!--<ng-container>{{pregunta.detallePregunta.respuestasCorrectas}}</ng-container>-->
                                        </div>
                                        <div class="ui-g-12">
                                            <ng-container i18n>Respuesta del miembro: </ng-container>
                                            <p-rating [(ngModel)]="pregunta.respuesta" readonly [cancel]="false" stars="5"></p-rating>
                                            <!--<ng-container>{{pregunta.respuesta}}</ng-container>-->
                                        </div>
                                        <div class="ui-g-12" *ngIf="pregunta.detallePregunta.indComentario">
                                            <ng-container i18n>Comentario: </ng-container>
                                            <ng-container>{{pregunta.detallePregunta.comentarios}}</ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </ng-template>
        </p-dataTable>

        <!--Tabla de respuestas de una misión tipo actualizar perfil -->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='P'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList" expandableRows="true"
            #detail (onRowClick)="detail.toggleRow($event.data)">
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
            <p-column i18n-header header="Cantidad de atributos">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.respuestaActualizarPerfil.length}}
                </ng-template>
            </p-column>     
            <p-column styleClass="col-button" i18n-header header="Estado">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='P'">
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'G')" i18n-label label="Aprobar" icon="ui-icon-check"></button>
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'F')" i18n-label label="Rechazar" icon="ui-icon-close"></button>
                    </div>
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Aprobada</ng-container>
                    </div>
                </ng-template>
            </p-column>
            <ng-template let-respuesta pTemplate="rowexpansion">
                 <div class="ui-g-12 ui-fluid">
                     <div class="ui-grid-row listBorder" *ngFor="let atributo of respuesta.respuestaActualizarPerfil; let i = index;">
                         <div class="ui-g-12 ui-md-4" *ngIf="atributo.detalleAtributo.indAtributo == 'R'">
                             <ng-container i18n>Atributo dinámico: </ng-container>
                             {{atributo.detalleAtributo.idAtributoDinamico.nombre}}
                        </div>
                        <div class="ui-g-12 ui-md-4" *ngIf="atributo.detalleAtributo.indAtributo != 'R'">
                            <ng-container i18n>Atributo estático: </ng-container>
                            {{atributo.detalleAtributo.indAtributo | indAtributo}}
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <!--<ng-container>{{atributo.respuesta}}</ng-container>-->
                            <div *ngIf="atributo.detalleAtributo.indAtributo == 'B' || atributo.detalleAtributo.indAtributo == 'C' || 
                                atributo.detalleAtributo.indAtributo == 'M' || atributo.detalleAtributo.indAtributo =='O'">
                                <div [ngSwitch]="atributo.detalleAtributo.indAtributo">
                                    <ng-container i18n>Respuesta: </ng-container>
                                    <ng-container *ngSwitchCase="'B'">{{atributo.respuesta | generoMiembro}}</ng-container>
                                    <ng-container *ngSwitchCase="'C'">{{atributo.respuesta | estadoCivilMiembro}}</ng-container>
                                    <ng-container *ngSwitchCase="'M'">{{atributo.respuesta }}</ng-container> <!--| miembroPais | async-->
                                    <ng-container *ngSwitchCase="'O'">{{atributo.respuesta | educacionMiembro}}</ng-container>
                                </div>
                            </div>
                            <div *ngIf="atributo.detalleAtributo.indAtributo != 'B' && atributo.detalleAtributo.indAtributo != 'C' && 
                                atributo.detalleAtributo.indAtributo != 'M' && atributo.detalleAtributo.indAtributo !='O'">
                                <div *ngIf="atributo.detalleAtributo.indAtributo == 'F' || atributo.detalleAtributo.idAtributoDinamico.indTipoDato == 'F'">
                                    <ng-container i18n>Respuesta: </ng-container>{{atributo.respuesta | date:short}}
                                </div>
                                <div *ngIf="atributo.detalleAtributo.indAtributo != 'F' && atributo.detalleAtributo.idAtributoDinamico.indTipoDato != 'F'">
                                    <ng-container i18n>Respuesta: </ng-container>{{atributo.respuesta}}
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                           <div [ngSwitch]="atributo.detalleAtributo.indRequerido">
                                <ng-container *ngSwitchCase="true" i18n>Requerido</ng-container>
                                <ng-container *ngSwitchDefault>No Requerido</ng-container>
                            </div>
                        </div>
                     </div>
                 </div>
             </ng-template>
        </p-dataTable>

        <!--Tabla de respuestas de una misión tipo subir contenido -->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='S'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList" (onRowClick)="mostrarContenido($event.data);">
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
            <p-column i18n-header header="Tipo de contenido">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="respuesta.respuestaSubirContenido.detalleSubirContenido.indTipo == 'V'">
                        <ng-container i18n>Video</ng-container>
                    </div>
                    <div *ngIf="respuesta.respuestaSubirContenido.detalleSubirContenido.indTipo == 'I'">
                        <ng-container i18n>Imagen</ng-container>
                    </div>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" i18n-header header="Estado">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='P'">
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'G')" i18n-label label="Aprobar" icon="ui-icon-check"></button>
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'F')" i18n-label label="Rechazar" icon="ui-icon-close"></button>
                    </div>
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Ganada</ng-container>
                    </div>
                </ng-template>
            </p-column>
            <ng-template let-respuesta pTemplate="rowexpansion">
                <div class="ui-grid  ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12">
                            <div *ngIf="respuesta.respuestaSubirContenido.detalleSubirContenido.indTipo == 'V'">
                                <ng-container i18n>
                                    <!--{{respuesta.respuestaSubirContenido.datosContenido}}-->
                                    No hay datos disponibles
                                </ng-container>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div *ngIf="respuesta.respuestaSubirContenido.detalleSubirContenido.indTipo == 'I'">
                                <ng-container i18n>  
                                    <!--<img src='{{respuestaImagen}}' class="cp-insert cp-round" />-->
                                    No hay datos disponibles
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataTable>

        <!--Tabla de respuestas de una misión tipo red social -->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='R'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList">
            <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" i18n-header header="Estado" [style]="{'width': '135px'}">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='P'">
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'G')" i18n-label label="Aprobar" icon="ui-icon-check"></button>
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'F')" i18n-label label="Rechazar" icon="ui-icon-close"></button>
                    </div>
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Ganada</ng-container>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>

        <!--Tabla de respuestas de una misión tipo ver contenido -->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='V'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList">
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
            <p-column i18n-header header="Tipo de contenido">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="respuesta.respuestaVerContenido.detalleVerContenido.indTipo == 'V'">
                        <ng-container i18n>Video</ng-container>
                    </div>
                    <div *ngIf="respuesta.respuestaVerContenido.detalleVerContenido.indTipo == 'I'">
                        <ng-container i18n>Imagen</ng-container>
                    </div>
                    <div *ngIf="respuesta.respuestaVerContenido.detalleVerContenido.indTipo == 'U'">
                        <ng-container i18n>URL</ng-container>
                    </div>
                </ng-template>
            </p-column>
            <p-column i18n-header header="URL">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.respuestaVerContenido.detalleVerContenido.url}}
                </ng-template>
            </p-column>
            <p-column i18n-header header="URL">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="respuesta.respuestaVerContenido.detalleVerContenido.texto == null">
                        <ng-container>----</ng-container>
                    </div>
                    <div *ngIf="respuesta.respuestaVerContenido.detalleVerContenido.texto != null">
                        {{respuesta.respuestaVerContenido.detalleVerContenido.texto}}
                    </div>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" i18n-header header="Estado" [style]="{'width': '135px'}">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='P'">
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'G')" i18n-label label="Aprobar" icon="ui-icon-check"></button>
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'F')" i18n-label label="Rechazar" icon="ui-icon-close"></button>
                    </div>
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Ganada</ng-container>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>

        <!--Tabla de respuestas de una misión tipo juego -->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='J'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList">
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
           <p-column styleClass="col-button" i18n-header header="Estado">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Ganada</ng-container>
                    </div>
                    <div *ngIf="estado =='P'">
                        <ng-container i18n>Aprobada</ng-container>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>

        <!--Tabla con las respuesta de una misión tipo preferencia-->
        <p-dataTable class="ui-g-12" *ngIf="mision.indTipoMision=='A'" [value]="respuestasPendientes" [paginator]="true" [rows]="12" [lazy]="true"
            (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList" expandableRows="true"
            #detail (onRowClick)="detail.toggleRow($event.data)">
            <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
            <p-column i18n-header header="Miembro">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <ng-container>{{respuesta.miembro.nombre}} {{respuesta.miembro.apellido}} {{respuesta.miembro.apellido2}}</ng-container>
                </ng-template>
            </p-column>
            <p-column i18n-header header="Fecha">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.fecha|date:'short'}}
                </ng-template>
            </p-column>
            <p-column i18n-header header="Preferencias">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    {{respuesta.respuestaPreferencias.length}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" i18n-header header="Estado">
                <ng-template let-respuesta="rowData" pTemplate="body">
                    <div *ngIf="estado =='P'">
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'G')" i18n-label label="Aprobar" icon="ui-icon-check"></button>
                        <button type="button" pButton (click)="respuestaSeleccionada(respuesta, 'F')" i18n-label label="Rechazar"
                            icon="ui-icon-close"></button>
                    </div>
                    <div *ngIf="estado =='F'">
                        <ng-container i18n>Rechazada</ng-container>
                    </div>
                    <div *ngIf="estado =='G'">
                        <ng-container i18n>Aprobada</ng-container>
                    </div>
                </ng-template>
            </p-column>
            <ng-template let-respuesta pTemplate="rowexpansion">
                 <div class="ui-g-12  ui-fluid" style="font-size:16px;padding:20px">
                   <div class="ui-grid-row listBorder" *ngFor="let elemento of respuesta.respuestaPreferencias; let i = index;">
                       <div *ngIf="elemento.preferencia == null">
                           <div class="ui-g-12 ui-md-3">
                                {{i+1}}.<ng-container i18n>Preferencia no existente</ng-container>
                           </div>
                            <div class="ui-g-12 ui-md-3">
                                <ng-container i18n>Tipo respuesta: Sin definir</ng-container>
                            </div>
                            <div class="ui-g-12 ui-md-3">
                                <ng-container i18n>Respuestas del miembro: </ng-container>
                                <ng-container>{{elemento.respuesta}}</ng-container>
                            </div>
                       </div>
                       <div *ngIf="elemento.preferencia != null">
                           <div class="ui-g-12 ui-md-3">
                                <ng-container>{{i+1}}. {{elemento.preferencia.pregunta}}</ng-container>
                           </div>
                            <div class="ui-g-12 ui-md-3">
                                <ng-container i18n>Tipo respuesta: </ng-container>{{elemento.preferencia.indTipoRespuesta|tipoRespuesta}}
                            </div>
                            <div class="ui-g-12 ui-md-3" *ngIf="elemento.preferencia.indTipoRespuesta == 'RM' || elemento.preferencia.indTipoRespuesta == 'SU'">
                                <ng-container i18n>Respuestas disponibles: </ng-container>
                                <ng-container>{{elemento.preferencia.respuestas}}</ng-container>
                            </div>
                            <div class="ui-g-12 ui-md-3">
                                <ng-container i18n>Respuesta del miembro: </ng-container>
                                <ng-container>{{elemento.respuesta}}</ng-container>
                            </div>
                        </div>
                   </div>
                </div>
            </ng-template>
        </p-dataTable>
    </div>
</div>

<p-dialog i18n-header header="Contenido" [(visible)]="modalContenido" showEffect="fade" [modal]="true"  minWidth="500" minHeight="500" [responsive]="true">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12" *ngIf="respuestaContenido != null">
                <div class="ui-g-12" [ngSwitch]="respuestaContenido.respuestaSubirContenido.detalleSubirContenido.indTipo">
                    
                    <div *ngSwitchCase="'I'" style="text-align: center;">   
                        <h4><ng-container i18n>Imagen de: </ng-container>{{respuestaContenido.miembro.nombre}} {{respuestaContenido.miembro.apellido}} {{respuestaContenido.miembro.apellido2}}</h4>
                        <img src="{{respuestaContenido.respuestaSubirContenido.datosContenido}}" style="border: 2px solid #ddd; border-radius: 4px;" alt="">
                        <div class="ui-g-12">
                            <ng-container i18n>Si la imagen no se muestra en la pantalla, de un <a href="{{respuestaContenido.respuestaSubirContenido.datosContenido}}" target="_blank">click aquí!</a></ng-container>
                        </div>
                    </div>
                    <div *ngSwitchCase="'V'" style="text-align: center;">
                        <h4><ng-container i18n>Vídeo de: </ng-container>{{respuestaContenido.miembro.nombre}} {{respuestaContenido.miembro.apellido}} {{respuestaContenido.miembro.apellido2}}</h4>
                        <video controls width="300px">
                            <source src="{{respuestaContenido.respuestaSubirContenido.datosContenido}}">
                            <ng-container i18n>Disculpe, su navegador no soporta HTML5 video.</ng-container>
                        </video>
                        <div class="ui-g-12">
                            <ng-container i18n>Si el vídeo no se muestra en la pantalla, de un <a href="{{respuestaContenido.respuestaSubirContenido.datosContenido}}" target="_blank">click aquí!</a></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cerrar" (click)="modalContenido=false" icon="ui-icon-close"></button>
    </p-footer>
</p-dialog>