<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-3 ui-md-1">
            <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button> 
        </div>
        <div class="ui-g-12 ui-md-8">
            <div class="heading-detalle">
                <ng-container i18n>Nueva Misión</ng-container>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="ui-toolbar">
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" class="ruta-activada"></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton disabled="true" type="button" icon="ui-icon-group" i18n-label label="Audinecia"></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton disabled="true" type="button" icon="ui-icon-assignment" i18n-label label="Categorías" routerLink="categorias"></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton disabled="true" type="button" icon="ui-icon-brush" i18n-label label="Reto"></button>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <form [formGroup]="form">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-md-12">
                        <h2 i18n>Datos generales de la misión</h2>
                    </div>
                    <!--<div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-10 input-spacing" *ngIf="mision.imagen">
                    <img [src]="mision.imagen" class="img-forms img-border" />
                </div>
                <div class="ui-g-12 ui-md-10 input-spacing" *ngIf="!mision.imagen">
                    <img [src]="file_src" class="img-forms img-border" />
                </div>
                <div class="ui-g-12 ui-md-2"></div> 
				<div class="ui-g-12 ui-md-10">
						<input class="upload" id="fileAvatar" name="fileAvatar" type="file"  #input (change)="fileChange(input)" accept="image/*">
						<label for="fileAvatar" i18n>Seleccione un archivo</label>
				</div>-->
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="nombreMision" i18n><strong>Nombre</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <input pInputText id="nombreMision" name="nombreMision" type="text" [(ngModel)]="mision.nombre" formControlName="nombre">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="descMision" i18n><strong>Descripción</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.descripcion" formControlName="descripcion">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="drpMetrica" i18n><strong>Métrica de recompensa</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <p-dropdown [options]="itemsMetrica" id="drpMetrica" name="drpMetrica" [autoWidth]="false" [(ngModel)]="mision.idMetrica.idMetrica"
                                formControlName="metrica"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="cantMetrica" i18n><strong>Cantidad de métrica</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <input pInputText id="cantMetrica" name="cantMetrica" type="number" min="1" [(ngModel)]="mision.cantMetrica" formControlName="cantMetrica">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="tipoMision" i18n><strong>Tipo de Misión</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <p-dropdown [options]="itemsTipoMision" id="tipoMision" [autoWidth]="false" name="tipoMision" [(ngModel)]="mision.indTipoMision"
                                formControlName="tipoMision" (onChange)="verificarTipo()"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="drpAprobacion" i18n><strong>Requiere aprobación</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <p-dropdown [options]="itemsAprobacion" id="drpAprobacion" [autoWidth]="false" name="drpAprobacion" [(ngModel)]="mision.indAprovacion"
                                formControlName="aprobacion"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="tipoMision" i18n><strong>Límite de respuestas</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <p-inputSwitch name="indRespuesta" [(ngModel)]="mision.indRespuesta" formControlName="indRespuesta"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="tags" i18n><strong>Tags</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <p-chips [(ngModel)]="tags" name="tags" formControlName="tags"></p-chips>
                            <!--<input pInputText id="tags" name="tags" type="text" min="1" [(ngModel)]="mision.tags" formControlName="tags">-->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                        <div class="ui-g-12 ui-md-7 ui-lg-7"></div>
                        <div class="ui-g-12  ui-md-2 ui-lg-2">
                            <button type="button" pButton i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" [disabled]="!form.valid" (click)="insertarMision()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>