<div class="ui-g ui-fluid ">
    <div class="ui-g-12">
        <div *ngIf="mision.indTipoMision=='V'">
            <misiones-contenido></misiones-contenido>
        </div>
        <div *ngIf="mision.indTipoMision=='E'">
            <misiones-encuesta></misiones-encuesta>
        </div>
        <div *ngIf="mision.indTipoMision=='P'">
            <misiones-perfil></misiones-perfil>
        </div>
        <div *ngIf="mision.indTipoMision=='R'">
            <misiones-actividad-social></misiones-actividad-social>
        </div>
        <div *ngIf="mision.indTipoMision=='S'">
            <misiones-subir-contenido></misiones-subir-contenido>
        </div>
        <div *ngIf="mision.indTipoMision=='J'">
            <misiones-juego></misiones-juego>
        </div>
        <div *ngIf="mision.indTipoMision=='A'">
            <misiones-preferencia></misiones-preferencia>
        </div>
        <div *ngIf="mision.indTipoMision=='B'">
            <misiones-realidad-aumentada></misiones-realidad-aumentada>
        </div>
    </div>
</div>