<div class="ui-g ui-fluid">
    <div class="ui-g-12 card">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-12">
                <h3 i18n class="sub-heading-detalle">Historial de Misiones</h3>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-4"><label i18n><strong>Período:</strong></label></div>
                <div class="ui-g-12 ui-md-8">
                    <p-dropdown [options]="periodos" [(ngModel)]="indPeriodo" (onChange)="obtenerActividad()"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <p-dataTable #dt exportFilename="actividad_misiones" [value]="listaActividades" [rows]="20" [paginator]="true">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <div class="ui-g-10"></div>
                        <div class="ui-g-2">
                            <button type="button" pButton icon="ui-icon-file-download" iconPos="left" i18n-label label="Exportar a CSV" (click)="dt.exportCSV()"
                                style="float:left"></button>
                        </div>
                    </div>
                </p-header>
                <p-column field="nombreElemento" i18n-header header="Misión" sortable="true"></p-column>
                <p-column field="nombreMiembro"  i18n-header header="Miembro" sortable="true"></p-column>
                <p-column field="indTipo" i18n-header header="Tipo" sortable="true">
                    <ng-template let-evento="rowData" pTemplate="body">
                        <div style="text-align:center">
                            <!--VIO_MISION("C"),
                            APROBO_MISION("D"),
                            FALLO_MISION("E"), 
                            RESPONDIO_MISION("F")-->
                            <div style="text-align:center">
                                <span i18n *ngIf="evento.indTipo=='C'">Vió Misión</span>
                                <span i18n *ngIf="evento.indTipo=='D'">Aprobó Misión</span>
                                <span i18n *ngIf="evento.indTipo=='E'">Falló Misión</span>
                                <span i18n *ngIf="evento.indTipo=='F'">Respondió Misión</span>
                            </div>
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                    <ng-template let-evento="rowData" pTemplate="body">
                        <div style="text-align:center">
                            <span>{{evento.fecha|date:'short'}}</span>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="">
                    <ng-template let-evento="rowData" pTemplate="body">
                        <div style="text-align:center">
                            <button style="width:auto" pButton (click)="gotoMiembro(evento.idMiembro)" i18n-label label="Ir a Miembro" *ngIf="lecturaMiembro"></button>
                            <button style="width:auto" pButton (click)="gotoMision(evento.idElemento)" i18n-label label="Ir a Misión"></button>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>