<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-5" *ngIf="!chartVistasData||!chartElegibilidadData">
	</div>
	<div class="ui-g-12 ui-md-2" *ngIf="!chartVistasData||!chartElegibilidadData">
		<img src="/resources/img/loading_icon.gif" />
	</div>
	<div class="ui-g-12 ui-md-5" *ngIf="!chartVistasData||!chartElegibilidadData">
	</div>

	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="chartVistasData&&chartElegibilidadData">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n>Estadísticas de la promoción</h2>
		</div>
        <div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-3">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Respuestas</span>
					<span class="colorbox-count">{{statsData.cantRespuestas}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-2">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Respuestas Aprobadas</span>
					<span class="colorbox-count">{{statsData.cantRespuestasAprobadas}}</span>
				</div>
			</div>
		</div>
        <div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-1">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Respuestas Rechazadas</span>
					<span class="colorbox-count">{{statsData?.cantRespuestasRechazadas}}</span>
				</div>
			</div>
		</div>
		
		<div class="ui-g-12 ui-md-12 ui-lg-12"> 
			<h2 i18n>Elegibilidad de la misión</h2>
		</div>
		<div class="ui-g-12 ui-md-12">
			<p-chart type="line" [data]="chartElegibilidadData" (onDataSelect)="selectData($event)"></p-chart>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n>Alcance de la misión</h2>
		</div>
        <div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-3">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Miembros Elegibles</span>
					<span class="colorbox-count">{{statsData.cantMiembrosElegibles}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-2">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Vistas Únicas de Elegibles</span>
					<span class="colorbox-count">{{statsData.cantVistasUnicasElegibles}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-1">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Vistas Totales</span>
					<span class="colorbox-count">{{statsData?.cantVistasTotales}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12">
			<p-chart type="line" [data]="chartVistasData" (onDataSelect)="selectData($event)"></p-chart>
		</div>

	</div>
</div>