<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <form [formGroup]="form">
            <div class="ui-g-12 form-group">
                <div class="ui-g-12">
                    <h2 class="sub-heading-detalle" i18n>Datos generales de la misión</h2>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="nombreMision" i18n><strong>Nombre</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input pInputText id="nombreMision" name="nombreMision" type="text" [(ngModel)]="mision.nombre" formControlName="nombre">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="descMision" i18n><strong>Descripción</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.descripcion" formControlName="descripcion">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="drpMetrica" i18n><strong>Métrica de recompensa</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7" *ngIf="mision.idMetrica">
                        <p-dropdown [options]="itemsMetrica" id="drpMetrica" name="drpMetrica" [autoWidth]="false" [(ngModel)]="mision.idMetrica.idMetrica"
                            formControlName="metrica"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="cantMetrica" i18n><strong>Cantidad de métrica</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input pInputText id="cantMetrica" name="cantMetrica" type="number" min="1" [(ngModel)]="mision.cantMetrica" formControlName="cantMetrica">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="tipoMision" i18n><strong>Tipo de misión</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <p-dropdown [options]="itemsTipoMision" id="tipoMision" [autoWidth]="false" name="tipoMision" [(ngModel)]="mision.indTipoMision"
                            formControlName="tipoMision"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="drpAprobacion" i18n><strong>Requiere aprobación</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <p-dropdown [options]="itemsAprobacion" id="drpAprobacion" [autoWidth]="false" name="drpAprobacion" [(ngModel)]="mision.indAprovacion"
                            formControlName="aprobacion"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="tags" i18n><strong>Tags</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <p-chips [(ngModel)]="tags" name="tags" formControlName="tags"></p-chips>
                        <!--<input pInputText id="tags" name="tags" type="text" min="1" [(ngModel)]="mision.tags" formControlName="tags">-->
                    </div>
                </div>
                <div class="col-md-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-7 ui-lg-7">
                        <img src="resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="guardando" />
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button type="button" pButton i18n-label label="Guardar" class="green-btn" [disabled]="!form.valid||guardando" (click)="actualizarMision()"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>