<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title ui-g">
            <div class="ui-g-12" style="text-align: center">
                <div class="heading-detalle input-spacing">
                    <ng-container i18n>Dashboard de Misiones</ng-container>
                </div>
            </div>
            <div class="ui-g-12" style="margin-top: 25px;"></div>
            <div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
                <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                    <i class="material-icons">information</i>
                </div>
                <div class="ui-g-8 ui-md-7 ui-lg-7">
                    <label i18n>No tiene autorización para leer la información de misiones.</label>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="!cargandoDatos && lectura">       
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-1" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">poll</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Total Encuestas</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesEncuesta}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-2" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">person</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Total Actualizar Perfil</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesPerfil}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-5" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">pageview</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Total Ver Contenido</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesVerContenido}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-4" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">videogame_asset</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Total Juego</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesJuego}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-4" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">list</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Total Preferencia</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesPreferencia}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-1" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Red Social</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesSocial}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-2" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">cloud-upload</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Subir Contenido</span>
                                <span class="count">{{statsMisionGeneral.cantMisionesSubirContenido}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ui-g-12" *ngIf="cargandoDatos">
            <div class="ui-g-12 ui-md-5">
            </div>
            <div class="ui-g-12 ui-md-2">
                <img src="/resources/img/loading_icon.gif" />
            </div>
            <div class="ui-g-12 ui-md-5">
            </div>
        </div>
        <div *ngIf="!cargandoDatos && lectura">
            <div class=" ui-g-12 ui-md-12" style="text-align: center">
                <div class="ui-g ui-fluid card" style="padding-right: 0px;">
                    <div class="ui-g-12">
                        <h2 i18n>Cantidad de Elegibles Promedio </h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [options]="options" [data]="chartCantElegiblesPromedio"></p-chart>
                    </div>
                </div>
            </div>
            <div class=" ui-g-12 ui-md-12" style="text-align: center">
                <div class="ui-g ui-fluid card" style="padding-right: 0px;">
                    <div class="ui-g-12">
                        <h2 i18n>Cantidad de Respuestas</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [options]="options" [data]="chartCantRespuestas" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
            <div class=" ui-g-12 ui-md-12" style="text-align: center">
                <div class="ui-g ui-fluid card" style="padding-right: 0px;">
                    <div class="ui-g-12">
                        <h2 i18n>Cantidad de Respuestas Aprobadas</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [options]="options" [data]="chartCantRespuestasAprobadas" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
            <div class=" ui-g-12 ui-md-12" style="text-align: center">
                <div class="ui-g ui-fluid card" style="padding-right: 0px;">
                    <div class="ui-g-12">
                        <h2 i18n>Cantidad de Respuestas Rechazadas</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [options]="options" [data]="chartCantRespuestasRechazadas" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
            <div class=" ui-g-12 ui-md-12" style="text-align: center">
                <div class="ui-g ui-fluid card" style="padding-right: 0px;padding-left: 0px;">
                    <div class="ui-g-12">
                        <h2 i18n>Cantidad de Vistas Totales</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [options]="options" [data]="chartCantVistasTotales" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
            <div class=" ui-g-12 ui-md-12" style="text-align: center">
                <div class="ui-g ui-fluid card" style="padding-right: 0px;padding-left: 0px;">
                    <div class="ui-g-12">
                        <h2 i18n>Cantidad de Vistas Únicas</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [options]="options" [data]="chartCantVistasUnicas" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>