<div class="ui-g ui-fluid ">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <h2 i18n>Despliegue de la misión</h2>
        </div>
        <form [formGroup]="form">
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <!--Imagen que representa a la categoría-->
                <div class="ui-g-12 ui-md-12" *ngIf="mision.imagen">
                    <img [src]="file_src" class="cp-insert cp-round" />
                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="!mision.imagen">
                    <img src="./resources/img/loading_icon.gif" class="img-forms img-border" />
                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
                    <label for="fileAvatar" i18n>Seleccione un archivo</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="encabezado" i18n><strong>Encabezado</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input id="encabezado" type="text" pInputText [(ngModel)]="mision.encabezadoArte" formControlName="encabezado" />
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label i18n><strong>Sub encabezado</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input id="sub-encabezado" type="text" pInputText [(ngModel)]="mision.subEncabezadoArte" formControlName="sub-encabezado"
                    />
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label i18n><strong>Texto adicional</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <textarea id="detalle" i18n-placeholder placeholder="Texto del arte" pInputTextarea [(ngModel)]="mision.textoArte" formControlName="detalle"></textarea>
                </div>
            </div>
        </form>
        <div class="ui-g-12 ui-md-7">
            <img src="resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="tienePermisosEscritura">
            <button pButton i18n-label label=Guardar icon="ui-icon-save" class="green-btn" type="button" (click)="actualizarMision()"></button>
        </div>
    </div>
</div>