<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <h1 i18n>Bitácora API External</h1>
                </div>
                <div class="ui-g-12 ui-md-8" *ngIf="permiso">
                    <div class="ui-g-12 ui-md-2">
                        <label i18n><strong>Período:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <!--Períodos en los cuales se realizaron movimientos-->
                        <p-dropdown [options]="periodos" [(ngModel)]="indPeriodo" (onChange)="obtenerRegistroBitacora()" [autoWidth]="false"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="cargandoDatos">
                    <div class="ui-g-5"></div>
                    <div class="ui-g-2">
                        <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                    </div>
                    <div class="ui-g-5"></div>
                </div>
                <div class="ui-g-12" *ngIf="permiso && !cargandoDatos">
                    <!--Tabla donde se listan los registros-->
                    <p-dataTable [value]="listaExternal" [rows]="15" [paginator]="true" i18n-header header="Registro">
                        <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                <span>{{registro.fecha|date:'short'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="idEntrada" i18n-header header="Entrada" sortable="true"></p-column>
                        <p-column field="httpEstadoRespuesta" i18n-header header="Estado de Respuesta" sortable="true"></p-column>
                        <p-column field="jsonEntrada" i18n-header header="Miembro" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                <div *ngIf="registro.jsonEntrada != null">
                                    <span>{{registro.jsonEntrada.email}}</span>
                                    <div></div>
                                    <span>{{registro.jsonEntrada.idMember}}</span>
                                </div>
                                <div *ngIf="registro.jsonEntrada == null">
                                    <span>---</span>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="jsonRespuesta" i18n-header header="Respuesta" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                <div> <label i18n><strong>Código:</strong></label> <label i18n>{{registro.jsonRespuesta.code}}</label> </div>
                                <div><label i18n><strong>Mensaje:</strong></label> <label i18n>{{registro.jsonRespuesta.message}}</label></div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
                <div *ngIf="!permiso && !cargandoDatos" class="ui-g-12">
                    <div class="ui-g-12 ui-md-4" style="background: dodgerblue;font-size: medium;color: white;padding: 0 0 0 24px;">
                        <div class="ui-g-12 ui-md-2 ui-lg-1">
                            <i class="material-icons">information</i>
                        </div>
                        <div class="ui-g-12 ui-md-7 ui-lg-7">
                            <label i18n>No cuenta con los permisos requeridos para revisar las bitácoras.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>