<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <h1 i18n>Bitácora API Administrativa</h1>
                </div>
                <div class="ui-g-12 ui-md-8" *ngIf="permiso">
                    <div class="ui-g-12 ui-md-2">
                        <label i18n><strong>Acción:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <!--Tipo de acción realizada en el sistema-->
                        <p-dropdown [options]="acciones" [(ngModel)]="accion" (onChange)="obtenerRegistroBitacora()" [autoWidth]="false" ></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="cargandoDatos">
                    <div class="ui-g-5"></div>
                    <div class="ui-g-2">
                        <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                    </div>
                    <div class="ui-g-5"></div>
                </div>
                <div class="ui-g-12" *ngIf="permiso && !cargandoDatos">
                    <p-dataTable [value]="listaAdmin" [rows]="15" [paginator]="true" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"
                        i18n-header header="Registro">
                        <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                <span>{{registro.fecha|date:'short'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="usuario" i18n-header header="Usuario" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                <span>{{registro.usuario.nombrePublico}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="accion" i18n-header header="Acción" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                <span>{{registro.accion | bitacoraAccion}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="detalle" i18n-header header="Detalle" sortable="true">
                            <ng-template let-registro="rowData" pTemplate="body">
                                {{registro.detalle}}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
                <div *ngIf="!permiso && !cargandoDatos" class="ui-g-12">
                    <div class="ui-g-12 ui-md-4" style="background: dodgerblue;font-size: medium;color: white;padding: 0 0 0 24px;">
                        <div class="ui-g-12 ui-md-2 ui-lg-1">
                            <i class="material-icons">information</i>
                        </div>
                        <div class="ui-g-12 ui-md-7 ui-lg-7">
                            <label i18n>No cuenta con los permisos requeridos para revisar las bitácoras.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>