.loading-icon {
  position: relative;
  width: 130px;
  height: 130px; 
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}

.button-list{
    /*margin-top: 14px;
    margin-left: 10px;*/
    float: right;
    /*margin-right: 20px*/
    margin:14px 24px 0 0;
}
/*Permite darle el estilo a la imagen*/
.cp-spinner{
    width:120px;
    height:120px;
    display:inline-block;
    box-sizing:border-box;
    position:relative
}

/*Permite darle el estilo a la imagen
Esta tiene bordes y es más grande*/
.cp-insert{
    width:250px;
    height:200px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    border: 4px solid gray;
}

.cp-art{
    width:165px;
    height:160px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    margin: 20px 0 20px 20px;
}

.cp-perfil{
    width:200px;
    height:160px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    border: 4px solid gray;
}

.client-image{
    margin: 0px 75px 10px 0;
     width: 200px;
     height: 160px;
}

#margin-list{
    margin: 9px 0 -16px 10px;
}

.element-list{
    margin: -25px 0 0 -7px;
}


/*Permite darle el estilo a la imagen
Esta tiene bordes y es más grande*/
.cp-list{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    border-radius: 21%;
    margin: 7px 0 7px 35px;
}

.borderImg{
    border-radius: 21%;
    border: 2px solid #ddd;
    padding: 5px;
}

.listImg{
    width: 120px;
    height: 120px;
    display: inherit;
    margin-top: -5px;
    align-items: center;
}

.cp-perfil{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    border-radius: 21%;
    margin: 0px 0 0px 10px;
}

.list-space{
    padding: 16px 0 16px 16px
}

/*Permite darle el estilo a la imagen del cliente*/
.upload-spinner{
    width:130px;
    height:130px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    border-radius: 21%;
}

/*Color a la imagen*/    
.cp-round:before{
    border-radius:50%;
    content:" ";
    width:100px;
    height:100px;
    display:inline-block;
    box-sizing:border-box;
    border-top:solid 12px #bababa;
    border-right:solid 12px #bababa;
    border-bottom:solid 12px #bababa;
    border-left:solid 12px #bababa;
    position:absolute;
    top:0;
    left:0
}
.cp-round:after{
    border-radius:50%;content:" ";
    width:100px;
    height:100px;
    display:inline-block;
    box-sizing:border-box;border-top:solid 12px teal;
    border-right:solid 12px transparent;
    border-bottom:solid 12px transparent;
    border-left:solid 12px transparent;position:absolute;
    top:0;
    left:0;
    animation:cp-round-animate 1s ease-in-out infinite
}
/*ROtación de la imagen*/
@keyframes cp-round-animate{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

/*Forma al input para subir un archivo*/
.upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.upload + label {
    width: 200px;
    height: 40px;
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    line-height: 3.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: gray;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px dimgray;
    transition: 150ms;
}

.upload:focus + label,
.upload + label:hover {
    background-color: green;
    box-shadow: 0px 5px 0px darkgreen;
    cursor:pointer;
}

.upload:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.gridList:hover {
    /*background-color:#2668d3;*/
    cursor: pointer;
}

.status{
    margin-top: 10px;
    margin-right: 0px;
}

.pruebaRow{
    min-width: 500px;
    max-width: 1000px;
}

.autoSize{
    height: auto;
}

.fixSize{
    height: 180px !important;
}

.help-info{
    font-size: medium;
    margin: 5px;
}

#info il{
    margin: 0 0 3px 0;
}
.infoSmall{
    color:darkgrey;
}

.listBorder{
    border-bottom: 1px solid #bdbdbd;
}

.listButton{
    margin: 14px 24px 0 0;
    float: right;
}
.comments {
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.comments-more {
    height: 900px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.comments-less {
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dashboard .line-comment > .ui-g img {
    width: 55px;
    height: 55px;
    margin: 5px 20px 0 15px;
    position: relative;
    border-radius: 50%;
}
.dashboard .line-comment > .ui-g button {
    margin: 0 0 0 0;
    position: relative;
    border-radius: 0;
    background-color: darkgrey;
    left: 60px }
.dashboard .line-comment > .ui-g button {
    margin: 0 0 0 0;
    position: relative;
    border-radius: 0;
    background-color: darkgrey;
    left: 60px }
.dashboard .line-comment > .ui-g .ui-g-10 {
    border-left: 1px solid #bdbdbd;
    padding-left: 1.5em; }
.dashboard .line-comment > .ui-g .ui-g-10 .comment-owner { 
    padding-right: 15px;
    padding-bottom: 20px; }
.dashboard .line-comment > .ui-g .ui-g-10 .comment-date { 
    color: dimgray;
    padding-bottom: 20px; }
.dashboard .line-comment > .ui-g .ui-g-10 .comment-text {
    color: #757575;
    font-size: larger;
    display: block;
    padding-top: 20px;
    text-align: justify; }
.commentArea > textarea {
    color: #757575;
    border: solid whitesmoke; 
    border-radius: 10px; 
    padding: 15px 15px 0px 15px;
    border-width: 2px;
    -align: justify;
    font-size: larger;
}

.comment-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: small;
}
.comment-highlight :hover {
    background-color: whitesmoke; 
    color: crimson;
}
