
/* ------------------------*/ /* ---------->>> CLASES <<<-----------*/ /* ------------------------*/
/***************************IMAGENES*******************************/
/*diferentes formas de desplegar imagenes*/
.img-circle {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-align-sm {
        text-align: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-align-md {
        text-align: right;
    }
}
.loading {
  background: transparent url('/resources/img/loading_icon.gif') center no-repeat;
}
/*animacion para cuando la imagen se esta subiendo*/
.loading-gif{
  width: 30px;
  height: 30px;
  float:right
}

.loading-gif-centered{
  width: 50px;
  height: 50px;
}

/*formato de la imaen cuando esta se enccuentra en forms*/
.img-forms{
  max-height: 240px;
  max-width: 320px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.img-border{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/*formato de la imagen cuando esta se encuentra en listas*/
.img-lists{
  width:  100px;
  height: 100px;
}
/***************************WIDGETS*******************************/
/* cbx = color boxes (widgets de colores para desplegar info) */
.cbx {
  padding: 0 !important;
  text-align: center;
  overflow: hidden;
  
  cursor: pointer;
  margin: 0px !important; 
}
.cbx i {
  font-size: 28px;
  margin-top: 10px;
  color: #ffffff; 
}
.cbx .name {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin: 4px 0 10px 0;
  color: #ffffff; 
}
.cbx .count {
  color: #ffffff;
  font-size: 20px; 
  font-weight: bold; 
}

.cbx.cbx-1 div:first-child {background-color: #2E7D32; }
.cbx.cbx-1 div:last-child {background-color: #4CAF50; }
.cbx.cbx-2 div:first-child {background-color: #0277BD; }
.cbx.cbx-2 div:last-child {background-color: #03A9F4; }
.cbx.cbx-3 div:first-child {background-color: #c00000; }
.cbx.cbx-3 div:last-child {background-color: #ff5656;}
.cbx.cbx-4 div:first-child {background-color: #00695C; }
.cbx.cbx-4 div:last-child {background-color: #009688; }
.cbx.cbx-5 div:first-child {background-color: #452DA0; }
.cbx.cbx-5 div:last-child {background-color: #673AD7; }
.cbx.cbx-6 div:first-child {background-color: #F9AB25; }
.cbx.cbx-6 div:last-child {background-color: #FDD835; }
.cbx.cbx-7 div:first-child {background-color: deeppink; }
.cbx.cbx-7 div:last-child {background-color:  rgba(255, 20, 139, 0.72);}

.estado {
  padding: 0 !important;
  text-align: center;
  overflow: hidden;
  max-height:100px;
  max-width:200px;
  margin-bottom: 0px !important; 
}
.estado .estado-titulo{
   font-size: 14px;
  display: inline-block;
  width: 100%;
  margin: 4px 0 10px 0;
  color: #ffffff; 
}
.estado .estado-subtitulo {
  color: #ffffff;
  font-size: 20px; 
  font-weight: bold; 
}
.estado.estado-ejecutado div:first-child{background-color: #2E7D32;}
.estado.estado-borrador div:first-child{background-color: #0277BD;;}
.estado.estado-publicado div:first-child{background-color: #2E7D32;}
.estado.estado-archivado div:first-child{background-color: #c00000;}

/***************************FORMS Y OTROS*******************************/
.form-centered {  
   text-align:center;
}
.form-centered form-inline {
   display:inline-block;
}
/* formatea el titulo de los heading del detalle (titulo con el nombre) de las entidades*/
.heading-detalle{
font-size: 28px;
  margin-top: 10px;
}
.sub-heading-detalle{
 font-size: 14px;
 font-weight: bold;
  display: inline-block;
  width: 100%;
  margin: 4px 0 10px 5px;
}
/* agregan estilos a los file input, TODO hacer una imagen mas bonita y en español */

.file_button_container,
  .file_button_container input {
       height: 50px;
       width: 263px;
   }

   .file_button_container {
       background: transparent url(/resources/img/upload.png) left top no-repeat;
   }

   .file_button_container input {
       opacity: 0;
   }


/*agrega resaltado de texto para la ruta activa*/
.ruta-activada{
  color: #FFC107 !important;
  font-weight: bold;
}

.ruta-activada>.ui-button-icon-left{
  color:#FFC107 !important;
}

/*cambia el cursor para efecto similar a "link"*/
.cursor{
   cursor: pointer;
}

/***************************ESTRUCTURALES*******************************/
 /*agrega espacio minimo al card (contenedor) donde estan los forms y listas para que no se compacten
 si es que hay pocos elementos*/
.wrapper-spacing{
  margin: 10px auto;
  min-height: 500px;
}

 /*agrega margin al breadcrumb*/
.ui-breadcrumb{
  margin-bottom:10px;
}
/* usar en inputs, ayudan a formatear la estructura de los forms agegando margin arriba y debajo de cada imput*/
 .input-spacing {
 margin-top: 10px;
 margin-bottom: 13px;
 }
 .input-spacing-long {
 margin-top: 12px;
 margin-bottom: 12px;
 }
  /*cambia el tamaño de los botones para que envuelvan el texto interior*/
.btn-compact{
width:auto
}
 /*mueve el elemento seleccionado hacia la derecha*/
.pull-right{
clear: both !important;
margin:14px 24px 0 0;
float:right !important;
}
 /*mueve el elemento seleccionado hacia la izquierda*/
.pull-left{
  clear: both;
margin:14px 24px 0 0;
float:left !important;
}
.editor{
  min-height: 400px;
}


/**
####### Animaciones ######
**/
.fade-in {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}
.fade-out {
    -webkit-animation: fadeout 0.5s;
       -moz-animation: fadeout 0.5s;
        -ms-animation: fadeout 0.5s;
         -o-animation: fadeout 0.5s;
            animation: fadeout 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
   from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
     from { opacity: 1; }
    to   { opacity: 0; }
}

body .ui-breadcrumb ul li a{
  background-color: transparent;
}

.splash-screen{
  background-color: #424242;
}

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-shadow{
      left: 25%;
    top: 10%;
}