<div style="margin-top:70px" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" i18n>Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" routerLink="/home"><img class=" img-responsive user" style="margin-top: -15px;" src="./assets/img/affinity_logo_only.png" ></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li class="hidden">
                        <a></a>
                    </li>
                    <li>
                        <a routerLink="account" routerLinkActive="menu-item-active" i18n>My Account</a>
                    </li>
                    <li>
                        <a routerLink="activity" routerLinkActive="menu-item-active" i18n>My Activity</a>
                    </li>
                    <li>
                        <a routerLink="mission" routerLinkActive="menu-item-active" i18n>Earn Points</a>
                    </li>
                    <li>
                        <a routerLink="rewards" routerLinkActive="menu-item-active" i18n>Rewards</a>
                    </li>
                    <!--<a (click)="openPopover($event.currentTarget)" class="button-cursor">Signed in as ...</a>-->
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li class="dropdown" >
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-responsive user-avatar" [src]="miembro.avatar"  />
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a routerLink="profile" routerLinkActive="menu-item-active" style="text-transform: none;">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true" i18n></span> Profile</a>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li>
                                    <a (click)="logout()" style="text-transform: none;">
                                        <span class="glyphicon glyphicon-off" aria-hidden="true" i18n></span> Logout</a>
                                </li>
                            </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <router-outlet></router-outlet>
    <footer>
        <section id="footer" class="bg-light-gray" style="padding:50px">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright" i18n>Copyright &copy; 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li i18n><a>Privacy Policy</a>
                        </li>
                        <li i18n><a>Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
</div>

<!--<router-outlet></router-outlet>-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h4 class="modal-title" i18n>Modal Header</h4>
            </div>
            <div class="modal-body">
                <p i18n> Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n>Close</button>
            </div>
        </div>

    </div>
</div>