<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12" style="background: whitesmoke;">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                <div class="ui-g-5 ui-md-5"></div>
                <div class="ui-g-2 ui-md-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
            </div>
            <!--Solo se permite agregar nuevos detalles si el documento aún se encuentra abierto-->
            <div class="ui-g-12" *ngIf="!documento.indCerrado && escritura">  
                <div class="card">
					<p-fieldset i18n-legend legend="Nuevo detalle">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <!--Formulario para la inserción de un nuevo detalle de documento-->
                            <form role="form" [formGroup]="formDetalle">
                                <!--Código interno del premio-->
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"><ng-container i18n><strong>Código interno de premio:</strong></ng-container></div>
                                    <div class="ui-grid-col-7">
                                        <input pInputText type="text" id="txtCodigoN" name="txtCodigoN" maxlength="50" i18n-placeholder placeholder="Ejemplo: COD-120" formControlName="codigo" [(ngModel)]="premio.codPremio" (blur)="confirmarExistenciaPremio()">
                                        <small *ngIf="!entidadValida"><p style="color:darkgrey;" i18n>El código del premio no es válido.</p></small>
                                    </div>
                                    <div class="ui-grid-col-2"><button pButton type="button" i18n-label label="Buscar" icon="ui-icon-search" (click)="mostrarPremios()" style="margin-left: 32px"></button></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"><ng-container i18n><strong>Nombre:</strong></ng-container></div>
                                    <div class="ui-grid-col-7">
                                        <input pInputText type="text" placeholder="{{premio.nombre}}" [disabled]="true">
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-g-12"></div>
                                </div>
                                <!--Descripción -->
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"><ng-container i18n><strong>Descripción:</strong></ng-container></div>
                                    <div class="ui-grid-col-7">
                                        <input pInputText type="text" placeholder="{{premio.descripcion}}" [disabled]="true">
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-g-12"></div>
                                </div>
                                <!--Cantidad de unidades de premio-->
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"><ng-container i18n><strong>Cantidad de unidades:</strong></ng-container></div>
                                    <div class="ui-grid-col-7"><input type="number" pInputText id="txtCantidadN" name="txtCantidadN" [min]="1" [(ngModel)]="unidades" formControlName="unidades"></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-g-12"></div>
                                </div>
                                <div class="ui-grid-row" *ngIf="documento.tipo == 'C'">
                                    <div class="ui-grid-col-2"><ng-container i18n><strong>Precio unitario:</strong></ng-container></div>
                                    <div class="ui-grid-col-7"> <input type="number" pInputText id="txtPrecioN" name="txtPrecioN" [min]="0" [(ngModel)]="precio" formControlName="precio"></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-g-12"></div>
                                </div>
                                <div class="ui-grid-row" *ngIf="!documento.indCerrado && escritura">
                                    <div class="ui-grid-col-9"></div>
                                    <div class="ui-grid-col-2"> <button pButton type="button" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formDetalle.valid" (click)="agregarDetalle()" style="margin-left: 32px"></button></div>
                                </div>
                            </form>
						</div>
					</p-fieldset>
				</div>
            </div>

            <!-- Se muestra la tabla con todos los detalles del documento -->
            <div class="ui-g-12 ui-md-12" *ngIf="!listaVacia && !cargandoDatos">
                <p-dataTable [value]="listaDetalles" [paginator]="true" [rows]="12" [pageLinks]="3" 
                 [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList"
                 expandableRows="true" #detail (onRowClick)="detail.toggleRow($event.data); detalleSeleccionado($event.data)">
                    <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
                    <p-header i18n>Detalles disponibles</p-header>
                    <p-column i18n-header field="codPremio" header="Cod. Premio">
                        <ng-template let-detalle="rowData" pTemplate="body">
                            <span>{{detalle.codPremio.codPremio}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header header="Descripción">
                        <ng-template let-detalle="rowData" pTemplate="body">
                            <span>{{detalle.codPremio.nombre}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="cantidad" header="Cantidad">
                        <ng-template let-detalle="rowData" pTemplate="body">
                            <span>{{detalle.cantidad}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="precio" header="Valor unitario" *ngIf="documento.tipo == 'C'">
                        <ng-template let-detalle="rowData" pTemplate="body">
                            <span>{{detalle.precio}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="promedio" header="Valor promedio" *ngIf="documento.tipo == 'C'">
                        <ng-template let-detalle="rowData" pTemplate="body" >
                            <span>{{detalle.promedio}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header header="Acción" styleClass="col-button" *ngIf="documento.indCerrado == false && escritura">
                        <ng-template let-detalle="rowData" pTemplate="body" >
                            <!--Eliminar un detalle del documento-->
                            <button pButton type="button" i18n-label label="Eliminar" (click)="dialogoConfirmacion(detalle.numDetalleDocumento)" icon="ui-icon-delete"></button>
                        </ng-template>
                    </p-column>
                    <!--Muestra información más detallada de cada detalle de documento-->
                    <ng-template let-detalle pTemplate="rowexpansion">
                        <div class="ui-grid  ui-fluid" style="font-size:16px;padding:20px">
                            <form role="form" [formGroup]="formDetalle">
                                <div class="ui-g-12">
                                    <div class="ui-g-12 ui-md-2">
                                        <img src='{{detalle.codPremio.imagenArte}}' class="listImg borderImg">
                                    </div>
                                    <div class="ui-g-12 ui-md-10">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-10"><h2>{{detalle.codPremio.nombre}}</h2></div>
                                        </div>
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-2"><label i18n>Precio promedio:</label></div>
                                            <div class="ui-grid-col-10">{{detalle.promedio}}</div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-12">
                                        <div class="ui-grid ui-grid-pad">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-2"><label i18n>Cod. Premio:</label></div>
                                                <div class="ui-grid-col-7">
                                                    <input pInputText type="text" id="txtPremio" name="txtPremio" maxlength="50" [value]="detalle.codPremio.codPremio"  [disabled]="true">
                                                </div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-2"><label i18n>Cantidad:</label></div>
                                                <div class="ui-grid-col-7"><input type="number" pInputText id="txtCantidad" name="txtCantidad" [min]="1" [value]="detalle.cantidad" formControlName="unidades"></div>
                                            </div>
                                            <div class="ui-grid-row" *ngIf="documento.tipo == 'C'">
                                                <div class="ui-grid-col-2"><label i18n>Precio:</label></div>
                                                <div class="ui-grid-col-7"><input type="number" pInputText id="txtPrecio" name="txtPrecio" [min]="0" [value]="detalle.precio" formControlName="precio"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-12" *ngIf="!documento.indCerrado">
                                        <div class="ui-g-12 ui-md-4 ui-lg-4"></div>
                                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                                            <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="guardandoDatos" />
                                        </div>
                                        <div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="escritura">
                                            <!--Permite guardar los detalles en caso de sufrir modificaciones-->
                                            <button pButton type="button" i18n-label label="Guardar" class="green-btn" (click)="editarDetalle()" icon="ui-icon-save"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </p-dataTable>
            </div>
            <!--Se muestra este mensaje si no existen productos-->
            <div class="ui-g-12 ui-md-12" *ngIf="listaVacia && !cargandoDatos">
                <label i18n>No existen detalles para este documento.</label>
            </div>
        </div>
    </div>                    
</div>

<!--Permite mostrar los premios disponibles para agregar en el detalle-->
<p-dialog i18n-header header="Premios" scrollable="true" scrollHeight="200px" [(visible)]="dialogPremios" [responsive]="true" width="900" height="auto" [resizable]="true"  showEffect="fade" [modal]="true">
    <div class="ui-g">
        <!--Se realizan búsquedas según un criterio-->
        <div class="ui-g-12 ui-md-8 ui-lg-8">
		    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="buscarPremios()" (onRemove)="buscarPremios()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<small><p style="color:darkgrey;" i18n>Ingrese el criterio de búsqueda y presione "enter" para continuar</p></small>
		</div>
        <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
            <div class="ui-g-5 ui-md-5"></div>
            <div class="ui-g-2 ui-md-2">
                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
            </div>
        </div>
        <!--Premios disponibles en el sistema para su uso en el documento-->
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
            <p-dataGrid [value]="listaPremios" [paginator]="true" [rows]="8" [lazy]="true" (onLazyLoad)="loadPremio($event)" [totalRecords]="totalRecordsPremio">
                <p-header i18n >
                    Premios disponibles
                </p-header>
                <ng-template let-premio pTemplate="item">
                    <div class="gridList ui-g-12 ui-md-3">
                        <p-panel [style]="{'text-align':'center'}" (click)="premioSeleccionado(premio)">
                             <p-header >
                                <div style="height: 43px">{{premio.nombre}}</div>
                            </p-header>
                            <img class="cp-list cp-round" src="{{premio.imagenArte}}">
                            <div class="car-detail">{{premio.codPremio}}</div>
                            <div class="car-detail">{{premio.indTipoPremio | tipoPremio}}</div>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
        </div>  
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" i18n-label label="Cancelar" (click)="dialogPremios = false" icon="ui-icon-close"></button>
        </div>
    </p-footer>
</p-dialog>


<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog [(visible)]="confirmar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Remover" (click)="eliminarDetalle()" icon="ui-icon-trash" *ngIf="escritura"></button>
        <button pButton type="button" i18n-label label="Cancelar" (click)="confirmar = false" icon="ui-icon-close"></button>
    </p-footer>
</p-dialog>
