<div class="ui-fluid">
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-10 ui-lg-10 heading-detalle">
                    <ng-container i18n>Documentos de inventario</ng-container>
                </div>
                <!--Nuevo documento-->
                <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
                    <button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="nuevo()" icon="ui-icon-add"></button>
                </div>
            </div>
            <!--Cierre de mes-->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-10"></div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
                    <button pButton type="button" i18n-label label="Cierre de mes" class="red-btn" (click)="dialogCierre = true" icon="ui-icon-add"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-10">
                    <div class="sub-heading-detalle">
                        <p class="infoSmall" i18n>Se registran los movimientos realizados que afectan las existencias de premios.</p>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button pButton type="button" i18n-label label="Búsqueda avanzada" (click)="busquedaAvanzada = !busquedaAvanzada;"></button>
                </div>
            </div>
            <!--Búsqueda avanzada-->
            <div class="ui-g-12 ui-lg-12 fade-in" *ngIf="busquedaAvanzada">
                <p-fieldset legend="Tipo de documento" class="ui-g-12 ui-md-12">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                        <div class="ui-g-12 ui-md-3">
                            <p-checkbox name="group1" value="C" i18n-label label="Compra" (onChange)="obtenerDocumentoPorTermino()" [(ngModel)]="tipo"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <p-checkbox name="group1" value="A" i18n-label label="Ajuste más" (onChange)="obtenerDocumentoPorTermino()" [(ngModel)]="tipo"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-3 ">
                            <p-checkbox name="group1" value="M" i18n-label label="Ajuste menos" (onChange)="obtenerDocumentoPorTermino()" [(ngModel)]="tipo"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-3 ">
                            <p-checkbox name="group1" value="I" i18n-label label="Inter Ubicación" (onChange)="obtenerDocumentoPorTermino()" [(ngModel)]="tipo"></p-checkbox>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset i18n-legend legend="Ubicación" class="ui-g-12 ui-md-6">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                        <div class="ui-g-12 ui-md-12" *ngIf="lecturaUbicacion">
                            <seleccion-ubicaciones [(ngModel)]="ubicacion" name="idLocation" (click)="obtenerDocumentoPorTermino()"> </seleccion-ubicaciones>
                        </div>
                         <div class="ui-g-12 ui-md-12" *ngIf="!lecturaUbicacion">
                            <ng-container i18n><strong>No cuenta con permisos de lectura sobre ubicaciones</strong></ng-container>
                         </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Estado" class="ui-g-12 ui-md-6">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                        <div class="ui-g-12 ui-md-6">
                            <p-radioButton name="group2" value="FALSE" i18n-label label="Abierto" (onClick)="obtenerDocumentoPorTermino()" [(ngModel)]="estadoDoc"></p-radioButton>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-radioButton name="group2" value="TRUE" i18n-label label="Cerrado" (onClick)="obtenerDocumentoPorTermino()" [(ngModel)]="estadoDoc"></p-radioButton>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                <div class="ui-g-5 ui-md-5"></div>
                <div class="ui-g-2 ui-md-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
            </div>
        </div>
        <div class="ui-grid-12" *ngIf="!cargandoDatos">
            <div class="ui-g">
                <div *ngIf="listaVacia" class="ui-g-12 ui-md-12">
                    <label i18n>No existen documentos en el sistema.</label>
                </div>
                <!--Documento en el sistema-->
                <div class="ui-g-12 ui-md-12" *ngIf="!listaVacia">
                    <p-dataList [value]="listaDocumento" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
                        <p-header i18n>
                            Documentos
                        </p-header>
                        <ng-template let-documento pTemplate="item">
                            <div class="listBorder clearfix">
                                <button pButton type="button" class="listButton" (click)="gotoDetail(documento.numDocumento)" icon="ui-icon-edit"></button>
                                <div class="ui-g-1 ui-md-1 ui-lg-1" *ngIf="!documento.indCerrado">
                                    <img src="/resources/img/green_circle.png" height="17" width="17" class="status" />
                                </div>
                                <div class="ui-g-1 ui-md-1 ui-lg-1" *ngIf="documento.indCerrado">
                                    <img src="/resources/img/red_circle.png" height="17" width="17" class="status" />
                                </div>
                                <div class="ui-g-11 ui-md-10 ui-lg-10 ui-g-nopad" id="margin-list">
                                    <div class="ui-grid-row">
                                        <div class="ui-g-12 ui-md-2 element-list">
                                            <p i18n><strong>Documento:</strong></p>
                                        </div>
                                        <div class="ui-g-12 ui-md-5 element-list">
                                            <p>{{documento.numDocumento}}</p>
                                        </div>
                                        <div class="ui-g-4 ui-md-2 element-list">
                                            <p i18n><strong>Tipo:</strong></p>
                                        </div>
                                        <div class="ui-g-8 ui-md-3 element-list">
                                            <p>{{documento.tipo | documentoTipo}}</p>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-g-4 ui-md-2 element-list">
                                            <p i18n><strong>Origen:</strong></p>
                                        </div>
                                        <div class="ui-g-8 ui-md-5 element-list">
                                            <p>{{documento.ubicacionOrigen.nombre}}</p>
                                        </div>
                                        <div class="ui-g-4 ui-md-2 element-list">
                                            <p i18n><strong>Fecha creación:</strong></p>
                                        </div>
                                        <div class="ui-g-8 ui-md-3 element-list">
                                            <p>{{documento.fecha | date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataList>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Cuadro de dialogo para confirmar el cierre de mes-->
<p-dialog i18n-header header="Confirmación" [(visible)]="dialogCierre" [responsive]="true" height="500px" [resizable]="true"
    showEffect="fade" [modal]="true">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <h2 i18n>Cierre de Mes</h2>
        <p i18n> Solo los <strong>documentos de inventario cerrados</strong> serán utilizados para los cálculos.<br> Esta acción es
            irreversible y afectará las existencias del sistema.<br> <br>
            <strong>¿Desea continuar con el cierre?</strong>
        </p>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="dialogCierre = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Cerrar Mes" (click)="cierreMes()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>