<div class="ui-fluid">
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-10 ui-lg-10 heading-detalle">
                    <ng-container i18n>Movimientos de Redenciones</ng-container>
                </div>
            </div>
            <!--Fecha de inicio para la búsqueda-->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-5 ui-lg-5">
                    <div class="ui-g-12 ui-md-4 ui-lg-3"> <label i18n><strong>Fecha inicio:</strong></label> </div>
                    <div class="ui-g-12 ui-md-7 ui-lg-8">
                        <p-calendar [showIcon]="true" id="txtInicio" name="txtInicio" showAnim="slideDown" [(ngModel)]="fechaInicio" dateFormat="dd/mm/yy"
                            [readonlyInput]="true"></p-calendar>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-5"></div>
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <button pButton type="button" *ngIf="!busquedaAvanzada" i18n-label label="Búsqueda avanzada" icon="ui-icon-search" (click)="toggleBusquedaAvanzada()"></button>
                    <button pButton type="button" *ngIf="busquedaAvanzada" i18n-label label="Buscar" icon="ui-icon-search" (click)="busquedaHistoricos()"></button>
                </div>
            </div>
            <!--Opciones de búsqueda avanzada-->
            <div class="ui-g-12 ui-lg-12 fade-in" *ngIf="busquedaAvanzada">
                <div class="ui-g-12 ui-md-12">
                    <p-fieldset legend="Movimiento" class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-12">
                                <p-dropdown [options]="itemsTipo" id="ddTipo" name="ddTipo" [(ngModel)]="tipo" filter="filter" [autoWidth]="false" (onChange)="cambioTipo()"></p-dropdown>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Ubicación" class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-12" *ngIf="lecturaUbicacion">
                                <seleccion-ubicaciones [(ngModel)]="ubicSelec" name="idLocation"> </seleccion-ubicaciones>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="!lecturaUbicacion">
                                <ng-container i18n><strong>No cuenta con permisos de lectura sobre ubicaciones</strong></ng-container>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Premio" class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-12" *ngIf="lecturaPremio">
                                <seleccion-premios [(ngModel)]="premio" name="premio" ></seleccion-premios>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="!lecturaPremio">
                                <ng-container i18n><strong>No cuenta con permisos de lectura sobre premios</strong></ng-container>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <p-fieldset legend="Miembro" class="ui-g-12 ui-md-6" *ngIf="mostrarEstado">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-12" *ngIf="lecturaMiembro">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        <ng-container i18n>
                                            <strong>Miembro:</strong>
                                        </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8" style="padding-right: 10px;">
                                        <input type="text" pInputText [(ngModel)]="nombre" style="width:100%" readonly/>
                                    </div>
                                    <div class="ui-grid-col-2" style="padding-left: 7px; padding-right: 7px;">
                                        <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialog=true; busquedaMiembros()"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="!lecturaMiembro">
                                <ng-container i18n><strong>No cuenta con permisos de lectura sobre miembros</strong></ng-container>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Estado" class="ui-g-12 ui-md-6" *ngIf="mostrarEstado">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-12">
                                <p-multiSelect [options]="itemsEstado" [style]="{'width':'100%'}" defaultLabel="" [(ngModel)]="estado"></p-multiSelect>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>

    <!--Se muestra la lista con los registros del movimientos en el sistema -->
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                <div class="ui-g-5 ui-md-5"></div>
                <div class="ui-g-2 ui-md-2"><img class="loading-gif-centered" src="/resources/img/loading_icon.gif"></div>
            </div>
        </div>

        <div class="ui-grid-12" *ngIf="!cargandoDatos">
            <div class="ui-g">
                <!--Se muestra este mensaje si no existen movimientos-->
                <div *ngIf="listaVacia" class="ui-g-12 ui-md-12">
                    <label i18n>No existen registros de movimientos en el sistema.</label>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <p-dataTable [value]="listaHistoricos" [paginator]="true" [rows]="12" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords"
                        [rowHover]="true" [styleClass]="gridList">
                        <p-header i18n>Lista</p-header>
                        <p-column i18n-header header="Fecha">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <span>{{historico.fecha | date}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Cod. Premio">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <span>{{historico.codPremio.codPremio}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Descripción">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <span>{{historico.codPremio.nombre}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Cantidad" [style]="{'width':'130px'}">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <span>{{historico.cantidad}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Ubicación">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <span>{{historico.ubicacionOrigen.nombre}}</span>
                            </ng-template>
                        </p-column>

                        <p-column i18n-header header="Miembro">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <div *ngIf="historico.tipoMovimiento == 'R'">
                                    <span>{{historico.idMiembro.nombre}} {{historico.idMiembro.apellido}}</span>
                                </div>
                                <div *ngIf="historico.tipoMovimiento != 'R'">-----</div>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Estado">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <div *ngIf="historico.tipoMovimiento == 'R'">
                                    <span>{{historico.status | estadoRedencion}}</span>
                                </div>
                                <div *ngIf="historico.tipoMovimiento != 'R'">-----</div>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Acción" [style]="{'width':'110px'}">
                            <ng-template let-historico="rowData" pTemplate="body">
                                <button type="button" pButton *ngIf="historico.status == 'S' && escritura" icon="ui-icon-check" (click)="cambioEstado(historico, 'R')"></button>
                                <button type="button" pButton *ngIf="historico.status == 'S' && escritura" class="red-btn" icon="ui-icon-close" (click)="cambioEstado(historico, 'A')"></button>
                                <div *ngIf="historico.status == 'S' && !escritura">
                                    <ng-container i18n>No cuenta con los permisos para modficar el estado.</ng-container>
                                </div>
                                <div *ngIf="historico.status != 'S'">----</div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Cuadro de dialogo para editar el historico de movimiento, ya sea para redimir o anular-->
<p-dialog i18n-header header="Redenciones" [(visible)]="dialogHistorico" [responsive]="true" width="500" height="auto" [resizable]="true"
    showEffect="fade" [modal]="true">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-12">
                <div *ngIf="accion == 'R'">
                    <h3 i18n><strong>Información del premio a redimir:</strong></h3>
                </div>
                <div *ngIf="accion == 'A'">
                    <h3 i18n><strong>Información del premio a anular</strong></h3>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4"> <img class="listImg borderImg" src="{{imagen}}"> </div>
                <div class="ui-g-12 ui-md-8">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-10">
                            <h2>{{premioNombre}}</h2>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-5">
                            <ng-container i18n><strong>Código premio:</strong></ng-container>
                        </div>
                        <div class="ui-grid-col-7">{{premioCod}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-5">
                            <ng-container i18n><strong>Cantidad:</strong></ng-container>
                        </div>
                        <div class="ui-grid-col-7">{{historico.cantidad}}</div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4"> <img class="listImg borderImg" src="{{avatar}}"> </div>
                <div class="ui-g-12 ui-md-8">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-10">
                            <h2>{{miembroNombre}}</h2>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-5">
                            <ng-container i18n><strong>Ubicación:</strong></ng-container>
                        </div>
                        <div class="ui-grid-col-7">{{ubicNombre}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-5">
                            <ng-container i18n><strong>Fecha de obtencion:</strong></ng-container>
                        </div>
                        <div class="ui-grid-col-7">{{historico.fecha | date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="dialogHistorico = false" icon="ui-icon-close"></button>
        <button pButton type="button" *ngIf="accion == 'R'" i18n-label label="Redimir" (click)="editarHistorico()" icon="ui-icon-check"></button>
        <button pButton type="button" *ngIf="accion == 'A'" i18n-label label="Anular" (click)="editarHistorico()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>

<!--Muestra la ventana de dialogo para seleccionar un miembro-->
<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialog" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaMiembros()" (onRemove)="busquedaMiembros()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMiembros" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMiembro" [lazy]="true" (onLazyLoad)="loadDataMiembro($event)">
        <p-column field="nombre" i18n-header header="Miembro">
            <ng-template let-miembro="rowData" pTemplate="body">
                <span>{{miembro.nombre}} {{miembro.apellido}}</span>
			</ng-template>
        </p-column>
        <p-column field="correo" i18n-header header="Correo"></p-column>
        <p-column field="nombreUsuario" i18n-header header="Nombre Usuario"></p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-miembro="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMiembro(miembro)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>