<div class="ui-fluid">
	<div class="ui-g-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-9">
					<h1 i18n>Proveedores</h1>
				</div>
				<!--Butón para agregar un nuevo proveedor-->
					<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
						<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="accion = true" icon="ui-icon-add"></button>
					</div>
				<div class="ui-g-12 ui-lg-12 fade-in" *ngIf="avanzada">
					<div class="card shadow-box ui-shadow-2">
						<div class="ui-g-2 ui-lg-2">
						<ng-container i18n> Atributos:</ng-container>
						</div>
						<div class="ui-g-2 ui-lg-2">
							<p-checkbox value="codigoProveedor" i18n-label label="Código" (onChange)="listaProveedores=undefined;busquedaProveedores()" [(ngModel)]="camposFiltro"></p-checkbox>
						</div>
						<div class="ui-g-2 ui-lg-2">
							<p-checkbox value="direccion" i18n-label label="Dirección" (onChange)="listaProveedores=undefined;busquedaProveedores()" [(ngModel)]="camposFiltro"></p-checkbox>
						</div>
						<div class="ui-g-2 ui-lg-2">
							<p-checkbox value="descripcion" i18n-label label="Descripción" (onChange)="listaProveedores=undefined;busquedaProveedores()" [(ngModel)]="camposFiltro"></p-checkbox>
						</div>
						<div class="ui-g-2 ui-lg-2">
							<p-checkbox value="cedJuridica" i18n-label label="Cédula Jurídica" (onChange)="listaProveedores=undefined;busquedaProveedores()" [(ngModel)]="camposFiltro"></p-checkbox>
						</div>
						<div class="ui-g-2 ui-lg-2">
							<p-checkbox value="telefono" i18n-label label="Teléfono" (onChange)="listaProveedores=undefined;busquedaProveedores()" [(ngModel)]="camposFiltro"></p-checkbox>
						</div>
						<div class="clearfix" style="margin-bottom: 20px"></div>
					</div>
				</div>
			</div>
		</div>
		<!--Se muestra la lista con los proveedores disponibles-->
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					<div class="ui-g-5 ui-md-5"></div>
					<div class="ui-g-2 ui-md-2">
						<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
					</div>
				</div>
			</div>
			<div class="ui-grid-12">
				<div *ngIf="!listaVacia && !cargandoDatos">
					<p-dataList [value]="listaProveedores" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
						<p-header i18n>
							Proveedores
						</p-header>
						<ng-template let-proveedorList pTemplate="item">
							<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
								<button type="button" pButton icon="ui-icon-edit" (click)="verDetalle(proveedorList)" style="margin:9px 24px 0 0;float:right"></button>
								<button type="button" pButton icon="ui-icon-delete" (click)="confirmarAccion(proveedorList.idProveedor)" style="margin:9px 24px 0 0;float:right" *ngIf="escritura" ></button>
								<div class="ui-g-12 ui-md-10 ui-lg-10">
									<div class="ui-grid-row">
										<div class="ui-g-12 ui-md-4">
											<label i18n><strong>Código:</strong></label>
											<label>{{proveedorList.codigoProveedor}}</label>
										</div>
										<div class="ui-g-12 ui-md-4">
											<label i18n><strong>Descripción:</strong></label>
											<label>{{proveedorList.descripcion}}</label>
										</div>
										<div class="ui-g-12 ui-md-4">
											<label i18n><strong>Teléfono:</strong></label>
											<label>{{proveedorList.telefono}}</label>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</p-dataList>
				</div>
				<div *ngIf="listaVacia && !cargandoDatos">
					<label i18n>No hay proveedores disponibles</label>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de dialog para insertar/editar un proveedor-->
<p-dialog i18n-header header="Proveedor" [closeOnEscape]="false" [closable]="false" [responsive]="true" [(visible)]="accion" showEffect="fade"
	[modal]="true" width="600" height="auto" [resizable]="true">
	<div class="ui-g-12 ui-md-12">
		<!--Formulario para insertar/editar un proveedor-->
		<form role="form" [formGroup]="formProveedor">
			<div class="ui-g form-group">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<!--Código-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5">
							<label for="txtCod" i18n><strong>Código del proveedor:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7">
							<input pInputText type="text" id="txtCod" name="txtCod" maxlength="40" formControlName="codigoProveedor">
						</div>
					</div>
					<!--Cédula Jurídica-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5">
							<label for="txtCedJuridica" i18n><strong>Cédula Jurídica:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7">
							<input pInputText type="text" id="txtCedJuridica" name="txtCedJuridica" maxlength="30" formControlName="cedJuridica">
						</div>
					</div>
					<!--Descripción -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5">
							<label for="txtDireccion" i18n><strong>Descripción:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7">
							<input pInputText type="text" id="txtDireccion" name="txtDireccion" maxlength="200" formControlName="descripcion">
						</div>
					</div>
					<!--Direccion -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5">
							<label for="txtDireccion" i18n><strong>Dirección:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7">
							<input pInputText type="text" id="txtDireccion" name="txtDireccion" maxlength="200" formControlName="direccion">
						</div>
					</div>
					<!--Teléfono -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5">
							<label for="txtTelefono" i18n><strong>Teléfono:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7">
							<input pInputText type="text" id="txtTelefono" name="txtTelefono" maxlength="20" formControlName="telefono">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="cancelarAccion()"></button>
		<!--Si es edición o agregar un proveedor-->
        <button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="accionProveedor()" [disabled]="!formProveedor.valid" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>

<!--confirmacion para remover un proveedor-->
<p-dialog i18n-header header="Confirmación" [(visible)]="remover" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
    <div class="ui-g-12 ui-md-12">
        <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
    </div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="remover = false"></button>
        <button pButton type="button" i18n-label label="Remover" icon="ui-icon-check" (click)="eliminarProveedor()" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>