<div class="ui-g ui-fluid">
    <div class="ui-g-10"></div>
    <div class="ui-g-2">
        <button i18n-label label="Agregar Regla" pButton (click)="mostrarModalInsertar()"></button>
    </div>
    <div class="ui-g-12 ui-lg-12" *ngIf="listaReglas&&listaReglas.length<=0">
        <div style="background: #2196F3; font-size: x-small; color: white;">
            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                <i class="material-icons">information</i>
            </div>
            <div class="ui-g-8 ui-md-7 ui-lg-7">
                <label i18n>No hay datos disponibles.</label>
            </div>
        </div>
    </div>
    <p-dataList class="ui-g-12 ui-lg-12" *ngIf="listaReglas&&listaReglas.length>0" [value]="listaReglas" [paginator]="true" [rows]="10">
        <p-header i18n> Reglas de asignación automática </p-header>
        <ng-template let-regla pTemplate="item" let-i="index">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-10">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row input-spacing" *ngIf="i>=1">
                                <div class="ui-grid-col-4"><strong i18n>Operador de regla:</strong> </div>
                                <div class="ui-grid-col-8">{{regla.indOperadorRegla|indOperador}}</div>
                            </div>
                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Calendarización:</strong> </div>
                                <div class="ui-grid-col-8">{{regla.fechaIndTipo|indAsignacionPeriodoUltimo}}
                                    <span *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'">{{regla.fechaCantidad}} {{regla.fechaIndUltimo|indAsignacionUltimo}}</span>
                                    <span *ngIf="regla.fechaIndTipo=='D'||regla.fechaIndTipo=='E'">{{regla.fechaInicio|date}}</span>
                                    <span *ngIf="regla.fechaIndTipo=='H'||regla.fechaIndTipo=='E'">{{regla.fechaFinal|date}}</span>
                                </div>
                            </div>

                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Condición:</strong> </div>
                                <div class="ui-grid-col-8">
                                    {{regla.indTipoRegla|reglaAsignacionTipo}} {{regla.indOperador|indReglaOperador}} {{regla.valorComparacion}}
                                </div>
                            </div>
                            <div class="ui-grid-row input-spacing" *ngIf="regla.tier">
                                <div class="ui-grid-col-4"><strong i18n>Tier:</strong> </div>
                                <div class="ui-grid-col-8">{{regla.tier.nombre}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-1">
                        <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="mostrarModalEditar(regla)"></button>
                    </div>
                    <div class="ui-grid-col-1">
                        <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="mostrarModalEliminar(regla)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
</div>

<p-dialog i18n-header header="Información de regla" [(visible)]="displayModal" [modal]="true" [width]="1000" (onHide)="resetGrupoSeleccionado()">
    <div class="ui-grid ui-fluid">
        <div class="ui-g-12">
            <form #form=ngForm>
                <div class="ui-g-2"><ng-container i18n><strong>Operador de regla: </strong></ng-container></div>
                <div class="ui-g-10">
                    <p-dropdown appendTo="body" [options]="itemsOperadoresRegla" [autoWidth]="false" name="itemsOperadoresRegla" [(ngModel)]="regla.indOperadorRegla"
                        required></p-dropdown>
                </div>
                <div class="ui-g-2"><ng-container i18n><strong>Tipo de regla: </strong></ng-container></div>
                <div class="ui-g-10">
                    <p-dropdown required appendTo="body" [options]="itemsTiposRegla" [autoWidth]="false" name="itemsTiposRegla" [(ngModel)]="regla.indTipoRegla"></p-dropdown>
                </div>
                <div class="ui-g-2"><ng-container i18n><strong>Operador: </strong></ng-container></div>
                <div class="ui-g-10">
                    <p-dropdown required appendTo="body" [options]="itemsOperador" [autoWidth]="false" name="selectOperador" [(ngModel)]="regla.indOperador"></p-dropdown>
                </div>
                <div class="ui-g-2"><ng-container i18n><strong>Valor de comparación: </strong></ng-container></div>
                <div class="ui-g-10">
                    <input required type="number" pInputText name="valorComparacion" [(ngModel)]="regla.valorComparacion" />
                </div>
                <div *ngIf="regla.indTipoRegla != 'B'">
                    <div class="ui-g-2"><ng-container i18n><strong>Calendarización: </strong></ng-container></div>
                    <div class="ui-g-10">
                        <p-dropdown required appendTo="body" [options]="itemsCalendarizacion" [autoWidth]="false" name="itemsCalendarizacion" [(ngModel)]="regla.fechaIndTipo"></p-dropdown>
                    </div>
                    <div class="ui-g-2" *ngIf="regla.fechaIndTipo=='D'||regla.fechaIndTipo=='E'"><ng-container i18n><strong>Fecha de inicio: </strong></ng-container></div>
                    <div class="ui-g-10" *ngIf="regla.fechaIndTipo=='D'||regla.fechaIndTipo=='E'">
                        <p-calendar required name="fechaInicio" [(ngModel)]="regla.fechaInicio"></p-calendar>
                    </div>
                    <div class="ui-g-2" *ngIf="regla.fechaIndTipo=='H'||regla.fechaIndTipo=='E'"><ng-container i18n><strong>Fecha de fin: </strong></ng-container></div>
                    <div class="ui-g-10" *ngIf="regla.fechaIndTipo=='H'||regla.fechaIndTipo=='E'">
                        <p-calendar required name="fechaFin" [(ngModel)]="regla.fechaFinal"></p-calendar>
                    </div>
                    <div class="ui-g-2" *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'"><ng-container i18n><strong>En el último:</strong></ng-container></div>
                    <div class="ui-g-1" *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'">
                        <input required type="number" pInputText name="cantFecha" [(ngModel)]="regla.fechaCantidad" />
                    </div>
                    <div class="ui-g-9" *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'">
                        <p-dropdown required appendTo="body" [options]="itemsFechaIndUltimo" [autoWidth]="false" name="fechaIndUltimo" [(ngModel)]="regla.fechaIndUltimo"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-2 ui-helper-clearfix"><ng-container i18n><strong>Grupo de Tier: </strong></ng-container></div>
                <div class="ui-g-10">
                    <p-dropdown appendTo="body" [options]="itemsGruposTier" [autoWidth]="false" name="selectGruposTier" [(ngModel)]="grupoSeleccionado"
                        (onChange)="obtenerListaTier($event)"></p-dropdown>
                </div>
                <div class="ui-g-2" *ngIf="grupoSeleccionado"><ng-container i18n><strong>Tier: </strong></ng-container></div>
                <div class="ui-g-10" *ngIf="grupoSeleccionado">
                    <p-dropdown appendTo="body" [options]="itemsNiveles" [autoWidth]="false" name="selectNivel" [(ngModel)]="regla.tier.idNivel"></p-dropdown>
                </div>
                <div class="ui-g-10"></div>
                <div class="ui-g-2">
                    <div *ngIf="indAccion=='E'">
                        <button pButton [disabled]="!form.valid" icon="ui-icon-save" i18n-label label="Actualizar" (click)="actualizarReglaAsignacion(regla)"></button>
                    </div>
                    <div *ngIf="indAccion=='I'">
                        <button pButton [disabled]="!form.valid" icon="ui-icon-save" i18n-label label="Insertar" (click)="insertarReglasAsignacion(regla)"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un elemento-->
<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea eliminar este elemento?</ng-container>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="displayModalEliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="eliminarReglaAsignacion()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>