<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-9">
                    <div class="ui-g-1 ui-md-1">
                        <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
                    </div>
                    <div class="ui-g-10 ui-md-10">
                        <div class="ui-g-12 ui-md-12">
                            <div class="heading-detalle">
                                {{noticia.titulo}}
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="sub-heading-detalle">
                                <ng-container i18n>Noticia</ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="cargandoInfo" style="text-align: -webkit-center;">
					<img src="/resources/img/loading_icon.gif" height="35" width="35"/>
                </div>
                <!--Estado de la noticia-->
					<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoInfo">
						<div (click)="opA.show($event)" class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado, 'cbx-6': inactivo}">
							<div class="ui-g-4">
								<i class="material-icons">check</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado:</span>
								<ng-container [ngSwitch]="noticia.indEstado">
									<span class="count" *ngSwitchCase="'A'" i18n>Publicado</span>
									<span class="count" *ngSwitchCase="'B'" i18n>Archivado</span>
                                    <span class="count" *ngSwitchCase="'C'" i18n>Borrador</span>
									<span class="count" *ngSwitchCase="'D'" i18n>Inactivo</span>
								</ng-container>
							</div>
						</div>
                    </div>
                    <!--Según el estado, se despliega información y acciones sobre la noticia-->
					<p-overlayPanel #opA>
						<div class="ui-g ui-fluid" style="width:260px">
							<div style="margin:10px 5px 10px 10px">
                                <!--PUBLICADO('A'), ARCHIVADO('B'), BORRADOR('C'), INACTIVO('D');-->
								<h3 class="input-spacing" *ngIf="noticia.indEstado =='A'" i18n><strong>Noticia publicada</strong></h3>
                                <span class="input-spacing" *ngIf="noticia.indEstado =='A'" i18n>Es visible para los miembros del programa.</span>
								<h3 class="input-spacing" *ngIf="noticia.indEstado =='C'" i18n><strong>Noticia borrador</strong></h3>
                                <span class="input-spacing" *ngIf="noticia.indEstado =='C'" i18n>Se permite realizar cambios al contenido, eliminar o publicar. Debe ser publicada para utilizarla en el programa.</span>
                                <h3 class="input-spacing" *ngIf="noticia.indEstado =='B'" i18n><strong>Noticia archivada</strong></h3>
                                <span class="input-spacing" *ngIf="noticia.indEstado =='B'" i18n>Esta noticia no esta disponible para ser usada en el programa.</span>
                                <h3 class="input-spacing" *ngIf="noticia.indEstado =='D'" i18n><strong>Noticia inactiva</strong></h3>
                                <span class="input-spacing" *ngIf="noticia.indEstado =='D'" i18n>Esta noticia se encuentra inactiva hasta que desea usarla de nuevo en el programa.</span>
											
                                <div class="ui-g-12" *ngIf="noticia.indEstado != 'B' && noticia.indEstado != 'A' && escritura && noticia.indAutorAdmin">
                                    <button pButton i18n-label label="Publicar" class="green-btn" (click)="cambiarEstado('A'); opA.hide()" icon="ui-icon-check"></button>
                                </div>
                                <div class="ui-g-12" *ngIf="noticia.indEstado =='C' && escritura && noticia.indAutorAdmin">
                                    <button pButton i18n-label label="Eliminar" class="red-btn" (click)="mostrarCambioEstado('B'); opA.hide()" icon="ui-icon-delete"></button>
                                </div>
                                <div class="ui-g-12" *ngIf="noticia.indEstado =='A' && escritura">
                                    <button pButton class="red-btn" style="margin-top:10px" i18n-label label="Archivar" icon="ui-icon-archive" (click)="mostrarCambioEstado('A'); opA.hide()"></button>
                                </div>
                                <div class="ui-g-12" *ngIf="noticia.indEstado =='A' && escritura && noticia.indAutorAdmin">
                                    <button pButton class="orange-btn" style="margin-top:10px" i18n-label label="Inactivar" icon="ui-icon-stop" (click)="mostrarCambioEstado('F'); opA.hide()"></button>
                                </div>
							</div>
						</div>
					</p-overlayPanel>
				</div>
            </div>
        </div>
        <div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" [routerLink]="general" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-brush" i18n-label label="Audiencia" [routerLink]="audiencia" [routerLinkActive]="['ruta-activada']"></button>
					</div>				
				</div>
			</div>
		</div>
		<div class="card card-w-title">
			<!--Se despliega el componente seleccionado-->
			<router-outlet></router-outlet>
		</div>
    </div>
</div>

<!-- Cuadro de dialogo para remover/cambiar estado de la noticia-->
<p-dialog i18n-header header="Confirmación" [(visible)]="displayCambioEstado" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
            <ng-container>{{pregunta}}</ng-container>
		</div>
	</div>
	<p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="displayCambioEstado = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Eliminar" (click)="removerNoticia()" icon="ui-icon-trash" *ngIf="escritura && accion=='B'"></button>
        <button pButton type="button" i18n-label label="Archivar" (click)="cambiarEstado('B')" icon="ui-icon-archive" *ngIf="escritura && accion=='A'"></button>
        <button pButton type="button" i18n-label label="Inactivar" (click)="cambiarEstado('D')" icon="ui-icon-stop" *ngIf="escritura && accion=='F'"></button>
	</p-footer>
</p-dialog>