<div class="ui-g ui-fluid ">
    <div class="ui-g-12 ui-md-12" style="background: whitesmoke;">  
        <div class="ui-g-12" *ngIf="cargaInicial" style="text-align: -webkit-center;">
            <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf="!cargaInicial">
            <div class="ui-g-12 ui-md-1"></div>
            <div class="ui-g-12 ui-md-10 ui-lg-10">
                <div class="card ui-g">
                    <!-- Se muestra el contenido de la noticia -->
                    <div class="ui-g-12" *ngIf="!editar" style="margin-top: 35px;">
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-1 ui-md-1"></div>
                            <div class="ui-g-10 ui-md-9">
                                <h1 style="font-size: large;font-style: italic;font-weight: lighter;">{{noticia.titulo}}</h1>
                                <hr/>
                            </div>
                            <div class="ui-g-1 ui-md-1">
                                <button pButton type="button" style="margin-top: 25px;" icon="ui-icon-edit" (click)="mostrarEdicion()" *ngIf="!estadoArchivado && escritura && noticia.indAutorAdmin"></button>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-1 ui-md-1"></div>
                            <div class="ui-g-11 ui-md-11">
                                <img style="width:40%" src="{{noticia.imagen}}">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-1 ui-md-1"></div>
                            <div class="ui-g-11 ui-md-9">
                                <p style="font-size:medium; color: grey">{{noticia.contenido}}</p>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-1"></div>
                            <div class="ui-g-12 ui-md-9" style="border-bottom-style: double;border-top-style: groove;border-top-width: thin;border-bottom-width: thin;padding: 18px 0px 15px 11px;">
                                <label style="font-style: italic"><strong>{{noticia.nombreAutor}}, <ng-container *ngIf="noticia.indAutorAdmin" i18n>Administrador. </ng-container> </strong>
                                    <ng-container *ngIf="!noticia.indAutorAdmin" i18n>Miembro. </ng-container></label>
                                <label>{{noticia.fechaModificacion | date}}</label>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Se muestra el contenido para edición de la noticia-->
                    <div class="ui-g-12" *ngIf="editar" style="margin-top: 35px;">
                        <form role="form" [formGroup]="formNoticia">
                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-g-1 ui-md-1"></div>
                                <div class="ui-g-10 ui-md-9">
                                    <textarea pInputTextarea autoResize="autoResize" [rows]="3" [cols]="50" 
                                    id="txtTitulo" name="txtTitulo" maxlength="100" style="font-size: x-large;font-style: italic;"
                                    i18n-placeholder placeholder="Título" formControlName="titulo"></textarea>
                                    <!--<input type="text" pInputText id="txtTitulo" name="txtTitulo" maxlength="100" formControlName="titulo" 
                                    style="font-size: x-large;font-style: italic;" i18n-placeholder placeholder="Título">-->
                                </div>
                                <div class="ui-g-1 ui-md-1">
                                    <button pButton type="button" icon="ui-icon-close" (click)="editar=false"></button>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-g-1 ui-md-1"></div>
                                <div class="ui-g-11 ui-md-11">
                                    <img src='{{imagenNoticia}}'  style="width:40%"  *ngIf="imagenNoticia"/> <!--class="cp-insert cp-round"-->
                                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                                </div>
                                <div class="ui-g-12"></div>
                                <div class="ui-g-12 ui-md-1"></div>
                                <div class="ui-g-12 ui-md-8 ui-lg-7">
                                    <input class="upload" id="imagenNoticia" name="imagenNoticia" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
                                    <label for="imagenNoticia" i18n>Seleccione un archivo</label>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-g-1 ui-md-1"></div>
                                <div class="ui-g-11 ui-md-9">
                                    <textarea id="txtContenido" name="txtContenido" [rows]="1" [cols]="50" pInputTextarea autoResize="autoResize" maxlength="300" formControlName="contenido" 
                                    style="font-size:medium" i18n-placeholder placeholder="Contenido"></textarea>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-g-12 ui-md-6"></div>
                                <div class="ui-g-12 ui-md-2">
                                    <button pButton type="button" icon="ui-icon-close" (click)="cancelarEdicion()" i18n-label label="Cancelar"></button>
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <button pButton type="button" class="green-btn" icon="ui-icon-save" (click)="modificarNoticia()" i18n-label label="Guardar"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                    </div>
                    <!-- Se muestra la cantidad de comentarios y likes -->
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-1 ui-md-1"></div>
                        <div class="ui-g-11 ui-md-10">
                            <div class="ui-g-12 ui-md-4" style="padding: 0 0 0 0">
                                <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 0 0 0 0">
                                    <div class="ui-g card cbx cbx-6">
                                    <div class="ui-g-4">
                                    <i class="material-icons">comment</i>
                                    </div>
                                    <div class="ui-g-8">
                                    <span class="name" i18n>Comentarios</span>
                                    <span class="count">{{noticia.cantComentarios}}</span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-1"></div>
                            <div class="ui-g-12 ui-md-4" style="padding: 0 0 0 0">
                                <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 0 0 0 0">
                                    <div class="ui-g card cbx cbx-7">
                                        <div class="ui-g-4">
                                        <i class="material-icons">favorite</i>
                                        </div>
                                        <div class="ui-g-8">    
                                        <span class="name" i18n>Likes</span>
                                        <span class="count">{{noticia.cantMarcas}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <!-- Comentarios -->
                        <div class="ui-g-12">
                            <div class="ui-g-12 ui-md-1"></div>
                            <div class="ui-g-12 ui-md-11"><h2 i18n style="font-size: large;">Comentarios</h2></div>
                            <div class="ui-g-12 ui-md-1 ui-md-nopad"></div>
                            <div class="ui-g-12 ui-md-10" style="background: whitesmoke">
                                <div class="ui-g-12 ui-md-1"></div>
                                <div class="ui-g-12" *ngIf="noticia.indEstado != 'A'">
                                    <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                                        <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                                            <i class="material-icons">information</i>
                                        </div>
                                        <div class="ui-g-10 ui-md-9 ui-lg-9">
                                            <label i18n>Para dejar un comentario es necesario que la noticia este <strong>publicada</strong> y tenga el permiso de escritura sobre noticia. 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12" *ngIf="noticia.indEstado == 'A' && escritura">
                                    <div class="ui-g-12 ui-md-12 dashboard">
                                        <div class="line-comment ui-fluid card" >
                                            <div class="ui-g"> 
                                                <img src="{{usuario.avatar}}"/> 
                                                <div class="ui-g-10 ui-md-10 commentArea">       
                                                    <textarea (focus)="vacia = false" class="comment-text" pInputTextarea autoResize="autoResize" [rows]="3" [cols]="50" 
                                                    id="txtNuevo" name="txtNuevo" maxlength="300" i18n-placeholder placeholder="Escribe un comentario" [(ngModel)]="respuesta"></textarea>
                                                    <p class="infoSmall" style="margin-left: 5px;" i18n *ngIf="vacia"><small>Debe ingresar un comentario más extenso, intente publicar nuevamente.</small></p>
                                                </div>
                                                <div class="ui-g-12 ui-md-4" style="margin-left: 40px;"><button pButton type="button" (click)="agregarComentario()" i18n-label label="Publicar" [disabled]="publicando"></button></div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <!-- Se van desplegando los comentarios de la noticia utilizando infiniteScroll -->
                                <div *ngIf="!listaVacia" class="ui-g-12" id="divScroll" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="0"  (scrolledUp)="onScrollUp()" (scrolled)="onScroll()" [infiniteScrollThrottle]="300" [ngClass]="{'comments-more': mayor, 'comments-less': menor}">
                                    <div class="ui-g-12 dashboard">
                                        <div class="ui-g-12" *ngIf="botonUp && !scrollVacio && !listaCompleta && !cargando" style="text-align: -webkit-center;">
                                            <button pButton type="button" icon="ui-icon-add" (click)="onScrollUp()"></button>
                                        </div>
                                        <div class="ui-g-12" *ngIf="tipoScroll == 'up' && cargando" style="text-align: -webkit-center;">
                                            <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                                        </div>
                                        <div class="ui-g-12" *ngIf="tipoScroll == 'up' && listaCompleta">
                                            No hay más registros...
                                        </div>
                                        <div class="ui-g-12" *ngFor="let comentario of listaComentarios">
                                            <div class="card line-comment ui-fluid">
                                                <div class="ui-g" style="padding-top: 10px;"> 
                                                    <img src="{{comentario.avatarAutor}}">
                                                    <div class="ui-g-10 ui-md-10">
                                                        <label class="comment-owner"><strong>{{comentario.nombreAutor}}</strong></label>
                                                        <label class="comment-date" *ngIf="comentario.fechaCreacion == comentario.fechaModificacion">{{comentario.fechaCreacion | date:'medium'}}</label>
                                                        <label class="comment-date" *ngIf="comentario.fechaCreacion != comentario.fechaModificacion"><ng-container i18n>Editado. </ng-container> {{comentario.fechaCreacion | date:'medium'}}</label>
                                                        <label class="comment-text">{{comentario.contenido}}</label>  
                                                        <div class="ui-g-12 ui-md-12"></div>
                                                    </div>
                                                    <div class="ui-g-12 ui-md-1" style="margin-right: 25px;"></div>
                                                    <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'R'; mostrarModal(comentario);" style="color: gray;">
                                                            <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                                                <li role="menuitem" >
                                                                    <i class="material-icons comment-icon">comment</i> <span>{{comentario.cantComentarios}}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'E'; mostrarModal(comentario);" style="color: gray;" *ngIf="usuario.idUsuario == comentario.idAutor && escritura && !estadoArchivado && noticia.indEstado != 'D'">
                                                            <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                                                <li role="menuitem" >
                                                                    <i class="material-icons comment-icon">edit</i> <span i18n>Editar</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'B'; mostrarModal(comentario);" style="color: gray;" *ngIf="escritura && !estadoArchivado && noticia.indEstado != 'D'">
                                                            <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                                                <li role="menuitem" >
                                                                    <i class="material-icons comment-icon">delete</i> <span i18n>Borrar</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-g-12" *ngIf="tipoScroll == 'down' && cargando" style="text-align: -webkit-center;">
							                <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                                        </div>
                                        <div class="ui-g-12" *ngIf="tipoScroll == 'down' && listaCompleta">
                                            No hay más registros...
                                        </div>
                                        <div class="ui-g-12" *ngIf="botonDown && !scrollVacio && !listaCompleta && !cargando" style="text-align: -webkit-center;">
                                            <button pButton type="button" icon="ui-icon-add" (click)="onScroll()"></button>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- Edición del comentario seleccionado -->
<p-dialog i18n-header header="Comentario" [(visible)]="displayEditarComentario" [responsive]="true" showEffect="fade" [modal]="true" width="600">
     <div class="ui-g-3 ui-md-2 dashboard">
         <div class="line-comment ui-fluid">
            <div class="ui-g"> 
                <img src="{{comentario.avatarAutor}}">
            </div>
         </div>
    </div>
    <div class="ui-g-10 ui-md-9 commentArea">
        <label class="comment-owner"><strong>{{comentario.nombreAutor}}</strong></label>
        <label class="comment-date" *ngIf="comentario.fechaCreacion == comentario.fechaModificacion">{{comentario.fechaCreacion | date:'medium'}}</label>
        <label class="comment-date" *ngIf="comentario.fechaCreacion != comentario.fechaModificacion"><ng-container i18n>Editado. </ng-container>{{comentario.fechaCreacion | date:'medium'}}</label>
        <textarea class="comment-text" pInputTextarea [rows]="3" [cols]="50" id="txtComentario" name="txtComentario" maxlength="300" autoResize="autoResize" 
        i18n-placeholder placeholder="Contenido" [(ngModel)]="respuesta" style="margin-top: 15px;"></textarea>
    </div>
	<p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="limpiarValores()" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Editar" (click)="editarComentario()" icon="ui-icon-edit" *ngIf="escritura && !estadoArchivado"></button>
	</p-footer>
</p-dialog>

<!-- Permite borrar el comentario seleccionado -->
<p-dialog i18n-header header="Comentario" [(visible)]="displayRemoverComentario" [responsive]="true" showEffect="fade" [modal]="true" width="600">
     <div class="ui-g-12 ui-md-12">
        <h4 i18n>¿Desea borrar este comentario?</h4>
    </div>
     <div class="ui-g-12 ui-md-12 dashboard line-comment ui-fluid">
         <div class="line-comment ui-fluid">
            <div class="ui-g"> 
                <img src="{{comentario.avatarAutor}}">
                <div class="ui-g-10 ui-md-10">
                    <label class="comment-owner"><strong>{{comentario.nombreAutor}}</strong></label>
                    <label class="comment-date" *ngIf="comentario.fechaCreacion == comentario.fechaModificacion">{{comentario.fechaCreacion | date:'medium'}}</label>
                    <label class="comment-date" *ngIf="comentario.fechaCreacion != comentario.fechaModificacion"><ng-container i18n>Editado. </ng-container>{{comentario.fechaCreacion | date:'medium'}}</label>
                    <label class="comment-text">{{comentario.contenido}}</label>  
                    <div class="ui-g-12 ui-md-3 comment-highlight">
                        <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                            <li role="menuitem" >
                                <i class="material-icons comment-icon">comment</i> <span>{{comentario.cantComentarios}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>
	<p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="limpiarValores()" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Borrar" (click)="removerComentario()" icon="ui-icon-check" *ngIf="escritura"></button>
	</p-footer>
</p-dialog>

<!-- Se llama al componente que muestra el comentario seleccionado y los comentarios relacionados al mismo -->
<p-dialog i18n-header header="Respuesta" [(visible)]="displayComentarioRelacionado" [dismissableMask]="true" (onHide)="limpiarValores()" [responsive]="true" showEffect="fade" [modal]="true" width="800">
    <comentario-relacionado [usuario]="usuario" [comentarioPricipal]="comentario" [noticia] ="noticia"></comentario-relacionado>
</p-dialog>