<div class="counter">
    <div class=" dashboard">
        <!--En este espacio se muestra la lista de los comentarios principales
            Cuando se responde a un comentario, el comentario seleccionado aparece aquí-->
        <div class="ui-g-12" *ngFor="let comentarioListaPrincipal of listaComentarios; let i=index;">
            <div *ngIf="listaComentarios">
                <div class="line-comment ui-fluid">
                    <div class="ui-g">
                        <img src="{{comentarioListaPrincipal.avatarAutor}}">
                        <div class="ui-g-10 ui-md-10">
                            <label class="comment-owner"><strong>{{comentarioListaPrincipal.nombreAutor}}</strong></label>
                            <label class="comment-date" *ngIf="comentarioListaPrincipal.fechaCreacion == comentarioListaPrincipal.fechaModificacion">{{comentarioListaPrincipal.fechaCreacion | date:'medium'}}</label>
                            <label class="comment-date" *ngIf="comentarioListaPrincipal.fechaCreacion != comentarioListaPrincipal.fechaModificacion"><ng-container i18n>Editado. </ng-container> {{comentarioListaPrincipal.fechaCreacion | date:'medium'}}</label>
                            <label class="comment-text">{{comentarioListaPrincipal.contenido}}</label>
                            <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'CP'; mostrarModal(comentarioListaPrincipal);">
                                <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                    <li role="menuitem" >
                                        <i class="material-icons comment-icon">comment</i> <span>{{comentarioListaPrincipal.cantComentarios}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="ui-g-12"></div>
    <div class="ui-g-12 ui-md-12" style="background: whitesmoke">
        <!--Se escribe una respuesta a un comentario-->
        <div class="ui-g-12"  *ngIf="noticia.indEstado == 'A' && escritura">
            <div class="ui-g-12 ui-md-12 dashboard">
                <div class="line-comment ui-fluid card" >
                    <div class="ui-g"> 
                        <img src="{{usuario.avatar}}"/> 
                        <div class="ui-g-9 ui-md-10 commentArea">       
                            <textarea (focus)="vacia = false" class="comment-text" pInputTextarea autoResize="autoResize" [rows]="3" [cols]="50" 
                            id="txtNuevo" name="txtNuevo" maxlength="300" i18n-placeholder placeholder="Escribe un comentario" [(ngModel)]="respuesta"></textarea>
                            <p class="infoSmall" style="margin-left: 5px;" i18n *ngIf="vacia"><small>Debe ingresar un comentario más extenso, intente publicar nuevamente.</small></p>
                        </div>
                        <div class="ui-g-12 ui-md-4" style="margin-left: 40px;"><button pButton type="button" (click)="agregarComentario()" i18n-label label="Publicar" [disabled]="publicando" style="left: 20px"></button></div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="ui-g-12" *ngIf="iniciandoCarga" style="text-align: -webkit-center;">
            <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
        </div>
        <!--Este mensaje aparece cuando la noticia esta en estado archivada, no se pueden crear comentarios--> 
        <div class="ui-g-12" *ngIf="!iniciandoCarga && noticia.indEstado != 'A'">
            <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                    <i class="material-icons">information</i>
                </div>
                <div class="ui-g-10 ui-md-9 ui-lg-9">
                    <label i18n>Para dejar un comentario es necesario que la noticia este <strong>publicada</strong> y tenga el permiso de escritura sobre noticia. </label>
                </div>
            </div>
        </div>
        <!-- Se van desplegando los comentarios de la noticia utilizando infiniteScroll -->
        <div class="comments ui-g-12" id="divScroll" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="0"  (scrolledUp)="onScrollUp()" (scrolled)="onScroll()" [infiniteScrollThrottle]="300">
            <div class="ui-g-12 dashboard">
                <div class="ui-g-12" *ngIf="botonUp && !scrollVacio && !listaCompleta && !cargando" style="text-align: -webkit-center;">
                    <button pButton type="button" icon="ui-icon-add" (click)="onScrollUp()"></button>
                </div>
                <div class="ui-g-12" *ngIf="tipoScroll == 'up' && cargando" style="text-align: -webkit-center;">
                    <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                </div>
                <div class="ui-g-12" *ngIf="tipoScroll == 'up' && listaCompleta">
                    No hay más registros...
                </div>
                <div class="ui-g-12" *ngFor="let comentarioRelacionado of listaRelacionados">
                    <div class="card line-comment ui-fluid">
                        <div class="ui-g" style="padding-top: 10px;"> 
                            <img src="{{comentarioRelacionado.avatarAutor}}">
                            <div class="ui-g-10 ui-md-10">
                                <label class="comment-owner"><strong>{{comentarioRelacionado.nombreAutor}}</strong></label>
                                <label class="comment-date" *ngIf="comentarioRelacionado.fechaCreacion == comentarioRelacionado.fechaModificacion">{{comentarioRelacionado.fechaCreacion | date:'medium'}}</label>
                                <label class="comment-date" *ngIf="comentarioRelacionado.fechaCreacion != comentarioRelacionado.fechaModificacion"><ng-container i18n>Editado. </ng-container> {{comentarioRelacionado.fechaCreacion | date:'medium'}}</label>
                                <label class="comment-text" *ngIf="!editar || comentario.idComentario != comentarioRelacionado.idComentario">{{comentarioRelacionado.contenido}}</label>  
                                <textarea class="comment-text"  pInputTextarea *ngIf="editar && comentario.idComentario == comentarioRelacionado.idComentario" [rows]="3" [cols]="50" id="txtComentario" name="txtComentario" maxlength="300" autoResize="autoResize" 
                                    i18n-placeholder placeholder="Contenido" [(ngModel)]="respuestaEdicion"></textarea> 
                                <div class="ui-g-12 ui-md-4" style="margin-left: 40px;" *ngIf="editar && comentario.idComentario == comentarioRelacionado.idComentario"><button pButton type="button" (click)="editarComentario()" i18n-label label="Guardar Cambios" style="left: 20px"></button></div>
                            </div>
                            <div class="ui-g-12 ui-md-1" style="margin-right: 25px;"></div>
                                <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'CR';mostrarModal(comentarioRelacionado);" style="color: gray;" *ngIf="!editar || comentario.idComentario != comentarioRelacionado.idComentario">
                                    <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                        <li role="menuitem" >
                                            <i class="material-icons comment-icon">comment</i> <span>{{comentarioRelacionado.cantComentarios}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'E'; mostrarModal(comentarioRelacionado);" style="color: gray;" *ngIf="!editar && usuario.idUsuario == comentarioRelacionado.idAutor && escritura && noticia.indEstado != 'B' && noticia.indEstado != 'D'">
                                    <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                        <li role="menuitem" >
                                            <i class="material-icons comment-icon">edit</i> <span i18n>Editar</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ui-g-12 ui-md-3 comment-highlight" (click)="item = 'B'; mostrarModal(comentarioRelacionado);" style="color: gray;" *ngIf="!editar && escritura && noticia.indEstado != 'B' && noticia.indEstado != 'D'">
                                    <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                                        <li role="menuitem" >
                                            <i class="material-icons comment-icon">delete</i> <span i18n>Borrar</span>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="tipoScroll == 'down' && cargando" style="text-align: -webkit-center;">
				    <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                </div>
                <div class="ui-g-12" *ngIf="tipoScroll == 'down' && listaCompleta">
                    No hay más registros...
                </div>
                <div class="ui-g-12" *ngIf="botonDown && !scrollVacio && !listaCompleta && !cargando" style="text-align: -webkit-center;">
                    <button pButton type="button" icon="ui-icon-add" (click)="onScroll()"></button>
                </div>
            </div>
        </div> 
    </div>
</div> 

<!-- Permite borrar el comentario seleccionado -->
<p-dialog i18n-header header="Comentario" [(visible)]="modalRemover" [responsive]="true" showEffect="fade" [modal]="true" width="600" appendTo="body"><!--[contentStyle]="{'overflow':'visible'}"-->
     <div class="ui-g-12 ui-md-12">
        <h4 i18n>¿Desea borrar este comentario?</h4>
    </div>
     <div class="ui-g-12 ui-md-12 dashboard line-comment ui-fluid">
         <div class="line-comment ui-fluid">
            <div class="ui-g"> 
                <img src="{{comentario.avatarAutor}}">
                <div class="ui-g-10 ui-md-10">
                    <label class="comment-owner"><strong>{{comentario.nombreAutor}}</strong></label>
                    <label class="comment-date" *ngIf="comentario.fechaCreacion == comentario.fechaModificacion">{{comentario.fechaCreacion | date:'medium'}}</label>
                    <label class="comment-date" *ngIf="comentario.fechaCreacion != comentario.fechaModificacion"><ng-container i18n>Editado. </ng-container>{{comentario.fechaCreacion | date:'medium'}}</label>
                    <label class="comment-text">{{comentario.contenido}}</label>  
                    <div class="ui-g-12 ui-md-3 comment-highlight">
                        <ul class="ultima-menu animated fadeInDown" style="height: 23px;padding: 8px 0 0 5px;">
                            <li role="menuitem" >
                                <i class="material-icons comment-icon">comment</i> <span>{{comentario.cantComentarios}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>
	<p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="limpiarValores()" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Borrar" (click)="removerComentario()" icon="ui-icon-check" *ngIf="escritura"></button>
	</p-footer>
</p-dialog>