<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<div class="heading-detalle">
					<ng-container i18n>Nueva Noticia</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Formulario para insertar una noticia-->
			<form role="form" [formGroup]="formNoticia">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-clearfix"></div>
					<div class="ui-g form-group">
						<!--Título de la noticia-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3 ui-lg-1">
								<label for="txtTitulo" i18n><strong>Título: </strong></label>
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-6">
								<input type="text" pInputText id="txtTitulo" name="txtTitulo" maxlength="100" [(ngModel)]="noticia.titulo" formControlName="titulo" 
								style="font-size: x-large;font-style: italic;">
							</div>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div class="ui-g-12 ui-md-3 ui-lg-1"></div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<img src='{{imagenNoticia}}'  style="width:60%"  *ngIf="imagenNoticia"/> <!--class="cp-insert cp-round"-->
								<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
							</div>
							<div class="ui-g-12"></div>
							<div class="ui-g-12 ui-md-3 ui-lg-1"></div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input class="upload" id="imagenNoticia" name="imagenNoticia" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
								<label for="imagenNoticia" i18n>Seleccione un archivo</label>
							</div>
						</div>
						<!--Contenido-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-3 ui-lg-1">
								<label for="txtContenido" i18n><strong>Contenido: </strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<textarea id="txtContenido" name="txtContenido" [rows]="1" [cols]="50" pInputTextarea autoResize="autoResize" maxlength="300" [(ngModel)]="noticia.contenido" formControlName="contenido" 
								style="font-size:medium"></textarea>
							</div>
						</div>
						
					</div>
				</div>
				<!--Botones-->
				<div class="ui-g-12 ui-md-4 ui-lg-4"></div>
				<div class="ui-g-12 ui-md-3 ui-lg-2">
					<button pButton type="button" *ngIf="!subiendoImagen" i18n-label label="Cancelar" class="red-btn" (click)="goBack()" icon="ui-icon-close"></button>
				</div>
				<div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="!subiendoImagen">
					<button pButton type="button" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formNoticia.valid"
						(click)="agregarNoticia()"></button>
				</div>
				<div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="subiendoImagen" style="text-align: -webkit-center;">
					<img src="/resources/img/loading_icon.gif" height="35" width="35"/>
				</div>
			</form>
		</div>
	</div>
</div>
