<div class="ui-g ui-fluid card">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
			<div class="heading-detalle">
                <h1 i18n>Noticias</h1>
            </div>
        </div>
        <div class="ui-g-12 ui-md-8 ui-lg-8">
            <!--Busqueda por críterios-->
            <p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaNoticia()" (onRemove)="busquedaNoticia()" i18n-placeholder placeholder="Búsqueda"></p-chips>
            <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
            <button pButton type="button" (click)="avanzada = !avanzada" i18n-label label="Búsqueda"></button>
        </div>
        <div class="ui-g-12 ui-md-2" *ngIf="escritura">
            <button pButton type="button" i18n-label label="Agregar" class="green-btn flat" (click)="nuevaNoticia()" icon="ui-icon-add"></button>
        </div>
        <!--Se muestra la búsquda avanzada-->
        <div class="ui-g-12 ui-md-12" *ngIf="avanzada">
			<p-fieldset legend="Estado" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                    <div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="A" i18n-label label="Publicado" (onChange)="busquedaNoticia()" [(ngModel)]="estado"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="C" i18n-label label="Borrador" (onChange)="busquedaNoticia()" [(ngModel)]="estado"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="D" i18n-label label="Inactivo" (onChange)="busquedaNoticia()" [(ngModel)]="estado"></p-checkbox>
					</div>
                    <div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="B" i18n-label label="Archivado" (onChange)="busquedaNoticia()" [(ngModel)]="estado"></p-checkbox>
					</div> 
				</div>
			</p-fieldset>
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
            <div class="ui-g-5 ui-md-5"></div>
            <div class="ui-g-2 ui-md-2">
                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
            </div>
        </div>
        <!--Lista de las noticias disponibles en el sistema-->
        <div class="ui-g-12 ui-md-12" *ngIf="!cargandoDatos">
            <div *ngIf="!listaVacia">
                <p-dataList [value]="listaNoticia" [paginator]="true" [rows]="10" (onLazyLoad)="loadData($event)" [lazy]="true"
                [totalRecords]="totalRecords">
                    <p-header i18n>
                        Lista
                    </p-header>
                    <ng-template let-noticia pTemplate="item">
                        <div class="clearfix listBorder">
                            <button type="button" (click)="noticiaSeleccionada(noticia.idNoticia)" pButton icon="ui-icon-edit" class="listButton"></button>
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <img class="cp-list cp-round" src="{{noticia.imagen}}">
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-8 ui-g-nopad">
                                <div class="ui-grid-row">
                                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                                        <h3><strong>{{noticia.titulo}}</strong></h3>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-g-12 ui-md-6">
                                        <label i18n><strong>Comentarios: </strong></label>
                                        <ng-container>{{noticia.cantComentarios}}</ng-container>
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label i18n><strong >Autor: </strong></label>
                                        <label> {{noticia.nombreAutor}}</label>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-g-12 ui-md-6">
                                        <label i18n><strong>Marcas: </strong></label>
                                        <ng-container>{{noticia.cantMarcas}}</ng-container>
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label i18n><strong >Fecha de publicación: </strong></label>
                                        <label> {{noticia.fechaPublicacion | date:short}}</label>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataList>
            </div>
            <!--Se muestra este mensaje si no existen atributos-->
            <div *ngIf="listaVacia" class="ui-g-12 ui-md-12">
                <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                    <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                        <i class="material-icons">information</i>
                    </div>
                    <div class="ui-g-8 ui-md-7 ui-lg-7">
                        <label i18n>No hay noticias disponibles.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>