<div class="ui-g ui-fluid">
	<div class="ui-g-12" *ngIf="cargaInicial" style="text-align: -webkit-center;">
		<img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
	</div>
</div>
<div class="ui-g ui-fluid" *ngIf="!cargaInicial">
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!noticia.indAutorAdmin">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Segmentos elegibles </h2>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
            	<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                	<i class="material-icons">information</i>
                </div>
                <div class="ui-g-10 ui-md-9 ui-lg-9">
                	<label i18n>Esta noticia fue creada por un miembro del sistema, por lo tanto, es visible para todos los miembros.
						La audiencia no es modificable. 
					</label>
                </div>
            </div>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="noticia.indAutorAdmin">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Segmentos elegibles </h2>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<div class="ui-g-12 ui-md-4 ui-lg-3">
					<label i18n><strong>Mostrar:</strong></label>
				</div>
				<div class="ui-g-12 ui-md-8 ui-lg-9">
					<p-dropdown [autoWidth]="false" [options]="itemsElegibles" id="dpElegible" name="dpElegible" [(ngModel)]="elegible" (onChange)="obtenerSegmentos()"></p-dropdown>
				</div>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="elegible == 'D' && escrituraNoticia && escrituraSegmento && noticia.indEstado == 'A'">
				<div class="ui-g-12 ui-md-4 ui-lg-3">
					<label i18n><strong>Acción:</strong></label>
				</div>
				<div class="ui-g-12 ui-md-8 ui-lg-9">
					<p-dropdown [autoWidth]="false" [options]="itemsAccion" id="ddpAccion" name="ddpAccion" [(ngModel)]="indAccion"></p-dropdown>
					
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>
		
		<div class="ui-g-12 ui-md-8 ui-lg-8">
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerSegmentos()" (onRemove)="obtenerSegmentos()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
           <button pButton type="button" (click)="avanzada = !avanzada" i18n-label label="Búsqueda"></button>
        </div>
        <div class="ui-g-12 ui-md-12" *ngIf="avanzada">
        	<p-fieldset legend="Tipo" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="D" i18n-label label="Dinámico" (onChange)="obtenerSegmentos()" [(ngModel)]="tipos"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-3">
						<p-checkbox name="group1" value="E" i18n-label label="Estático" (onChange)="obtenerSegmentos()" [(ngModel)]="tipos"></p-checkbox>
					</div>
				</div>
            </p-fieldset>
        </div>
		<div class="ui-g-12" *ngIf="listaVacia">
        	<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
            	<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                	<i class="material-icons">information</i>
                </div>
                <div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No hay datos.</label>
                </div>
            </div>
		</div>

		<!--Se muestra la información de los miembros que pertencecen a los elegibles-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
			<div *ngIf="!listaVacia && elegible !='D'">
				<p-dataTable [value]="listaSegmentos" [(selection)]="listaRemover" [globalFilter]="gb" [paginator]="true" [rows]="10"
					[lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Lista de segmentos
					</p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple" *ngIf="escrituraNoticia && escrituraSegmento && noticia.indEstado == 'A'"></p-column>
					<p-column field="indEstatico" i18n-header header="Estado">
						<ng-template let-segmento="rowData" pTemplate="body">
							<span>{{segmento.indEstatico | tipoSegmento}}</span>
						</ng-template>
					</p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-segmento="rowData" pTemplate="body">
							<span>{{segmento.nombre}} </span>
						</ng-template>
					</p-column>
					<p-column field="descripcion" i18n-header header="Descripción">
						<ng-template let-segmento="rowData" pTemplate="body">
							<span>{{segmento.descripcion}}</span>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="escrituraNoticia && escrituraSegmento && noticia.indEstado == 'A'">
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-delete" class="pink-btn flat" (click)="dialogoConfirmar('H')"
							pTooltip="Remover lista de segmentos" tooltipPosition="left"></button>
						</ng-template>
						<ng-template let-segmento="rowData" pTemplate="body">
							<button type="button" pButton icon="ui-icon-delete" (click)="dialogoConfirmar('G',segmento.idSegmento)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
		<!--Seccion para agregar segmentos a elegibles del premio-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
			<div class="ui-g ui-fluid">
				<div *ngIf="!listaVacia && elegible == 'D'">
					<p-dataTable [value]="listaSegmentos" [(selection)]="listaSeleccion" [globalFilter]="gb" [paginator]="true" [rows]="10"
						[lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
						<p-header i18n>
							Lista de segmentos disponibles
						</p-header>
						<p-column [style]="{'width':'38px'}" selectionMode="multiple" *ngIf="escrituraNoticia && escrituraSegmento && noticia.indEstado == 'A'"></p-column>
						<p-column field="indEstatico" i18n-header header="Estado">
							<ng-template let-segmento="rowData" pTemplate="body">
								<span>{{segmento.indEstatico | tipoSegmento}}</span>
							</ng-template>
						</p-column>
						<p-column field="nombre" i18n-header header="Nombre">
							<ng-template let-segmento="rowData" pTemplate="body">
								<span>{{segmento.nombre}} </span>
							</ng-template>
						</p-column>
						<p-column field="descripcion" i18n-header header="Descripción">
							<ng-template let-segmento="rowData" pTemplate="body">
								<span>{{segmento.descripcion}}</span>
							</ng-template>
						</p-column>
						<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="escrituraNoticia && escrituraSegmento && noticia.indEstado == 'A'">
							<ng-template pTemplate="header">
								<button type="button" pButton icon="ui-icon-add" class="pink-btn flat" (click)=" agregarListaSegmentos()"
								pTooltip="Agregar lista de segmentos" tooltipPosition="left"></button>
							</ng-template>
							<ng-template let-segmento="rowData" pTemplate="body">
								<button icon="ui-icon-add" pButton (click)="agregarSegmento(segmento.idSegmento)"></button>
							</ng-template>
						</p-column>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
			<ng-container>{{pregunta}}</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerSegmento()" icon="ui-icon-trash" *ngIf="tipo == 'G'"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerListaSegmentos()" icon="ui-icon-trash" *ngIf="tipo == 'H'"></button>
    </p-footer>
</p-dialog>
