<div class="ui-g ui-fluid ">
    <div class="ui-g-12">
        <div class="wrapper-spacing">
            <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="showElegibles==false">
                <button pButton icon="ui-icon-person" i18n-label label="Manejo de Miembros" (click)="mostrarMiembros()" [disabled]="(notificacion.indEstado=='A'||notificacion.indEstado=='P')"></button>
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="showElegibles==false">
                <button pButton icon="ui-icon-group" i18n-label label="Manejo de Segmentos" (click)="mostrarSegmentos()" [disabled]="(notificacion.indEstado=='A'||notificacion.indEstado=='P')"></button>
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-2">
                <button pButton icon="ui-icon-arrow-back" i18n-label label="Volver" (click)="showElegibles=false" [disabled]="(notificacion.indEstado=='A'||notificacion.indEstado=='P')"></button>
            </div>
            <div class="ui-g-12 ui-md-10 ui-lg-10"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="indElegibles=='M'">
                <notificaciones-detalle-miembros></notificaciones-detalle-miembros>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="indElegibles=='S'">
                <notificaciones-detalle-segmento></notificaciones-detalle-segmento>
            </div>
        </div>
    </div>
</div>