<div class="ui-g ui-fluid card">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-10">
		    <h1 i18n>Notificaciones</h1>
        </div>
        <div class="ui-g-12 ui-md-8 ui-lg-8">
            <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="buscarNotificaciones()" (onRemove)="buscarNotificaciones()"></p-chips>
            <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" i18n-label label="Buscar" icon="ui-icon-search" (click)="busquedaAvanzada = !busquedaAvanzada"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" [routerLink]="'/notificaciones/insertarNotificaciones'"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12" *ngIf="busquedaAvanzada">
        <p-fieldset legend="Estados" class="ui-g-12 ui-md-12">
		    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-9">
			    <div class="ui-g-12 ui-md-4">
				    <p-checkbox value="B" i18n-label label="Mostrar Borrador" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="estados"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-4">
			    	<p-checkbox value="P" i18n-label label="Mostrar Publicadas" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="estados"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-4">
					<p-checkbox value="E" i18n-label label="Mostrar Ejecutadas" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="estados"></p-checkbox>
				</div>
			</div>
		</p-fieldset>
        <p-fieldset legend="Evento" class="ui-g-12 ui-md-12">
		    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-9">
			    <div class="ui-g-12 ui-md-4">
				    <p-checkbox value="M" i18n-label label="Manual" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="eventos"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-4">
				   	<p-checkbox value="C" i18n-label label="Calendarizado" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="eventos"></p-checkbox>
				</div>
			</div>
		</p-fieldset>
        <p-fieldset legend="Filtros" class="ui-g-12 ui-md-12">
		    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-9">
				<div class="ui-g-12 ui-md-4">
					<p-checkbox value="nombre" i18n-label label="Nombre" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="filtros"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-4">
			    	<p-checkbox value="nombre-interno" i18n-label label="Nombre interno" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="filtros"></p-checkbox>
				</div>
                <div class="ui-g-12 ui-md-4">
			        <p-checkbox value="descripcion" i18n-label label="Descripción" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="filtros"></p-checkbox>
				</div>
                <div class="ui-g-12 ui-md-4">
				   	<p-checkbox value="tags" i18n-label label="Tags" (onChange)="listaPromos=undefined;buscarNotificaciones()" [(ngModel)]="filtros"></p-checkbox>
				</div>
			</div>
		</p-fieldset>
    </div>
    <div class="ui-g-12 ui-lg-12" *ngIf="listaNotificaciones&&listaNotificaciones.length<=0">
        <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                <i class="material-icons">information</i>
            </div>
            <div class="ui-g-8 ui-md-7 ui-lg-7">
                <label i18n>No hay notificaciones disponibles.</label>
            </div>
        </div>
            <!--<p-messages [value]="[{severity:'info', summary:'', detail:'No hay notificaciones disponibles'}]"></p-messages>-->
    </div>
    <div class="ui-g-12" *ngIf="!listaNotificaciones">
        <div class="ui-g-5"></div>
        <div class="ui-g-2">
            <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
        </div>
        <div class="ui-g-5"></div>
    </div>
    <div class="ui-g-12 ui-lg-12" *ngIf="listaNotificaciones&&listaNotificaciones.length>0">
        <p-dataList [value]="listaNotificaciones" [paginator]="true" [rows]="10">
            <p-header i18n> Listado de notificaciones </p-header>
            <ng-template let-notificacion pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                    <div class="ui-grid-col-8">{{notificacion.nombre}}</div>
                                </div>
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Nombre Interno:</strong> </div>
                                    <div class="ui-grid-col-8">{{notificacion.nombreInterno}}</div>
                                </div>
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Tipo: </strong></div>
                                    <div class="ui-grid-col-8">{{notificacion.indTipo|tipoNotificacion}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid-col-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Estado:</strong> </div>
                                    <div class="ui-grid-col-8"> {{notificacion.indEstado|estadoNotificacion}}
                                        <span *ngIf="notificacion.indEvento=='T'">(Accionada por Disparador)</span>
                                    </div>
                                </div>
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Evento:</strong> </div>
                                    <div class="ui-grid-col-8">{{notificacion.indEvento|eventoNotificacion}}</div>
                                </div>
                                <div class="ui-grid-row input-spacing" *ngIf="notificacion.fechaEjecucion">
                                    <div class="ui-grid-col-4"><strong i18n>Fecha de inicio:</strong> </div>
                                    <div class="ui-grid-col-8">{{notificacion.fechaEjecucion|date}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-1">
                            <div class="ui-grid-row">
                                <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="confirmar(notificacion, 'eliminar')" *ngIf="notificacion.indEstado =='B'"></button>
                                <button type="button" class="pull-right" pButton icon="ui-icon-archive" (click)="confirmar(notificacion, 'archivar')" *ngIf="notificacion.indEstado =='P'"></button>
                                <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="gotoDetail(notificacion)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12" *ngIf="accion == 'eliminar'">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
       <div class="ui-g-12 ui-md-12" *ngIf="accion == 'archivar'">
            <ng-container i18n>¿Confirma que desea archivar este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="displayModalEliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Archivar" (click)="eliminarNotificacion()" *ngIf="accion == 'archivar'" icon="ui-icon-archive"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="eliminarNotificacion()" *ngIf="accion == 'eliminar'" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>
