<div class="ui-g ui-fluid ">
    <div class="ui-g-12">
        <div class="ui-g-10">
            <h2 class="input-spacing-long" i18n>Despliegue de la notificación</h2>
        </div>
        <div class="ui-g-2">
            <button pButton i18n-label label="Ver Contenido" type="button" (click)="displayContenido=true"></button>
        </div>
        <!--si es de tipo email-->
        <div class="ui-g-12" *ngIf="notificacion.indTipo=='E'">
            <form [formGroup]="formEmail">
                <div class="ui-g-12">
                    <label for="encabezadoArte"><strong  i18n>Asunto:</strong></label>
                </div>
                <div class="ui-g-12 ">
                    <input pInputText id="encabezadoArte" name="encabezadoArte" type="text" [(ngModel)]="notificacion.encabezadoArte" formControlName="encabezadoArte">
                </div>
                <div class="ui-g-12">
                    <label for="encabezadoArte" i18n><strong>Definición del contenido:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2"></div>
                <div class="ui-g-12">
                    <p-editor #editor (onInit)="initEditor(event)" formControlName="texto" [(ngModel)]="notificacion.texto" [style]="{'height':'320px'}"></p-editor>
                    
                     <!--<div class="shadow-box ui-shadow-3">
                         <div class="grapes-wrapper">
                        <div id="gjs"></div>
                    </div>
                     </div>-->
                </div>
                <div class="ui-g-12 col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-8 ui-lg-8">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <img class="loading-gif-centered" *ngIf="subiendoContenido" src="/resources/img/loading_icon.gif">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button pButton i18n-label label=Guardar type="button" class="green-btn" icon="ui-icon-save" [disabled]="!formEmail.valid||(notificacion.indEstado=='A'||notificacion.indEstado=='E')||this.subiendoContenido==true"
                            (click)="actualizarNotificacion()"></button>
                    </div>
                </div>
            </form>
        </div>
        <!--si es de tipo push notification-->
        <div class="ui-g-12 ui-md-12" *ngIf="notificacion.indTipo=='P'">
            <form [formGroup]="formNotificacion">
                <div class="ui-g-12 ui-md-2 ui-lg-1" style="text-align:right">
                    <label for="encabezadoArte" i18n><strong >Encabezado:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-10 ui-lg-11">
                    <input pInputText id="encabezadoArte" name="encabezadoArte" type="text" [(ngModel)]="notificacion.encabezadoArte" formControlName="encabezadoArte">
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-1" style="text-align:right">
                    <strong i18n>Imagen:</strong>
                </div>
                <div class="ui-g-12 ui-md-10 input-spacing">
                    <img [src]="file_src" class="img-forms img-border" />
                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                </div>
                <div class="ui-g-12 ui-md-2 text-align-sm text-align-md"></div>
                <div class="ui-g-12 ui-md-10">
                    <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
                    <label for="fileAvatar" style="margin-left: 19px;margin-bottom: 15px;" i18n>Seleccione un archivo</label>
                </div>
                <label class="ui-g-12 ui-md-2 ui-lg-1" style="text-align:right" i18n><strong>Contenido:</strong></label>
                <label class="ui-g-12 ui-md-10 ui-lg-10" style="margin:20px, 20px,20px,20pxs">
                    <textarea class="ui-g-12" [(ngModel)]="notificacion.texto" autoResize="autoResize" formControlName="texto" style="min-height:250px"></textarea>
                </label>
                <div class="ui-g-12 col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-8 ui-lg-8">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <img class="loading-gif-centered" *ngIf="subiendoContenido" src="/resources/img/loading_icon.gif">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button pButton i18n-label label=Guardar class="green-btn" icon="ui-icon-save" type="button" [disabled]="!formNotificacion.valid||this.subiendoContenido==true"
                            (click)="actualizarNotificacion()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p-dialog i18n-header header="Contenido" [modal]="true" [responsive]="true" [(visible)]="displayContenido" minWidth="300" minHeight="300">
    <textarea [autoResize]="true" pInputTextarea [(ngModel)]="notificacion.texto"></textarea>
</p-dialog>