<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
        <div class="ui-g-12">
            <h2 class="input-spacing" i18n>Datos generales de la notificación</h2>
        </div>

        <form [formGroup]="form">
            <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                <label for="nombreNotificacion" i18n><strong>Nombre</strong></label>
            </div>
            <div class="ui-g-12 ui-md-10 ui-lg-10">
                <input pInputText id="nombreNotificacion" name="nombreNotificacion" type="text" [(ngModel)]="notificacion.nombre" formControlName="nombre">
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                <label for="nombreInterno" i18n><strong>Nombre Interno</strong></label>
            </div>
            <div class="ui-g-12  ui-md-10 ui-lg-10">
                <input pInputText id="nombreInterno" (blur)="validarNombre()" name="nombreInterno" type="text" [(ngModel)]="notificacion.nombreInterno"
                    formControlName="nombreInterno">
                <div *ngIf="!(notificacion.nombreInterno=='')&&!(nombreValido)&&(form.get('nombreInterno').touched)" i18n>*Este nombre ya existe</div>
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                <label for="drpNotificacion" i18n><strong>Tipo</strong></label>
            </div>
            <div class="ui-g-12  ui-md-10 ui-lg-10">
                <p-dropdown [options]="optionsTipo" [autoWidth]="false" id="drpNotificacion" name="drpNotificacion" [(ngModel)]="notificacion.indTipo"
                    formControlName="drpNotificacion"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right" *ngIf="notificacion.indTipo=='P'">
                <label for="drpObjetivo" i18n><strong>Objetivo</strong></label>
            </div>
            <div class="ui-g-12 ui-md-10 ui-lg-10" *ngIf="notificacion.indTipo=='P'">
                <p-dropdown [options]="optionsObjetivo" [autoWidth]="false" id="drpObjetivo" name="drpObjetivo" [(ngModel)]="notificacion.indObjetivo"
                    formControlName="drpObjetivo"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right" *ngIf="notificacion.indObjetivo=='P'">
                <label for="drpObjetivo" i18n><strong>Promoción: </strong></label>
            </div>
             <div class="ui-g-12  ui-md-8 ui-lg-8" *ngIf="notificacion.indObjetivo=='P'">
                    <input *ngIf="notificacion.promocion"  pInputText type="text" [(ngModel)]="notificacion.promocion.nombre" formControlName="promo">
                </div>
                <div class="ui-g-12  ui-md-2 ui-lg-2" *ngIf="notificacion.indObjetivo=='P'">
                    <button pButton icon="ui-icon-add" i18n-label label="Agregar" (click)=" listarPromocionesDisponibles()"></button>
                </div>
            <div class="ui-g-12 ui-md-10 ui-lg-10"></div>
            <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="tienePermisosEscritura">
                <button type="button" pButton  i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid||(notificacion.indEstado=='A'||notificacion.indEstado=='E')"
                    (click)="actualizarNotificacion()"></button>
            </div>
        </form>
    </div>
</div>

<p-dialog i18n-header header="Seleccione una Promoción" [(visible)]="displayInsertar" showEffect="fade" [modal]="true" width="1000">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <div *ngIf="listaPromocionesDisponibles.length==0">
                    <p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>
                </div>
            </div>
            <div class="ui-g-10">
                <input type="text" pInputText [(ngModel)]="busquedaPromos" i18n-placeholder placeholder="Buscar promociones...">
            </div>
            <div class="ui-g-2">
                <button pButton (click)="listarPromocionesDisponibles()" i18n-label label="Buscar"></button>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dataTable [value]="listaPromocionesDisponibles" *ngIf="listaPromocionesDisponibles.length>0" [paginator]="true" [rows]="10"
                    (onLazyLoad)="loadData($event)" [lazy]="true" [totalRecords]="cantTotal" [globalFilter]="gb">
                    <p-header i18n>Promociones a incluir</p-header>
                    <p-column field="nombre" i18n-header header="Nombre"></p-column>
                    <p-column field="nombreInterno" i18n-header header="Nombre Interno"></p-column>
                    <p-column field="indEstado" i18n-header header="Tipo">
                        <ng-template let-promo="rowData" pTemplate="body">
                            <span>{{promo.indEstado}}</span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
                        <ng-template pTemplate="header">
                            <ng-container i18n>Seleccionar</ng-container>
                        </ng-template>
                        <ng-template let-promo="rowData" pTemplate="body">
                            <div class="ui-grid-col-2">
                                <button type="button" pButton (click)="agregarPromocion(promo)" icon="ui-icon-add"></button>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</p-dialog>