<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-1">
            <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
        </div>
        <div class="ui-g-12 ui-md-10">
            <h2 class="input-sopacing" i18n>Insertar Notificación</h2>
        </div>
    </div>
</div>
<div class="card">
    <div class="ui-toolbar">
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton type="button" icon="ui-icon-assignment" i18n-label label="General"></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button disabled="true" pButton type="button" icon="ui-icon-poll" i18n-label label="Despliegue"></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button disabled="true" pButton type="button" icon="ui-icon-group" i18n-label label="Elegibles"></button>
            </div>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <form #form="ngForm">
                <div class="ui-g-12 ui-lg-12">
                    <h4 i18n>Datos generales de la notificación</h4>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                    <label for="nombreNotificacion" i18n><strong>Nombre</strong></label>
                </div>
                <div class="ui-g-12 ui-md-10 ui-lg-10">
                    <input pInputText id="nombreNotificacion" #nombre="ngModel" name="nombreNotificacion" type="text" (blur)="establecerNombres();validarNombre()"
                        (keyup)="establecerNombres()" [(ngModel)]="notificacion.nombre" required>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                    <label for="nombreInterno" i18n><strong>Nombre Interno</strong></label>
                </div>
                <div class="ui-g-12  ui-md-10 ui-lg-10">
                    <input pInputText id="nombreInterno" (blur)="validarNombre()" name="nombreInterno" type="text" [(ngModel)]="notificacion.nombreInterno"
                        #nombreInterno="ngModel" required>
                        <div *ngIf="!nombreValido&&nombreInterno.touched">*Este nombre interno ya existe</div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                    <label for="drpNotificacion" i18n><strong>Tipo de notificación</strong></label>
                </div>
                <div class="ui-g-12  ui-md-10 ui-lg-10">
                    <p-dropdown [options]="optionsTipo" [autoWidth]="false" id="drpNotificacion" name="drpNotificacion" [(ngModel)]="notificacion.indTipo"
                        #drpNotificacion="ngModel" required></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right">
                    <label for="drpObjetivo" i18n><strong>Objetivo</strong></label>
                </div>
                <div class="ui-g-12  ui-md-10 ui-lg-10">
                    <p-dropdown [options]="optionsObjetivo" [autoWidth]="false" id="drpObjetivo" name="drpObjetivo" [(ngModel)]="notificacion.indObjetivo"
                        #drpObjetivo="ngModel" ></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" style="text-align:right" *ngIf="notificacion.indObjetivo=='P'">
                    <label for="drpObjetivo" i18n><strong>Promoción:</strong></label>
                </div>
                <div class="ui-g-12  ui-md-8 ui-lg-8" *ngIf="notificacion.indObjetivo=='P'">
                    <input pInputText type="text" [(ngModel)]="nombreElementoSeleccionado" id="promo" name="promo" required readonly #promo="ngModel">
                    <div *ngIf="!notificacion.promocion">
                        <ng-container i18n>*Debes seleccionar una promoción</ng-container>
                    </div>
                </div>
                <div class="ui-g-12  ui-md-2 ui-lg-2" *ngIf="notificacion.indObjetivo=='P'">
                    <button pButton icon="ui-icon-list" i18n-label label="Seleccionar" (click)=" listarPromocionesElegibles()"></button>
                </div>

                <div class="col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-10 ui-md-9 ui-lg-10"></div>
                    <div class="ui-g-2  ui-md-3 ui-lg-2">
                        <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid||!nombreValido" (click)="insertarNotificacion()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p-dialog i18n-header header="Seleccione el elemento" [(visible)]="displayInsertar" showEffect="fade" [modal]="true" width="1000">
    <div *ngIf="notificacion.indObjetivo=='P'">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <div *ngIf="listaPromocionesDisponibles&&listaPromocionesDisponibles.length==0">
                        <div style="background: #2196F3; font-size: x-small; color: white;">
                            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                                <i class="material-icons">information</i>
                            </div>
                            <div class="ui-g-8 ui-md-7 ui-lg-7">
                                <label i18n>Aún no hay datos.</label>
                            </div>
                        </div>
                        <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
                    </div>
                </div>
                <div class="ui-g-10">
                    <input type="text" pInputText [(ngModel)]="busquedaPromos" [ngModelOptions]="{standalone: true}" i18n-placeholder placeholder="Buscar promociones...">
                </div>
                <div class="ui-g-2">
                    <button pButton (click)="listarPromocionesElegibles()" i18n-label label="Buscar"></button>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="listaPromocionesDisponibles">
                    <p-dataList class="ui-g-12 ui-lg-12" [value]="listaPromocionesDisponibles" (onLazyLoad)="loadData($event)" [paginator]="true"
                        *ngIf="listaPromocionesDisponibles.length>0" [rows]="4" [lazy]="true" [totalRecords]="cantTotal">
                        <p-header i18n> Listado de promociones </p-header>
                        <ng-template let-promo pTemplate="item">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        <img [src]='promo.imagenArte' class="img-lists img-border" />
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row input-spacing">
                                                <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                                <div class="ui-grid-col-8">{{promo.nombre}}</div>
                                            </div>
                                            <!--<div class="ui-grid-row input-spacing">
                                                <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                                <div class="ui-grid-col-8">{{promo.descripcion}}</div>
                                            </div>-->
                                            <div class="ui-grid-row input-spacing">
                                                <div class="ui-grid-col-4"><strong i18n>Nombre Interno: </strong></div>
                                                <div class="ui-grid-col-8">{{promo.nombreInterno}}</div>
                                            </div>
                                            <div class="ui-grid-row input-spacing">
                                                <div class="ui-grid-col-4"><strong i18n>Tags:</strong> </div>
                                                <div class="ui-grid-col-8">{{promo.tags}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <div class="ui-grid-row">
                                            <button type="button" pButton (click)="agregarPromocion(promo)" icon="ui-icon-add"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataList>
                </div>
            </div>
        </div>
</div>
       <!-- <div *ngIf="notificacion.indObjetivo=='M'">
        <p-dataList class="ui-g-12 ui-lg-12" [value]="listaMisiones" (onLazyLoad)="loadData($event)" [paginator]="true" *ngIf="listaMisiones.length>0"
                [rows]="9" [lazy]="true" [totalRecords]="cantTotalRegistros">
                <p-header i18n> Listado de misiones </p-header>
                <ng-template let-mision pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                 <img [src]='mision.imagen' class="img-lists img-border" />
                            </div>
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.descripcion}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Tags:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.tags}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Creado:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.fechaCreacion|date:'medium'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-1">
                                <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="agregarMision(mision)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
    </div>-->
    <!--<div *ngIf="notificacion.indObjetivo=='R'">
        
    </div>-->
</p-dialog>