<div class="ui-g ui-fluid" >
	<div *ngIf="!chartVistasData||!chartElegibilidadData"> <div class="ui-g-12 ui-md-5">
    </div>
    <div class="ui-g-12 ui-md-2">
        <img src="/resources/img/loading_icon.gif" />
    </div>
    <div class="ui-g-12 ui-md-5">
    </div>
	</div>

<div class="ui-g-12">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n class="heading-detalle input-spacing">Estadísticas generales de la notificación</h2>
		</div>
	<div *ngIf="chartVistasData&&chartElegibilidadData">
		
        <div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-3">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Cantidad de Mensajes Enviados</span>
					<span class="colorbox-count">{{statsData.cantMsjsEnviados}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-2">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Cantidad de Miembros Enviados</span>
					<span class="colorbox-count">{{statsData.cantMiembrosEnviados}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12"> 
			<h2 i18n>Estadísticas de la notificación</h2>
		</div>
		<div class="ui-g-12 ui-md-12">
			<p-chart type="line" [data]="chartElegibilidadData" (onDataSelect)="selectData($event)"></p-chart>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n>Alcance de la notificación</h2>
		</div>
		<div class="ui-g-12 ui-md-12">
			<p-chart type="line" [data]="chartVistasData" (onDataSelect)="selectData($event)"></p-chart>
		</div>

	</div>
</div>
</div>