<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-1">
                <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g-12">
                    <div class="heading-detalle">{{notificacion.nombre}}</div>
                </div>
                <div class="ui-g-12">
                    <div class="sub-heading-detalle">
                        <ng-container i18n>Notificación</ng-container>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <div *ngIf="notificacion.indEstado=='B'">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div (click)="opBorr.show($event)" class="ui-g card cbx cbx-2">
                            <div class="ui-g-4">
                                <i class="material-icons">create</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Estado:</span>
                                <span class="count" i18n>Borrador</span>
                            </div>
                        </div>
                    </div>
                    <p-overlayPanel #opBorr>
                        <div class="ui-g ui-fluid" style="width:260px">
                            <div style="margin:10px 5px 10px 10px">
                                <form [formGroup]="frmActivar">
                                    <h3 class="input-spacing" i18n><strong>Notficación en borrador</strong></h3>
                                    <div class="ui-g-12">
                                        <p i18n>La notificación se encuentra en estado borrador, puedes editarla antes de publicarla</p>
                                    </div>
                                    <div class="ui-g-12">
                                        <label for="drpEvento" i18n>Tipo de evento</label>
                                    </div>
                                    <div class="ui-g-12">
                                        <p-dropdown [options]="optionsEvento" [autoWidth]="false" id="drpEvento" name="drpEvento" [(ngModel)]="notificacion.indEvento"
                                            formControlName="drpEvento"></p-dropdown>
                                    </div>
                                    <div class="ui-g-12" *ngIf="notificacion.indEvento=='C'">
                                        <p i18n>Inicio:</p>
                                    </div>
                                    <div class="ui-g-12" *ngIf="notificacion.indEvento=='C'">
                                        <p-calendar id="fechaInicio" [minDate]="minDate" readonlyInput="readonlyInput" name="fechaInicio" [(ngModel)]="notificacion.fechaEjecucion"
                                            showTime="showTime" formControlName="fechaInicio"></p-calendar>
                                    </div>
                                </form>
                                <div class="ui-g-12"><button pButton class="green-btn" style="margin-top:10px" (click)="actualizarNotificacion(); opBorr.hide()"
                                        i18n-label label="Publicar" icon="ui-icon-check"></button></div>
                                <div class="ui-g-12"><button pButton class="red-btn" style="margin-top:10px" (click)="displayModalEliminar = true; ; opBorr.hide()"
                                        i18n-label label="Eliminar" icon="ui-icon-trash"></button></div>
                            </div>
                        </div>
                    </p-overlayPanel>
                </div>
                <div *ngIf="notificacion.indEstado=='P'">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                        <div (click)="opCancelar.show($event)" class="ui-g card cbx cbx-1">
                            <div class="ui-g-4">
                                <i class="material-icons">check</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Estado:</span>
                                <span class="count" i18n>Publicado</span>
                            </div>
                        </div>
                    </div>
                    <p-overlayPanel #opCancelar>
                        <h3 class="input-spacing" i18n><strong>Notificación en estado publicado</strong></h3>
                        <div class="ui-g-12">
                            <p i18n>La notificación se encuentra en estado publicado, puedes cancelarla antes de que sea procesada
                                por el sistema</p>
                        </div>
                        <div class="ui-g-12"><button pButton class="red-btn" style="margin-top:10px" (click)="cancelarNotificacion(); opCancelar.hide()" i18n-label
                                label="Cancelar" icon="ui-icon-delete-forever"></button></div>
                    </p-overlayPanel>
                </div>
                <div *ngIf="notificacion.indEstado=='E'">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                        <div class="ui-g card cbx cbx-1">
                            <div class="ui-g-4">
                                <i class="material-icons">check</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Estado</span>
                                <span class="count" i18n>Ejecutado</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="notificacion.indEstado=='A'">
                    <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                        <div class="ui-g card cbx cbx-3">
                            <div class="ui-g-4">
                                <i class="material-icons">delete_forever</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Estado</span>
                                <span class="count" i18n>Archivado</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-toolbar">
    <div class="ui-g ui-fluid">
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-assignment" i18n-label label="General" routerLink="common" [routerLinkActive]="['ruta-activada']"></button>
        </div>
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-poll" i18n-label label="Despliegue" routerLink="arte" [routerLinkActive]="['ruta-activada']"></button>
        </div>
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-person" i18n-label label="Miembros" routerLink="miembros" [routerLinkActive]="['ruta-activada']"></button>
        </div>
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-group" i18n-label label="Segmentos" routerLink="segmentos" [routerLinkActive]="['ruta-activada']"></button>
        </div>
         <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-group" i18n-label label="Actividad" routerLink="actividad" [routerLinkActive]="['ruta-activada']"></button>
        </div>
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-group" i18n-label label="Dashboard" routerLink="dashboard" [routerLinkActive]="['ruta-activada']"></button>
        </div>
    </div>
</div>
<div class="card">
    <router-outlet></router-outlet>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400"
    minHeight="400">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <ng-container i18n>Está seguro que desea eliminar la notificación?</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cerrar" (click)="displayModalEliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Eliminar" (click)="eliminarNotificacion()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>