<div class="ui-g ui-fluid">
	<div class="ui-g-12  ui-lg-12">
		<div class="ui-g-12 ui-md-7">
			<h2 i18n>Administración de miembros</h2>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="insignia.estado =='B'">
		<h3 i18n>Debe publicar la insignia para poder administrar las asignaciones a los miembros.</h3>
	</div>

	<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="insignia.estado !='B'">
		<p-tabView>
			<!--En este panel se muestran los miembros que tienen esta insignia-->
			<p-tabPanel i18n-header header="Miembros con la insignia">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-8" *ngIf="listaMiembroInsignia.length>0">
						<!--Manejo de críterios de búsqueda-->
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMiembrosConInsignia()" (onRemove)="obtenerMiembrosConInsignia()" i18n-placeholder
							placeholder="Búsqueda"></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<!--Lista de los miembros con la insignia-->
					<div *ngIf="!cargandoDatos && listaMiembroInsignia.length>0">
						<p-dataTable [value]="listaMiembroInsignia" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecordsMiembro"
							(onLazyLoad)="loadMiembroInsignia($event)">
							<p-header i18n>
								Lista de Clientes
							</p-header>
							<p-column field="idMiembro" i18n-header header="ID">
								<ng-template let-miembro="rowData" pTemplate="body">
									<span>{{miembro.idMiembro}}</span>
								</ng-template>
							</p-column>
							<p-column field="nombre" i18n-header header="Nombre">
								<ng-template let-miembro="rowData" pTemplate="body">
									<span>{{miembro.nombre}} {{miembro.apellido}}</span>
								</ng-template>
							</p-column>
							<p-column styleClass="col-button" i18n-header header="Acción" [style]="{'text-align':'center', 'width':'300px'}">
								<ng-template let-miembro="rowData" pTemplate="body">
									<!--Botones para ir a detalle del miembro y remover la asignación de la insignia-->
									<button pButton style="width:auto" (click)="gotoMiembro(miembro.idMiembro)" i18n-label label="Miembro" *ngIf="lecturaMiembro"></button>
									<button pButton style="width:auto" (click)="confirmacion(miembro.idMiembro)" i18n-label label="Remover" *ngIf="insignia.estado == 'P' && escrituraMiembro && escrituraInsignia" ></button>
								</ng-template>
							</p-column>
						</p-dataTable>
					</div>
					<div *ngIf="listaInsigniaVacia">
						<div class="ui-g-12"></div>
						<span i18n><strong>No existen miembros con la insignia.</strong></span>
					</div>
				</div>
			</p-tabPanel>

			<!--En este panel se asocian insignias/niveles al miembros-->
			<p-tabPanel i18n-header header="Asignar a Miembros">
				<div class="ui-g">
					<div *ngIf="escrituraInsignia && escrituraMiembro" class="ui-g-12">
						<div class="ui-g-12 ui-md-12" *ngIf="cargandoTotal">
							<div class="ui-g-5 ui-md-5"></div>
							<div class="ui-g-2 ui-md-2">
								<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
							</div>
						</div>

						<div class="ui-g-12 ui-md-8 ui-lg-8">
							<!--Manejo de críterios de búsqueda-->
							<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMiembrosNoInsignia()" (onRemove)="obtenerMiembrosNoInsignia()" i18n-placeholder
								placeholder="Búsqueda"></p-chips>
							<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
						</div>
						<div class="ui-g-12 ui-md-12" *ngIf="listaMiembro.length>0 && !cargandoTotal">
							<p-dataTable [value]="listaMiembro" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadMiembroNoInsignia($event)">
								<p-header i18n>
									Lista de Miembros
								</p-header>
								<p-column field="idMiembro" i18n-header header="ID">
									<ng-template let-miembro="rowData" pTemplate="body">
										<span>{{miembro.idMiembro}}</span>
									</ng-template>
								</p-column>
								<p-column field="nombre" i18n-header header="Nombre">
									<ng-template let-miembro="rowData" pTemplate="body">
										<span>{{miembro.nombre}} {{miembro.apellido}}</span>
									</ng-template>
								</p-column>
								<p-column styleClass="col-button" i18n-header header="Asignación" *ngIf="insignia.estado == 'P'">
									<ng-template let-miembro="rowData" pTemplate="body">
										<!--Botón para agregar una insignia/nivel al miembro-->
										<button pButton type="button" class="listButton" (click)="agregarMiembroInsignia(miembro.idMiembro)" icon="ui-icon-add"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
						<div *ngIf="listaTotalVacia">
							<div class="ui-g-12"></div>
							<span i18n><strong>No hay miembros disponibles.</strong></span>
						</div>
					</div>
					<div *ngIf="!escrituraMiembro || !escrituraInsignia">
						<div class="ui-g-12" style="margin-top: 25px;"></div>
						<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
							<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
								<i class="material-icons">information</i>
							</div>
							<div class="ui-g-8 ui-md-7 ui-lg-7">
								<label i18n>No cuenta con los permisos requeridos para asignar insignias.</label>
							</div>
						</div>
					</div>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>

<!--Cuadro de dialogo para asignación de un nivel de insignia cuando es tipo status-->
<p-dialog i18n-header header="Niveles de insignia" [(visible)]="verNiveles" [responsive]="true" showEffect="fade" [modal]="true"
	responsive="true">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g form-group">
			<h3 i18n>Seleccione el nivel que desea asociar al cliente</h3>
			<div class="ui-g-12 ui-md-12" *ngIf="!listaVacia">
				<!--Niveles de insignia disponible-->
				<p-dataList [value]="listaNiveles" [paginator]="true" [rows]="10">
					<p-header i18n>
						Niveles disponibles
					</p-header>
					<ng-template let-nivel pTemplate="item">
						<div class="clearfix">
							<div class="ui-g-1 ui-md-1"></div>
							<div class="ui-g-2">
								<img class="img-lists img-border" src="{{nivel.imagen}}">
							</div>
							<div class="ui-g-3 ui-md-3">
								<p i18n><strong>Nombre:</strong></p>
								<p>{{nivel.nombreNivel}}</p>
							</div>
							<div class="ui-g-3 ui-md-3">
								<p i18n><strong>Descripción:</strong></p>
								<p>{{nivel.descripcion}}</p>
							</div>
							<!--Botón que permite ir al detalle de la insignia-->
							<button pButton type="button" *ngIf="escrituraInsignia && escrituraMiembro " (click)="asociarNivelMiembro(nivel.idNivel)" icon="ui-icon-add" class="listButton"></button>
						</div>
					</ng-template>
				</p-dataList>
			</div>
			<div class="ui-g-12 ui-md-12" *ngIf="listaVacia">
				<span i18n>Esta insignia no tiene niveles disponibles.</span>
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button pButton type="button" class="red-btn" i18n-label label="Cerrar" (click)="verNiveles=false" icon="ui-icon-close"></button>
		</div>
	</p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar remover la asociación de insignia
-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerMiembro()" icon="ui-icon-trash"></button>
	</p-footer>
</p-dialog>