<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Botón para regresar a la lista de categorías-->
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<div class="heading-detalle">
					<ng-container i18n>Nueva Insignia</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Formulario para insertar una insignia-->
			<form role="form" [formGroup]="formInsignia">

				<div class="ui-g-12 ui-md-12 ui-lg-12">

					<h1 i18n>Datos de Insignia</h1>
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<!--Imagen que representa a la categoría-->
							<div class="ui-g-12 ui-md-12">
								<img src='{{imagenInsignia}}' class="cp-insert cp-round" *ngIf="imagenInsignia"/>
								<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
							</div>
							<div class="ui-g-12 ui-md-12" *ngIf="escritura">
								<input class="upload" id="imagenInsignia" name="imagenInsignia" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
								<label for="imagenInsignia" i18n>Seleccione un archivo</label>
							</div>
						</div>

						<!--Nombre de la insignia-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtNombre" i18n><strong>Nombre</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="insignia.nombreInsignia" formControlName="nombre"
									pTooltip="Nombre de la insignia" tooltipPosition="top" (blur)="establecerNombres();">
							</div>
						</div>

						<!--Nombre interno-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtNombre" i18n><strong>Nombre interno</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<input type="text" pInputText id="txtInterno" name="txtInterno" maxlength="50" [(ngModel)]="insignia.nombreInterno" formControlName="nombreInterno"
									pTooltip="Nombre interno" tooltipPosition="top" (blur)="validarNombre()">
							</div>
						</div>

						<!--Descripcion-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtNombre" i18n><strong>Descripción</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="100" [(ngModel)]="insignia.descripcion"
									formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
							</div>
						</div>

						<!--Tipo de insignia-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="insigniaTipo" i18n><strong>Tipo de insignia</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<p-dropdown [options]="tipoItems" id="insigniaTipo" name="insigniaTipo" [(ngModel)]="insignia.tipo" formControlName="tipo"
									autoWidth pTooltip="Tipo de Insignia" tooltipPosition="top"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<!--Botones-->
				<div class="ui-g-12 ui-md-5 ui-lg-5">
					<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
				</div>
				<!--Butón para cancelar la inserción-->
				<div class="ui-g-12 ui-md-3 ui-lg-2">
					<button pButton type="button" i18n-label label="Cancelar" class="red-btn" (click)="goBack()" icon="ui-icon-close"></button>
				</div>
				<div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="escritura">
					<!--Se activa hasta que el formMiembro sea valido" -->
					<button pButton type="button" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formInsignia.valid && escritura"
						(click)="agregarInsignia()"></button>
				</div>
			</form>
		</div>
	</div>
</div>
