<div class="ui-fluid">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-10">
					<div class="heading-detalle">
						<ng-container i18n>Insignias</ng-container>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<!--Se realizan búsquedas según un criterio-->
					<div class="ui-g-12 ui-md-8 ui-lg-8">
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaInsignias()" (onRemove)="busquedaInsignias()" i18n-placeholder placeholder="Búsqueda"></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<div class="ui-g-12 ui-md-2 ui-lg-2">
						<button type="button" (click)="busquedaAvanzada = !busquedaAvanzada" i18n-label label="Búsqueda avanzada" pButton></button>
					</div>
					<!--Butón para agregar una nueva insignia-->
					<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
						<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="nuevaInsignia()" icon="ui-icon-add"></button>
					</div>
				</div>
				<!--Busqueda avanzada-->
				<div class="ui-g-12 ui-md-12" *ngIf="busquedaAvanzada">
					<p-fieldset legend="Estados" class="ui-g-12 ui-md-6">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group1" value="B" i18n-label label="Borrador" (onChange)="busquedaInsignias()" [(ngModel)]="estadoInsignia"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group1" value="P" i18n-label label="Publicado" (onChange)="busquedaInsignias()" [(ngModel)]="estadoInsignia"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group1" value="A" i18n-label label="Archivado" (onChange)="busquedaInsignias()" [(ngModel)]="estadoInsignia"></p-checkbox>
							</div>
						</div>
					</p-fieldset>
					<p-fieldset legend="Tipo de insignia" class="ui-g-12 ui-md-6">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group2" value="C" i18n-label label="Collector" (onChange)="busquedaInsignias()" [(ngModel)]="tipoInsignia"></p-checkbox>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-checkbox name="group2" value="S" i18n-label label="Status" (onChange)="busquedaInsignias()" [(ngModel)]="tipoInsignia"></p-checkbox>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>
		</div>
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					<div class="ui-g-5 ui-md-5"></div>
					<div class="ui-g-2 ui-md-2">
						<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
					</div>
				</div>
			</div>
			<div class="ui-grid-12 ui-md-12" *ngIf="!cargandoDatos">
				<!--Se muestra la lista con las insignias disponibles-->
				<p-dataList [value]="listaInsignias" [paginator]="true" [rows]="10" *ngIf="!listaVacia" [lazy]="true" [totalRecords]="totalRecords"
					(onLazyLoad)="loadData($event)">
					<p-header i18n>
						Listas de Insignias
					</p-header>
					<ng-template let-insignia pTemplate="item">
						<div class="listBorder clearfix">
							<!--Botones que para ir al detalle de la insignia, arhivar y eliminar según el caso que corresponda-->
							<button type="button" (click)="insigniaSeleccionada(insignia.idInsignia)" pButton icon="ui-icon-edit" class="listButton"></button>
							<button type="button" *ngIf="insignia.estado=='P' && escritura" (click)="confirmar(insignia.idInsignia, insignia.estado)" pButton icon="ui-icon-archive"
								class="listButton"></button>
							<button type="button" *ngIf="insignia.estado=='B' && escritura" (click)="confirmar(insignia.idInsignia, insignia.estado)" pButton icon="ui-icon-delete"
								class="listButton"></button>
							<div class="ui-g-10 ui-md-3 ui-lg-3">
								<img class="cp-list cp-round" src="{{insignia.imagen}}">
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
								<div class="ui-grid-row">
									<div class="ui-g-12 ui-md-12 ui-lg-12">
										<h3>{{insignia.nombreInsignia}}</h3>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Tipo de insignia:</strong></label>
										<label>{{insignia.tipo | tipoInsignia}}</label>
									</div>
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Estado:</strong></label>
										<label>{{insignia.estado | estadoElemento}}</label>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
				<!--Se muestra este mensaje si no existen insignias-->
				<div *ngIf="listaVacia" class="alert alert-info">
					<span i18n>No existen insignias disponibles.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="!publicada">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="publicada">
			<ng-container i18n>¿Confirma que desea archivar este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<!--Botones que para cancelar, remover y eliminar según el caso que corresponda-->
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" *ngIf="!publicada" (click)="removerInsignia()" icon="ui-icon-trash"></button>
		<button pButton type="button" i18n-label label="Archivar" *ngIf="publicada" (click)="removerInsignia()" icon="ui-icon-archive"></button>
	</p-footer>
</p-dialog>