<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar en la navegación-->
				<div class="ui-g-2 ui-md-1">
					<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<div class="heading-detalle">
						{{insignia.nombreInsignia}}
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Insignia</ng-container>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="cargandoDatos">
					<div class="ui-g-12 ui-md-12" >
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="!cargandoDatos">
					<!--Widget para mostrar información del estado y las acciones a realizar sobre el -->
					<div class="ui-g-12 ui-md-12 ui-lg-12" (click)="opInsignia.toggle($event)">
						<div class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado}" >
							<div class="ui-g-4">
								<i class="material-icons">edit</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado:</span>
								<span class="count">{{insignia.estado | estadoElemento}}</span>
							</div>
						</div>
					</div>
					<!--Acciones disponibles según el estado de la insignia-->
					<p-overlayPanel #opInsignia>
						<div class="ui-g-12 ui-md-12">
							<div *ngIf="insignia.estado == 'B' && escritura" class="ui-g-12 ui-md-12">
								<p i18n>La insignia se encuentra en estado Borrador, puede publicar o eliminar permanentemente</p>
								<button pButton type="button" class="orange-btn" i18n-label label="Publicar" icon="ui-icon-check" (click)="publicarInsignia(); opInsignia.hide()"></button>
							</div>
							<div *ngIf="insignia.estado == 'B' && escritura" class="ui-g-12 ui-md-12">
								<button pButton type="button" class="red-btn" i18n-label label="Eliminar" icon="ui-icon-trash" (click)="eliminar = true; opInsignia.hide()"></button>
							</div>
							<div *ngIf="insignia.estado == 'P' && escritura" class="ui-g-12 ui-md-12">
                                <p i18n>La insignia se encuentra <strong>publicada</strong>. Solo puede ser archivada</p>
                                <button pButton type="button" class="red-btn" i18n-label label="Archivar" icon="ui-icon-archive" (click)="eliminar = true; opInsignia.hide()"></button>
                            </div>
							<div *ngIf="insignia.estado == 'A'" class="ui-g-12 ui-md-12">
								<p i18n>No se pueden realizar cambios, la insignia esta archivada.</p>
							</div>
						</div>
						<div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: larger; color: white;">
							<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
								<i class="material-icons">information</i>
							</div>
							<div class="ui-g-8 ui-md-7 ui-lg-7">
								<label i18n>No cuenta con los permisos de escritura sobre insignias.</label>
							</div>
						</div>
						<div class="ui-g-12 ui-md-12"></div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<!--Barra con las opciones a mostrar dentro del componente-->
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" [routerLink]="informacion" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-brush" i18n-label label="Niveles" [routerLink]="niveles" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-group" i18n-label label="Asignación" [routerLink]="asignacion" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-group" i18n-label label="Asignación Automática" routerLink="asignacionAutomatica" [routerLinkActive]="['ruta-activada']"></button>
					</div>
				</div>
			</div>
		</div>	
		<div class="card card-w-title">
			<!--Se muestra el html según la selección de la barra-->
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
		<!--Acción según el estado de la insignia-->
		<button pButton type="button" i18n-label label="Remover" (click)="removerInsignia()" icon="ui-icon-trash" *ngIf="insignia.estado == 'B'"></button>
        <button pButton type="button" i18n-label label="Archivar" (click)="removerInsignia()" icon="ui-icon-archive" *ngIf="insignia.estado == 'P'"></button>
    </p-footer>
</p-dialog>
