<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-9">
					<h2 i18n>Niveles</h2>
				</div>
				<!--Butón para agregar una nueva insignia-->
				<div class="ui-g-12 ui-md-3" *ngIf="insignia.estado != 'A' && escritura && insignia.tipo =='S'">
					<button pButton type="button" i18n-label label="Agregar Nivel" (click)="editar =true" icon="ui-icon-add"></button>
				</div>
			</div>
		</div>
		<div class="ui-grid-12 ui-md-12" *ngIf="insignia.tipo =='S'">
			<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
			<!--Se muestra la lista con los niveles de la insignia-->
			<div *ngIf="!listaVacia && !cargandoDatos">
				<p-dataList [value]="listaNiveles" [paginator]="true" [rows]="10">
					<p-header i18n> Niveles de insignia</p-header>
					<ng-template let-nivel pTemplate="item">
						<div class="listBorder clearfix">
							<div class="ui-g-10 ui-md-2 ui-lg-2">
								<img class="cp-list cp-round" src="{{nivel.imagen}}">
							</div>
							<div class="ui-g-3 ui-md-3">
								<h4><strong i18n>Nombre:&nbsp; &nbsp;</strong>{{nivel.nombreNivel}}</h4>
								<h4><strong i18n>Nombre interno:&nbsp; &nbsp;</strong>{{nivel.nombreInterno}}</h4>
							</div>
							<div class="ui-g-3 ui-md-3">
								<h4><strong i18n>Descripción:&nbsp; &nbsp;</strong>{{nivel.descripcion}}</h4>
							</div>
							<div *ngIf="insignia.estado != 'A' && escritura">
								<!--Permiten mostrar el detalle o abrir el dialogo para remover el nivel-->
								<button type="button" (click)="nivelSeleccionado(nivel)" pButton icon="ui-icon-edit" class="listButton"></button>
								<button type="button" (click)="confirmar(nivel.idNivel)" pButton icon="ui-icon-delete" class="listButton"></button>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>

			<!--Se muestra este mensaje si no existen insignias-->
			<div *ngIf="listaVacia && !cargandoDatos">
				<span i18n>No existen niveles de insignia disponibles.</span>
			</div>
		</div>
		<div class="ui-grid-12 ui-md-12" *ngIf="insignia.tipo =='C'">
			<span i18n>Los niveles solo están disponibles si la insignia es de tipo Status.</span>
		</div>
	</div>
</div>

<!--Cuadro de dialogo para ingresar/editar un nivel-->
<p-dialog i18n-header header="Nivel de Insignia" [(visible)]="editar" [responsive]="true" showEffect="fade" [modal]="true"
	width="700" height="610">
	<div class="ui-g-12 ui-md-12">
		<form role="form" [formGroup]="formNivel">
			<div class="ui-g form-group">
				<h3 i18n>Datos del nivel</h3>
				<div class="ui-g-12 ui-md-12">
					<!-- Nombre del nivel -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4">
							<label i18n><strong>Nombre:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8">
							<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="nivel.nombreNivel" formControlName="nombre"
								pTooltip="Nombre del nivel" tooltipPosition="top" (blur)="establecerNombres();">
						</div>
					</div>
					<!-- Nombre interno -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-6 ui-md-4">
							<label i18n><strong>Nombre interno:</strong></label>
						</div>
						<div class="ui-g-6 ui-md-8">
							<input type="text" pInputText [(ngModel)]="nivel.nombreInterno" id="txtInterno" name="txtInterno" formControlName="nombreInterno"
								pTooltip="Nombre Interno del nivel" tooltipPosition="top" (blur)="validarNombre()">
						</div>
					</div>
					<!-- Descripción del nivel -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4">
							<label i18n><strong>Descripción:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8">
							<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="30" [(ngModel)]="nivel.descripcion" formControlName="descripcion"
								pTooltip="Descripción del nivel" tooltipPosition="top">
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-8">
					<!--Imagen que representa a la categoría-->
					<div class="ui-g-12 ui-md-12">
						<img src='{{imagenAgregar}}' class="cp-list cp-round" />
						<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input class="upload" id="imagenAgregar" name="imagenAgregar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
						<label for="imagenAgregar" i18n>Seleccione un archivo</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
			<div class="ui-g-12 ui-md-8">
				<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
			</div>
			<div class="ui-g-12 ui-md-2">
				<button pButton type="button" i18n-label label="Cancelar" (click)="editar=false; formNivel.reset()" icon="ui-icon-close"></button>
			</div>
			<div class="ui-g-12 ui-md-2">
				<button pButton type="button" i18n-label label="Guardar" [disabled]="!formNivel.valid && !escritura" (click)="accionNivel()" icon="ui-icon-save"></button>
			</div>
	</p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerNivel()" icon="ui-icon-trash"></button>
	</p-footer>
</p-dialog>