<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
        <div class="ui-g-5 ui-md-5"></div>
        <div class="ui-g-2 ui-md-2">
            <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
        </div>
    </div>
    <div *ngIf="!cargandoDatos">
        <!--Formulario para insertar una insignia-->
        <form role="form" [formGroup]="formInsignia">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <h1 i18n>Datos de Insignia</h1>

                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <!--Imagen que representa a la categoría-->
                        <div class="ui-g-12 ui-md-12">
                            <img src='{{imagenInsignia}}' class="cp-insert cp-round" *ngIf="insignia.imagen" />
                            <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                        </div>
                        <div class="ui-g-12 ui-md-12" *ngIf="escritura">
                            <input class="upload" id="imagen" name="imagen" type="file" (change)="subirImagen()" accept=" image/jpg, image/jpeg, image/png">
                            <label for="imagen" i18n>Seleccione un archivo</label>
                        </div>
                    </div>

                    <!--Nombre de la insignia-->
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-5 ui-lg-3">
                            <label for="txtNombre" i18n><strong>Nombre</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-6">
                            <input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="insignia.nombreInsignia" formControlName="nombre"
                                pTooltip="Nombre de la insignia" tooltipPosition="top" (blur)="establecerNombres();">
                        </div>
                    </div>

                    <!--Nombre interno-->
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-5 ui-lg-3">
                            <label for="txtNombre" i18n><strong>Nombre interno</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-6">
                            <input type="text" pInputText id="txtInterno" name="txtInterno" maxlength="50" [(ngModel)]="insignia.nombreInterno" formControlName="nombreInterno"
                                pTooltip="Nombre interno" tooltipPosition="top" (blur)="validarNombre()">
                        </div>
                    </div>

                    <!--Descripcion-->
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-5 ui-lg-3">
                            <label for="txtNombre" i18n><strong>Descripción</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-6">
                            <input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="100" [(ngModel)]="insignia.descripcion"
                                formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
                        </div>
                    </div>

                    <!--Tipo de insignia-->
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-5 ui-lg-3">
                            <label for="docIdentificacion" i18n><strong>Tipo de insignia</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="insignia.estado ==  'B'">
                            <p-dropdown [options]="tipoItems" id="insigniaTipo" name="insigniaTipo" [(ngModel)]="insignia.tipo" formControlName="tipo"
                                autoWidth pTooltip="Tipo de Insignia" tooltipPosition="top"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="insignia.estado !=  'B'">
                            <label>{{insignia.tipo | tipoInsignia}}</label>
                        </div>
                    </div>

                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-7">
                    <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
                </div>
                <!--Botones con las acciones para editar y remover los grupos-->
                <div *ngIf="insignia.estado !='A' && escritura" class="ui-g-12 ui-md-3 ui-lg-2">
                    <button pButton type="button" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formInsignia.valid || actualizando" (click)="actualizarInsignia()"></button>
                </div>
            </div>
        </form>
    </div>
</div>

