<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 form-padding">
    <h3 i18n>Activity Log</h3>
    <offer-carousel></offer-carousel>
    <div class="row form-padding">
      <div class="col-xs-12 col-md-6 ">
        <h4 i18n>Points</h4>
        <div *ngIf="!history" style="text-align: center">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div *ngIf="history&&history.length==0">
          <div class="alert alert-info" role="alert" i18n>Your points history is empty</div>
        </div>

        <div class="table-responsive">
          <table *ngIf="history&&history.length>0" class="table table-hover">
            <tr >
              <th i18n>Activity</th>
              <th i18n>Points</th>
              <th i18n>Date</th>
            </tr>
            <tr *ngFor="let item of history">
              <td>
                <div  [ngSwitch]="item.indFormaGanada">
                  <div *ngSwitchCase="'M'" i18n>Completed a Mission</div>
                  <div *ngSwitchCase="'T'" i18n>Purchased a product</div>
                  <div *ngSwitchDefault i18n>Other</div>
                </div>
              </td>
              <td>{{item.cantidadGanada}}</td>
              <td>{{item.fecha|date}} </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 ">
        <h4 i18n>Rewards</h4>
        <div *ngIf="!redeemHistory" style="text-align: center">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div *ngIf="redeemHistory&&redeemHistory.length==0">
          <div class="alert alert-info" role="alert" i18n>Your rewards history is empty</div>
        </div>
        <div class="table-responsive" *ngIf="redeemHistory&&redeemHistory.length>0">
          <table class="table table-hover">
            <tr >
              <th i18n>Points</th>
              <th i18n>Item</th>
              <th i18n>Date</th>
            </tr>
            <tr *ngFor="let item of redeemHistory">
              <td i18n>{{item.valorMoneda}}</td>
              <td i18n>{{item.nombre}}</td>
              <td i18n>{{item.fechaRedencion|date}} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>