<div class="container" *ngIf="reward">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img src="{{reward.imagenArte}}" />
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active">
              <a data-target="#pic-1" data-toggle="tab">
                <img src="{{reward.imagenArte}}" />
              </a>
            </li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{reward.encabezadoArte}}</h3>
          <div class="rating">
            <span class="text-muted" i18n>SKU: {{reward.sku}}</span>
          </div>
          <hr>
          <h4>{{reward.subencabezadoArte}}</h4>

          <p class="product-description">{{reward.detalleArte}}</p>
          <!--item's price-->
          <h4 class="price" style="text-transform: none;" i18n>Current Price:
            <span *ngIf="reward.valorMoneda"> {{reward.valorMoneda}} {{reward.idMetrica.nombre}}</span>
            <span *ngIf="reward.valorEfectivo">${{reward.valorEfectivo}}</span>
          </h4>
          <!--<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>-->
          <h4 class="price" style="text-transform: none;" i18n>
            Type:
            <span [ngSwitch]="reward.indTipoPremio">
              <span *ngSwitchCase="'P'">
                <span class="size" data-toggle="tooltip" title="Reward"> Reward</span>
              </span>
              <span *ngSwitchCase="'C'">
                <span class="size" data-toggle="tooltip" title="Certificate"> Certificate</span>
              </span>
              <span *ngSwitchDefault>Other</span>
            </span>
          </h4>
          <hr>
          <div class="action">
            <button class="add-to-cart btn center-block" type="button" (click)="redeemReward()">Redeem</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="modal-body">
          <div *ngIf="statusRedeem">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- Project Details Go Here -->
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <h1>Thank you!</h1>
              </div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <strong> Your certificate ID is: </strong>
              </div>
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                {{statusRedeem}}
              </div>

            </div>
            <div class="row" style="margin-top: 15px">

            </div>
            <div class="row" style="margin-top: 15px;margin-bottom: 25px">
              <div class="col-xs-12 col-lg-4 col-lg-offset-8">
                <button type="button" (click)="gotoRewards()" class="btn btn-primary" data-dismiss="modal" i18n>Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>