<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading" i18n>Rewards</h2>
      <h3 class="section-subheading text-muted" i18n>Check out this awesome rewards</h3>
    </div>
  </div>

  <div class="col-md-offset-5 col-md-2 " style="margin-bottom:100px;margin-top:100px;text-align: center;" *ngIf="listaRewards&&listaRewards.length==0">
    <div class="alert alert-info" role="alert" i18n>There are no missions available at this moment</div>
  </div>

  <div class="col-md-offset-5 col-md-2 " style="margin-bottom:100px;margin-top:100px;text-align: center;" *ngIf="!listaRewards">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
  <div class="row">
    <div *ngFor="let reward of listaRewards; let i= index">
      <div class="col-lg-4 col-md-4 col-sm-6" style="margin-top: 25px">
        <a href="#portfolioModal" class="portfolio-link" data-toggle="modal" (click)="setSelectedReward(reward)">
          <img [src]="reward.imagenArte" class="img-responsive" style="min-width: 300px;min-height: 300px">
        </a>
        <div class="portfolio-caption">
          <h4>{{reward.encabezadoArte}}</h4>
          <p class="text-muted">{{reward.detalleArte}}</p>
        </div>
      </div>
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-lg-block" *ngIf="((i+1)%3)==0"></div>
      <div class="clearfix visible-sm-block" *ngIf="((i+1)%2)==0"></div>
    </div>
  </div>
</div>


<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true" style="text-align: center">
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="container-fluid">
        <div class="modal-body ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Project Details Go Here -->
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
              <h2>{{reward.encabezadoArte}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
              <p class="item-intro text-muted">{{reward.subencabezadoArte}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
              <img class="img-responsive img-centered" src="{{reward.imagenArte}}" >
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
              <p><strong>{{reward.detalleArte}}</strong> </p>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;margin-bottom: 25px">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
              <button type="button" (click)="gotoDetail(reward.idPremio)" class="btn btn-primary" data-dismiss="modal" i18n>View more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>