<div class="profile" [ngClass]="{'profile-expanded':active}">
    <div>
        <img [src]="usuario.avatar" *ngIf="usuario" class="img-circle" [ngClass]="{'loading': !usuario.avatar}" />
    </div>
    <a (click)="onClick($event)" *ngIf="usuario">
        <span class="profile-name">{{usuario.nombrePublico}}</span>
        <i class="material-icons">keyboard_arrow_down</i>
    </a>
</div>

<ul class="ultima-menu profile-menu" [@menu]="active ? 'visible' : 'hidden'">
    <!--<li role="menuitem">
        <a style="cursor: pointer;" (click)="account()" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>
    </li>-->
    <!--<li role="menuitem">
        <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">security</i>
            <span>Privacy</span>
        </a>
    </li>
    <li role="menuitem">
        <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">settings_application</i>
            <span>Settings</span>
        </a>
    </li>-->
    <li role="menuitem">
        <a style="cursor: pointer;" (click)="logout()" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">power_settings_new</i>
            <span i18n>Logout</span>
        </a>
    </li>
</ul>