<div class="topbar clearfix">
    <div class="topbar-left">
        <div class="ui-grid-12">
            <div class="ui-g-3 ">
                <img src='{{configuracion.logoEmpresa}}' alt="" height="50" style="margin:-9px;max-width: 200px;" />
            </div>
            <div class="ui-g-9"  >
                <div style="margin: -14px 10px 0px 0px; text-align: right;">
                    <h2 *ngFor="let nombre of nombreEmpresa" style="color:#fff;margin: 0px 0px 0px 0px;">{{nombre}}</h2>
                </div>
             
            </div>
        </div>
    </div>

    <div class="topbar-right">
        <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)">
            <i></i>
        </a>
        <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
            <i class="material-icons">menu</i>
        </a>
        <ul class="topbar-items animated fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}">
            <li #profile class="profile-item" *ngIf="app.profileMode==='top'||app.isHorizontal()" [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

                <a href="#" (click)="app.onTopbarItemClick($event,profile)">
                    <div class="loading img-circle" *ngIf="!usuario.avatar"></div><img [src]="usuario.avatar" *ngIf="usuario.avatar" class="loading img-circle" />
                    <span class="topbar-item-name">{{usuario.nombrePublico}}</span>
                </a>

                <ul class="ultima-menu animated fadeInDown">
                    <!--<li role="menuitem">
                        <a href="#">
                            <i class="material-icons">person</i>
                            <span>Profile</span>
                        </a>
                    </li>-->
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">security</i>
                            <span>Privacy</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">settings_applications</i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a style="cursor: pointer;" (click)="logout()">
                            <i class="material-icons">power_settings_new</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #settings [ngClass]="{'active-top-menu':app.activeTopbarItem === settings}">
                <a href="#" (click)="app.onTopbarItemClick($event,settings)">
                    <i class="topbar-icon material-icons">settings</i>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul class="ultima-menu animated fadeInDown">
                    <li role="menuitem">
                        <a [routerLink]="['/configuracionSistema']">
                            <i class="material-icons">settings</i>
                            <span i18n>Configuración del sistema</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a [routerLink]="['/trabajos']">
                            <i class="material-icons">settings</i>
                            <span i18n>Trabajos internos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li #notifications [ngClass]="{'active-top-menu':app.activeTopbarItem === notifications}">
                <a href="#" (click)="app.onTopbarItemClick($event,notifications)">
                    <i class="topbar-icon material-icons">timer</i>
                    <span class="topbar-badge animated rubberBand">4</span>
                    <span class="topbar-item-name">Notifications</span>
                </a>
                <ul class="ultima-menu animated fadeInDown">
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">bug_report</i>
                            <span>Pending tasks</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">event</i>
                            <span>Meeting today at 3pm</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">file_download</i>
                            <span>Download documents</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">flight</i>
                            <span>Book flight</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #search class="search-item" [ngClass]="{'active-top-menu':app.activeTopbarItem === search}" (click)="app.onTopbarItemClick($event,search)">
                <span class="md-inputfield">
                            <input type="text" pInputText>
                            <label>Search</label>
                            <i class="topbar-icon material-icons">search</i>
                        </span>
            </li>-->
        </ul>
    </div>
</div>