<div class="card card-w-title">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-1">
			<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
		</div>
		<div class="ui-g-12 ui-md-9">
			<div class="ui-g-12 ui-md-12">
				<div class="heading-detalle"> {{preguntaMillonario.pregunta}} </div>
			</div>
			<div class="ui-g-12 ui-md-12">
				<div class="sub-heading-detalle"> <ng-container i18n>Pregunta Juego</ng-container> </div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12 ui-lg-12">
			<h1 i18n>Detalle de la Pregunta</h1>
			<div class="ui-g-12 ui-lg-12">
				<form [formGroup]="form">
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtPregunta" i18n><strong>Pregunta:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input pInputText id="txtPregunta" name="txtPregunta" type="text" [(ngModel)]="preguntaMillonario.pregunta" pTooltip="Pregunta del juego"
							tooltipPosition="top" formControlName="pregunta">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="indPuntos" i18n><strong>Puntos:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<p-dropdown [autoWidth]="false" id="indPuntos" name="indPuntos" pTooltip="Puntos de la pregunta" tooltipPosition="top" [(ngModel)]="preguntaMillonario.puntos"
								[options]="itemsPuntos" formControlName="puntos"></p-dropdown>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="indRespuestaCorrecta" i18n><strong>Respuesta correcta:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<p-dropdown [autoWidth]="false" id="indRespuestaCorrecta" name="indRespuestaCorrecta" pTooltip="Respuesta correcta" tooltipPosition="top" [(ngModel)]="preguntaMillonario.respuestaCorrecta"
								[options]="itemsRespuestas" formControlName="respuestaCorrecta"></p-dropdown>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtRespuesta1" i18n><strong>Respuesta 1:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input id="txtRespuesta1" name="txtRespuesta1" type="text" pInputText pTooltip="Pregunta 1 de la pregunta" tooltipPosition="top"
								[(ngModel)]="preguntaMillonario.respuesta1" formControlName="respuesta1">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtRespuesta2" i18n><strong>Respuesta 2:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input id="txtRespuesta2" name="txtRespuesta2" type="text" pInputText pTooltip="Pregunta 2 de la pregunta" tooltipPosition="top"
								[(ngModel)]="preguntaMillonario.respuesta2" formControlName="respuesta2">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtRespuesta3" i18n><strong>Respuesta 3:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input id="txtRespuesta3" name="txtRespuesta3" type="text" pInputText pTooltip="Pregunta 3 de la pregunta" tooltipPosition="top"
								[(ngModel)]="preguntaMillonario.respuesta3" formControlName="respuesta3">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtRespuesta4" i18n><strong>Respuesta 4:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input id="txtRespuesta4" name="txtRespuesta4" type="text" pInputText pTooltip="Pregunta 4 de la pregunta" tooltipPosition="top"
								[(ngModel)]="preguntaMillonario.respuesta4" formControlName="respuesta4">
						</div>
					</div>
				</form>
			</div>
			<div class="ui-g-12" *ngIf="tienePermisosEscritura">
				<div class="ui-g-7">
					<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendo" />
				</div>
				<div class="ui-g-2">
					<button pButton class="pull-right" [disabled]="!form.valid" i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" (click)="editarPregunta()"></button>
				</div>
			</div>
		</div>
	</div>
</div>