<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-md-10">
				<h1 i18n>Preguntas</h1>
            </div>
            <div class="ui-g-12 ui-md-10" *ngIf="puntosFaltantes.length">
				<p>Faltantes: {{puntosFaltantes}}</p>
            </div>
            <div class="ui-g-12 ui-md-10" *ngIf="!puntosFaltantes.length">
				<p>Listo para producción</p>
			</div>
            <div class="form-group">
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <button
                        pButton
                        type="button"
                        (click)="abrirDialogs('agregar')"
                        *ngIf="escritura"
                        class="green-btn"
                        i18n-label
                        label="Agregar"
                        icon="ui-icon-add">
                    </button>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="preguntas&&preguntas.length<=0">
                <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay preguntas'}]"></p-messages>
            </div>

            <div class="ui-g-12" *ngIf="!preguntas">
                <div class="ui-g-5"></div>
                <div class="ui-g-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
                <div class="ui-g-5"></div>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-12">
            <p-dataList [value]="preguntas" [paginator]="true" [rows]="10" *ngIf="preguntas&&preguntas.length>0">
                <p-header i18n> Tablas de preguntas </p-header>
                <ng-template let-pregunta pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4">
                                            <ng-container i18n>Pregunta: </ng-container>
                                        </div>
                                        <div class="ui-grid-col-8">{{pregunta.pregunta}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4">
                                            <ng-container i18n>Puntos: </ng-container>
                                        </div>
                                        <div class="ui-grid-col-8">{{pregunta.puntos}}</div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Correcta: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{pregunta.respuestaCorrecta}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Respuesta1: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{pregunta.respuesta1}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Respuesta2: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{pregunta.respuesta2}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Respuesta3: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{pregunta.respuesta3}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Respuesta4: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{pregunta.respuesta4}}</div>
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                <div class="ui-grid-row">
                                    <button class="pull-right" icon="ui-icon-delete" pButton (click)="mostrarModalEliminarPregunta(pregunta)" *ngIf="escritura"></button>
                                    <button class="pull-right" icon="ui-icon-edit" pButton (click)="gotoDetail(pregunta)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" [modal]="true">
    <ng-container>{{questBorrar}}</ng-container>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="displayModalEliminar=false" i18n-label label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" i18n-label label="Eliminar" (click)="eliminarPregunta()" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="dialogInsertar" [responsive]="true" width="700" height="auto" [resizable]="true" showEffect="fade" [modal]="true">
    <p-header i18n>
        Insertar Pregunta
    </p-header>
    <form [formGroup]="form">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="txtPregunta" i18n><strong>Pregunta:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="txtPregunta" name="txtPregunta" type="text" [(ngModel)]="preguntaMillonario.pregunta" pTooltip="Pregunta"
                        tooltipPosition="top" formControlName="pregunta">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="indPuntos" i18n><strong>Puntos:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <p-dropdown [autoWidth]="false" id="indPuntos" name="indPuntos" pTooltip="Puntos de la pregunta" tooltipPosition="top" [(ngModel)]="preguntaMillonario.puntos"
                        [options]="itemsPuntos" formControlName="puntos"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="indRespuestaCorrecta" i18n><strong>Respuesta correcta:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <p-dropdown [autoWidth]="false" id="indRespuestaCorrecta" name="indRespuestaCorrecta" pTooltip="Respuesta correcta" tooltipPosition="top" [(ngModel)]="preguntaMillonario.respuestaCorrecta"
                        [options]="itemsRespuestas" formControlName="respuestaCorrecta"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="txtRespuesta1" i18n><strong>Respuesta 1:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input id="txtRespuesta1" name="txtRespuesta1" type="text" pInputText pTooltip="Pregunta 1 de la pregunta" tooltipPosition="top"
                        [(ngModel)]="preguntaMillonario.respuesta1" formControlName="respuesta1">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="txtRespuesta2" i18n><strong>Respuesta 2:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input id="txtRespuesta2" name="txtRespuesta2" type="text" pInputText pTooltip="Pregunta 2 de la pregunta" tooltipPosition="top"
                        [(ngModel)]="preguntaMillonario.respuesta2" formControlName="respuesta2">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="txtRespuesta3" i18n><strong>Respuesta 3:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input id="txtRespuesta3" name="txtRespuesta3" type="text" pInputText pTooltip="Pregunta 3 de la pregunta" tooltipPosition="top"
                        [(ngModel)]="preguntaMillonario.respuesta3" formControlName="respuesta3">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="txtRespuesta4" i18n><strong>Respuesta 4:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input id="txtRespuesta4" name="txtRespuesta4" type="text" pInputText pTooltip="Pregunta 4 de la pregunta" tooltipPosition="top"
                        [(ngModel)]="preguntaMillonario.respuesta4" formControlName="respuesta4">
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button
            pButton
            type="button"
            i18n-label
            label="Cancelar"
            (click)="cancelarInsertar()"
            icon="ui-icon-close">
        </button>
        <button
            pButton
            type="button"
            i18n-label
            label="Guardar"
            [disabled]="!form.valid"
            (click)="insertarPregunta()"
            class="green-btn"
            icon="ui-icon-save">
        </button>
    </p-footer>
</p-dialog>