<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-3 ui-md-1">
            <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button> 
        </div>
        <div class="ui-g-12 ui-md-8">
            <div class="heading-detalle">
                <ng-container i18n>Nuevo Juego</ng-container>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="ui-toolbar">
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" class="ruta-activada"></button>
            </div>
            <div class="ui-g-6 ui-md-2 ui-lg-2">
                <button pButton disabled="true" type="button" icon="ui-icon-group" i18n-label label="Preguntas"></button>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <form [formGroup]="form">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-md-12">
                        <h2 i18n>Datos generales de la misión</h2>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="nombreJuego" i18n><strong>Nombre</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <input pInputText id="nombreJuego" name="nombreJuego" type="text" [(ngModel)]="juegoMillonario.nombre" formControlName="nombre">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div class="ui-g-12 ui-md-4 ui-lg-2">
                            <label for="descJuego" i18n><strong>Descripción</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-lg-7">
                            <input pInputText id="descJuego" name="descJuego" type="text" [(ngModel)]="juegoMillonario.descripcion" formControlName="descripcion">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                        <div class="ui-g-12 ui-md-7 ui-lg-7"></div>
                        <div class="ui-g-12  ui-md-2 ui-lg-2">
                            <button type="button" pButton i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" [disabled]="!form.valid" (click)="insertarJuego()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>