<form #form="ngForm">
	<div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-lg-12">
                    <h4 i18n>Datos generales del Tema</h4>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="nombreJuego" i18n>Nombre</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <input required #nombreJuego="ngModel" pInputText id="nombreJuego" name="nombreJuego" type="text" [(ngModel)]="juegoMillonario.nombre" >
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="descJuego" i18n>Descripción</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <input pInputText #descJuego="ngModel" id="descJuego" name="descJuego" type="text" [(ngModel)]="juegoMillonario.descripcion">
                </div>           
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="tienePermisosEscritura">
			<div class="ui-g-12 ui-md-2 ui-lg-2">
			</div>
			<div class="ui-g-12 ui-md-8 ui-lg-8">
			</div>
			<div class="ui-g-12 ui-md-2 ui-lg-2">
				<button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" (click)="actualizarJuego()" [disabled]="!form.valid"></button>
			</div>
		</div>
	</div>

</form>