<div class="card">
    <div class="ui-g ui-fluid wrapper-spacing">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-md-10">
			    <div class="heading-detalle">
				    <ng-container i18n>Temas Quien Quiere Ser Millonario</ng-container>
				</div>
			</div>
            <div class="ui-g-12 ui-md-8 ui-lg-8">
                <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="this.listaJuegos=null;cargarJuegos()"
                    (onRemove)="this.listaJuegos=null;cargarJuegos()"></p-chips>
                    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" i18n-label label="Busqueda Avanzada" (click)="busquedaAvanzada = !busquedaAvanzada"></button>
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" i18n-label label="Agregar" icon="ui-icon-add" class="green-btn" [routerLink]="'/insertarJuegoMillonario'"></button>
            </div>

            <div class="ui-g-12 ui-lg-12 fade-in" *ngIf="busquedaAvanzada">
                <!--<p-fieldset legend="Estados" class="ui-g-12 ui-md-12">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-9">
						<div class="ui-g-12 ui-md-4">
							<p-checkbox name="group1" value="A" i18n-label label="Mostrar Activas" (onChange)="listaJuegos=undefined;this.cargarJuegos()"
                              [(ngModel)]="estados"></p-checkbox>
						</div>
						<div class="ui-g-12 ui-md-4">
					    	<p-checkbox name="group1" value="C" i18n-label label="Mostrar Borrador" (onChange)="listaJuegos=undefined;this.cargarJuegos()"
                               [(ngModel)]="estados"></p-checkbox>
							</div>
						<div class="ui-g-12 ui-md-4">
							<p-checkbox name="group1" value="B" i18n-label label="Mostrar Archivadas" (onChange)="listaJuegos=undefined;this.cargarJuegos()"
                               [(ngModel)]="estados"></p-checkbox>
						</div>
					</div>
                </p-fieldset>
                -->

                <p-fieldset legend="Filtros" class="ui-g-12 ui-md-6">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
						<div class="ui-g-12 ui-md-4 ui-lg-4">
							<p-checkbox name="group1" value="nombre" i18n-label label="Nombre" (onChange)="listaJuegos=undefined;this.cargarJuegos()" [(ngModel)]="estados"></p-checkbox>
						</div>
						<div class="ui-g-12 ui-md-4 ui-lg-4">
					    	<p-checkbox name="group1" value="descripcion" i18n-label label="Descripción" (onChange)="listaJuegos=undefined;this.cargarJuegos()" [(ngModel)]="estados"></p-checkbox>
						</div>
					</div>
				</p-fieldset>
            </div>
            <div class="ui-g-12 ui-lg-12" *ngIf="listaJuegos&&listaJuegos.length<=0">
                <div style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>No hay Temas disponibles.</label>
					</div>
				</div>
                <!--<p-messages [value]="[{severity:'info', summary:'', detail:'No hay Juegos disponibles'}]"></p-messages>-->
            </div>

            <div class="ui-g-12" *ngIf="!listaJuegos">
                <div class="ui-g-5"></div>
                <div class="ui-g-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
                <div class="ui-g-5"></div>
            </div>
            <p-dataList class="ui-g-12 ui-lg-12" *ngIf="listaJuegos&&listaJuegos.length>0" [value]="listaJuegos" (onLazyLoad)="loadData($event)"
                [paginator]="true" [rows]="9" [lazy]="true" [totalRecords]="cantTotalRegistros">
                <p-header i18n> Listado de Temas </p-header>
                <ng-template let-juego pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{juego.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                        <div class="ui-grid-col-8">{{juego.descripcion}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Creado:</strong> </div>
                                        <div class="ui-grid-col-8">{{juego.fechaCreacion|date:'medium'}}</div>
                                    </div>
                                    <!--
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Estado:</strong> </div>
                                        <div class="ui-grid-col-8">
                                            <div [ngSwitch]="mision.indEstado">
                                                <div *ngSwitchCase="'A'"><ng-container i18n>Activo</ng-container></div>
                                                <div *ngSwitchCase="'B'"><ng-container i18n>Archivado</ng-container></div>
                                                <div *ngSwitchCase="'C'"><ng-container i18n>Borrador</ng-container></div>
                                                <div *ngSwitchDefault></div>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <div class="ui-grid-col-1">
                                <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="gotoDetail(juego)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
