<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12">
			<div class="ui-g-3 ui-md-1">
            	<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
            </div>
			<div class="ui-g-12 ui-md-8">
				<div class="ui-g-12">
					<div class="heading-detalle">{{juegoMillonario.nombre}}</div>
				</div>
				<div class="ui-g-12">
					<div class="sub-heading-detalle"><ng-container i18n>Tema</ng-container></div>
				</div>
			</div>
			</div>
		</div>
</div>
<div class="ui-toolbar">
	<div class="ui-g ui-fluid">
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button
				pButton
				type="button"
				icon="ui-icon-reorder"
				i18n-label
				label="General"
				routerLink="common"
				routerLinkActive="ruta-activada">
			</button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button
				pButton
				type="button"
				icon="ui-icon-brush"
				i18n-label
				label="Preguntas"
				routerLink="preguntas"
				routerLinkActive="ruta-activada">
			</button>
		</div>
	</div>
</div>

<div class="card">
	<router-outlet></router-outlet>
</div>