/* Estilos globales, la mayoria orientados a sobrescribir elementos de bootstrap */
.button-cursor{
    cursor: pointer;
}
.menu-item-active {
    color: #fec503 !important;
}
.dropdown-menu-item{
    text-transform: lowercase;
}
.user-dropdown{
    padding: 0px;
    background-color: #FFF;
    border-radius: 30%;
}

.heading-form{
    padding-bottom: 10px;
}

.form-img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
     border: 1px solid #ddd;
    border-radius: 30%;
    display: block;
}

.form-padding {
    padding-top: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.open > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration:.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration:.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration:.2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 776px){
  .user-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    border-radius: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media only screen  and (min-width : 780px) {
  .user-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    background-color: #FFF;
    border-radius: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
 

.offer-descr{
    padding: 10px;
    text-align: justify;
    margin-top: 15px;
    font-family: sans-serif
}

.modal-content {
    color: #3c3737;
    outline: none;
}

.user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.nav-tabs>li>a{
   color: #555;
}

/*****************globals*************/
body {
  /*font-family: 'open sans';*/
  overflow-x: hidden;
   }

img {
    border-radius: 3%;

   }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  border-radius: 1%;
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; 
  }


  .details>hr{  
 
    width: 100%;
    margin-top: 8px;
    margin-bottom: 14px;
    /* border: 1px solid black; */
    border-top: 1px solid #DDD;

  }
@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }