<div class="ui-fluid">
    <div class="ui-g-12 ui-md-12">
        <div class="card card-w-title ui-g">
            <div class="ui-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12">
                    <div class="heading-detalle">
                        <ng-container i18n>Reportes</ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12" *ngIf="!escritura && cargando" style="text-align: -webkit-center;">
        <img class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
    </div>
    <div class="ui-g-12" *ngIf="!escritura && !cargando">
        <div class="card card-w-title ui-g">
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4" style="background: dodgerblue;font-size: medium;color: white;padding: 0 0 0 24px;">
                    <div class="ui-g-12 ui-md-2 ui-lg-1">
                        <i class="material-icons">information</i>
                    </div>
                    <div class="ui-g-12 ui-md-7 ui-lg-7">
                        <label i18n>No cuenta con los permisos requeridos para generar reportes.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-12" *ngIf="escritura">
        <div class="ui-g-12 ui-lg-6">
            <div class="card ui-g" style="height: 250px">
               <div class="ui-g-1 ui-md-1 ui-lg-1">
                    <img src="/resources/img/report_gray.png" height="35" width="35" class="status"/>
                </div>
                <div class="ui-g-10 ui-md-10 ui-lg-10">
                    <h1 i18n class="centerText">Catálogos de premios</h1>
                </div>
                <img *ngIf="cargando && repoA" class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                 <div class="ui-g-12 ui-md-12">
                     <p i18n>Se muestra el código, nombre, cantidad en stock, precio promedio y total de cada uno de los premios en el sistema.</p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button pButton type="button" (click)="reporteCatalogoPremios()" [disabled]="cargando && repoA" class="pull-left" i18n-label label="Generar reporte" icon="ui-icon-insert-drive-file"></button>
                </div>
                <div class="ui-g-12" *ngIf="repoA && !cargando">
                    <button pButton type="button" i18n-label label="Descargar Reporte" icon="ui-icon-file-download" class="green-btn" (click)="descargarReporte()"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-6">
            <div class="card ui-g" style="height: 250px">
                <div class="ui-g-1 ui-md-1 ui-lg-1">
                    <img src="/resources/img/report_gray.png" height="35" width="35" class="status"/>
                </div>
                <div class="ui-g-10 ui-md-10 ui-lg-10">
                    <h2 i18n class="centerText">Existencia de premios</h2>
                </div>
                <img *ngIf="cargando && repoC" class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                <div class="ui-g-12 ui-md-12">
                    <p i18n>En el reporte se muestra la existencia de los premios según ubicación, período, mes y premio .</p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button pButton type="button" (click)="abrirDialogs('existencia')" [disabled]="cargando && repoC" class="pull-left" i18n-label label="Generar reporte" icon="ui-icon-insert-drive-file"></button>
                </div>
                <div class="ui-g-12" *ngIf="repoC && !cargando">
                    <button pButton type="button" i18n-label label="Descargar Reporte" icon="ui-icon-file-download" class="green-btn" (click)="descargarReporte()"></button>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-6">
            <div class="card ui-g" style="height: 250px">
                <div class="ui-g-1 ui-md-1 ui-lg-1">
                    <img src="/resources/img/report_gray.png" height="35" width="35" class="status"/>
                </div>
                <div class="ui-g-10 ui-md-10 ui-lg-10">
                    <h2 i18n class="centerText">Movimientos históricos</h2>
                </div>
                <img *ngIf="cargando && repoD" class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                <div class="ui-g-12 ui-md-12">
                    <p i18n>Se muestra los movimientos históricos de los premios,  ajustes, redenciones, compras y cambio entre ubicaciones.</p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button pButton type="button" (click)="abrirDialogs('movimiento')" [disabled]="cargando && repoD" class="pull-left" i18n-label label="Generar reporte" icon="ui-icon-insert-drive-file"></button>
                </div>
                <div class="ui-g-12" *ngIf="repoD && !cargando">
                    <button pButton type="button" i18n-label label="Descargar Reporte" icon="ui-icon-file-download" class="green-btn" (click)="descargarReporte()"></button>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-6">
            <div class="card ui-g" style="height: 250px">
                <div class="ui-g-1 ui-md-1 ui-lg-1">
                    <img src="/resources/img/report_gray.png" height="35" width="35" class="status"/>
                </div>
                <div class="ui-g-10 ui-md-10 ui-lg-10">
                    <h2 i18n class="centerText">Carritos</h2>
                </div>
                <img *ngIf="cargando && repoE" class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                <div class="ui-g-12 ui-md-12">
                    <p i18n>Se muestra los carritos comprados, el certificado, fecha y categoria.</p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button pButton type="button" (click)="abrirDialogs('carrito')" [disabled]="cargando && repoE" class="pull-left" i18n-label label="Generar reporte" icon="ui-icon-insert-drive-file"></button>
                </div>
                <div class="ui-g-12" *ngIf="repoE && !cargando">
                    <button pButton type="button" i18n-label label="Descargar Reporte" icon="ui-icon-file-download" class="green-btn" (click)="descargarReporte()"></button>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-6">
            <div class="card ui-g" style="height: 250px">
                <div class="ui-g-1 ui-md-1 ui-lg-1">
                    <img src="/resources/img/report_gray.png" height="35" width="35" class="status"/>
                </div>
                <div class="ui-g-10 ui-md-10 ui-lg-10">
                    <h2 i18n class="centerText">Documentos de inventario</h2>
                </div>
                <img *ngIf="cargando && repoB" class="loading-gif-centered" src="/resources/img/loading_transparent.gif">
                <div class="ui-g-12 ui-md-12">
                    <p i18n>Permite obtener un documento de inventario con sus detalles.</p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button pButton type="button"(click)="abrirDialogs('documento')" [disabled]="cargando && repoB" class="pull-left" i18n-label label="Generar reporte" icon="ui-icon-insert-drive-file"></button>
                </div>
                <div class="ui-g-12" *ngIf="repoB && !cargando">
                    <button pButton type="button" i18n-label label="Descargar Reporte" icon="ui-icon-file-download" class="green-btn" (click)="descargarReporte()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Dialog para la definicion del reporte de documento-->
<p-dialog [(visible)]="dialogDocumento" [responsive]="true" width="750" [ngClass]="{'autoSize': avanzada }" [resizable]="true" showEffect="fade" [modal]="true">
    <p-header i18n>
        Reporte Documento Inventario
    </p-header>
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-lg-12 fade-in">
            <div class="ui-g-12 ui-md-12" style="background: whitesmoke;">
                <div class="ui-g-12 ui-md-12">
                    <ng-container i18n><strong> Tipo de documento:</strong></ng-container>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <p-checkbox name="group1" value="C" i18n-label label="Compra" [(ngModel)]="tipo"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <p-checkbox name="group1" value="I" i18n-label label="Inter Ubicación" [(ngModel)]="tipo"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <p-checkbox name="group1" value="A" i18n-label label="Ajuste más" [(ngModel)]="tipo"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <p-checkbox name="group1" value="M" i18n-label label="Ajuste menos" [(ngModel)]="tipo"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <p-checkbox name="group1" value="R" i18n-label label="Redención" [(ngModel)]="tipo"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12 ui-md-12" style="background: whitesmoke;">
                <div class="ui-g-12 ui-md-4 ui-lg-2 ">
                    <ng-container i18n><strong>Estados:</strong></ng-container>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-radioButton name="group2" value="FALSE" i18n-label label="Abierto" [(ngModel)]="estadoDoc"></p-radioButton>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-radioButton name="group2" value="TRUE" i18n-label label="Cerrado" [(ngModel)]="estadoDoc"></p-radioButton>
                </div>
                <div class="clearfix" style="margin-bottom: 20px"></div>
            </div>
            <div class="ui-g-12 ui-md-10 ui-lg-10"></div>
            <div class="ui-g-12 ui-md-2 ui-lg-2">
                <button type="button" (click)="obtenerDocumentos()" style="margin-top: -10px;" class="pull-left" i18n-label label="Buscar" pButton icon="ui-icon-insert-drive-file"></button>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-7 ui-lg-8" *ngIf="listaVacia">
        <ng-container i18n>No se encontraron documentos con los criterios de búsqueda.</ng-container>
    </div>
    <div class="ui-g-12 ui-md-7 ui-lg-8" *ngIf="codigo">
        <ng-container i18n>Documento seleccionado: </ng-container>
        <ng-container>{{codigo}}</ng-container>
    </div>
    <div class="ui-g-12 ui-md-12" *ngIf="!listaVacia">
        <p-dataTable [value]="listaDocumento" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"
        [(selection)]="docSelec" (onRowSelect)="onRowSelect($event)">
            <p-header i18n>
                Documentos
            </p-header>
            <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
            <p-column field="codigoDocumento" i18n-header header="#"></p-column>
            <p-column field="tipo" i18n-header header="Tipo">
                <ng-template let-doc="rowData" pTemplate="body">
					<span>{{doc.tipo | documentoTipo}}</span>
				</ng-template>
            </p-column>
            <p-column field="ubicacionOrigen" i18n-header header="Origen">
                <ng-template let-doc="rowData" pTemplate="body">
					<span>{{doc.ubicacionOrigen.nombre}}</span>
				</ng-template>
            </p-column>
            <p-column field="fecha" i18n-header header="Fecha creación">
                <ng-template let-doc="rowData" pTemplate="body">
					<span>{{doc.fecha | date}}</span>
				</ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="cancelarReporte()" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Generar" (click)="reporteDocumentoInventario()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>

<!--Definición de Reporte de Existencias-->
<p-dialog [(visible)]="dialogExistencia" [responsive]="true" width="700" height="auto" [resizable]="true" showEffect="fade" [modal]="true">
    <p-header i18n>
        Reporte de Existencias
    </p-header>
    <form role="form" [formGroup]="formExistencia">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label i18n><strong>Período/Año:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <input pInputText type="number" id="txtPeriodo" name="txtPeriodo" formControlName = "periodo" placeholder="0000" [(ngModel)]="periodo" [min]="annoMin" [max]="annoMax" style="width: 50%;">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label i18n><strong>Mes:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <input pInputText type="number" id="txtMes" name="txtMes" formControlName = "mes" [(ngModel)]="mes"  placeholder="00" [min]="1" [max]="12" style="width: 50%;">
                </div>
            </div>
        </div>
    </form>
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <seleccion-ubicaciones [(ngModel)]="ubicacion" name="idLocation"> </seleccion-ubicaciones>
        </div>
    </div>
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <seleccion-premios [(ngModel)]="premio" name="premio" ></seleccion-premios>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="cancelarReporte()" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Generar" [disabled]="!formExistencia.valid" (click)="reporteExistencias()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>


<!--- Definición del Reporte Movimientos Historicos -->
<p-dialog [(visible)]="dialogMovimiento" [responsive]="true" width="700" height="auto" [resizable]="true" showEffect="fade" [modal]="true">
    <p-header i18n>
        Reporte de Movimientos
    </p-header>
    <form role="form" [formGroup]="formMovimiento">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label i18n><strong>Fecha inicio:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <p-calendar id="txtInicio" name="txtInicio" showAnim="slideDown" [maxDate]="fechaFin" [(ngModel)]="fechaInicio" dateFormat="dd/mm/yy" formControlName="fechaInicio" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label i18n><strong>Fecha fin:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <p-calendar id="txtFin" name="txtFin" showAnim="slideDown" [minDate]="fechaInicio" [(ngModel)]="fechaFin" dateFormat="dd/mm/yy" formControlName="fechaFin" [readonlyInput]="true" [showIcon]="true" ></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label for="txtTipo" i18n><strong>Tipo de documento:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <p-dropdown [options]="tiposItems" [style]="{'width':'100%'}" id="txtTipo" name="txtTipo" [(ngModel)]="tipoMovimiento" [autoWidth]="false" formControlName="tipo"></p-dropdown>
                </div>
            </div>
        </div>
    </form>
    <div class="ui-g-12 ui-md-12 ui-lg-12"> 
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <seleccion-ubicaciones [(ngModel)]="ubicacion" name="idLocation"> </seleccion-ubicaciones>
            </div>
        </div>
    </div>
    <!--Premios disponibles-->
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <seleccion-premios [(ngModel)]="premio" name="premio" ></seleccion-premios>
            </div>
        </div>
    </div>
    
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="cancelarReporte()" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Generar" [disabled]="!formMovimiento.valid" (click)="reporteMovimientoHistorico()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>


<!--- Definición del Reporte Carritos -->
<p-dialog [(visible)]="dialogCarrito" [responsive]="true" width="700" height="auto" [resizable]="true" showEffect="fade" [modal]="true">
    <p-header i18n>
        Reporte de Carritos
    </p-header>
    <form role="form" [formGroup]="formCarrito">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label i18n><strong>Fecha inicio:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <p-calendar id="txtInicio" name="txtInicio" showAnim="slideDown" [maxDate]="fechaFin" [(ngModel)]="fechaInicio" dateFormat="dd/mm/yy" formControlName="fechaInicio" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label i18n><strong>Fecha fin:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-8">
                    <p-calendar id="txtFin" name="txtFin" showAnim="slideDown" [minDate]="fechaInicio" [(ngModel)]="fechaFin" dateFormat="dd/mm/yy" formControlName="fechaFin" [readonlyInput]="true" [showIcon]="true" ></p-calendar>
                </div>
            </div>
        </div>
    </form>
    <!--Categorias disponibles-->
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <seleccion-categoriaProductos [(ngModel)]="categoriaProducto" name="categoriaProducto" ></seleccion-categoriaProductos>
            </div>
        </div>
    </div>
    
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="cancelarReporte()" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Generar" [disabled]="!formCarrito.valid" (click)="reporteCarritosHistorico()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>