<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <form #form="ngForm">
           
            <div class="ui-g-2 " style="text-align: right"><ng-container i18n>Misión:</ng-container></div>
            <div class="ui-g-8 "><input type="text" name="nombreMision" pInputText [ngModel]="misionSeleccionada.nombre" #mision="ngModel" readonly></div>
            <div class="ui-g-2 "><button pButton (click)="obtenerMisiones()" icon="ui-icon-add"></button></div>

            <div class="ui-g-2 " style="text-align: right" *ngIf="misionSeleccionada"><ng-container i18n>Pregunta:</ng-container></div>
            <div class="ui-g-8 " *ngIf="misionSeleccionada">
                <p-dropdown name="selectPregunta" [autoWidth]="false" [options]="itemsPreguntaSeleccion" #pregunta="ngModel" [(ngModel)]="preguntaSeleccionada"
                    (onChange)="poblarRespuestasSeleccion()"></p-dropdown>
            </div>
            <div class="ui-g-2" style="height: 50px"></div>

            <div class="ui-g-2 " style="text-align: right" *ngIf="misionSeleccionada&&preguntaSeleccionada"><ng-container i18n>Operador:</ng-container></div>
            <div class="ui-g-8 " *ngIf="misionSeleccionada&&preguntaSeleccionada">
                <p-dropdown name="selectPregunta" [autoWidth]="false" [options]="listaOperadores" #pregunta="ngModel" [(ngModel)]="reglaInsertar.indOperador"></p-dropdown>
            </div>
            <div class="ui-g-2" style="height: 50px" *ngIf="misionSeleccionada&&preguntaSeleccionada"></div>

            <div class="ui-g-2 " style="text-align: right" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&(preguntaSeleccionada.indTipoRespuesta=='RU'||preguntaSeleccionada.indTipoRespuesta=='RM')"><ng-container i18n>Respuesta:</ng-container></div>
            <div class="ui-g-8 " *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&(preguntaSeleccionada.indTipoRespuesta=='RU'||preguntaSeleccionada.indTipoRespuesta=='RM')">
                <p-listbox name="listRespuestas" [options]="itemsRespuestaSeleccion" #respuesta="ngModel" [(ngModel)]="respuestasSeleccionadas"
                    multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
            </div>
            <div class="ui-g-2" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&(preguntaSeleccionada.indTipoRespuesta=='RU'||preguntaSeleccionada.indTipoRespuesta=='RM')"
                style="height: 50px"></div>

            <div class="ui-g-2" style="text-align: right" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&preguntaSeleccionada.indTipoRespuesta=='RT'"><ng-container i18n>Respuesta:</ng-container></div>
            <div class="ui-g-8" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&preguntaSeleccionada.indTipoRespuesta=='RT'">
                <input name="valorComparacion" pInputText #respuesta="ngModel" type="text" [(ngModel)]="reglaInsertar.valorComparacion">
            </div>
            <div class="ui-g-2" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&preguntaSeleccionada.indTipoRespuesta=='RT'"
                style="height: 50px"></div>

            <div class="ui-g-2" style="text-align: right" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&preguntaSeleccionada.indTipoRespuesta=='RN'"><ng-container i18n>Respuesta:</ng-container></div>
            <div class="ui-g-8" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoRespuesta=='RN'">
                <input name="valorComparacion" pInputText #respuesta="ngModel" type="number" [(ngModel)]="reglaInsertar.valorComparacion">
            </div>
            <div class="ui-g-2" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'E'&&preguntaSeleccionada.indTipoRespuesta=='RN'"
                style="height: 50px"></div>


            <div class="ui-g-2" style="text-align: right" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'C'"><ng-container i18n>Respuesta:</ng-container></div>
            <div class="ui-g-8" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'C'">
                <p-rating name="valorComparacion" #respuesta="ngModel" type="number" [(ngModel)]="reglaInsertar.valorComparacion"></p-rating>
            </div>
            <div class="ui-g-2" *ngIf="preguntaSeleccionada&&preguntaSeleccionada.indTipoPregunta == 'C'" style="height: 50px"></div>

            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-10"></div>
                <div class="ui-g-12 ui-md-2"><button pButton (click)="insertarRegla()" [disabled]="!form.valid" i18n label="Agregar" icon="ui-icon-add"></button></div>
            </div>
        </form>
    </div>
</div>

<p-dialog i18n-header header="Seleccione una misión" [(visible)]="displaySelectorMisiones" [modal]="true" [minWidth]="900">
    <div class="ui-g-12 ui-md-8 ui-lg-8">
		<p-chips [(ngModel)]="terminosBusqueda" (onAdd)="obtenerMisiones()" (onRemove)="obtenerMisiones()" i18n-placeholder placeholder="Búsqueda"></p-chips>
		<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
	</div>
    <p-dataList class="ui-g-12 ui-lg-12" *ngIf="listaMisiones&&listaMisiones.length>0" [value]="listaMisiones" (onLazyLoad)="onLazyLoad($event)"
        [paginator]="true" [rows]="4" [lazy]="true" [totalRecords]="cantTotalRegistros" [draggable]="false">
        <p-header i18n> Listado de misiones </p-header>
        <ng-template let-mision pTemplate="item">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <img [src]='mision.imagen' class="img-lists img-border" />
                    </div>
                    <div class="ui-grid-col-9">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                <div class="ui-grid-col-8">{{mision.nombre}}</div>
                            </div>
                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                <div class="ui-grid-col-8">{{mision.descripcion}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-1">
                        <button type="button" class="pull-right" pButton icon="ui-icon-add" (click)="seleccionarMision(mision)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
</p-dialog>