<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <form #form="ngForm">
            <div class="ui-g-2 " style="text-align: right"><ng-container i18n>Preferencia:</ng-container></div>
            <div class="ui-g-8 "><input type="text" name="nombrePreferencia" pInputText [ngModel]="preferenciaSeleccionada.pregunta" #preferencia="ngModel"
                    readonly></div>
            <div class="ui-g-2 "><button pButton (click)="obtenerPreferencias()" icon="ui-icon-add"></button></div>

            <div class="ui-g-2 " style="text-align: right" *ngIf="preferenciaSeleccionada&&preferenciaSeleccionada"><ng-container i18n>Operador:</ng-container></div>
            <div class="ui-g-8 " *ngIf="preferenciaSeleccionada&&preferenciaSeleccionada">
                <p-dropdown name="selectPregunta" [autoWidth]="false" [options]="listaOperadores" #pregunta="ngModel" [(ngModel)]="reglaInsertar.indOperador"></p-dropdown>
            </div>
            <div class="ui-g-2" style="height: 50px" *ngIf="preferenciaSeleccionada&&preferenciaSeleccionada"></div>
            <div class="ui-g-2" style="text-align: right" *ngIf="preferenciaSeleccionada.indTipoRespuesta=='SU'||preferenciaSeleccionada.indTipoRespuesta=='RM'"><ng-container i18n>Respuesta:</ng-container></div>
            <div class="ui-g-8" *ngIf="preferenciaSeleccionada.indTipoRespuesta=='SU'||preferenciaSeleccionada.indTipoRespuesta=='RM'">
                <p-listbox name="listRespuestas" [options]="itemsRespuestaSeleccion" #respuesta="ngModel" [(ngModel)]="respuestasSeleccionadas"
                    multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
            </div>
            <div class="ui-g-2" *ngIf="(preferenciaSeleccionada.indTipoRespuesta=='SU'||preferenciaSeleccionada.indTipoRespuesta=='RM')"
                style="height: 50px">
            </div>
            <div class="ui-g-2" style="text-align: right" *ngIf="preferenciaSeleccionada.indTipoRespuesta=='RT'"><ng-container i18n>Respuesta:</ng-container></div>
            <div class="ui-g-8" *ngIf="preferenciaSeleccionada.indTipoRespuesta=='RT'">
                <input name="valorComparacion" pInputText #respuesta="ngModel" type="text" [(ngModel)]="reglaInsertar.valorComparacion">
            </div>
            <div class="ui-g-2" *ngIf="preferenciaSeleccionada.indTipoRespuesta=='RT'" style="height: 50px">
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-10"></div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton (click)="insertarRegla()" [disabled]="!form.valid" i18n-label label="Agregar" icon="ui-icon-add"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<p-dialog i18n-header header="Seleccione una misión" [(visible)]="displaySelectorPreferencias" [modal]="true" [width]="900">
    <p-dataList class="ui-g-12 ui-lg-12" *ngIf="listaPreferencias&&listaPreferencias.length>0" [value]="listaPreferencias" (onLazyLoad)="onLazyLoad($event)"
        [paginator]="true" [rows]="4" [draggable]="false">
        <p-header i18n> Listado de preferencias </p-header>
        <ng-template let-preferencia pTemplate="item">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-11">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                <div class="ui-grid-col-8">{{preferencia.pregunta}}</div>
                            </div>
                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                <div class="ui-grid-col-8">{{preferencia.descripcion}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-1">
                        <button type="button" class="pull-right" pButton icon="ui-icon-add" (click)="seleccionarPreferencia(preferencia)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
</p-dialog>