<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title ui-g">
            <div class="ui-g-12"  style="text-align: center">
                <div class="heading-detalle input-spacing">
                    <ng-container i18n>Dashboard de segmentos</ng-container>
                </div>
            </div>
            <div class="ui-g-12" style="margin-top: 25px;"></div>
			<div class="ui-g-12" *ngIf="!lectura" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No tiene autorización para leer la información de segmentos.</label>
				</div>
			</div>
            <div class="ui-g-12">  
                <div class="ui-g-12 ui-md-3"></div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12">
                        <div class="ui-g card cbx cbx-1" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Segmentos activos</span>
                                <span class="count">{{totalActivos}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12">
                        <div class="ui-g card cbx cbx-2" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Segmentos draft</span>
                                <span class="count">{{draft}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div>
            <div class="ui-g-12 ui-lg-12">
                <div class="ui-g ui-fluid card">
                    <div class="ui-g-12">
                        <h2 i18n class="centerText">Miembros nuevos por segmento</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="bar" [options]="options" [data]=" chartDataMiembrosNuevos" *ngIf=" chartDataMiembrosNuevos"></p-chart>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-12" style="text-align: center;padding-right: 0px;">
                <div class="ui-g ui-fluid card">
                    <div class="ui-g-12">
                        <h2 i18n class="centerText" i18n>Segmentos del sistema</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="bar" [options]="options" [data]="data" #charSegmentos></p-chart>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12" style="text-align: center;padding-right: 0px">
                <div class="ui-g ui-fluid card">
                    <div class="ui-g-12">
                        <h2 i18n class="centerText" i18n>Miembros segmentados</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="pie" [options]="options" [data]="chartDataMiembrosSegmentados" [width]="300" *ngIf="chartDataMiembrosSegmentados"></p-chart>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3"></div>
        </div>
    </div>
</div>