<div class="ui-g ui-fluid">
	<div class="ui-g-12 ">
		<div class="ui-g-12 ui-md-7">
			<h3 i18n>Dashboard</h3>
		</div>
	</div>

	<div class="ui-g-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-lg-12 ui-md-12" style="text-align: center;">
					<h1 i18n>No esta disponible por el momento.</h1>
				</div>
			</div>
		</div>
	</div>
</div>
