<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title ui-g">
            <div class="ui-g-12"  style="text-align: center">
                <div class="heading-detalle input-spacing">
                    <ng-container i18n>Dashboard de miembros</ng-container>
                </div>
            </div>
            <div class="ui-g-12" style="margin-top: 25px;"></div>
			<div class="ui-g-12" *ngIf="!cargandoDatos && !lectura " style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No tiene autorización para leer la información de miembros.</label>
				</div>
			</div>

            <!--Se muestra la información de la cantidad de miembros del sistema-->
            <div class="ui-g-12" *ngIf="!cargandoDatos && lectura">
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-6" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Total de miembros</span>
                                <span class="count">{{total}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-2" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Nuevos miembros</span>
                                <span class="count">{{nuevos}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-1" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Miembros activos</span>
                                <span class="count">{{totalActivos}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="ui-g-12 ">
                        <div class="ui-g card cbx cbx-3" style="cursor: default;">
                            <div class="ui-g-4">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="ui-g-8">
                                <span class="name" i18n>Miembros inactivos</span>
                                <span class="count">{{total-totalActivos}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="lectura">
            <div class="ui-g-12 ui-lg-6" style="text-align: center;padding-left: 0px;">
                <div class="ui-g ui-fluid card">
                    <div class="ui-g-12">
                        <h2 i18n class="centerText">Miembros del sistema</h2>
                    </div>
                    <div class="ui-g-12">
                        <!--Muestra el estado (inactivo/activo) de la cantidad total de miembros registrados en el sistema-->
                        <p-chart type="pie" [options]="options" [data]="data" #chartEstado></p-chart>
                    </div>

                </div>
            </div>

            <div class="ui-g-12 ui-lg-6" style="text-align: center;padding-right: 0px;">
                <div class="card ui-g-12" *ngIf="!chartDataRangoEdades">
                    <div class="ui-g-12 ui-md-5">
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <img src="/resources/img/loading_icon.gif" />
                    </div>
                    <div class="ui-g-12 ui-md-5">
                    </div>
                </div>
                <div class="ui-g ui-fluid card" *ngIf="chartDataRangoEdades">
                    <div class="ui-g-12">
                        <h2 i18n class="centerText">Miembros por rango de edad</h2>
                    </div>
                    <div class="ui-g-12">
                        <!--Muestra la distribución de los miembros por rango de edad-->
                        <p-chart type="pie" [options]="options" [data]="chartDataRangoEdades"></p-chart>
                    </div>
                </div>
            </div>
            <div class="ui-g-12" style="text-align: center;">
                <div class="ui-g ui-fluid card">
                    <div class="ui-g-12">
                        <h2 class="centerText" i18n>Miembros más activos</h2>
                    </div>
                    <div class="ui-g-12">
                        <!--Tabla que muestra los miembros con más actividad en el sistema-->
                        <p-dataTable [value]="statsDataMiembrosActivos">
                            <p-column field="miembro" i18n-header header="Miembro">
                                <ng-template let-stat="rowData" pTemplate="body">
                                    <a routerLink="/miembros/detalleMiembro/{{stat.miembro.idMiembro}}"><span>{{stat.miembro.nombre}} {{stat.miembro.apellido}}</span></a>
                                </ng-template>
                            </p-column>
                            <p-column field="cantMisionesEncuesta" i18n-header header="Encuesta"></p-column>
                            <p-column field="cantMisionesJuego" i18n-header header="Juego"></p-column>
                            <p-column field="cantMisionesPerfil" i18n-header header="Perfil"></p-column>
                            <p-column field="cantMisionesPreferencia" i18n-header header="Preferencia"></p-column>
                            <p-column field="cantMisionesSocial" i18n-header header="Social"></p-column>
                            <p-column field="cantMisionesSubirContenido" i18n-header header="Subir Contenido"></p-column>
                            <p-column field="cantMisionesVerContenido" i18n-header header="Ver Contenido"></p-column>
                            <p-column field="total" i18n-header header="Total">
                                <ng-template let-stat="rowData" pTemplate="body">
                                    {{stat.cantMisionesEncuesta+stat.cantMisionesJuego+stat.cantMisionesPerfil+stat.cantMisionesPreferencia+stat.cantMisionesSocial+stat.cantMisionesSubirContenido+stat.cantMisionesVerContenido}}
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
            <div class="ui-g-12" style="text-align: center;">
                <div class="ui-g ui-fluid card">
                    <div class="ui-g-12">
                        <h2 class="centerText" i18n>Miembros más ganadores</h2>
                    </div>
                    <div class="ui-g-12">
                        <!--Muestra los miembros que han ganado/redimido más premios en el sistema-->
                        <p-dataTable [value]="statsDataMiembrosGanadores">
                            <p-column field="miembro" i18n-header header="Miembro">
                                <ng-template let-stat="rowData" pTemplate="body">
                                    <a routerLink="/miembros/detalleMiembro/{{stat.miembro.idMiembro}}"><span>{{stat.miembro.nombre}} {{stat.miembro.apellido}}</span></a>
                                </ng-template>
                            </p-column>
                            <p-column field="cantPremiosRedimidos" i18n-header header="Premios Redimidos"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>