<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
             <h2 class="sub-heading-detalle" i18n>Definición de contenido</h2>
        </div>
        <form [formGroup]="form" *ngIf="mision.misionVerContenido">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="nombreMision" i18n><strong>Tipo</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7">
                    <p-dropdown [options]="itemsTipo" id="drpMetrica" name="drpMetrica" [autoWidth]="false" [(ngModel)]="mision.misionVerContenido.indTipo"
                        formControlName="tipo"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12" [ngSwitch]="mision.misionVerContenido.indTipo">
                <div *ngSwitchCase="'I'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2"></div>
                    <div class="ui-g-12 ui-md-10" *ngIf="mision.imagen">
                        <img [src]="file_src" class="img-forms img-border"/>
                        <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                    </div>
                    <div class="ui-g-12 ui-md-10" *ngIf="!mision.imagen">
                        <img src="./resources/img/loading_icon.gif" class="img-forms img-border"/>
                        <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                    </div>
                    <div class="ui-g-12 ui-md-2"></div>
                    <div class="ui-g-12 ui-md-10">
                        <input class="upload" id="fileAvatar" required name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/*">
                        <label for="fileAvatar" i18n>Seleccione un archivo</label>
                    </div>
                </div>
                <div *ngSwitchCase="'U'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="cantMetrica" i18n><strong>URL</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7"style="text-align:right">
                        <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionVerContenido.url" formControlName="url">
                    </div>
                </div>
                <div *ngSwitchCase="'V'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="cantMetrica" i18n><strong>URL</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionVerContenido.url" formControlName="url">
                    </div>
                </div>
                <div *ngSwitchDefault></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="cantMetrica" i18n><strong>Texto</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionVerContenido.texto" formControlName="texto">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 md-9 ui-lg-7" style="margin-top:25px"></div>
                <div class="ui-g-12 ui-md-4 ui-lg-2" style="margin-top:25px">
                    <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid" (click)="actualizarContenido()"></button>
                </div>
            </div>
        </form>
    </div>
</div>