<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
            <h2 class="sub-heading-detalle" i18n>Definición de contenido</h2>
        </div>
        <form [formGroup]="form" *ngIf="mision.misionSubirContenido">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-2 ui-lg-1">
                    <label for="nombreMision" i18n><strong>Tipo</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-7">
                    <p-dropdown [options]="optionsTiposContenido" id="drpTipo" name="drpTipo" [autoWidth]="false" [(ngModel)]="mision.misionSubirContenido.indTipo"
                        formControlName="tipo"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-2 ui-lg-1">
                    <label for="cantMetrica" i18n><strong>Texto</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionSubirContenido.texto" formControlName="texto">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 md-6 ui-lg-6" style="margin-top:25px"></div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" style="margin-top:25px">
                    <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid" (click)="actualizarReto()"></button>
                </div>
            </div>
        </form>
    </div>
</div>