<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
        <div class="form-group">
            <!--<div class="ui-g-12 ui-md-12 ui-lg-8">
                        <input type="text" pInputText placeholder="Búsqueda..." [(ngModel)]="terminoBusqueda">
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-2">
                        <p-splitButton label="Buscar" icon="ui-icon-search" (click)="buscarAtributos()" [model]="itemsBusqueda"></p-splitButton>
                    </div>-->
            <div class="ui-g-12 ui-md-6 ui-lg-10">
        <h2 class="sub-heading-detalle" i18n>Definición del Perfil</h2>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                <button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" (click)="mapeoSelectAtrubutosDinamicos();"></button>
            </div>
        </div>
        <!--<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="displayBusquedaAvanzada">
            <div class=" ui-g-12 ui-md-12 card">
                <div class="ui-g-2 ui-md-2 ui-lg-2">
                    Mostrar:
                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-2">
                    <p-checkbox name="group1" value="TX" label="Texto" (click)="buscarAtributos()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-2">
                    <p-checkbox name="group1" value="RM" label="Respuesta múltiple" (click)="buscarAtributos()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                </div>
                <div class="ui-g-2 ui-md-2 ui-lg-2">
                    <p-checkbox name="group1" value="SU" label="Selección única" (click)="buscarAtributos()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                </div>
            </div>
         </div>-->
        <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="mision.misionPerfilAtributoList&&mision.misionPerfilAtributoList.length==0">
            <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay datos'}]" [closable]="false"></p-messages>
        </div>
    </div>
    
    <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="mision.misionPerfilAtributoList&&mision.misionPerfilAtributoList.length>0">
        <p-dataList [value]="mision.misionPerfilAtributoList" [paginator]="true" [rows]="10">
            <p-header i18n> Lista de Atributos </p-header>
            <ng-template let-atributoPerfil pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-5" style="margin-top:10px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4" style="text-align:center"><strong i18n>Atributo:</strong> </div>
                                <div class="ui-grid-col-8">{{atributoPerfil.indAtributo|indReglaAtributo}} {{atributoPerfil.idAtributoDinamico?.nombre}}
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-5" style="margin-top:10px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4" style="text-align:center"><strong i18n>Requerido:</strong> </div>
                                <div class="ui-grid-col-8">
                                    <div [hidden]="atributoPerfil.indRequerido==true">
                                        <ng-container i18n>No Requerido</ng-container>
                                    </div>
                                    <div [hidden]="atributoPerfil.indRequerido==false">
                                        <ng-container i18n>Requerido</ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-2" style="margin-bottom:10px">
                            <div class="ui-grid-row">
                                <!--<button type="button" class="pull-right" icon="ui-icon-search" pButton (click)="displayModalEditar(atributo)"></button>-->
                                <button type="button" class="pull-right" icon="ui-icon-delete" pButton (click)="mostrarModalEliminarAtributo(atributoPerfil)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
</div>

<p-dialog i18n-header header="Agregar atributo" [(visible)]="displayInsertar" [modal]="true" width="750">
    <p-dataTable [value]="listaAtributos" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleAtributos">
        <p-header i18n>Lista de miembros disponibles</p-header>
        <!--<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>-->
        <p-column field="label" i18n-header header="Nombre" [sortable]="true"></p-column>
        <p-column field="indAtributo" i18n-header header="Tipo" [sortable]="true">
            <ng-template let-atr="rowData" pTemplate="body">
                <div *ngIf="atr.indAtributo=='R'"> <ng-container i18n>Atributo dinámico</ng-container></div>
                <div *ngIf="atr.indAtributo!='R'"> <ng-container i18n>Atributo estático</ng-container></div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" i18n-header header="Requerido" styleClass="col-button">
            <ng-template let-atr="rowData" pTemplate="body">
                <p-checkbox name="groupname" [binary]="true" [(ngModel)]="atr.indRequerido"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" styleClass="col-button" i18n-header header="Agregar">
            <!--<ng-template pTemplate="header">
                <button type="button" pButton icon="ui-icon-add" label="Seleccionados" (click)="agregarListaAtributos()"></button>
            </ng-template>-->
            <ng-template let-atr="rowData" pTemplate="body">
                <button style="margin-left:20px" icon="ui-icon-add" pButton (click)="agregarAtributo(atr)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>
<p-dialog i18n-header header="Eliminar pregunta" [(visible)]="displayEliminar" [modal]="true">
    <div class="ui-fluid">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12">
                <ng-container i18n>¿Está seguro que desea remover el atributo del reto?.</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton i18n-label label="Cancelar" (click)="displayEliminar = false" icon="ui-icon-close"></button>
        <button pButton i18n-label label="Remover" (click)="eliminarAtributo()"></button>
    </p-footer>
</p-dialog>