<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-10">
        <h2 class="sub-heading-detalle" i18n>Definición de la Encuesta</h2>
    </div>
    <div class="ui-g-12 ui-md-2">
        <button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" (click)="displayInsertar=true"></button>
    </div>
    <div class="ui-g-12 ui-md-12" *ngIf="mision.misionEncuestaPreguntaList&&mision.misionEncuestaPreguntaList.length==0">
        <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay preguntas'}]" [closable]="false"></p-messages>
    </div>
    <!--listado de preguntas-->
    <div class="ui-g-12 ui-md-12" *ngIf="mision.misionEncuestaPreguntaList &&mision.misionEncuestaPreguntaList.length>0">
        <p-dataList [value]="mision.misionEncuestaPreguntaList" [paginator]="true" [rows]="10">
            <p-header i18n> Lista de Preguntas </p-header>
            <ng-template let-pregunta pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <img [src]='pregunta?.imagen' class="img-lists img-border" />
                        </div>
                        <div class="ui-grid-col-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="margin-top:25px">
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-3" style="margin-right: 10px"><strong i18n>Pregunta: </strong></div>
                                    <div class="ui-grid-col-9">{{pregunta?.pregunta}}</div>
                                </div>
                                <div [hidden]="pregunta.indTipoPregunta!='E'">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-3" style="margin-right: 10px"><strong i18n>Respuestas: </strong> </div>
                                        <div class="ui-grid-col-9">{{pregunta?.respuestas}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="margin-top:25px">
                                <div [hidden]="pregunta.indTipoPregunta!='E'">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-3" style="text-align:right; margin-right: 10px"><strong i18n>Tipo: </strong></div>
                                        <div class="ui-grid-col-9">
                                            <ng-container i18n>Encuesta</ng-container>
                                        </div>
                                    </div>
                                </div>  
                                <div [hidden]="pregunta.indTipoPregunta!='C'">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-3" style="text-align:right; margin-right: 10px"><strong i18n>Tipo:</strong> </div>
                                        <div class="ui-grid-col-9">
                                            <ng-container i18n>Calificación</ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-1">
                            <div class="ui-grid-row" style="margin-top:25px">
                                <button type="button" style="margin-right:10px" icon="ui-icon-edit" pButton (click)="displayModalEditar(pregunta)"></button>
                                <button type="button" icon="ui-icon-delete" pButton (click)="mostrarModalEliminarPregunta(pregunta)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
</div>

<!--insertar pregunta-->
<p-dialog i18n-header header="Insertar pregunta" [(visible)]="displayInsertar" [modal]="true" width="1184">
    <div class="ui-g-4">
        <div class="ui-g-12 input-spacing" *ngIf="preguntaInsertar.imagen" >
            <img [src]="file_src" class="img-forms img-border" style="margin-left:20px; width:350px;height:260px" />
        </div>
        <div class="ui-g-12 input-spacing" *ngIf="!preguntaInsertar.imagen">
            <img src="http://580dfadb669a3d46adbc-6dc2c0f932578b1114beed9c144d3102.r58.cf1.rackcdn.com/ee5cf60a-7d8e-4062-8c40-c600d52d4294.jpeg" class="img-forms img-border" style="margin-left:20px; width:350px;height:260px"/>
            <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
        </div>
        <div class="ui-g-12 input-spacing">
            <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #inp (change)="fileChange(inp)" accept="image/*" >
            <label for="fileAvatar" i18n style="margin-left:80px;">Seleccione un archivo</label>
        </div>

    </div>
    <div class="ui-g-8">
        <form [formGroup]="formGral">
            <div class="ui-g-12 ui-md-3 ui-md-3"><label for="txtPregunta" i18n>Pregunta:</label></div>
            <div class="ui-g-12 ui-md-9 ui-md-9"><input id="txtPregunta" name="pregunta" type="text" pInputText [(ngModel)]="preguntaInsertar.pregunta" formControlName="pregunta"></div>
            <div class="ui-g-12 ui-md-3 ui-md-3"><label for="txtPregunta" i18n>Tipo de pregunta:</label></div>
            <div class="ui-g-12 ui-md-9 ui-md-9">
                <p-dropdown [autoWidth]="false" id="indTipoPregunta" name="indTipoPregunta" [(ngModel)]="preguntaInsertar.indTipoPregunta"
                    formControlName="tipoPregunta" [options]="itemsTipoPregunta"></p-dropdown>
            </div>
        </form>
        <div *ngIf="preguntaInsertar.indTipoPregunta=='E'">
            <form [formGroup]="formP">
                <div class="ui-g-12 ui-md-3"><label for="txtPregunta" i18n>Tipo de respuesta:</label></div>
                <div class="ui-g-12 ui-md-9">
                    <p-dropdown [autoWidth]="false" id="indTipoRespuesta" name="indTipoRespuesta" [(ngModel)]="preguntaInsertar.indTipoRespuesta"
                        formControlName="indRespuesta" [options]="itemsTipoRespuesta"></p-dropdown>
                </div>
                
                <div *ngIf="preguntaInsertar.indTipoRespuesta=='RU'">
                    <div class="ui-g-12 ui-md-3"><label for="indRespuestaCorrecta" i18n>Respuesta correcta:</label></div>
                    <div class="ui-g-12 ui-md-9">
                        <p-dropdown [autoWidth]="false" id="indRespuestaCorrecta" name="indRespuestaCorrecta" [(ngModel)]="preguntaInsertar.indRespuestaCorrecta"
                            formControlName="indRespuestaCorrecta" [options]="itemsRespuestaCorrecta"></p-dropdown>
                    </div>
                </div>
                <div *ngIf="preguntaInsertar.indTipoRespuesta=='RM'">
                    <div class="ui-g-12 ui-md-3"><label for="indRespuestaCorrecta" i18n>Respuesta correcta:</label></div>
                    <div class="ui-g-12 ui-md-9">
                        <p-dropdown [autoWidth]="false" id="indRespuestaCorrecta" name="indRespuestaCorrecta" [(ngModel)]="preguntaInsertar.indRespuestaCorrecta"
                            formControlName="indRespuestaCorrecta" [options]="itemsRespuestaCorrectaMultiple"></p-dropdown>
                    </div>
                </div>
                     <div *ngIf="preguntaInsertar.indTipoRespuesta=='RU'||preguntaInsertar.indTipoRespuesta=='RM'">
                    <div class="ui-g-12 ui-md-3"><label for="txtPregunta" i18n>Agregar respuesta:</label></div>
                    <div class="ui-g-12 ui-md-8"><input type="text" pInputText [(ngModel)]="respuestaTemp" [ngModelOptions]="{standalone: true}"></div>
                    <div class="ui-g-12 ui-md-1"><button pButton [disabled]="respuestaTemp==''" (click)="insertarRespuestaLista(respuestaTemp)" icon="ui-icon-add"></button></div>
                    <div class="ui-g-12 ui-md-3"><label for="lstRespuestas" i18n>Respuestas:</label></div>
                    <div class="ui-g-12 ui-md-9"> 
                        <p-orderList id="lstRespuestas" i18n-header header="Lista de respuestas" [responsive]="true" [value]="listaRespuestasInsertar" immutable= "false">
                            <ng-template let-respuesta pTemplate="item">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">
                                            <p-checkbox [hidden]="preguntaInsertar.indRespuestaCorrecta=='T'" name="respuestasCorrectas"
                                                [value]="respuesta" [(ngModel)]="listaRespuestasCorrectas" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                        </div>
                                        <div class="ui-grid-col-8" style="margin-top:10px">
                                            {{respuesta}}
                                        </div>
                                        <div class="ui-grid-col-2">
                                            <button style="float:right;margin-bottom:10px;margin-top:5px" pButton icon="ui-icon-clear" (click)="eliminarRespuesta(respuesta)"></button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-orderList>
                    </div>
                </div>
            </form>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-6">
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div *ngIf="subiendoImagen">
                        <img src="/resources/img/loading_icon.gif" class="loading-gif" />
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <button pButton [disabled]="!formGral.valid&&!formP.valid" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" (click)="insertarPregunta()"></button>
                </div>
            </div>
        </div>
        <div *ngIf="preguntaInsertar.indTipoPregunta=='C'">
            <form [formGroup]="formC">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <div class="ui-grid-row">
                        <div class="ui-g-3"><label for="lstRespuestas" i18n>Respuesta correcta:</label></div>
                        <div class="ui-g-9">
                            <p-checkbox name="indRespuesta" binary="true" [(ngModel)]="indRespuestaCorrectaCalificacion" formControlName="indRespuesta"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-g-12" *ngIf="indRespuestaCorrectaCalificacion">
                            <div class="ui-g-3"><label for="lstRespuestas" i18n>Valor de respuesta correcta:</label></div>
                            <div class="ui-g-5">
                                <p-dropdown [autoWidth]="false" id="indOperadorRespuesta" name="indOperadorRespuesta" [(ngModel)]="preguntaEditar.indRespuestaCorrecta"
                                    required #p="ngModel" [options]="itemsRespuestaCorrectaCalificacion" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                            <div class="ui-g-5">
                                <p-rating [(ngModel)]="rating" [cancel]="false" stars="5" formControlName="indRespuestaCorrecta"></p-rating>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-g-3"><label for="lstRespuestas" i18n>Admite comentarios:</label></div>

                        <div class="ui-g-9">
                            <p-checkbox name="indComentarios" binary="true" [(ngModel)]="preguntaInsertar.indComentario" formControlName="indComentarios"></p-checkbox>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-6">
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div *ngIf="subiendoImagen">
                        <img src="/resources/img/loading_icon.gif" class="loading-gif" />
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <button pButton  [disabled]="!formGral.valid&&!formC.valid" i18n-label label="Insertar" (click)="insertarPregunta()" icon="ui-icon-add"></button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<!--editar pregunta-->
<p-dialog i18n-header header="Editar pregunta" [(visible)]="displayEditar" [modal]="true" width="1184">
    <div class="ui-g-4">
        <div class="ui-g-12 input-spacing" *ngIf="preguntaEditar.imagen" >
            <img [src]="file_src" class="img-forms img-border" style="margin-left:20px; width:350px;height:260px" />
            <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
        </div>
        <div class="ui-g-12 input-spacing" *ngIf="!preguntaEditar.imagen">
            <img src="http://580dfadb669a3d46adbc-6dc2c0f932578b1114beed9c144d3102.r58.cf1.rackcdn.com/ee5cf60a-7d8e-4062-8c40-c600d52d4294.jpeg" class="img-forms img-border" style="margin-left:20px; width:350px;height:260px"/>
            <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
        </div>
        <div class="ui-g-12 input-spacing">
            <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/*">
            <label for="fileAvatar" i18n style="margin-left:80px;">Seleccione un archivo</label>
        </div>
    </div>
    <div class="ui-g-8">
        <form [formGroup]="formGral">
            <div class="ui-g-12 ui-md-3 ui-md-3"><label for="txtPregunta" i18n>Pregunta:</label></div>
            <div class="ui-g-12 ui-md-9 ui-md-9"><input id="txtPregunta" name="pregunta" type="text" pInputText [(ngModel)]="preguntaEditar.pregunta" formControlName="pregunta"></div>
            <div class="ui-g-12 ui-md-3 ui-md-3"><label for="txtPregunta" i18n>Tipo de pregunta:</label></div>
            <div class="ui-g-12 ui-md-9 ui-md-9">
                <p-dropdown [autoWidth]="false" id="indTipoPregunta" name="indTipoPregunta" [(ngModel)]="preguntaEditar.indTipoPregunta"
                    formControlName="tipoPregunta" [options]="itemsTipoPregunta" [disabled]="accion"></p-dropdown>
            </div>
        </form>
        <div *ngIf="preguntaEditar.indTipoPregunta=='E'">
            <form [formGroup]="formP">
                <div class="ui-g-12 ui-md-3"><label for="txtPregunta" i18n>Tipo de respuesta:</label></div>
                <div class="ui-g-12 ui-md-9">
                    <p-dropdown [autoWidth]="false" id="indTipoRespuesta" name="indTipoRespuesta" [(ngModel)]="preguntaEditar.indTipoRespuesta"
                        formControlName="indRespuesta" [options]="itemsTipoRespuesta"></p-dropdown>
                </div>
                <div *ngIf="preguntaEditar.indTipoRespuesta=='RU'">
                    <div class="ui-g-12 ui-md-3"><label for="indRespuestaCorrecta" i18n>Respuesta correcta:</label></div>
                    <div class="ui-g-12 ui-md-9">
                        <p-dropdown [autoWidth]="false" id="indRespuestaCorrecta" name="indRespuestaCorrecta" [(ngModel)]="preguntaEditar.indRespuestaCorrecta"
                            formControlName="indRespuestaCorrecta" [options]="itemsRespuestaCorrecta"></p-dropdown>
                    </div>
                </div>
                <div *ngIf="preguntaEditar.indTipoRespuesta=='RM'">
                    <div class="ui-g-12 ui-md-3"><label for="indRespuestaCorrecta" i18n>Respuesta correcta:</label></div>
                    <div class="ui-g-12 ui-md-9">
                        <p-dropdown [autoWidth]="false" id="indRespuestaCorrecta" name="indRespuestaCorrecta" [(ngModel)]="preguntaEditar.indRespuestaCorrecta"
                            formControlName="indRespuestaCorrecta" [options]="itemsRespuestaCorrectaMultiple"></p-dropdown>
                    </div>
                </div>
                <div *ngIf="preguntaEditar.indTipoRespuesta=='RU'||preguntaEditar.indTipoRespuesta=='RM'">
                    <div class="ui-g-12 ui-md-3"><label for="txtPregunta" i18n>Agregar respuesta:</label></div>
                    <div class="ui-g-12 ui-md-8"><input type="text" pInputText [(ngModel)]="respuestaTemp" [ngModelOptions]="{standalone: true}"></div>
                    <div class="ui-g-12 ui-md-1"><button pButton [disabled]="!respuestaTemp||respuestaTemp==''" (click)="insertarRespuestaListaEditar(respuestaTemp)" icon="ui-icon-add"></button></div>
                    <div class="ui-g-12 ui-md-3"><label for="lstRespuestas" i18n>Respuestas:</label></div>
                    <div class="ui-g-12 ui-md-9">
                        <p-orderList id="lstRespuestas" i18n-header header="Lista de respuestas" [responsive]="true" [value]="listaRespuestasEditar">
                            <ng-template let-respuesta pTemplate="item">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">
                                            <p-checkbox [hidden]="preguntaEditar.indRespuestaCorrecta=='T'" name="respuestasCorrectas"
                                                [value]="respuesta" [(ngModel)]="listaRespuestasCorrectas" [ngModelOptions]="{standalone: true}"></p-checkbox>
                                        </div>
                                        <div class="ui-grid-col-8" style="margin-top:10px">
                                            {{respuesta}}
                                        </div>
                                        <div class="ui-grid-col-2">
                                            <button style="float:right;margin-bottom:10px;margin-top:5px" pButton icon="ui-icon-clear" (click)="eliminarRespuestaEditar(respuesta)"></button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-orderList>
                    </div>
                </div>
            </form>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-6">
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div *ngIf="subiendoImagen">
                        <img src="/resources/img/loading_icon.gif" class="loading-gif" />
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <button pButton [disabled]="!formGral.valid&&!formP.valid" i18n-label label="Editar" (click)="editarPregunta()"></button>
                </div>
            </div>
        </div>
        <div *ngIf="preguntaEditar.indTipoPregunta=='C'">
            <form [formGroup]="formC">
                <div class="ui-g-3"><label for="lstRespuestas" i18n>Respuesta correcta:</label></div>
                <div class="ui-g-9">
                    <p-checkbox name="indRespuesta" binary="true" [(ngModel)]="indRespuestaCorrectaCalificacion" formControlName="indRespuesta"></p-checkbox>
                </div>
                <div class="ui-g-12" *ngIf="indRespuestaCorrectaCalificacion">
                    <div class="ui-g-3"><label for="lstRespuestas">Valor:</label></div>
                    <div class="ui-g-5">
                        <p-dropdown [autoWidth]="false" id="indOperadorRespuesta" name="indOperadorRespuesta" [(ngModel)]="preguntaEditar.indRespuestaCorrecta"
                            required #p="ngModel" [options]="itemsRespuestaCorrectaCalificacion" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                    <div class="ui-g-5">
                        <p-rating [(ngModel)]="rating" stars="5" formControlName="indRespuestaCorrecta" [cancel]="false"></p-rating>
                    </div>
                </div>
                <div class="ui-g-3"><label for="lstRespuestas" i18n>Admite comentarios:</label></div>

                <div class="ui-g-4">
                    <p-checkbox name="indComentarios" binary="true" [(ngModel)]="preguntaEditar.indComentario" formControlName="indComentarios"></p-checkbox>
                </div>
            </form>

            <div class="ui-g-12 ui-md-6">
            </div>
            <div class="ui-g-12 ui-md-2">
                <div *ngIf="subiendoImagen">
                    <img src="/resources/img/loading_icon.gif" class="loading-gif" />
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <button pButton [disabled]="!formGral.valid&&!formC.valid" i18n-label label="Editar" (click)="editarPregunta()"></button>
            </div>
        </div>
    </div>
</p-dialog>
<!--eliminar pregunta-->
<p-dialog i18n-header header="Eliminar pregunta" [(visible)]="displayEliminar" [modal]="true">
    <div class="ui-fluid">
        <div class="ui-g-12 ui-md-12 ui-md-12">
            <div class="ui-g-12 ui-md-12">
                <ng-container i18n> Está seguro que desea eliminar la pregunta? esta acción es irreversible.</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="displayEliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Eliminar" (click)="eliminarPregunta()" icon="ui-icon-check"></button>
	</p-footer>
</p-dialog>