<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
        <div class="form-group">
            <div class="ui-g-12 ui-md-6 ui-lg-10">
                <h2 class="sub-heading-detalle" i18n>Definición de la Misión</h2>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                <button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" (click)="obtenerPreferenciasDisponibles();"></button>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="listaPreferenciasAsociadas&&listaPreferenciasAsociadas.length==0">
            <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay datos'}]" [closable]="false"></p-messages>
        </div>
        <div class="ui-g-12" *ngIf="!listaPreferenciasAsociadas">
            <div class="ui-g-5"></div>
            <div class="ui-g-2">
                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
            </div>
            <div class="ui-g-5"></div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="listaPreferenciasAsociadas&&listaPreferenciasAsociadas.length>0">
        <p-dataList [value]="listaPreferenciasAsociadas" [paginator]="true" [rows]="10">
            <p-header i18n> Lista de Preferencias </p-header>
            <ng-template let-preferencia pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-7">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Pregunta: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{preferencia.pregunta}}</div>
                                </div>
                                <div class="ui-grid-row" *ngIf="preferencia.indTipoRespuesta=='RM'||preferencia.indTipoRespuesta=='SU'">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Respuestas: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{preferencia.respuestas}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Tipo:</ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{preferencia.indTipoRespuesta|tipoRespuesta}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-1">
                            <div class="ui-grid-row">
                                <button type="button" class="pull-right" icon="ui-icon-delete" pButton (click)="removerPreferencias([preferencia])"></button>
                                <!--<button style="margin-left:20px" icon="ui-icon-add" pButton (click)="agregarPreferencias([preferencia])"></button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
</div>

<p-dialog i18n-header header="Agregar preferencia" [(visible)]="displayInsertar" [modal]="true" width="750">
    <p-dataList [value]="listaPreferencias" [paginator]="true" [rows]="10" *ngIf="listaPreferencias&&listaPreferencias.length>0">
        <p-header i18n> Lista de Preferencias </p-header>
        <ng-template let-preferencia pTemplate="item">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-7">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">
                                    <ng-container i18n>Pregunta: </ng-container>
                                </div>
                                <div class="ui-grid-col-8">{{preferencia.pregunta}}</div>
                            </div>
                            <div class="ui-grid-row" *ngIf="preferencia.indTipoRespuesta=='RM'||preferencia.indTipoRespuesta=='SU'">
                                <div class="ui-grid-col-4">
                                    <ng-container i18n>Respuestas: </ng-container>
                                </div>
                                <div class="ui-grid-col-8">{{preferencia.respuestas}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">
                                    <ng-container i18n>Tipo:</ng-container>
                                </div>
                                <div class="ui-grid-col-8">{{preferencia.indTipoRespuesta|tipoRespuesta}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-1">
                        <div class="ui-grid-row">
                            <button style="margin-left:20px" icon="ui-icon-add" pButton (click)="agregarPreferencias([preferencia])"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
</p-dialog>