<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12" style="background: whitesmoke;">
        <div class="ui-g-12 ui-lg-12">
            <div class="card ui-g">
                <div class="ui-g-12 ui-md-8">
                    <h2 class="sub-heading-detalle" i18n>Definición del Juego</h2>
                </div>
                <div class="ui-g-12 ui-md-2">
					<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="guardandoDatos" />
				</div>
                <div class="ui-g-12 ui-md-2" *ngIf="this.mision.indEstado != 'A' && this.mision.indEstado != 'B'">
                    <button pButton type="button" i18n-label label="Guardar" [disabled]="guardandoDatos" class="green-btn" icon="ui-icon-save" (click)="validarExistencia()"></button>
                </div>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-grid-col-2"><label i18n><strong>Tipo de juego:</strong></label></div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="tipoItems" [disabled]="cambioEstado" id="ddpTipo" name="ddpTipo" [(ngModel)]="juego.tipo" autoWidth></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="juego.tipo !='O' && juego.tipo != 'M'">
                        <div class="ui-grid-col-2"><label i18n><strong>Estrategía:</strong></label></div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="estrategiaItems" id="ddpEstrategio" name="ddpEstrategio" [(ngModel)]="juego.estrategia" autoWidth></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="juego.tipo == 'M'">
                        <div class="ui-grid-col-2"><label i18n><strong>Tema del juego:</strong></label></div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="temasMillonario" id="ddpTemasMillonario" name="ddpTemasMillonario" [(ngModel)]="juego.idJuegoMillonario" autoWidth></p-dropdown>
                        </div>
                    </div>
                    <div *ngIf="juego.tipo =='O'">
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-grid-col-2"><label i18n><strong>Tiempo límite:</strong></label></div>
                            <div class="ui-grid-col-6">
                                <input type="number" pInputText id="txtTiempo" name="txtTiempo" min="10" [(ngModel)]="juego.tiempo">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-grid-col-2"><label i18n><strong>Imagen del rompecabezas:</strong></label></div>
                            <div class="ui-grid-col-6">
                                <div class="ui-g-12 ui-md-12">
                                    <img src='{{avatar}}' class="cp-insert cp-round" *ngIf="avatar"/>
                                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                                </div>
                                <div class="ui-g-12 ui-md-12" *ngIf="this.mision.indEstado != 'A' && this.mision.indEstado != 'B'">
                                    <input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
                                    <label for="avatar" i18n>Seleccione un archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card ui-g">
                    <div class="ui-g-12 ui-md-10">
                        <h2 class="sub-heading-detalle" i18n>Definición de premios</h2>
                    </div>
                    <div class="ui-g-12 ui-md-2" *ngIf="exists">
                        <button pButton type="button" i18n-label label="Agregar" [disabled]="cantMayor" class="green-btn" icon="ui-icon-add" (click)="nuevoPremio()"></button>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                            <div class="ui-g-5 ui-md-5"></div>
                            <div class="ui-g-2 ui-md-2">
                                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="!listaVacia && !cargandoDatos && exists">
                        <p-dataList [value]="listaPremiosJuego" [rows]="10" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"><!--[paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"-->
                            <p-header i18n>
                                Premios disponibles
                            </p-header>
                            <ng-template let-premio pTemplate="item">
                                <div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
                                    <button type="button" pButton (click)="seleccionPremio(premio)" [disabled]="acciones" icon="ui-icon-edit" style="margin:14px 24px 10px 0;float:right"></button>
                                    <button type="button" pButton (click)="confirmar(premio.idMisionJuego)" [disabled]="acciones"  *ngIf="escrituraMision" icon="ui-icon-delete" style="margin:14px 24px 10px 0;float:right"></button>
                                    <div class="ui-g-12 ui-md-10 ui-lg-10">
                                        <div class="ui-grid-row">
                                            <div class="ui-g-12 ui-md-3">
                                                <label i18n><strong> Tipo de premio: </strong></label><label>{{premio.indTipoPremio | tipoPremioJuego}}</label>
                                            </div>
                                            <div class="ui-g-12 ui-md-3" *ngIf="juego.tipo !='O'">
                                                <label i18n><strong>Probabilidad: </strong></label><label> {{premio.probabilidad}}</label>
                                            </div>
                                            <div class="ui-g-12 ui-md-3" *ngIf="premio.indTipoPremio == 'P'">
                                                <label i18n><strong>Premio: </strong></label><label> {{premio.idPremio.nombre}}</label>
                                            </div>
                                            <div class="ui-g-12 ui-md-3" *ngIf="premio.indTipoPremio == 'M'">
                                                <label i18n><strong>Premio: </strong></label><label> {{premio.metrica.nombre}}</label>
                                            </div>
                                            <div class="ui-g-12 ui-md-3" *ngIf="premio.indTipoPremio == 'M'">
                                                <label i18n><strong>Cantidad: </strong></label><label> {{premio.cantMetrica}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataList>
                    </div>
                    <!--Se muestra este mensaje si no existen premios disponibles-->
                    <div class="ui-g-12 ui-md-12" *ngIf="listaVacia && !cargandoDatos">
                        <label i18n>No existen premios disponibles.</label>
                    </div>
                    <!--Se muestra este mensaje si no existen clientes-->
                    <div class="ui-g-12 ui-md-12" *ngIf="!exists && !cargandoDatos">
                        <label i18n>Es necesario que elija la definición del juego antes de continuar. </label>
                    </div>
                </div>
        </div>
    </div>
</div>

<!--Cuadro de dialog para ingresar/editar un nivel-->
<p-dialog i18n-header header="Premio del juego" [(visible)]="verModal" responsive="true" showEffect="fade" modal="true" width="700" height="auto" resizable="true">
	<div class="ui-g-12 ui-md-12">
		<form role="form" [formGroup]="formPremioJuego">
			<div class="ui-g form-group">
				<h3 i18n>Datos del premio</h3>
				<div class="ui-g-12 ui-md-12">
                    <!--Tipo de premio-->
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-4"><label i18n><strong>Tipo de premio:</strong></label></div>
                        <div class="ui-g-12 ui-md-8">
                            <!--[(ngModel)]="premioJuego.indTipoPremio"-->
                            <p-dropdown [options]="tipoPremioItems" id="ddpTipoPremio" name="ddpTipoPremio" autoWidth formControlName="indTipoPremio" [(ngModel)]="premioJuego.indTipoPremio" (onChange)="cambioTipoPremio()"></p-dropdown>
                        </div>
                    </div>

                    <!--Premios disponibles-->
                    <div class="ui-g-12 ui-md-12" *ngIf="premioJuego.indTipoPremio == 'P'">
                        <!--[(ngModel)]="premioJuego.idPremio"-->
                        <!--<p-autoComplete id="ddPremio" formControlName="idPremio" name="ddPremio" [(ngModel)]="premioJuego.idPremio" [suggestions]="premioItems" 
                        (completeMethod)="buscarPremios($event)" field="nombre" [dropdown]="true" placeholder="Ejemplo: ingrese 'p' or 'a'" (onDropdownClick)="handleDropdownClick($event)"></p-autoComplete>-->
                        <div class="ui-g-12 ui-md-12" *ngIf="!premioVacio">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <ng-container i18n>
                                        <strong>Premio:</strong>
                                    </ng-container>
                                </div>
                                <div class="ui-grid-col-7" style="padding-right: 10px;">
                                    <input type="text" pInputText [(ngModel)]="nombre" style="width:100%" readonly formControlName="idPremio"/>
                                </div>
                                <div class="ui-grid-col-3" style="padding-left: 7px; padding-right: 7px;">
                                    <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialog=true; buscarPremios()"></button>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12" *ngIf="premioVacio">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <ng-container i18n>
                                        <strong>Premio:</strong>
                                    </ng-container>
                                </div>
                                <div class="ui-grid-col-8" style="padding-right: 10px;">
                                    No hay premios disponibles
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Métricas disponibles-->
                    <div class="ui-g-12 ui-md-12" *ngIf="premioJuego.indTipoPremio == 'M'">
                        <!--<div class="ui-g-12 ui-md-4">
                            <label for="ddMetrica" i18n><strong>Métrica: </strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <p-dropdown id="ddMetrica" formControlName="metrica" name="ddMetrica" [(ngModel)] = "premioJuego.metrica"
                                [options]="metricaItems" [autoWidth]="false"></p-dropdown>
                        </div>-->
                        <div class="ui-g-12 ui-md-12" *ngIf="!metricaVacia">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <ng-container i18n><strong>Métrica:</strong></ng-container>
                                </div>
                                <div class="ui-grid-col-7" style="padding-right: 10px;">
                                    <input type="text" pInputText [(ngModel)]="nombreMetrica" style="width:100%" readonly formControlName="metrica"/>
                                </div>
                                <div class="ui-grid-col-3" style="padding-left: 7px; padding-right: 7px;">
                                    <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true; busquedaMetricas()"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Cantidad de métrica-->
                    <div class="ui-g-12 ui-md-12" *ngIf="premioJuego.indTipoPremio == 'M'">
                        <div class="ui-g-12 ui-md-4">
                            <label for="txtCant" i18n><strong>Cantidad de métrica a ganar</strong></label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <!--[(ngModel)]="premioJuego.cantMetrica"-->
                            <p-spinner size="30" id="txtCant" name="txtCant" [min]="0"  formControlName="cantMetrica" [(ngModel)] = "premioJuego.cantMetrica"></p-spinner>
                        </div>
                    </div>

					<!-- Probabilidad-->
					<div class="ui-g-12 ui-md-12" *ngIf="juego.estrategia == 'P' && juego.tipo != 'O'">
						<div class="ui-g-12 ui-md-4">
							<label i18n><strong>Probabilidad:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8">
                            <!--[(ngModel)]="premioJuego.probabilidad"-->
							<p-spinner  size="30" pInputText id="txtProbabilidad" name="txtProbabilidad" [min]="0" formControlName="probabilidad" [(ngModel)] = "premioJuego.probabilidad"></p-spinner>
						</div>
					</div>
                    <div class="ui-g-12 ui-md-12">
                        <h3 i18n> Opcionales </h3>
                        <!--Indicador limite de respuesta-->
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-4">
                                <label i18n><strong>¿Necesita definir límites para el premio?</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                                <!--[(ngModel)]="premioJuego.indRespuesta"-->
                                <div class="ui-g-6 ui-md-6">
                                    <p-radioButton name="radioLimite" id="limiteTrue" [value]="true"  formControlName="indRespuesta"
                                        i18n-label label="Si" [(ngModel)]="premioJuego.indRespuesta"></p-radioButton>
                                </div>
                                <div class="ui-g-6 ui-md-6">
                                    <p-radioButton name="radioLimite" id="limiteFalse" [value]="false"  formControlName="indRespuesta"
                                        i18n-label label="No" [(ngModel)]="premioJuego.indRespuesta"></p-radioButton>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="premioJuego.indRespuesta">
                            <!--Cantidad total de respuesta-->
                            <div class="ui-g-12 ui-md-12 ">
                                <div class="ui-g-12 ui-md-4">
                                    <label for="txtTotal" i18n><strong>Cantidad total de respuestas</strong></label>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <!--[(ngModel)]="premioJuego.cantInterTotal"-->
                                    <p-spinner id="txtTotal" name="txtTotal" [min]="0" formControlName="cantInterTotal" [(ngModel)]="premioJuego.cantInterTotal"></p-spinner>
                                </div>
                            </div>

                            <!--Intervalo total-->
                            <div class="ui-g-12 ui-md-12 ">
                                <div class="ui-g-12 ui-md-4">
                                    <label for="intervaloTotal" i18n><strong>Intervalo de respuesta</strong></label>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <!--(ngModel)]="premioJuego.indInterTotal" -->
                                    <p-dropdown id="intervaloTotal" formControlName="indInterTotal" [(ngModel)]="premioJuego.indInterTotal" name="intervaloTotal" [options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
                                </div>
                            </div>

                            <!--Cantidad de respuestas por cliente-->
                            <div class="ui-g-12 ui-md-12 ">
                                <div class="ui-g-12 ui-md-4">
                                    <label  i18n><strong>Cantidad de respuestas por cliente</strong></label>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <!--[(ngModel)]="premioJuego.cantInterMiembro"-->
                                    <p-spinner size="30" id="txtCantMiembro" name="txtCantMiembro" [min]="0" [max]="premioJuego.cantInterTotal" 
                                        formControlName="cantInterMiembro" [(ngModel)]="premioJuego.cantInterMiembro"></p-spinner>
                                </div>
                            </div>

                            <!--Intervalo respuestas por cliente-->
                            <div class="ui-g-12 ui-md-12 ">
                                <div class="ui-g-12 ui-md-4">
                                    <label for="dddIntervalo" i18n><strong>Intervalo de respuesta por cliente: </strong></label>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <!--[(ngModel)]="premioJuego.indInterMiembro"-->
                                    <p-dropdown id="indIntervaloMiembro" formControlName="indInterMiembro" name="indIntervaloMiembro" 
                                        [options]="itemsRespuesta" [autoWidth]="false" [(ngModel)]="premioJuego.indInterMiembro"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="cancelarAccion()" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Guardar" [disabled]="!formPremioJuego.valid" (click)="accionPremioJuego()" icon="ui-icon-save"></button>
    </p-footer>
</p-dialog>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialog" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="buscarPremios()" (onRemove)="buscarPremios()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaPremios" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsPremios" [lazy]="true" (onLazyLoad)="loadDataPremio($event)">
        <p-column field="codPremio" i18n-header header="Código"></p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="indTipoPremio" i18n-header header="Tipo">
            <ng-template let-premio="rowData" pTemplate="body">
                <span>{{premio.indTipoPremio | tipoPremio}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-premio="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarPremio(premio)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="metricaBusqueda" (onAdd)="busquedaMetricas()" (onRemove)="busquedaMetricas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetricas" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un premio-->
<p-dialog i18n-header header="Confirmación" [(visible)]="dialogEliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="dialogEliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="eliminarPremioJuegoMision()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>