<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" *ngIf="mision.misionRealidadAumentada">
        <div class="ui-g-12 ui-md-12">
            <h2 class="sub-heading-detalle" i18n>Definición de contenido</h2>
        </div>
        <form #form="ngForm">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label for="nombreMision" i18n><strong>ID de Blippart:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-6" style="margin-top: 15px;">
                    <input pInputText id="idBlippart" name="idBlippart" type="text" [(ngModel)]="mision.misionRealidadAumentada.idBlippar"  maxlength="300">
                </div>
                
            </div>
            <div class="ui-g-12 ui-md-10 ui-lg-10"></div>
            <div class="ui-g-12 ui-md-2 ui-lg-2">
                <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid" (click)="actualizarReto()"></button>
            </div>
        </form>

    </div>
</div>