<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" *ngIf="mision.misionSocial">
        <div class="ui-g-12 ui-md-12">
            <h2 class="sub-heading-detalle" i18n>Definición de contenido</h2>
        </div>
        <form [formGroup]="formGRAL">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label for="nombreMision" i18n><strong>Tipo</strong></label>
                </div>
                <div class="ui-g-12 ui-md-7 ui-lg-6" style="margin-top: 15px;">
                    <p-dropdown [options]="optionsTiposActividad" id="drpActividad" name="drpActividad" [autoWidth]="false" [(ngModel)]="mision.misionSocial.indTipo"
                        formControlName="tipo">
                    </p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-1">
                    <div *ngIf="mision.misionSocial.indTipo == 'L' || mision.misionSocial.indTipo == 'M' || mision.misionSocial.indTipo == 'G' || mision.misionSocial.indTipo == 'I'">
                        <img src="{{facePng}}" alt="" style="width: 34%">
                    </div>
                    <div *ngIf="mision.misionSocial.indTipo == 'A' || mision.misionSocial.indTipo == 'B'">
                        <img src="{{twitterPng}}" alt="" style="width: 34%">
                    </div>
                    <div *ngIf="mision.misionSocial.indTipo == 'C'">
                        <img src="{{instagramPng}}" alt="" style="width: 34%">
                    </div>
                </div>
            </div>
        </form>
        <!--enlace-->
        <form [formGroup]="formELC" *ngIf="mision.misionSocial.indTipo=='L' || mision.misionSocial.indTipo == 'A'">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2"></div>
                <div class="ui-g-12 ui-md-10" *ngIf="!file_src">
                    <img class="img-forms img-border" src="http://580dfadb669a3d46adbc-6dc2c0f932578b1114beed9c144d3102.r58.cf1.rackcdn.com/ee5cf60a-7d8e-4062-8c40-c600d52d4294.jpeg">
                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                </div>
                <div class="ui-g-12 ui-md-10" *ngIf="file_src">
                    <img [src]="file_src" class="img-forms img-border" />
                    <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                </div>
                <div class="ui-g-12 ui-md-2"></div>
                <div class="ui-g-12 ui-md-10">
                    <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/*">
                    <label for="fileAvatar" i18n>Seleccione un archivo</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="descMision" i18n><strong>URL Objetivo</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionSocial.urlObjectivo" formControlName="urlObjetivo" maxlength="300">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="cantMetrica" i18n><strong>Mensaje</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionSocial.mensaje" formControlName="mensaje" maxlength="400">
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="cantMetrica" i18n><strong>URL Título</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionSocial.tituloUrl" formControlName="urlTitulo" maxlength="60">
                </div>
            </div>
            <div class="ui-g-12 md-9 ui-lg-7" style="margin-top:25px"></div>
            <div class="ui-g-12 ui-md-4 ui-lg-2" style="margin-top:25px">
                <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formELC.valid||!formGRAL.valid"
                    (click)="actualizarReto()"></button>
            </div>
        </form>
        <!--me gusta-->
        <form [formGroup]="formMG" *ngIf="mision.misionSocial.indTipo=='G' || mision.misionSocial.indTipo == 'B' || mision.misionSocial.indTipo == 'C'">
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="descMision" i18n><strong>URL</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionSocial.urlObjectivo" formControlName="urlObjetivo" maxlength="300">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 md-9 ui-lg-7" style="margin-top:25px"></div>
                <div class="ui-g-12 ui-md-4 ui-lg-2" style="margin-top:25px">
                    <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save"  [disabled]="!formMG.valid||!formGRAL.valid" (click)="actualizarReto()"></button>
                </div>
            </div>
        </form>

        <!--mensaje-->
        <form [formGroup]="formMSG" *ngIf="mision.misionSocial.indTipo=='M'">
            <div class="ui-g-12 ">
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label for="cantMetrica" i18n><strong>Mensaje</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-7">
                    <input pInputText id="descMision" name="descMision" type="text" [(ngModel)]="mision.misionSocial.mensaje" formControlName="mensaje" maxlength="400">
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-9 ui-lg-7" style="margin-top:25px"></div>
                <div class="ui-g-12 ui-md-4 ui-lg-2" style="margin-top:25px">
                    <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formMSG.valid||!formGRAL.valid" (click)="actualizarReto()"></button>
                </div>
            </div>
        </form>
    </div>
</div>