<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 form-padding">
    <h3 class="heading-form" i18n>Register</h3>
    <form form="ngForm">
      <div class="form-group" *ngIf="file_src">
        <img id='img-upload' class="form-img" [src]="file_src" />
      </div>
      <div class="form-group">
        <label for="imgInp">Avatar:</label>
        <!--<img id='img-upload' class="form-img" [src]="file_src" />-->
        <div class="input-group">
          <span class="input-group-btn">
              <span i18n class="btn btn-default btn-file">
                  Browse… <input #input type="file" id="imgInp"  (change)="fileChange(input)">
              </span>
          </span>
          <input type="text" class="form-control" [value]="this.file?.name" readonly>
        </div>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !name.pristine&&name.valid, 'has-error': !name.pristine&&!name.valid}">
        <label for="txtName" i18n>Name:</label>
        <input type="text" name="nombre" class="form-control" id="txtName" [(ngModel)]="miembro.nombre" #name="ngModel" required>
        <span id="nameHLP" *ngIf="!name.pristine&&!name.valid" class="help-block" i18n>Name is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !lastName.pristine&&lastName.valid, 'has-error': !lastName.pristine&&!lastName.valid}">
        <label for="txtLastName" i18n>Last Name:</label>
        <input type="text" name="apellido" class="form-control" id="txtLastName" [(ngModel)]="miembro.apellido" #lastName="ngModel"
          required>
        <span id="lastNameHLP" *ngIf="!lastName.pristine&&!lastName.valid" class="help-block" i18n>Last Name is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !email.pristine&&email.valid, 'has-error': !email.pristine&&!email.valid}">
        <label for="txtLastName" i18n>Email:</label>
        <input type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" name="email" class="form-control" id="txtEmail" [(ngModel)]="miembro.correo"
          #email="ngModel" required>
        <span id="emailHLP" *ngIf="!email.pristine&&!email.valid" class="help-block" i18n>Email is invalid</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !username.pristine&&username.valid, 'has-error': !username.pristine&&!username.valid}">
        <label for="txtusername" i18n>Username:</label>
        <input type="text" name="username" class="form-control" id="txtusername" [(ngModel)]="miembro.nombreUsuario" #username="ngModel"
          required>
        <span id="lusernameHLP" *ngIf="!username.pristine&&!username.valid" class="help-block" i18n>Username is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !identity.pristine&&identity.valid, 'has-error': !identity.pristine&&!identity.valid}">
        <label for="txtidentity" i18n>ID:</label>
        <input type="number" name="identity" class="form-control" id="txtidentity" [(ngModel)]="miembro.docIdentificacion" #identity="ngModel" required>
        <span id="txtidentity" *ngIf="!identity.pristine&&!identity.valid" class="help-block" i18n>ID is required</span>
      </div>
      

      <div class="form-group has-feedback" [ngClass]="{'has-success': !zip.pristine&&zip.valid, 'has-error': !zip.pristine&&!zip.valid}">
        <label for="txtZipCode" i18n>ZIP Code:</label>
        <input type="number" name="zip" class="form-control" id="txtZipCode" [(ngModel)]="miembro.codigoPostal" #zip="ngModel" required>
        <span id="txtZipCodeHLP" *ngIf="!zip.pristine&&!zip.valid" class="help-block" i18n>ZIP Code is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !address.pristine&&address.valid, 'has-error': !address.pristine&&!address.valid}">
        <label for="txtLastName" i18n>Address:</label>
        <input type="text" name="address" class="form-control" id="txtAddress" [(ngModel)]="miembro.direccion" #address="ngModel"
          required>
        <span id="txtAddresslHLP" *ngIf="!address.pristine&&!address.valid" class="help-block" i18n>Address is invalid</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !pwd.pristine&&pwd.valid, 'has-error': !pwd.pristine&&!pwd.valid}">
        <label for="txtpwd" i18n>Password:</label>
        <input type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" name="pwd" class="form-control"
          id="txtpwd" [(ngModel)]="miembro.contrasena" #pwd="ngModel" required>
        <span id="txtpwdlHLP" *ngIf="!pwd.pristine&&!pwd.valid" class="help-block" i18n>Password is invalid</span>
        <p id="passwordHelpBlock" class="form-text text-muted" i18n>
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters,
          or emoji.
        </p>
      </div>
      <!-- <div class="form-group has-feedback">
        <div class="checkbox">
          <label i18n><input type="checkbox"> I understand and agree the <a href="#">Terms and conditions</a> </label>
        </div>
      </div> -->
      <button type="submit" class="btn btn-success pull-right" (click)="registerUser()" i18n>Register</button>
    </form>
  </div>
</div>