<div class="ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-1 ui-md-1">
                    <button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
                </div>
                <div class="ui-g-12 ui-md-8">
                    <div class="ui-g-12 ui-md-12">
                        <div class="heading-detalle">
                            {{categoria.nombre}}
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="sub-heading-detalle">
                            <ng-container i18n>Categoría de Noticia</ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-toolbar">
            <!--Opciones a mostrar para la categoría de noticia-->
            <div class="ui-toolbar-group">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button pButton icon="ui-icon-map" i18n-label label="Detalle" (click)="detalle = true; asociar = false;" [ngClass]="{'ruta-activada': detalle}"></button>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button pButton icon="ui-icon-map" i18n-label label="Noticias" (click)="asociar = true; detalle = false;" [ngClass]="{'ruta-activada': asociar}"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-w-title">
            <div class="ui-g">
                <!--Detalle de la categoría que se le asigna a las noticias-->
                <div class="ui-g-12 ui-md-12" *ngIf="detalle">
                    <div class="ui-g-12 ui-md-10">
                        <h3 i18n>Detalle de la categoría</h3>
                    </div>
                    <form #categoriaForm="ngForm">
                        <!--Imagen de la categoría-->
                        <div class="ui-g-12 ui-md-10">
                            <div class="ui-g-12 ui-md-8 ui-lg-10">
                                <img src='{{imagenNoticia}}' class="img-forms img-border" *ngIf="imagenNoticia"/>
                                <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-7">
                                <input class="upload" id="imagen" name="imagen" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png" required>
                                <label for="imagen" i18n>Seleccione un archivo</label>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12"></div>
                        <!--Nombre de la categoría-->
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <label i18n><strong>Nombre:</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-5">
                                <input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="categoria.nombre" required>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-2 ui-md-4 ui-lg-3"></div>
                            <div class="ui-g-12 ui-md-4 ui-lg-2">
                                <button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" (click)="modificarCategoria()" *ngIf="escrituraCateg"></button>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-2">
                                <button pButton type="button" i18n-label label="Eliminar" icon="ui-icon-trash" class="red-btn" (click)="eliminar = true" *ngIf="escrituraCateg"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Asociaciones de las noticias-->
                <div class="ui-g-12 ui-md-12" *ngIf="asociar">
                    <div class="ui-g-12 ui-md-10">
                        <h3 i18n>Noticias</h3>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button" i18n-label label="Asociar noticia" icon="ui-icon-add" class="green-btn" (click)="disponible = true; asociada = false;" *ngIf="asociada && escrituraCateg && escrituraNoticia"></button>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button" i18n-label label="Volver" icon="ui-icon-arrow-back" class="green-btn" (click)="disponible = false; asociada = true;" *ngIf="escrituraCateg && escrituraNoticia && disponible"></button>
                    </div>
                    <div class="ui-g-12" *ngIf="!escrituraCateg || !escrituraNoticia">
                        <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                                <i class="material-icons">information</i>
                            </div>
                            <div class="ui-g-10 ui-md-9 ui-lg-9">
                                <label i18n>No cuenta con los permisos necesarios para agregar o remover la asignación de una noticia.</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="asociada && asociar">
                        <!--Lista con las noticias asociadas-->
                        <p-dataTable [value]="listaNoticias" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRegistro" (onLazyLoad)="loadDataA($event)"
                        selectionMode="multiple" [(selection)]="listaSeleccion" >
                            <p-header i18n>
                                Asociadas
                            </p-header>
                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                            <p-column field="titulo" i18n-header header="Título"></p-column>
                            <p-column field="contenido" i18n-header header="Contenido"></p-column>
                            <p-column styleClass="col-button" [style]="{'width': '100px'}" *ngIf="escrituraNoticia && escrituraCateg">
								<ng-template pTemplate="header">
									<button pButton icon="ui-icon-delete" class="pink-btn" (click)="noticiaSeleccionada('lista')" class="listButton"></button>
								</ng-template>
								<ng-template let-noticia="rowData" let-index="rowIndex" pTemplate="body">
									<button pButton (click)="noticiaSeleccionada('noticia',noticia.idNoticia)" icon="ui-icon-delete" class="listButton"></button>
								</ng-template>
							</p-column>
                        </p-dataTable>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="disponible && asociar">
                        <!--Lista con las noticias que no estan asociadas a la categoría-->
                        <p-dataTable [value]="listaNoticiasD" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRegistro" (onLazyLoad)="loadDataA($event)"
                        selectionMode="multiple" [(selection)]="listaSeleccion" >
                            <p-header i18n>
                                Disponibles
                            </p-header>
                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                            <p-column field="titulo" i18n-header header="Título"></p-column>
                            <p-column field="contenido" i18n-header header="Contenido"></p-column>
                            <p-column styleClass="col-button" [style]="{'width': '100px'}" *ngIf="escrituraNoticia && escrituraCateg">
								<ng-template pTemplate="header">
									<button pButton icon="ui-icon-add" class="pink-btn" (click)="agregarListaNoticia()"></button>
								</ng-template>
								<ng-template let-noticia="rowData" let-index="rowIndex" pTemplate="body">
									<button pButton (click)="agregarAsociacion(noticia.idNoticia)" icon="ui-icon-add" class="listButton"></button>
								</ng-template>
							</p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12" *ngIf="detalle">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
       <div class="ui-g-12 ui-md-12" *ngIf="!detalle && accion == 'noticia'">
            <ng-container i18n>¿Confirma que desea remover esta asociación?</ng-container>
       </div>
       <div class="ui-g-12 ui-md-12" *ngIf="!detalle && accion == 'lista'">
            <ng-container i18n>¿Confirma que desea remover las asociaciones de estas noticias?</ng-container>
       </div>
    </div>
    <p-footer>
        <!--Segun el grupo de acción-->
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerCategoria()" icon="ui-icon-trash" *ngIf="detalle"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerAsociacion()" icon="ui-icon-trash" *ngIf="!detalle  && accion == 'noticia'"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerListaNoticias()" icon="ui-icon-trash" *ngIf="!detalle  && accion == 'lista'"></button>
    </p-footer>
</p-dialog>