<div class="ui-g ui-fluid ">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-10 ui-lg-10">
            <h2 i18n>Agregar segmentos a la notificación</h2>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="displayInsertar">
            <button pButton icon="ui-icon-arrow-back" i18n-label label="Volver" (click)="listarSegmentosElegibles()"></button>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!displayInsertar">
            <button pButton icon="ui-icon-add" i18n-label label="Agregar"  class="green-btn" (click)="listarSegmentosDisponibles()"></button>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayInsertar==false">
            <!--<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaSegmentos.length==0">
                <p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>
            </div>-->
            <div class="ui-g-12 ui-md-8 ui-lg-8">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="listarSegmentosElegibles()" (onRemove)="listarSegmentosElegibles()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
            <div class="ui-g-12" *ngIf="listaSegmentos.length==0">
                <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                    <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                        <i class="material-icons">information</i>
                    </div>
                    <div class="ui-g-8 ui-md-7 ui-lg-7">
                        <label i18n>Aún no hay datos.</label>
                    </div>
                </div>
                <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaSegmentos.length>0 && displayInsertar==false">
                <p-dataTable [value]="listaSegmentos" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [lazy]="true" [totalRecords]="cantTotalRegistros" (onLazyLoad)="loadData($event)">
                    <p-header i18n>Segmentos incluidos</p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column field="nombre" i18n-header header="Nombre"></p-column>
                    <p-column field="nombreDespliegue" i18n-header header="Nombre Interno"></p-column>
                    <p-column field="indEstado" i18n-header header="Tipo">
                        <ng-template let-segmento="rowData" pTemplate="body">
                            <span>{{segmento.indEstado|tipoSegmento}}</span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
                        <ng-template pTemplate="header">
                            <button type="button" pButton icon="ui-icon-delete" i18n-label label="Eliminar seleccionados" (click)="eliminarMultipleSegmento()"></button>
                        </ng-template>
                        <ng-template let-segmento="rowData" pTemplate="body">
                            <div class="ui-grid-col-2">
                                <button type="button" pButton (click)="eliminarSegmento(segmento)" icon="ui-icon-delete"></button>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayInsertar==true">
            <div class="ui-g-12 ui-md-8 ui-lg-8">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="listarSegmentosDisponibles()" (onRemove)="listarSegmentosDisponibles()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
             <div class="ui-g-12" *ngIf="listaSegmentosDisponibles.length<1">
                <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                    <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                        <i class="material-icons">information</i>
                    </div>
                    <div class="ui-g-8 ui-md-7 ui-lg-7">
                        <label i18n>Aún no hay datos.</label>
                    </div>
                </div>
                <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaSegmentosDisponibles.length>0">
                <p-dataTable [value]="listaSegmentosDisponibles" [paginator]="true" [rows]="10"
                    [(selection)]="seleccMultipleAgregar" [lazy]="true" [totalRecords]="cantTotalRegistros" (onLazyLoad)="loadData2($event)">
                    <p-header i18n>Segmentos a incluir</p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column field="nombre" i18n-header header="Nombre"></p-column>
                    <p-column field="nombreDespliegue" i18n-header header="Nombre Interno"></p-column>
                    <p-column field="indEstado" i18n-header header="Tipo">
                        <ng-template let-segmento="rowData" pTemplate="body">
                            <span>{{segmento.indEstado|tipoSegmento}}</span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
                        <ng-template pTemplate="header">
                            <button type="button" pButton icon="ui-icon-add" i18n-label label="Agregar seleccionados" (click)="agregarMultipleSegmento()"></button>
                        </ng-template>
                        <ng-template let-segmento="rowData" pTemplate="body">
                            <div class="ui-grid-col-2">
                                <button type="button" pButton (click)="agregarSegmento(segmento)" icon="ui-icon-add"></button>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
