<div class="ui-g-12 ui-md-10 ui-lg-10">
    <h2 i18n>Administración del objetivo de la notificación</h2>
</div>
<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="displayInsertar">
    <button pButton icon="ui-icon-arrow-back" i18n-label label="Volver" (click)="listarPromocionesElegibles()"></button>
</div>
<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!displayInsertar">
    <button pButton icon="ui-icon-add" i18n-label label="Agregar"  class="green-btn" (click)="listarPromocionesDisponibles()"></button>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaPromociones.length==0 && displayInsertar==false">
    <div style="background: #2196F3; font-size: x-small; color: white;">
		<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
		    <i class="material-icons">information</i>
		</div>
		<div class="ui-g-8 ui-md-7 ui-lg-7">
		    <label i18n>Aún no hay datos.</label>
		</div>
	</div>
    <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaPromociones.length>0 && displayInsertar==false">
    <p-dataTable [value]="listaPromociones" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
        <p-header i18n>Promociones incluidas</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="nombreInterno"  i18n-header header="Nombre Interno"></p-column>
        <p-column field="indEstado"  i18n-header header="Tipo">
            <ng-template let-promo="rowData" pTemplate="body">
                <span>{{promo.indEstado}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <button type="button" pButton icon="ui-icon-delete" i18n-label label="Eliminar seleccionados" (click)="eliminarMultiplePromocion()"></button>
            </ng-template>
            <ng-template let-promo="rowData" pTemplate="body">
                <div class="ui-grid-col-2">
                    <button type="button" pButton (click)="eliminarPromocion(promo)" icon="ui-icon-delete"></button>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayInsertar==true">
    <div *ngIf="listaPromocionesDisponibles.length==false">
        <div style="background: #2196F3; font-size: x-small; color: white;">
            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                <i class="material-icons">information</i>
            </div>
            <div class="ui-g-8 ui-md-7 ui-lg-7">
                <label i18n>Aún no hay datos.</label>
            </div>
        </div>
        <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
    </div>
    <p-dataTable [value]="listaPromocionesDisponibles" *ngIf="listaPromocionesDisponibles.length>0" [paginator]="true" [rows]="10"
        [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
        <p-header i18n>Promociones a incluir</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre"  i18n-header header="Nombre"></p-column>
        <p-column field="nombreInterno" i18n-header header="Nombre Interno"></p-column>
        <p-column field="indEstado" i18n-header header="Tipo">
            <ng-template let-promo="rowData" pTemplate="body">
                <span>{{promo.indEstado}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <button type="button" pButton icon="ui-icon-add" i18n-label label="Agregar seleccionados" (click)="agregarMultiplePromocion()"></button>
            </ng-template>
            <ng-template let-promo="rowData" pTemplate="body">
                <div class="ui-grid-col-2">
                    <button type="button" pButton (click)="agregarPromocion(promo)" icon="ui-icon-add"></button>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>