<div class="ui-g ui-fluid ">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-10 ui-lg-10">
            <h2 i18n>Administración de miembros de la notificación</h2>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="displayInsertar">
            <button pButton icon="ui-icon-arrow-back" i18n-label label="Volver" (click)="listarMiembrosElegibles()"></button>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!displayInsertar">
            <button pButton icon="ui-icon-add" i18n-label label="Agregar" class="green-btn" (click)="listarMiembrosDisponibles()"></button>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayInsertar==false">
            <div class="ui-g-12 ui-md-8 ui-lg-8">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="listarMiembrosElegibles()" (onRemove)="listarMiembrosElegibles()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
            <div class="ui-g-12 ui-md-12" *ngIf="listaMiembros.length==0">
                <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay datos.</label>
					</div>
				</div>
                <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
            </div>
            <div *ngIf="listaMiembros.length>0">
                <div class="ui-g-12">
                    <p-dataTable [value]="listaMiembros" [paginator]="true" [rows]="9" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb" [lazy]="true" [totalRecords]="cantTotalRegistros" (onLazyLoad)="loadData($event)">
                        <p-header i18n>Miembros incluidos</p-header>
                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column field="docIdentificacion" i18n-header header="Identificación"></p-column>
                        <p-column field="nombre" i18n-header header="Nombre"></p-column>
                        <p-column i18n-header header="Apellidos">
                            <ng-template let-miembro="rowData" pTemplate="body">
                                <span>{{miembro.apellido}} {{miembro.apellido2}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
                            <ng-template pTemplate="header">
                                <button type="button" pButton icon="ui-icon-delete" i18n-label label="Eliminar seleccionados" (click)="eliminarMultipleMiembro()"></button>
                            </ng-template>
                            <ng-template let-miembro="rowData" pTemplate="body">
                                <div class="ui-grid-col-2">
                                    <button type="button" pButton (click)="eliminarMiembro(miembro)" icon="ui-icon-delete"></button>
                                </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayInsertar==true">
            <div class="ui-g-12 ui-md-8 ui-lg-8">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="listarMiembrosDisponibles()" (onRemove)="listarMiembrosDisponibles()" i18n-placeholder placeholder="Búsqueda"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
            <div class="ui-g-12" *ngIf="listaMiembrosDisponibles.length==0">
                <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay datos.</label>
					</div>
				</div>
                <!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>-->
            </div>
            <div class="ui-g-12">
                <p-dataTable [value]="listaMiembrosDisponibles" *ngIf="listaMiembrosDisponibles.length>0" [paginator]="true" [rows]="9"
                    [(selection)]="seleccMultipleAgregar" [globalFilter]="gb" [lazy]="true" [totalRecords]="cantTotalRegistros2" (onLazyLoad)="loadData2($event)">
                    <p-header i18n>Miembros a incluir</p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column field="docIdentificacion" i18n-header header="Identificación"></p-column>
                    <p-column field="nombre" i18n-header header="Nombre"></p-column>
                    <p-column i18n-header header="Apellidos">
                        <ng-template let-miembro="rowData" pTemplate="body">
                            <span>{{miembro.apellido}} {{miembro.apellido2}}</span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
                        <ng-template pTemplate="header">
                            <button type="button" pButton icon="ui-icon-add" i18n-label label="Agregar seleccionados" (click)="agregarMultipleMiembro()"></button>
                        </ng-template>
                        <ng-template let-miembro="rowData" pTemplate="body">
                            <div class="ui-grid-col-2">
                                <button type="button" pButton (click)="agregarMiembro(miembro)" icon="ui-icon-add"></button>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>