<div style="margin-top:70px" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" i18n>Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand " routerLink="/landing">
                <img class="img-responsive user" style="margin-top: -15px;" src="./assets/img/affinity_logo_only.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a></a>
                    </li>
                    <li>
                        <a (click)="mostarModalSignIn()" class="button-cursor" routerLinkActive="menu-item-active" i18n>Log in / Sign up</a>
                    </li>
                    <li>
                        <a routerLink="dash" routerLinkActive="menu-item-active" i18n>Home</a>
                    </li>
                    <li>
                        <a routerLink="info" routerLinkActive="menu-item-active" i18n>About us</a>
                    </li>

                    <li>
                        <a routerLink="contact" routerLinkActive="menu-item-active" i18n>Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <router-outlet></router-outlet>

    <footer>
        <section id="footer" class="bg-light-gray" style="padding:50px">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright" i18n>Copyright &copy; LoyaltySci 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li i18n><a>Privacy Policy</a>
                        </li>
                        <li i18n><a>Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
</div>

<!--<router-outlet></router-outlet>-->
<!-- Modal -->
<div id="modalSignIn" class="modal fade modal-register" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container-fluid">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title " style="margin-bottom: 20px" i18n>Log in/Sign up</h4>
                <button id="login" class="btn btn-xl col-xs-12" style="margin-bottom: 20px" (click)="login()" i18n>Login</button>
                <button id="showRegisterModal" class="btn btn-xl col-xs-12" style="margin-bottom: 20px" (click)="gotoRegister()" i18n>Register</button>
            </div>
        </div>
    </div>
</div>


