<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Categorías y Subcategorías del producto</h2>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!asignar && producto.indEstado !='A' && escritura">
			<button pButton type="button" i18n-label label="Asignar Categoría" class="gree-btn flat" (click)="asignarCategoria()" icon="ui-icon-add"></button>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="asignar">
			<button pButton type="button" i18n-label label="Volver" class="blue-btn flat" (click)="asignar = false" icon="ui-icon-arrow-back"></button>
		</div>
	</div>

	<!--Se muestra este mensaje si no existen asignaciones-->
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaSubCatProdVacia && !asignar && !cargandoDatos">
		<label i18n>Este producto no tiene asignado ninguna categoría/subcategoría.</label>
	</div>

	<!--Se muestra este mensaje si no existen categorías-->
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaTotalVacia && asignar && !cargandoDatos">
		<label i18n>No existen categorías/subcategorías en el sistema.</label>
	</div>

	<!--Se muestra este mensaje si no existen productos-->
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos && !subActiva">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
		<div *ngIf="!listaSubCatProdVacia && !asignar">
			<p-dataList [value]="listaSubCatProducto" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
				<p-header i18n>
					Lista de Subcategorías
				</p-header>
				<ng-template let-subcategoria pTemplate="item">
					<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
						<div class="ui-g-12 ui-md-4 ui-lg-3" style="padding: 16px 0 16px 16px">
							<img class="cp-spinner cp-round" style="border: 4px solid #bdbdbd" src="{{subcategoria.subcategoriaProducto.imagen}}">
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<h3>{{subcategoria.subcategoriaProducto.nombre}}</h3>
							</div>
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<p i18n>Descripción</p>
								<p>{{subcategoria.subcategoriaProducto.descripcion}}</p>
								<p i18n>Categoría</p>
								<p>{{subcategoria.idCategoria.nombre}}</p>
							</div>
						</div>
						<button type="button" pButton style="margin:14px 24px 10px 0;float:right" (click)="subcategoriaSeleccionada(subcategoria.subcategoriaProducto, 'remover')"
							icon="ui-icon-close"></button>
					</div>
				</ng-template>
			</p-dataList>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos || subActiva">
		<div *ngIf="!listaTotalVacia && asignar">
			<p-dataList [value]="listaTotalCategorias" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadDataCategoria($event)">
				<p-header i18n>
					Lista de Categorías disponibles
				</p-header>
				<ng-template let-categoria pTemplate="item">
					<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
						<div class="ui-g-12 ui-md-4 ui-lg-3" style="padding: 16px 0 16px 16px">
							<img class="cp-spinner cp-round" style="border: 4px solid #bdbdbd" src="{{categoria.imagen}}">
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-7">
							<h3>{{categoria.nombre}}</h3>
							<p i18n>Descripción</p>
							<p>{{categoria.descripcion}}</p>
						</div>
						<button type="button" pButton (click)="categoriaSeleccionada(categoria.idCategoria)" style="margin:14px 24px 10px 0;float:right"icon="ui-icon-add"></button>
					</div>
				</ng-template>
			</p-dataList>
		</div>
	</div>
</div>

<!--Cuadro de dialog para escoger una subcategoría segun la categoría -->
<p-dialog i18n-header header="Subcategorías" [(visible)]="mostrarSubCat" [responsive]="true" showEffect="fade" [modal]="true" responsive="true">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g form-group">
			<h3 i18n>Subcategorías disponibles</h3>
			<div class="ui-g-12 ui-md-12" *ngIf="!listaVacia">
				<p-dataList [value]="listaSubCategorias" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadDataSubcategoria($event)">
					<ng-template let-subcategoria pTemplate="item">
						<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
							<div class="ui-g-1 ui-md-1"></div>
							<div class="ui-g-2">
								<img width="50" height="50" style="border: 4px solid #bdbdbd" src="{{subcategoria.imagen}}">
							</div>
							<div class="ui-g-3 ui-md-3">
								<p i18n><strong>Nombre:&nbsp; &nbsp;</strong></p>
								<p>{{subcategoria.nombre}}</p>
							</div>
							<div class="ui-g-3 ui-md-3">
								<p i18n><strong>Descripción:&nbsp; &nbsp;</strong></p>
								<p>{{subcategoria.descripcion}}</p>
							</div>
							<!--Botón que permite ir al detalle de la insignia-->
							<button type="button" (click)="subcategoriaSeleccionada(subcategoria, 'asignar')" pButton icon="ui-icon-add" style="margin:14px 24px 0 0;float:right"></button>
						</div>
					</ng-template>
				</p-dataList>
			</div>
			<div class="ui-g-12 ui-md-12" *ngIf="listaVacia">
				<p i18n>Esta categoría no tiene subcategorías disponibles</p>
			</div>
		</div>
	</div>
	<p-footer>
        <button pButton type="button" i18n-label label="Cerrar" (click)="mostrarSubCat=false" icon="ui-icon-close"></button>
    </p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea eliminar este atributo?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Remover" (click)="removerSubCategoriaProducto()" icon="ui-icon-trash" ></button>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
    </p-footer>
</p-dialog>