<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-9 ui-lg-9">
				<div class="heading-detalle">
					<ng-container i18n>Productos</ng-container>
				</div>
			</div>
			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<div class="ui-g-12 ui-md-8 ui-lg-8">
					<!--Se realizan búsquedas según criterios-->
					<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaProductos()" (onRemove)="busquedaProductos()" i18n-placeholder placeholder="Búsqueda"></p-chips>
					<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
				</div>
				<div class="ui-g-12 ui-md-2 ui-lg-2">
					<button pButton (click)="avanzada = !avanzada" i18n-label label="Búsqueda avanzada"></button>
				</div>
				<!--Butón para agregar un nuevo producto-->
				<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
					<button pButton i18n-label label="Agregar" class="green-btn" (click)="nuevoProducto()" icon="ui-icon-add"></button>
				</div>
			</div>
			<div class="ui-g-12 ui-md-12" *ngIf="avanzada">
				<!--Busqueda avanzada-->
				<p-fieldset legend="Estados" class="ui-g-12 ui-md-12">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
						<div class="ui-g-12 ui-md-4">
							<p-checkbox name="group1" value="P" i18n-label label="Publicado" (onChange)="busquedaProductos()" [(ngModel)]="estado"></p-checkbox>
						</div>
						<div class="ui-g-12 ui-md-4">
							<p-checkbox name="group1" value="B" i18n-label label="Borrador" (onChange)="busquedaProductos()" [(ngModel)]="estado"></p-checkbox>
						</div>
						<div class="ui-g-12 ui-md-4">
							<p-checkbox name="group1" value="I" i18n-label label="Inactivo" (onChange)="busquedaProductos()" [(ngModel)]="estado"></p-checkbox>
						</div>
						<div class="ui-g-12 ui-md-4">
							<p-checkbox name="group1" value="A" i18n-label label="Archivado" (onChange)="busquedaProductos()" [(ngModel)]="estado"></p-checkbox>
						</div>
					</div>
				</p-fieldset>
			</div>
		</div>
	</div>
	<!--Se muestra la lista con los productos-->
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Se muestra este mensaje si no existen productos-->
			<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
		</div>
		<div class="ui-grid-12">
			<!--Lista con los productos-->
			<div *ngIf="!listaVacia && !cargandoDatos">
				<p-dataList [value]="listaProductos" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Productos
					</p-header>
					<ng-template let-producto pTemplate="item">
						<div class="listBorder clearfix">
							<button pButton (click)="gotoDetail(producto.idProducto)" icon="ui-icon-edit" class="listButton"></button>
							<button pButton *ngIf="escritura && producto.indEstado=='B'" (click)="confirmar(producto.idProducto, producto.indEstado)" icon="ui-icon-delete" class="listButton"></button>
							<button pButton *ngIf="escritura && producto.indEstado=='P'" (click)="confirmar(producto.idProducto, producto.indEstado)" icon="ui-icon-archive" class="listButton"></button>
							<div class="ui-g-10 ui-md-3 ui-lg-3">
								<img class="cp-list cp-round"  src="{{producto.imagenArte}}">
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
								<div class="ui-grid-row">
									<div class="ui-g-12 ui-md-12 ui-lg-12">
										<h3><strong>{{producto.nombre}}</strong></h3>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Nombre interno:</strong></label>
										<label>{{producto.nombreInterno}}</label>
									</div>
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Precio:</strong></label>
										<label>{{producto.precio}}</label>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Descripción:</strong></label>
										<label>{{producto.descripcion}}</label>
									</div>
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Estado:</strong></label>
										<label>{{producto.indEstado | estadoElemento}}</label>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
			<div *ngIf="listaVacia  && !cargandoDatos" class="alert alert-info">
				<span  i18n>No existen productos disponibles.</span>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de confirmacion para remover un producto-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="!publicada">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="publicada">
			<ng-container i18n>¿Confirma que desea archivar este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" *ngIf="!publicada" (click)="removerProducto()" icon="ui-icon-trash"></button>
		<button pButton type="button" i18n-label label="Archivar" *ngIf="publicada" (click)="removerProducto()" icon="ui-icon-archive"></button>		
	</p-footer>
</p-dialog>