<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-7">
			<h3 i18n>Atributos dinámicos</h3>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<p-tabView>
			<!--En este panel se muestran los atributos asociados al producto-->
			<p-tabPanel i18n-header header="Atributos asignados">
				<!--Lista de los atributos dinámicos, a los cuales se les puede cambiar el valor por defecto-->
				<div *ngIf="!listaVacia">
					<p-dataTable [value]="listaAtributosProducto" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords"
						(onLazyLoad)="loadData($event)">
						<p-header i18n>
							Lista
						</p-header>
						<p-column field="nombre" header="Nombre" i18n-header></p-column>
						<p-column field="descripcion"  header="Descripción" i18n-header></p-column>
						<p-column field="valorAtributo" header="Valor" i18n-header>
							<ng-template let-col let-atributo="rowData" pTemplate="body">
								<div *ngIf="atributo.valorAtributo != null">
									{{atributo[col.field] }}
								</div>
								<div *ngIf="atributo.valorAtributo == null">
									{{atributo.valorOpciones }}
								</div>
							</ng-template>
						</p-column>
						<p-column styleClass="col-button" i18n-header header="Actualizar" [style]="{'width':'190px'}" *ngIf="escritura && producto.indEstado !='A'">
							<ng-template let-atributo="rowData" pTemplate="body">
								<button type="button" pButton (click)="atributoSeleccionado(atributo, 'actualizar')" icon="ui-icon-edit" style="margin:14px 24px 0 0;float:right"></button>
								<button type="button" pButton (click)="atributoSeleccionado(atributo, 'remover')" icon="ui-icon-close" style="margin:14px 24px 0 0;float:right"></button>
							</ng-template>
						</p-column>
					</p-dataTable>
				</div>

				<!--Si no existen atributos se desplega el mensaje-->
				<div *ngIf="listaVacia && !cargandoDatos">
					<div class="ui-g">
						<h3 i18n>No existen atributos dinámicos asociados a este producto.</h3>
					</div>
				</div>
				<div class="ui-g">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				</div>
			</p-tabPanel>
			<!--En este panel se muestran los atributos disponibles-->
			<p-tabPanel i18n-header header="Atributos disponibles">
				<!--Lista de los atributos dinámicos, a los cuales se les puede cambiar el valor por defecto-->
				<div *ngIf="!listaAtribVacia">
					<p-dataTable [value]="listaAtributos" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords"
						(onLazyLoad)="loadData($event)">
						<p-header i18n>
							Lista
						</p-header>
						<p-column field="nombre" header="Nombre" i18n-header></p-column>
						<p-column field="descripcion" header="Descripción" i18n-header></p-column>
						<p-column field="valorOpciones" header="Valor" i18n-header>
							<ng-template let-atributo="rowData" pTemplate="body">
								<label>{{atributo.valorOpciones}}</label>
								<div *ngIf="atributo.valorOpciones == null">{{atributo.valorAtributo}}</div>
							</ng-template>
						</p-column>
						<p-column styleClass="col-button" [style]="{'width':'110px'}" header="Actualizar" i18n-header *ngIf="escritura && producto.indEstado !='A'" styleClass="col-button">
							<ng-template let-atributo="rowData" pTemplate="body">
								<button type="button" pButton (click)="atributoSeleccionado(atributo, 'asignar')" icon="ui-icon-add" style="margin:14px 24px 0 0;float:right"></button>
							</ng-template>
						</p-column>
					</p-dataTable>
				</div>

				<!--Si no existen atributos se desplega el mensaje-->
				<div *ngIf="listaAtribVacia && !cargandoDatos">
					<div class="ui-g">
					<h3 i18n>No existen atributos dinámicos disponibles</h3>
					</div>
				</div>
				<!--Se muestra este mensaje si no existen productos-->
				<div class="ui-g">
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				</div>
			</p-tabPanel>

		</p-tabView>
	</div>
</div>

<!--Cuadro de dialogo para cambiar el valor del atributo dinámico-->
<p-dialog i18n-header header="Valor del atributo" [responsive]="true" [(visible)]="editar" showEffect="fade" [modal]="true">
	<div class="ui-g-12 ui-md-12">
		<form role="form" #formEdicion="ngForm">
			<div class="ui-g form-group">

				<!-- Tipo de dato -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<p i18n>Tipo de dato:</p>
					</div>
					<div class="ui-g-12 ui-md-8">
						<p>{{ atributo.indTipo | tipoDato}}</p>
					</div>
				</div>
				<!-- Valor del atributo -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label i18n><strong>Valor del atributo:</strong></label>
					</div>

					<!--Tipo numérico-->
					<div *ngIf="atributo.indTipo == 'N'" class="ui-g-12 ui-md-7 ui-lg-6">
						<input type="number" pInputText [(ngModel)]="respuesta" id="txtNumerico" name="txtNumerico" pTooltip="Valor numérico" tooltipPosition="top"
							#valor="ngModel">
					</div>

					<!--Tipo texto-->
					<div *ngIf="atributo.indTipo == 'T'" class="ui-g-12 ui-md-7 ui-lg-6">
						<input type="text" pInputText [(ngModel)]="respuesta" id="txtTexto" name="txtTexto" pTooltip="Texto libre" tooltipPosition="top"
							#valor="ngModel">
					</div>

					<!--Tipo opción multiple-->
					<div *ngIf="atributo.indTipo == 'M'" class="ui-g-12 ui-md-12 ui-lg-12">

						<div class="ui-g-12 ui-md-12">
							<p-listbox [options]="listaRespuesta" name="multipleRespuesta" [(ngModel)]="listaSeleccion" multiple="true" checkbox="true"></p-listbox>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="manejoDeAtributo()"></button>
            <button pButton type="button" i18n-label label="Cerrar" (click)="editar=false" icon="ui-icon-close"></button>
        </div>
    </p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerAsociacionAtributo()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>