<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Botón para regresar a la lista de productos-->
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-8 ui-lg-6">
				<div class="heading-detalle">
					<ng-container i18n>Nuevo producto</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Formulario para insertar un producto-->
			<form role="form" [formGroup]="formProducto">
				<div class="ui-g-12 ui-lg-12">
					<h2 i18n>Datos del producto</h2>
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12 ui-lg-12">

							<!--Codigo del producto-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtNombre" i18n><strong>Código del producto:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtCod" name="txtCod" maxlength="40" [(ngModel)]="producto.codProducto" formControlName="codProducto"
										pTooltip="Código del producto" tooltipPosition="top">
								</div>
							</div>

							<!--Nombre-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtNombre" i18n><strong>Nombre del producto:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="producto.nombre" formControlName="nombre"
										pTooltip="Nombre del producto" tooltipPosition="top" (keyup)="establecerNombres()" (blur)="validarNombreInterno()">
								</div>
							</div>

							<!--Nombre interno-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtInterno" i18n><strong>Nombre interno:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtInterno" name="txtInterno" maxlength="50" [(ngModel)]="producto.nombreInterno" formControlName="nombreInterno"
										pTooltip="Nombre interno" tooltipPosition="top" (blur)="validarNombreInterno()">
									<small *ngIf="nombreValido&&formProducto.get('nombreInterno').touched"><p i18n>El nombre interno ya existe <p></small>
								</div>
							</div>

							<!--Descripción-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtDescripcion" i18n><strong>Descripción:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="300" [(ngModel)]="producto.descripcion"
										formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
								</div>
							</div>

							<!--Precio-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtPrecio" i18n><strong>Precio del producto:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<p-spinner size="30" id="txtPrecio" name="txtPrecio" [min]="0" [(ngModel)]="producto.precio" formControlName="precio" pTooltip="Cantidad global de respuestas"
										tooltipPosition="top"></p-spinner>
								</div>
							</div>

							<!--Indicador de impuesto-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label i18n><strong>¿El producto estará exento de impuestos?</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<div class="ui-g-6 ui-md-6 ui-lg-6">
										<p-radioButton name="radioImpuesto" id="impuestoTrue" [value]="true" [(ngModel)]="producto.indImpuesto" formControlName="indImpuesto"
											i18n-label label="Si"></p-radioButton>
									</div>
									<div class="ui-g-6 ui-md-6 ui-lg-6">
										<p-radioButton name="radioImpuesto" id="impuestoFalse" [value]="false" [(ngModel)]="producto.indImpuesto" formControlName="indImpuesto"
											i18n-label label="No"></p-radioButton>
									</div>
								</div>
							</div>
							<!--Entrega a domicilio/ubicacion-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label i18n><strong>Entrega definida:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<div class="ui-g-6 ui-md-6 ui-lg-6">
										<p-radioButton name="radioEntrega" id="entregaDomicilio" value="D" [(ngModel)]="producto.indEntrega" formControlName="indEntrega"
											i18n-label label="Domicilio"></p-radioButton>
									</div>
									<div class="ui-g-6 ui-md-6 ui-lg-6">
										<p-radioButton name="radioEntrega" id="entregaUbicacion" value="U" [(ngModel)]="producto.indEntrega" formControlName="indEntrega"
											i18n-label label="Ubicación"></p-radioButton>
									</div>
								</div>
							</div>

							<!--Monto de la entrega, si es a domicilio-->
							<div class="ui-g-12 ui-md-12" *ngIf="producto.indEntrega == 'D'">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtEntrega" i18n><strong>Monto a cobrar por la entrega:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<p-spinner size="30" id="txtEntrega" name="txtEntrega" [min]="0" [(ngModel)]="producto.montoEntrega" formControlName="montoEntrega"
										pTooltip="Cantidad global de respuestas" tooltipPosition="top"></p-spinner>
								</div>
							</div>

							<!--Ubicación para entrega, si es por ubicacion-->
							<div class="ui-g-12 ui-md-8" *ngIf="producto.indEntrega == 'U'">
								<seleccion-ubicaciones [(ngModel)]="ubicacionSeleccionada" name="idLocation" formControlName="ubicacion"> </seleccion-ubicaciones>
							</div>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6"></div>
						<!--Butón para cancelar la inserción-->
						<div class="ui-g-12 ui-md-2 ui-lg-2">
							<button pButton type="button" icon="ui-icon-close" i18n-label label="Cancelar" class="red-btn" (click)="goBack()"></button>
						</div>
						<div *ngIf="escritura" class="ui-g-12 ui-md-2 ui-lg-2">
							<!--Se activa hasta que el formProducto sea valido" -->
							<button pButton type="button" icon="ui-icon-save" i18n-label label="Guardar" class="green-btn" [disabled]="!formProducto.valid"
								(click)="insertarProducto()"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
