<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<form role="form" [formGroup]="formLimite">
			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<h2 i18n>Límites del producto</h2>
			</div>
			<!--Indicador limite de respuesta-->
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-5 ui-lg-3">
					<label i18n><strong>¿Se permiten respuestas para el producto?</strong></label>
				</div>
				<div class="ui-g-12 ui-md-8 ui-lg-6">
					<div class="ui-g-6 ui-md-6 ui-lg-6">
						<p-radioButton name="radioLimite" id="limiteTrue" [value]="true" [(ngModel)]="producto.limiteIndRespuesta" formControlName="limiteIndRespuesta"
							i18n-label label="Si"></p-radioButton>
					</div>
					<div class="ui-g-6 ui-md-6 ui-lg-6">
						<p-radioButton name="radioLimite" id="limiteFalse" [value]="false" [(ngModel)]="producto.limiteIndRespuesta" formControlName="limiteIndRespuesta"
							i18n-label label="No"></p-radioButton>
					</div>
				</div>
			</div>
			<div *ngIf="producto.limiteIndRespuesta" class="ui-g-12 ui-md-12 ui-lg-12">

				<!--Cantidad global de respuesta-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="txtGlobal" i18n><strong>Cantidad global de respuestas</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtGlobal" name="txtGlobal" [min]="0" [(ngModel)]="producto.limiteCantTotal" formControlName="limiteCantTotal"
							pTooltip="Cantidad global de respuestas" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Intervalo total-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="indIntervaloTotal" i18n><strong>Intervalo de respuesta</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown id="indIntervaloTotal" formControlName="limiteIndIntervaloTotal" name="limiteIndIntervaloTotal" [(ngModel)]="producto.limiteIndIntervaloTotal"
							[options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
					</div>
				</div>

				<!--Cantidad del intervalo de respuesta-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="txtCantIntervalo" i18n><strong>Cantidad del intervalo entre respuestas</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtCantIntervalo" name="txtCantIntervalo" [min]="0" [(ngModel)]="producto.limiteCantInterRespuesta" formControlName="limiteCantInterRespuesta"
							pTooltip="Cantidad entre el intervalo" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Cantidad de respuestas por cliente-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label  i18n><strong>Cantidad de respuestas por cliente</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtCantMiembro" name="txtCantMiembro" [min]="0" [max]="producto.limiteCantTotal" [(ngModel)]="producto.limiteCantTotalMiembro"
							formControlName="limiteCantTotalMiembro" pTooltip="Cantidad de respuestas por cliente" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Intervalo respuestas por cliente-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="indIntervaloMiembro" i18n><strong>Intervalo de respuesta por cliente: </strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown id="indIntervaloMiembro" formControlName="limiteIndIntervaloMiembro" name="indIntervaloMiembro" [(ngModel)]="producto.limiteIndIntervaloMiembro"
							[options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
					</div>
				</div>

				<!--Frecuencia de las respuestas-->
				<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="producto.limiteCantTotalMiembro > 1">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="indIntervaloRespuesta" i18n><strong>Frecuencia de respuesta: </strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown formControlName="limiteIndIntervaloRespuesta" id="indIntervaloRespuesta" name="indIntervaloRespuesta" [(ngModel)]="producto.limiteIndIntervaloRespuesta"
							[options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
					</div>
				</div>
				
				<!--Métrica-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label i18n><strong>Métrica utilizada (Opcional)</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<div class="ui-g-12 ui-md-9 ui-lg-8" style="padding-right: 10px;">
							<input type="text" pInputText id="indMetrica" [(ngModel)]="nombreMetrica" style="width:100%" readonly formControlName="idMetrica"/>
						</div>
						<div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
							<button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true;"></button>
						</div>
					</div>
				</div>

				<!--Cantidad de métrica mínima-->
				<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="producto.idMetrica !=null">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="txtMinMetrica" i18n><strong>Cantidad de métrica mínima</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtMinMetrica" name="txtMinMetrica" [min]="0" [(ngModel)]="producto.cantMinMetrica" formControlName="cantMinMetrica"
							pTooltip="Cantidad de métrica mínima" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Tier mínimo requerido-->
				<div *ngIf="!nivelVacio" class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="dropMetricas" i18n><strong>Tier mínimo requerido (Opcional)</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown [options]="nivelItems" id="dropNivel" name="dropNivel" [(ngModel)]="producto.idNivelMinimo" formControlName="idNivelMinimo"
							autoWidth pTooltip="Tier mínimo requerido" tooltipPosition="top"></p-dropdown>
					</div>
				</div>

				<!--Se muestra este mensaje si no existen metricas-->
				<div *ngIf="nivelVacio && producto.idMetrica" class="ui-g-12 ui-md-12 ui-lg-12">
					<p i18n>No hay niveles asociados a la métrica</p>
				</div>
			</div>
			<div *ngIf="!producto.limiteIndRespuesta" class="ui-g-12 ui-md-12 ui-lg-12">
				<p i18n>No se permiten respuestas para el producto.</p>
			</div>

			<div class="ui-g-12 ui-md-12" *ngIf="escritura && producto.indEstado !='A'">
				<div class="ui-g-12 ui-md-8 ui-lg-7 ui-lg-10"></div>
				<div class="ui-g-12 ui-md-2 ui-lg-2">
					<button type="button" pButton i18n-laber label="Guardar"  icon="ui-icon-save" class="green-btn" (click)="actualizarProducto()"></button>
				</div>
			</div>
		</form>
	</div>
</div>

<!--Cuadro de dialgo para mostrar las métricas-->
<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerListaMetrica()" (onRemove)="obtenerListaMetrica()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>
