<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
			    	<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
            <div class="ui-g form-group" *ngIf="!cargandoDatos">
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-10">
                        <h1 i18n>Calendarización del producto</h1>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div *ngIf="producto.indEstado != 'A'">
                        <!-- Disponibilidad/Efectividad-->
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <label for="ddEfectividad" i18n><strong>Calendarización:</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-7">
                                <p-dropdown [options]="efectividadItem" id="ddEfectividad" name="ddEfectividad" [(ngModel)]="producto.efectividadIndCalendarizado"
                                    autoWidth></p-dropdown>
                            </div>
                        </div>

                        <div *ngIf="producto.efectividadIndCalendarizado == 'C'">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <!-- Fecha de Inicio-->
                                <div class="ui-g-12 ui-md-3 ui-lg-2">
                                    <label for="txtFecInicio" i18n><strong>Fecha de inicio:</strong></label>
                                </div>
                                <div class="ui-g-12 ui-md-8 ui-lg-7">
                                    <p-calendar name="txtFecInicio" showAnim="slideDown" pTooltip="Fecha de inicio" tooltipPosition="top" [monthNavigator]="true"
                                        [(ngModel)]="fecInicio" [readonlyInput]="true" (onSelect)="producto.efectividadFechaInicio= fecInicio"></p-calendar>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <!-- Fecha de fin-->
                                <div class="ui-g-12 ui-md-3 ui-lg-2">
                                    <label for="txtFecFin" i18n><strong>Fecha de fin:</strong></label>
                                </div>
                                <div class="ui-g-12 ui-md-8 ui-lg-7">
                                    <p-calendar name="txtFecFin" showAnim="slideDown" pTooltip="Fecha de fin" [minDate]="fecInicio" [monthNavigator]="true" tooltipPosition="top"
                                        [(ngModel)]="fecFin" [readonlyInput]="true" (onSelect)="producto.efectividadFechaFin= fecFin"></p-calendar>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-g-12 ui-md-12">
                                    <p-checkbox [(ngModel)]="esRecurrente" binary="true" i18n-label label="Recurrente"></p-checkbox>
                                </div>
                            </div>
                            <div *ngIf="esRecurrente">
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <!--Repetición en la semana-->
                                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                                        <label for="ddRecurrenciaAño" i18n><strong>Semanas de recurrencia:</strong></label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8 ui-lg-7">
                                        <p-spinner size="30" id="txtVencimiento" name="txtVencimiento" [min]="0" [(ngModel)]="producto.indSemanaRecurrencia" tooltipPosition="top"></p-spinner>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <!--Cantidad de veces en las que se repite-->
                                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                                        <label for="txtFecFin" i18n><strong>Días de recurrencia:</strong></label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8 ui-lg-7">
                                        <p-multiSelect [options]="dias" i18n-defaultLabel defaultLabel="Días a escoger" id="ddRecurrenciaDias" name="ddRecurrenciaDias"
                                            [(ngModel)]="diasSelec"></p-multiSelect>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-8"></div>
                        <div class="ui-g-12 ui-md-2" *ngIf="escritura">
                            <!--Para agregar la ubicación, se activa hasta que el formproducto sea valido -->
                            <button pButton type="button" i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" (click)="actualizarProducto()"></button>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <div *ngIf="producto.indEstado == 'A'">
                            <div class="ui-g-12 ui-md-3 ui-lg-2">
                                <label i18n><strong>Efectividad:</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-7">
                                <label>{{producto.efectividadIndCalendarizado | calendarizacion}}</label>
                            </div>

                            <div *ngIf="producto.efectividadIndCalendarizado == 'C'">

                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <!-- Fecha de Inicio-->
                                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                                        <label i18n><strong>Fecha de inicio:</strong></label>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-7">
                                        <label>{{producto.efectividadFechaInicio | date}}</label>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">

                                    <!-- Fecha de fin-->
                                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                                        <label i18n><strong>Fecha de fin:</strong></label>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-7">
                                        <label>{{producto.efectividadFechaFin | date}}</label>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">

                                    <!--Repetición en la semana-->
                                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                                        <label i18n><strong>Semanas de recurrencia:</strong></label>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-7">
                                        <label>{{producto.efectividadIndSemana}}</label>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">

                                    <!--Cantidad de veces en las que se repite-->
                                    <div class="ui-g-12 ui-md-3 ui-lg-2">
                                        <label i18n><strong>Días de recurrencia:</strong></label>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-7">
                                        <label>{{diasSelec}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>