<div class="ui-g ui-fluid ">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Definición de elegibles para el producto</h2>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-5 ui-lg-3">
				<label for="ddpElegible" i18n><strong>Seleccione los elementos a mostar:</strong></label>
			</div>
			<!--Se muestra los elementos para los elegibles-->
			<div class="ui-g-12 ui-md-5 ui-lg-5">
				<p-dropdown [autoWidth]="false" [options]="itemsElegibles" id="ddpElegible" name="ddpElegible" [(ngModel)]="elegible" (onChange)="definicionElegibles()"></p-dropdown>
			</div>
		</div>
	</div>
	<div>
		<router-outlet></router-outlet>
	</div>
</div>