<div class="ui-g ui-fluid">
	<!--Se muestra este mensaje si no existen productos-->
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12 ui-lg-7 ui-md-7" *ngIf="!cargandoDatos">
		<!--Formulario para agregar la información del display del producto-->
		<form role="form" [formGroup]="formDisplay">
			<div class="ui-g form-group">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h2 i18n>Definición del arte</h2>
					<div class="ui-g-12 ui-md-12 ui-lg-12">

						<!--Encabezado-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtEncabezado" i18n><strong>Encabezado del arte</strong></label>
							</div>
							<div class="ui-g-12  ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtEncabezado" name="txtEncabezado" maxlength="150" required="true" [(ngModel)]="producto.encabezadoArte"
									formControlName="encabezado" pTooltip="Encabezado del arte" tooltipPosition="top">
							</div>
						</div>

						<!--Subencabezado-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtSubencabezado" i18n><strong>Subencabezado</strong></label>
							</div>
							<div class="ui-g-12  ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtSubencabezado" name="txtSubencabezado" maxlength="300" [(ngModel)]="producto.subencabezadoArte"
									formControlName="subEncabezado" pTooltip="Subencabezado" tooltipPosition="top">
							</div>
						</div>

						<!--Imagen-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-12">
								<img class="upload-spinner cp-round" src='{{avatar}}' alt="" *ngIf="avatar"/>
								<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
							</div>
							<div class="ui-g-12 ui-md-12">
								<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
								<label for="avatar" i18n>Seleccione un archivo</label>
							</div>
						</div>

						<!--Detalle del producto-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtDetalle" i18n><strong>Detalle</strong></label>
							</div>
							<div class="ui-g-12  ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtDetalle" name="txtDetalle" maxlength="500" required="true" [(ngModel)]="producto.detalleArte" formControlName="detalle"
									pTooltip="Detalle" tooltipPosition="top">
							</div>
						</div>
						<div class="ui-g-12 ui-md-8">
							<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
						</div>
						<div class="ui-g-12 ui-md-2" *ngIf="escritura && producto.indEstado !='A'">
							<!--Se activa hasta que el formulario de producto sea valido" -->
							<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" class="green-btn flat" [disabled]="!formDisplay.valid"
								(click)="actualizarProducto()"></button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="ui-g-12 ui-md-5 ui-lg-5" style="background: whitesmoke;" *ngIf="!cargandoDatos">
		<div class="ui-g-12 ui-md-12 ui-lg-12"></div>
		<div class="ui-g-12 ui-md-12 ui-lg-12"></div>
		<div class="ui-g-1 ui-md-1"></div>
		<div class="ui-g-12 ui-md-9 ui-g-nopad" style="margin: 20px 0 0 20px;">
			<div class="card card-w-title">
				<div style="margin-left: 5px;">
					<div class="ui-grid-row">
						<h2><strong>{{producto.encabezadoArte}}</strong></h2>
					</div>
					<div class="ui-grid-row">
						<label>{{producto.subencabezadoArte}}</label>
					</div>
					<div class="ui-grid-row">
						<img class="cp-art cp-round" src='{{avatar}}' *ngIf="avatar" />
					</div>
					<div class="ui-grid-row">
						<div class="clearfix"></div>
						<label>{{producto.detalleArte}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
