<div class="ui-g-12" *ngIf="displayInsertar==false">
    <p-dataTable [value]="listaMiembros" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
        <p-header i18n>Lista de miembros a <span *ngIf="indIncluir=='I'" >Incluir</span><span  *ngIf="indIncluir=='E'" >Excluir</span></p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre">
            <ng-template let-miembro="rowData" pTemplate="body">
                <span>{{miembro.nombre}} {{miembro.apellido}}</span>
            </ng-template>
        </p-column>
        <p-column field="docIdentificacion" i18n-header header="ID"></p-column>
        <p-column field="correo" i18n-header header="Usuario/Correo">
            <ng-template let-miembro="rowData" pTemplate="body">
                <span>{{miembro.correo}}</span>
            </ng-template>
        </p-column>
        <p-column  styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <button type="button" pButton icon="ui-icon-delete" i18n-label label="Seleccionados" (click)="eliminarListaMiembro()"></button>
            </ng-template>
            <ng-template let-miembro="rowData" pTemplate="body">
                <button type="button" pButton icon="ui-icon-delete" (click)="eliminarMiembroListas(miembro)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div class="ui-g-12" *ngIf="displayInsertar==true">
    <p-dataTable [value]="listaMiembrosDisponibles" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
        <p-header i18n>Lista de clientes disponibles</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre">
            <ng-template let-miembro="rowData" pTemplate="body">
                <span>{{miembro.nombre}} {{miembro.apellido}}</span>
            </ng-template>
        </p-column>
        <p-column field="docIdentificacion" i18n-header header="ID"></p-column>
        <p-column field="correo" i18n-header header="Usuario/Correo">
            <ng-template let-miembro="rowData" pTemplate="body">
                <span>{{miembro.correo}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <div *ngIf="indIncluir=='I'">
                    <button type="button" pButton icon="ui-icon-add" i18n-label label="Seleccionados" (click)=" incluirListaMiembros()"></button>
                </div>
                <div *ngIf="indIncluir=='E'">
                    <button type="button" pButton icon="ui-icon-clear" i18n-label label="Seleccionados" (click)=" excluirListaMiembros()"></button>
                </div>
            </ng-template>
            <ng-template let-miembro="rowData" pTemplate="body">
                <div *ngIf="indIncluir=='I'">
                    <button icon="ui-icon-add" pButton (click)="incluirMiembro(miembro)"></button>
                </div>
                <div *ngIf="indIncluir=='E'">
                    <button icon="ui-icon-add" pButton (click)="excluirMiembro(miembro)"></button>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>