<div class="ui-fluid">
	<div class="ui-g-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12">
					<div class="heading-detalle">
						<ng-container i18n>Configuración del Sistema</ng-container>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" [routerLink]="general" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2" *ngIf="permisoConfig">
						<button pButton type="button" icon="ui-icon-group" i18n-label label="Políticas" [routerLink]="politica" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2" *ngIf="permisoConfig">
						<button pButton type="button" icon="ui-icon-create" i18n-label label="Medios de pago" [routerLink]="medio" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2" *ngIf="permisoConfig">
						<button pButton type="button" icon="ui-icon-poll" i18n-label label="Parámetros" [routerLink]="params" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2" *ngIf="permisoConfig">
						<button pButton type="button" icon="ui-icon-poll" i18n-label label="Evertec" [routerLink]="evertec" [routerLinkActive]="['ruta-activada']"></button>
					</div>
				</div>
			</div>
		</div>	
		<div class="card card-w-title">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
