<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
        <div class="ui-g-5 ui-md-5"></div>
        <div class="ui-g-2 ui-md-2">
            <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
        </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-10 ui-lg-10">
                    <h2 class="heading-detalle" i18n>Medios de pago</h2>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="permisoConfig">
                    <button pButton type="button" class="gree-btn flat" i18n-label label="Agregar" (click)="nuevo=true" icon="ui-icon-add"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div *ngIf="listaVacia">
                    <label i18n>No existen medios de pago en el sistema.</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <!--Tabla con la lista de pago-->
                <p-dataList [value]="listaMedios" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"
                    *ngIf="!listaVacia">
                    <p-header i18n>
                        Lista
                    </p-header>
                    <ng-template let-medio pTemplate="item">
                        <div class="clearfix" style="border-bottom: 1px solid #bdbdbd">
                            <div class="ui-g-1 ui-md-1 ui-lg-1"></div>
                            <div class="ui-g-2 ui-md-2 ui-lg-2">
                                <img class="cp-list cp-round" width="60" height="60" src="{{medio.imagen}}">
                            </div>
                            <div class="ui-g-3 ui-md-3 ui-lg-3">
                                <p i18n><strong>Nombre: </strong></p>
                                <p>{{medio.nombre}}</p>
                            </div>
                            <button type="button" (click)="confirmar(medio.idTipo)" pButton icon="ui-icon-delete"  style="margin:14px 24px 0 0;float:right" *ngIf="permisoConfig"></button>
                        </div>
                    </ng-template>
                </p-dataList>
            </div>
        </div>
</div>

<!--Cuadro de dialog para ingresar un nuevo medio de pago-->
<p-dialog i18n-header header="Nuevo medio de pago" [(visible)]="nuevo" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g-12 ui-md-12">
		<form role="form" [formGroup]="formPagos">
			<div class="ui-g form-group">
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-2">
						<label i18n><strong>Nombre</strong></label>
					</div>
					<div class="ui-g-12 ui-md-10">
						<input id="txtNombre" name="txtNombre" type="text" pInputText [(ngModel)]="medioPago.nombre" formControlName="nombre" pTooltip="Nombre del grupo"
							maxlength="100" tooltipPosition="top" />
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-12">
						<img class="upload-spinner cp-round" src='{{imagenMedio}}' alt="" weight="100" height="100" />
                        <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>	
					</div>
					<div class="ui-g-12 ui-md-12">
						<input class="upload" id="imagenMedio" name="imagenMedio" type="file" (change)="subirImagen()"
							accept="image/jpg,image/jpeg,image/png">
						<label for="imagenMedio" i18n>Seleccione un archivo</label>
					</div>
				</div>
			</div>
		</form>
	</div>
    <p-footer>
        <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen"/>
        <button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="nuevo=false"></button>
        <button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="insertarFormaPago()" *ngIf="!subiendoImagen" [disabled]="!formPagos.valid"></button>
    </p-footer>
</p-dialog>

<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="eliminarFormasPago()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>