<div class="ui-fluid">
    <div class="ui-g">
        <!--Se muestra este mensaje si no existen productos-->
        <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
            <div class="ui-g-5 ui-md-5"></div>
            <div class="ui-g-2 ui-md-2">
                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
            </div>
        </div>
    </div>
    <!--Formulario que muestra la configuración del email en el sistema-->
    <div *ngIf="!cargandoDatos">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <h2 class="heading-detalle" i18n>Parámetros evertec del sistema</h2>
                </div>
                <!--Porcentaje-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtPorcentaje" i18n><strong>Número de la secuencia xFpSecuencia</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtPorcentaje" name="txtPorcentaje" [(ngModel)]="configuracion.xFpSecuencia">
                    </div>
                </div>

                <!--Bono de puntos por registro en el programa-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtBono" i18n><strong>invoiceSeq</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtBono" name="txtBono" [(ngModel)]="configuracion.invoiceSeq">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>idProvider</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="txtidProvider" name="txtidProvider" maxlength="20" [(ngModel)]="configuracion.idProvider"
                            pTooltip="id Provider" tooltipPosition="top">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>keyEvertec</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="txtkeyEvertec" name="txtkeyEvertec" maxlength="100" [(ngModel)]="configuracion.keyEvertec"
                            pTooltip="key Evertec" tooltipPosition="top">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>ivEvertec</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="txtivEvertec" name="txtivEvertec" maxlength="100" [(ngModel)]="configuracion.ivEvertec"
                            pTooltip="iv Evertec" tooltipPosition="top">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>currencyCod</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="currencyCodEver" name="txtDesde" maxlength="3" [(ngModel)]="configuracion.currencyCod"
                            pTooltip="currency Cod" tooltipPosition="top">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>usuarioEver</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="userEver" name="txtDesde" maxlength="30" [(ngModel)]="configuracion.usuarioEver"
                            pTooltip="usuario Ever" tooltipPosition="top">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>passwordEver</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="password" pInputText id="passEver" name="txtDesde" maxlength="30" [(ngModel)]="configuracion.passwordEver"
                            pTooltip="password Ever" tooltipPosition="top">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-7 <ui-lg-7></ui-lg-7>">
                    <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
                </div>
                <!--Botones con las acciones para editar la info del sistema-->
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button *ngIf="escritura" pButton type="button" i18n-label label="Guardar" class="green-btn flat" (click)="actualizarConfiguracion()"
                        icon="ui-icon-edit"></button>
                </div>
            </div>
        </div>
    </div>
</div>