<div class="ui-fluid">
    <div class="ui-g">
        <!--Se muestra este mensaje si no existen productos-->
        <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
            <div class="ui-g-5 ui-md-5"></div>
            <div class="ui-g-2 ui-md-2">
                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
            </div>
        </div>
    </div>
    <!--Formulario que muestra la configuración del email en el sistema-->
    <div *ngIf="!cargandoDatos">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <h2 class="heading-detalle" i18n>Parámetros generales del sistema</h2>
                </div>
                <!--Porcentaje-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtPorcentaje" i18n><strong>Porcentaje que obtendrá por cada compra:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtPorcentaje" name="txtPorcentaje" [(ngModel)]="configuracion.porcentajeCompra">
                    </div>
                </div>

                <!--Bono de puntos por registro en el programa-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtBono" i18n><strong>Bono de puntos por registrarse en el sistema:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtBono" name="txtBono" [(ngModel)]="configuracion.bonoEntrada">
                    </div>
                </div>

                <!--Bono de puntos por referencia-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtBonoRefer" i18n><strong>Bono de puntos por referencias:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtBonoRefer" name="txtBonoRefer" [(ngModel)]="configuracion.bonoReferencia">
                    </div>
                </div>

                <!--Métrica inicial del sistema-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="dropMetricas" i18n><strong>Métrica inicial del sistema:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-5" *ngIf="lecturaMetrica">
                        <div class="ui-g-12 ui-md-9 ui-lg-7" style="padding-right: 10px;">
                            <input type="text" pInputText id="nameMetricaInicial" name="nameMetricaInicial"
                            [(ngModel)]="nombreMetricaInicial" style="width:100%" readonly/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
                            <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetricaInicial=true; obtenerListaMetrica()"></button>
                        </div>
                        <!--<p-dropdown [options]="metricaItems" id="dropMetricas" name="dropMetricas" [(ngModel)]="configuracion.idMetricaInicial" autoWidth></p-dropdown>-->
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-5" *ngIf="!lecturaMetrica">
                        <ng-container *ngIf="configuracion.idMetricaInicial != null"><strong>{{configuracion.idMetricaInicial.nombre}}</strong></ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-1 ui-lg-1">
					    <button pButton type="button" icon="ui-icon-help" (click)="info=true"></button>
					</div>
                </div>

                <!--Métrica secundaria del sistema-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="dropMetricas" i18n><strong>Métrica secundaria del sistema:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-5" *ngIf="lecturaMetrica">
                        <div class="ui-g-12 ui-md-9 ui-lg-7" style="padding-right: 10px;">
                            <input type="text" pInputText id="nameMetricaSecundaria" name="nameMetricaSecundaria"
                            [(ngModel)]="nombreMetricaSecundaria" style="width:100%" readonly/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
                            <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetricaSecundaria=true; obtenerListaMetrica()"></button>
                        </div>
                        <!--<p-dropdown [options]="metricaItems" id="dropMetricas" name="dropMetricas" [(ngModel)]="configuracion.idMetricaInicial" autoWidth></p-dropdown>-->
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-5" *ngIf="!lecturaMetrica">
                        <ng-container *ngIf="configuracion.idMetricaSecundaria !== null"><strong>{{configuracion.idMetricaSecundaria.nombre}}</strong></ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-1 ui-lg-1">
					    <button pButton type="button" icon="ui-icon-help" (click)="info=true"></button>
					</div>
                </div>

                <!--Período-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtPeriodo" i18n><strong>Período:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtPeriodo" name="txtPeriodo" [(ngModel)]="configuracion.periodo">
                    </div>
                </div>

                <!--Mes-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtMes" i18n><strong>Mes:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtMes" name="txtMes" [(ngModel)]="configuracion.mes">
                    </div>
                </div>

                <!--Dias de entrega-->
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-5 ui-lg-3">
                        <label for="txtEntrega" i18n><strong>Días hábiles para entrega de pedido:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="number" pInputText id="txtEntrega" name="txtEntrega" [(ngModel)]="configuracion.cantDiasEntregaPedido">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-7 <ui-lg-7></ui-lg-7>">
                    <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
                </div>
                <!--Botones con las acciones para editar la info del sistema-->
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button *ngIf="escritura" pButton type="button" i18n-label label="Guardar" class="green-btn flat" (click)="actualizarConfiguracion()"
                        icon="ui-icon-edit"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetricaInicial" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerListaMetrica()" (onRemove)="obtenerListaMetrica()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetricaInicial($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetricaInicial(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetricaSecundaria" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerListaMetrica()" (onRemove)="obtenerListaMetrica()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetricaSecundaria($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetricaSecundaria(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>

<p-dialog i18n-header header="Información" [(visible)]="info" [modal]="true">
     <div class="ui-g-12 ui-md-12 ui-lg-12">
         <h2 i18n>Métrica principal</h2>
        <p i18n> El cambio de métrica principal puede afectar la definición de las tablas de posiciones. <br>
            Solo es posible si la métrica seleccionada no está relacioanda con más de una tabla tipo miembro.<br>
        </p>
     </div>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="info=false" i18n-label label="Cerrar"></button>
    </p-footer>
</p-dialog>
