<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
            <div class="ui-g-5 ui-md-5"></div>
            <div class="ui-g-2 ui-md-2"> <img class="loading-gif-centered" src="/resources/img/loading_icon.gif"> </div>
        </div>
    </div>
    <div class="ui-g" *ngIf="!cargandoDatos">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <h2 class="heading-detalle" i18n>Políticas de seguridad, términos y condiciones</h2>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo == ''">
                    <ng-container i18n>Ningún archivo seleccionado</ng-container>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo != ''">
                    <ng-container>{{nombreArchivo}}</ng-container>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="escritura">
                    <input class="upload" id="politicas" name="politicas" type="file" (change)="subirImagen()" accept="image/*">
                    <label for="politicas" i18n>Seleccione un archivo</label>
                </div>
            </div>
            <div class="ui-g-12 ui-md-8 ui-lg-8"></div>
            <div class="ui-g-12 ui-md-2 ui-lg-2">
                <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoDatos">
                <button pButton type="button" class="green-btn flat" icon="ui-icon-edit" (click)="actualizarConfiguracion()" i18n-label label="Guardar"
                    *ngIf="escritura && !subiendoDatos"></button>
            </div>
        </div>
    </div>
</div>