<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
        <div class="ui-g-5 ui-md-5"></div>
        <div class="ui-g-2 ui-md-2">
            <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
        </div>
    </div>
    <form role="form" [formGroup]="formGeneral" *ngIf="!cargandoDatos">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12 input-spacing"> <h2 i18n>Detalle Configuración del sistema</h2> </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 input-spacing">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <img class="cp spinner cp-round" src='{{logo}}' alt="" weight="170" height="170" />
                            <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                        </div>
                        <div class="ui-g-12 ui-md-12" *ngIf="permisoConfig">
                            <input class="upload" id="logo" name="logo" type="file" (change)="subirImagen()" formControlName="logo" accept="image/jpg,image/jpeg,image/png">
                            <label for="logo" i18n>Seleccione un archivo...</label>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtNombre" i18n><strong>Nombre de la empresa:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="configuracion.nombreEmpresa" formControlName="nombre"
                            pTooltip="Nombre de la empresa" tooltipPosition="top">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtNombre" i18n><strong>Sitio web de la empresa:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="txtSitio" name="txtSitio" maxlength="300" [(ngModel)]="configuracion.sitioWeb" formControlName="sitioWeb"
                            pTooltip="Sitio Web" tooltipPosition="top">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label for="txtDesde" i18n><strong>Email de envio:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6">
                        <input type="text" pInputText id="txtDesde" name="txtDesde" maxlength="100" [(ngModel)]="configuracion.msjEmailDesde" formControlName="emailDesde"
                            pTooltip="Email desde" tooltipPosition="top">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-8 ui-lg-8" *ngIf="lecturaUbics && permisoConfig">
                        <!--se utiliza el componente selección de ubicaciones-->
                        <seleccion-ubicaciones [(ngModel)]="ubicacionTemp" name="idLocation" formControlName="ubicacion"> </seleccion-ubicaciones>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="!lecturaUbics">
                        <ng-container *ngIf="ubicacionTemp != null"><strong>{{ubicacionTemp.nombre}}</strong></ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="!permisoConfig">
                        <ng-container *ngIf="ubicacionTemp != null"><strong>{{ubicacionTemp.nombre}}</strong></ng-container>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-lg-2">
                        <label i18n><strong>Integración de inventario:</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <p-checkbox binary="true" name="integracion" i18n-label label="Si" [(ngModel)]="configuracion.integracionInventarioPremio"
                            formControlName="integracion"></p-checkbox>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-7 ui-lg-7"></div>
            <div class="ui-g-12 ui-md-2">
                <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoDatos" />
                <button *ngIf="permisoConfig && !subiendoDatos" pButton type="button" i18n-label label="Guardar" class="green-btn" [disabled]="!formGeneral.valid"
                    (click)="dialogUbicacion = true" icon="ui-icon-edit"></button>
            </div>
        </div>
    </form>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="dialogUbicacion" [responsive]="true" height="500px" [resizable]="true"  showEffect="fade" [modal]="true">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <h2 i18n>Ubicación central</h2>
        <p i18n> El cambio de ubicación central puede generar inconsistencia en los datos registrados. <br>
            Esta acción es irreversible y afectara registros de premios e inventarios.<br>
        </p>
        <h4 i18n><strong>¿Esta seguro de continuar con el cambio?</strong></h4>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="dialogUbicacion = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Cambiar ubicación" (click)="ubicacionSeleccionada()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>