<div class="ui-fluid">
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-10 ui-lg-10 heading-detalle">
                    <ng-container i18n>Trabajos Internos</ng-container>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-12 fade-in">
                <div class="ui-g-12 ui-md-6 ui-lg-6" style="background: whitesmoke;border: 1px solid white;">
                    <div class="ui-g-12 ui-md-12 ui-lg-2">
                        <ng-container i18n><strong>Estado:</strong></ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <p-checkbox name="group1" value="P" i18n-label label="Procesando" [(ngModel)]="estado" (onChange)="obtenerTrabajos()" ></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <p-checkbox name="group1" value="C" i18n-label label="Completando" [(ngModel)]="estado" (onChange)="obtenerTrabajos()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <p-checkbox name="group1" value="F" i18n-label label="Fallido" [(ngModel)]="estado" (onChange)="obtenerTrabajos()"></p-checkbox>
                    </div>
                </div>      
                <div class="ui-g-12 ui-md-6 ui-lg-6" style="background: whitesmoke;border: 1px solid white;">
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                        <ng-container i18n><strong>Tipo:</strong></ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <p-checkbox name="group2" value="N" i18n-label label="Notificación" [(ngModel)]="tipo" (onChange)="obtenerTrabajos()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <p-checkbox name="group2" value="E" i18n-label label="Exportar" [(ngModel)]="tipo" (onChange)="obtenerTrabajos()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-2 ">
                        <p-checkbox name="group2" value="I" i18n-label label="Importar" [(ngModel)]="tipo" (onChange)="obtenerTrabajos()"></p-checkbox>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2"><img class="loading-gif-centered" src="/resources/img/loading_icon.gif"></div>
			</div>
		</div>
        <div class="ui-grid-12" *ngIf="!cargandoDatos && permisoConfig">
            <div class="ui-g">
                <div *ngIf="listaVacia" class="ui-g-12 ui-md-12">
                    <label i18n>No se encontró ningún trabajo.</label>
                </div>
                <div class="ui-g-12 ui-md-12" >
                    <p-dataTable [value]="listaTrabajos" [paginator]="true" [rows]="12" [responsive]="true"
                        [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowHover]="true" [styleClass]="gridList">
                        <p-header i18n>Lista</p-header>
                        <p-column i18n-header header="Fecha creacion">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span>{{trabajo.fechaCreacion | date}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Fecha actualización">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span>{{trabajo.fechaActualizacion | date}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="#Trabajo">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span>{{trabajo.idTrabajo}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Tipo de trabajo">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span>{{trabajo.indTipo | tipoTrabajo}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Estado del trabajo">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span>{{trabajo.indEstado | estadoTrabajo}}</span>
                            </ng-template>
                        </p-column>
                         <p-column i18n-header header="Porcentaje">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span>{{trabajo.porcentajeCompletado}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header header="Resultado">
                            <ng-template let-trabajo="rowData" pTemplate="body">
                                <span *ngIf="trabajo.indTipo != 'E'">{{trabajo.resultado}}</span>
                                <span *ngIf="trabajo.indTipo == 'E'">
                                    <a href="{{trabajo.resultado}}" target="_blank" download>{{trabajo.resultado}}</a></span>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
        <div class="ui-g-12" *ngIf="!cargandoDatos && !permisoConfig">
			<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
                    <ng-container i18n>No cuenta con los permisos necesarios para acceder a los trabajos internos.</ng-container>
                </div>
			</div>
		</div>
    </div>
</div>

