<form form="ngForm" novalidate>
    <div class="form-group has-feedback" [ngClass]="{'has-success': !id.pristine&&id.valid, 'has-error': !id.pristine&&!id.valid}">
        <label for="txtName" i18n> ID:</label>
        <input type="text" name="id" class="form-control" id="txtID" [(ngModel)]="miembro.docIdentificacion" #id="ngModel" required>
        <span id="nameHLP" *ngIf="!id.pristine&&!id.valid" class="help-block" i18n>ID is not valid</span>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-success': !lastName.pristine&&lastName.valid, 'has-error': !lastName.pristine&&!lastName.valid}">
        <label for="txtLastName" i18n>Last Name:</label>
        <input type="text" name="apellido" class="form-control" id="txtLastName" [(ngModel)]="miembro.apellido" #lastName="ngModel"
            required>
        <span id="lastNameHLP" *ngIf="!lastName.pristine&&!lastName.valid" class="help-block" i18n>Last Name is required</span>
    </div>
    

    <!--<div class="form-group has-feedback" [ngClass]="{'has-success': !fnac.pristine&&fnac.valid, 'has-error': !fnac.pristine&&!fnac.valid}">
        <label for="txtfnac">Birth Date:</label>
        <input name="fnac" class="form-control datepicker" id="fnac" [(ngModel)]="miembro.fechaNacimiento" #fnac="ngModel" required>
        <span id="fnacHLP" *ngIf="!fnac.pristine&&!fnac.valid" class="help-block">Birth Date is invalid</span>
    </div>-->
    <div class="form-group has-feedback">
        <label for="fnac" i18n>Birth Date:</label>
        <datepicker name="fnac" class="form-control" id="fnac" [(ngModel)]="miembro.fechaNacimiento" #fnac="ngModel"></datepicker>
        <!--<ng2-datepicker class="form-control" [options]="options" id="fnac" name="fnac" #fnac="ngModel" [(ngModel)]="miembro.fechaNacimiento"></ng2-datepicker>-->
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-success': !tel.pristine&&tel.valid, 'has-error': !tel.pristine&&!tel.valid}">
        <label for="txtName" i18n>Phone:</label>
        <input type="text" name="tel" class="form-control" id="txtID" [(ngModel)]="miembro.telefonoMovil" #tel="ngModel" required>
        <span id="telHLP" *ngIf="!tel.pristine&&!id.valid" class="help-block" i18n>ID is not valid</span>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-success': !cState.pristine&&cState.valid, 'has-error': !cState.pristine&&!cState.valid}">
        <label for="txtName" i18n>Civil status:</label>
        <select id="eCivil" class="form-control" [(ngModel)]="miembro.indEstadoCivil" name="cState" #cState="ngModel">
        <option value="null" i18n>Please select one</option>
        <option value="S" i18n>Single</option>
        <option value="C" i18n>Married</option>
        <option value="N" i18n>None</option>
    </select>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-success': !cGender.pristine&&cGender.valid, 'has-error': !cGender.pristine&&!cGender.valid}">
        <label for="txtName" i18n>Gender:</label>
        <select id="cGender" class="form-control" [(ngModel)]="miembro.indGenero" name="cGender" #cGender="ngModel">
        <option value="null" i18n>Please select one</option>
        <option value="M" i18n>Male</option>
        <option value="F" i18n>Female</option>
    </select>
    </div>

    <div class="form-group has-feedback" [ngClass]="{'has-success': !cName.pristine&&cName.valid, 'has-error': !cName.pristine&&!cName.valid}">
        <label for="txtName" i18n>Education:</label>
        <select id="cName" class="form-control" [(ngModel)]="miembro.indEducacion" name="cName" #cName="ngModel">
        <option value="null" i18n>Please select one</option>
        <option value="P" i18n>Elementary school</option>
        <option value="S" i18n>High school</option>
        <option value="T" i18n>College</option>
        <option value="U" i18n>University</option>
    </select>
    </div>


    <div class="form-group has-feedback" [ngClass]="{'has-success': !address.pristine&&address.valid, 'has-error': !address.pristine&&!address.valid}">
        <label for="txtLastName" i18n>Address:</label>
        <input type="text" name="address" class="form-control" id="txtAddress" [(ngModel)]="miembro.direccion" #address="ngModel"
            required>
        <span id="txtAddresslHLP" *ngIf="!address.pristine&&!address.valid" class="help-block" i18n>Address is invalid</span>
    </div>
    <button type="submit" class="btn btn-success pull-right" (click)="updateUser()" i18n>Update</button>
</form>