<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 form-padding">
    <h3 class="heading-form" i18n>My profile</h3>
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{'active':indEdicionActual=='A'}"><a (click)="indEdicionActual='A'" i18n>Main</a></li>
      <li role="presentation" [ngClass]="{'active':indEdicionActual=='B'}"><a (click)="indEdicionActual='B'" i18n>Additional</a></li>
      <li role="presentation" [ngClass]="{'active':indEdicionActual=='C'}"><a (click)="indEdicionActual='C'" i18n>Settings</a></li>
    </ul>
    <profile-main *ngIf="indEdicionActual=='A'"></profile-main>
    <profile-additional *ngIf="indEdicionActual=='B'"></profile-additional>
    <profile-settings *ngIf="indEdicionActual=='C'"></profile-settings>
  </div>
</div>