<form form="ngForm" novalidate>
    <div class="form-group has-feedback">
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="miembro.indContactoEmail" name="indContactoEmail" #indContactoEmail="ngModel" i18n> I want to recieve push notifications on my mobile phone </label>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="miembro.indContactoSms" name="indContactoSms" #indContactoSms="ngModel" i18n> I want to recieve emails </label>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="miembro.indContactoNotificacion" name="indContactoNotificacion" #indContactoNotificacion="ngModel" i18n> I want to recieve sms with news and offers </label>
        </div>
      </div>
      <button type="submit" class="btn btn-success pull-right" (click)="updateUser()">Update</button>
    
</form>