 <form form="ngForm" >
      <div class="form-group">
        <button type="button" class="btn btn-warning pull-right" (click)="resetPassword()" i18n> <i class="fa fa-key" aria-hidden="true"></i> Reset Password</button>
      </div>
      <div class="form-group" *ngIf="file_src">
        <img id='img-upload' class="form-img" [src]="file_src" />
      </div>
      <div class="form-group">
        <label for="imgInp" i18n>Avatar:</label>
        <!--<img id='img-upload' class="form-img" [src]="file_src" />-->
        <div class="input-group">
          <span class="input-group-btn">
              <span  i18n class="btn btn-default btn-file">
                  Browse… <input #input type="file" id="imgInp"  (change)="fileChange(input)">
              </span>
          </span>
          <input type="text" class="form-control" [value]="this.file?.name" readonly>
        </div>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !name.pristine&&name.valid, 'has-error': !name.pristine&&!name.valid}">
        <label for="txtName" i18n>Name:</label>
        <input type="text" name="nombre" class="form-control" id="txtName" [(ngModel)]="miembro.nombre" #name="ngModel" required>
        <span id="nameHLP" *ngIf="!name.pristine&&!name.valid" class="help-block" i18n>Name is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !lastName.pristine&&lastName.valid, 'has-error': !lastName.pristine&&!lastName.valid}">
        <label for="txtLastName" i18n>Last Name:</label>
        <input type="text" name="apellido" class="form-control" id="txtLastName" [(ngModel)]="miembro.apellido" #lastName="ngModel"
          required>
        <span id="lastNameHLP" *ngIf="!lastName.pristine&&!lastName.valid" class="help-block" i18n>Last Name is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !email.pristine&&email.valid, 'has-error': !email.pristine&&!email.valid}">
        <label for="txtLastName" i18n>Email:</label>
        <input type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" name="email" class="form-control" id="txtEmail" [(ngModel)]="miembro.correo"
          #email="ngModel" required>
        <span id="emailHLP" *ngIf="!email.pristine&&!email.valid" class="help-block" i18n>Email is invalid</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !uname.pristine&&uname.valid, 'has-error': !uname.pristine&&!uname.valid}">
        <label for="uname" i18n>Username:</label>
        <input type="text" name="username" class="form-control" id="txtUName" [ngModel]="miembro.nombreUsuario" #uname="ngModel"
          disabled readonly i18n>
        <!--<span id="unameHLP" *ngIf="!uname.pristine&&!uname.valid" class="help-block">Username is required</span>-->
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !zip.pristine&&zip.valid, 'has-error': !zip.pristine&&!zip.valid}">
        <label for="txtZipCode" i18n>ZIP Code:</label>
        <input type="number" name="zip" class="form-control" id="txtZipCode" [(ngModel)]="miembro.codigoPostal" #zip="ngModel" required>
        <span id="txtZipCodeHLP" *ngIf="!zip.pristine&&!zip.valid" class="help-block" i18n>ZIP Code is required</span>
      </div>

      <div class="form-group has-feedback" [ngClass]="{'has-success': !address.pristine&&address.valid, 'has-error': !address.pristine&&!address.valid}">
        <label for="txtLastName" i18n>Address:</label>
        <input type="text" name="address" class="form-control" id="txtAddress" [(ngModel)]="miembro.direccion" #address="ngModel"
          required>
        <span id="txtAddresslHLP" *ngIf="!address.pristine&&!address.valid" class="help-block" i18n>Address is invalid</span>
      </div>

      <!--<div class="form-group has-feedback" [ngClass]="{'has-success': !pwd.pristine&&pwd.valid, 'has-error': !pwd.pristine&&!pwd.valid}">
        <label for="txtpwd">Password:</label>
        <input type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" name="pwd" class="form-control"
          id="txtpwd" [(ngModel)]="miembro.contrasena" #pwd="ngModel" required>
        <span id="txtpwdlHLP" *ngIf="!pwd.pristine&&!pwd.valid" class="help-block">Password is invalid</span>
        <p id="passwordHelpBlock" class="form-text text-muted">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters,
          or emoji.
        </p>
      </div>-->

      <button type="submit" class="btn btn-success pull-right" (click)="updateUser()" i18n>Update</button>
    </form>