<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-10">
            <h1 i18n>Beacons</h1>
        </div>
        <div class="ui-g-12 ui-md-8 ui-lg-8">
            <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="this.listaBeacons=null;buscarBeacons()"
                (onRemove)="this.listaBeacons=null;buscarBeacons()"></p-chips>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton i18n-label label="Buscar" icon="ui-icon-search" (click)="buscarBeacons()"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton type="button" i18n-label label="Agregar" icon="ui-icon-add" class="green-btn" (click)="displayModalInsertar=true"></button>
        </div>
        <div class="ui-g-12 ui-lg-12" *ngIf="listaBeacons&&listaBeacons.length<=0">
            <p-messages [value]="[{severity:'info', summary:'', detail:'No hay beacons disponibles'}]"></p-messages>
        </div>
        <div class="ui-g-12" *ngIf="!listaBeacons">
            <div class="ui-g-5"></div>
            <div class="ui-g-2">
                <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
            </div>
            <div class="ui-g-5"></div>
        </div>
        <p-dataList class="ui-g-12 ui-lg-12" [value]="listaBeacons"  [paginator]="true" *ngIf="listaBeacons&&listaBeacons.length>0"
            [rows]="10" [totalRecords]="listaBeacons.length">
            <p-header i18n> Listado de beacons </p-header>
            <ng-template let-bcn pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>UUID:</strong> </div>
                                    <div class="ui-grid-col-8">{{bcn.UUID}}</div>
                                </div>
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                    <div class="ui-grid-col-8">{{bcn.nombre}}</div>
                                </div>
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Minor: </strong></div>
                                    <div class="ui-grid-col-8">{{bcn.minor}}</div>
                                </div>
                                <div class="ui-grid-row input-spacing">
                                    <div class="ui-grid-col-4"><strong i18n>Major:</strong> </div>
                                    <div class="ui-grid-col-8">{{bcn.major }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-1">
                            <div class="ui-grid-row">
                                <button type="button" pButton icon="ui-icon-edit" (click)="beacon=bcn;displayModalEditar=true" style="margin-right: 25px;"></button>
                                <button type="button" pButton icon="ui-icon-delete" (click)="eliminarBeacon(bcn)" ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
</div>

<p-dialog [(visible)]="displayModalInsertar" [modal]="true">
    <p-header>
        Insertar Beacon
    </p-header>
            <div class="ui-g-12 ui-md-10">
        <form role="form" #form="ngForm">
            <!-- Código interno -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>UUID:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="text" pInputText id="txtCodigo" name="txtCodigo" [(ngModel)]="beacon.UUID" name="codigo"
                        pTooltip="Código interno" tooltipPosition="top">
                </div>
            </div>

            <!-- Nombre -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>Nombre:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="150"  [(ngModel)]="beacon.nombre"
                        name="nombre" pTooltip="Nombre de la ubicación" tooltipPosition="top">
                </div>
            </div>

           <!-- Nombre de despliegue -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>Major:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="number" min="0" max="65535" pInputText id="txtDespliegue" name="txtDespliegue" [(ngModel)]="beacon.major"
                        name="nombreDespliegue" pTooltip="Nombre de despliegue" tooltipPosition="top">
                </div>
            </div>
             <!-- Nombre de despliegue -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>Minor:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="number" min="0" max="65535" pInputText id="txtDespliegue" name="txtDespliegue" [(ngModel)]="beacon.minor"
                        name="nombreDespliegue" pTooltip="Nombre de despliegue" tooltipPosition="top">
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Insertar" icon="ui-icon-add" class="green-btn" style="margin-right: 25px;" (click)="insertarBeacon(beacon)"></button>
        <button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" class="green-btn" (click)="displayModalInsertar=false"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayModalEditar" [modal]="true">
    <p-header>
        Editar Beacon
    </p-header>
        <div class="ui-g-12 ui-md-10">
        <form role="form" #form="ngForm">
            <!-- Código interno -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>UUID:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="text" pInputText id="txtCodigo" name="txtCodigo" [(ngModel)]="beacon.UUID" name="codigo"
                        pTooltip="Código interno" tooltipPosition="top">
                </div>
            </div>
            <!-- Nombre -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>Nombre:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="text" pInputText id="txtNombre" name="txtNombre" [(ngModel)]="beacon.nombre"
                        name="nombre" pTooltip="Nombre de la ubicación" tooltipPosition="top">
                </div>
            </div>

            <!-- Nombre de despliegue -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>Major:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="number" min="0" max="65535" pInputText id="txtDespliegue" name="txtDespliegue" [(ngModel)]="beacon.major"
                        name="nombreDespliegue" pTooltip="Nombre de despliegue" tooltipPosition="top">
                </div>
            </div>
             <!-- Nombre de despliegue -->
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-3">
                    <label i18n><strong>Minor:</strong></label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input type="number" min="0" max="65535" pInputText id="txtDespliegue" name="txtDespliegue" [(ngModel)]="beacon.minor"
                        name="nombreDespliegue" pTooltip="Nombre de despliegue" tooltipPosition="top">
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Modificar" icon="ui-icon-edit" class="green-btn" (click)="displayModalEditar=false"></button>
        <button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-add" class="green-btn" (click)="displayModalEditar=false"></button>
    </p-footer>
</p-dialog>