<div class="ui-g-12" *ngIf="displayInsertar==false">
    <p-dataTable [value]="listaUbicaciones" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
        <p-header i18n>Lista de ubicaciones </p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
        <p-column field="direccion" i18n-header header="Dirección"></p-column>
        <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <button type="button" pButton icon="ui-icon-clear" i18n-label label="Seleccionados" (click)="eliminarListaUbicacionListas()"></button>
            </ng-template>
            <ng-template let-ubicacion="rowData" pTemplate="body">
                <button icon="ui-icon-clear" pButton (click)="eliminarUbicacionListas(ubicacion)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div class="ui-g-12" *ngIf="displayInsertar==true">
    <p-dataTable [value]="listaUbicacionesDisponibles" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
        <p-header i18n>Lista de clientes disponibles</p-header>
        <p-column selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
        <p-column field="direccion" i18n-header header="Dirección"></p-column>
        <p-column styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <div *ngIf="indIncluir=='I'">
                    <button type="button" pButton icon="ui-icon-add" i18n-label label="Seleccionados" (click)="incluirListaUbicaciones()"></button>
                </div>
                <div *ngIf="indIncluir=='E'">
                    <button type="button" pButton icon="ui-icon-clear" i18n-label label="Seleccionados" (click)="eliminarListaUbicacionListas()"></button>
                </div>
            </ng-template>
            <ng-template let-ubicacion="rowData" pTemplate="body">
                <div *ngIf="indIncluir=='I'">
                    <button icon="ui-icon-add" pButton (click)="incluirUbicacion(ubicacion)"></button>
                </div>
                <div *ngIf="indIncluir=='E'">
                    <button icon="ui-icon-clear" pButton (click)="excluirUbicacion(ubicacion)"></button>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>