<div class="ui-g-12" *ngIf="displayInsertar==false">
    <p-dataTable [value]="listaSegmentos" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
        <p-header i18n>Lista de segmentos </p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
        <p-column field="descripcion" i18n-header header="Descripción"></p-column>
        <p-column field="tags" i18n-header header="Tags"></p-column>
        <p-column  styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <button type="button" pButton icon="ui-icon-clear" i18n-label label="Seleccionados" (click)="eliminarListaSegmento()"></button>
            </ng-template>
            <ng-template let-segmento="rowData" pTemplate="body">
                <button icon="ui-icon-clear" pButton (click)="eliminarSegmento(segmento)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div class="ui-g-12" *ngIf="displayInsertar==true">
    <p-dataTable [value]="listaSegmentosDisponibles" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
        <p-header i18n>Lista de segmentos disponibles</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="nombre" i18n-header header="Nombre"></p-column>
        <p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
        <p-column field="descripcion"  i18n-header header="Descripción"></p-column>
        <p-column field="tags" i18n-header header="Tags"></p-column>
        <p-column  styleClass="col-button" *ngIf="tienePermisosEscritura">
            <ng-template pTemplate="header">
                <div *ngIf="indIncluir=='I'">
                    <button type="button" pButton icon="ui-icon-add" i18n-label label="Seleccionados" (click)="incluirListaSegmentos()"></button>
                </div>
                <div *ngIf="indIncluir=='E'">
                    <button type="button" pButton icon="ui-icon-clear" i18n-label label="Seleccionados" (click)="excluirListaSegmentos()"></button>
                </div>
            </ng-template>
            <ng-template let-segmento="rowData" pTemplate="body">
                <div *ngIf="indIncluir=='I'">
                    <button type="button" icon="ui-icon-add" pButton (click)="incluirSegmento(segmento)"></button>
                </div>
                <div *ngIf="indIncluir=='E'">
                    <button type="button" icon="ui-icon-clear" pButton (click)="excluirSegmento(segmento)"></button>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>