<div class="ui-g ui-fluid card">
	<div class="ui-g-12">
		<div class="ui-g-12 ui-md-9">
			<h1 i18n>Categorías de Premio</h1>
		</div>
		<div class="ui-g-12 ui-md-12">
			<!--Se realizan búsquedas según criterios-->
			<div class="ui-g-12 ui-md-10">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaCategorias()" (onRemove)="busquedaCategorias()" i18n-placeholder placeholder="Búsqueda"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<!--Botón para agregar una nueva categoría-->
			<div *ngIf="escritura" class="ui-g-12 ui-md-2">
				<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="ir()" icon="ui-icon-add"></button>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>
		<div class="ui-g-12" *ngIf="!cargandoDatos && !listaVacia">
			<p-dataList [value]="listaCategoria" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
				<p-header i18n>
					Categorías
				</p-header>
				<ng-template let-categoria pTemplate="item">
					<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
						<div class="ui-g-12 ui-md-2">
							<img class="cp-list cp-round"  src="{{categoria.imagen}}">
						</div>
						<div class="ui-g-12 ui-md-4">
							<h4><strong i18n>Nombre:</strong>{{categoria.nombre}}</h4>
							<h4><strong i18n>Nombre interno:</strong>{{categoria.nombreInterno}}</h4>
						</div>
						<div class="ui-g-12 ui-md-4">
							<h4><strong i18n>Descripción:&nbsp; &nbsp;</strong>{{categoria.descripcion}}</h4>
						</div>
						<!--Botón para ir al detalle de la insignia-->
						<button type="button" (click)="detalleInsignia(categoria.idCategoria)" pButton icon="ui-icon-edit" style="margin:14px 24px 0 0;float:right"></button>
						<!--Botón para eliminar la insignia-->
						<button type="button" (click)="confirmar(categoria.idCategoria)" pButton icon="ui-icon-delete" style="margin:14px 24px 0 0;float:right"></button>
					</div>
				</ng-template>
			</p-dataList>
		</div>
		<div class="ui-g-12 ui-lg-12" *ngIf="listaVacia && !cargandoDatos">
			<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<span i18n>No existen categorías disponibles.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerCategoria()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>