<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-lg-12">
		<p-tabView>
			<!--En este panel se muestran los miembros del grupo-->
			<p-tabPanel i18n-header header="Premios con categoría">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerPremiosCategoria()" (onRemove)="obtenerPremiosCategoria()" i18n-placeholder
							placeholder="Búsqueda"></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<div class="ui-g-12 ui-md-12" *ngIf="!listaVacia && !cargandoDatos">
						<!--Lista de los premios con la categoría-->
						<p-dataTable [value]="listaPremios" [paginator]="true" [rows]="10" [(selection)]="listaRemover" [lazy]="true" [totalRecords]="totalRecords"
							(onLazyLoad)="loadData($event)">
							<p-header i18n>
								Lista de Premios
							</p-header>
							<p-column [style]="{'width':'45px'}" selectionMode="multiple"></p-column>
							<p-column field="imagen" i18n-header header="Imagen">
								<ng-template let-premio="rowData" pTemplate="body">
									<img class="cp-list cp-round" src="{{premio.imagenArte}}">
								</ng-template>
							</p-column>
							<p-column field="nombre" i18n-header header="Nombre"></p-column>
							<p-column field="indTipoPremio" i18n-header header="Tipo de premio">
								<ng-template let-premio="rowData" pTemplate="body">
									{{premio.indTipoPremio | tipoPremio}}
								</ng-template>
							</p-column>
							<p-column styleClass="col-button" *ngIf="escritura && escrituraPremio" [style]="{'width': '135px'}">
								<ng-template pTemplate="header">
									<button type="button" pButton icon="ui-icon-close" class="pink-btn" (click)="premioSeleccionado('true')"></button>
								</ng-template>
								<ng-template let-premio="rowData" pTemplate="body">
									<button type="button" pButton (click)="premioSeleccionado('false',premio.idPremio)" icon="ui-icon-close" style="margin:14px 35px 0 0;float:right"></button>
								</ng-template>
							</p-column>
						</p-dataTable>
					</div>
					<!--Se muestra este mensaje si no existen asignaciones  -->
					<div *ngIf="listaVacia && !cargandoDatos">
						<span i18n>Esta categoría no esta asignada a ningún premio.</span>
					</div>
				</div>
			</p-tabPanel>
			<!--En este panel se da la asociacion de miembros al grupo-->
			<p-tabPanel i18n-header header="Asignaciones de categoría">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerPremiosNoCategoria()" (onRemove)="obtenerPremiosNoCategoria()" i18n-placeholder
							placeholder="Búsqueda"></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<div class="ui-g-12 ui-md-12" *ngIf="!listaTotalVacia && !cargandoDatos">
						<p-dataTable [value]="listaTotalPremios" [paginator]="true" [rows]="10" [(selection)]="listaSeleccion" [lazy]="true" [totalRecords]="totalRecordsPremio"
							(onLazyLoad)="loadPremio($event)">
							<p-header i18n>
								Premios disponibles
							</p-header>
							<p-column [style]="{'width':'45px'}" selectionMode="multiple"></p-column>
							<p-column field="imagen" i18n-header header="Imagen">
								<ng-template let-premio="rowData" pTemplate="body">
									<img class="cp-list cp-round" src="{{premio.imagenArte}}">
								</ng-template>
							</p-column>
							<p-column field="nombre" [filter]="true" filterMatchMode="contains" i18n-header header="Nombre">
								<ng-template let-premio="rowData" pTemplate="body">
									<span>{{premio.nombre}}</span>
								</ng-template>
							</p-column>
							<p-column field="indTipoPremio" i18n-header header="Tipo de premio">
								<ng-template let-premio="rowData" pTemplate="body">
									{{premio.indTipoPremio | tipoPremio}}
								</ng-template>
							</p-column>
							<p-column styleClass="col-button" *ngIf="escritura  && escrituraPremio" [style]="{'width': '135px'}">
								<ng-template pTemplate="header">
									<button type="button" pButton icon="ui-icon-add" class="pink-btn" (click)="agregarListaPremios()"></button>
								</ng-template>
								<ng-template let-premio="rowData" pTemplate="body">
									<button type="button" style="margin:14px 35px 0 0;float:right" pButton (click)="asignarCategoriaPremio(premio.idPremio)" icon="ui-icon-add"></button>
								</ng-template>
							</p-column>
						</p-dataTable>
					</div>
					<!--Se muestra este mensaje si no existen clientes-->
					<div *ngIf="listaTotalVacia && !cargandoDatos">
						<span i18n>No existen premios disponibles.</span>
					</div>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>	
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="listaSelec">
			<ng-container i18n>¿Confirma que desea remover esta lista?</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="!listaSelec">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerListaPremios()" icon="ui-icon-trash" *ngIf="listaSelec"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerPremio()" icon="ui-icon-trash" *ngIf="!listaSelec"></button>		
	</p-footer>
</p-dialog>