<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar a la lista de categorías-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<h1 i18n>Nueva Categoría de Premio</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="card card-w-title">
		<div class="ui-g">
			<!--Formulario para insertar una categoría-->
			<form role="form" [formGroup]="formCategoria">
				<div class="ui-g-12 ui-lg-12">

					<h2 i18n>Datos de la categoría</h2>
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12">
							<!--Imagen que representa a la categoría-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-12">
									<img src='{{imagenCateg}}' alt="" class="cp-insert cp-round" *ngIf="imagenCateg"/>
									<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
								</div>
								<div class="ui-g-12 ui-md-12">
									<input class="upload" id="imagenCateg" name="imagenCateg" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
									<label for="imagenCateg" i18n>Seleccione un archivo</label>
								</div>
							</div>

							<!--Nombre de la categoría-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtNombre" i18n><strong>Nombre de categoría:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="100" [(ngModel)]="categoria.nombre" formControlName="nombre"
										pTooltip="Nombre de la Categoría" tooltipPosition="top" (blur)="establecerNombres();">
								</div>
							</div>

							<!--Nombre interno de la categoría-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtNombre" i18n><strong>Nombre interno:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtInterno" name="txtInterno" maxlength="50" [(ngModel)]="categoria.nombreInterno" formControlName="nombreInterno"
										pTooltip="Nombre interno de la Categoría" tooltipPosition="top" (blur)="validarNombre()">
								</div>
							</div>

							<!--Descripción de la categoría-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-5 ui-lg-3">
									<label for="txtNombre" i18n><strong>Descripción:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-6">
									<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="200" [(ngModel)]="categoria.descripcion"
										formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
								</div>
							</div>
						</div>
						<div class="ui-g-12 ui-md-5 ui-lg-5">
							<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
						</div>
						<!--Botón para regresar a la lista de categorías-->
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<button pButton type="button" class="red-btn" (click)="goBack()" icon="ui-icon-close" label="Cancelar" i18n-label></button>
						</div>
						<!--Se muestra solo si el usuario tiene permisos de escritura-->
						<div *ngIf="escritura" class="ui-g-12 ui-md-3 ui-lg-2">
							<!--Se activa hasta que el formulario sea válido" -->
							<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" [disabled]="!formCategoria.valid"
								(click)="insertarCategoria()"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>