<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12" *ngIf="!cargandoDatos">
		<!--Se muestra un formulario con la información de la categoría-->
		<form role="form" [formGroup]="formCategoria" class="ui-g-12 ui-lg-12">
			<div class="ui-g-12 ui-lg-12">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h2 i18n>Información de la categoría</h2>
					<div class="ui-g form-group">

						<!--Imagen para representar la categoría-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-6">
								<div class="ui-g-12 ui-md-12">
									<img src='{{imagenCateg}}' alt="" class="cp-insert cp-round" *ngIf="imagenCateg"/>
									<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
								</div>
								<div class="ui-g-12 ui-md-12">
									<input class="upload" id="imagenCateg" name="imagenCateg" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
									<label for="imagenCateg" i18n>Seleccione un archivo</label>
								</div>
							</div>
						</div>

						<!--Nombre de la categoría-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtNombre" i18n><strong>Nombre de categoría:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="100" [(ngModel)]="categoria.nombre" formControlName="nombre"
									pTooltip="Nombre de la Categoría" tooltipPosition="top" (blur)="establecerNombres();">
							</div>
						</div>

						<!--Nombre interno de la categoría-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtNombre" i18n><strong>Nombre interno:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<input type="text" pInputText id="txtInterno" name="txtInterno" maxlength="50" [(ngModel)]="categoria.nombreInterno" formControlName="nombreInterno"
									pTooltip="Nombre interno de la Categoría" tooltipPosition="top" (blur)="validarNombreInterno()">
							</div>
						</div>

						<!--Descripción-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-5 ui-lg-3">
								<label for="txtNombre" i18n><strong>Descripción:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-6">
								<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="200" [(ngModel)]="categoria.descripcion"
									formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-6 ui-lg-7">
						<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
					</div>
					<div *ngIf="escritura" class="ui-g-12 ui-md-3 ui-lg-2">
						<!--Se habilita cuando el formulario es válido-->
						<button pButton type="button" i18n-label label="Guardar" class="green-btn" [disabled]="!formCategoria.valid" (click)="actualizarCategoria()"
							icon="ui-icon-save"></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
