<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Certificados del premio</h2>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="premio.indTipoPremio =='P'">
			<h4 i18n>Para poder crear certificados, el premio debe ser de tipo <strong>Certificado</strong></h4>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12" *ngIf="premio.indTipoPremio =='C'">
		<div class="ui-g-12 ui-md-3" *ngIf="escritura">
			<div class="ui-g-12 ui-md-12 ui-lg-12" (click)="cargaCertificados('nuevo')">
				<div class="ui-g card cbx cbx-1">
					<div class="ui-g-4">
						<i class="material-icons">add</i>
					</div>
					<div class="ui-g-8" style="padding-top: 16px;">
						<span class="count" i18n>Crear Certificado</span>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-3" *ngIf="escritura">
			<div class="ui-g-12 ui-md-12 ui-lg-12" (click)="cargaCertificados('importar')">
				<div class="ui-g card cbx cbx-2">
					<div class="ui-g-4">
						<i class="material-icons">file_upload</i>
					</div>
					<div class="ui-g-8" style="padding-top: 16px;">
						<span class="count" i18n>Importar Certificados</span>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-3" *ngIf="escritura">
			<div class="ui-g-12 ui-md-12 ui-lg-12" (click)="cargaCertificados('generar')">
				<div class="ui-g card cbx cbx-5">
					<div class="ui-g-4">
						<i class="material-icons">playlist_add</i>
					</div>
					<div class="ui-g-8" style="padding-top: 16px;">
						<span class="count" i18n>Generar certificados</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12">
		<p-fieldset legend="Estados de certificado" class="ui-g-12 ui-md-12">
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
				<div class="ui-g-12 ui-md-3">
					<p-radioButton name="group1" inputId="estado1" value="D" i18n-label label="Disponible" [(ngModel)]="estado" (onClick)="obtenerCertificadoPremio()"></p-radioButton>
				</div>
				<div class="ui-g-12 ui-md-3">
					<p-radioButton name="group1" inputId="estado2" value="O" i18n-label label="Ocupado" [(ngModel)]="estado" (onClick)="obtenerCertificadoPremio()"></p-radioButton>
				</div>
				<div class="ui-g-12 ui-md-3">
					<p-radioButton name="group1" inputId="estado3" value="A" i18n-label label="Anulado" [(ngModel)]="estado" (onClick)="obtenerCertificadoPremio()"></p-radioButton>
				</div>
			</div>
		</p-fieldset>
	</div>
	<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="premio.indTipoPremio =='C'">
		<!--Se muestra este mensaje si no existen certificados-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaVacia">
			<label i18n>Este premio no tiene certificados</label>
		</div>
		<div *ngIf="!listaVacia">
			<p-dataTable [value]="listaCertificados" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
				<p-header i18n>
					Certificados
				</p-header>
				<p-column field="codigoCertificadoPK" i18n-header header="Código">
					<ng-template let-certificado="rowData" pTemplate="body">
						<span>{{certificado.codigoCertificadoPK.codigo}}</span>
					</ng-template>
				</p-column>
				<p-column field="indEstado" i18n-header header="Estado">
					<ng-template let-certificado="rowData" pTemplate="body">
						<span *ngIf="certificado.indEstado != 'O'">{{certificado.indEstado | certificadoEstado}}</span> 
						<span *ngIf="certificado.indEstado == 'O'">{{certificado.indEstadoPremioMiembro | estadoRedencion}}</span>
					</ng-template>
				</p-column>
				<p-column i18n-header header="Fecha de otorgue">
					<ng-template let-certificado="rowData" pTemplate="body">
						<ng-container *ngIf="certificado.fechaOtorgue != undefined">{{certificado.fechaOtorgue | date:'short'}}</ng-container>
						<ng-container *ngIf="certificado.fechaOtorgue == undefined">---</ng-container>
					</ng-template>
				</p-column>
				<p-column i18n-header header="Miembro">
					<ng-template let-certificado="rowData" pTemplate="body">
						<ng-container *ngIf="certificado.nombreMiembro != null">{{certificado.nombreMiembro}}</ng-container>
						<ng-container *ngIf="certificado.nombreMiembro == null">---</ng-container>
					</ng-template>
				</p-column>
				<p-column i18n-header header="Acción" *ngIf="premio.indEstado !='A'" styleClass="col-button">
					<ng-template let-certificado="rowData" pTemplate="body">
						<button pButton style="width:auto" (click)="gotoMiembro(certificado.idMiembro)" i18n-label label="Ir a Miembro" icon="ui-icon-person" *ngIf="lecturaMiembro && certificado.idMiembro !=null"></button>
						<button pButton style="width:auto" (click)="confirmar(certificado)" i18n-label label="Remover" icon="ui-icon-delete" *ngIf="escritura && premio.indEstado == 'P' && certificado.indEstado == 'D'"></button>
						<button pButton style="width:auto" (click)="confirmar(certificado)" i18n-label label="Anular" icon="ui-icon-archive" *ngIf="escritura && premio.indEstado == 'P' && certificado.indEstado == 'O' && permisoAnular && certificado.indEstadoPremioMiembro == 'S'"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
	</div>
</div>

<!--Cuadro de dialogo para ingresar un certificado -->
<p-dialog i18n-header header="Crear Certificado" [(visible)]="nuevo" [responsive]="true" showEffect="fade" [modal]="true"
	width="450" height="200">
	<div class="ui-g-12 ui-md-12">
		<form role="form" #formCertificado="ngForm">
			<div class="ui-g form-group">
				<!--Código del certificado-->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-6">
						<label i18n><strong>Código del certficado</strong></label>
					</div>
					<div class="ui-g-12 ui-md-6">
						<input id="txtCode" name="txtCode" type="text" pInputText [(ngModel)]="codigoCertificado" #codigo="ngModel" pTooltip="Nombre del grupo"
							maxlength="100" tooltipPosition="top" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="nuevo=false; generandoCertificados = false;"></button>
		<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="agregarCertificado()" [disabled]="!formCertificado.valid"></button>
	</p-footer>
</p-dialog>

<!--Cuadro de dialogo para generar certificados -->
<p-dialog i18n-header header="Generar Certificados" [(visible)]="generar" [responsive]="true" showEffect="fade" [modal]="true"
	width="450" height="200">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g form-group">
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-6">
					<label i18n><strong>Cantidad de certficados a generar:</strong></label>
				</div>
				<div class="ui-g-12 ui-md-6">
					<input id="txtGenerar" name="txtGenerar" type="number" pInputText [(ngModel)]="cantCertificados" />
				</div>
			</div>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="generar=false; generandoCertificados = false;"></button>
		<button pButton type="button" i18n-label label="Generar" icon="ui-icon-check" (click)="generarCertificados()"></button>
	</p-footer>
</p-dialog>

<!--Cuadro de dialogo para importar certificados -->
<p-dialog i18n-header header="Importar Certificado" [(visible)]="importar" [responsive]="true" showEffect="fade" [modal]="true"
	width="580" height="270">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g form-group">
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-12" *ngIf="!archivoNuevo">
					<ng-container i18n>Ningún archivo seleccionado</ng-container>
				</div>
				<div class="ui-g-12 ui-md-12" *ngIf="archivoNuevo">
					<ng-container>{{fileName}}</ng-container>
				</div>
				<div class="ui-g-12 ui-md-12">
					<input class="upload" id="archivo" name="archivo" type="file" (change)="subirArchivo()" accept=".csv">
					<label for="archivo" i18n>Seleccione un archivo</label>
				</div>
			</div>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="importar=false; generandoCertificados = false;"></button>
		<button pButton type="button" i18n-label label="Subir archivo" icon="ui-icon-check" (click)="importarCertificados()" [disabled]="!formCertificado.valid"></button>
	</p-footer>
</p-dialog>

<!--Cuadro de diálogo para eliminiar certificados-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="estadoCertif == 'D'">
			<ng-container i18n>¿Confirma que desea remover este certificado?</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="estadoCertif == 'O'">
			<ng-container i18n>¿Confirma que desea anular este certificado?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" *ngIf="estadoCertif == 'D'" i18n-label label="Remover" (click)="removerCertificadoPremio()"icon="ui-icon-trash"></button>
		<button pButton type="button" *ngIf="estadoCertif == 'O'" i18n-label label="Anular" (click)="anularCertificadoPremio()"icon="ui-icon-trash"></button>
	</p-footer>
</p-dialog>