<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-9">
						<h1 i18n>Premios</h1>
					</div>
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<!--Se realizan búsquedas según criterios-->
						<div class="ui-g-12 ui-md-8 ui-lg-8">
							<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaPremios()" (onRemove)="busquedaPremios()" i18n-placeholder placeholder="Búsqueda"></p-chips>
							<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
						</div>
						<div class="ui-g-12 ui-md-2 ui-lg-2">
							<button type="button" (click)="busquedaAvanzada()" i18n-label label="Búsqueda avanzada" pButton icon="ui-icon-search"></button>
						</div>
						<!--Butón para agregar un nuevo premio-->
						<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
							<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="nuevoPremio()" icon="ui-icon-add"></button>
						</div>
					</div>
					<!--Busquedas avanzadas-->
					<div *ngIf="avanzada" class="ui-g-12 ui-md-12 ui-lg-12">
						<p-fieldset legend="Estados" class="ui-g-12 ui-md-6">
							<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
								<div class="ui-g-12 ui-md-4">
									<p-checkbox name="group1" value="B" i18n-label label="Borrador" [(ngModel)]="estadoPremio" (onChange)="busquedaPremios()"></p-checkbox>
								</div>
								<div class="ui-g-12 ui-md-4">
									<p-checkbox name="group1" value="P" i18n-label label="Publicado" [(ngModel)]="estadoPremio" (onChange)="busquedaPremios()"></p-checkbox>
								</div>
								<div class="ui-g-12 ui-md-4">
									<p-checkbox name="group1" value="A" i18n-label label="Archivado" [(ngModel)]="estadoPremio" (onChange)="busquedaPremios()"></p-checkbox>
								</div>
							</div>
						</p-fieldset>
						<p-fieldset legend="Tipo de premio" class="ui-g-12 ui-md-6">
							<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
								<div class="ui-g-12 ui-md-6">
									<p-checkbox name="group2" value="C" i18n-label label="Certificado" [(ngModel)]="tipoPremio" (onChange)="busquedaPremios()"></p-checkbox>
								</div>
								<div class="ui-g-12 ui-md-6">
									<p-checkbox name="group2" value="P" i18n-label label="Producto físico" [(ngModel)]="tipoPremio" (onChange)="busquedaPremios()"></p-checkbox>
								</div>
							</div>
						</p-fieldset>
					</div>
				</div>
			</div>

			<!--Se muestra la lista con los premios -->
			<div class="card card-w-title">
				<div class="ui-g">
					<!--Se muestra este mensaje si no existen clientes-->
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				<!--Lista de los premios -->
				<div class="ui-g-12">
					<div *ngIf="!listaVacia && !cargandoDatos">
						<p-dataList [value]="listaPremios" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
							<p-header i18n>
								Premios
							</p-header>
							<ng-template let-premio pTemplate="item">
								<div class="listBorder clearfix">
									<button type="button" (click)="gotoDetail(premio)" pButton icon="ui-icon-edit" class="listButton"></button>
									<button type="button" *ngIf="escritura && premio.indEstado=='B'" (click)="dialogoConfirmar(premio.idPremio)" pButton icon="ui-icon-delete"
										class="listButton"></button>
									<button type="button" *ngIf="escritura && premio.indEstado=='P'" (click)="dialogoConfirmar(premio.idPremio)" pButton icon="ui-icon-archive"
										class="listButton"></button>
									<div class="ui-g-12 ui-md-3 ui-lg-3">
										<img class="cp-list cp-round" src="{{premio.imagenArte}}">
									</div>
									<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
										<div class="ui-grid-row">
											<div class="ui-g-12 ui-md-12 ui-lg-12">
												<h3><strong>{{premio.nombre}}</strong></h3>
											</div>
										</div>
										<div class="ui-grid-row">
											<div class="ui-g-12 ui-md-6">
												<label i18n><strong >Nombre interno: </strong></label>
												<label> {{premio.nombreInterno}}</label>
											</div>
											<div class="ui-g-12 ui-md-6">
												<label i18n><strong >Tipo de producto: </strong></label>
												<label>{{premio.indTipoPremio | tipoPremio}}</label>
											</div>
										</div>
										<div class="ui-grid-row">
											<div class="ui-g-12 ui-md-6">
												<label i18n><strong >Descripción: </strong></label>
												<label>{{premio.descripcion}}</label>
											</div>
											<div class="ui-g-12 ui-md-6">
												<label i18n><strong >Valor moneda: </strong></label>
												<label>{{premio.valorMoneda}}</label>
											</div>
										</div>
									</div>
								</div>
							</ng-template>
						</p-dataList>
					</div>
					<div class="ui-g-12 ui-lg-12" *ngIf="listaVacia && !cargandoDatos">
						<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
							<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
								<i class="material-icons">information</i>
							</div>
							<div class="ui-g-8 ui-md-7 ui-lg-7">
								<span i18n>No existen premios disponibles.</span>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un elemento-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea eliminar este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerPremio()" icon="ui-icon-trash"></button>
	</p-footer>
</p-dialog>