<div class="ui-g ui-fluid">
	<div class="ui-g-12" *ngIf="!statsData">
		<div class="ui-g-12 ui-md-5">
		</div>
		<div class="ui-g-12 ui-md-2">
			<img src="/resources/img/loading_icon.gif" />
		</div>
		<div class="ui-g-12 ui-md-5">
		</div>
	</div>

	<div class="ui-g-12" *ngIf="statsData">
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-3">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Cantidad de Redenciones</span>
					<span class="colorbox-count">{{statsData.cantRedenciones}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-2">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Cantidad en Inventario</span>
					<span class="colorbox-count">{{statsData.cantIntentario}}</span>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 dashboard">
			<div class="ui-g card colorbox colorbox-3">
				<div class="ui-g-4">
					<i class="material-icons">group</i>
				</div>
				<div class="ui-g-8">
					<span class="colorbox-name" i18n>Miembros Elegibles</span>
					<span class="colorbox-count">{{statsData.cantMiembrosElegibles}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12" *ngIf="statsData">
		<div class="ui-g-12">
			<h2 i18n>Estadísticas del premio</h2>
		</div>
		<div class="ui-g-12">
			<p-chart type="line" [data]="chartElegibilidadData" (onDataSelect)="selectData($event)"></p-chart>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12" *ngIf="statsData">
		<div class="ui-g-12">
			<h2 i18n>Alcance del premio</h2>
		</div>
		<div class="ui-g-12">
			<p-chart type="line" [data]="chartVistasData" (onDataSelect)="selectData($event)"></p-chart>
		</div>
	</div>
</div>