<div class="ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar a la lista de premios-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-7 ui-lg-7">
					<div class="heading-detalle">
						{{premio.nombre}}
					</div>
					<div class="sub-heading-detalle">
						<ng-container i18n>Premio</ng-container>
					</div>
					<div class="ui-g-12 ui-md-7 ui-lg-7">
						<label i18n>Total existencias:</label>
						<label>{{premio.totalExistencias}}</label>
					</div>
					<div class="ui-g-12 ui-md-7 ui-lg-7">
						<label i18n>Precio promedio:</label>
						<label>{{premio.precioPromedio}}</label>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="cargandoDatos">
					<div class="ui-g-12 ui-md-12" >
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="!cargandoDatos">
					<div class="ui-g-12 ui-md-12 ui-lg-12" (click)="opPremio.toggle($event)">
						<!--Widget que maneja la información del premio y permite realizar ciertas acciones-->
						<div class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado}">
							<div class="ui-g-4">
								<i class="material-icons">edit</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado:</span>
								<span class="count">{{premio.indEstado | estadoElemento}}</span>
							</div>
						</div>
					</div>
					<p-overlayPanel #opPremio>
						<div class="ui-g ui-fluid" style="width:260px">
							<div style="margin:10px 5px 10px 10px">
								<!--Se pueden realizar ciertas acciones dependiendo del estado-->
								<div *ngIf="premio.indEstado != 'A'">
									<!-- Disponibilidad/Efectividad-->
									<div class="ui-g-12 ui-md-12 ui-lg-12">
										<label for="ddEfectividad" i18n><strong>Efectividad:</strong></label>
									</div>
									<div class="ui-g-12 ui-md-12 ui-lg-12">
										<p-dropdown [options]="efectividadItem" id="ddEfectividad" name="ddEfectividad" [(ngModel)]="premio.efectividadIndCalendarizado"
											autoWidth pTooltip="Efectividad" tooltipPosition="top"></p-dropdown>
									</div>
									<div *ngIf="premio.efectividadIndCalendarizado == 'C'">
										<!-- Fecha de Inicio-->
										<div class="ui-g-12 ui-md-12 ui-lg-12">
											<label for="txtFecInicio" i18n><strong>Fecha de inicio:</strong></label>
										</div>
										<div class="ui-g-12 ui-md-12 ui-lg-12">
											<p-calendar name="txtFecInicio" showAnim="slideDown" pTooltip="Fecha de inicio" tooltipPosition="top" (onSelect)="premio.efectividadFechaInicio = fecInicio" [(ngModel)]="fecInicio"
												[showTime]="true" [readonlyInput]="true"></p-calendar>
										</div>

										<!-- Fecha de fin-->
										<div class="ui-g-12 ui-md-12 ui-lg-12">
											<label for="txtFecFin" i18n><strong>Fecha de fin:</strong></label>
										</div>
										<div class="ui-g-12 ui-md-12 ui-lg-12">
											<p-calendar name="txtFecFin" showAnim="slideDown" [minDate]="fecInicio" pTooltip="Fecha de fin" tooltipPosition="top" (onSelect)="premio.efectividadFechaFin= fecFin" [(ngModel)]="fecFin"
												[showTime]="true" [readonlyInput]="true"></p-calendar>
										</div>
										<div class="ui-g-12 ui-md-12">
											<div class="ui-g-12 ui-md-12">
												<p-checkbox [(ngModel)]="esRecurrente" binary="true" i18n-label label="Recurrente"></p-checkbox>
											</div>
										</div>
										<div *ngIf="esRecurrente">
											<!--Cantidad de veces en las que se repite-->
											<div class="ui-g-12 ui-md-12 ui-lg-12">
												<label for="txtFecFin" i18n><strong>Días de recurrencia:</strong></label>
											</div>
											<div class="ui-g-12 ui-md-12 ui-lg-12">
												<div class="ui-grid ui-grid-responsive" style="margin-bottom:10px">
													<div class="ui-grid-row">
														<fieldset>
															<legend i18n>Días:</legend>
															<div class="ui-grid-col-6">
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="L" i18n-label label="Lunes" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="K" i18n-label label="Martes" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="M" i18n-label label="Miércoles" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="J" i18n-label label="Jueves" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
															</div>
															<div class="ui-grid-col-6">
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="V" i18n-label label="Viernes" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="S" i18n-label label="Sábado" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
																<div class="ui-g-12">
																	<p-checkbox name="dias" value="D" i18n-label label="Domingo" [(ngModel)]="diasSelec"></p-checkbox>
																</div>
															</div>
														</fieldset>
													</div>
												</div>
												<div class=" ui-grid ui-grid-responsive" style="width:250px;margin-bottom:10px">
													<div class="ui-grid-row">
														<fieldset>
															<legend i18n>Intervalo de semanas:</legend>
															<div class="ui-grid-col-12">
																<div class="ui-g-12">
																	<p-spinner size="30" id="txtVencimiento" name="txtVencimiento" [min]="0" [(ngModel)]="premio.efectividadIndSemana" pTooltip="Días de vencimiento"
																	tooltipPosition="top"></p-spinner>
																</div>
															</div>			
														</fieldset>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div *ngIf="premio.indEstado == 'A'" class="ui-g-12 ui-md-12">
									<p i18n>No se pueden realizar cambios, el premio esta archivado.</p>
								</div>
								<div class="ui-g-12 ui-md-12">
									<div *ngIf="premio.indEstado != 'A' && escritura" class="ui-g-12 ui-md-12" style="float: right;">
										<button pButton type="button" class="green-btn" i18n-label label="Guardar" icon="ui-icon-save" (click)="actualizarPremio(); opPremio.hide()"></button>
									</div>
									<div *ngIf="premio.indEstado=='P' && escritura" class="ui-g-12 ui-md-12">
										<button pButton type="button" class="red-btn" i18n-label label="Archivar" icon="ui-icon-archive" (click)="dialogoEliminar('archivar'); opPremio.hide()"></button>
									</div>
									<div *ngIf="premio.indEstado=='B' && escritura" class="ui-g-12 ui-md-12">
										<button pButton type="button" class="orange-btn" i18n-label label="Publicar" icon="ui-icon-check" (click)="publicarPremio(); opPremio.hide()"></button>
									</div>
									<div *ngIf="premio.indEstado=='B' && escritura" class="ui-g-12 ui-md-12">
										<button pButton type="button" class="red-btn" i18n-label label="Eliminar" icon="ui-icon-trash" (click)="dialogoEliminar('eliminar'); opPremio.hide()"></button>
									</div>
								</div>
							</div>
						</div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
		<!--Opciones del premio-->
		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" [routerLink]="detalle" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-brush" i18n-label label="Despliegue" [routerLink]="display" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-group" i18n-label label="Audiencia" [routerLink]="elegibles" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-create" i18n-label label="Límites" [routerLink]="limites" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-poll" i18n-label label="Actividad" routerLink="actividad" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-poll" i18n-label label="Categorías" [routerLink]="categorias" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Certificados" [routerLink]="certificados" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Dashboard" routerLink="dashboard" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Asignación" routerLink="reglasAsignacion" [routerLinkActive]="['ruta-activada']"></button>
					</div>
				</div>
			</div>
		</div>	
		<div class="card card-w-title">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!--Cuadro de dialogo para confirmar eliminar/archivar un premio-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n *ngIf="accion == 'eliminar'">¿Desea eliminar este premio?</ng-container>
       </div>
	   <div class="ui-g-12 ui-md-12">
            <ng-container i18n *ngIf="accion == 'archivar'">¿Desea archivar este premio?</ng-container>
       </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button pButton type="button" *ngIf="accion == 'eliminar'" i18n-label label="Remover" (click)="removerPremio()" icon="ui-icon-trash"></button>
			<button pButton type="button" *ngIf="accion == 'archivar'" i18n-label label="Archivar" (click)="removerPremio()" icon="ui-icon-archive"></button>
            <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
        </div>
    </p-footer>
</p-dialog>