<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<form role="form" [formGroup]="formLimite">
			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<h2 i18n>Límites del premio</h2>
			</div>

			<!--Indicador de respuesta-->
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-5 ui-lg-3">
					<label i18n><strong>¿Se permiten respuestas para el premio?</strong></label>
				</div>
				<div class="ui-g-12 ui-md-8 ui-lg-6">
					<div class="ui-g-6 ui-md-6 ui-lg-6">
						<p-radioButton name="radioLimite" id="limiteTrue" [value]="true" [(ngModel)]="premio.indRespuesta" formControlName="indRespuesta"
							i18n-label label="Si"></p-radioButton>
					</div>
					<div class="ui-g-6 ui-md-6 ui-lg-6">
						<p-radioButton name="radioLimite" id="limiteFalse" [value]="false" [(ngModel)]="premio.indRespuesta" formControlName="indRespuesta"
							i18n-label label="No"></p-radioButton>
					</div>
				</div>
			</div>

			<div *ngIf="premio.indRespuesta" class="ui-g-12 ui-md-12 ui-lg-12">

				<!--Cantidad global de respuesta-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="txtGlobal" i18n><strong>Cantidad global de respuestas:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtGlobal" name="txtGlobal" [min]="0" [(ngModel)]="premio.cantTotal" formControlName="cantTotal"
							pTooltip="Cantidad global de respuestas" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Cantidad del intervalo de respuesta-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="txtCantIntervalo" i18n><strong>Cantidad del intervalo entre respuestas:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtCantIntervalo" name="txtCantIntervalo" [min]="0" [(ngModel)]="premio.cantIntervaloRespuesta" formControlName="cantIntervaloRespuesta"
							pTooltip="Cantidad entre el intervalo" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Intervalo total-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="indIntervaloTotal" i18n><strong>Intervalo de respuesta:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown id="indIntervaloTotal" formControlName="indIntervaloTotal" name="indIntervaloTotal" [(ngModel)]="premio.indIntervaloTotal"
							[options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
					</div>
				</div>

				<!--Valor mínimo acumulado-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="txtValorMinimo" i18n><strong>Valor mínimo acumulado:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtValorMinimo" name="txtValorMinimo" [min]="0" [(ngModel)]="premio.cantMinAcumulado" formControlName="cantMinimoAcumulado"
							pTooltip="Cantidad de respuestas por cliente" tooltipPosition="top"></p-spinner>
					</div>
				</div>				

				<!--Cantidad de respuestas por cliente-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label i18n><strong>Cantidad de respuestas por cliente:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-spinner size="30" id="txtCantMiembro" name="txtCantMiembro" [min]="0" [max]="premio.cantTotal" [(ngModel)]="premio.cantTotalMiembro"
							formControlName="cantTotalMiembro" pTooltip="Cantidad de respuestas por cliente" tooltipPosition="top"></p-spinner>
					</div>
				</div>

				<!--Intervalo respuestas por cliente-->
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="indIntervaloMiembro" i18n><strong>Intervalo de respuesta por cliente:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown id="indIntervaloMiembro" formControlName="indIntervaloMiembro" name="indIntervaloMiembro" [(ngModel)]="premio.indIntervaloMiembro"
							[options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
					</div>
				</div>

				<!--Frecuencia de las respuestas-->
				<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="premio.cantTotalMiembro > 1">
					<div class="ui-g-12 ui-md-4 ui-lg-3">
						<label for="indIntervaloRespuesta" i18n><strong>Frecuencia de respuesta: </strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-7">
						<p-dropdown formControlName="indIntervaloRespuesta" id="indIntervaloRespuesta" name="indIntervaloRespuesta" [(ngModel)]="premio.indIntervaloRespuesta"
							[options]="itemsRespuesta" [autoWidth]="false"></p-dropdown>
					</div>
				</div>
			</div>

			<div *ngIf="!premio.indRespuesta" class="ui-g-12 ui-md-12 ui-lg-12">
				<p i18n>No se permiten respuestas para este premio.</p>
			</div>

			<div class="ui-g-12 ui-md-12" *ngIf="escritura && premio.indEstado !='A'">
				<div class="ui-g-12 ui-md-8 ui-lg-8"></div>
				<div class="ui-g-12 ui-md-2 ui-lg-2">
					<button type="button" pButton i18n-label label="Guardar"  icon="ui-icon-save" class="green-btn" (click)="actualizarPremio()"></button>
				</div>
			</div>
		</form>
	</div>
</div>