<div class="ui-g ui-fluid">
    <div class=" ui-g-12">
        <div class="card card-w-title ui-g">
            <div class="ui-g-12" style="text-align: center">
                <div class="heading-detalle input-spacing">
                    <ng-container i18n>Dashboard de Premios</ng-container>
                </div>
            </div>
            <div class="ui-g-12" style="margin-top: 25px;"></div>
            <div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No tiene autorización para leer la información de premios.</label>
				</div>
			</div>
        </div>
        <div *ngIf="!cargandoDatos && lectura">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g ui-fluid card" style="margin-bottom: 0px;padding-left: 0px;">
                    <div class="ui-g-12" style="text-align: center">
                        <h2 i18n>Cantidad de Respuestas</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [data]="chartCantRespuestas" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g ui-fluid card" style="margin-bottom: 0px;padding-left: 0px;">
                    <div class="ui-g-12" style="text-align: center">
                        <h2 i18n>Cantidad de Elegibles Promedio</h2>
                    </div>
                    <div class="ui-g-12">
                        <p-chart type="line" [data]="chartCantElegiblesPromedio" (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class=" ui-g ui-fluid" *ngIf="cargandoDatos">
            <div class="card ui-g-12" >
                <div class="ui-g-12 ui-md-5"></div>
                <div class="ui-g-12 ui-md-2">
                    <img src="/resources/img/loading_icon.gif" />
                </div>
                <div class="ui-g-12 ui-md-5"></div>
            </div>
        </div>
    </div>
</div>