<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar a la lista de categorías-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<h1 i18n>Nuevo Premio</h1>
				</div>
			</div>
		</div>
	</div>

	<!--Formulario para insertar un premio-->
	<form role="form" [formGroup]="formPremio" class="ui-g-12 ui-lg-12">
		<div class="ui-g-12 ui-lg-12">
			<div class="card card-w-title">
				<h1 i18n>Datos del premio</h1>
				<div class="ui-g form-group">
					<div class="ui-g-12 ui-md-10 ui-lg-10">

						<!--Código manejo interno-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="txtCodigo" i18n><strong>Código del premio:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<input type="text" pInputText id="txtCodigo" name="txtCodigo" maxlength="40" [(ngModel)]="premio.codPremio" formControlName="codPremio">
							</div>
						</div>

						<!--Nombre-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="txtNombre" i18n><strong>Nombre del premio:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="100" [(ngModel)]="premio.nombre" formControlName="nombre"
									pTooltip="Nombre del premio" tooltipPosition="top" (blur)="establecerNombres();">
							</div>
						</div>

						<!--Nombre despliegue-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="txtDespliegue" i18n><strong>Nombre de despliegue:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<input type="text" pInputText id="txtDespliegue" name="txtDespliegue" maxlength="100" [(ngModel)]="premio.nombreInterno"
									formControlName="despliegue" pTooltip="Nombre de despliegue" tooltipPosition="top" (blur)="validarNombreInterno()">
							</div>
						</div>
						<!--Descripción-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ">
								<label for="txtDescripcion" i18n><strong>Descripción</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="200" [(ngModel)]="premio.descripcion"
									formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
							</div>
						</div>

						<!--Tipo de premio-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="txtTipo" i18n><strong>Tipo de premio:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<p-dropdown [options]="tipoPremioItem" id="txtTipo" name="txtTipo" [(ngModel)]="premio.indTipoPremio" formControlName="tipoPremio"
									autoWidth pTooltip="Tipo de premio" tooltipPosition="top"></p-dropdown>
							</div>
						</div>

						<!--Métricas disponibles-->
						<div *ngIf="!metricaVacia" class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="dropMetricas" i18n><strong>Métricas disponibles:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-5 ui-lg-4" style="padding-right: 10px;">
								<input type="text" pInputText [(ngModel)]="nombreMetrica" style="width:100%" readonly formControlName="metrica"/>
							</div>
							<div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
								<button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true; obtenerMetricas()"></button>
							</div>
						</div>
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="txtExpiracion" i18n><strong>Días de expiración:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<span class="md-inputfield">
									<p-spinner size="30" id="txtExpiracion" name="txtExpiracion" [min]="0" [(ngModel)]="premio.cantDiasVencimiento" formControlName="expira"></p-spinner>
                                </span>
							</div>
						</div>

						<!--Valor en moneda-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4">
								<label for="txtMoneda" i18n><strong>Valor en moneda para redimir el premio:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8">
								<span class="md-inputfield">
									<p-spinner size="30" id="txtMoneda" name="txtMoneda" [min]="0" [(ngModel)]="premio.valorMoneda" formControlName="valorMoneda"
										pTooltip="Valor en monedas" tooltipPosition="top"></p-spinner>
                                </span>
							</div>
						</div>
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-4 ui-md-4">
								<label i18n><strong>¿Se requiere dirección de envío?</strong></label>
							</div>
							<div class="ui-g-4 ui-md-3">
								<p-radioButton name="radioExpiracion" id="rdExpiraTrue" [value]="true" [(ngModel)]="premio.indEnvio" formControlName="envio"
									i18n-label label="Si"></p-radioButton>
							</div>
							<div class="ui-g-4 ui-md-3">
								<p-radioButton name="radioExpiracion" id="rdExpiraFalse" [value]="false" [(ngModel)]="premio.indEnvio" formControlName="envio"
									i18n-label label="No"></p-radioButton>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-6 ui-lg-6"></div>
					<!--Butón para cancelar la inserción-->
					<div class="ui-g-12 ui-md-2 ui-lg-2">
						<button pButton type="button" i18n-label label="Cancelar" class="red-btn" (click)="goBack()" icon="ui-icon-close"></button>
					</div>
					<div *ngIf="escritura" class="ui-g-12 ui-md-2 ui-lg-2">
						<!--Se activa hasta que el formPremio sea valido" -->
						<button pButton type="button" icon="ui-icon-save" i18n-label label="Guardar" class="green-btn" [disabled]="!formPremio.valid" (click)="insertarPremio()"></button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!--Cuadro de dialogo que permite seleccionar la métrica a utilizar-->
<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMetricas()" (onRemove)="obtenerMetricas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>
