<div class="ui-g ui-fluid ">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Segmentos elegibles </h2>
		</div>
		<!--Regresa al componente padre de elegibles-->
		<div class="ui-g-12 ui-md-2 ui-lg-2">
			<button pButton type="button" i18n-label label="Regresar" class="pink-btn flat" (click)="goBack()" icon="ui-icon-arrow-back"></button>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<div class="ui-g-12 ui-md-4 ui-lg-3">
					<label i18n><strong>Mostrar:</strong></label>
				</div>
				<!--Tipo de elegibles, Disponibles, Incluidos, Excluidos-->
				<div class="ui-g-12 ui-md-8 ui-lg-9">
					<p-dropdown [autoWidth]="false" [options]="itemsAccion" id="ddpElegible" name="ddpElegible" [(ngModel)]="indAccion" (onChange)="obtenerSegmentosDisponibles()"></p-dropdown>
				</div>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="indAccion == 'D'">
				<div class="ui-g-12 ui-md-4 ui-lg-3">
					<label i18n><strong>Acción:</strong></label>
				</div>
				<!--Tipo de Acción, Incluir, Excluir-->
				<div class="ui-g-12 ui-md-8 ui-lg-9">
					<p-dropdown [autoWidth]="false" [options]="itemsElegibles" id="ddpAccion" name="ddpAccion" [(ngModel)]="elegible"></p-dropdown>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>

		<!--Se muestra la información de los segmentos-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">

			<div class="ui-g-12 ui-md-8 ui-lg-8">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerSegmentosDisponibles()" (onRemove)="obtenerSegmentosDisponibles()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<div class="ui-g-12" *ngIf="listaVacia && indAccion !='D'">
                <div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
                    <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                        <i class="material-icons">information</i>
                    </div>
                    <div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>No hay segmentos elegibles</label>
                    </div>
                </div>
			</div>

			<div *ngIf="!listaVacia && indAccion !='D'">
				<p-dataTable [value]="listaSegmentosDisponibles" [(selection)]="listaRemover" [globalFilter]="gb" [paginator]="true" [rows]="10"
					[lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Lista de segmentos
					</p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="indEstatico" i18n-header header="Estado">
						<ng-template let-segmento="rowData" pTemplate="body">
							<span>{{segmento.indEstatico | estadoSegmento}}</span>
						</ng-template>
					</p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-segmento="rowData" pTemplate="body">
							<span>{{segmento.nombre}} </span>
						</ng-template>
					</p-column>
					<p-column field="descripcion" i18n-header header="Descripción">
						<ng-template let-segmento="rowData" pTemplate="body">
							<span>{{segmento.descripcion}}</span>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="escritura && premio.indEstado !='A'">
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-delete" class="pink-btn flat" (click)="removerListaSegmentos()"
							pTooltip="Remover lista de segmentos" tooltipPosition="left"></button>
						</ng-template>
						<ng-template let-segmento="rowData" pTemplate="body">
							<button type="button" pButton icon="ui-icon-delete" (click)="dialogoConfirmar(segmento.idSegmento)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
		<!--Seccion para agregar segmentos a elegibles del premio-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
			<div class="ui-g ui-fluid">
				<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaVacia && indAccion =='D'">
					<label i18n>No existen segmentos disponibles</label>
				</div>

				<div *ngIf="!listaVacia && indAccion == 'D'">
					<p-dataTable [value]="listaSegmentosDisponibles" [(selection)]="listaSeleccion" [globalFilter]="gb" [paginator]="true" [rows]="10"
						[lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
						<p-header i18n>
							Lista de segmentos disponibles
						</p-header>
						<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
						<p-column field="indEstatico" i18n-header header="Estado">
							<ng-template let-segmento="rowData" pTemplate="body">
								<span>{{segmento.indEstatico | estadoSegmento}}</span>
							</ng-template>
						</p-column>
						<p-column field="nombre" i18n-header header="Nombre">
							<ng-template let-segmento="rowData" pTemplate="body">
								<span>{{segmento.nombre}} </span>
							</ng-template>
						</p-column>
						<p-column field="descripcion" i18n-header header="Descripción">
							<ng-template let-segmento="rowData" pTemplate="body">
								<span>{{segmento.descripcion}}</span>
							</ng-template>
						</p-column>
						<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="escritura && premio.indEstado !='A'">
							<ng-template pTemplate="header">
								<button type="button" pButton icon="ui-icon-add" class="pink-btn flat" (click)=" agregarListaSegmentos()"
								pTooltip="Agregar lista de segmentos" tooltipPosition="left"></button>
							</ng-template>
							<ng-template let-segmento="rowData" pTemplate="body">
								<button icon="ui-icon-add" pButton (click)="agregarSegmento(segmento.idSegmento)"></button>
							</ng-template>
						</p-column>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea sacar este segmento de la lista?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
		<button pButton type="button" i18n-label label="Remover" (click)="eliminarSegmentoLista()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>
