<div class="ui-g ui-fluid ">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Miembros elegibles </h2>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2">
			<button pButton type="button" i18n-label label="Regresar" class="pink-btn" (click)="goBack()" icon="ui-icon-arrow-back"></button>
		</div>

		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<div class="ui-g-12 ui-md-4 ui-lg-3">
					<label i18n><strong>Mostrar:</strong></label>
				</div>
				<!--Se muestran los elementos para obtener los miembros -->
				<div class="ui-g-12 ui-md-8 ui-lg-9">
					<p-dropdown [autoWidth]="false" [options]="itemsAccion" id="ddpElegible" name="ddpElegible" [(ngModel)]="indAccion" (onChange)="obtenerMiembrosDisponibles()"></p-dropdown>
				</div>
			</div>
			<!--Solo se muestra cuando los miembros están disponibles-->
			<div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="indAccion == 'D'">
				<div class="ui-g-12 ui-md-4 ui-lg-3">
					<label i18n><strong>Acción:</strong></label>
				</div>
				<!--Se despliegan las acciones disponibles para los elegibles-->
				<div class="ui-g-12 ui-md-8 ui-lg-9">
					<p-dropdown [autoWidth]="false" [options]="itemsElegibles" id="ddpAccion" name="ddpAccion" [(ngModel)]="elegible"></p-dropdown>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>

		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
			<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaVacia && indAccion !='D'">
				<label i18n>No hay miembros elegibles.</label>
			</div>

			<!--Se muestra la información de los miembros que pertencecen a los elegibles-->
			<div *ngIf="!listaVacia && indAccion !='D'">
				<p-dataTable [value]="listaMiembrosDisponibles" [(selection)]="listaRemover" [globalFilter]="gb" [paginator]="true" [rows]="10"
					[lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Lista de miembros
					</p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.nombre}} {{miembro.apellido}}</span>
						</ng-template>
					</p-column>
					<p-column field="correo" i18n-header header="Usuario/Correo">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.correo}}</span>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="escritura && premio.indEstado !='A'">
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-delete" class="pink-btn" (click)="removerListaMiembros()" 
							pTooltip="Remover lista de miembros" tooltipPosition="left"></button>
						</ng-template>
						<ng-template let-miembro="rowData" pTemplate="body">
							<button type="button" pButton icon="ui-icon-delete" (click)="dialogoConfirmar(miembro.idMiembro)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>

		<!--DataTable para agregar miembros a elegibles del premio-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
			<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaVacia && indAccion =='D'">
				<label i18n>No existen miembros disponibles.</label>
			</div>
			<div *ngIf="!listaVacia && indAccion == 'D'">
				<p-dataTable [value]="listaMiembrosDisponibles" [(selection)]="listaSeleccion" [globalFilter]="gb" [paginator]="true" [rows]="10"
					[lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Lista de clientes disponibles
					</p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.nombre}} {{miembro.apellido}}</span>
						</ng-template>
					</p-column>
					<p-column field="correo" i18n-header header="Usuario/Correo">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.correo}}</span>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="escritura && premio.indEstado !='A'"> <!---->
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-add" class="pink-btn" (click)=" agregarListaMiembros()"
							pTooltip="Agregar lista de miembros" tooltipPosition="left"></button>
						</ng-template>
						<ng-template let-miembro="rowData" pTemplate="body">
							<button icon="ui-icon-add" pButton (click)="agregarMiembro(miembro.idMiembro)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea sacar a este miembro de la lista?</ng-container>
       </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button pButton type="button" i18n-label label="Remover" (click)="eliminarMiembroLista()" icon="ui-icon-trash"></button>
            <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
        </div>
    </p-footer>
</p-dialog>
