<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div *ngIf="!cargandoDatos">
		<!--Formulario para insertar un premio-->
		<form role="form" [formGroup]="formPremio">
			<div class="ui-g form-group">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h2 i18n>Detalle del premio</h2>

					<!--Código manejo interno-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtCodigo" i18n><strong>Código del premio:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<input type="text" pInputText id="txtCodigo" name="txtCodigo" maxlength="40" [(ngModel)]="premio.codPremio" formControlName="codPremio">
						</div>
					</div>

					<!--Nombre-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtNombre" i18n><strong>Nombre del premio</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="100" [(ngModel)]="premio.nombre" formControlName="nombre"
								pTooltip="Nombre del premio" tooltipPosition="top" (blur)="establecerNombres();">
						</div>
					</div>

					<!--Nombre despliegue-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtDespliegue" i18n><strong>Nombre de despliegue</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<input type="text" pInputText id="txtDespliegue" name="txtDespliegue" maxlength="100" [(ngModel)]="premio.nombreInterno"
								formControlName="despliegue" pTooltip="Nombre de despliegue" tooltipPosition="top" (blur)="validarNombreInterno()">
						</div>
					</div>

					<!--Descripción-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-5 ui-lg-3">
							<label for="txtDescripcion" i18n><strong>Descripción</strong></label>
						</div>
						<div class="ui-g-12 ui-md-8 ui-lg-6">
							<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="200" [(ngModel)]="premio.descripcion"
								formControlName="descripcion" pTooltip="Descripción" tooltipPosition="top">
						</div>
					</div>

					<!--Tipo de premio-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtTipo" i18n><strong>Tipo de premio</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p-dropdown [options]="tipoPremioItem" id="txtTipo" name="txtTipo" [(ngModel)]="premio.indTipoPremio" formControlName="tipoPremio"
								autoWidth pTooltip="Tipo de premio" tooltipPosition="top"></p-dropdown>
						</div>
					</div>

					<!--Métricas disponibles-->
					<div *ngIf="!metricaVacio" class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="dropMetricas" i18n><strong>Métricas disponibles</strong></label>
						</div>
						<div class="ui-g-12 ui-md-5 ui-lg-4" style="padding-right: 10px;">
                            <input type="text" pInputText [(ngModel)]="nombreMetrica" style="width:100%" readonly formControlName="metrica"/>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
                        	<button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true; obtenerMetricas()"></button>
                        </div>
					</div>
					<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtExpiracion" i18n><strong>Días de expiración:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<span class="md-inputfield">
									<p-spinner size="30" id="txtExpiracion" name="txtExpiracion" [min]="0" [(ngModel)]="premio.cantDiasVencimiento" formControlName="expira"></p-spinner>
                                </span>
							</div>
						</div>

					<!--Valor en moneda-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtMoneda" i18n><strong>Valor en moneda para redimir el premio</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p-spinner size="30" id="txtMoneda" name="txtMoneda" [min]="0" [(ngModel)]="premio.valorMoneda" formControlName="valorMoneda"
								pTooltip="Valor en monedas" tooltipPosition="top"></p-spinner>
						</div>
					</div>

					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-4 ui-md-4 ui-lg-3">
							<label i18n><strong>¿Se requiere dirección de envío?</strong></label>
						</div>
						<div class="ui-g-3 ui-md-3 ui-lg-3">
							<p-radioButton name="radioExpiracion" id="rdExpiraTrue" [value]="true" [(ngModel)]="premio.indEnvio" formControlName="envio"
								i18n-label label="Si"></p-radioButton>
						</div>
						<div class="ui-g-4 ui-md-3 ui-lg-3">
							<p-radioButton name="radioExpiracion" id="rdExpiraFalse" [value]="false" [(ngModel)]="premio.indEnvio" formControlName="envio"
								i18n-label label="No"></p-radioButton>
						</div>
					</div>

					<!--Tracking Code-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtCode" i18n><strong>Tracking Code</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<input type="text" pInputText id="txtCode" name="txtCode" maxlength="100" [(ngModel)]="premio.trackingCode" formControlName="code"
								pTooltip="Tracking Code" tooltipPosition="top">
						</div>
					</div>

					<!--SKU-->
					<!--Se despliega si es tipo producto-->
					<div class="ui-g-12 ui-md-12" *ngIf="premio.indTipoPremio =='P'">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtSku" i18n><strong>SKU</strong></label>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<input type="text" pInputText id="txtSku" name="txtSku" maxlength="100" [(ngModel)]="premio.sku" formControlName="sku" pTooltip="SKU"
								tooltipPosition="top">
						</div>
					</div>

					<!--Unidades de medida-->
					<div *ngIf="!unidadVacia && premio.indTipoPremio != 'C'" class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="dropUnidades" i18n><strong>Unidad de medida</strong></label>
						</div>
						<div class="ui-g-12 ui-md-4 ui-lg-3" *ngIf="premio.unidadMedida != null">
							<label>{{premio.unidadMedida.descripcion}}</label>
						</div>
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<button pButton type="button" i18n-label label="Cambiar unidad" class="pink-btn" icon="ui-icon-choose" (click)="verUnidades = true"></button>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-7">
						<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="noMostrar" />
					</div>
				<div class="ui-g-12 ui-md-2" *ngIf="escritura && premio.indEstado !='A' && !noMostrar">
					<!--Se activa hasta que el formulario de Premio sea valido"-->
					<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" [disabled]="!formPremio.valid"
						(click)="actualizarPremio()"></button>
				</div>
			</div>
		</form>
	</div>
</div>

<!--Cuadro de dialog para escoger una subcategoría segun la categoría -->
<p-dialog i18n-header header="Unidad de medida" [(visible)]="verUnidades" height="auto" width="400" showEffect="fade" >
	<div class="ui-g form-group" style="margin-bottom: 16px;">
		<div class="ui-g-12" *ngIf="!unidadVacia">
			<p-dataTable [value]="listaUnidades" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
				<p-column field="descripcion" i18n-header header="Descripción"></p-column>
				<p-column styleClass="col-button">
					<ng-template let-unidad="rowData" pTemplate="body">
						<button type="button" (click)="unidadSeleccionada(unidad)" pButton icon="ui-icon-add" style="margin:14px 24px 0 0;float:right"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="unidadVacia">
			<p i18n>En el sistema no hay unidades de medidad disponibles.</p>
		</div>
	</div>
	<footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" i18n-label label="Cerrar" icon="ui-icon-close" (click)="verUnidades=false" pButton></button>
		</div>
	</footer>
</p-dialog>

<!--Cuadro de dialogo que permite seleccionar la métrica-->
<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMetricas()" (onRemove)="obtenerMetricas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>