<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10 ui-lg-10">
			<h2 i18n>Categorías del premio</h2>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!asignar && premio.indEstado !='A' && escritura">
			<button pButton type="button" i18n-label label="Asignar Categoría" (click)="asignarCategoria()" icon="ui-icon-add"></button>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="asignar">
			<button pButton type="button" i18n-label label="Volver" (click)="asignar = false" icon="ui-icon-arrow-back"></button>
		</div>

	</div>
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos && !asignar">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoTotal && asignar">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">

		<!--Se muestra este mensaje si no existen asignaciones-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="listaVacia && !asignar && !cargandoDatos">
			<label i18n>Este premio no tiene asignada ninguna categoría</label>
		</div>

		<div *ngIf="!asignar && !cargandoDatos">

			<p-dataTable [value]="listaCategorias" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords"(onLazyLoad)="loadData($event)">
				<p-header i18n>
					Lista de Categorías
				</p-header>
				<p-column [style]="{'width':'130px'}" field="imagen" i18n-header header="Imagen">
					<ng-template let-categoria="rowData" pTemplate="body">
						<img class="cp-round" width="110" height="110" src="{{categoria.imagen}}">
					</ng-template>
				</p-column>
				<p-column field="nombre" i18n-header header="Nombre">
					<ng-template let-categoria="rowData" pTemplate="body">
						<span>{{categoria.nombre}}</span>
					</ng-template>
				</p-column>
				<p-column field="descripcion" i18n-header header="Descripción">
					<ng-template let-categoria="rowData" pTemplate="body">
						<span>{{categoria.descripcion}}</span>
					</ng-template>
				</p-column>
				<p-column [style]="{'width':'60px'}" *ngIf="escritura && escrituraPremio && premio.indEstado !='A'" styleClass="col-button">
					<ng-template let-categoria="rowData" pTemplate="body">
						<button type="button" pButton (click)="categoriaSeleccionada(categoria.idCategoria)" icon="ui-icon-delete"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<!--Se muestra este mensaje si no existen clientes-->
			<div *ngIf="listaTotalVacia && asignar  && !cargandoTotal">
				<label i18n>No existen categorías en el sistema</label>
			</div>

			<div *ngIf="!listaTotalVacia && asignar  && !cargandoTotal">
				<p-dataTable [value]="listaTotalCategorias" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecordsTotal"(onLazyLoad)="loadDataTotal($event)">
					<p-header i18n>
						Lista de Categorías disponibles
					</p-header>
					<p-column [style]="{'width':'130px'}" field="imagen" i18n-header header="Imagen">
						<ng-template let-categoria="rowData" pTemplate="body">
							<img class="cp-round" width="110" height="110" src="{{categoria.imagen}}">
						</ng-template>
					</p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-categoria="rowData" pTemplate="body">
							<span>{{categoria.nombre}}</span>
						</ng-template>
					</p-column>
					<p-column field="descripcion" i18n-header header="Descripción">
						<ng-template let-categoria="rowData" pTemplate="body">
							<span>{{categoria.descripcion}}</span>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'60px'}" *ngIf="escritura && escrituraPremio && premio.indEstado !='A'" styleClass="col-button">
						<ng-template let-categoria="rowData" pTemplate="body">
							<button type="button" pButton (click)="asignarCategoriaPremio(categoria.idCategoria)" icon="ui-icon-add"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerCategoriaPremio()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>