<div class="ui-g ui-fluid">
    <div class="ui-g-12 card">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-4">
                <h3 i18n class="sub-heading-detalle">Historial de Premios</h3>
            </div>
            <div class="ui-g-12 ui-md-6">

            </div>
            <div class="ui-g-12 ui-md-2">
                <label i18n><strong>Período:</strong></label>
                <p-dropdown [options]="periodos" [(ngModel)]="indPeriodo" (onChange)="obtenerActividad()"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <p-dataTable #dt exportFilename="actividad_premios" [value]="listaActividades" [rows]="20" [paginator]="true">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <div class="ui-g-10"></div>
                        <div class="ui-g-2">
                            <button pButton icon="ui-icon-file-download" iconPos="left" i18n-label label="Exportar a CSV" (click)="dt.exportCSV()"
                                style="float:left"></button>
                        </div>
                    </div>
                </p-header>
                <p-column field="nombreElemento" i18n-header header="Premio" sortable="true"></p-column>
                <p-column field="nombreMiembro" i18n-header header="Miembro" sortable="true"></p-column>
                <p-column field="indTipo" i18n-header header="Tipo" sortable="true">
                    <ng-template let-evento="rowData" pTemplate="body">
                        <!--  REDIMIO_PREMIO("J"), RECIBIO_PREMIO("K") -->
                        <div style="text-align:center">
                            <span i18n *ngIf="evento.indTipo=='J'">Premio Redimido</span>
                            <span i18n *ngIf="evento.indTipo=='K'">Premio Recibido</span>
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                    <ng-template let-evento="rowData" pTemplate="body">
                        <div style="text-align:center">
                            <span>{{evento.fecha|date:'short'}}</span>
                        </div>
                    </ng-template>
                </p-column>
                <p-column header="">
                    <ng-template let-evento="rowData" pTemplate="body">
                        <div style="text-align:center">
                            <button style="width:auto" pButton (click)="gotoMiembro(evento.idMiembro)" i18n-label label="Ir a Miembro" *ngIf="lecturaMiembro"></button>
                            <button style="width:auto" pButton (click)="gotoPremio(evento.idElemento)" i18n-label label="Ir a Premio"></button>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>