<div class="container">
    <div class="col-sm-12 col-md-8 col-offset-md-2">
        <form #form="ngForm">
            <div class="form-group has-feedback" [ngClass]="{'has-success': !email.pristine&&email.valid, 'has-error': !email.pristine&&!email.valid}"
                *ngIf="respuestaok==false;">
                <h1 i18n>Password Reset</h1>
                <p i18n>Please provide us with the email address associated with your account:</p>
                <label for="txtemail" i18n>Email:</label>
                <input type="text" name="email" class="form-control" id="txtemail" [(ngModel)]="request.email" #email="ngModel" required>
                <span id="emailHLP" *ngIf="!email.pristine&&!email.valid" class="help-block" i18n>Email is required</span>
            </div>
            <div *ngIf="respuestaok==true;">
                <h1 i18n>Request Sent</h1>
                <p i18n>We are going to send an automated email to your email account with further instructions.</p>
            </div>
            <button type="submit" class="btn btn-success pull-right" (click)="resetPassword()" [disabled]="!form.valid" i18n *ngIf="respuestaok==false;">Send</button>
        </form>
    </div>