<div class="container">
    <div class="col-sm-12 col-md-8 col-offset-md-2">
        <form [formGroup]="form" novalidate>
            <h1 i18n>Crear una nueva contraseña</h1>
            <p i18n>Longitud mínima 8 caracteres, debe contener mayúsculas, minúsculas, números y al menos un caracter especial (!@#$%^&*)</p>
            <p i18n>Por favor ingrese su nueva contraseña:</p>
            <!-- [ngClass]="{'has-success': !pwd.pristine&&pwd.valid, 'has-error': !pwd.pristine&&!pwd.valid}" -->
            <div class="form-group has-feedback" *ngIf="respuestaok==false;">
                <label for="txtemail" i18n>Contraseña:</label>
                <input type="password" name="password" [(ngModel)]="pwd" class="form-control" required formControlName="password" [formGroup]="form">
                <!-- <span *ngIf="!form.controls.password.pristine&&form.controls.password.empty" class="help-block" i18n>Password confirmation is Required</span> -->
            </div>
            <div class="form-group has-feedback" *ngIf="respuestaok==false;">
                <label for="txtemail" i18n>Confirmar contraseña:</label>
                <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="pwdconfirm" required formControlName="confirmPassword"
                    [formGroup]="form">
                <!-- <span *ngIf="!form.controls.confirmPassword.pristine&&form.controls.confirmPassword.invalid" class="help-block" i18n>Password confirmation is Required</span> -->
            </div>
            <div *ngIf="respuestaok==true;">
                <h1 i18n>Solicitud enviada</h1>
                <p i18n>Su contraseña ha sido cambiada correctamente.</p>
            </div>
            <div class="alert alert-danger" *ngIf="!form.controls.confirmPassword.pristine&&form.controls.confirmPassword.errors?.MatchPassword">Las contraseñas no coinciden</div>
            <button type="submit" class="btn btn-success pull-right" (click)="requestPasswordReset()" [disabled]="!form||!form.valid" i18n *ngIf="respuestaok==false;">Enviar</button>
        </form>
    </div>