<div class="ui-g ui-fluid ">
  <div class="ui-g-12">
      <div class="ui-g-12">
        <h2 i18n>Despliegue de la oferta</h2>
      </div>
      <form [formGroup]="form">

        <div class="ui-g-12 ui-md-10 input-spacing" *ngIf="promo.imagenArte">
          <img [src]="file_src" class="img-forms img-border" />
        </div>
        <div class="ui-g-12 ui-md-10 input-spacing" *ngIf="!promo.imagenArte">
          <img src="/resources/img/loading_icon.gif" class="img-forms img-border"/>
          <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
        </div>
        <div class="ui-g-12 input-spacing">
          	<input class="upload" id="fileAvatar" name="fileAvatar" type="file"  #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
						<label for="fileAvatar" i18n>Seleccione un archivo</label>
        </div>
        <div class="ui-g-12 input-spacing">
          <div class="md-inputfield">
            <input id="encabezado" type="text" pInputText [(ngModel)]="promo.encabezadoArte" formControlName="encabezado" />
            <label for="encabezado" i18n>Encabezado</label>
          </div>
        </div>
        <div class="ui-g-12 input-spacing">
          <div class="md-inputfield">
            <input id="sub-encabezado" type="text" pInputText [(ngModel)]="promo.subencabezadoArte" formControlName="sub-encabezado"/>
            <label i18n>Sub encabezado</label>
          </div>
        </div>
        <div class="ui-g-12 input-spacing ">
          <div class="md-inputfield">
            <textarea id="detalle" i18n-placeholder placeholder="Texto del arte" pInputTextarea [(ngModel)]="promo.detalleArte" formControlName="detalle"></textarea>
          </div>
        </div>
      </form>
    <div class="ui-g-12 ui-md-10">
        <img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen"/>
    </div>
    <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="tienePermisosEscritura">
      <button pButton i18n-label label=Guardar type="button" class="green-btn" icon="ui-icon-save" (click)="guardarDatos()"></button>
    </div>
  </div>

</div>