 <form #form="ngForm">
	<div class="ui-g ui-fluid">
		   
                <div class="ui-g-12 ui-lg-12">
                    <h4 i18n>Datos generales de la promoción</h4>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="nombrePromo" i18n>Nombre</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <input required #nombrePromo="ngModel" pInputText id="nombrePromo" name="nombrePromo" type="text" [(ngModel)]="promo.nombre" 
                    (blur)="establecerNombres();validarNombre()" (keyup)="establecerNombres()">
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="nombreInterno" i18n>Nombre interno</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <input pInputText #nombreInterno="ngModel" id="nombreInterno" name="nombreInterno" type="text" [(ngModel)]="promo.nombreInterno" (blur)="validarNombre()">
                </div>
                <div *ngIf="nombreExiste">
                    <ng-container i18n>*Este nombre ya existe</ng-container>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="descPromo" i18n>Descripción</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <input pInputText #descPromo="ngModel" id="descPromo" name="descPromo" type="text" [(ngModel)]="promo.descripcion">
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="tags" i18n>tags</label>
                </div>
                
                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <p-chips #chTags="ngModel" [(ngModel)]="tags" name="tags" ></p-chips>
                    <!--<input pInputText id="tags" <div class="ui-g-12 ui-md-12 ui-lg-10" *ngIf="promo.indTipoAccion" >
                    <input pInputText id="valorCodigo" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo" >
                </div>name="tags" type="text" min="1" [(ngModel)]="promo.tags" formControlName="tags">-->
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2">
                    <label for="urlOrCodigo" i18n>Tipo de Acción</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-10" >
                    <p-dropdown #urlOrCodigo="ngModel" [options]="itemsCodigo" [autoWidth]="false" id="urlOrCodigo" name="urlOrCodigo" [(ngModel)]="promo.indTipoAccion"
                        ></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2" *ngIf="promo.indTipoAccion" >
                    <label for="urlOrCodigo" i18n>Valor de Url o Código</label>
                </div>

                 <!--
                    A-URL
                    B-Código QR
                    C-ITF
                    D-EAN
                    E-Code 128
                    F-Code 39
                -->
                <div class="ui-g-12 ui-md-12 ui-lg-10" *ngIf="promo.indTipoAccion">
                    <div [ngSwitch]="promo.indTipoAccion">
                        <input pInputText id="valorCodigo" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo"
                            *ngSwitchCase="'A'" required>
                        <input pInputText id="valorCodigo" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo"
                            *ngSwitchCase="'B'" required>
                        <input pInputText id="valorCodigo" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo"
                            *ngSwitchCase="'C'" required>
                        <input pInputText id="valorCodigo" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo"
                            *ngSwitchCase="'D'" required>
                        <input pInputText id="valorCodigo" pattern="[A-Z0-9-+*$/%. ]{1,300}$" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo"
                            *ngSwitchCase="'E'" required>
                        <input pInputText id="valorCodigo" pattern="[A-Z0-9-+*$/%. ]{1,300}$" name="valorCodigo" #valorCodigo="ngModel" type="text" [(ngModel)]="promo.urlOrCodigo"
                            *ngSwitchCase="'F'" required> <!--[A-Z0-9-+*\s]{1,300}$-->
                        <div *ngSwitchDefault></div>
                    </div>
                </div>
              
           
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="tienePermisosEscritura">
			<div class="ui-g-12 ui-md-2 ui-lg-2">
			</div>
			<div class="ui-g-12 ui-md-8 ui-lg-8">
			</div>
			<div class="ui-g-12 ui-md-2 ui-lg-2">
				<button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" (click)="actualizarPromo()" [disabled]="!form.valid"></button>
			</div>
		</div>
	</div>

</form>