<div class="ui-g ui-fluid">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12">
				<div class="ui-g-12 ui-md-10">
					<h2 class="input-spacing" i18n> Listado de categorías asociadas a la promoción</h2>
				</div>
				<div class="ui-g-12 ui-md-2">
					<button pButton *ngIf="tienePermisosEscritura" i18n-label label="Agregar" icon="ui-icon-add" (click)="displayModalInsertar()"></button></div>
			</div>
			<div class="ui-g-12 wrapper-spacing">
				<div *ngIf="categorias.length==0">
					<div style="background: #2196F3; font-size: x-small; color: white;">
                        <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                        	<i class="material-icons">information</i>
                        </div>
                        <div class="ui-g-8 ui-md-7 ui-lg-7">
                        	<label i18n>Aún no hay categorías asociadas a esta promoción.</label>
                        </div>
                    </div>
					<!--<p-messages [value]="[{severity:'info', summary:'', detail:'Aún no hay categorías asociadas a esta promoción'}]"></p-messages>-->
				</div>

				<p-dataList [value]="categorias" [paginator]="true" [rows]="10" *ngIf="categorias.length>0">
					<p-header i18n> Listado de categorías </p-header>
					<ng-template let-categoria pTemplate="item">
						<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
							<div class="ui-grid-row">
								<div class="ui-grid-col-2" style="text-align:center">
									<img width="70" height="70" [src]="categoria.imagen">
								</div>
								<div class="ui-grid-col-8">
									<div class="ui-grid ui-grid-responsive ui-fluid">
										<div class="ui-grid-row">
											<div class="ui-grid-col-4"><ng-container i18n>Nombre: </ng-container></div>
											<div class="ui-grid-col-8">{{categoria.nombre}}</div>
										</div>

										<div class="ui-grid-row">
											<div class="ui-grid-col-4"><ng-container i18n>Descripción:</ng-container> </div>
											<div class="ui-grid-col-8">{{categoria.descripcion}}</div>
										</div>
										<div class="ui-grid-row">
											<div class="ui-grid-col-4"><ng-container i18n>Nombre Interno: </ng-container></div>
											<div class="ui-grid-col-8">{{categoria.nombreInterno}}</div>
										</div>
									</div>
								</div>
								<div class="ui-grid-col-2">
									<button type="button" *ngIf="tienePermisosEscritura" class="pull-right" pButton icon="ui-icon-delete" (click)="revocarCategoria(categoria)"></button>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
	</div>

	<p-dialog i18n-label header="Agregar Categoría" [(visible)]="displayInsertar" showEffect="fade" [responsive]="true" [modal]="true">
		<div class="ui-g-12 ui-md-12">
			<div class="ui-g form-group">
		<div class="ui-g-12 ui-md-12" *ngIf="listaVacia">
			<p-messages [value]="[{severity:'info', summary:'', detail:'No hay categorías disponibles para insertar'}]"></p-messages>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="!listaVacia">
		<p-dataList [value]="categoriasDisponibles" [paginator]="true" [rows]="5" *ngIf="categoriasDisponibles.length>0">
			<p-header i18n> Listado de categorías </p-header>
			<ng-template let-categoria pTemplate="item">
				<div class="clearfix listBorder">
					<div class="ui-grid-row">
						<div class="ui-g-3" style="text-align:center">
							<img width="70" height="70" [src]="categoria.imagen">
						</div>
						<div class="ui-g-7">
							<div class="ui-g-12">
								
									<div class="ui-grid-col-4"><ng-container i18n>Nombre: </ng-container></div>
									<div class="ui-grid-col-8">{{categoria.nombre}}</div>
								</div>

								<div class="ui-g-12">
									<div class="ui-grid-col-4"><ng-container i18n>Descripción: </ng-container></div>
									<div class="ui-grid-col-8">{{categoria.descripcion}}</div>
								</div>
								<div class="ui-g-12">
									<div class="ui-grid-col-4"><ng-container i18n>Nombre Interno:</ng-container> </div>
									<div class="ui-grid-col-8">{{categoria.nombreInterno}}</div>
								</div>
							</div>
						<div class="ui-g-2">
							<button type="button" *ngIf="tienePermisosEscritura" class="pull-right" pButton icon="ui-icon-add" (click)="asociarCategoria(categoria)"></button>
						</div>
					</div>
				</div>
			</ng-template>
		</p-dataList>
		</div>
		</div>
		</div>
	</p-dialog>