<div class="card card-w-title">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-1">
			<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
		</div>
		<div class="ui-g-12 ui-md-9">
			<div class="heading-detalle"> {{categoria.nombre}} </div>
			<div class="sub-heading-detalle"> <ng-container i18n>Categoría de Promoción</ng-container> </div>
		</div>
	</div>
</div>
<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div *ngIf="!displayPromociones">
                <div class="wrapper-spacing">
                    <form [formGroup]="form">
                        <div class="ui-g-10 ">
                            <h2 class="input-spacing" i18n> Detalle de Categoría</h2>
                        </div>
                        <div class="ui-g-2 ">
                            <button pButton i18n-label label="Promociones asociadas" (click)="displayPromociones=true" style="display: inline-block"></button>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-6">
                            <!--Imagen que representa a la categoría-->
                            <div class="ui-g-12 ui-md-12">
                                <img src='{{ file_src }}' alt="" class="cp-insert cp-round" *ngIf="file_src" />
                                <p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="escritura">
                                <input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg, image/jpeg, image/png">
                                <label for="fileAvatar" i18n>Seleccione un archivo</label>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-5 ui-lg-3">
                                <label for="nombreCategoria" i18n><strong>Nombre</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-6">
                                <input id="nombreCategoria" pInputText name="nombreCategoria" type="text" [(ngModel)]="categoria.nombre" formControlName="nombre"
                                    (blur)="establecerNombres();">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-5 ui-lg-3">
                                <label for="nombreInternoCategoria" i18n><strong>Nombre interno</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-6">
                                <input id="nombreInternoCategoria" (blur)="verificarNombreInterno()" pInputText name="nombreInternoCategoria" type="text"
                                    [(ngModel)]="categoria.nombreInterno" formControlName="nombreInterno">
                            </div>
                            <div *ngIf="nombreExiste&&form.get('nombreInterno').touched">
                                <span class="badge alert-danger" i18n>*Este nombre de categoría ya existe</span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-12 ui-md-5 ui-lg-3">
                                <label for="descripcionCategoria" i18n><strong>Descripción</strong></label>
                            </div>
                            <div class="ui-g-12 ui-md-8 ui-lg-6">
                                <input id="descripcionCategoria" name="descripcionCategoria" type="text" pInputText [(ngModel)]="categoria.descripcion" formControlName="descripcion">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ui-g-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-10" ></div>
                    <div class="ui-g-12 ui-md-2">
                        <button id="btnAceptar" name="btnAceptar" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!form.valid" (click)="editarCatetoria()"></button>
                    </div>
                </div>
            </div>
            <div *ngIf="displayPromociones">
                <div class="wrapper-spacing">
                    <div class="ui-g-10">
                        <h2 class="input-spacing" i18n> Promociones asociadas a esta categoría</h2>
                    </div>
                    <div class="ui-g-2">
                        <button pButton i18n-label label="Detalle de categoría" (click)="displayPromociones=false" style="display: inline-block"></button>
                    </div>
                    <div class="ui-g-12" *ngIf="promociones.length<=0">
                        <div style="background: #2196F3; font-size: x-small; color: white;">
                            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                                <i class="material-icons">information</i>
                            </div>
                            <div class="ui-g-8 ui-md-7 ui-lg-7">
                                <label i18n>Aún no hay promociones asociadas a esta categoría.</label>
                            </div>
                        </div>
                        <!--<p-messages [value]="[{severity:'info', summary:'', detail:'Aún no hay promociones asociadas a esta categoría'}]"></p-messages>-->
                    </div>
                    <p-dataList class="ui-g-12" [value]="promociones" [paginator]="true" *ngIf="promociones.length>0" [rows]="10">
                        <p-header i18n> Promociones asociadas a la categoria</p-header>
                        <ng-template let-promo pTemplate="item">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2" style="text-align:center">
                                        <img [src]="promo.imagenArte" class="img-lists img-border">
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4"><ng-container i18n>Nombre: </ng-container></div>
                                                <div class="ui-grid-col-8">{{promo.nombre}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4"><ng-container i18n>Descripción: </ng-container></div>
                                                <div class="ui-grid-col-8">{{promo.descripcion}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4"><ng-container i18n>Nombre Interno: </ng-container></div>
                                                <div class="ui-grid-col-8">{{promo.nombreInterno}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4"><ng-container i18n>Tags: </ng-container></div>
                                                <div class="ui-grid-col-8">{{promo.tags}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="gotoDetailPromo(promo)"></button>
                                        <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="mostrarModalEliminarPromo(promo)" *ngIf="permisoEcrituraPromo"></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataList>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
               <ng-container i18n>¿Está seguro que desea revocar esta promoción de la categoría?</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
		<button type="button" pButton i18n-label label="Cerrar" icon="ui-icon-close" (click)="displayModalEliminar=false"></button>
        <button type="button" pButton i18n-label label="Revocar" icon="ui-icon-remove" (click)="eliminarPromo()"></button>
    </p-footer>
</p-dialog>