<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-12">
            <h3 i18n class="sub-heading-detalle">Historial de Actividad</h3>
        </div>
        <div class="ui-g-12 ui-md-4">
            <div class="ui-g-12 ui-md-4"> <label i18n><strong>Períodos:</strong></label></div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown [options]="periodos" [(ngModel)]="indPeriodo" (onChange)="obtenerActividad()"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <p-dataTable #dt exportFilename="{{promocion.idPromocion}}_actividad" [value]="listaActividades" [rows]="20" [paginator]="true">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g-10"></div>
                    <div class="ui-g-2">
                        <button pButton icon="fa-file-o" iconPos="left" i18n-label label="Exportar a CSV" (click)="dt.exportCSV()" style="float:left"></button>
                    </div>
                </div>
            </p-header>
            <p-column field="nombreMiembro" i18n-header header="Miembro"  sortable="true"></p-column>
            
            <p-column field="indTipo" i18n-header header="Tipo" sortable="true" >
                <ng-template let-evento="rowData" pTemplate="body">
                <div style="text-align:center">
                    <span i18n *ngIf="evento.indTipo=='G'">Vió Promoción</span>
                    <span i18n *ngIf="evento.indTipo=='H'">Marcó Promoción</span>
                </div>
                </ng-template>
            </p-column>
            <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                <ng-template let-evento="rowData" pTemplate="body">
                    <div style="text-align:center">
                    <span>{{evento.fecha|date:'short'}}</span>
                    </div>
                </ng-template>
            </p-column>
            <p-column header="" *ngIf="lecturaMiembro">
                <ng-template let-evento="rowData" pTemplate="body">
                     <div style="text-align:center">
                        <button style="width:auto" pButton (click)="gotoDetail(evento.idMiembro)" i18n-label label="Ir a Miembro"></button>
                     </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>