<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12">
			<div class="ui-g-3 ui-md-1">
            	<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
            </div>
			<div class="ui-g-12 ui-md-8">
				<div class="ui-g-12">
					<div class="heading-detalle">{{promo.nombre}}</div>
				</div>
				<div class="ui-g-12">
					<div class="sub-heading-detalle"><ng-container i18n>Promoción</ng-container></div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-3">
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div (click)="opA.show($event)" class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado, 'cbx-6': inactivo}">
							<div class="ui-g-4">
								<i class="material-icons">check</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado:</span>
								<ng-container [ngSwitch]="promo.indEstado">
									<span class="count" *ngSwitchCase="'A'" i18n>Publicado</span>
									<span class="count" *ngSwitchCase="'B'" i18n>Archivado</span>
									<span class="count" *ngSwitchCase="'D'" i18n>Inactivo</span>
									<span class="count" *ngSwitchCase="'C'" i18n>Borrador</span>
								</ng-container>
							</div>
						</div>
					</div>
					<p-overlayPanel #opA>
						<div class="ui-g ui-fluid" style="width:260px">
							<div style="margin:10px 5px 10px 10px">
								<h3 class="input-spacing" *ngIf="promo.indEstado =='A'" i18n><strong>Promoción activa</strong></h3>
								<h3 class="input-spacing" *ngIf="promo.indEstado =='C'" i18n><strong>Promoción borrador</strong></h3>
												
							<div class="ui-g-12">
								<label for="tipo" i18n>Tipo:</label>
							</div>
							<div class="ui-g-12">
								<p-dropdown id="tipo" (onChange)="onChangeDropCalendarizacion($event)" [autoWidth]="false" [options]="itemsCalendarizacion"
									[(ngModel)]="promo.indCalendarizacion"></p-dropdown>
							</div>
							<div *ngIf="promo.indCalendarizacion=='P'">
								<ng-container i18n>Activada de forma permanente</ng-container>
							</div>
							<div *ngIf="promo.indCalendarizacion=='C'">
								<div class="ui-g-12">
									<label for="finicio" i18n>Fecha de inicio:</label>
								</div>
								<div class="ui-g-12" style="width:220px;">
									<p-calendar id="finicio" [showIcon]="true" readonlyInput="true" (onSelect)="promo.fechaInicio = fecInicio" [(ngModel)]="fecInicio" [minDate]="minDate" [locale]="es"
										[showTime]="true" dateFormat="dd/mm/yy"></p-calendar>
								</div>
								<div class="ui-g-12">
									<label for="ffin" i18n>Fecha de fin:</label>
								</div>
								<div class="ui-g-12" style="width:220px;">
									<p-calendar id="ffin" [showIcon]="true" readonlyInput="true" (onSelect)="promo.fechaFin= fecFin" [(ngModel)]="fecFin" [minDate]="fecInicio" [locale]="es"
										[showTime]="true" dateFormat="dd/mm/yy"></p-calendar>
								</div>
								<div class="ui-g-12">
									<p-checkbox [(ngModel)]="isRecurrente" (onChange)="onChangeRecurrencia()" binary="true" i18n-label label="Recurrente"></p-checkbox>
								</div>
								<div class="ui-g-12" *ngIf="isRecurrente==1">
									<div class="ui-grid ui-grid-responsive" style="margin-bottom:10px">
										<div class="ui-grid-row">
											<fieldset>
												<legend i18n>Días:</legend>
												<div class="ui-grid-col-6">
													<div class="ui-g-12">
														<p-checkbox name="dias" value="L" i18n-label label="Lunes" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
													<div class="ui-g-12">
														<p-checkbox name="dias" value="K" i18n-label label="Martes" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
													<div class="ui-g-12">
														<p-checkbox name="dias" value="M" i18n-label label="Miércoles" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
													<div class="ui-g-12">
														<p-checkbox name="dias" value="J" i18n-label label="Jueves" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
												</div>
												<div class="ui-grid-col-6">
													<div class="ui-g-12">
														<p-checkbox name="dias" value="V" i18n-label label="Viernes" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
													<div class="ui-g-12">
														<p-checkbox name="dias" value="S" i18n-label label="Sábado" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
													<div class="ui-g-12">
														<p-checkbox name="dias" value="D" i18n-label label="Domingo" [(ngModel)]="diasSeleccionados"></p-checkbox>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
									<div class=" ui-grid ui-grid-responsive" style="width:250px;margin-bottom:10px">
										<div class="ui-grid-row">
											<fieldset>
												<legend i18n>Intervalo de semanas:</legend>
												<div class="ui-grid-col-12">
													<div class="ui-g-12">
														<input type="number" pInputText [(ngModel)]="promo.indSemanaRecurrencia" i18n-placeholder placeholder="Intervalo">
													</div>
												</div>
												
											</fieldset>
										</div>
									</div>
								</div>
							</div>
							<div class="ui-g-12" *ngIf="promo.indEstado != 'B' && promo.indEstado != 'A' && tienePermisosEscritura">
								<button pButton i18n-label label="Publicar" class="green-btn" (click)="publicarPromocion(); opA.hide()" icon="ui-icon-check"></button>
							</div>
							 <div class="ui-g-12" *ngIf="promo.indEstado =='C' && tienePermisosEscritura">
                                <button pButton i18n-label label="Eliminar" class="red-btn" (click)="displayModalEliminar=true; opA.hide()" icon="ui-icon-delete"></button>
                            </div>
							<div class="ui-g-12" *ngIf="promo.indEstado =='A' && tienePermisosEscritura">
								<button pButton class="red-btn" style="margin-top:10px" i18n-label label="Archivar" icon="ui-icon-archive" (click)="displayModalArchivar=true; opA.hide()"></button>
							</div>
							<div class="ui-g-12" *ngIf="promo.indEstado =='A' && tienePermisosEscritura">
								<button pButton class="orange-btn" style="margin-top:10px" i18n-label label="Inactivar" icon="ui-icon-stop" (click)="displayModalArchivar=true; opA.hide()"></button>
							</div>
						</div>
						</div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
</div>
<div class="ui-toolbar">
	<div class="ui-g ui-fluid">
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" [routerLink]="rtCommon" [routerLinkActive]="['ruta-activada']"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-brush" i18n-label label="Despliegue" [routerLink]="rtArte" [routerLinkActive]="['ruta-activada']"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-group" i18n-label label="Audiencia" [routerLink]="rtElegibles" [routerLinkActive]="['ruta-activada']"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-poll" i18n-label label="Dashboard" [routerLink]="rtAlcance" [routerLinkActive]="['ruta-activada']"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Actividad" [routerLink]="rtActividad" [routerLinkActive]="['ruta-activada']"></button>
		</div>
		<div class="ui-g-6 ui-md-2 ui-lg-2">
			<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Categorías" [routerLink]="rtCategoria" [routerLinkActive]="['ruta-activada']"></button>
		</div>
	</div>
</div>

<div class="card">
	<router-outlet></router-outlet>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalArchivar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>Está seguro que desea archivar la promoción?</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Archivar" (click)="arhivarPromo()" icon="ui-icon-trash"></button>
		<button type="button" pButton i18n-label label="Cancelar" (click)="displayModalArchivar=false" icon="ui-icon-close"></button>
	</p-footer>
</p-dialog>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea eliminar la promoción?</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Cancelar" (click)="displayModalEliminar=false" icon="ui-icon-close"></button>
		<button type="button" pButton i18n-label label="Eliminar" (click)="eliminarPromo()" icon="ui-icon-trash"></button>        
	</p-footer>
</p-dialog>