<div class="ui-g ui-fluid ">
	<div class="ui-g-12">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<h2 i18n>Definición de elegibles de la promoción</h2>
		</div>

		<div class="ui-g-12 ui-md-2 ui-lg-2">
			<div>
				<ng-container i18n>Mostrar:</ng-container>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-4">
			<p-dropdown [autoWidth]="false" [options]="itemsIndComponente" id="selectIndComponente" name="selectIndComponente" [(ngModel)]="indComponente"
			 (onChange)="listarElegiblesPromo()"></p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-4">
			<p-dropdown [autoWidth]="false" [options]="itemstindSegmentos" id="selectindSegmentos" name="selectindSegmentos" [(ngModel)]="indExclusion"
			 (onChange)="listarElegiblesPromo()"></p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-2" *ngIf="!displayInsertar&&tienePermisosEscritura">
			<span *ngIf="indExclusion=='E'">
                    <button pButton icon="ui-icon-clear" i18n-label label="Excluir" (click)="listarElementosDisponibles()"></button>
            </span>
			<span *ngIf="indExclusion=='I'">
                     <button pButton icon="ui-icon-add" i18n-label label="Incluir" (click)="listarElementosDisponibles()"></button>
            </span>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-2" *ngIf="displayInsertar">
			<button pButton i18n-label label="Volver" (click)="displayInsertar=!displayInsertar;listarElegiblesPromo()" icon="ui-icon-arrow-back"></button>
		</div>
		<div class="ui-g-12" *ngIf="!displayInsertar&&((indComponente=='S'&&listaSegmentos&&listaSegmentos.length==0)||(indComponente=='M'&&listaMiembros&&listaMiembros.length==0)||(indComponente=='U'&&listaUbicaciones&&listaUbicaciones.length==0))">
			<p-messages [closable]="false" [value]="[{severity:'info', summary:'Info:', detail:'Aun no hay datos'}]"></p-messages>
		</div>

		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!displayInsertar&&((indComponente=='S'&&!listaSegmentos)||(indComponente=='M'&&!listaMiembros)||(indComponente=='U'&&!listaUbicaciones))">
			<div class="ui-g-5"></div>
			<div class="ui-g-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
			<div class="ui-g-5"></div>
		</div>
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!displayInsertar&&!((indComponente=='S'&&listaSegmentos.length==0)||(indComponente=='M'&&listaMiembros.length==0)||(indComponente=='U'&&listaUbicaciones.length==0))">
			<div *ngIf="indComponente=='S'">
				<p-dataTable [value]="listaSegmentos" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
					<p-header i18n-header>Lista de segmentos </p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="nombre" i18n-header header="Nombre"></p-column>
					<p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
					<p-column field="descripcion" i18n-header header="Descripción"></p-column>
					<p-column field="tags" i18n-header header="Tags"></p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="tienePermisosEscritura">
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-clear" (click)="eliminarListaSegmento()"></button>
						</ng-template>
						<ng-template let-segmento="rowData" pTemplate="body">
							<button icon="ui-icon-clear" pButton (click)="eliminarSegmento(segmento)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
			<div *ngIf="indComponente=='U'">
				<p-dataTable [value]="listaUbicaciones" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
					<p-header i18n-header>Lista de ubicaciones </p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="nombre" i18n-header header="Nombre"></p-column>
					<p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
					<p-column field="direccion" i18n-header header="Dirección"></p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="tienePermisosEscritura">
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-clear" (click)="eliminarListaUbicacion()"></button>
						</ng-template>
						<ng-template let-ubicacion="rowData" pTemplate="body">
							<button icon="ui-icon-clear" pButton (click)="eliminarUbicacion(ubicacion)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
			<div *ngIf="indComponente=='M'">
				<p-dataTable [value]="listaMiembros" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleEliminar" [globalFilter]="gb">
					<p-header i18n-header>Lista de miembros </p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.nombre}} {{miembro.apellido}}</span>
						</ng-template>
					</p-column>
					<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
					<p-column field="correo" i18n-header header="Usuario/Correo">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.correo}}</span>
						</ng-template>
					</p-column>
					<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="tienePermisosEscritura">
						<ng-template pTemplate="header">
							<button type="button" pButton icon="ui-icon-delete" (click)="eliminarListaMiembro()"></button>
						</ng-template>
						<ng-template let-miembro="rowData" pTemplate="body">
							<button type="button" pButton icon="ui-icon-delete" (click)="eliminarMiembroListas(miembro)"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
		<!--Seccion para agregar segmentos, ubicaciones y miembros a elegibles de la promo-->
		<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayInsertar">
			<div class="ui-g ui-fluid">
				<!--<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-8 ui-md-8 ui-lg-8">
							<input type="text" placeholder="Búsqueda..." pInputText [(ngModel)]="busquedaDisponibles">
						</div>
						<div class="ui-g-4 ui-md-4 ui-lg-4">
							<button pButton label="Buscar" icon="ui-icon-edit" (click)="listarElementosDisponibles()" type="button"></button>
						</div>
					</div>-->

				<!--si el componente es m-->
				<div *ngIf="indComponente=='M'">
					<div class="ui-g-12" *ngIf="!listaMiembrosDisponibles">
						<div class="ui-g-5"></div>
						<div class="ui-g-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
						<div class="ui-g-5"></div>
					</div>


					<p-dataTable *ngIf="listaMiembrosDisponibles&&listaMiembrosDisponibles.length>0" [value]="listaMiembrosDisponibles" [paginator]="true"
					 [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
						<p-header i18n-header>Lista de clientes disponibles</p-header>
						<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
						<p-column field="nombre" i18n-header header="Nombre">
							<ng-template let-miembro="rowData" pTemplate="body">
								<span>{{miembro.nombre}} {{miembro.apellido}}</span>
							</ng-template>
						</p-column>
						<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
						<p-column field="correo" i18n-header header="Usuario/Correo">
							<ng-template let-miembro="rowData" pTemplate="body">
								<span>{{miembro.correo}}</span>
							</ng-template>
						</p-column>
						<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="tienePermisosEscritura">
							<ng-template pTemplate="header">
								<div *ngIf="indExclusion=='I'">
									<button type="button" pButton icon="ui-icon-add" (click)=" incluirListaMiembros()"></button>
								</div>
								<div *ngIf="indExclusion=='E'">
									<button type="button" pButton icon="ui-icon-add" (click)=" excluirListaMiembros()"></button>
								</div>
							</ng-template>
							<ng-template let-miembro="rowData" pTemplate="body">
								<div *ngIf="indExclusion=='I'">
									<button icon="ui-icon-add" pButton (click)="incluirMiembro(miembro)"></button>
								</div>
								<div *ngIf="indExclusion=='E'">
									<button icon="ui-icon-add" pButton (click)="excluirMiembro(miembro)"></button>
								</div>

							</ng-template>
						</p-column>
					</p-dataTable>
				</div>

				<!-- si el indicador de componente es segmentos-->
				<div *ngIf="indComponente=='S'">
					<div class="ui-g-12" *ngIf="!listaSegmentosDisponibles">
						<div class="ui-g-5"></div>
						<div class="ui-g-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
						<div class="ui-g-5"></div>
					</div>
					<p-dataTable *ngIf="listaSegmentosDisponibles&&listaSegmentosDisponibles.length>0 " [value]="listaSegmentosDisponibles" [paginator]="true"
					 [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
						<p-header i18n-header>Lista de clientes disponibles</p-header>
						<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
						<p-column field="nombre" i18n-header header="Nombre"></p-column>
						<p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
						<p-column field="descripcion" i18n-header header="Descripción"></p-column>
						<p-column field="tags" i18n-header header="Tags"></p-column>
						<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="tienePermisosEscritura">
							<ng-template pTemplate="header">
								<div *ngIf="indExclusion=='I'">
									<button type="button" pButton icon="ui-icon-add" (click)="incluirListaSegmentos()"></button>
								</div>
								<div *ngIf="indExclusion=='E'">
									<button type="button" pButton icon="ui-icon-clear" (click)="excluirListaSegmentos()"></button>
								</div>
							</ng-template>
							<ng-template let-segmento="rowData" pTemplate="body">
								<div *ngIf="indExclusion=='I'">
									<button type="button" icon="ui-icon-add" pButton (click)="incluirSegmento(segmento)"></button>
								</div>
								<div *ngIf="indExclusion=='E'">
									<button type="button" icon="ui-icon-clear" pButton (click)="excluirSegmento(segmento)"></button>
								</div>
							</ng-template>
						</p-column>
					</p-dataTable>
				</div>

				<!--si el indicador de componente es ubicaciones-->
				<!--<div *ngIf="indComponente=='U'">
					<p-dataTable [value]="listaUbicacionesDisponibles" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
						<p-header i18n-header>Lista de clientes disponibles</p-header>
						<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
						<p-column field="nombre" i18n-header header="Nombre"></p-column>
						<p-column field="nombreDespliegue" i18n-header header="Nombre Despliegue"></p-column>
						<p-column field="direccion" i18n-header header="Dirección"></p-column>
						<p-column [style]="{'width':'50px'}" styleClass="col-button" *ngIf="tienePermisosEscritura">
							<ng-template pTemplate="header">
								<div *ngIf="indExclusion=='I'">
									<button type="button" pButton icon="ui-icon-add" (click)="incluirListaUbicaciones()"></button>
								</div>
								<div *ngIf="indExclusion=='E'">
									<button type="button" pButton icon="ui-icon-clear" (click)="excluirListaUbicaciones()"></button>
								</div>
							</ng-template>
							<ng-template let-ubicacion="rowData" pTemplate="body">
								<div *ngIf="indExclusion=='I'">
									<button icon="ui-icon-add" pButton (click)="incluirUbicacion(ubicacion)"></button>
								</div>
								<div *ngIf="indExclusion=='E'">
									<button icon="ui-icon-clear" pButton (click)="excluirUbicacion(ubicacion)"></button>
								</div>
							</ng-template>
						</p-column>
					</p-dataTable>-->
			</div>
		</div>
	</div>
</div>

<p-dialog i18n-header header="Confirmar" [(visible)]="displayEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>Está seguro que desea eliminar este elemento? esta acción es irreversible.</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Cerrar" (click)="displayEliminar=false"></button>
		<button type="button" pButton i18n-label label="Ok" (click)="eliminarElemento()"></button>
	</p-footer>		
</p-dialog>