<div class="ui-g-12">
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Botón para regresar a la lista de categorías-->
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<h1 i18n>Nueva Categoría de Promoción</h1>
			</div>
		</div>
	</div>
</div>
<div class="ui-g-12">
	<div class="card">
		<div class="ui-g ui-fluid">
			<form [formGroup]="form">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h1 i18n>Datos de la Categoría</h1>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-6">
					<!--Imagen que representa a la categoría-->
					<div class="ui-g-12 ui-md-12">
						<img src='{{ file_src }}' alt="" class="cp-insert cp-round" *ngIf="file_src" />
						<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
					</div>
					<div class="ui-g-12 ui-md-12" *ngIf="tienePermisosEscritura">
						<input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg, image/jpeg, image/png">
						<label for="fileAvatar" i18n>Seleccione un archivo</label>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-5 ui-lg-3">
						<label for="nombreCategoria" i18n><strong>Nombre</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-6">
						<input id="nombreCategoria" pInputText name="nombreCategoria" type="text" [(ngModel)]="categoria.nombre" formControlName="nombre"
							(blur)="establecerNombres();">
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-5 ui-lg-3">
						<label for="nombreInternoCategoria" i18n><strong>Nombre interno</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-6">
						<input id="nombreInternoCategoria" (blur)="verificarNombreInterno()" pInputText name="nombreInternoCategoria" type="text"
							[(ngModel)]="categoria.nombreInterno" formControlName="nombreInterno" (blur)="verificarNombreInterno()">
					</div>
					<div *ngIf="!nombreValido&&form.get('nombreInterno').touched">
						<span class="badge alert-danger" i18n>*Este nombre de categoría ya existe</span>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-5 ui-lg-3">
						<label for="descripcionCategoria" i18n><strong>Descripción</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8 ui-lg-6">
						<input id="descripcionCategoria" name="descripcionCategoria" type="text" pInputText [(ngModel)]="categoria.descripcion" formControlName="descripcion">
					</div>
				</div>
				<div class="ui-g-12" *ngIf="tienePermisosEscritura">
					<div class="ui-g-12 ui-md-10"></div>
					<div class="ui-g-12 ui-md-2">
						<button id="btnAceptar" name="btnAceptar" pButton i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" [disabled]="!form.valid||!nombreValido"
							(click)="insertarCategoria()"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>