<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-10">
                <h1 i18n>Promociones</h1>
            </div>
            <div class="ui-g-12 ui-md-8 ui-lg-8">
                <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="this.listaPromos=null;cargarPromos()"
                    (onRemove)="this.listaPromos=null;cargarPromos()"></p-chips>
                <!--<input type="text" pInputText i18n-placeholder placeholder="Buscar promos..." [(ngModel)]="terminoBusqueda">-->
            </div>
            <div class="ui-g-12 ui-md-2">
                <p-splitButton i18n-label label="Buscar" icon="ui-icon-search" (click)="cargarPromos()" [model]="itemsBusqueda"></p-splitButton>
            </div>
            <div class="ui-g-12 ui-md-2" *ngIf="permisoEscritura">
                <button pButton type="button" i18n-label label="Agregar" icon="ui-icon-add" class="green-btn" [routerLink]="'/promociones/insertarPromo'"></button>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-lg-12 fade-in" *ngIf="busquedaAvanzada">
                    <div class="card shadow-box ui-shadow-2">
                        <div class="ui-g-12 ui-lg-2">
                            <ng-container i18n> Estado:</ng-container>
                        </div>
                        <div class="ui-g-12 ui-lg-2">
                            <p-checkbox value="A" i18n-label label="Mostrar Activas" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="estados"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-lg-2">
                            <p-checkbox value="C" i18n-label label="Mostrar Borrador" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="estados"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-lg-2">
                            <p-checkbox value="B" i18n-label label="Mostrar Archivadas" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="estados"></p-checkbox>
                        </div>
                        <div class="clearfix" style="margin-bottom: 20px"></div>
                    </div>
                    <div class="card shadow-box ui-shadow-2">
                        <div class="ui-g-6 ui-lg-2">
                            <ng-container i18n> Tipo:</ng-container>
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                            <p-checkbox value="A" i18n-label label="URL" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="tipos"></p-checkbox>
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                            <p-checkbox value="E" i18n-label label="Code 128" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="tipos"></p-checkbox>
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                            <p-checkbox value="F" i18n-label label="Code 39" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="tipos"></p-checkbox>
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                            <p-checkbox value="B" i18n-label label="QR" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="tipos"></p-checkbox>
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                            <p-checkbox value="C" i18n-label label="ITF" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="tipos"></p-checkbox>
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                        </div>
                        <div class="ui-g-6 ui-lg-2">
                            <p-checkbox value="D" i18n-label label="EAN" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="tipos"></p-checkbox>
                        </div>
                        <div class="clearfix" style="margin-bottom: 20px"></div>
                    </div>
                    <div class="card shadow-box ui-shadow-2">
                        <div class="ui-g-2 ui-lg-2">
                            <ng-container i18n> Atributos:</ng-container>
                        </div>
                        <div class="ui-g-2 ui-lg-2">
                            <p-checkbox value="nombre" i18n-label label="Nombre" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="camposFiltro"></p-checkbox>
                        </div>
                        <div class="ui-g-2 ui-lg-2">
                            <p-checkbox value="nombre-interno" i18n-label label="Nombre interno" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="camposFiltro"></p-checkbox>
                        </div>
                        <div class="ui-g-2 ui-lg-2">
                            <p-checkbox value="descripcion" i18n-label label="Descripción" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="camposFiltro"></p-checkbox>
                        </div>
                        <div class="ui-g-2 ui-lg-2">
                            <p-checkbox value="tags" i18n-label label="Tags" (onChange)="listaPromos=undefined;cargarPromos()" [(ngModel)]="camposFiltro"></p-checkbox>
                        </div>
                        <div class="clearfix" style="margin-bottom: 20px"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-12" *ngIf="listaPromos&&listaPromos.length<=0">
                <p-messages [value]="[{severity:'info', summary:'', detail:'No hay promociones disponibles'}]"></p-messages>
            </div>
            <div class="ui-g-12" *ngIf="!listaPromos">
                <div class="ui-g-5"></div>
                <div class="ui-g-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
                <div class="ui-g-5"></div>
            </div>
            <p-dataList class="ui-g-12 ui-lg-12" [value]="listaPromos" (onLazyLoad)="loadData($event)" [paginator]="true" *ngIf="listaPromos&&listaPromos.length>0"
                [rows]="cantRegistros" [lazy]="true" [totalRecords]="cantTotalRegistros">
                <p-header i18n> Listado de promociones </p-header>
                <ng-template let-promo pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <img [src]='promo.imagenArte' class="img-lists img-border" />
                            </div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{promo.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                        <div class="ui-grid-col-8">{{promo.descripcion}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre Interno: </strong></div>
                                        <div class="ui-grid-col-8">{{promo.nombreInterno}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Acción:</strong> </div>
                                        <div class="ui-grid-col-8">{{promo.indTipoAccion | promoTipoAccion}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-1">
                                <div class="ui-grid-row">
                                    <button type="button" pButton icon="ui-icon-edit" (click)="gotoDetail(promo)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>