<div class="card">
    <div class="ui-g ui-fluid wrapper-spacing">
        <div class="ui-g-12">
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-8 ui-lg-10">
                    <h2 class=" sub-heading-detalle input-spacing" i18n>Listado de Categorías</h2>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-2" *ngIf="escritura">
                    <button type="button" pButton icon="ui-icon-add" i18n-label label="Agregar" class="green-btn" [routerLink]="rutaInsertar"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="categorias.length<=0">
                <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay categorías disponibles'}]" [closable]="false"></p-messages>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="categorias.length>0">
                <p-dataList [value]="categorias" [paginator]="true" [rows]="10">
                    <p-header i18n> Listado de categorías </p-header>
                    <ng-template let-categoria pTemplate="item">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2" >
                                    <img class="img-lists img-border" [src]="categoria.imagen">
                                </div>
                                <div class="ui-grid-col-8" >
                                    <div class="ui-grid ui-grid-responsive ui-fluid" >
                                        <div class="ui-grid-row input-spacing">
                                            <div class="ui-grid-col-4"><strong i18n>Nombre: </strong></div>
                                            <div class="ui-grid-col-8">{{categoria.nombre}}</div>
                                        </div>
                                        <div class="ui-grid-row input-spacing">
                                            <div class="ui-grid-col-4"><strong i18n>Nombre interno: </strong></div>
                                            <div class="ui-grid-col-8">{{categoria.nombreInterno}}</div>
                                        </div>
                                        <div class="ui-grid-row input-spacing">
                                            <div class="ui-grid-col-4"><strong i18n>Descripción: </strong></div>
                                            <div class="ui-grid-col-8">{{categoria.descripcion}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-col-2">
                                    <div class="ui-grid-row">
                                        <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="mostrarModalEliminarCategoria(categoria)" *ngIf="escritura"></button>
                                        <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="gotoDetail(categoria)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataList>
            </div>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Title" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <ng-container i18n>¿Está seguro que desea eliminar la categoría?</ng-container>
            </div>
        </div>
    </div>
    <p-footer>
		<button type="button" pButton i18n-label label="Cerrar" (click)="displayModalEliminar=false"></button>
        <button type="button" pButton i18n-label label="Eliminar" (click)="eliminarCategoria()" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>