<div class="ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="card card-w-title">
            <div class="ui-g">
				<div class="ui-g-nopad ui-g-12 ui-md-6 ui-lg-6">
					<div class="ui-g-12 ui-md-1">
						<button pButton (click)="goBack()" icon="ui-icon-arrow-back"></button>
					</div>
					<div class="ui-g-12 ui-md-9">
						<div class="ui-g-12 ui-md-12">
							<div class="heading-detalle"> {{grupo.nombre}}</div>
						</div>
						<div class="ui-g-12 ui-md-12">
							<div class="sub-heading-detalle"><ng-container i18n>Grupo</ng-container></div>
						</div>
					</div>
				</div>
				<div class="ui-g-nopad ui-g-12 ui-md-6 ui-lg-6">
					<div class="ui-g-12 ui-md-6" style="cursor: default;">
						<div class="ui-g-12 ui-md-12 ui-lg-12 ">
							<div class="ui-g card cbx cbx-1">
								<div class="ui-g-4">
									<i class="material-icons">group</i>
								</div>
								<div class="ui-g-8">
									<span class="name" i18n>Total de miembros</span>
									<span class="count">{{cantidad}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-6" style="cursor: default">
						<div class="ui-g-12 ui-md-12 ui-lg-12 ">
							<div class="ui-g card cbx cbx-2">
								<div class="ui-g-4">
									<i class="material-icons">star</i>
								</div>
								<div class="ui-g-8">
									<span class="name" i18n>Puntaje</span>
									<span class="count">{{puntaje}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="ui-toolbar">
            <div class="ui-toolbar-group">
                <div class="ui-g">
                    <div class="ui-g-6 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" routerLinkActive="ruta-activada" routerLink="general"></button>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-brush" i18n-label label="Miembros" routerLinkActive="ruta-activada" routerLink="miembros"></button>
                    </div>
                </div>
            </div>
        </div>
		<div class="card card-w-title">
			<!--Se muestra el componente según si es General o Miembros-->
            <router-outlet></router-outlet>
		</div>
	</div>
</div>
