<div class="ui-fluid">
    <!--Encabezado-->
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-10">
                    <h1 i18n>Grupos</h1>
                </div>
            <div class="ui-g-12 ui-md-12">
                <!--Se realizan búsquedas según el criterio-->
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaGrupos()" (onRemove)="busquedaGrupos()" i18n-placeholder placeholder="Búsqueda"></p-chips>
                    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button type="button" (click)="busquedaAvanzada()" i18n-label label="Búsqueda avanzada" pButton></button>
                </div>
                <!--Botón para agregar un nuevo grupo-->
                <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
                    <button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="nuevoGrupo()" icon="ui-icon-add"></button>
                </div>
            </div>
            <!--Opciones para ver los grupos-->
            <div class="ui-g-12 ui-md-12" *ngIf="avanzada">
                <p-fieldset legend="Visibilidad">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                        <div class="ui-g-12 ui-md-6">
                            <p-checkbox value="V" name="group" i18n-label label="Visibles" [(ngModel)]="visibilidad" (onChange)="busquedaGrupos()"></p-checkbox>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-checkbox value="I" name="group" i18n-label label="No visibles" [(ngModel)]="visibilidad" (onChange)="busquedaGrupos()"></p-checkbox>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>
    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                <div class="ui-g-5 ui-md-5"></div>
                <div class="ui-g-2 ui-md-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
            </div>
        </div>
        <div class="ui-grid-12" *ngIf="!cargandoDatos">
            <!--Se muestra la lista con los grupos-->
            <p-dataList [value]="listaGrupos" [paginator]="true" [rows]="10" *ngIf="!listaVacia" [lazy]="true" [totalRecords]="totalRecords"
                (onLazyLoad)="loadData($event)">
                <p-header i18n>
                    Lista de Grupos
                </p-header>
                <ng-template let-grupo pTemplate="item">
                    <div class="listBorder clearfix">
                        <button pButton (click)="grupoSeleccionado(grupo.idGrupo)" icon="ui-icon-edit" class="listButton"></button>
                        <button pButton (click)="confirmar(atributo.idAtributo)" icon="ui-icon-delete" class="listButton" *ngIf="escritura"></button>
                        <div class="ui-g-10 ui-md-3 ui-lg-3">
                            <img class="cp-list cp-round" src="{{grupo.avatar}}">
                        </div>
                        <div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
                            <div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
                                <h3>{{grupo.nombre}}</h3>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
                                <div class="ui-g-4 ui-md-4 element-list">
                                    <p i18n><strong>Descripción:</strong></p>
                                </div>
                                <div class="ui-g-7 ui-md-7 element-list">
                                    <p>{{grupo.descripcion}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
            <!--Se muestra este mensaje si no existen grupos-->
            <div *ngIf="listaVacia" class="alert alert-info">
                <span i18n>No existen grupos disponible</span>
            </div>
        </div>
    </div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerGrupo()" icon="ui-icon-trash" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>