<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-1"> <button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button></div>
			<div class="ui-g-12 ui-md-8">
				<div class="heading-detalle"><ng-container i18n>Nuevo grupo</ng-container></div>
			</div>
		</div>
	</div>

	<div class="card card-w-title">
		<div class="ui-g">
			<!--Formulario para insertar un grupo-->
			<form form role="form" [formGroup]="formGrupo">
				<div class="ui-g form-group">
					<div class="ui-g-12 ui-md-12"><h2 i18n>Datos del grupo</h2></div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div class="ui-g-12 ui-md-12 ui-lg-12"></div>
							<!--Imagen que representa a la categoría-->
							<div class="ui-g-12 ui-md-12">
								<img src='{{avatar}}' class="cp-insert cp-round" *ngIf="avatar" />
								<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>	
							</div>
							<div class="ui-g-12 ui-md-12">
								<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
								<label for="avatar" i18n>Seleccione un archivo</label>
							</div>
						</div>

						<div class="ui-g-12 ui-md-12"></div>
						<!--Nombre del grupo-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtNombre" i18n><strong>Nombre:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-6">
								<input type="text" pInputText id="txtNombre" name="txtNombre" [(ngModel)]="grupo.nombre" maxlength="30" formControlName="nombre"
									pTooltip="Nombre del grupo" tooltipPosition="top">
							</div>
						</div>
						<!-- Descripción del grupo -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label i18n><strong>Descripción del grupo:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-6">
								<textarea pInputTextarea rows="3" cols="10" type="text" id="txtDescripcion" name="txtDescripcion" [(ngModel)]="grupo.descripcion"
									maxlength="100" pTooltip="Descripción del grupo" tooltipPosition="top" formControlName="descripcion"></textarea>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-7 ui-lg-7">
						<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
					</div>
					<!--Botón para cancelar la inserción-->
					<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
						<!--Insertar, se activa hasta que el formGrupo sea valido-->
						<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" [disabled]="!formGrupo.valid && escritura" (click)="insertarGrupo()"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
