<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<p-tabView>
			<!--En este panel se muestran los miembros del grupo-->
			<p-tabPanel i18n-header header="Miembros del grupo">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoGrupos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>

					<div class="ui-g-12 ui-md-12">
						<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMiembrosGrupo()" (onRemove)="obtenerMiembrosGrupo()" i18n-placeholder
							placeholder="Búsqueda"></p-chips>
						<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
					</div>
					<div class="ui-g-12 ui-md-12" *ngIf="!listaVacia && !cargandoGrupos">
						<p-dataTable [value]="listaMiembroGrupo" [paginator]="true" [rows]="10" [(selection)]="listaRemover" [lazy]="true" [totalRecords]="totalRecordsMiembro"
							(onLazyLoad)="loadMiembroGrupo($event)">
							<p-header i18n>
								Lista de Miembros
							</p-header>
							<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
							<p-column field="idMiembro" i18n-header header="ID"></p-column>
							<p-column field="nombre" i18n-header header="Nombre">
								<ng-template let-miembro="rowData" pTemplate="body">
									<span>{{miembro.nombre}} {{miembro.apellido}}</span>
								</ng-template>
							</p-column>
							<p-column field="correo" i18n-header header="Usuario/Correo">
								<ng-template let-miembro="rowData" pTemplate="body">
									<span>{{miembro.correo}}</span>
								</ng-template>
							</p-column>
							<p-column styleClass="col-button" [style]="{'width': '100px'}" *ngIf="escritura && escrituraMiembro">
								<ng-template pTemplate="header">
									<button pButton icon="ui-icon-delete" class="pink-btn" (click)="miembroSeleccionado('lista')" class="listButton"></button>
								</ng-template>
								<ng-template let-miembro="rowData" let-index="rowIndex" pTemplate="body">
									<!--remueve la asociación del miembro con el grupo -->
									<button pButton (click)="miembroSeleccionado('miembro',miembro.idMiembro)" icon="ui-icon-delete" class="listButton"></button>
								</ng-template>
							</p-column>
						</p-dataTable>
					</div>

					<!--Se muestra este mensaje si no existen clientes-->
					<div *ngIf="listaVacia && !cargandoGrupos">
						<div class="ui-g">
							<div class="ui-g-12">
								<h3 i18n>No existen miembros en este grupo.</h3>
							</div>
						</div>
					</div>
				</div>
			</p-tabPanel>

			<!--En este panel se da la asociacion de miembros al grupo-->
			<p-tabPanel i18n-header header="Asociar Miembros" *ngIf="escritura && escrituraMiembro">
				<div class="ui-g">
					<div *ngIf="escritura && escrituraMiembro" class="ui-g-12">
						<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
							<div class="ui-g-5 ui-md-5"></div>
							<div class="ui-g-2 ui-md-2">
								<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
							</div>
						</div>

						<div class="ui-g-12 ui-md-12">
							<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMiembrosNoGrupo()" (onRemove)="obtenerMiembrosNoGrupo()" i18n-placeholder
								placeholder="Búsqueda"></p-chips>
							<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
						</div>

						<div class="ui-g-12 ui-md-12" *ngIf="!listaTotalVacia &&!cargandoDatos">
							<p-dataTable [value]="listaMiembros" [paginator]="true" [rows]="10" [(selection)]="listaSeleccion" [lazy]="true" [totalRecords]="totalRecords"
								(onLazyLoad)="loadMiembroNoGrupo($event)">
								<p-header i18n>
									Lista de Miembros
								</p-header>
								<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
								<p-column field="idMiembro" header="ID" i18n-header></p-column>
								<p-column field="nombre" i18n-header header="Nombre">
									<ng-template let-miembro="rowData" pTemplate="body">
										<span>{{miembro.nombre}} {{miembro.apellido}}</span>
									</ng-template>
								</p-column>
								<p-column field="correo" i18n-header header="Usuario/Correo">
									<ng-template let-miembro="rowData" pTemplate="body">
										<span>{{miembro.correo}}</span>
									</ng-template>
								</p-column>
								<p-column styleClass="col-button" [style]="{'width': '100px'}">
									<ng-template pTemplate="header">
										<button pButton icon="ui-icon-add" class="pink-btn" (click)="agregarListaMiembro()" class="listButton"></button>
									</ng-template>
									<ng-template let-miembro="rowData" pTemplate="body">
										<!-- asocia el miembro con el grupo -->
										<button pButton class="listButton" (click)="agregarMiembroGrupo(miembro.idMiembro)" icon="ui-icon-add"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
						<!--Se muestra este mensaje si no existen clientes-->
						<div *ngIf="listaTotalVacia  && !cargandoDatos">
							<span i18n>No hay clientes disponibles.</span>
						</div>
					</div>
					<!--Se muestra si no hay miembros disponibles o que no cumplan con la búsqueda-->
					<div *ngIf="!escritura || !escrituraMiembro">
						<div class="ui-g-12" style="margin-top: 25px;"></div>
						<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
							<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
								<i class="material-icons">information</i>
							</div>
							<div class="ui-g-8 ui-md-7 ui-lg-7">
								<label i18n>No cuenta con los permisos requeridos para asignar este miembro a un grupo.</label>
							</div>
						</div>
					</div>
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="accion=='miembro'">
			<ng-container i18n>¿Confirma que desea sacar a este miembro del grupo?</ng-container>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="accion=='lista'">
			<ng-container i18n>¿Confirma que desea remover estos de miembros del grupo?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerListaMiembro()" icon="ui-icon-trash" *ngIf="accion=='lista'"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerMiembro()" icon="ui-icon-trash" *ngIf="accion=='miembro'"></button>
	</p-footer>
</p-dialog>