<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div *ngIf="!cargandoDatos">
		<div class="ui-g-12 ui-md-8"> <h1 i18n>Datos del Grupo</h1></div>
		<div *ngIf="" class="ui-g-12 ui-md-4" style="background: dodgerblue;font-size: medium;color: white;padding: 0 0 0 24px;">
			<div class="ui-g-12 ui-md-2 ui-lg-1">
				<i class="material-icons">information</i>
			</div>
			<div class="ui-g-12 ui-md-7 ui-lg-7">
				<label i18n>No cuenta con permisos de escritura sobre el grupo</label>
			</div>
		</div>
		<!--Se muestra un formulario con la información del grupo-->
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<form form role="form" [formGroup]="formGrupo">
				<div class="ui-g form-group">
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<div class="ui-g-12 ui-md-12">
							<img class="cp-insert cp-round" src='{{avatar}}' alt="" />
							<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
						</div>
						<div class="ui-g-12 ui-md-12">
							<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
							<label for="avatar" i18n>Seleccione un archivo</label>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12"></div>
					<!--Nombre del grupo-->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label for="txtNombre" i18n><strong>Nombre:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-6">
							<input type="text" pInputText id="txtNombre" name="txtNombre" [(ngModel)]="grupo.nombre" maxlength="30" formControlName="nombre"
								pTooltip="Nombre del grupo" tooltipPosition="top">
						</div>
					</div>
					<!-- Descripción del grupo -->
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-3">
							<label i18n><strong>Descripción del grupo</strong></label>
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-6">
							<textarea pInputTextarea rows="3" cols="10" type="text" id="txtDescripcion" name="txtDescripcion" [(ngModel)]="grupo.descripcion"
								maxlength="100" pTooltip="Descripción del grupo" tooltipPosition="top" formControlName="descripcion"></textarea>
						</div>
					</div>
					<div class="ui-g-12 ui-md-7 ui-lg-5">
						<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
					</div>
					<!--Botón para remover el grupo-->
					<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
						<button pButton type="button" i18n-label label="Eliminar" class="red-btn" (click)="eliminar = true" icon="ui-icon-delete"></button>
					</div>
					<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
						<!--Insertar, se activa hasta que el formGrupo sea valido-->
						<button pButton type="button" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formGrupo.valid"
							(click)="actualizarGrupo()"></button>
					</div>
				</div>
			</form>
		<div>
	</div>
</div>


<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton i18n-label label="Remover" (click)="removerGrupo()" icon="ui-icon-trash"></button>
	</p-footer>
</p-dialog>