<div class="card card-w-title">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-1">
			<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
		</div>
		<div class="ui-g-12 ui-md-9">
			<div class="ui-g-12 ui-md-12">
				<div class="heading-detalle"> {{leaderboard.nombre}} </div>
			</div>
			<div class="ui-g-12 ui-md-12">
				<div class="sub-heading-detalle"> <ng-container i18n>Leaderboard</ng-container> </div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12 ui-lg-12">
			<h1 i18n>Detalle de Leaderboard</h1>
			<div class="ui-g-12 ui-lg-12">
				<form [formGroup]="form">
					<div class="ui-g-12 ui-md-6 ui-lg-6">
						<!--Imagen que representa a la categoría-->
						<div class="ui-g-12 ui-md-12" *ngIf="leaderboard.imagen">
							<img [src]="file_src" class="img-forms img-border" />
							<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
						</div>
						<div class="ui-g-12 ui-md-12" *ngIf="!leaderboard.imagen">
							<img src="/resources/img/loading_icon.gif" class="img-forms img-border" />
							<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
						</div>
						<div class="ui-g-12 ui-md-12">
							<input class="upload" id="fileAvatar" name="fileAvatar" type="file" #input (change)="fileChange(input)" accept="image/jpg,image/jpeg,image/png">
							<label for="fileAvatar" i18n>Seleccione un archivo</label>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtNombre" i18n><strong>Nombre:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input pInputText id="txtNombre" name="txtNombre" type="text" [(ngModel)]="leaderboard.nombre" pTooltip="Nombre de la tabla"
							tooltipPosition="top" formControlName="nombre">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtDescripcion" i18n><strong>Descripción:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<input id="txtDescripcion" name="txtDescripcion" type="text" pInputText pTooltip="Descripción de la tabla" tooltipPosition="top"
							[(ngModel)]="leaderboard.descripcion" formControlName="descripcion">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="indTipoTabla" i18n><strong>Tipo de tabla:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<p-dropdown [autoWidth]="false" id="indTipoTabla" name="indTipoTabla" pTooltip="Tipo de tabla" tooltipPosition="top" [(ngModel)]="leaderboard.indTipo"
							[options]="itemsTipoTabla" formControlName="tipoTabla"></p-dropdown>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12" *ngIf="leaderboard.indTipo=='E'">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="indTipoTabla" i18n><strong>Grupo:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7" *ngIf="lecturaGrupo">
							<p-dropdown [autoWidth]="false" id="indGrupo" name="indGrupo" pTooltip="Grupo" tooltipPosition="top" [(ngModel)]="grupoSelecc"
							 [options]="itemsGrupos" formControlName="grupo"></p-dropdown>
						</div>
						
						<div class="ui-g-12 ui-md-9 ui-lg-7" *ngIf="!lecturaGrupo">
							<ng-container *ngIf="leaderboard.idGrupo != null">{{leaderboard.idGrupo.nombre}}</ng-container>
							<p class="infoSmall" i18n><small>No cuenta con permisos de lectura sobre grupos.</small></p>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="txtPregunta" i18n><strong>Formato:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<p-dropdown [autoWidth]="false" id="indFormato" name="indFormato" pTooltip="Formato de despliegue" tooltipPosition="top"
							[(ngModel)]="leaderboard.indFormato" [options]="itemsTipoFormato" formControlName="formato"></p-dropdown>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="indGrupalFormaCalculo" i18n><strong>Forma de cálculo grupal:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7">
							<p-dropdown [autoWidth]="false" id="indGrupalFormaCalculo" pTooltip="Forma de calculo" tooltipPosition="top" name="indGrupalFormaCalculo"
							[(ngModel)]="leaderboard.indGrupalFormaCalculo" [options]="indGrupalFormaCalculo" formControlName="formaCalculo"></p-dropdown>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="ui-g-12 ui-md-4 ui-lg-2">
							<label for="indMetrica" i18n><strong>Métrica:</strong></label>
						</div>
						<div class="ui-g-12 ui-md-9 ui-lg-7" *ngIf="lecturaMetrica">
							<div class="ui-g-12 ui-md-9 ui-lg-8" style="padding-right: 10px;">
								<input type="text" pInputText id="indMetrica" [(ngModel)]="nombreMetrica" style="width:100%" readonly formControlName="indMetrica"/>
							</div>
							<div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
								<button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true; cargarMetricas()"></button>
							</div>
						</div>
						<!--<div class="ui-g-12 ui-md-9 ui-lg-7" *ngIf="lecturaMetrica">
							<p-dropdown [autoWidth]="false" id="indMetrica" pTooltip="Métrica a ser usada por la tabla" tooltipPosition="top" name="indMetrica"
							[(ngModel)]="leaderboard.idMetrica" [options]="itemsMetricas" formControlName="indMetrica"></p-dropdown>
						</div>-->
						<div class="ui-g-12 ui-md-9 ui-lg-7" *ngIf="!lecturaMetrica">
							<ng-container *ngIf="leaderboard.idMetrica != null">{{leaderboard.idMetrica.nombre}}</ng-container>
							<p class="infoSmall" i18n><small>No cuenta con permisos de lectura sobre métricas.</small></p>
						</div>
					</div>
				</form>
			</div>
			<div class="ui-g-12" *ngIf="tienePermisosEscritura">
				<div class="ui-g-7">
					<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendo" />
				</div>
				<div class="ui-g-2">
					<button pButton class="pull-right" [disabled]="!form.valid" i18n-label label="Guardar" icon="ui-icon-save" class="green-btn" (click)="editarLeaderboard()"></button>
				</div>
			</div>
		</div>
	</div>
</div>
<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="cargarMetricas()" (onRemove)="cargarMetricas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>