<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-md-10">
				<h1 i18n>Leaderboards</h1>
			</div>
            <div class="form-group">
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="buscarLeaderboards()" (onRemove)="buscarLeaderboards()"></p-chips>
                    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
                    <!--<input type="text" pInputText i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminoBusqueda">-->
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <p-splitButton i18n-label label="Buscar" icon="ui-icon-search" (click)="buscarLeaderboards()" [model]="itemsBusqueda"></p-splitButton>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" [routerLink]="rtInsertarLeaderboards" *ngIf="escritura"></button>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="displayBusquedaAvanzada">
                <p-fieldset legend="Tipo de leaderboard" class="ui-g-12 ui-md-12">
					<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                        <div class="ui-g-12 ui-md-4">
                            <p-radioButton name="group2" value="E" i18n-label label="Grupo" (onClick)="buscarLeaderboards()" [(ngModel)]="preferenciasBusqueda"></p-radioButton>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p-radioButton name="group2" value="U" i18n-label label="Miembros" (onClick)="buscarLeaderboards()" [(ngModel)]="preferenciasBusqueda"></p-radioButton>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p-radioButton name="group2" value="G" i18n-label label="Equipos" (onClick)="buscarLeaderboards()" [(ngModel)]="preferenciasBusqueda"></p-radioButton>
                        </div>
					</div>
                </p-fieldset>
            </div>

            <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="leaderboards&&leaderboards.length<=0">
                <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay leaderboards'}]"></p-messages>
            </div>

            <div class="ui-g-12" *ngIf="!leaderboards">
                <div class="ui-g-5"></div>
                <div class="ui-g-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
                <div class="ui-g-5"></div>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-12">
            <p-dataList [value]="leaderboards" [paginator]="true" [rows]="10" *ngIf="leaderboards&&leaderboards.length>0">
                <p-header i18n> Tablas de posiciones </p-header>
                <ng-template let-leaderboard pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <div class="ui-grid-col-2" style="text-align:center">
                                    <img [src]="leaderboard.imagen" class="img-lists img-border">
                                </div>
                            </div>
                            <div class="ui-grid-col-8">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4">
                                            <ng-container i18n>Nombre: </ng-container>
                                        </div>
                                        <div class="ui-grid-col-8">{{leaderboard.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4">
                                            <ng-container i18n>Descripción: </ng-container>
                                        </div>
                                        <div class="ui-grid-col-8">{{leaderboard.descripcion}}</div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Tipo de tabla: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{leaderboard.indTipo|tipoLeaderboard}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4">
                                        <ng-container i18n>Métrica: </ng-container>
                                    </div>
                                    <div class="ui-grid-col-8">{{leaderboard.idMetrica.nombre}}</div>
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                <div class="ui-grid-row">
                                    <button class="pull-right" icon="ui-icon-delete" pButton (click)="mostrarModalEliminarLeaderboard(leaderboard)" *ngIf="escritura"></button>
                                    <button class="pull-right" icon="ui-icon-edit" pButton (click)="gotoDetail(leaderboard)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" [modal]="true">
    <ng-container>{{questBorrar}}</ng-container>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="displayModalEliminar=false" i18n-label label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" i18n-label label="Eliminar" (click)="eliminarLeaderboard()" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>