<div class="ui-g ui-fluid">
    <div class="ui-g-10">
        <h1 class="heading-detalle" i18n>Reglas de asignación automática</h1>
    </div>
    <div class="ui-g-2" *ngIf="permisoEscritura">
        <!--Insertar una nueva regla-->
        <button i18n-label label="Agregar Regla" pButton (click)="mostrarModalInsertar()"></button></div>
    <div class="ui-g-12 ui-lg-12" *ngIf="listaReglas&&listaReglas.length<=0">
        <p-messages [value]="[{severity:'info', summary:'', detail:'No data found'}]"></p-messages>
    </div>
    <!--Muestra las reglas asociadas a la insignia-->
    <p-dataList class="ui-g-12 ui-lg-12" *ngIf="listaReglas&&listaReglas.length>0" [value]="listaReglas" [paginator]="true" [rows]="10">
        <p-header i18n> Reglas de asignación automática </p-header>
        <ng-template let-regla pTemplate="item" let-i="index">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-10">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row input-spacing" *ngIf="i>=1">
                                <div class="ui-grid-col-4"><strong i18n>Operador de regla:</strong> </div>
                                <div class="ui-grid-col-8">{{regla.indOperadorRegla|indOperador}}</div>
                            </div>
                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Calendarización:</strong> </div>
                                <div class="ui-grid-col-8">{{regla.fechaIndTipo|indAsignacionPeriodoUltimo}}
                                    <span *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'">{{regla.fechaCantidad}} {{regla.fechaIndUltimo|indAsignacionUltimo}}</span>
                                    <span *ngIf="regla.fechaIndTipo=='D'||regla.fechaIndTipo=='E'">{{regla.fechaInicio|date}}</span>
                                    <span *ngIf="regla.fechaIndTipo=='H'||regla.fechaIndTipo=='E'">{{regla.fechaFin|date}}</span>
                                </div>

                            </div>

                            <div class="ui-grid-row input-spacing">
                                <div class="ui-grid-col-4"><strong i18n>Condición:</strong> </div>
                                <div class="ui-grid-col-8">
                                    {{regla.indTipoRegla | reglaAsignacionBadgeTipo}} <span i18n *ngIf="regla.indTipoRegla=='A'">de tipo {{regla.indTipoValorComparacion | reglaValorComparacion}} </span> <span i18n *ngIf="regla.indTipoRegla!='C'"> {{regla.indOperadorComparacion|indReglaOperador}} a    </span> 
                                    <span i18n *ngIf="regla.indTipoRegla!='C'"> {{regla.valorComparacion}} </span><span i18n *ngIf="regla.indTipoRegla=='C'">{{regla.valorComparacion | tier | async}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Botones para editar/remover una regla de asignación-->
                    <div class="ui-grid-col-1">
                        <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="mostrarModalEditar(regla)"></button>
                    </div>
                    <div class="ui-grid-col-1" *ngIf="permisoEscritura">
                        <button type="button" class="pull-right" pButton icon="ui-icon-delete" (click)="mostrarModalEliminar(regla)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
</div>

<!--Muestra el cuadro de dialogo para editar la regla seleccionada-->
<p-dialog i18n-header header="Información de regla" [(visible)]="displayModal" [modal]="true" [width]="1000" (onHide)="resetGrupoSeleccionado()">
    <div class="ui-grid ui-fluid">
        <div class="ui-g-12">
            <form #form=ngForm>
                <div class="ui-g-2" i18n><strong>Operador de regla: </strong></div>
                <div class="ui-g-10">
                    <p-dropdown appendTo="body" [options]="itemsOperadoresRegla" [autoWidth]="false" name="itemsOperadoresRegla" [(ngModel)]="regla.indOperadorRegla"
                        required></p-dropdown>
                </div>
                <div class="ui-g-2" i18n><strong>Tipo de regla: </strong></div>
                <div class="ui-g-10">
                    <p-dropdown required appendTo="body" [options]="itemsTiposRegla" [autoWidth]="false" name="itemsTiposRegla" [(ngModel)]="regla.indTipoRegla"></p-dropdown>
                </div>
                <div class="ui-g-2" i18n *ngIf="regla.indTipoRegla!='C'"><strong>Operador: </strong></div>
                <div class="ui-g-10" *ngIf="regla.indTipoRegla!='C'">
                    <p-dropdown required appendTo="body" [options]="itemsOperador" [autoWidth]="false" name="selectOperador" [(ngModel)]="regla.indOperadorComparacion"></p-dropdown>
                </div>
                <div class="ui-g-2" *ngIf="regla.indTipoRegla=='A'" i18n><strong>Tipo de misión: </strong></div>
                <div class="ui-g-10" *ngIf="regla.indTipoRegla=='A'">
                    <p-dropdown required appendTo="body" [options]="itemsIndTipoValorComparacion" [autoWidth]="false" name="itemsCalendarizacion" [(ngModel)]="regla.indTipoValorComparacion"></p-dropdown>
                </div>
                <div class="ui-g-2 ui-helper-clearfix" *ngIf="regla.indTipoRegla=='C'" i18n><strong>Grupo de Tier: </strong></div>
                <div class="ui-g-10" *ngIf="regla.indTipoRegla=='C'">
                    <p-dropdown appendTo="body" [options]="itemsGruposTier" [autoWidth]="false" name="selectGruposTier" [(ngModel)]="grupoSeleccionado" (onChange)="obtenerListaTier($event)"></p-dropdown>
                </div>
                <div class="ui-g-2" i18n *ngIf="grupoSeleccionado"><strong>Tier: </strong></div>
                <div class="ui-g-10" *ngIf="grupoSeleccionado">
                    <p-dropdown appendTo="body" [options]="itemsNiveles" [autoWidth]="false" name="valorComparacion" [(ngModel)]="regla.valorComparacion"></p-dropdown>
                </div>

                <div class="ui-g-2" i18n *ngIf="regla.indTipoRegla!='C'"><strong>Valor de comparación: </strong></div>
                <div class="ui-g-10" *ngIf="regla.indTipoRegla!='C'">
                    <input required type="number" pInputText name="valorComparacion" [(ngModel)]="regla.valorComparacion" />
                </div>  
                <div class="ui-g-2" i18n><strong>Calendarización: </strong></div>
                <div class="ui-g-10">
                    <p-dropdown required appendTo="body" [options]="itemsCalendarizacion" [autoWidth]="false" name="itemsCalendarizacion" [(ngModel)]="regla.fechaIndTipo" (onChange)="setFechas()"></p-dropdown>
                </div>

                <div class="ui-g-2" i18n *ngIf="regla.fechaIndTipo=='D'||regla.fechaIndTipo=='E'"><strong>Fecha de inicio: </strong></div>
                <div class="ui-g-10" *ngIf="regla.fechaIndTipo=='D'||regla.fechaIndTipo=='E'">
                    <p-calendar required name="fechaInicio" showAnim="slideDown" [monthNavigator]="true" [(ngModel)]="fechaInicio" (onSelect)="regla.fechaInicio= fechaInicio"></p-calendar>
                </div>
                <div class="ui-g-2" i18n *ngIf="regla.fechaIndTipo=='H'||regla.fechaIndTipo=='E'"><strong>Fecha de fin: </strong></div>
                <div class="ui-g-10" *ngIf="regla.fechaIndTipo=='H'||regla.fechaIndTipo=='E'">
                    <p-calendar required name="fechaFin" showAnim="slideDown" [minDate]="fechaInicio" [monthNavigator]="true" [(ngModel)]="fechaFin" (onSelect)="regla.fechaFin= fechaFin"></p-calendar>
                </div>
                <div class="ui-g-2" i18n *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'"><strong>En el último: </strong></div>
                <div class="ui-g-1" *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'">
                    <input required type="text" pInputText name="cantFecha" [(ngModel)]="regla.fechaCantidad" />
                </div>
                <div class="ui-g-9" *ngIf="regla.fechaIndTipo=='B'||regla.fechaIndTipo=='C'">
                    <p-dropdown required appendTo="body" [options]="itemsFechaIndUltimo" [autoWidth]="false" name="fechaIndUltimo" [(ngModel)]="regla.fechaIndUltimo"></p-dropdown>
                </div>
            </form>
        </div>
    </div>
    <p-footer>
        <button pButton icon="ui-icon-close" i18n-label label="Cerrar" (click)="displayModal = false"></button>
        <button pButton [disabled]="!form.valid" icon="ui-icon-save" i18n-label label="Actualizar" (click)="actualizarReglaAsignacion(regla)" *ngIf="indAccion=='E' && permisoEscritura"></button>
        <button pButton [disabled]="!form.valid" icon="ui-icon-save" i18n-label label="Insertar" (click)="insertarReglasAsignacion(regla)" *ngIf="indAccion=='I' && permisoEscritura"></button>
    </p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un elemento-->
<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea eliminar este elemento?</ng-container>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="displayModalEliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="eliminarReglaAsignacion()" icon="ui-icon-trash" *ngIf="permisoEscritura"></button>
    </p-footer>
</p-dialog>