<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}">

    <div #layoutContainer class="layout-container" 
            [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}">

        <app-topbar></app-topbar>

        <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <div #layoutMenuScroller class="nano">
                <div class="nano-content menu-scroll-content">
                    <inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></inline-profile>
                    <app-menu [reset]="resetMenu"></app-menu>
                </div>
            </div>
        </div>
        
        <div class="layout-main">
			<p-growl [(value)]="msgs.msgs" life="3000" [immutable]="false"></p-growl>
			<breadcrumb-component *ngIf="i18nService&&i18nService.labels"></breadcrumb-component>
            <router-outlet></router-outlet>
            <!--<app-footer></app-footer>-->
        </div>
        <div class="layout-mask"></div>
    </div>
</div>