



<div style="margin-top:70px" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" i18n data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" >Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand " i18n routerLink="/landing">Affinity</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a></a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="container" >
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-md-6 col-sm-12">
            <div class="panel panel-default" style="margin-top:25px;box-shadow: 0 6px 12px rgba(0,0,0,.175);">
                <div class="panel-body">
                <form novalidate  >
                    <div class="form-group">
                        <h3 i18n>Account error</h3>
                    </div>
                    <div class="form-group" style="text-align: center;padding-top:25px;">
                        <i class="fa fa-5x fa-exclamation-triangle" style="color:#e74c3c" aria-hidden="true"></i>
                    </div>
                    <div class="form-group" style="padding-top:25px;">
                        <p i18n>There may be a problem with your account details, if this problem persists please contact our technical
                            support
                        </p>
                    </div>
                    <div class="form-group" style="padding-top:25px;">
                        <button type="button" class="btn btn-danger pull-right" (click)="logout()" i18n>Logout</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
 

    <footer>
        <section id="footer" class="bg-light-gray" style="padding:50px">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright" i18n>Copyright &copy; 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li i18n><a>Privacy Policy</a>
                        </li>
                        <li i18n><a>Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
</div>


