<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 form-padding">
        <complete-mission-survey *ngIf="mision.indTipoMision=='E'"></complete-mission-survey>
        <complete-mission-atributo *ngIf="mision.indTipoMision=='P'"></complete-mission-atributo>
        <complete-mision-subir-contenido *ngIf="mision.indTipoMision=='S'"></complete-mision-subir-contenido>
        <complete-mission-contenido *ngIf="mision.indTipoMision=='V'"></complete-mission-contenido>
        <complete-mision-preferencia *ngIf="mision.indTipoMision=='A'"></complete-mision-preferencia>
        <complete-mission-social *ngIf="mision.indTipoMision=='R'"></complete-mission-social>
    </div>
</div>
<!--
    A - Preferencia
    E - Encuesta 
    P - Perfil 
    V - Ver contenido
    R - Red social
    S - Subir contenido
    J - Juego
-->