
<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngIf="submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>

                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()" i18n>Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->