<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading" i18n>Missions</h2>
      <h3 class="section-subheading text-muted" i18n>Complete one of this activities to earn points</h3>
    </div>
  </div>

  <div class="col-md-offset-5 col-md-2 " style="margin-bottom:100px;margin-top:100px;text-align: center;" *ngIf="listaMisiones&&listaMisiones.length==0">
    <div class="alert alert-info" role="alert" i18n>There are no missions available at this moment</div>
  </div>

  <div class="col-md-offset-5 col-md-2 " style="margin-bottom:100px;margin-top:100px;text-align: center;" *ngIf="!listaMisiones">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
  <div class="row">
    <div *ngFor="let mision of listaMisiones; let i= index">
      <div class="col-lg-4 col-md-4 col-sm-6" style="margin-top: 25px">
        <a href="#portfolioModal" class="portfolio-link" data-toggle="modal" (click)="setSelectedMission(mision)">
          <img [src]="mision.imagenArte" class="img-responsive" style="min-width: 300px;min-height: 300px">
        </a>
        <div class="portfolio-caption">
          <h4>{{mision.encabezadoArte}}</h4>
          <p class="text-muted">{{mision.detalleArte}}</p>
        </div>
      </div>
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-lg-block" *ngIf="((i+1)%3)==0"></div>
      <div class="clearfix visible-sm-block" *ngIf="((i+1)%2)==0"></div>
    </div>
  </div>
</div>


<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="container-fluid">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <h2>{{mision.encabezadoArte}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <p>{{mision.subencabezadoArte}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <img class="img-responsive img-centered" src="{{mision.imagenArte}}">
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <p style="text-align: justify">{{mision.detalleArte}}</p>
            </div>
          </div>

          <!--
                      E - Encuesta 
                      P - Perfil 
                      V - Ver contenido
                      R - Red social
                      S - Subir contenido
                      J - Juego
                  -->
          <div class="row" style="margin-top: 15px;text-align: center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">


              <span [ngSwitch]="mision.indTipoMision">
                <span *ngSwitchCase="'E'">
                <i class="fa fa-2x fa-question" style="margin-right: 5px;" aria-hidden="true" i18n></i> Survey</span>
              <span *ngSwitchCase="'P'">
                <i class="fa fa-2x fa-user" style="margin-right: 5px;" aria-hidden="true" i18n></i> Update Profile</span>
              <span *ngSwitchCase="'V'">
               <i class="fa fa-2x fa-eye" style="margin-right: 5px;" aria-hidden="true" i18n></i> Watch Content</span>
              <span *ngSwitchCase="'S'">
                <i class="fa fa-2x fa-upload" style="margin-right: 5px;" aria-hidden="true" i18n></i> Upload Content</span>
              <span *ngSwitchDefault></span>
              </span>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;text-align: center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <i class="fa fa-money" style="margin-right: 5px;" aria-hidden="true" i18n></i> {{mision.cantMetrica}} Points
            </div>
          </div>
          <div class="row" style="margin-top: 15px; margin-bottom: 25px;">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
              <button type="button" (click)="gotoDetail(mision.idMision)" class="btn btn-primary center-block" data-dismiss="modal" i18n>Complete mission </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>