<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<div class="ui-g">
					<!--Botón para regresar-->
					<div class="ui-g-1 ui-md-1">
						<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
					</div>
					<div class="ui-g-7 ui-md-7">
						<div class="ui-g-12">
							<div class="heading-detalle"> {{grupoNivel.nombre}}</div>
						</div>
						<div class="ui-g-12">
							<div class="sub-heading-detalle"><ng-container i18n>Grupo de Tier</ng-container></div>
						</div>
					</div>
					<div *ngIf="escritura" class="ui-g-2 ui-md-2">
						<button pButton type="button" class="green-btn flat" i18n-label label="Editar" (click)="editar=true" icon="ui-icon-edit"></button>
					</div>
					<div class="ui-g-2 ui-md-2">
						<button pButton type="button" class="red-btn flat" i18n-label label="Remover" (click)="confirmar('grupo')" icon="ui-icon-trash"></button>
					</div>
				</div>
			</div>

			<!--Administración de niveles-->
			<div class="card card-w-title ui-g">
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-9 ui-md-10 ui-lg-10">
						<h2 i18n>Administración de Tiers</h2>
					</div>
					<!--Botón para administrar los niveles-->
					<div class="ui-g-3 ui-md-2 ui-lg-2">
						<button pButton type="button" class="green-btn" i18n-label label="Agregar" icon="ui-icon-add" (click)="nuevo=true"></button>
					</div>
				</div>
				
				<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
					<div class="ui-g-5 ui-md-5"></div>
					<div class="ui-g-2 ui-md-2">
						<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
					</div>
				</div>
				<div class="ui-g-12 ui-md-12" *ngIf="!cargandoDatos">
					<!--Lista de los niveles de un grupo-->
					<p-dataList [value]="listaNiveles" [paginator]="true" [rows]="6" *ngIf="!listaVacia">
						<p-header i18n>
							Lista de Tiers
						</p-header>
						<ng-template let-nivel pTemplate="item">
							<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
								<div class="ui-g-1 ui-md-1"></div>
								<button type="button" (click)="nivelSeleccionado(nivel,'detalle')" pButton icon="ui-icon-edit"
									style="margin:14px 24px 0 0;float:right"></button>
								<button type="button" (click)="confirmar('nivel',nivel.idNivel)" pButton icon="ui-icon-delete" style="margin:14px 24px 0 0;float:right"></button>
								<div class="ui-g-11 ui-md-10 ui-lg-10" id="margin-list">
                                    <div class="ui-grid-row">
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Nombre:</strong></p>
										</div>
										<div class="ui-g-8 ui-md-4 element-list">
											<p>{{nivel.nombre}}</p>
										</div>
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Multiplicador:</strong></p>
										</div>
                                        <div class="ui-g-8 ui-md-4 element-list">
											<p>{{nivel.multiplicador}}</p>
										</div>
                                    </div>
									<div class="ui-grid-row">
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Descripción:</strong></p>
										</div>
                                        <div class="ui-g-8 ui-md-4 element-list">
											<p>{{nivel.descripcion}}</p>
										</div>
										<div class="ui-g-4 ui-md-2 element-list">
											<p i18n><strong>Métrica inicial:</strong></p>
										</div>
                                        <div class="ui-g-8 ui-md-4 element-list">
											<p>{{nivel.metricaInicial}}</p>
										</div>
                                    </div>
								</div>
							</div>
						</ng-template>
					</p-dataList>

					<!--Despliegue de un mensaje si no existen niveles-->
					<div *ngIf="listaVacia">
						<div class="ui-g-12 ui-md-12">
							<p i18n>No existen niveles asociados.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de dialogo para editar un nivel-->
<p-dialog i18n-header header="Edición de Grupo" [(visible)]="editar" [responsive]="true" showEffect="fade" [modal]="true" width="450"
	height="200">
	<div class="ui-g-12 ui-md-12">
		<form role="form" #formGrupo="ngForm">
			<div class="ui-g form-group">
				<!--Nombre del Grupo-->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-6">
						<label i18n><strong>Nombre:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-6">
						<span class="md-inputfield">
							<input id="txtNombre" name="txtNombre" type="text" pInputText [(ngModel)]="grupoNivel.nombre" #nombre="ngModel"
							pTooltip="Nombre del grupo" maxlength="100" tooltipPosition="top"/>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="editar=false"></button>
		<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="validarNombre()" [disabled]="!formGrupo.valid"></button>
    </p-footer>
</p-dialog>

<!--Cuadro de dialog para ingresar/editar un nivel-->
<p-dialog i18n-header header="Agregar Tier" [(visible)]="nuevo" [responsive]="true" showEffect="fade" [modal]="true" width="450" height="310">
	<div class="ui-g-12 ui-md-12">
		<!--Formulario para la inserción/edición de un nivel-->
		<form role="form" [formGroup]="formNivel">
			<div class="ui-g form-group">
				<!-- Nombre del nivel -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Nombre: </strong></label>
					</div>
					<div class="ui-g-12 ui-md-8">
						<span class="md-inputfield">
                        	<input type="text" pInputText  id="txtNombre" name="txtNombre" maxlength="30"
                            [(ngModel)]="nivelNuevo.nombre" formControlName="nombre" pTooltip="Nombre del nivel" tooltipPosition="top">
                        </span>
					</div>
				</div>

				<!-- Descripción del nivel -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Descripción:</strong></label>
					</div>
					<div  class="ui-g-12 ui-md-8">
						<span class="md-inputfield">
                        	<input type="text" pInputText  id="txtDescripcion" name="txtDescripcion" maxlength="30"
                            [(ngModel)]="nivelNuevo.descripcion" formControlName="descripcion" pTooltip="Descripción del nivel" tooltipPosition="top">
                        </span>
					</div>
				</div>

				<!-- Metrica inicial -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-6 ui-md-4">
						<label i18n><strong>Métrica inical:</strong></label>
					</div>
					<div class="ui-g-6 ui-md-8">
						<span class="md-inputfield">
                        	<input type="number" pInputText [(ngModel)]="nivelNuevo.metricaInicial" id="txtMetricaIncial" name="txtMetricaIncial"
                            formControlName="metricaInicial" pTooltip="Métrica inicial" tooltipPosition="top" min="0 ">
						</span>
					</div>
				</div>

				<!-- Multiplicador -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-6 ui-md-4">
						<label i18n><strong>Multiplicador:</strong></label>
					</div>
					<div class="ui-g-6 ui-md-8">
						<span class="md-inputfield">
                        	<input type="number" pInputText [(ngModel)]="nivelNuevo.multiplicador" id="txtMultiplicador" name="txtMultiplicador"
                            formControlName="multiplicador" min="1">
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="nuevo=false"></button>
		<button pButton *ngIf="escritura" type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="agregarNivel()" [disabled]="!formNivel.valid"></button>
    </p-footer>
</p-dialog>

<!--Cuadro de dialog para ingresar/editar un nivel-->
<p-dialog i18n-header header="Editar Tier" [(visible)]="nivelEditar" [responsive]="true" showEffect="fade" [modal]="true" width="450" height="310">
	<div class="ui-g-12 ui-md-12">
		<!--Formulario para la inserción/edición de un nivel-->
		<form role="form" [formGroup]="formNivelDetalle">
			<div class="ui-g form-group">
				<!-- Nombre del nivel -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Nombre:</strong></label>
					</div>
					
					<div class="ui-g-12 ui-md-8">
						<span class="md-inputfield">
                        	<input type="text" pInputText  id="txtNombre" name="txtNombre" maxlength="30"
                            [(ngModel)]="nivel.nombre" formControlName="nombre" pTooltip="Nombre del nivel" tooltipPosition="top">
                        </span>
					</div>
				</div>

				<!-- Descripción del nivel -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Descripción:</strong></label>
					</div>
					
					<div class="ui-g-12 ui-md-8">
						<span class="md-inputfield">
                        	<input type="text" pInputText  id="txtDescripcion" name="txtDescripcion" maxlength="30"
                            [(ngModel)]="nivel.descripcion" formControlName="descripcion" pTooltip="Descripción del nivel" tooltipPosition="top">
                        </span>
					</div>
				</div>

				<!-- Metrica inicial -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-6 ui-md-4">
						<label i18n><strong>Métrica inical:</strong></label>
					</div>
					<div class="ui-g-6 ui-md-8">
						<span class="md-inputfield">
                        	<input type="number" pInputText [(ngModel)]="nivel.metricaInicial" id="txtMetricaIncial" name="txtMetricaIncial"
                            formControlName="metricaInicial" pTooltip="Métrica inicial" tooltipPosition="top" min="0 ">
						</span>
					</div>
				</div>
				<!-- Multiplicador -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-6 ui-md-4">
						<label i18n><strong>Multiplicador:</strong></label>
					</div>
					<div class="ui-g-6 ui-md-8">
						<span class="md-inputfield">
                        	<input type="number" pInputText [(ngModel)]="nivel.multiplicador" id="txtMultiplicador" name="txtMultiplicador"
                            formControlName="multiplicador" min="1">
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="nivelEditar=false"></button>
		<button pButton *ngIf="escritura" type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="editarNivel()" [disabled]="!formNivelDetalle.valid"></button>
    </p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerNivel()" *ngIf="elemento == 'nivel'" icon="ui-icon-trash"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerGrupo()" *ngIf="elemento == 'grupo'" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>
