<div class="ui-g ui-fluid card">
	<div class="ui-g-12">
		<div class="ui-g-12 ui-md-10">
			<h1 i18n>Grupos de Tiers</h1>
		</div>
		<div class="ui-g-12 ui-md-12">
			<div class="ui-g-12 ui-md-10">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaGrupos()" (onRemove)="busquedaGrupos()" i18n-placeholder placeholder="Búsqueda"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<div *ngIf="!nuevo" class="ui-g-12 ui-md-2">
				<button pButton type="button" class="green-btn" i18n-label label="Agregar" (click)="nuevo=true" icon="ui-icon-add"></button>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>
		<div class="ui-g-12" *ngIf="!cargandoDatos && !listaVacia">
			<!--Se muestra la lista con los tipos de cliente-->
			<p-dataList [value]="listaGrupos" [paginator]="true" [rows]="10">
				<p-header i18n>
					Grupos de Tiers
				</p-header>
				<ng-template let-grupo pTemplate="item">
					<div class="clearfix" style="border-bottom: 1px solid #bdbdbd">
						<div class="ui-g-1 ui-md-1 ui-lg-1"></div>
						<div class="ui-g-6 ui-md-6">
							<h4 i18n><strong>Nombre del grupo : &nbsp; &nbsp;</strong>{{grupo.nombre}}</h4>
						</div>
						<button pButton type="button" icon="ui-icon-edit" style="margin:14px 24px 0 0;float:right" pTooltip="Ver detalle" tooltipPosition="top" (click)="accion(grupo.idGrupoNivel, 'detalle')"></button>
						<button pButton type="button" icon="ui-icon-delete" style="margin:14px 24px 0 0;float:right" pTooltip="Remover" tooltipPosition="top" (click)="accion(grupo.idGrupoNivel, 'remover')" *ngIf="escritura"></button>
					</div>
				</ng-template>
			</p-dataList>
		</div>
		<div class="ui-g-12" *ngIf="listaVacia">
			<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<span i18n>No hay grupos de niveles disponibles.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de dialog para ingresar un grupo de niveles-->
<p-dialog i18n-header header="Nuevo Grupo de Tiers" [(visible)]="nuevo" [responsive]="true" showEffect="fade" [modal]="true" width="450"
	height="200">
	<div class="ui-g-12 ui-md-12">
		<form role="form" #formGrupo="ngForm">
			<div class="ui-g form-group">
				<!--Nombre del Grupo-->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-6">
						<label i18n><strong>Nombre del Grupo:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-6">
						<input id="txtNombre" name="txtNombre" type="text" pInputText [(ngModel)]="grupoNivel.nombre" #nombre="ngModel" pTooltip="Nombre del grupo"
							maxlength="100" tooltipPosition="top" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="nuevo=false"></button>
		<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="validarNombre()" [disabled]="!formGrupo.valid"></button>
	</p-footer>		
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerGrupoNivel()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>
