<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-10">
        <h3>Importación y exportación de miembros</h3>
    </div>
    <div class="ui-g-12 ui-md-2">
        <button type="text" pButton i18n-label label="Ayuda" (click)="ayuda = true" icon="ui-icon-help"></button>
    </div>
    <div class="ui-g-12 ui-md-12">
        <p-tabView>
            <p-tabPanel i18n-header header="Importar">
                <div class="ui-g" *ngIf="!escrituraMiembro || !escrituraSegmento">
                    <div class="ui-g-12" style="margin-top: 25px;"></div>
                    <div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
                        <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                            <i class="material-icons">information</i>
                        </div>
                        <div class="ui-g-8 ui-md-7 ui-lg-7">
                            <label i18n>No tiene autorización para importar miembros al segmento.</label>
                        </div>
                    </div>
                </div>
                <div class="ui-g" *ngIf="escrituraMiembro && escrituraSegmento">
                    <div class="ui-g-12 ui-md-4">
                        <div class="ui-g-12 ui-md-4">
                            <ng-container i18n>Identificador:</ng-container>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <p-dropdown [options]="idItems" name="dpdIdentificacion" [(ngModel)]="identificacion" autoWidth></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div class="ui-g-12 ui-md-4">
                            <ng-container i18n>Acción:</ng-container>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <p-dropdown [options]="accionItems" name="dpdAccion" [(ngModel)]="accion" autoWidth></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button" class="green-btn" i18n-label label="Subir archivo" icon="ui-icon-file-upload" (click)="importarMiembros()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo == ''">
                        <ng-container i18n>Ningún archivo seleccionado</ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo != ''">
                        <ng-container>{{nombreArchivo}}</ng-container>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <input class="upload" id="archivo" name="archivo" type="file" (change)="subirArchivo()" accept=".csv">
                        <label for="archivo" i18n>Seleccione un archivo</label>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel i18n-header header="Exportar">
                <div class="ui-g" *ngIf="!lecturaMiembro">
                    <div class="ui-g-12" style="margin-top: 25px;"></div>
                    <div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
                        <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                            <i class="material-icons">information</i>
                        </div>
                        <div class="ui-g-8 ui-md-7 ui-lg-7">
                            <label i18n>No tiene autorización para exportar los miembros del segmento.</label>
                        </div>
                    </div>
                </div>
                <div class="ui-g" *ngIf="lecturaMiembro">
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button" class="green-btn" i18n-label label="Exportar miembros" icon="ui-icon-file-upload" (click)="exportarMiembros()"></button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Ayuda" [(visible)]="ayuda" [responsive]="true" showEffect="fade" [modal]="true">

    <div class="ui-g-12 ui-md-12">
        <h4>Importación y exportación</h4>
        <p> La extensión del archivo adjunto debe ser .csv</p>
        <p i18n>Para realizar la importación de miembros al segmento: </p>
        <ul>
            <li i18n>Debe seleccionar el tipo de identificación para el miembro:</li>
            <ul>
                <li i18n> UUID </li>
                <li i18n> Identificación del miembro</li>
            </ul>
            <li i18n>Debe seleccionar el tipo de acción:</li>
            <ul>
                <li i18n> Incluir </li>
                <li i18n> Excluir </li>
            </ul>
        </ul>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cerrar" (click)="ayuda = false" icon="ui-icon-close"></button>
    </p-footer>
</p-dialog>