<div class="card">
    <div class="ui-g">
        <div class="ui-g-1 ui-md-1">
            <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
            <h1 i18n>Nuevo Segmento</h1>
        </div>
    </div>
</div>
<div class="card">
    <div class="ui-toolbar">
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" routerLink="atributos" [routerLinkActive]="['ruta-activada']"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                <button pButton disabled="true" type="button" icon="ui-icon-create" i18n-label label="Audiencia"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                <button pButton disabled="true" type="button" icon="ui-icon-group" i18n-label label="Reglas"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                <button pButton disabled="true" type="button" icon="ui-icon-brush" i18n-label label="Clientes"></button>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12">
                <h1 i18n>Datos del Segmento</h1>
            </div>
            <form [formGroup]="form">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label class="control-label" for="nombreSegmento" i18n><strong>Nombre</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input id="nombreSegmento" name="nombreSegmento" type="text" pInputText [(ngModel)]="segmento.nombre" (blur)="establecerNombres();"
                             formControlName="nombre">
                        <!-- (keyup)="establecerNombres()" <label class="control-label" for="nombreSegmento">Nombre</label>-->
                    </div>
                </div>
                <!-- Descripción del segmento -->
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label class="control-label" for="descSegmento" i18n><strong>Descripción</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input id="descSegmento" name="descSegmento" type="text" pInputText [(ngModel)]="segmento.descripcion" formControlName="descripcion">
                        <!--<label class="control-label" for="descSegmento">Descripción</label>-->
                    </div>
                </div>
                <!--form-group-->
                <!-- Nombre de despleigue -->
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label class="control-label" for="nombreDespliegue" i18n><strong>Nombre de despliegue</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input id="nombreDespliegue" name="nombreDespliegue" type="text" pInputText [(ngModel)]="segmento.nombreDespliegue" formControlName="nombreDespliegue">
                        <!--<label class="control-label" for="nombreDespliegue">Nombre de despliegue</label>-->
                        <div *ngIf="!nombreValido&&form.get('nombreDespliegue').touched">
                            <span class="badge alert-danger" i18n>*El nombre de despliegue ya existe</span>
                        </div>
                    </div>
                </div>
                <!--form-group-->
                <!-- Frecuencia de actualizacion -->
                <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="segmento.indEstatico=='D'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label class="control-label" for="frecActualizacion"  i18n><strong>Frecuencia de actualización</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input id="frecActualizacion"  name="frecActualizacion" type="number" min="1" pInputText [(ngModel)]="segmento.frecuenciaActualizacion" formControlName="frecActualizacion">
                        <!--<label class="control-label" for="frecActualizacion">Frecuencia de actualización</label>-->
                    </div>
                    
                </div>
                <!--form-group-->
                <!-- Radio buttons usados para el tipo de segmento -->
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label class="control-label" for="radioTipo" i18n><strong>Tipo</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <!-- Radio buttons usados para el tipo de segmento -->
                        <p-radioButton name="radioTipo" value="E" i18n-label label="Estático" [(ngModel)]="segmento.indEstatico" formControlName="radioTipo"></p-radioButton>
                        <p-radioButton name="radioTipo" value="D" i18n-label label="Dinámico" [(ngModel)]="segmento.indEstatico" formControlName="radioTipo"></p-radioButton>
                    </div>
                </div>
                <!-- Texto para los tags -->
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label class="control-label" for="inputTag" i18n><strong>Tags</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input id="inputTag" name="tag" type="text" pInputText [(ngModel)]="segmento.tags" formControlName="tag">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-12 ui-md-6 ui-lg-7">
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" (click)="insertarSegmento()" [disabled]="!form.valid||this.validandoNombre"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>