<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="dashboard" *ngIf="segmento.indEstado=='AC'">
				<div class="ui-g-12 ui-md-3 ui-lg-3">
					<div (click)="opInactive.show($event)" class="ui-g card cbx cbx-1">
						<div class="ui-g-4">
							<i class="material-icons">settings</i>
						</div>
						<div class="ui-g-8">
							<span class="name" i18n>Procesar</span>
							<span class="count" i18n>Segmento</span>
						</div>
					</div>
					<p-overlayPanel #opInactive>
						<div class="ui-g ui-fluid" style="width:260px">
							<div style="margin:10px 5px 10px 10px; text-align: justify;">
								<h3 class="input-spacing" i18n><strong>Procesar reglas</strong></h3>
								<p i18n><strong>Atención</strong> El cálculo de reglas representa una carga considerable para el sistema, no inicie el procedimiento
									si no está seguro de las implicaciones que éste tiene.
								</p>
							</div>
							<div class="ui-g-12"><button pButton [disabled]="segmento.indEstado==''" class="green-btn" style="margin-top:10px" i18n-label label="Procesar" icon="ui-icon-play-arrow"
									(click)="recalculateEligibles();opInactive.hide()"></button></div>
						</div>
					</p-overlayPanel>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-6">
					<img *ngIf="indRecalculo" class="loading-gif" src="/resources/img/loading_icon.gif">
				</div>
				<div class="ui-g-12 ui-md-3 ui-lg-3">
					<div *ngIf="!mostrarInfoMiembros">
						<button pButton type="button" icon="ui-icon-group" (click)="mostrarInfoMiembros=!mostrarInfoMiembros" i18n-label label="Mostrar Miembros "></button>
					</div>
					<div *ngIf="mostrarInfoMiembros">
						<button pButton type="button" icon="ui-icon-info" (click)="mostrarInfoMiembros=!mostrarInfoMiembros" i18n-label label="Mostrar Info"></button>
					</div>
				</div>
				<div *ngIf="!mostrarInfoMiembros">
					<div class="ui-g-12" *ngIf="segmentoProcesado&&!infoElegibles">
						<div style="background: #2196F3; font-size: x-small; color: white;">
							<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
								<i class="material-icons">information</i>
							</div>
							<div class="ui-g-8 ui-md-7 ui-lg-7">
								<label i18n>No existe informacion disponible para ese segmento.</label>
							</div>
						</div>
						<!--<p-messages [value]="[{severity:'info', summary:'Info', detail:'No existe informacion disponible para ese segmento'}]"></p-messages>-->
					</div>
					<div class="ui-g-12" *ngIf="segmentoProcesado&&infoElegibles">
						<p-panel>
							<div class="activity-header">
								<div class="ui-g">
									<div class="ui-g-10">
										<span style="font-weight:bold" i18n>Info de procesamiento</span>
										<p i18n>Actualizado por última vez el: {{infoElegibles.ultimaActualizacion|date:"dd/MM/yy - hh:mm:ss"}}</p>
									</div>
									<!--<div class="ui-g-2" style="text-align:right">
										<button type="button" i18n-label label="Actualizar" icon="ui-icon-update" pButton (click)="getInfoEligibles()"></button>
									</div>-->
								</div>
							</div>
							<ul class="activity-list">
								<li>
									<div class="count">{{infoElegibles.cantidadMiembros}}</div>
									<div class="ui-g">
										<div class="ui-g-6"><ng-container i18n>Cantidad de miembros</ng-container></div>
										<div class="ui-g-6"></div>
									</div>
								</li>
								<li>
									<div class="count" style="background-color:#ffc107">{{infoElegibles.reglasFallidas}}</div>
									<div class="ui-g">
										<div class="ui-g-6"><ng-container i18n>Reglas Fallidas</ng-container></div>
										<div class="ui-g-6"></div>
									</div>
								</li>
								<li>
									<div class="count" style="background-color:#673AB7">{{infoElegibles.reglasProcesadas}}</div>
									<div class="ui-g">
										<div class="ui-g-6"><ng-container i18n>Reglas Procesadas</ng-container></div>
										<div class="ui-g-6"></div>
									</div>
								</li>
								<li>
									<div class="count" style="background-color:#00bcd4">{{infoElegibles.ultimaActualizacion|date:"HH:mm"}}</div>
									<div class="ui-g">
										<div class="ui-g-6"><ng-container i18n>Hora de actualización</ng-container></div>
										<div class="ui-g-6"></div>
									</div>
								</li>
								<li>
									<div class="count" style="background-color:#607D8B">{{infoElegibles.listasFallidas}}</div>
									<div class="ui-g">
										<div class="ui-g-6"><ng-container i18n>Listas Fallidas</ng-container></div>
										<div class="ui-g-6"></div>
									</div>
								</li>
								<li>
									<div class="count" style="background-color:#FF5722">{{infoElegibles.listasProcesadas}}</div>
									<div class="ui-g">
										<div class="ui-g-6"><ng-container i18n>Listas Procesadas</ng-container></div>
										<div class="ui-g-6"></div>
									</div>
								</li>
							</ul>
						</p-panel>
					</div>
					<div *ngIf="!segmentoProcesado">
						<div class="ui-g-12 ui-md-12 ui-lg-12" >
							<div style="background: #2196F3; font-size: x-small; color: white;">
								<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
									<i class="material-icons">information</i>
								</div>
								<div class="ui-g-8 ui-md-7 ui-lg-7">
									<label i18n>El segmento aun no ha sido procesado.</label>
								</div>
							</div>
							<!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'', detail:'El segmento aun no ha sido procesado'}]"></p-messages>-->
						</div>
					</div>
				</div>

				<div *ngIf="mostrarInfoMiembros">
					
					<div class="ui-g-12" *ngIf="segmentoProcesado">
						<div *ngIf="listaMiembros.length==0">
							<div style="background: #2196F3; font-size: x-small; color: white;">
								<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
									<i class="material-icons">information</i>
								</div>
								<div class="ui-g-8 ui-md-7 ui-lg-7">
									<label i18n>Aún no hay miembros en este segmento.</label>
								</div>
							</div>
							<!--<p-messages [value]="[{severity:'info', summary:'', detail:'Aun no hay miembros en este segmento'}]"></p-messages>-->
						</div>
						<p-dataList [value]="listaMiembros" *ngIf="listaMiembros.length>0" [paginator]="true" [rows]="9" [lazy]="true" (onLazyLoad)="loadData($event)"
							[totalRecords]="cantRegistrosTotal">
							<p-header i18n>
								Lista de Miembros
							</p-header>
							<ng-template let-miembro  pTemplate="item">
								<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
									<div class="ui-g-1 ui-md-1"></div>
									<div class="ui-g-2">
										<img class="img-lists  img-border" src="{{miembro.avatar}}">
									</div>
									<div class="ui-g-4">
										<p><strong> {{miembro.nombre}}</strong> {{miembro.apellido}}</p>
										<p><strong i18n>Usuario: </strong>{{miembro.correo}}</p>
									</div>
									<button type="button" (click)="gotoDetailMiembro(miembro)" pButton icon="ui-icon-edit" style="margin:14px 24px 0 0;float:right"></button>
								</div>
							</ng-template>
						</p-dataList>
					</div>
					<div *ngIf="!segmentoProcesado">
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div style="background: #2196F3; font-size: x-small; color: white;">
								<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
									<i class="material-icons">information</i>
								</div>
								<div class="ui-g-8 ui-md-7 ui-lg-7">
									<label i18n>El semgento aun no ha sido procesado.</label>
								</div>
							</div>
							<!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'', detail:'El semgento aun no ha sido procesado'}]"></p-messages>-->
						</div>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="segmento.indEstado!='AC'">
				<div style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Solamente de pueden consultar elegibles cuando el segmento se encuentra en estado activo.</label>
					</div>
				</div>
				<!--<p-messages [closable]="false" [value]="[{severity:'info', summary:'', detail:'Solamente de pueden consultar elegibles cuando el segmento se encuentra en estado activo'}]"></p-messages>-->
			</div>
	</div>
</div>