<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-lg-12">
		<div *ngIf="!displayInsertarMiembros">
			<h2 class="ui-g-6 ui-lg-6" i18n>Miembros a <span *ngIf="indExcluir=='I'">incluir</span><span *ngIf="indExcluir=='E'" >excluir</span> del segmento</h2>
			<div class="input-spacing ui-g-2 ui-lg-2" style="text-align:right">
				<ng-container i18n>Acción:</ng-container>
			</div>
			<div class="input-spacing ui-g-2 ui-lg-2">
				<p-dropdown id="selectOperadorTxt" name="selectOperadorTxt" [(ngModel)]="indExcluir" (onChange)="actualizarListas()" [autoWidth]="false"
					[options]="elementosSelectIncluir"></p-dropdown>
			</div>

			<div class=" input-spacing ui-g-2 ui-lg-2">
				<div *ngIf="indExcluir=='I'">
					<button id="btnAddMiembro" [disabled]="!tienePermisosEscritura" type="button" icon="ui-icon-add" pButton i18n-label label="Agregar Miembro"
						(click)="mostrarModalInsertar()"></button>
				</div>
				<div *ngIf="indExcluir=='E'">
					<button id="btnAddMiembro" [disabled]="!tienePermisosEscritura" type="button" icon="ui-icon-clear" pButton i18n-label label="Excluir Miembro"
						(click)="mostrarModalInsertar()"></button>
				</div>
			</div>

			<div class="ui-g-12 ui-md-12" *ngIf="(indExcluir=='I'&&listaBlancaMiembros.length==0)||(indExcluir=='E'&&listaNegraMiembros.length==0)">
				<div style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay miembros asociados a esta lista.</label>
					</div>
				</div>
				<!--<p-messages [value]="[{summary:'',detail:'Aún no hay miembros asociados a esta lista', severity:'info'}]"></p-messages>-->
			</div>

			<div *ngIf="indExcluir=='I'&&listaBlancaMiembros.length>0" class="ui-g-12 ui-lg-12">
				<p-dataTable [value]="listaBlancaMiembros" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleRemover" [globalFilter]="gb">
					<p-header i18n>
						Lista de Miembros
					</p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.nombre}} {{miembro.apellido}}</span>
						</ng-template>
					</p-column>
					<p-column field="apellido" i18n-header header="Apellidos">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span> {{miembro.apellido}}{{miembro.apellido2}}</span>
						</ng-template>
					</p-column>
					<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
					<p-column styleClass="col-button">
						<ng-template pTemplate="header">
							<button [disabled]="!tienePermisosEscritura" type="button"  i18n-label label="Eliminar seleccionados" pButton icon="ui-icon-delete" (click)="displayModalEliminar=true"></button>
						</ng-template>
						<ng-template let-miembro="rowData"  pTemplate="body">
							<button [disabled]="!tienePermisosEscritura" type="button" i18n-label label="Eliminar" pButton (click)="eliminarMiembro(miembro)" icon="ui-icon-delete"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
			<div *ngIf="indExcluir=='E'&&listaNegraMiembros.length>0" class="ui-g-12 ui-lg-12">
				<p-dataTable [value]="listaNegraMiembros" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleRemover" [globalFilter]="gb">
					<p-header i18n>
						Lista de Miembros
					</p-header>
					<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
					<p-column field="nombre" i18n-header header="Nombre">
						<ng-template let-miembro="rowData" pTemplate="body">
							<span>{{miembro.nombre}} {{miembro.apellido}}</span>
						</ng-template>
					</p-column>
					<p-column field="apellido" i18n-header header="Apellidos">
						<ng-template let-miembro="rowData" pTemplate ="body">
							<span> {{miembro.apellido}}{{miembro.apellido2}}</span>
						</ng-template>
					</p-column>
					<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
					<p-column  styleClass="col-button">
						<ng-template pTemplate="header">
							<button type="button" [disabled]="!tienePermisosEscritura" pButton icon="ui-icon-delete" i18n-label label="Eliminar seleccionados" (click)="displayModalEliminar=true"></button>
						</ng-template>
						<ng-template let-miembro="rowData" pTemplate="body">
								<button type="button" [disabled]="!tienePermisosEscritura" i18n-label label="Eliminar" pButton (click)="eliminarMiembro(miembro)" icon="ui-icon-delete"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12">
		<div *ngIf="displayInsertarMiembros" class="wrapper-spacing">
			<div class="ui-g-12">
				<div *ngIf="indExcluir=='I'">
					<h2 class="input-spacing" i18n>Incluir Miembros</h2>
				</div>
				<div *ngIf="indExcluir=='E'">
					<h2 class="input-spacing" i18n>Excluir Miembros</h2>
				</div>
			</div>
			<div class="ui-g-12 ui-md-10">
				<p-chips [(ngModel)]="busquedaMiembros" (onAdd)="buscarMiembros()" (onRemove)="buscarMiembros()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			</div>
			<div class="ui-g-12 ui-md-2">
				<button pButton i18n-label label="Volver" icon="ui-icon-arrow-back" type="button" (click)="displayInsertarMiembros=false"></button>
			</div>
			<div *ngIf="displayInsertarMiembros&&listaMiembrosDisponibles.length==0" class="wrapper-spacing ui-g-12 ui-lg-12">
				<div style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay miembros disponibles para insertar</label>
					</div>
				</div>
				<!--<p-messages [value]="[{summary:'',detail:'Aún no hay miembros disponibles para insertar', severity:'info'}]"></p-messages>-->
			</div>
			<div class="ui-g-12 ui-md-12" *ngIf="displayInsertarMiembros&&!listaVacia">
					<p-dataTable [value]="listaMiembrosDisponibles" [paginator]="true" [rows]="10" [(selection)]="seleccMultipleAgregar" [globalFilter]="gb">
						<p-header i18n>Lista de clientes disponibles</p-header>
						<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
						<p-column field="nombre" i18n-header header="Nombre">
							<ng-template let-miembro="rowData" pTemplate="body">
								<span>{{miembro.nombre}} {{miembro.apellido}}</span>
							</ng-template>
						</p-column>
						<p-column field="apellido" i18n-header header="Apellidos">
							<ng-template let-miembro="rowData" pTemplate="body">
								<span> {{miembro.apellido}}{{miembro.apellido2}}</span>
							</ng-template>
						</p-column>
						<p-column field="docIdentificacion" i18n-header header="ID"></p-column>
						<p-column  styleClass="col-button">
							<ng-template pTemplate="header">
								<div *ngIf="indExcluir=='I'">
									<button type="button" pButton icon="ui-icon-add" i18n-label label="Incluir seleccionados" (click)=" agregarListaMiembros()"></button>
								</div>
								<div *ngIf="indExcluir=='E'">
									<button type="button" pButton icon="ui-icon-clear" i18n-label label="Excluir seleccionados" (click)=" agregarListaMiembros()"></button>
								</div>
							</ng-template>
							<ng-template let-miembro="rowData" pTemplate="body">
								<div *ngIf="indExcluir=='I'">
									<button icon="ui-icon-add" pButton i18n-label label="Incluir" (click)="agregarMiembro(miembro)"></button>
								</div>
								<div *ngIf="indExcluir=='E'">
									<button icon="ui-icon-clear" pButton i18n-label label="Excluir" (click)="agregarMiembro(miembro)"></button>
								</div>
							</ng-template>
						</p-column>
					</p-dataTable>
			</div>
		</div>
	</div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalAgregarLista">
	<div *ngIf="indExcluir=='E'">
		<ng-container i18n>¿Está seguro que desea agregar los miembros a la lista de excluidos?</ng-container>
	</div>
	<div *ngIf="indExcluir=='I'">
		<ng-container i18n>¿Está seguro que desea agregar los miembros a la lista de incluidos?</ng-container>
	</div>
	<p-footer>
		<button type="button" pButton icon="fa-close" (click)="displayModalAgregarLista=false" i18n-label label="Cancelar"></button>
		<button type="button" pButton icon="fa-check" (click)="agregarListaMiembros()" i18n-label label="Eliminar"></button>
	</p-footer>
</p-dialog>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar">
	<ng-container i18n>¿Está seguro que desea eliminar los miembros de la lista de elegibles?</ng-container>
	<p-footer>
		<button type="button" pButton icon="fa-close" (click)="displayModalEliminar=false" i18n-label label="Cancelar"></button>
		<button type="button" pButton icon="fa-check" (click)="eliminarListaMiembros()" i18n-label label="Eliminar"></button>
	</p-footer>
</p-dialog>