<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-g-12">
      <h1 i18n>Datos del Segmento</h1>
    </div>
    <form [formGroup]="form">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-4 ui-lg-2">
          <label class="control-label" for="nombreSegmento" i18n><strong>Nombre</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
          <input id="nombreSegmento" name="nombreSegmento" pInputText pTooltip="Nombre del segmento" tooltipPosition="left" type="text"
            [(ngModel)]="segmento.nombre" formControlName="nombre">
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-4 ui-lg-2">
          <label class="control-label" for="nombreSegmento" i18n><strong>Descripción</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
          <input id="descSegmento" pInputText pTooltip="Nombre" tooltipPosition="left" type="text" name="descSegmento" type="text"
            [(ngModel)]="segmento.descripcion" formControlName="descripcion">
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-4 ui-lg-2">
          <label class="control-label" for="nombreSegmento" i18n><strong>Nombre de despliegue</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
          <input id="nombreDespliegue" pInputText pTooltip="Nombre de despliegue" tooltipPosition="left" type="text" name="nombreDespliegue"
            type="text" [(ngModel)]="segmento.nombreDespliegue" formControlName="nombreDespliegue" (blur)="validarNombre()">
          <div *ngIf="!nombreValido&&form.get('nombreDespliegue').touched">
            <span class="badge alert-danger" i18n>*El nombre de despliegue es incorrecto o ya existe</span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-4 ui-lg-2">
          <label for="frecActualizacion" i18n><strong>Tipo de segmento:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9" *ngIf="segmento.indEstatico=='E'">
          <ng-container i18n>Estático</ng-container>
        </div>
        <div class="ui-g-12 ui-md-9" *ngIf="segmento.indEstatico=='D'">
          <ng-container i18n>Dinámico</ng-container>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="segmento.indEstatico=='D'">
        <div class="ui-g-12 ui-md-4 ui-lg-2">
          <label class="control-label" for="nombreSegmento" i18n><strong>Frecuencia de actualización</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
          <input id="frecActualizacion" pInputText pTooltip="Nombre" tooltipPosition="left" type="text" name="frecActualizacion" type="number"
            min="1" [(ngModel)]="segmento.frecuenciaActualizacion" formControlName="frecActualizacion">
        </div>
      </div>
      <div *ngIf="segmento.frecuenciaActualizacion<=0&&form.get('nombre').touched">
        <span class="badge alert-danger" i18n>*Datos incorrectos</span>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-4 ui-lg-2">
          <label class="control-label" for="nombreSegmento" i18n><strong>Tags</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
          <input id="inputTag" name="tag" type="text" pInputText pTooltip="Tags" tooltipPosition="left" [(ngModel)]="segmento.tags"
            formControlName="tag">
        </div>
      </div>
    </form>

  </div>
  <div class="ui-g-12 ui-md-12 " *ngIf="tienePermisosEscritura">
    <!--<div class="ui-lg-2 ui-g-2">
      <!--<button type="button" pButton (click)="actualizarSegmento()" label="Anterior" [disabled]="!form.valid||segmento.frecuenciaActualizacion<=0"></button>->
    </div>-->
    <div class="ui-g-12 ui-md-7"></div>
    <div class="ui-g-12 ui-md-2">
      <button type="button" pButton (click)="actualizarSegmento()" i18n-label label="Guardar" icon="ui-icon-save" class="green-btn"
        [disabled]="!form.valid||segmento.frecuenciaActualizacion<=0"></button>
    </div>
  </div>
</div>