<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-12 ui-md-10 ui-lg-10">
      <h2 i18n> Grupos de reglas</h2>
    </div>
    <div class="ui-g-12 ui-md-2 ui-lg-2">
      <button id="btnAddRegla" [disabled]="!tienePermisosEscritura" i18n-label label="Agregar grupo" icon="ui-icon-add" class="green-btn"
        type="button" pButton (click)="mostrarModalInsertar()"></button>
    </div>

    <div *ngIf="!loading&&empty">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<label i18n>Aún no hay listas de reglas asociadas a este segmento! Agrega una.</label>
					</div>
				</div>
        <!--<div class="alert alert-info">
          <p-messages [value]="[{severity:'info', summary:'', detail:'Aún no hay listas de reglas asociadas a este segmento! Agrega una.'}]"></p-messages>
        </div>-->
      </div>
    </div>

    <div class="ui-g-12" *ngIf="loading">
      <div class="ui-g-5"></div>
      <div class="ui-g-2">
        <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
      </div>
      <div class="ui-g-5"></div>
    </div>

    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <p-dataList *ngIf="!loading&&!empty" [value]="segmento.listaReglasList" [paginator]="true" [rows]="10">
        <p-header i18n>
          Grupos de reglas del segmento
        </p-header>
        <ng-template let-reglaList pTemplate="item">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <button (click)=subirNivel(reglaList) pButton icon="ui-icon-arrow-upward"></button>
                <button (click)=bajarNivel(reglaList) pButton icon="ui-icon-arrow-downward"></button>
              </div>
              <div class="ui-grid-col-4">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <ng-container i18n>Nombre: </ng-container>
                    </div>
                    <div class="ui-grid-col-8">{{reglaList.nombre}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <ng-container i18n>Orden: </ng-container>
                    </div>
                    <div class="ui-grid-col-8"> {{reglaList.orden}}</div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-col-5">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">O
                      <ng-container i18n>Operador: </ng-container>
                    </div>
                    <div class="ui-grid-col-8">{{reglaList.indOperador|indOperador}}</div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-col-1">
                <div class="ui-grid-row">
                  <button pButton class="pull-right" icon="ui-icon-delete" [disabled]="!tienePermisosEscritura" (click)="eliminarRegla(reglaList)"></button>
                  <button pButton class="pull-right" icon="ui-icon-edit" (click)="gotoDetail(reglaList)"></button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataList>
    </div>
  </div>
</div>

<p-dialog i18n-header header="Agregar Grupo" [(visible)]="mostraModalInsertar" showEffect="fade" [modal]="true" minWidth="600"
  minHeight="250">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <form [formGroup]="modalGrp">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12">
            <label for="textinput" i18n>Nombre del grupo</label>
          </div>
          <div class="ui-g-12">
            <input [(ngModel)]="listaReglas.nombre" pInputText id="textinput" name="textinput" type="text" formControlName="nombreLista">
          </div>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-12">
            <label i18n>Operador del grupo</label>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-dropdown id="selectbasic" [autoWidth]="false" name="selectbasic" [options]="operadores" [(ngModel)]="listaReglas.indOperador"
              formControlName="operadorLista"></p-dropdown>
          </div>
        </div>
      </form>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton (click)="mostraModalInsertar=false" icon="fa-close" i18n-label label="Cerrar" data-dismiss="modal"></button>
      <button type="button" pButton (click)=agregarListaReglas() icon="fa-check" [disabled]="!modalGrp.valid" i18n-label label="Agregar"
        data-dismiss="modal"></button>
  </p-footer>
</p-dialog>

<!--<p-dialog [(visible)]="mostraModalConfirm" showEffect="fade" [modal]="true" minWidth="800" minHeight="450" width="800" height="450">
  <p-header>
    <h4 i18n>Confirmación</h4>
  </p-header>
  <p>{{modalmsg}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="eliminarRegla()" data-dismiss="modal" i18n-label label="Aceptar" icon="ui-icon-check"></button>
      <button type="button" pButton data-dismiss="modal" i18n-label label="Cancelar" icon="ui-icon-close"> </button>
    </div>
  </p-footer>
</p-dialog>-->