<div class="card">
      <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-1">
		      <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
		</div>
            <div class="ui-g-12 ui-md-8">
                  <div class="ui-g-12">
                        <div class="heading-detalle">{{segmento.nombreDespliegue}}</div>
                  </div>
                  <div class="ui-g-12">
                        <div class="sub-heading-detalle"><ng-container i18n>Segmento</ng-container></div>
                  </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                  <div *ngIf="segmento.indEstado=='AC'">
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                              <div (click)="opA.show($event)" class="ui-g card cbx cbx-1">
                                    <div class="ui-g-4">
                                          <i class="material-icons">check</i>
                                    </div>
                                    <div class="ui-g-8">
                                          <span class="name" i18n>Estado:</span>
                                          <span class="count"  i18n>Activo</span>
                                    </div>
                              </div>
                        </div>
                        <p-overlayPanel #opA>
                              <div class="ui-g ui-fluid" style="width:260px">
                                    <div style="margin:10px 5px 10px 10px">
                                          <h3 class="input-spacing"><strong i18n>Segmento Activo</strong></h3>
                                                <p i18n>El segmento se encuentra en estado activo, ahora están habilitadas 
                                                muchas funciones como la consulta de elegibles, puede usar este segmento 
                                                en los demás módulos de la aplicacion</p>
                                          <div class="ui-g-12">
                                                <button pButton class="red-btn" style="margin-top:10px" i18n-label label="Archivar" icon="ui-icon-delete" (click)="displayModalArchivar=true; opA.hide()"></button>
                                          </div>
                                    </div>
                              </div>
                        </p-overlayPanel>
                  </div>
                  <div *ngIf="segmento.indEstado=='BO'">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                              <div (click)="opC.show($event)" class="ui-g card cbx cbx-2">
                                    <div class="ui-g-4">
                                          <i class="material-icons">create</i>
                                    </div>
                                    <div class="ui-g-8">
                                          <span class="name" i18n>Estado:</span>
                                          <span class="count" i18n>Borrador</span>
                                    </div>
                              </div>
                        </div>
                        <p-overlayPanel #opC>
                              <h4 class="input-spacing"><strong>Activar Segmento</strong></h4>
                              <div class="ui-g ui-g-fluid" style="width:260px">
                                    <div class="ui-g-12">
                                          <p i18n>El segmento se encuentra en estado borrador, puede editar el segmento de manera
                                             segura, eliminarlo o activarlo si así lo desea</p>
                                    </div>
                                     <div class="ui-g-12">
                                          <p i18n>Una vez que el segmento se encuentre activo, no podrá volver a borrador</p>
                                    </div>
                                    <div class="ui-g-12">
                                          <button pButton i18n-label label="Activar" class="green-btn" (click)="activarSegmento(); opC.hide()" icon="ui-icon-check"></button>
                                    </div>
                                    <div class="ui-g-12">
                                          <button pButton i18n-label label="Eliminar" class="red-btn" (click)="displayModalEliminar=true; opC.hide()" icon="ui-icon-delete"></button>
                                    </div>
                              </div>
                        </p-overlayPanel>
                  </div>
                  <div *ngIf="segmento.indEstado=='AR'">
                        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                              <div class="ui-g card cbx cbx-3">
                                    <div class="ui-g-4">
                                          <i class="material-icons">delete_forever</i>
                                    </div>
                                    <div class="ui-g-8">
                                          <span class="name" i18n>Estado</span>
                                          <span class="count" i18n>Archivado</span>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

      </div>
</div>
<div class="ui-toolbar">
      <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                  <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" routerLink="atributos" [routerLinkActive]="['ruta-activada']"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                  <button pButton type="button" icon="ui-icon-create" i18n-label label="Audiencia" routerLink="elegibles" [routerLinkActive]="['ruta-activada']"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3" *ngIf="segmento.indEstatico=='D'">
                  <button pButton type="button" icon="ui-icon-settings" i18n-label label="Reglas" routerLink="reglas" [routerLinkActive]="['ruta-activada']"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                  <button pButton type="button" icon="ui-icon-group" i18n-label label="Clientes" routerLink="miembros" [routerLinkActive]="['ruta-activada']"></button>
            </div>
            <div class="ui-g-6 ui-md-3 ui-lg-3">
                  <button pButton type="button" icon="ui-icon-insert-drive-file" i18n-label label="Importar/Exportar" routerLink="import-export" [routerLinkActive]="['ruta-activada']"></button>
            </div>
      </div>
</div>

<div class="card">
      <router-outlet></router-outlet>
</div>


<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
	      <div class="ui-g">
			<div class="ui-g-12 ui-md-12">
                        <ng-container i18n>¿Está seguro que desea eliminar el segmento?</ng-container>
			</div>
		</div>
	</div>
      <p-footer>
            <button type="button" pButton i18n-label label="Cancelar" icon="ui-icon-close" (click)="displayModalEliminar=false"></button>
            <button type="button" pButton i18n-label label="Eliminar" icon="ui-icon-check" (click)="eliminarSegmento()"></button>
      </p-footer>
</p-dialog>
<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalArchivar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea archivar el segmento?</ng-container>
			</div>
		</div>
	</div>
      <p-footer>
            <button type="button" pButton i18n-label label="Cancelar" icon="ui-icon-close" (click)="displayModalArchivar=false"></button>
            <button type="button" pButton i18n-label label="Archivar" icon="ui-icon-check" (click)="archivarSegmento()"></button>
    </p-footer>
</p-dialog>