<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-md-10">
                <h1 i18n>Segmentos</h1>
            </div>
            <div class="form-group">
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                    <p-chips [(ngModel)]="terminosBusqueda" (onAdd)="buscarSegmentos()" (onRemove)="buscarSegmentos()"></p-chips>
                    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
                    <!--<input type="text" pInputText i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminoBusqueda">-->
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <p-splitButton i18n-label label="Buscar" icon="ui-icon-search" (click)="buscarSegmentos()" [model]="itemsBusqueda"></p-splitButton>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <button pButton type="button" *ngIf="tienePermisosEscritura" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add"
                        [routerLink]="'/segmentos/insertarSegmento'"></button>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-12 fade-in" *ngIf="busquedaAvanzada">
                <div class="ui-g-12 ui-md-12">
                    <p-fieldset i18n-legend legend="Estados" class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p-checkbox name="group1" value="AC" i18n-label label="Activos" (onChange)="this.segmentos=undefined;buscarSegmentos()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p-checkbox name="group1" value="BO" i18n-label label="Borrador" (onChange)="this.segmentos=undefined;buscarSegmentos()"
                                    [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p-checkbox name="group1" value="AR" i18n-label label="Archivados" (onChange)="this.segmentos=undefined;buscarSegmentos()"
                                    [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset i18n-legend legend="Tipos" class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <p-checkbox name="group1" value="E" i18n-label label="Estático" (onChange)="this.segmentos=undefined;buscarSegmentos()" [(ngModel)]="tipos"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <p-checkbox name="group1" value="D" i18n-label label="Dinámico" (onChange)="this.segmentos=undefined;buscarSegmentos()" [(ngModel)]="tipos"></p-checkbox>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset i18n-legend legend="Atributos" class="ui-g-12 ui-md-12">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-4 ui-lg-2 ">
                                <p-checkbox name="group1" value="nombre" i18n-label label="Nombre" (onChange)="this.segmentos=undefined;buscarSegmentos()"
                                    [(ngModel)]="filtros"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-2 ">
                                <p-checkbox name="group1" value="nombre-despliegue" i18n-label (onChange)="this.segmentos=undefined;buscarSegmentos()" label="Nombre de despliegue"
                                    [(ngModel)]="filtros"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-2 ">
                                <p-checkbox name="group1" value="descripcion" i18n-label (onChange)="this.segmentos=undefined;buscarSegmentos()" label="Descripción"
                                    [(ngModel)]="filtros"></p-checkbox>
                            </div>
                        </div>
                    </p-fieldset>
                </div>

                <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="segmentos&&segmentos.length<=0">
                    <div style="background: #2196F3; font-size: x-small; color: white;">
                        <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                            <i class="material-icons">information</i>
                        </div>
                        <div class="ui-g-8 ui-md-7 ui-lg-7">
                            <label i18n>Aún no hay segmentos</label>
                        </div>
                    </div>
                    <!--<p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay segmentos'}]"></p-messages>-->
                </div>
            </div>
            <div class="ui-g-12" *ngIf="!segmentos">
                <div class="ui-g-5"></div>
                <div class="ui-g-12 ui-md-4 ui-lg-2 ">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
                <div class="ui-g-5"></div>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-12">
            <p-dataList [value]="segmentos" [paginator]="true" [rows]="10" *ngIf="segmentos&&segmentos.length>0" (onLazyLoad)="loadData($event)"
                [rows]="9" [lazy]="true" [totalRecords]="cantRegistros">
                <p-header i18n> Lista de Segmentos </p-header>
                <ng-template let-segmento pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre: </strong></div>
                                        <div class="ui-grid-col-8">{{segmento.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre interno:</strong> </div>
                                        <div class="ui-grid-col-8">{{segmento.nombreDespliegue}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Tags: </strong></div>
                                        <div class="ui-grid-col-8">{{segmento.tags}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-6">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Estado: </strong></div>
                                        <div class="ui-grid-col-8">{{segmento.indEstado|estadoSegmento}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Tipo: </strong> </div>
                                        <div class="ui-grid-col-8">{{segmento.indEstatico|tipoSegmento}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-1">
                                <button type="button" class="pull-right" icon="ui-icon-edit" pButton (click)="gotoDetail(segmento)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>