<div class="ui-g ui-fluid ">
	<div class="ui-g-12">

		<div class="ui-g-12">
			<h2 class="sub-heading-detalle" i18n>Definición de elegibles del workflow</h2>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2">
			<div>
				<ng-container i18n>Mostrar:</ng-container>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-4">
			<p-dropdown [autoWidth]="false" [options]="itemsIndComponente" id="selectIndComponente" name="selectIndComponente" [(ngModel)]="indComponente"></p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-4">
			<p-dropdown [autoWidth]="false" [options]="itemsIndExclusion" id="selectIndExclusion" name="selectIndExclusion" [(ngModel)]="indExclusion"></p-dropdown>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-2" *ngIf="!displayInsertar">
			<div *ngIf="indExclusion=='E'">
				<button pButton i18n-label label="Excluir" (click)="displayInsertar=!displayInsertar" icon="ui-icon-clear"></button>
			</div>
			<div *ngIf="indExclusion=='I'">
				<button pButton i18n-label label="Incluir" (click)="displayInsertar=!displayInsertar" icon="ui-icon-add"></button>
			</div>
		</div>
		<div class="ui-g-12 ui-md-4 ui-lg-2" *ngIf="displayInsertar">
			<button pButton i18n-label label="Volver" (click)="displayInsertar=!displayInsertar" icon="ui-icon-arrow-back"></button>
		</div>
		<div *ngIf="indComponente=='S'">
			<workflow-detalle-segmentos [incluir]="indExclusion" [insertar]="displayInsertar"></workflow-detalle-segmentos>
		</div>
		<div *ngIf="indComponente=='U'">
			<workflow-detalle-ubicaciones [incluir]="indExclusion" [insertar]="displayInsertar"></workflow-detalle-ubicaciones>
		</div>
		<div *ngIf="indComponente=='M'">
			<workflow-detalle-miembros [incluir]="indExclusion" [insertar]="displayInsertar"></workflow-detalle-miembros>
		</div>

	</div>
</div>