<div class="card">
    <div class="ui-g">
        <div class="ui-g-1 ui-md-1">
            <button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
        </div>
        <div class="ui-g-12 ui-md-9 ui-lg-7">
            <h1 i18n>Nueva Tarea Programada</h1>
        </div>
    </div>
</div>
<div class="ui-toolbar">
    <div class="ui-g ui-fluid">
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" class="ruta-activada"></button>
        </div>
        <div class="ui-g-6 ui-md-2 ui-lg-2">
            <button pButton disabled="true" type="button" icon="ui-icon-group" i18n-label label="Acciones"></button>
        </div>
    </div>
</div>
<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <form novalidate #f="ngForm">
                <div class="ui-g-12 ui-lg-12">
                    <h2 i18n>Datos generales de la Tarea</h2>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="nombreWorkflow" i18n><strong>Nombre</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <input required pInputText id="nombreWorkflow" name="nombreWorkflow" type="text" #nombreWorkflow="ngModel" [(ngModel)]="workflow.nombreWorkflow"
                            (keyup)="establecerNombres()" (blur)="validarNombre()">
                        <div *ngIf="!nombreWorkflow.valid && nombreWorkflow.touched"><ng-container i18n>*El nombre es requerido</ng-container></div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="nombreInterno" i18n><strong>Nombre interno</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <div class="md-inputfield">
                            <input required readonly #nombreInternoWorkflow="ngModel" pInputText id="nombreInterno" name="nombreInterno" type="text"
                                [(ngModel)]="workflow.nombreInternoWorkflow">
                        </div>
                        <div *ngIf="!nombreValido && nombreWorkflow.touched">
                            <ng-container i18n>*Este nombre ya existe</ng-container>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="indTipoAccion" i18n><strong>Tipo de Acción</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-9 ui-lg-7">
                        <p-dropdown required #selectTipoAccion="ngModel" (onChange)="resetFields()" [options]="itemsCodigo" [autoWidth]="false" id="indTipoAccion"
                            name="indTipoAccion" [(ngModel)]="workflow.indDisparador"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="workflow.indDisparador=='B'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="referencia" i18n><strong>Promoción</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="lecturaPromocion">
                        <input required readonly i18n-placeholder placeholder="Seleccione una Promoción" #indTipoAccion="ngModel" pInputText id="referencia" name="referencia"
                            type="text" [(ngModel)]="nombreElementoSeleccionado">
                        <div *ngIf="!indTipoAccion.valid && indTipoAccion.touched">
                            <ng-container i18n>*Debes seleccionar una Promoción</ng-container>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-1" *ngIf="lecturaPromocion">
                        <button pButton icon="ui-icon-list" (click)="listarElementosDisponibles()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="!lecturaPromocion">
                        <label i18n>No tiene permiso de lectura de promociones.</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="workflow.indDisparador=='C'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="referencia" i18n><strong>Mision</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="lecturaMision">
                        <input required readonly #indTipoAccion="ngModel" i18n-placeholder placeholder="Seleccione una Misión" pInputText id="referencia" name="referencia"
                            type="text" [(ngModel)]="nombreElementoSeleccionado">
                        <div *ngIf="!indTipoAccion.valid && indTipoAccion.touched">
                            <ng-container i18n>*Debes seleccionar una Misión</ng-container>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-1" *ngIf="lecturaMision">
                        <button pButton icon="ui-icon-list" (click)="listarElementosDisponibles()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="!lecturaMision">
                        <label i18n>No tiene permiso de lectura de misiones.</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="workflow.indDisparador=='D'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="referencia" i18n><strong>Premio</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="lecturaPremio">
                        <input required readonly #indTipoAccion="ngModel" i18n-placeholder placeholder="Seleccione un Premio" pInputText id="referencia" name="referencia"
                            type="text" [(ngModel)]="nombreElementoSeleccionado">
                        <div *ngIf="!indTipoAccion.valid && indTipoAccion.touched">
                            <ng-container i18n>*Debes seleccionar un Premio</ng-container>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-1" *ngIf="lecturaPremio">
                        <button pButton icon="ui-icon-list" (click)="listarElementosDisponibles()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="!lecturaPremio">
                        <label i18n>No tiene permiso de lectura de premios.</label>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="workflow.indDisparador=='E'">
                    <div class="ui-g-12 ui-md-4 ui-lg-2">
                        <label for="referencia" i18n><strong>Producto</strong></label>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="lecturaProducto">
                        <input required readonly #indTipoAccion="ngModel" i18n-placeholder placeholder="Seleccione un Producto" pInputText id="referencia" name="referencia"
                            type="text" [(ngModel)]="nombreElementoSeleccionado">
                        <div *ngIf="!indTipoAccion.valid && indTipoAccion.touched">
                            <ng-container i18n>*Debes seleccionar un Producto</ng-container>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-1" *ngIf="lecturaProducto">
                        <button pButton icon="ui-icon-list" (click)="listarElementosDisponibles()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-8 ui-lg-6" *ngIf="!lecturaProducto">
                        <label i18n>No tiene permiso de lectura de productos.</label>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12" *ngIf="tienePermisosEscritura">
                    <div class="ui-g-10 ui-md-10 ui-lg-7"></div>
                    <div class="ui-g-2  ui-md-2 ui-lg-2">
                        <button type="button" pButton i18n-label label="Guardar" class="green-btn" icon="ui-icon-add" [disabled]="!f.valid&&!nombreValido" (click)="insertarWorkflow()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-dialog i18n-header [(visible)]="displayModalSeleccionarElemento" [width]="1000" [modal]="true" [resizable]="false">
    <!--compro un producto especifico-->
    <!--<div class="ui-g-12">
        <div class="ui-g-10">
            <input pInputText type="text" [(ngModel)]="terminoBusqueda">
        </div>
        <div class="ui-g-2">
            <button type="button" pButton (click)="listarElementosDisponibles()"></button>
        </div>
    </div>-->
    <div class="ui-g-12">
        <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="listarElementosDisponibles()"
            (onRemove)="listarElementosDisponibles()"></p-chips>
    </div>

    <div *ngIf="workflow.indDisparador=='E'" class="ui-grid-col-12">
        <p-dataList [value]="listaProductosDisponibles" [paginator]="true" [rows]="6" [lazy]="true" [totalRecords]="totalRecords"
            (onLazyLoad)="lazyLoadElementos($event)">
            <p-header i18n>
                Productos
            </p-header>
            <ng-template let-producto pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <img class="img-lists img-border" style="border: 4px solid #bdbdbd" src="{{producto.imagenArte}}">
                        </div>
                        <div class="ui-grid-col-4">
                            <p><strong i18n>Nombre: </strong>{{producto.nombre}}</p>
                            <p><strong i18n>Nombre interno: </strong> {{producto.nombreInterno}}</p>
                        </div>
                        <div class="ui-grid-col-4">
                            <p><strong i18n>Descripción: </strong> {{producto.descripcion}}</p>
                            <p><strong i18n>Valor moneda: </strong> {{producto.valorMoneda}}</p>
                        </div>
                        <div class="ui-grid-col-2">
                            <div class="ui-grid-row">
                                <button type="button" pButton icon="ui-icon-add" (click)="agregarElementoNodoInsertar(producto)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
    <!--enviar una Promoción-->
    <div *ngIf="workflow.indDisparador=='B'" class="ui-grid-col-12">
        <p-dataList class="ui-g-12 ui-lg-12" [value]="listaPromocionesDisponibles" (onLazyLoad)="lazyLoadElementos($event)" [paginator]="true"
            *ngIf="listaPromocionesDisponibles.length>0" [rows]="6" [lazy]="true" [totalRecords]="cantRows">
            <p-header i18n> Listado de promociones </p-header>
            <ng-template let-promo pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <img [src]='promo.imagenArte' class="img-lists img-border" />
                        </div>
                        <div class="ui-grid-col-9">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                    <div class="ui-grid-col-8">{{promo.nombre}}</div>
                                </div>
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n> Descripción:</strong> </div>
                                    <div class="ui-grid-col-8">{{promo.descripcion}}</div>
                                </div>
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Nombre Interno: </strong></div>
                                    <div class="ui-grid-col-8">{{promo.nombreInterno}}</div>
                                </div>
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Tags:</strong> </div>
                                    <div class="ui-grid-col-8">{{promo.tags}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-2">
                            <div class="ui-grid-row">
                                <button type="button" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(promo)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
    <!--asignar premio-->
    <div *ngIf="workflow.indDisparador=='D'" class="ui-grid-col-12">
        <p-dataList [value]="listaPremiosDisponibles" [paginator]="true" [rows]="6" [lazy]="true" [totalRecords]="cantRows" (onLazyLoad)="lazyLoadElementos($event)"
            *ngIf="listaPremiosDisponibles.length>0">
            <p-header i18n>
                Premios
            </p-header>
            <ng-template let-premio pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <img class="img-lists img-border" src="{{premio.imagenArte}}">
                        </div>
                        <div class="ui-grid-col-4">
                            <p><strong i18n>Nombre: </strong>{{premio.nombre}}</p>
                            <p><strong i18n>Nombre interno: </strong> {{premio.nombreInterno}}</p>
                        </div>
                        <div class="ui-grid-col-4">
                            <p><strong i18n>Descripción: </strong> {{premio.descripcion}}</p>
                            <p><strong i18n>Valor moneda: </strong> {{premio.valorMoneda}}</p>
                        </div>
                        <div class="ui-grid-col-2">
                            <button type="button" style="margin-top:25px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(premio)"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
    <!--asignar una mision-->
    <div *ngIf="workflow.indDisparador=='C'" class="ui-grid-col-12">
        <p-dataList class="ui-g-12 ui-lg-12" [value]="listaMisionesDisponibles" (onLazyLoad)="lazyLoadElementos($event)" [paginator]="true"
            *ngIf="listaMisionesDisponibles.length>0" [rows]="6" [lazy]="true" [totalRecords]="cantRegistros">
            <p-header i18n> Listado de misiones </p-header>
            <ng-template let-mision pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <img [src]='mision.imagen' class="img-lists img-border" />
                        </div>
                        <div class="ui-grid-col-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                    <div class="ui-grid-col-8">{{mision.nombre}}</div>
                                </div>
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                    <div class="ui-grid-col-8">{{mision.descripcion}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-5">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Tags:</strong> </div>
                                    <div class="ui-grid-col-8">{{mision.tags}}</div>
                                </div>
                                <div class="ui-grid-row ">
                                    <div class="ui-grid-col-4"><strong i18n>Creado:</strong> </div>
                                    <div class="ui-grid-col-8">{{mision.fechaCreacion|date:'medium'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-col-2">
                            <div class="ui-grid-row">
                                <button type="button" style="margin-top:25px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(mision)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataList>
    </div>
</p-dialog>