<div class="card">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12">
				<div class="heading-detalle">
					<ng-container i18n>Tareas programadas</ng-container>
				</div>
			</div>
            <div class="ui-g-12 ui-md-8 ui-lg-8">
                <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="this.listaWorkflows=null;cargarWorkflows()" (onRemove)="this.listaWorkflows=null;cargarWorkflows()"></p-chips>
                <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" (click)="busquedaAvanzada = !busquedaAvanzada" i18n-label label="Búsqueda Avanzada"></button>
                <!--<p-splitButton i18n-label label="Buscar" icon="ui-icon-search" (click)="cargarWorkflows()" [model]="itemsBusqueda"></p-splitButton>-->
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" i18n-label label="Agregar" class="green-btn" icon="ui-icon-add" [routerLink]="'/workflows/insertarWorkflow'" *ngIf="escritura"></button>
            </div>
            <div class="ui-g-12 ui-lg-6" *ngIf="busquedaAvanzada">
                <p-fieldset legend="Disparadores" >
                    <!--
                        A Se registra en el programa 
                        B Redimió Promoción 
                        C Completó Misión 
                        D Redimió Premio 
                        E Compró Producto Específico 
                        H Compró Producto 
                        F Cumplió Años 
                        G Compró Producto 
                        I Evento Personalizado 
                    -->
                    <div class="ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="A" i18n-label label="Se registra en el programa" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="B" i18n-label label="Redimió Promoción" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="C" i18n-label label="Completó Misión" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="D" i18n-label label="Redimió Premio" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="E" i18n-label label="Compró Producto Específico" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="H" i18n-label label="Compró Producto" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="F" i18n-label label="Cumplió Años" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                    <!--<div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="G" i18n-label label="Mostrar Borrador" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>-->
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="I" i18n-label label="Evento Personalizado" (onChange)="cargarWorkflows()" [(ngModel)]="tipos"></p-checkbox>
                    </div>
                </p-fieldset>
            </div>
            <div class="ui-g-12 ui-lg-6" *ngIf="busquedaAvanzada">
                <p-fieldset legend="Estados" > 
                    <!--[toggleable]="true" -->
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="A" i18n-label label="Mostrar Activas" [(ngModel)]="preferenciasBusqueda" (onChange)="cargarWorkflows()"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="C" i18n-label label="Mostrar Borrador" [(ngModel)]="preferenciasBusqueda" (onChange)="cargarWorkflows()"></p-checkbox>
                    </div>
                    <div class=" ui-g-12 ui-lg-6">
                        <p-checkbox name="group1" value="B" i18n-label label="Mostrar Archivadas" [(ngModel)]="preferenciasBusqueda" (onChange)="cargarWorkflows()"></p-checkbox>
                    </div>
                </p-fieldset>
            </div>
            <div class="ui-g-12 ui-lg-12" *ngIf="listaWorkflows&&listaWorkflows.length<=0">
                <p-messages [value]="[{severity:'info', summary:'', detail:'No hay tareas programadas disponibles'}]"></p-messages>
            </div>

            <div class="ui-g-12" *ngIf="!listaWorkflows">
                <div class="ui-g-5"></div>
                <div class="ui-g-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
                <div class="ui-g-5"></div>
            </div>
            <p-dataList *ngIf="listaWorkflows&&listaWorkflows.length>0" class="ui-g-12 ui-lg-12" [value]="listaWorkflows" (onLazyLoad)="loadData($event)"
                [paginator]="true" [rows]="9" [lazy]="true" [totalRecords]="cantTotalRegistros">
                <p-header i18n> Listado de tareas programadas </p-header>
                <ng-template let-workflow pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{workflow.nombreWorkflow}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre Interno: </strong></div>
                                        <div class="ui-grid-col-8">{{workflow.nombreInternoWorkflow}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Estado:</strong> </div>
                                        <div class="ui-grid-col-8">{{workflow.indEstado|workflowEstadoPipe}}</div>
                                    </div>
                                    <div class="ui-grid-row input-spacing">
                                        <div class="ui-grid-col-4"><strong i18n>Disparador:</strong> </div>
                                        <div class="ui-grid-col-8">{{workflow.indDisparador|indTipoTarea}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-1">
                                <button type="button" class="pull-right" pButton icon="ui-icon-edit" (click)="gotoDetail(workflow)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
