<div class="ui-g ui-fluid">
    <div class="ui-g-10">
        <h2 i18n class="sub-heading-detalle input-spacing-long">Definición del flujo de acciones de la tarea</h2>
    </div>
    <div class="ui-g-2 input-spacing"><button type="button" pButton i18n-label label="Agregar elemento" (click)="displayModalInsertar=true" *ngIf="tienePermisosEscritura"></button></div>
    <div class="ui-g-12">
        <div id="diagram" style="margin: 0 auto; width: 250px;">
            <div class="ui-g-12 ui-md-10">
                <img *ngIf="cargando==false" src="/resources/img/loading_icon.gif">
            </div>
        </div>
    </div>
</div>

<p-dialog i18n-header header="Editar Tarea" appendTo="body" [(visible)]="displayModalEditar" [modal]="true" responsive="true"
    width="1000">
    <form #frm="ngForm" *ngIf="displayModalEditar" class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label for="nombreWorkflow" i18n><strong>Nombre:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-10 ">
            <input id="nombreWorkflow" name="nombreWorkflow" type="text" pInputText i18n-placeholder placeholder="Nombre" #nombre="ngModel"
                [(ngModel)]="nodoEditar.nombreNodo" required>
        </div>
        <div class="ui-g-12 ui-md-2 ">
            <label i18n for="selectTipoTarea"><strong >Acción:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-10 ">
            <p-dropdown [autoWidth]="false" (onChange)="resetFields()" id="tipoTareaEditar" name="tipoTareaEditar" [filter]="true" #tipoTareaEditar="ngModel"
                required [(ngModel)]="nodoEditar.indTipoTarea" [options]="optionsTipoTarea" disabled></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoEditar.indTipoTarea=='A'">
            <label i18n for="nombreWorkflow"><strong >Promoción:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoEditar.indTipoTarea=='B'">
            <label i18n for="nombreWorkflow"><strong >Mensaje:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoEditar.indTipoTarea=='C'">
            <label i18n for="nombreWorkflow"><strong >Insignia:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoEditar.indTipoTarea=='D'">
            <label i18n for="nombreWorkflow"><strong >Premio:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoEditar.indTipoTarea=='E'">
            <label i18n for="nombreWorkflow"><strong >Misión:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoEditar.indTipoTarea=='F'">
            <label i18n for="nombreWorkflow"><strong >Métrica:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9">
            <input id="referencia" i18n-placeholder placeholder="Seleccione un elemento..." name="referencia" type="text" pInputText
                #referencia="ngModel" [ngModel]="nombreElementoSeleccionado" required disabled>
        </div>
        <div class="ui-g-12 ui-md-1">
            <!--<button type="button" pButton icon="ui-icon-list" (click)="listarElementosDisponibles()"></button>-->
        </div>
        <div class="ui-g-12 ui-md-2" *ngIf="nodoEditar.indTipoTarea=='F'">
            <label i18n for="selectTipoTarea"><strong>Cantidad de Métrica:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-10" *ngIf="nodoEditar.indTipoTarea=='F'">
           <!-- <input id="cantMetrica" name="cantMetrica" type="text" pInputText [ngModel]="nodoEditar.cantReferencia"
                required><!-- #cantMetrica="ngModel" -->
            <p-spinner size="30" id="cantMetrica" name="cantMetrica" [min]="0" #cantMetrica="ngModel" [(ngModel)]="nodoEditar.cantReferencia"></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button type="button" pButton icon="ui-icon-cancel" i18n-label label="Cancelar" (click)="displayModalEditar=false;"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
        </div>
        <div class="ui-g-12 ui-md-2">
            <button type="button" pButton i18n-label label="Eliminar" class="red-btn" [disabled]="!tienePermisosEscritura" icon="ui-icon-delete" (click)="displayModalEliminar=true"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button type="button" pButton i18n-label label="Actualizar" icon="ui-icon-save" [disabled]="!frm.valid || !tienePermisosEscritura" (click)="actualizarNodo()"></button>
        </div>
    </form>
</p-dialog>

<p-dialog i18n-header header="Insertar Tarea" appendTo="body" [(visible)]="displayModalInsertar" [width]="1000" [modal]="true">
    <form #f="ngForm" *ngIf="displayModalInsertar" class="ui-g  ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label i18n for="nombreWorkflow"><strong >Nombre:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-10 ">
            <input id="nombreWorkflow" name="nombreWorkflow" type="text" pInputText i18n-placeholder placeholder="Nombre" #nombre="ngModel" [(ngModel)]="nodoInsertar.nombreNodo"
                required>
        </div>
        <div class="ui-g-12 ui-md-2 ">
            <label i18n for="selectTipoTarea"><strong >Acción:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-10 ">
            <p-dropdown [autoWidth]="false" (onChange)="resetFields()" id="tipoTareaInsertar" name="tipoTareaInsertar" #tipoTareaInsertar="ngModel"
                required [(ngModel)]="nodoInsertar.indTipoTarea" [options]="optionsTipoTarea"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-2 " *ngIf="nodoInsertar.indTipoTarea=='A'">
            <label i18n for="nombreWorkflow"><strong >Promoción:</strong></label>
        </div>

        <div class="ui-g-12 ui-md-2 " *ngIf="nodoInsertar.indTipoTarea=='B'">
            <label i18n for="nombreWorkflow"><strong>Mensaje:</strong></label>
        </div>

        <div class="ui-g-12 ui-md-2 " *ngIf="nodoInsertar.indTipoTarea=='C'">
            <label i18n for="nombreWorkflow"><strong>Insignia:</strong></label>
        </div>

        <div class="ui-g-12 ui-md-2 " *ngIf="nodoInsertar.indTipoTarea=='D'">
            <label i18n for="nombreWorkflow"><strong>Premio:</strong></label>
        </div>

        <div class="ui-g-12 ui-md-2 " *ngIf="nodoInsertar.indTipoTarea=='E'">
            <label i18n for="nombreWorkflow"><strong>Misión:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-2" *ngIf="nodoInsertar.indTipoTarea=='F'">
            <label i18n for="selectTipoTarea"><strong>Métrica:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-9">
            <input id="referencia" i18n-placeholder placeholder="Seleccione un elemento..." name="referencia" type="text" pInputText #referencia="ngModel"
                [ngModel]="nombreElementoSeleccionado" required readonly>
        </div>

        <div class="ui-g-12 ui-md-1">
            <button type="button" pButton icon="ui-icon-list" (click)="listarElementosDisponibles()"></button>
        </div>
        <div class="ui-g-12 ui-md-2" *ngIf="nodoInsertar.indTipoTarea=='F'">
            <label i18n for="selectTipoTarea"><strong>Cantidad de Métrica:</strong></label>
        </div>
        <div class="ui-g-12 ui-md-10" *ngIf="nodoInsertar.indTipoTarea=='F'">
            <!--<input id="cantMetrica" name="cantMetrica" type="number" pInputText [ngModel]="nodoInsertar.cantReferencia" 
                required> <!-- #cantMetrica="ngModel" -->
                <p-spinner size="30" id="cantMetrica" name="cantMetrica" [min]="0" #cantMetrica="ngModel" [(ngModel)]="nodoInsertar.cantReferencia"></p-spinner>
        </div>
        <div class="ui-g-12 ui-md-10">
        </div>
        <div class="ui-g-12 ui-md-2">
            <button type="button" pButton i18n-label label="Insertar" [disabled]="!f.valid" (click)="pushNodo()"></button>
        </div>
    </form>
</p-dialog>

<p-dialog i18n-header header="Seleccione el elemento" appendTo="body" [(visible)]="displayModalSeleccionarElemento" [width]="1000"
    [modal]="true" [resizable]="false">
    <!--enviar mensaje-->
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-chips i18n-placeholder placeholder="Búsqueda..." [(ngModel)]="terminosBusqueda" (onAdd)="listarElementosDisponibles()"
                (onRemove)="listarElementosDisponibles()"></p-chips>
        </div>
        <div *ngIf="nodoInsertar.indTipoTarea=='B'" class="ui-g-12">
            <p-dataList [value]="listaMensajesDisponibles" [paginator]="true" *ngIf="listaMensajesDisponibles.length>0" [rows]="cantRowsPorPagina" 
                (onLazyLoad)="lazyLoadElementos($event)" [lazy]="true" [totalRecords]="cantRowsTotal">
                <p-header i18n> Listado de notificaciones </p-header>
                <ng-template let-notificacion pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{notificacion.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre Interno:</strong> </div>
                                        <div class="ui-grid-col-8">{{notificacion.nombreInterno}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Tipo: </strong></div>
                                        <div class="ui-grid-col-8">{{notificacion.indTipo|tipoNotificacion}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-grid-col-6">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Estado:</strong> </div>
                                        <div class="ui-grid-col-8"> {{notificacion.indEstado|estadoNotificacion}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Evento:</strong> </div>
                                        <div class="ui-grid-col-8">{{notificacion.indEvento|eventoNotificacion}}</div>
                                    </div>
                                    <div class="ui-grid-row " *ngIf="notificacion.fechaEjecucion">
                                        <div class="ui-grid-col-4"><strong i18n>Fecha de inicio:</strong> </div>
                                        <div class="ui-grid-col-8">{{notificacion.fechaEjecucion|date}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-1">
                                <button type="button" style="margin-top: 20px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(notificacion)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
        <!--enviar una Promoción-->
        <div *ngIf="nodoInsertar.indTipoTarea=='A'" class="ui-g-12">
            <p-dataList class="ui-g-12 ui-lg-12" [value]="listaPromocionesDisponibles" (onLazyLoad)="lazyLoadElementos($event)" [paginator]="true"
                *ngIf="listaPromocionesDisponibles.length>0" [rows]="cantRowsPorPagina" [lazy]="true"  [totalRecords]="cantRowsTotal">
                <p-header i18n> Listado de promociones </p-header>
                <ng-template let-promo pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <img [src]='promo.imagenArte' class="img-lists img-border" />
                            </div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{promo.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                        <div class="ui-grid-col-8">{{promo.descripcion}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre Interno: </strong></div>
                                        <div class="ui-grid-col-8">{{promo.nombreInterno}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                <div class="ui-grid-row">
                                    <button type="button" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(promo)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
        <!--asignar premio-->
        <div *ngIf="nodoInsertar.indTipoTarea=='D'" class="ui-g-12">
            <p-dataList [value]="listaPremiosDisponibles" [paginator]="true" [rows]="cantRowsPorPagina" [lazy]="true" (onLazyLoad)="lazyLoadElementos($event)"
                *ngIf="listaPremiosDisponibles.length>0" [totalRecords]="cantRowsTotal">
                <p-header i18n>
                    Premios
                </p-header>
                <ng-template let-premio pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <img class="img-lists img-border" src="{{premio.imagenArte}}">
                            </div>
                            <div class="ui-grid-col-4">
                                <p i18n><strong>Nombre: </strong>{{premio.nombre}}</p>
                                <p i18n><strong>Nombre interno: </strong> {{premio.nombreInterno}}</p>
                            </div>
                            <div class="ui-grid-col-4">
                                <p i18n><strong>Descripción: </strong> {{premio.descripcion}}</p>
                                <p i18n><strong>Valor moneda: </strong> {{premio.valorMoneda}}</p>
                            </div>
                            <div class="ui-grid-col-2">
                                <button type="button" style="margin-top:25px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(premio)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
        <!--asignar una mision-->
        <div *ngIf="nodoInsertar.indTipoTarea=='E'" class="ui-g-12">
            <p-dataList class="ui-g-12 ui-lg-12" [value]="listaMisionesDisponibles" (onLazyLoad)="lazyLoadElementos($event)" [paginator]="true"
                *ngIf="listaMisionesDisponibles.length>0" [rows]="cantRowsPorPagina" [lazy]="true" [totalRecords]="cantRowsTotal">
                <p-header i18n> Listado de misiones </p-header>
                <ng-template let-mision pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <img [src]='mision.imagen' class="img-lists img-border" />
                            </div>
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.nombre}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Descripción:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.descripcion}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-5">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Tags:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.tags}}</div>
                                    </div>
                                    <div class="ui-grid-row ">
                                        <div class="ui-grid-col-4"><strong i18n>Creado:</strong> </div>
                                        <div class="ui-grid-col-8">{{mision.fechaCreacion|date:'medium'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                <div class="ui-grid-row">
                                    <button type="button" style="margin-top:25px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(mision)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
        <!--asignar una insignia-->
        <div *ngIf="nodoInsertar.indTipoTarea=='C'" class="ui-g-12">
            <p-dataList [value]="listaInsigniasDisponibles" [paginator]="true" (onLazyLoad)="lazyLoadElementos($event)" [paginator]="true"
                *ngIf="listaInsigniasDisponibles.length>0" [rows]="cantRowsPorPagina" [lazy]="true">
                <p-header i18n>
                    Insignias
                </p-header>
                <ng-template let-insignia pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <img class="img-lists img-border" [src]="insignia.imagen">
                            </div>
                            <div class="ui-grid-col-4">
                                <h4><strong i18n>Nombre:&nbsp; &nbsp;</strong>{{insignia.nombreInsignia}}</h4>
                                <h4><strong i18n>Tipo de insignia:&nbsp; &nbsp;</strong>{{insignia.tipo}}</h4>
                            </div>
                            <div class="ui-grid-col-4">
                                <h4><strong i18n>Descripción:&nbsp; &nbsp;</strong>{{insignia.descripcion}}</h4>
                            </div>
                            <div class="ui-grid-col-2">
                                <div class="ui-grid-row">
                                    <button type="button" style="margin-top:25px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(insignia)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
        <!--asignar una metrica-->
        <div *ngIf="nodoInsertar.indTipoTarea=='F'" class="ui-g-12">
            <p-dataList [value]="listaMetricasDisponibles" (onLazyLoad)="lazyLoadElementos($event)" [paginator]="true"
                *ngIf="listaMetricasDisponibles.length>0" [rows]="cantRowsPorPagina" [lazy]="true">
                <p-header i18n>
                    Lista de Métricas
                </p-header>
                <ng-template let-metrica pTemplate="item">
                    <div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                            <div class="ui-grid-row">

                                <div class="ui-grid-col-10">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class="ui-grid-row ">
                                            <div class="ui-grid-col-4"><strong i18n>Nombre:</strong> </div>
                                            <div class="ui-grid-col-8">{{metrica.nombre}}</div>
                                        </div>
                                        <div class="ui-grid-row ">
                                            <div class="ui-grid-col-4"><strong i18n>Tipo de medida:</strong> </div>
                                            <div class="ui-grid-col-8">{{metrica.medida}}</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ui-grid-col-2">
                                    <div class="ui-grid-row">
                                        <button type="button" style="margin-top:25px" pButton i18n-label label="Seleccionar" (click)="agregarElementoNodoInsertar(metrica)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</p-dialog>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>¿Está seguro que desea eliminar este nodo de la tarea?</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Cerrar" icon="ui-icon-close" (click)="displayModalEliminar=false"></button>
		<button type="button" pButton i18n-label label="Eliminar" icon="ui-icon-trash" (click)="eliminarNodo();"></button>
	</p-footer>
</p-dialog>