<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card">
			<div class="ui-g">
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<div class="ui-g-12">
						<div class="heading-detalle">{{workflow.nombreWorkflow}}</div>
					</div>
					<div class="ui-g-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Workflow</ng-container>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-2" *ngIf="cargando">
					<img src="/resources/img/loading_icon.gif">
				</div>
				<div class="ui-g-12 ui-md-3" *ngIf="!cargando">
					<div *ngIf="workflow.indEstado=='A'">
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<div (click)="opA.show($event)" class="ui-g card cbx cbx-1">
								<div class="ui-g-4">
									<i class="material-icons">check</i>
								</div>
								<div class="ui-g-8">
									<span class="name" i18n>Estado:</span>
									<span class="count" i18n>Activo</span>
								</div>
							</div>
						</div>
						<p-overlayPanel #opA>
							<div class="ui-g ui-fluid" style="width:260px">
								<div style="margin:10px 5px 10px 10px">
									<h3 class="input-spacing">
										<strong i18n>Tarea activa</strong>
									</h3>
									<p i18n>La tarea programada se encuentra activa, en este momento se ejecutarán las acciones asociadas</p>
									<p i18n>Debes archivarla para cancelar su ejecución</p>
								</div>
								<div class="ui-g-12" *ngIf="escritura">
									<button pButton class="red-btn" style="margin-top:10px" i18n-label label="Archivar" icon="ui-icon-delete" (click)="displayModalArchivar=true; opa.hide()"></button>
								</div>
								<div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: x-smaller; color: white;">
									<div class="ui-g-12 ui-md-2 ui-lg-2">
										<i class="material-icons">information</i>
									</div>
									<div class="ui-g-12 ui-md-7 ui-lg-7">
										<label i18n>No cuenta con los permisos necesarios para archivar la tarea.</label>
									</div>
								</div>
							</div>
						</p-overlayPanel>
					</div>
					<div *ngIf="workflow.indEstado=='C'">
						<div class="ui-g-12 ui-md-12 ui-lg-12 ">
							<div (click)="opC.show($event)" class="ui-g card cbx cbx-2">
								<div class="ui-g-4">
									<i class="material-icons">create</i>
								</div>
								<div class="ui-g-8">
									<span class="name" i18n>Estado:</span>
									<span class="count" i18n>Borrador</span>
								</div>
							</div>
						</div>
						<p-overlayPanel #opC>
							<div class="ui-g ui-g-fluid" style="width:260px">
								<div style="margin:10px 5px 10px 10px">
									<h3 class="input-spacing">
										<strong i18n>Tarea en borrador</strong>
									</h3>
									<p i18n>La tarea programada se encuentra en estado de borrador, puede editar las acciones sin que estas se ejecuten</p>
									<p i18n>Para que las acciones se ejecuten primero se debe activar la tarea programada</p>
								</div>
								<div class="ui-g-12" *ngIf="escritura">
									<button pButton i18n-label label="Activar" class="green-btn" (click)="activarWorflow(); opC.hide()" icon="ui-icon-check"></button>
								</div>
								<div class="ui-g-12" *ngIf="escritura">
									<button pButton class="red-btn" style="margin-top:10px" i18n-label label="Eliminar" icon="ui-icon-delete" (click)="displayModalArchivar=true; opC.hide()"></button>
								</div>
								<div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: x-smaller; color: white;">
									<div class="ui-g-12 ui-md-2 ui-lg-2">
										<i class="material-icons">information</i>
									</div>
									<div class="ui-g-12 ui-md-7 ui-lg-7">
										<label i18n>No cuenta con los permisos necesarios para activar o archivar la tarea.</label>
									</div>
								</div>
							</div>
						</p-overlayPanel>
					</div>
					<div *ngIf="workflow.indEstado=='B'">
						<div class="ui-g-12 ui-md-12 ui-lg-12 ">
							<div (click)="opB.show($event)" class="ui-g card cbx cbx-3">
								<div class="ui-g-4">
									<i class="material-icons">delete_forever</i>
								</div>
								<div class="ui-g-8">
									<span class="name" i18n>Estado</span>
									<span class="count" i18n>Archivado</span>
								</div>
							</div>
						</div>
					</div>
					<p-overlayPanel #opB>
						<div class="ui-g ui-g-fluid" style="width:260px">
							<div style="margin:10px 5px 10px 10px">
								<h3 class="input-spacing">
									<strong i18n>Tarea Archivada</strong>
								</h3>
								<p i18n>La tarea se encuentra archivada, las acciones asociadas a esta tarea no se ejecutarán.</p>
							</div>
						</div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-6 ui-md-2 ui-lg-2">
						<button pButton routerLink="common" [routerLinkActive]="['ui-state-active']" class="ui-state-default" type="button" icon="ui-icon-reorder" i18n-label label="General"></button>
					</div>
					<div class="ui-g-6 ui-md-2 ui-lg-2">
						<button pButton routerLink="definicion" [routerLinkActive]="['ui-state-active']" class="ui-state-default" type="button" icon="ui-icon-group" i18n-label label="Acciones"></button>
					</div>
					<div class="ui-g-6 ui-md-2 ui-lg-2">
						<button pButton routerLink="elegibles" [routerLinkActive]="['ui-state-active']" class="ui-state-default" type="button"   
						 icon="ui-icon-group" i18n-label label="Elegibilidad" *ngIf="workflow.isWorkflowMisionEspec" ></button>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalArchivar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>Está seguro que desea archivar la tarea?</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Cerrar" icon="ui-icon-close" (click)="displayModalArchivar=false"></button>
		<button type="button" pButton i18n-label label="Eliminar" icon="ui-icon-trash" (click)="eliminarWorkflow()"></button>
	</p-footer>
</p-dialog>

<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalEliminar" showEffect="fade" [modal]="true" minWidth="400" minHeight="400">
	<div class="ui-fluid">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12">
				<ng-container i18n>Está seguro que desea archivar la tarea? esta acción es irreversible</ng-container>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton i18n-label label="Cerrar" icon="ui-icon-close" (click)="displayModalEliminar=false"></button>
		<button type="button" pButton i18n-label label="Eliminar" icon="ui-icon-trash" (click)="archivarWorkflow()"></button>
	</p-footer>
</p-dialog>