<!--<div class="alert alert-warning" role="alert">This type of mission is not supported yet, please try again later</div>-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <h3>{{this.mision.misionVerContenido.texto}}</h3>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8" >
            <div id="player" style="margin-top: 20px;margin-bottom: 20px;"></div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8" *ngIf="mision.misionVerContenido.indTipo=='U'">
            <button class="btn btn-default" (click)="gotoUrl(this.mision.misionVerContenido.url)" i18n>Go to URL</button>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8" *ngIf="mision.misionVerContenido.indTipo=='I'">
            <img class=" img-responsive" style="margin-top: 20px;margin-bottom: 20px;" src="{{this.mision.misionVerContenido.url}}">

        </div>
        <div class="col-xs-12 col-sm-10 col-md-8">
            <button i18n (click)="completeMission()" class="btn btn-success pull-right" [disabled]="!done">Submit</button>
        </div>
    </div>
</div>

<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string 
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-body" *ngIf="submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>
                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" i18n class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()">Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>