<div class="container-fluid">
    <div *ngIf="!this.mision.misionEncuestaPreferencias">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

    <form [formGroup]="form" *ngIf="mision.misionEncuestaPreferencias&&form">
        <h3 style="margin-bottom: 30px;" i18n>Complete Mission: {{mision.encabezadoArte}}</h3>
        <div class="row" *ngIf="mision.misionEncuestaPreferencias.length==0">
            <div i18n class="alert alert-warning" role="alert">There is a problem with this mission, please try again later</div>
        </div>
        <div *ngFor="let pref of this.mision.misionEncuestaPreferencias; let i=index;" class="row">
            <!--resp multiple-->
            <div class="col-sm-12 col-md-10" *ngIf="pref.indTipoRespuesta=='RM'||pref.indTipoRespuesta=='SU'">
                <label i18n [attr.for]="pref.idPreferencia">{{pref.pregunta}}</label>
                <multiple-selection-preference type="number" [(ngModel)]="responseMap[pref.idPreferencia]" [question]="pref" formControlName="{{pref.idPreferencia}}"></multiple-selection-preference>
            </div>

            <!--texto o num-->
            <div class="col-sm-12 col-md-10" *ngIf="pref.indTipoRespuesta=='RT'">
                <div class="form-group" style="margin-top: 10px;">
                    <input type="number" [(ngModel)]="responseMap[pref.idPreferencia]" formControlName="{{pref.idPreferencia}}">
                </div>
            </div>
            <div class="col-sm-12 col-md-10" *ngIf="pref.indTipoRespuesta=='RN'">
                <div class="form-group" style="margin-top: 10px;">
                    <input type="text" class="form-control" [(ngModel)]="responseMap[pref.idPreferencia]" formControlName="{{pref.idPreferencia}}">
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <hr *ngIf="i<this.mision.misionEncuestaPreferencias.length-1">
            </div>
        </div>
        <div *ngIf="mision.misionEncuestaPreferencias.length==0">
            <button class="btn btn-info" routerLink="/home/mission"></button>
        </div>
        <div class="col-sm-12 col-md-12" style="text-align: right" *ngIf="mision.misionEncuestaPreferencias.length>0">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw" style="margin-right: 5px;margin-top: 5px;" *ngIf="submitting"></i>
            <button type="submit" i18n class="btn btn-success pull-right" (click)="completeMission()" [disabled]="!form.valid||submitting">Submit</button>
        </div>
    </form>
</div>

<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string 
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-body" *ngIf="submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong >Congratulations!</strong> You finished the mission succesfully</h3>

                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" i18n class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()">Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>