<div class="container-fluid">
    <div style="min-height:100px"></div>
    <div *ngIf="!this.mision.misionSubirContenido">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <div style="min-height:100px"></div>
    <form #form="ngForm" *ngIf="mision.misionSubirContenido">
        <h3 style="margin-bottom: 30px;" i18n>Complete Mission: {{mision.encabezadoArte}}</h3>
        <div class="form-group" style="margin-top: 10px;" [ngClass]="{'has-error' : !isValid&&inp.touched,'has-feedback':!isValid&&inp.touched}">
            <label for="imgInp" i18n >Upload <span *ngIf="mision.misionSubirContenido.indTipo=='V'">a video</span> <span *ngIf="mision.misionSubirContenido.indTipo=='I'" >an image</span></label>
            <!-- <img id='img-upload' class="form-img" [src]="file_src" /> -->
            <div class="input-group">
                <span class="input-group-btn">
                      <span i18n class="btn btn-default btn-file">
                          Browse… <input #input type="file" id="imgInp" required readonly #inp="ngModel" [(ngModel)]="inputFile" name="inputFiles" (change)="fileChange(input)">
                      </span>
                </span>
                <input type="text" class="form-control" [value]="this.file?.name" readonly>
                
            </div>
            <small id="emailHelp" class="form-text text-muted" i18n >Supported extensions: <span *ngIf="mision.misionSubirContenido.indTipo=='V'">AVI,WMV,MOV,MP4</span> <span *ngIf="mision.misionSubirContenido.indTipo=='I'">JPEG, TIFF, GIF, BMP, PNG
                    </span></small> 
            <div class="pull-right" style="text-align: right;margin-top: 20px" >
                <i class="fa fa-spinner fa-spin fa-2x fa-fw" style="margin-right: 5px;margin-top: 5px;" *ngIf="submitting"></i>
                <button type="submit" class="btn btn-success pull-right" i18n (click)="completeMission()" [disabled]="!isValid||submitting">Submit</button>
            </div>
        </div>
    </form>
    <div style="min-height:500px"></div>
</div>
    
<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string 
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-body" *ngIf="submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>
                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()">Ok</button>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="!submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>
                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary center-block" data-dismiss="modal" i18n (click)="gotoMissions()">Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>