<div class="container-fluid">
    <div *ngIf="!this.mision.misionEncuestaPreguntas">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

    <form [formGroup]="form" *ngIf="mision.misionEncuestaPreguntas&&form">
        <h3 style="margin-bottom: 30px;" i18n>Complete Mission: {{mision.nombre}}</h3>
        <div class="row" *ngIf="mision.misionEncuestaPreguntas.length==0">
            <div class="alert alert-warning" role="alert" i18n>There is a problem with this mission, please try again later</div>
        </div>
        <div *ngFor="let pregunta of this.mision.misionEncuestaPreguntas; let i=index;" class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12 col-md-2">
                <img class="img img-responsive" src="{{pregunta.imagen}}" />
            </div>
            <div class="col-sm-12 col-md-10">
                <label for="{{pregunta.idPregunta}}">{{pregunta.pregunta}}</label>

                <div [ngSwitch]="pregunta.indTipoPregunta">
                    <div class="form-group" *ngSwitchCase="'C'" style="margin-top: 10px;">
                        <star-rating [(ngModel)]="response[i]" [question]="pregunta" formControlName="{{pregunta.idPregunta}}"></star-rating>
                    </div>
                    <div class="form-group" *ngSwitchCase="'E'" style="margin-top: 10px;">
                        <multiple-selection [(ngModel)]="response[i]" [question]="pregunta" formControlName="{{pregunta.idPregunta}}"></multiple-selection>
                    </div>
                    <div *ngSwitchDefault></div>
                </div>
                <div class="form-group" *ngIf="pregunta.indComentario" style="margin-top: 10px;">
                    <label for="{{i}}-comment"> <small><span class="help-block" i18n>Comments (optional)</span></small></label>
                    <input id="{{i}}-comment" type="text" class="form-control" [(ngModel)]="response[i].comentarios" formControlName="{{pregunta.idPregunta}}-comment"
                    />
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <hr *ngIf="i<this.mision.misionEncuestaPreguntas.length-1">
            </div>

        </div>
        <div *ngIf="mision.misionEncuestaPreguntas.length==0">
            <button class="btn btn-info" routerLink="/home/mission"></button>
        </div>
        <div class="col-sm-12 col-md-12" style="text-align: right" *ngIf="mision.misionEncuestaPreguntas.length>0">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw" style="margin-right: 5px;margin-top: 5px;" *ngIf="submitting"></i>
            <button type="submit" class="btn btn-success pull-right" (click)="completeMission()" [disabled]="!form.valid||submitting" i18n>Submit</button>
        </div>
    </form>
</div>

<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string 
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-body" *ngIf="submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>

                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()" i18n>Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->