<div class="container-fluid">
    <div *ngIf="!this.mision.misionPerfilAtributos">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

    <form [formGroup]="form" *ngIf="mision.misionPerfilAtributos&&form">
        <h3 style="margin-bottom: 30px;" i18n>Complete Mission: {{mision.encabezadoArte}}</h3>
        <div class="row" *ngIf="mision.misionPerfilAtributos.length==0">
            <div i18n class="alert alert-warning" role="alert">There is a problem with this mission, please try again later</div>
        </div>
        <div *ngFor="let attr of this.mision.misionPerfilAtributos; let i=index;" class="row" >
            <!--atr no dinamico-->
            <!--Fecha de nacimiento A -->
            <div class="form-group" *ngIf="attr.indAtributo=='A'" style="margin-top: 10px;">
                <label [attr.for]="attr.idAtributo"></label>
                <datepicker [(ngModel)]="responseMap[attr.idAtributo]" id="{{attr.idAtributo}}" formControlName="{{attr.idAtributo}}"></datepicker>
            </div>
            <!--Genero (indGenero)  B-->
            <div class="form-group" *ngIf="attr.indAtributo=='B'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Gender:</label>
                <select class="form-control" id="{{attr.idAtributo}}" formControlName="{{attr.idAtributo}}">
                        <option i18n value="F">Female</option>
                        <option i18n value="M">Male</option>
                    </select>
            </div>
            <!--Estado civil (indEstadoCivil) C-->
            <div class="form-group" *ngIf="attr.indAtributo=='C'" style="margin-top: 10px;">
                <label [attr.for]="attr.idAtributo">Civil status:</label>
                <select class="form-control" id="{{attr.idAtributo}}" formControlName="{{attr.idAtributo}}">
                        <option i18n value="C">Married</option>
                        <option i18n value="S">Single</option>
                        <option i18n value="U">Consensual union</option>
                    </select>
            </div>
            <!--Nombre D-->
            <div class="form-group" *ngIf="attr.indAtributo=='D'" style="margin-top: 10px;">
                <label  i18n [attr.for]="attr.idAtributo">Purchase frequency:</label>
                <input type="number" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Nombre E-->
            <div class="form-group" *ngIf="attr.indAtributo=='E'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Name:</label>
                <input type="text" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Primer apellido F-->
            <div class="form-group" *ngIf="attr.indAtributo=='F'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Name:</label>
                <input type="text" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Segundo apellido S-->
            <div class="form-group" *ngIf="attr.indAtributo=='S'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Last Name:</label>
                <input type="text" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Ciudad de residencia K-->
            <div class="form-group" *ngIf="attr.indAtributo=='K'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">City:</label>
                <input type="text" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Estado de residencia L-->
            <div class="form-group" *ngIf="attr.indAtributo=='L'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">State:</label>
                <input type="text" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--País de residencia (codigo de país [CRI]) M-->
            <div class="form-group" *ngIf="attr.indAtributo=='M'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Country:</label>
                <select class="form-control" id="{{attr.idAtributo}}" formControlName="{{attr.idAtributo}}">
                    <option i18n value="CRI">Costa Rica</option>
                    <option i18n value="BRA">Brazil</option>
                </select>
            </div>
            <!--Código postal N-->
            <div class="form-group" *ngIf="attr.indAtributo=='N'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">ZIP Code:</label>
                <input type="number" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Tipo de educación (indEducacion) O-->
            <div class="form-group" *ngIf="attr.indAtributo=='O'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Select list:</label>
                <select class="form-control" id="{{attr.idAtributo}}" formControlName="{{attr.idAtributo}}"> 
                    <option i18n value="F">Female</option>
                    <option i18n value="M">Male</option>
                </select>
            </div>
            <!--Ingreso económico P-->
            <div class="form-group" *ngIf="attr.indAtributo=='P'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Monthly income:</label>
                <input type="number" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Hijos (indHijos [True/False])   Q-->
            <div class="form-group" *ngIf="attr.indAtributo=='Q'" style="margin-top: 10px;">
                <label i18n [attr.for]="attr.idAtributo">Children:</label>
                <input type="number" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
            </div>
            <!--Atr dinamico R-->
            <div class="col-sm-12 col-md-10" *ngIf="attr.indAtributo=='R'">
                <div [ngSwitch]="attr.indTipoDato">
                    <div *ngSwitchCase="'N'">
                        <div class="form-group" *ngIf="attr.indAtributo=='R'" style="margin-top: 10px;">
                            <input type="number" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
                        </div>
                    </div>
                    <div *ngSwitchCase="'T'">
                        <div class="form-group" *ngIf="attr.indAtributo=='R'" style="margin-top: 10px;">
                            <input type="text" class="form-control" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
                        </div>
                    </div>
                    <div *ngSwitchCase="'B'">

                        <div class="form-group" *ngIf="attr.indAtributo=='R'" style="margin-top: 10px;">
                            <input type="checkbox" [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}">
                        </div>
                    </div>
                    <div *ngSwitchCase="'F'">
                        <div class="form-group" *ngIf="attr.indAtributo=='R'" style="margin-top: 10px;">
                            <datepicker [(ngModel)]="responseMap[attr.idAtributo]" formControlName="{{attr.idAtributo}}"></datepicker>
                        </div>
                    </div>
                    <div *ngSwitchDefault></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <hr *ngIf="i<this.mision.misionPerfilAtributos.length-1">
            </div>
        </div>
        <div *ngIf="mision.misionPerfilAtributos.length==0">
            <button class="btn btn-info" routerLink="/home/mission"></button>
        </div>
        <div class="col-sm-12 col-md-12" style="text-align: right" *ngIf="mision.misionPerfilAtributos.length>0">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw" style="margin-right: 5px;margin-top: 5px;" *ngIf="submitting"></i>
            <button type="submit" i18n class="btn btn-success pull-right" (click)="completeMission()" [disabled]="!form.valid||submitting">Submit</button>
        </div>
    </form>
</div>

<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string 
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-body" *ngIf="submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row" *ngIf="submissionStatus.indEstado=='G'">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>

                        <p style="text-align: center">{{submissionStatus.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" i18n class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()">Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>