<!-- <div style="text-align:center; margin:25 px;" class="row col-lg-12">
                        <p i18n>You need to <strong>log in</strong> with facebook in order to complete this challenge</p>
                    </div> -->

<!-- style="text-align:center; margin:25 px;" class="row col-lg-12"<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> -->
<div class="container-fluid" style="margin-bottom:220px">
    <form>
        <h3 style="margin-bottom: 30px; text-align:center;" i18n>Complete Mission: {{mision.encabezadoArte}}</h3>
        <!-- <div class="row" >
            <div i18n class="alert alert-warning" role="alert">There is a problem with this mission, please try again later</div>
        </div> -->
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <div class="card">
                <div id="loader"></div>
                <div id="user-info"></div>
                <button id="fb-auth" class="btn btn-lg btn-primary btn-block btn-signin"></button>
                <button *ngIf="mision.misionRedSocial.indTipo=='L'" class="btn btn-lg btn-primary btn-block" (click)="completeMission()" i18n> Share Link</button>
                <button *ngIf="mision.misionRedSocial.indTipo=='M'" class="btn btn-lg btn-primary btn-block" (click)="completeMission()" i18n> Share Message</button>
                <button *ngIf="mision.misionRedSocial.indTipo=='I'" class="btn btn-lg btn-primary btn-block" (click)="completeMission()" i18n> Share Image</button>
                <label *ngIf="mision.misionRedSocial.indTipo=='G'"  i18n>Hit the like button: </label>
                <div class="fb-like" style="margin-top: 25px" [attr.data-href]="mision.misionRedSocial.urlObjectivo"
                    data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false">
                </div>
            </div>
        </div>
    </form>
</div>

<!--
        indEstado: string G - gano P- pendiente F- fallo
        mensaje: string 
        indTipoPremio: string -valores-  M-Mision P-Premio
        referenciaPremio: string
    -->
<div class="portfolio-modal modal fade" id="modalStatus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-body" *ngIf="this.submissionStatus">
                <div class="container-fluid">
                    <div class="row">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row">
                        <h3 style="text-align: center" i18n><strong>Congratulations!</strong> You finished the mission succesfully</h3>

                        <p style="text-align: center">{{submissionStatus?.mensaje}} {{mision.metrica.texto}}</p>

                        <div [ngSwitch]="submissionStatus.indTipoPremio">
                            <div *ngSwitchCase="'M'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchCase="'P'">
                                {{referenciaPremio}}
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" i18n class="btn btn-primary center-block" data-dismiss="modal" (click)="gotoMissions()">Ok</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div id="fb" class="row col-lg-12"></div>
<div id="fb-root" class="row col-lg-12"></div>
<div id="other" class="row col-lg-12"></div>
<div id="debug" class="row col-lg-12"></div>