<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-10 ui-lg-10">
				<h1 class="input-spacing" i18n>Nueva Preferencia</h1>
			</div>
		</div>
	</div>
	<div class="card card-w-title">
		<div class="ui-g">
			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<!--Se manejan los datos a insertar en el formulario-->
				<form role="form" [formGroup]="form">
					<h2 i18n>Datos de la preferencia</h2>
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtPregunta" i18n><strong>Pregunta:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-7">
									<input id="txtPregunta" name="pregunta" type="text" pInputText [(ngModel)]="preferencia.pregunta" formControlName="pregunta">
								</div>
							</div>
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtPregunta" i18n><strong>Tipo de respuesta:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-7">
									<p-dropdown [autoWidth]="false" id="indTipoRespuesta" name="indTipoRespuesta" [(ngModel)]="preferencia.indTipoRespuesta"
										formControlName="indRespuesta" [options]="itemsTipoRespuesta"></p-dropdown>
								</div>
							</div>
							<!--Se muestra solo si la respuesta es respuesta múltiple o única-->
							<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="preferencia.indTipoRespuesta=='RM'||preferencia.indTipoRespuesta=='SU'">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtPregunta" i18n><strong>Agregar respuesta:</strong></label>
								</div>
								<div class="ui-g-10 ui-md-7 ui-lg-6">
									<input type="text" pInputText [(ngModel)]="preferenciaInsertar" [ngModelOptions]="{standalone: true}">
								</div>
								<div class="ui-g-2 ui-md-2">
									<button pButton (click)="insertarRespuestaLista()" icon="ui-icon-add"></button>
								</div>
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="lstRespuestas" i18n><strong>Respuestas:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<p-orderList id="lstRespuestas" dragdrop="true" (onReorder)="respuestas" [listStyle]="{'height':'250px'}" i18n-header header="Lista de respuestas" [responsive]="true" [value]="respuestas">
										<ng-template let-resp pTemplate="item">
											<div class="ui-helper-clearfix">
												<div style="font-size:14px;float:left;margin:15px 5px 0 0">{{resp}}</div>
												<button pButton style="float:right;margin:15px 5px 0 0" icon="ui-icon-clear" (click)="eliminarRespuesta(resp)"></button>
											</div>
										</ng-template>
									</p-orderList>
								</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-lg-8"></div>
					<div class="ui-g-12 ui-lg-2">
						<button pButton class="pull-left" [disabled]="!form.valid||(this.preferencia.indTipoRespuesta=='RM'||this.preferencia.indTipoRespuesta=='SU')&&this.respuestas.length<2"
							i18n-label label="Guardar" (click)="insertarPreferencia()" class="green-btn" icon="ui-icon-save"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
