<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar al listado de atributos-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-7">
					<div class="ui-g-12 ui-md-12">
						<div class="heading-detalle">
							{{preferencia.pregunta}}
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Preferencia</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-6">
						<h2 i18n>Información del atributo</h2>
					</div>
				</div>
				<!--Contiene la información de la preferencia-->
				<form [formGroup]="form">
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtPregunta" i18n><strong>Pregunta:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-7">
									<input id="txtPregunta" name="pregunta" type="text" pInputText [(ngModel)]="preferencia.pregunta" formControlName="pregunta">
								</div>
							</div>
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtPregunta" i18n><strong>Tipo de respuesta:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8 ui-lg-7">
									<p-dropdown [autoWidth]="false" id="indTipoRespuesta" name="indTipoRespuesta" [(ngModel)]="preferencia.indTipoRespuesta"
										formControlName="indRespuesta" [options]="itemsTipoRespuesta"></p-dropdown>
								</div>
							</div>
							<!--Se muestra solo si la respuesta es respuesta múltiple o única-->
							<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="preferencia.indTipoRespuesta=='RM'||preferencia.indTipoRespuesta=='SU'">
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="txtPregunta" i18n><strong>Agregar respuesta:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText [(ngModel)]="preferenciaInsertar" [ngModelOptions]="{standalone: true}">
								</div>
								<div class="ui-g-2 ui-md-1 ui-lg-1">
									<button pButton (click)="insertarRespuestaLista(preferenciaInsertar)" icon="ui-icon-add"></button>
								</div>
								<div class="ui-g-12 ui-md-4 ui-lg-3">
									<label for="lstRespuestas" i18n><strong>Respuestas:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<p-orderList id="lstRespuestas" i18n-header header="Lista de respuestas" [listStyle]="{'height':'250px'}" [responsive]="true" [value]="respuestas">
										<ng-template let-resp pTemplate="item">
											<div class="ui-helper-clearfix">
												<div style="font-size:14px;float:left;margin:15px 5px 0 0">{{resp}}</div>
												<button style="float:right;margin:15px 5px 0 0" pButton icon="ui-icon-clear" (click)="eliminarRespuesta(resp)"></button>
											</div>
										</ng-template>
									</p-orderList>
								</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-lg-10"></div>
					<div class="ui-g-12 ui-lg-2">
						<button pButton i18n-label label="Guardar" (click)="editarPreferencia()" icon="ui-icon-save" class="green-btn"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>