<div class="ui-g ui-fluid ">
    <div class="ui-g-12 ui-lg-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-10">
                    <h1 i18n>Preferencias</h1>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-12 ui-md-8">
                        <!--Búsqueda por críterios-->
                        <p-chips [(ngModel)]="listaBusqueda" (onAdd)="buscarPreferencias()" (onRemove)="buscarPreferencias()" i18n-placeholder placeholder="Búsqueda"></p-chips>
                        <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2">
                        <button type="button" (click)="displayBusquedaAvanzada = !displayBusquedaAvanzada" i18n-label label="Búsqueda avanzada" pButton></button>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button" class="green-btn" i18n-label label="Agregar" icon="ui-icon-add" [routerLink]="rtInsertarPreferencias"></button>
                    </div>
                </div>
                <!--Búsqueda avanzada-->
                <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="displayBusquedaAvanzada">
                    <p-fieldset legend="Tipos" class="ui-g-12 ui-md-6">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
                            <div class="ui-g-12 ui-md-4">
                                <p-checkbox name="group1" value="TX" i18n-label label="Texto" (click)="buscarPreferencias()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <p-checkbox name="group1" value="RM" i18n-label label="Respuesta múltiple" (click)="buscarPreferencias()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <p-checkbox name="group1" value="SU" i18n-label label="Selección única" (click)="buscarPreferencias()" [(ngModel)]="preferenciasBusqueda"></p-checkbox>
                            </div>
                        </div>
                    </p-fieldset>
                    <div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="preferencias.length<=0">
                        <p-messages [value]="[{severity:'info', summary:'Info', detail:'Aún no hay preferencias'}]"></p-messages>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-w-title">
            <!-- Se lista los elementos de preferencia-->
                <p-dataList [value]="preferencias" [paginator]="true" [rows]="10" *ngIf="preferencias.length>0">
                    <p-header i18n> Lista de Preferencias </p-header>
                    <ng-template let-preferencia pTemplate="item">
                        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-7">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-4">
                                                <ng-container i18n>Pregunta: </ng-container>
                                            </div>
                                            <div class="ui-grid-col-8">{{preferencia.pregunta}}</div>
                                        </div>
                                        <div class="ui-grid-row" *ngIf="preferencia.indTipoRespuesta=='RM'||preferencia.indTipoRespuesta=='SU'">
                                            <div class="ui-grid-col-4">
                                                <ng-container i18n>Respuestas: </ng-container>
                                            </div>
                                            <div class="ui-grid-col-8">{{preferencia.respuestas}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-grid ui-grid-responsive ui-fluid">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-4">
                                                <ng-container i18n>Tipo:</ng-container>
                                            </div>
                                            <div class="ui-grid-col-8">{{preferencia.indTipoRespuesta|tipoRespuesta}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-col-1">
                                    <div class="ui-grid-row">
                                        <button type="button" style="margin-left:10px;margin-bottom:10px" icon="ui-icon-trash" pButton (click)="mostrarModalEliminarPreferencia(preferencia)"></button>
                                        <button type="button" style="margin-left:10px;margin-bottom:10px" icon="ui-icon-edit" pButton (click)="gotoDetail(preferencia)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataList>
            
        </div>
    </div>
</div>

<!--Cuadro de Dialogo para la confirmación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="displayModalConfirm" [modal]="true">
    <ng-container i18n>¿Está seguro que desea eliminar la preferencia?</ng-container>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="displayModalConfirm=false" i18n-label label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" i18n-label label="Eliminar" (click)="eliminarPreferencia()"></button>
    </p-footer>
</p-dialog>