<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Botón para regresar a la lista de categorías-->
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<div class="heading-detalle">
					<ng-container i18n>Nuevo atributo de producto</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Información del atributo-->
			<form novalidate role="form" [formGroup]="formAtributo" ><!--(ngSubmit)="agregarAtributo()"-->
				<div class="ui-g-12 ui-md-12">
					<h2 i18n>Datos del atributo del producto</h2>
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<!--Imagen que representa a la categoría-->
								<div class="ui-g-12 ui-md-12">
									<img src='{{imgAtributo}}' alt="" class="cp-insert cp-round" *ngIf="imgAtributo"/>
									<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
								</div>
								<div class="ui-g-12 ui-md-12">
									<input class="upload" id="imgAtributo" name="imgAtributo" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
									<label for="imgAtributo" i18n>Seleccione un archivo</label>
								</div>
							</div>
							<!-- Nombre del atributo -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3 ui-lg-2">
									<label i18n><strong>Nombre del atributo</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6 md-inputfield">
									<input class="form-control" pInputText formControlName="nombre" pTooltip="Nombre del atributo" tooltipPosition="top" (blur)="establecerNombre();">
									<control-messages [control]="formAtributo.controls.nombre"></control-messages>
								</div>
							</div>
							<!-- Nombre interno -->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3 ui-lg-2">
									<label i18n><strong>Nombre interno:</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6 md-inputfield">
									<input pInputText id="txtInterno" name="txtInterno" maxlength="150" formControlName="nombreInterno">
								</div>
							</div>
							<!--Tipo de dato-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3 ui-lg-2">
									<label i18n><strong>Tipo de dato</strong></label>
								</div>
								<div class="ui-g-12 ui-md-7 ui-lg-6">
									<p-dropdown [options]="tipoItems" formControlName="indTipo" autoWidth pTooltip="Tipo de dato" tooltipPosition="top" (onChange)="cambioTipoDato()"></p-dropdown>
									<control-messages [control]="formAtributo.controls.indTipo"></control-messages>
								</div>
							</div>
								<!-- Valor del atributo -->
							<div class="ui-g-12 ui-md-12" *ngIf="formAtributo.controls.indTipo.value">
								<div class="ui-g-12 ui-md-3 ui-lg-2">
									<label i18n><strong>Valor del atributo</strong></label>
								</div>
								<!--Tipo numérico-->
								<div *ngIf="formAtributo.controls.indTipo.value == 'N'" class="ui-g-12 ui-md-7 ui-lg-6">
									<!--<input type="number" pInputText pTooltip="Valor numérico" tooltipPosition="top" formControlName="valorNumero" pattern="[0-9]*">-->
									<p-spinner size="30" [min]="0" formControlName="valorNumero" pattern="[0-9]*"></p-spinner>
								</div>
								<control-messages [control]="formAtributo.controls.valorNumero"></control-messages>
									<!--Tipo texto-->
								<div *ngIf="formAtributo.controls.indTipo.value == 'T'" class="ui-g-12 ui-md-7 ui-lg-6">
									<input type="text" pInputText pTooltip="Texto libre" tooltipPosition="top" formControlName="valorTexto">
								</div>
								<control-messages [control]="formAtributo.controls.valorTexto"></control-messages>
								<!--Tipo opción multiple-->
								<div *ngIf="formAtributo.controls.indTipo.value == 'M'" class="ui-g-12 ui-md-7 ui-lg-6">
									<div class="ui-g-10 ui-md-10">
										<input type="text" pInputText [(ngModel)]="respuesta" pTooltip="Respuesta multiple" tooltipPosition="top" formControlName="valorMultiple">
									</div>
									<div class="ui-g-2 ui-md-2">
										<button pButton class="green-btn" icon="ui-icon-add" [disabled]="respuesta==''" (click)="nuevaRespuesta()"></button>
									</div>
									<control-messages [control]="formAtributo.controls.valorMultiple"></control-messages>
									<div class="ui-g-12 ui-md-10 ui-lg-10">
										<p-orderList [value]="listaRespuesta" [listStyle]="{'height':'250px'}" [responsive]="true" i18n-header header="Respuestas múltiples">
											<ng-template let-itemRespuesta pTemplate="item">
												<div class="ui-helper-clearfix">
													<div style="font-size:14px;float:right;margin:15px 5px 0 0">{{itemRespuesta}}</div>
													<button pButton class="red-btn" icon="ui-icon-close" (click)="removerRespuesta(itemRespuesta)"></button>
												</div>
											</ng-template>
										</p-orderList>
									</div>
								</div>
							</div>
								<!--Indicador de requerido-->
							<div class="ui-g-12 ui-md-12">
								<div class="ui-g-12 ui-md-3 ui-lg-2">
									<label i18n><strong>¿El atributo será requerido?</strong></label>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton [value]="true"  name="requerido" formControlName="indRequerido" i18n-label label="Si"></p-radioButton>
								</div>
								<div class="ui-g-4 ui-md-3">
									<p-radioButton [value]="false"  name="requerido" formControlName="indRequerido" i18n-label label="No"></p-radioButton>
								</div>
								<control-messages [control]="formAtributo.controls.indRequerido"></control-messages>
							</div>
						
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
						</div>
						<!--Botones del formulario-->
						<div class="ui-g-12 ui-md-3 ui-lg-2">
							<button pButton type="button" i18n-label label="Cancelar" class="red-btn" (click)="goBack()" icon="ui-icon-close"></button>
						</div>
						<!--Para agregar el atributo, se activa hasta que el formAtributo sea valido -->
						<div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="escritura">
							<button pButton type="button" (click)="agregarAtributo()" i18n-label label="Guardar" class="green-btn" icon="ui-icon-save" [disabled]="!formAtributo.valid && escritura"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>