<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar al listado de atributos-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-7">
					<div class="ui-g-12 ui-md-12">
						<div class="heading-detalle">
							{{atributo.nombre}}
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Atributo Dinámico</ng-container>
						</div>
					</div>
				</div>
				<div class="ui-g-12 ui-md-3">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
					<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
						<div class="ui-g card cbx" [ngClass]="{'cbx-1': publicado, 'cbx-2': borrador, 'cbx-3': archivado}" (click)="op2.toggle($event)">
							<div class="ui-g-4">
								<i class="material-icons">edit</i>
							</div>
							<div class="ui-g-8">
								<span class="name" i18n>Estado </span>
								<span class="count">{{atributo.indEstado | estadoElemento}}</span>
							</div>
						</div>
					</div>
					<p-overlayPanel #op2>		
						<div class="ui-g-12 ui-md-12" style="width:260px">
							<div class="ui-g-12 ui-md-12">
								<div *ngIf="atributo.indEstado == 'B' && escritura" class="ui-g-12 ui-md-12">
									<h3 class="input-spacing"><strong i18n>Atributo en borrador</strong></h3>
									<p i18n>Debe ser publicado para ser utilizado en los demás modulos del sistema. Si desea, puede eliminar por completo este atributo.</p>
									<button pButton type="button" class="orange-btn" i18n-label label="Publicar" icon="ui-icon-check" (click)="publicarAtributo()"></button>
								</div>
								<div *ngIf="atributo.indEstado != 'A' && escritura" class="ui-g-12 ui-md-12" >
									<button pButton type="button" class="red-btn" i18n-label label="Archivar" icon="ui-icon-archive" (click)="eliminar = true" *ngIf="atributo.indEstado == 'P' "></button>
									<button pButton type="button" class="red-btn" i18n-label label="Eliminar" icon="ui-icon-trash" (click)="eliminar = true" *ngIf="atributo.indEstado == 'B'"></button>
								</div>
								<div *ngIf="atributo.indEstado == 'A' && escritura" class="ui-g-12 ui-md-12">
									<h3 class="input-spacing"><strong i18n>Atributo archivado</strong></h3>
									<p i18n>No se pueden realizar cambios, el atributo está archivado.</p>
								</div>
								<div class="ui-g-12" *ngIf="!escritura" style="background: #2196F3; font-size: x-small; color: white;">
									<div class="ui-g-12 ui-md-2 ui-lg-2">
										<i class="material-icons">information</i>
									</div>
									<div class="ui-g-12 ui-md-7 ui-lg-7">
										<label i18n>No cuenta con los permisos necesarios para cambiar los atributos de producto</label>
									</div>
								</div>
							</div>
						</div>
					</p-overlayPanel>
				</div>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12">
			<div class="card card-w-title">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-6">
								<h2 i18n>Información del atributo</h2>
							</div>
						</div>
						<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
							<div class="ui-g-5 ui-md-5"></div>
							<div class="ui-g-2 ui-md-2">
								<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
							</div>
						</div>
						<div class="ui-g-12 ui-md-12" *ngIf="!cargandoDatos">
							<!--Formulario con la información del atributo-->
							<form role="form" [formGroup]="formAtributo">
								<div class="ui-g form-group">
									<div class="ui-g-12 ui-md-5 ui-lg-3">
										<!--Imagen para representar la categoría-->
										<div class="ui-g-12 ui-md-12">
											<img src='{{imgAtributo}}' alt="" class="cp-insert cp-round" />
											<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
										</div>
										<div class="ui-g-12 ui-md-12">
											<input class="upload" id="imgAtributo" name="imgAtributo" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
											<label for="imgAtributo" i18n>Seleccione un archivo</label>
										</div>
									</div>
									<!-- Nombre del atributo -->
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g-12 ui-md-4 ui-lg-3">
											<label for="txtNombre" i18n><strong>Nombre del atributo</strong></label>
										</div>
										<div class="ui-g-12 ui-md-7 ui-lg-6">
											<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="50" [(ngModel)]="atributo.nombre" formControlName="nombre"
												pTooltip="Nombre del atributo" tooltipPosition="top" (blur)="establecerNombre();">
										</div>
									</div>
									<!-- Nombre interno -->
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g-12 ui-md-4 ui-lg-3">
											<label i18n><strong>Nombre interno:</strong></label>
										</div>
										<div class="ui-g-12 ui-md-7 ui-lg-6">
											<input pInputText id="txtInterno" name="txtInterno" maxlength="150" [(ngModel)]="atributo.nombreInterno" formControlName="nombreInterno">
										</div>
									</div>
									<!-- Descripción -->
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g-12 ui-md-4 ui-lg-3">
											<label for="txtNombre" i18n><strong>Descripción</strong></label>
										</div>
										<div class="ui-g-12 ui-md-7 ui-lg-6">
											<input type="text" pInputText id="txtDescripcion" name="txtDescripcion" maxlength="100" [(ngModel)]="atributo.descripcion"
												formControlName="descripcion" pTooltip="Descripción del atributo" tooltipPosition="top">
										</div>
									</div>
									<!--Tipo de dato-->
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g-12 ui-md-4 ui-lg-3">
											<label for="indTipo" i18n><strong>Tipo de dato</strong></label>
										</div>
										<div class="ui-g-12 ui-md-7 ui-lg-6">
											<label>{{ atributo.indTipo | tipoDato }}</label>
										</div>
									</div>
									<!-- Valor del atributo -->
									<div class="ui-g-12 ui-md-12" *ngIf="atributo.indTipo">
										<div class="ui-g-12 ui-md-4 ui-lg-3">
											<label i18n><strong>Valor del atributo</strong></label>
										</div>
										<!--Tipo numérico-->
										<div *ngIf="atributo.indTipo == 'N'" class="ui-g-12 ui-md-7 ui-lg-6">
											<p-spinner size="30" id="txtNumerico" name="txtNumerico" [min]="0" [(ngModel)]="atributo.valorOpciones" formControlName="valor"
												pTooltip="Valor numérico" tooltipPosition="top"></p-spinner>
										</div>
										<!--Tipo texto-->
										<div *ngIf="atributo.indTipo == 'T'" class="ui-g-12 ui-md-7 ui-lg-6">
											<input type="text" pInputText [(ngModel)]="atributo.valorOpciones" id="txtTexto" name="txtTexto" formControlName="valor">
										</div>
										<!--Tipo opción multiple-->
										<div *ngIf="atributo.indTipo == 'M'" class="ui-g-12 ui-md-7 ui-lg-6">
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-10 ui-md-10">
													<input type="text" pInputText [(ngModel)]="respuesta" id="txtTexto" name="txtTexto" formControlName="valor">
												</div>
												<div class="ui-g-2 ui-md-2">
													<button pButton type="button" class="green-btn" icon="ui-icon-add" (click)="nuevaRespuesta()"></button>
												</div>
											</div>
											<div class="ui-g-12 ui-md-12">
												<p-orderList [value]="listaRespuesta" [listStyle]="{'height':'250px'}" [responsive]="true" i18n-header header="Respuestas múltiples">
													<ng-template let-respuesta pTemplate="item">
														<div class="ui-helper-clearfix">
															<div style="font-size:14px;float:right;margin:15px 5px 0 0">{{respuesta}}</div>
															<button pButton type="button" class="red-btn flat" icon="ui-icon-close" (click)="removerRespuesta(respuesta)"></button>
														</div>
													</ng-template>
												</p-orderList>
											</div>
										</div>
									</div>
									<!--Indicador de requerido-->
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g-12 ui-md-4 ui-lg-3">
											<label i18n><strong>¿El atributo será requerido?</strong></label>
										</div>
										<div class="ui-g-4 ui-md-3">
											<p-radioButton name="radioRequerido" id="radioTrue" [value]="true"  [(ngModel)]="atributo.indRequerido" formControlName="indRequerido"
												i18n-label label="Si"></p-radioButton>
										</div>
										<div class="ui-g-4 ui-md-3">
											<p-radioButton name="radioRequerido" id="radioFalse" [value]="false"  [(ngModel)]="atributo.indRequerido" formControlName="indRequerido"
												i18n-label label="No"></p-radioButton>
										</div>
									</div>
								</div>
							
							<div class="ui-g-12 ui-md-7 ui-lg-8">
								<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoDatos" />
							</div>
							<div *ngIf="atributo.indEstado != 'A' && escritura" class="ui-g-12 ui-md-3 ui-lg-2">
								<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" [disabled]="!formAtributo.valid && !subiendoDatos" class="green-btn" (click)="actualizarAtributo()"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
			<div class="ui-g-12 ui-md-12" *ngIf="estado == 'B'">{{questBorrar}}</div>
			<div class="ui-g-12 ui-md-12" *ngIf="estado == 'P'">{{questArchivar}}</div>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerAtributo()" icon="ui-icon-trash" *ngIf="estado == 'B' && escritura"></button>
		<button pButton type="button" i18n-label label="Archivar" (click)="removerAtributo()" icon="ui-icon-archive" *ngIf="estado == 'P' && escritura"></button>
    </p-footer>
</p-dialog>