<div class="ui-g ui-fluid card">
	<div class="ui-g-12 ui-md-9 ui-lg-9">
		<div class="heading-detalle">
			<ng-container i18n>Atributos Dinámicos de Productos</ng-container>
		</div>
	</div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<!--Se realizan búsquedas según un criterio  -->
		<div class="ui-g-12 ui-md-8 ui-lg-8">
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaAtributos()" (onRemove)="busquedaAtributos()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2">
			<button pButton (click)="avanzada = !avanzada;" i18n-label label="Búsqueda avanzada"></button>
		</div>
		<!--Butón para agregar un nuevo atributo-->
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
			<button pButton i18n-label label="Agregar" class="green-btn" (click)="nuevoAtributo()" icon="ui-icon-add"></button>
		</div>
	</div>
	<!--Busquedas avanzadas-->
	<div *ngIf="avanzada" class="ui-g-12 ui-md-12">
		<p-fieldset legend="Tipo de premio" class="ui-g-12 ui-md-6">
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
				<div class="ui-g-12 ui-md-6">
					<p-checkbox name="group2" value="M" i18n-label label="Múltiple" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-6">
					<p-checkbox name="group2" value="N" i18n-label label="Numéricos" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-6">
					<p-checkbox name="group2" value="T" i18n-label label="Texto" [(ngModel)]="tipoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
				</div>
			</div>
		</p-fieldset>
		<p-fieldset legend="Estados" class="ui-g-12 ui-md-6">
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
				<div class="ui-g-12 ui-md-6">
					<p-checkbox name="group1" value="P" i18n-label label="Publicado" [(ngModel)]="estadoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-6">
					<p-checkbox name="group1" value="A" i18n-label label="Archivado" [(ngModel)]="estadoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
				</div>
				<div class="ui-g-12 ui-md-6">
					<p-checkbox name="group1" value="B" i18n-label label="Borrador" [(ngModel)]="estadoAtributo" (onChange)="busquedaAtributos()"></p-checkbox>
				</div>
			</div>
		</p-fieldset>
	</div>
	<!--Se muestra la lista con atributos-->
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<div class="ui-g-12">
		<div *ngIf="!listaVacia && !cargandoDatos">
			<p-dataList [value]="listaAtributos" [paginator]="true" [rows]="15" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
				<p-header i18n>
					Atributos Dinámicos de Productos
				</p-header>
				<ng-template let-atributo pTemplate="item">
					<div class="listBorder clearfix">
						<button pButton (click)="atributoSeleccionado(atributo.idAtributo)" icon="ui-icon-edit" class="listButton"></button>
						<button pButton (click)="dialogoConfirmar(atributo)" icon="ui-icon-delete" class="listButton" *ngIf="atributo.indEstado == 'B' && escritura"></button>
						<button pButton (click)="dialogoConfirmar(atributo)" icon="ui-icon-archive" class="listButton" *ngIf="atributo.indEstado == 'P' && escritura"></button>
						<div class="ui-g-10 ui-md-3 ui-lg-3">
							<img class="cp-list cp-round" src="{{atributo.imagen}}">
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
							<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
								<h3>{{atributo.nombre}}</h3>
							</div>
							<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
								<div class="ui-g-5 ui-md-4 element-list">
									<p i18n><strong>Tipo de dato:</strong></p>
								</div>
								<div class="ui-g-7 ui-md-7 element-list">
									<p>{{atributo.indTipo | tipoDato}}</p>
								</div>
								<div class="ui-g-5 ui-md-4 element-list">
									<p i18n><strong>Opción Respuesta:</strong></p>
								</div>
								<div class="ui-g-7 ui-md-7 element-list">
									<p>{{atributo.valorOpciones}}</p>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataList>
		</div>
		<!--Se muestra este mensaje si no existen atributos-->
		<div class="ui-g" *ngIf="listaVacia">
			<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No hay atributos disponibles.</label>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12" *ngIf="estado == 'B'">{{questBorrar}}</div>
		<div class="ui-g-12 ui-md-12" *ngIf="estado == 'P'">{{questArchivar}}</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Borrar" (click)="removerAtributo()" icon="ui-icon-trash" *ngIf="estado == 'B' && escritura"></button>
		<button pButton type="button" i18n-label label="Archivar" (click)="removerAtributo()" icon="ui-icon-archive" *ngIf="estado == 'P' && escritura"></button>
	</p-footer>
</p-dialog>