<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="card card-w-title">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-9 ui-lg-10">
						<div class="heading-detalle">
							<ng-container i18n>Categorías de Producto</ng-container>
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<!--Para realizar búsquedas según un palabras claves-->
						<div class="ui-g-12 ui-md-10 ui-lg-10">
							<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerListaCategorias()" (onRemove)="obtenerListaCategorias()" placeholder="Búsqueda" i18n-placeholder></p-chips>
							<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
						</div>
						<!--Botón para agregar una nueva categoría-->
						<div *ngIf="escritura" class="ui-g-12 ui-md-2 ui-lg-2">
							<button pButton type="button" class="green-btn" (click)="insertarCategoria()" icon="ui-icon-add" label="Agregar" i18n-label ></button>
						</div>
					</div>
				</div>
			</div>

			<!--Se muestra una lista con las categorías disponibles-->
			<div class="card card-w-title">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
						<div class="ui-g-5 ui-md-5"></div>
						<div class="ui-g-2 ui-md-2">
							<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
						</div>
					</div>
				</div>
				<div class="ui-grid-12" *ngIf="!cargandoDatos">
					<p-dataList [value]="listaCategoria" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords"
						*ngIf="!listaVacia">
						<p-header i18n>
							Categorías
						</p-header>
						<ng-template let-categoria pTemplate="item">
							<div class="clearfix listBorder">
								<button pButton (click)="detalleCategoria(categoria.idCategoria)" icon="ui-icon-edit" class="listButton"></button>
								<button pButton *ngIf="escritura" (click)="dialogoConfirmacion(categoria.idCategoria)" icon="ui-icon-delete" class="listButton"></button>

								<div class="ui-g-10 ui-md-3 ui-lg-3">
									<img class="cp-list cp-round" src="{{categoria.imagen}}" alt="">
								</div>

								<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
									<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
										<h3>{{categoria.nombre}}</h3>
									</div>
									<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
										<div class="ui-g-5 ui-md-4 element-list">
											<p i18n><strong>Nombre interno:</strong></p>
										</div>
										<div class="ui-g-7 ui-md-7 element-list">
											<p>{{categoria.nombreInterno}}</p>
										</div>
										<div class="ui-g-4 ui-md-4 element-list">
											<p i18n><strong>Descripción:</strong></p>
										</div>
										<div class="ui-g-7 ui-md-7 element-list">
											<p>{{categoria.descripcion}}</p>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</p-dataList>
					<div class="ui-g-12" *ngIf="listaVacia" style="background: #2196F3; font-size: x-small; color: white;">
						<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
							<i class="material-icons">information</i>
						</div>
						<div class="ui-g-8 ui-md-7 ui-lg-7">
							<label i18n>No existen categorías en el sistema.</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover una categoría de producto-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea eliminar este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close" ></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerCategoria()" icon="ui-icon-trash" *ngIf="escritura"></button>
    </p-footer>
</p-dialog>