<div class="ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<!--Botón para regresar a la lista de categorías-->
				<div class="ui-g-12 ui-md-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()"></button>
				</div>
				<div class="ui-g-12 ui-md-9">
					<div class="ui-g-12 ui-md-12">
						<div class="heading-detalle">
							{{categoria.nombre}}
						</div>
					</div>
					<div class="ui-g-12 ui-md-12">
						<div class="sub-heading-detalle">
							<ng-container i18n>Categoría de producto</ng-container>
						</div>
					</div>
				</div>
				<div *ngIf="escritura" class="ui-g-12 ui-md-2">
					<button pButton type="button" i18n-label label="Eliminar" class="red-btn" (click)="eliminar = true" icon="ui-icon-trash"></button>
				</div>
			</div>
		</div>

		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-reorder" i18n-label label="General" [routerLink]="informacion" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-brush" i18n-label label="Subcategorías" [routerLink]="subcategorias" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Certificados" [routerLink]="certificadosCategoriaProducto" [routerLinkActive]="['ruta-activada']"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-w-title">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerCategoriaProducto()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>

