<div class="ui-fluid">
	<div class="card card-w-title">
		<div class="ui-g">
			<!--Botón para regresar a la lista de categorías-->
			<div class="ui-g-12 ui-md-1">
				<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
			</div>
			<div class="ui-g-12 ui-md-8">
				<div class="heading-detalle">
					<ng-container i18n>Nueva categoría de producto</ng-container>
				</div>
			</div>
		</div>
	</div>

	<div class="card card-w-title">
		<!--Formulario para insertar una categoría-->
		<div class="ui-g">
			<form novalidate role="form" [formGroup]="formCategoria" (ngSubmit)="insertarCategoria()">
				<div class="ui-md-12 ui-lg-12">
					<h2 i18n>Datos de la categoría</h2>

					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<!--Imagen que representa a la categoría-->
								<div class="ui-g-12 ui-md-12">
									<img src='{{avatar}}' class="cp-insert cp-round" *ngIf="avatar"/>
									<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
								</div>
								<div class="ui-g-12 ui-md-12" *ngIf="escritura">
									<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
									<label for="avatar" i18n>Seleccione un archivo</label>
								</div>
							</div>
							<div class="ui-g-12 ui-md-12">
								<!--Nombre de la categoría-->
								<div class="ui-g-12 ui-md-">
									<label i18n><strong>Nombre de categoría</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8">
									<input pInputText type="text" (blur)="establecerNombres();" formControlName="nombre">
									<control-messages [control]="formCategoria.controls.nombre"></control-messages>
								</div>
							</div>
							<div class="ui-g-12 ui-md-12">
								<!--Nombre interno de la categoría-->
								<div class="ui-g-12 ui-md-12">
									<label i18n><strong>Nombre interno</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8">
									<input type="text" pInputText formControlName="nombreInterno" (blur)="validarNombreInterno()">
									<control-messages [control]="formCategoria.controls.nombreInterno"></control-messages>
									<small *ngIf="nombreExiste&&formCategoria.get('nombreInterno').touched"><p i18n>El nombre interno ya existe <p></small>
								</div>
							</div>
							<div class="ui-g-12 ui-md-12">
								<!--LoginId-->
								<div class="ui-g-12 ui-md-12">
									<label i18n><strong>LoginId</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8">
									<input type="text" pInputText formControlName="loginId">
									<control-messages [control]="formCategoria.controls.loginId"></control-messages>
								</div>
							</div>
							<div class="ui-g-12 ui-md-12">
								<!--Descripción-->
								<div class="ui-g-12 ui-md-12">
									<label i18n><strong>Descripción</strong></label>
								</div>
								<div class="ui-g-12 ui-md-8">
									<input type="text" pInputText formControlName="descripcion">
									<control-messages [control]="formCategoria.controls.descripcion"></control-messages>
								</div>
							</div>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
						</div>
						<!--Botón para regresar a la lista de categorías-->
						<div class="ui-g-12 ui-md-2 ui-lg-2">
							<button pButton type="button" class="red-btn" (click)="goBack()" icon="ui-icon-close" label="Cancelar" i18n-label></button>
						</div>
						<!--Se muestra solo si el usuario tiene permisos de escritura-->
						<div *ngIf="escritura" class="ui-g-12 ui-md-2 ui-lg-2">
							<!--Se activa hasta que el formulario sea válido" -->
							<button pButton type="submit" class="green-btn" icon="ui-icon-save" [disabled]="!formCategoria.valid" label="Guardar" i18n-label></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
