<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-lg-12">
		<!--Se muestra un formulario con la información de la categoría-->
		<form role="form" [formGroup]="formCategoria">
			<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
			<div class="ui-g form-group" *ngIf="!cargandoDatos">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h2 i18n>Información de la categoría</h2>
				</div>

				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<!--Imagen para representar la categoría-->
					<div class="ui-g-12 ui-md-12">
						<img src='{{avatar}}' alt="" class="cp-insert cp-round"/>
						<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
					</div>
					<div class="ui-g-12 ui-md-12" *ngIf ="escritura">
						<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
						<label for="avatar" i18n>Seleccione un archivo</label>
					</div>
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">

					<!--Nombre-->
					<div class="ui-g-12 ui-md-12">
						<label i18n><strong>Nombre de categoría:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input type="text" pInputText formControlName="nombre" (keyup)="establecerNombres(); validarNombre()">
						<control-messages [control]="formCategoria.controls.nombre"></control-messages>
					</div>

					<!--Nombre interno de la categoría-->
					<div class="ui-g-12 ui-md-12">
						<label i18n><strong>Nombre interno:</strong></label>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input type="text" pInputText formControlName="nombreInterno" (keyup)="validarNombre()">
						<control-messages [control]="formCategoria.controls.nombreInterno"></control-messages>
						<small *ngIf="nombreExiste&&formCategoria.get('nombreInterno').touched"><p i18n>El nombre interno ya existe.</p></small>
					</div>

					<!--LoginId-->
					<div class="ui-g-12 ui-md-12">
						<label i18n><strong>Login Id</strong></label>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input type="text" pInputText formControlName="loginId">
						<control-messages [control]="formCategoria.controls.loginId"></control-messages>
					</div>

					<!--Descripcion-->
					<div class="ui-g-12 ui-md-12">
						<label i18n><strong>Descripción</strong></label>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input type="text" pInputText formControlName="descripcion">
						<control-messages [control]="formCategoria.controls.descripcion"></control-messages>
					</div>

				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-9 ui-lg-10">
						<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen"/>
					</div>
					<div *ngIf="escritura" class="ui-g-12 ui-md-3 ui-lg-2">
						<!--Se habilita cuando el formulario es válido-->
						<button pButton type="button" class="green-btn" [disabled]="!formCategoria.valid" (click)="actualizarCategoria()" icon="ui-icon-save"
							label="Guardar" i18n-label></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
