<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-lg-12">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-8 ui-lg-8">
				<h2 i18n>Subcategorías</h2>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12">
			<!--Para realizar búsquedas según un palabras claves-->
			<div class="ui-g-12 ui-md-10 ui-lg-10">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerSubCategorias()" (onRemove)="obtenerSubCategorias()" i18n-placeholder
					placeholder="Búsqueda"></p-chips>
				<small><p style="color:darkgrey;" i18n>Ingrese el criterio de búsqueda y presione "enter" para continuar</p></small>
			</div>
			<!--Botón para agregar una nueva categoría-->
			<div *ngIf="escritura" class="ui-g-12 ui-md-2 ui-lg-2">
				<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="editar=true" icon="ui-icon-add"></button>
			</div>
		</div>
		<div class="ui-g-12 ui-lg-12 ui-md-12">
			<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>

			<div *ngIf="!listaVacia && !cargandoDatos">
				<p-dataList [value]="listaSubcategorias" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Lista de Subcategorías
					</p-header>
					<ng-template let-subcategoria pTemplate="item">
						<div class="listBorder clearfix">
							<button pButton (click)="subcategoriaSeleccionada(subcategoria)" icon="ui-icon-edit" class="listButton"></button>
							<button pButton *ngIf="escritura" (click)="remover(subcategoria.idSubcategoria)" icon="ui-icon-delete" class="listButton"></button>

							<!--Se muestra la imagen de la categoría-->
							<div class="ui-g-10 ui-md-3 ui-lg-3">
								<img class="cp-list cp-round" src="{{subcategoria.imagen}}">
							</div>
							<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
								<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
									<h3>{{subcategoria.nombre}}</h3>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
									<div class="ui-g-5 ui-md-4 element-list">
										<p i18n><strong>Nombre interno:</strong></p>
									</div>
									<div class="ui-g-7 ui-md-7 element-list">
										<p>{{subcategoria.nombreInterno}}</p>
									</div>
									<div class="ui-g-4 ui-md-4 element-list">
										<p i18n><strong>Descripción:</strong></p>
									</div>
									<div class="ui-g-7 ui-md-7 element-list">
										<p>{{subcategoria.descripcion}}</p>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
			<!--Se muestra este mensaje si no existen asignaciones-->
			<div *ngIf="listaVacia && !cargandoDatos">
				<span i18n>Esta categoría no tiene ninguna subcategoría</span>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de dialog para editar/insertar una subcategoria-->
<p-dialog i18n-header header="Subcategoría" [closeOnEscape]="false" [closable]="false" [responsive]="true" [(visible)]="editar"
	showEffect="fade" [modal]="true" width="600" height="auto" [resizable]="true">
	<div class="ui-g-12 ui-md-12">
		<!--Formulario para la inserción/edición una subcategoría-->
		<form role="form" [formGroup]="formSubcategoria">
			<div class="ui-g form-group">
				<!-- Nombre -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Nombre</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8">
						<input type="text" pInputText formControlName="nombre" (blur)="establecerNombres()">
						<control-messages [control]="formSubcategoria.controls.nombre"></control-messages>
					</div>
				</div>

				<!-- Nombre interno -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Nombre interno</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8">
						<input type="text" pInputText formControlName="nombreInterno" (blur)="validarNombreInterno()">
						<control-messages [control]="formSubcategoria.controls.nombreInterno"></control-messages>
						<small *ngIf="nombreExiste&&formSubcategoria.get('nombreInterno').touched" i18n> El nombre interno ya existe </small>
					</div>
				</div>

				<!-- Descripción -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Descripción</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8">
						<input type="text" pInputText formControlName="descripcion">
						<control-messages [control]="formSubcategoria.controls.descripcion"></control-messages>
					</div>
				</div>

				<div class="ui-g-12 ui-md-8">
					<div class="ui-g-12 ui-md-12">
						<img class="upload-spinner cp-round" src='{{imagenAgregar}}' *ngIf="imagenAgregar" />
						<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
					</div>
					<div class="ui-g-12 ui-md-12">
						<input class="upload" id="imagenAgregar" name="imagenAgregar" type="file" (change)="subirImagen()" accept="image/*">
						<label for="imagenAgregar" i18n>Seleccione un archivo</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="cancelarAccion()"></button>
		<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="accionSubcategoria()" [disabled]="!formSubcategoria.valid && !escritura"></button>
	</p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar que desea remover un detalle-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container i18n>¿Confirma que desea eliminar este elemento?</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerCategoriaProducto()" icon="ui-icon-trash" *ngIf="escritura"></button>
	</p-footer>
</p-dialog>