<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12">
		<div class="ui-g-12 ui-md-10">
			<h3 i18n>Administración de grupos</h3>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!asignar && miembro.indEstadoMiembro == 'A'">
			<button pButton type="button" i18n-label label="Asignar Grupo" (click)="asignarGrupo()" icon="ui-icon-add"></button>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="asignar">
			<button pButton type="button" i18n-label label="Volver" (click)="asignar = false; cargandoDatos = false" icon="ui-icon-arrow-back"></button>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>

	<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="!asignar && !cargandoDatos ">
		<div class="ui-g-12 ui-md-8">
			<!--Busqueda por palabras-->
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerGruposMiembro()" (onRemove)="obtenerGruposMiembro()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
		<!--Lista de los grupos en los que el miembro forma parte-->
		<div class="ui-g-12" *ngIf="!listaVacia">
			<p-dataTable [value]="listaGrupos" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecordsGrupos" (onLazyLoad)="loadMiembroGrupo($event)">
				<p-header i18n>
					Grupos del miembro
				</p-header>
				<p-column field="nombre" i18n-header header="Nombre">
					<ng-template let-grupo="rowData" pTemplate="body">
						<span>{{grupo.nombre}}</span>
					</ng-template>
				</p-column>
				<p-column field="descripcion" i18n-header header="Descripción">
					<ng-template let-grupo="rowData" pTemplate="body">
						<span>{{grupo.descripcion}}</span>
					</ng-template>
				</p-column>
				<p-column styleClass="col-button" i18n-header header="Remover" *ngIf="miembro.indEstadoMiembro == 'A'">
					<ng-template let-grupo="rowData" pTemplate="body">
						<button style="width:auto" pButton (click)="gotoGrupo(grupo.idGrupo)" i18n-label label="Ir a Grupo" *ngIf="lecturaGrupo"></button>
						<button style="width:auto" pButton (click)="confirmar(grupo.idGrupo)" i18n-label label="Remover" *ngIf="escritura && escrituraGrupo && miembro.indEstadoMiembro == 'A'"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
		<div class="ui-g-12" *ngIf="listaVacia">
			<p i18n>Este miembro no pertence a ningún grupo.</p>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12" *ngIf="asignar && !cargandoDatos">
		<div *ngIf="escritura && escrituraGrupo">
			<div class="ui-g-12 ui-md-8">
				<!--Busqueda por palabras-->
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerGrupos()" (onRemove)="obtenerGrupos()" i18n-placeholder placeholder="Búsqueda"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<!--Grupos disponibles-->
			<div class="ui-g-12" *ngIf="!listaTotalVacia && lecturaGrupo">
				<p-dataTable [value]="listaTotal" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadMiembroNoGrupo($event)">
					<p-header i18n>
						Grupos disponibles
					</p-header>
					<p-column field="nombre" [filter]="true" filterMatchMode="contains" i18n-header header="Nombre">
						<ng-template let-grupo="rowData" pTemplate="body">
							<span>{{grupo.nombre}}</span>
						</ng-template>
					</p-column>
					<p-column field="descripcion" [filter]="true" filterMatchMode="contains" i18n-header header="Descripción">
						<ng-template let-grupo="rowData" pTemplate="body">
							<span>{{grupo.descripcion}}</span>
						</ng-template>
					</p-column>
					<p-column i18n-header header="Asociar" styleClass="col-button" *ngIf="miembro.indEstadoMiembro == 'A'  && escritura && escrituraGrupo">
						<ng-template let-grupo="rowData" pTemplate="body">
							<button type="button" class="listButton" pButton (click)="asocicarMiembroGrupo(grupo)" icon="ui-icon-add"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>
			<div class="ui-g-12" *ngIf="listaTotalVacia && lecturaGrupo">
				<p i18n>No existen grupos disponibles</p>
			</div>
		</div>
		<!--No se muestran los grupos disponibles sino cuenta con permisos-->
		<div *ngIf="!escritura || !escrituraGrupo">
			<div class="ui-g-12" style="margin-top: 25px;"></div>
			<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No cuenta con los permisos requeridos para asignar este miembro a un grupo.</label>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar que desea remover un premio-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerGrupoMiembro()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>