<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-1 ui-md-1">
					<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back"></button>
				</div>
				<div class="ui-g-12 ui-md-8">
					<h1 i18n>Nuevo miembro</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<form role="form" [formGroup]="formMiembro">
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-12">
							<h2 i18n>Datos usuario</h2>
						</div>
						<!--Avatar del cliente-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-12"></div>
							<div class="ui-g-12 ui-md-12">
								<img src='{{avatar}}' class="cp-insert cp-round" *ngIf="avatar"/>
								<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
							</div>
							<div class="ui-g-12 ui-md-12">
								<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
								<label for="avatar" i18n>Seleccione un archivo</label>
							</div>
						</div>

						<!--Nombre del cliente-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtNombre" i18n><strong>Nombre:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="30" [(ngModel)]="miembro.nombre" formControlName="nombre"
									pTooltip="Nombre del cliente" tooltipPosition="top">
							</div>
						</div>

						<!--Apellido del cliente-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtApellido" i18n><strong>1er Apellido:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtApellido" name="txtApellido" maxlength="100" [(ngModel)]="miembro.apellido" formControlName="apellido"
									pTooltip="1er Apellido del cliente" tooltipPosition="top">
							</div>
						</div>

						<!--Apellido2 del cliente-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtApellido2" i18n><strong>2do Apellido (Opcional):</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="text" pInputText id="txtApellido2" name="txtApellido2" maxlength="100" [(ngModel)]="miembro.apellido2" formControlName="apellido2"
									pTooltip="2do Apellido del cliente" tooltipPosition="top">
							</div>
						</div>

						<!--Identificacion-->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtIdentificacion" i18n><strong>Identificación:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<span class="md-inputfield">
                                    <input type="number" pInputText  id="txtIdentificacion" name="txtIdentificacion" [(ngModel)]="miembro.docIdentificacion"
                                    maxlength="100" pTooltip="Identificación" tooltipPosition="top" formControlName="identificacion">
                                </span>
							</div>
						</div>

						<!--Nombre de usuario -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtUsuario" i18n><strong>Nombre de usuario:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="email" pInputText id="txtUsuario" name="txtUsuario" maxlength="30" [(ngModel)]="miembro.nombreUsuario" formControlName="nombreUsuario" (blur)="validarExistencia('nombreUsuario')">
							</div>
						</div>

						<!--Email del cliente -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtEmail" i18n><strong>Correo:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="email" pInputText id="txtEmail" name="txtEmail" maxlength="100" [(ngModel)]="miembro.correo" formControlName="correo" (blur)="validarExistencia('correo')">
							</div>
						</div>

						<!--Contraseña -->
						<div class="ui-g-12 ui-md-12">
							<div class="ui-g-12 ui-md-4 ui-lg-3">
								<label for="txtContrasena" i18n><strong>Contraseña:</strong></label>
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7">
								<input type="password" pInputText id="txtContrasena" name="txtContrasena" maxlength="50" [(ngModel)]="miembro.contrasena"
									formControlName="contrasena" pTooltip="Contraseña del cliente" tooltipPosition="top">
							</div>
						</div>

						<div class="ui-g-12 ui-md-6">
							<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
						</div>
						<!--Botones-->
						<!--Botón para cancelar la inserción-->
						<div class="ui-g-12 ui-md-2">
							<button pButton type="button" i18n-label label="Cancelar" class="red-btn flat" (click)="goBack()" icon="ui-icon-close"></button>
						</div>
						<div class="ui-g-12 ui-md-2" *ngIf="escritura">
							<!--Se activa hasta que el formMiembro sea valido" -->
							<button pButton type="button" i18n-label label="Guardar" class="green-btn flat" icon="ui-icon-save" [disabled]="!formMiembro.valid" (click)="insertarMiembro()"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
