<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-7">
			<h3 i18n>Atributos dinámicos</h3>
		</div>

		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
			<!--Lista de los atributos dinámicos, a los cuales se les puede cambiar el valor-->
			<div *ngIf="!atributoVacia && !cargandoDatos">
				<p-dataTable [value]="listaAtributosMiembro" [paginator]="true" [rows]="20" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Lista de Atributos
					</p-header>
					<p-column field="nombre" i18n-header header="Nombre"></p-column>
					<p-column field="valorAtributoMiembro" i18n-header header="Valor" [style]="{'overflow':'visible'}">
						<ng-template let-col let-atributo="rowData" pTemplate="body">
							<div *ngIf="atributo.valorAtributoMiembro != null && atributo.indTipoDato != 'F'">
								{{atributo[col.field] }}
							</div>
							<div *ngIf="atributo.valorAtributoMiembro == null && atributo.indTipoDato != 'F'">
								{{atributo.valorDefecto}}
							</div>
							<div *ngIf="atributo.valorAtributoMiembro != null && atributo.indTipoDato == 'F'">
								{{atributo[col.field] | date}}
							</div>
							<div *ngIf="atributo.valorAtributoMiembro == null && atributo.indTipoDato == 'F'">
								{{atributo.valorDefecto | date}}
							</div>
						</ng-template>
					</p-column>
					<p-column styleClass="col-button" i18n-header header="Acción" *ngIf="miembro.indEstadoMiembro == 'A'" [style]="{'text-align':'center', 'width':'300px'}">
						<ng-template let-atributo="rowData" pTemplate="body">
							<button pButton style="width:auto" (click)="gotoAtributo(atributo.idAtributo)" i18n-label label="Ir a Atributo" *ngIf="lecturaAtributo"></button>
							<button pButton style="width:auto" (click)="atributoSeleccionado(atributo)" i18n-label label="Editar" *ngIf="escritura && escrituraAtributo && miembro.indEstadoMiembro == 'A'"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>

			<!--Si no existen atributos se desplega el mensaje-->
			<div *ngIf="atributoVacia">
				<span i18n>No existen atributos dinámicos</span>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de dialog para editar un nivel-->
<p-dialog i18n-header header="Asignar valor" [(visible)]="asignar" [responsive]="true" showEffect="fade" [modal]="true" [resizable]="true"
	width="600" height="auto">
	<div class="ui-g-12 ui-md-12">
		<form role="form" #formValor="ngForm">
			<div class="ui-g form-group">
				<!--Nombre del atributo-->
				<div class="ui-g-12 ui-md-12">
					<h3 i18n>Atributo <strong>{{atributo.nombre}}</strong></h3>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-3">
						<label i18n><strong>Valor:</strong></label>
					</div>
					<!--Tipo numerico-->
					<div class="ui-g-12 ui-md-9" *ngIf="atributo.indTipoDato == 'N'">
						<input type="number" pInputText id="txtNumerico" name="txtNumerico" [(ngModel)]="numero">
					</div>
					<!--Tipo texto-->
					<div class="ui-g-12 ui-md-9" *ngIf="atributo.indTipoDato == 'T'">
						<input type="text" pInputText id="txtValor" name="txtValor" [(ngModel)]="texto">
					</div>
					<!--Tipo booleano-->
					<div class="ui-g-12 ui-md-9" *ngIf="atributo.indTipoDato == 'B'">
						<p-dropdown [options]="boolItem" id="ddboolItem" name="ddboolItem" [(ngModel)]="texto" [autoWidth]="false" required="true"></p-dropdown>
					</div>
					<!--Tipo fecha-->
					<div class="ui-g-12 ui-md-9" *ngIf="atributo.indTipoDato == 'F'">
						<p-calendar id="txtFecDefecto" name="txtFecDefecto" [showIcon]="true" showAnim="slideDown" [(ngModel)]="fecha" dateFormat="dd/mm/yy"
							[readonlyInput]="true"></p-calendar>
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton i18n-label label="Cancelar" icon="ui-icon-close" (click)="asignar=false"></button>
		<button pButton i18n-label label="Guardar" icon="ui-icon-save" (click)="asignacion()" *ngIf="escritura && escrituraAtributo"></button>
	</p-footer>	
</p-dialog>