<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
        <div class="ui-g ">
            <form [formGroup]="formCompra">
                <div class="ui-g ui-fluid ">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2">
                            <label i18n># Transacción</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input pInputText [(ngModel)]="request.idCompra" name="idCompra" type="text" formControlName="idCompra">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <seleccion-ubicaciones [(ngModel)]="request.ubicacion" name="idLocation" formControlName="ubicacion"> </seleccion-ubicaciones>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2">
                            <label i18n>Fecha</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-calendar name="date" showAnim="slideDown" pTooltip="Fecha por defecto" tooltipPosition="top" [(ngModel)]="request.fecha"
                                dateFormat="dd/mm/yy" formControlName="fecha"></p-calendar>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2">
                            <label i18n>Subtotal</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input pInputText [(ngModel)]="request.subtotal" name="subtotal" type="number" (blur)="calculoTotal()" formControlName="subtotal">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2">
                            <label i18n>Impuesto</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input pInputText [(ngModel)]="request.impuesto" name="taxes" type="number" (blur)="calculoTotal()" formControlName="impuesto">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2">
                            <label i18n>Total</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input pInputText disabled [(ngModel)]="request.total" name="total" type="number" formControlName="total">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="!metricaVacia">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <ng-container i18n><strong>Métrica:</strong></ng-container>
                            </div>
                            <div class="ui-grid-col-7" style="padding-right: 10px;">
                                <input type="text" pInputText [(ngModel)]="nombreMetrica" style="width:100%" readonly formControlName="metrica"/>
                            </div>
                            <div class="ui-grid-col-3" style="padding-left: 7px; padding-right: 7px;">
                                <button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true; busquedaMetricas()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2">
                            <label i18n>Porcentaje</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input pInputText [(ngModel)]="request.cantMetrica" name="taxes" type="number" (blur)="calculoTotal()" formControlName="impuesto">
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-10"></div>
                        <div class="ui-g-12 ui-md-2">
                            <button i18n-label label="Registrar Compra" pButton (click)="registrarCompra()" [disabled]="!formCompra.valid" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only"> <!--style="margin-bottom:10px;width:auto"-->
                                            <span class="ui-button-text ui-c" i18n>Registrar Compra</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <p-messages [value]="msgsSuccess"></p-messages>
        <p-messages [value]="msgsError"></p-messages>
    </div>
</div>

<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="metricaBusqueda" (onAdd)="busquedaMetricas()" (onRemove)="busquedaMetricas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetricas" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>