<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12"></div>
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-7">
			<h3 i18n>Referals</h3>
		</div>

		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
			<!--Lista de los atributos dinámicos, a los cuales se les puede cambiar el valor por defecto [editable]="true"-->
			<div *ngIf="!cargandoDatos">
				<p-dataTable [value]="listaReferidos" [paginator]="true" [rows]="15" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Miembros Referidos
					</p-header>
					<p-column i18n-header header="Miembro">
                        <ng-template let-referido="rowData" pTemplate="body">
                            <ng-container>{{referido.nombre}} {{referido.apellido}} {{referido.apellido2}}</ng-container>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header header="Correo">
                        <ng-template let-referido="rowData" pTemplate="body">
                            <ng-container>{{referido.correo}}</ng-container>
                        </ng-template>
                    </p-column>
					<p-column styleClass="col-button" i18n-header header="Detalle" [style]="{'width': '135px'}">
						<ng-template let-referido="rowData" pTemplate="body">
							<button type="button" pButton (click)="detalle(referido.idMiembro)" icon="ui-icon-arrow-forward"  style="margin:14px 35px 0 0;float:right"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</div>

			<!--Si no existen atributos se desplega el mensaje
			<div *ngIf="listaVacia">
				<span i18n>No existen miembros  dinámicos</span>
			</div>-->
		</div>
	</div>
</div>