<div class="ui-g ui-fluid">
	<div class=" ui-g-12 ui-md-12">
		<div class="ui-g-12 ui-md-10">
			<h3 i18n>Insignias del miembro</h3>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!asignar && escrituraInsignia && escritura && miembro.indEstadoMiembro == 'A'">
			<button pButton type="button" i18n-label label="Asignar Badge" (click)="asignarInsignia()" icon="ui-icon-add"></button>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="asignar">
			<button pButton type="button" i18n-label label="Volver" (click)="asignar = false; cargandoDatos = false; listaBusqueda = [];" icon="ui-icon-arrow-back"></button>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>

	<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="!asignar && !cargandoDatos">
		<div class="ui-g-12 ui-md-8">
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerInsigniasMiembro()" (onRemove)="obtenerInsigniasMiembro()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="!listaVacia">
			<!--Lista con las insignias del miembro-->
			<p-dataList [value]="listaInsigniasMiembro" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadInsigniasMiembro($event)">
				<p-header i18n>
					Lista de Insignias
				</p-header>
				<ng-template let-insignia pTemplate="item">
					<div class="clearfix listBorder">
						<button pButton style="width: 200px;" (click)="gotoInsignia(insignia.idInsignia)" class="listButton" i18n-label label="Insignia" *ngIf="lecturaInsignia"></button>
						<button pButton style="width: 200px;" (click)="confirmar(insignia.idInsignia)" class="listButton" i18n-label label="Remover" *ngIf="escritura && escrituraInsignia && miembro.indEstadoMiembro == 'A'"></button>
						<!--Se muestra la imagen de la categoría-->
						<div class="ui-g-10 ui-md-3 ui-lg-3">
							<img class="cp-list cp-round" src="{{insignia.imagen}}">
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
							<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
								<h3>{{insignia.nombreInsignia}}</h3>
							</div>
							<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
								<div class="ui-g-4 ui-md-4 element-list">
									<p i18n><strong>Descripción:</strong></p>
								</div>
								<div class="ui-g-7 ui-md-7 element-list">
									<p>{{insignia.descripcion}}</p>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataList>
		</div>
		<div class="ui-g-12" *ngIf="listaVacia && lecturaInsignia">
			<p i18n>No hay insignias disponibles.</p>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="asignar && !cargandoDatos">
		<div *ngIf="escritura && escrituraInsignia">
		<div class="ui-g-12 ui-md-8">
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerInsigniasNoAsignadas()" (onRemove)="obtenerInsigniasNoAsignadas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
		<!--Lista con las insignias disponibles-->
		<div class="ui-g-12 ui-md-12" *ngIf="!listaTotalVacia && lecturaInsignia">
			<p-dataList [value]="listaNoAsignada" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecordsInsignia" (onLazyLoad)="loadInsigniasNoMiembro($event)">
				<p-header i18n>
					Lista de Insignias
				</p-header>
				<ng-template let-insignia pTemplate="item">
					<div class="clearfix listBorder">
						<button type="button" pButton (click)="agregarMiembroInsignia(insignia)" icon="ui-icon-add" class="listButton" *ngIf="escritura && escrituraInsignia && miembro.indEstadoMiembro == 'A'"></button>
						<!--Se muestra la imagen de la categoría-->
						<div class="ui-g-10 ui-md-3 ui-lg-3">
							<img class="cp-list cp-round" src="{{insignia.imagen}}">
						</div>
						<div class="ui-g-12 ui-md-7 ui-lg-7 ui-g-nopad">
							<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
								<h3>{{insignia.nombreInsignia}}</h3>
							</div>
							<div class="ui-g-12 ui-md-12 ui-lg-12" id="margin-list">
								<div class="ui-g-4 ui-md-4 element-list">
									<p i18n><strong>Descripción:</strong></p>
								</div>
								<div class="ui-g-7 ui-md-7 element-list">
									<p>{{insignia.descripcion}}</p>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataList>
		</div>
		<div class="ui-g-12" *ngIf="listaTotalVacia">
			<p i18n>No hay insignias disponibles.</p>
		</div>
		</div>
		<!--en caso de no tener los permisos-->
		<div *ngIf="!escritura || !escrituraInsignia">
			<div class="ui-g-12" style="margin-top: 25px;"></div>
			<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
				<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
					<i class="material-icons">information</i>
				</div>
				<div class="ui-g-8 ui-md-7 ui-lg-7">
					<label i18n>No cuenta con los permisos requeridos para asignar insignias.</label>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de dialog para asociar un cliente con un nivel de insignia-->
<p-dialog i18n-header header="Niveles de insignia" [(visible)]="verNiveles" [responsive]="true" showEffect="fade" [modal]="true" responsive="true">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoNivel">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>
		<div class="ui-g form-group" *ngIf="!cargandoNivel">
			<h3 i18n>Seleccione el nivel que desea asociar al cliente</h3>
			<div class="ui-g-12 ui-md-12" *ngIf="!listaNivelVacia">
				<p-dataList [value]="listaNiveles" [paginator]="true" [rows]="10">
					<ng-template let-nivel pTemplate="item">
						<div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
							<div class="ui-g-1 ui-md-1"></div>
							<div class="ui-g-2">
								<img width="50" height="50" style="border: 4px solid #bdbdbd" src="{{nivel.imagen}}">
							</div>
							<div class="ui-g-3 ui-md-3">
								<p i18n><strong>Nombre:&nbsp; &nbsp;</strong></p><p><{{nivel.nombreNivel}}</p>
							</div>
							<div class="ui-g-3 ui-md-3">
								<p i18n><strong>Descripción:&nbsp; &nbsp;</strong></p><p>{{nivel.descripcion}}</p>
							</div>
							<!--Botón que permite ir al detalle de la insignia-->
							<button type="button" (click)="asociarNivelMiembro(nivel.idNivel)" pButton icon="ui-icon-add" style="margin:14px 24px 0 0;float:right"></button>
						</div>
					</ng-template>
				</p-dataList>
			</div>
			<div class="ui-g-12 ui-md-12" *ngIf="listaNivelVacia">
				<span i18n>Esta insignia no tiene niveles disponibles.</span>
			</div>
		</div>
	</div>
	<p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" i18n-label label="Cerrar" (click)="verNiveles=false" icon="ui-icon-close"></button>
        </div>
    </p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
        <button pButton type="button" i18n-label label="Remover" (click)="removerInsignia()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>