<div class="ui-fluid">
	<div class="ui-g-12">
		<div class="card">
			<div class="ui-g ui-fluid">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-md-9">
						<div class="ui-g-12 ui-md-1">
							<button pButton type="button" (click)="goBack()" icon="ui-icon-arrow-back" style="margin-top: 11px;"></button>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div class="ui-g-12">
								<div class="heading-detalle">{{miembro.nombre}} {{miembro.apellido}}</div>
							</div>
							<div class="ui-g-12">
								<div class="sub-heading-detalle">
									<ng-container i18n>Miembro</ng-container>
								</div>
							</div>
						</div>
					</div>
					<div class="ui-g-12 ui-md-3">
						<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
							<div class="ui-g-5 ui-md-5"></div>
							<div class="ui-g-2 ui-md-2">
								<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
							</div>
						</div>

						<!--Widget para mostrar el estado del miembro -->
						<div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="!cargandoDatos">
							<div class="ui-g card cbx" [ngClass]="{'cbx-1': activo, 'cbx-3': inactivo}" (click)="op2.toggle($event)">
								<div class="ui-g-4"><i class="material-icons">edit</i></div>
								<div class="ui-g-8">
									<span class="name" i18n>Estado:</span>
									<span class="count">{{miembro.indEstadoMiembro | cambioEstado}}</span>
								</div>
							</div>
						</div>
						<p-overlayPanel #op2>
							<div class="ui-g-12 ui-md-12" style="width:260px">
								<div style="margin:10px 5px 10px 10px">
									<div *ngIf="miembro.indEstadoMiembro == 'A' && escritura" class="ui-g-12 ui-md-12">
										<h3 class="input-spacing" i18n><strong>Miembro activo</strong></h3>
										<p i18n>Puede modificar la información y utilizarlo en el resto de los módulos del sistema.</p>
										<button pButton class="red-btn" i18n-label label="Suspender" icon="ui-icon-close" (click)="suspender=true; op2.hide()"></button>
									</div>
									<div *ngIf="miembro.indEstadoMiembro == 'I' && escritura" class="ui-g-12 ui-md-12">
										<h3 class="input-spacing" i18n><strong>Miembro suspendido</strong></h3>
										<p i18n>No puede realizar cambios en la información o utilizarlo en el resto de los módulos del sistema.</p>
										<button pButton class="green-btn" i18n-label label="Activar" icon="ui-icon-check" (click)="activar(); op2.hide()"></button>
									</div>
									<div *ngIf="!escritura" class="ui-g-12 ui-md-12">
										<ng-container i18n><strong>No cuenta con permisos de escritura sobre miembros.</strong></ng-container>
									</div>
								</div>
							</div>
						</p-overlayPanel>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="ui-g ui-fluid">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<div class="ui-g-12 ui-lg-5">
						<p-fieldset i18n-legend legend="Datos">
							<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
								<div class="ui-g-12 ui-md-4">
									<img class="upload-spinner cp-round" src="{{miembro.avatar}}" alt="">
								</div>
								<div class="ui-g-12 ui-md-8 ui-g-nopad">
									<div class="ui-grid-col-12">
										<ul class="ultima-menu animated fadeInDown">
											<li role="menuitem" >
												<a><i class="material-icons">person</i> <span i18n><strong>Usuario: </strong></span>&nbsp;&nbsp;{{miembro.nombreUsuario}}</a>
											</li>
											<li role="menuitem" >
												<a><i class="material-icons">email</i> <span i18n><strong>Correo: </strong></span>&nbsp;&nbsp;{{miembro.correo}}</a>
											</li>
											<li role="menuitem">
												<a><i class="material-icons">date_range</i> <span i18n><strong>Cliente desde: </strong></span>&nbsp;&nbsp;{{miembro.fechaIngreso | date}}</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</p-fieldset>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p-fieldset i18n-legend legend="Métrica">
							<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<ul class="ultima-menu animated fadeInDown">
											<li role="menuitem">
												<a><i class="material-icons">star</i> <span i18n><strong>Métrica disponible: </strong></span>&nbsp;&nbsp;{{balance.disponible}}</a>
											</li>
											<li role="menuitem">
												<a><i class="material-icons">star</i> <span i18n><strong>Métrica redimida: </strong></span>&nbsp;&nbsp;{{balance.redimido}}</a>
											</li>
											<li role="menuitem">
												<a><i class="material-icons">star</i> <span i18n><strong>Métrica vencida: </strong></span>&nbsp;&nbsp;{{balance.vencido}}</a>
											</li>
											<li role="menuitem">
												<a><i class="material-icons">star</i> <span i18n><strong>Métrica total acumulado: </strong></span>&nbsp;&nbsp;{{balance.totalAcumulado}}</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</p-fieldset>
					</div>
					<div class="ui-g-12 ui-lg-3" style="float:right !important;">
						<p-fieldset i18n-legend legend="Suscripciones">
							<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
								<div class="ui-grid-row">
									<div class="ui-grid-col-12">
										<ul class="ultima-menu animated fadeInDown">
											<li role="menuitem" *ngIf="vacio">
												<a> <i class="material-icons">bug_report</i> <span i18n>No disponibles</span></a>
											</li>
											<li role="menuitem" *ngIf="miembro.indContactoEmail">
												<a> <i class="material-icons">email</i> <span i18n>Email</span></a>
											</li>
											<li role="menuitem" *ngIf="miembro.indContactoEstado">
												<a> <i class="material-icons">computer</i> <span i18n>Estado electrónico</span></a>
											</li>
											<li role="menuitem" *ngIf="miembro.indContactoNotificacion">
												<a> <i class="material-icons">notifications</i> <span i18n>Notificaciones Push</span></a>
											</li>
											<li role="menuitem" *ngIf="miembro.indContactoSms">
												<a> <i class="material-icons">message</i> <span i18n>SMS</span></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</p-fieldset>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-toolbar">
			<div class="ui-toolbar-group">
				<div class="ui-g">
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-reorder" i18n-label label="Perfil" [routerLink]="perfil" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-brush" i18n-label label="Niveles" [routerLink]="nivel" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-group" i18n-label label="Grupos" [routerLink]="grupo" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-create" i18n-label label="Atributos dinámicos" [routerLink]="atributo" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-poll" i18n-label label="Insignias" [routerLink]="insignia" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Preferencias" [routerLink]="preferencia" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Segmentos" [routerLink]="segmento" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Misiones" [routerLink]="misiones" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Premios" [routerLink]="premios" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Métrica" [routerLinkActive]="['ruta-activada']"  [routerLink]="metrica" >
						</button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Promociones" [routerLink]="promociones" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Notificaciones" [routerLink]="notificaciones" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Registrar Compra" routerLink="compras" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Referidos" routerLink="referals" [routerLinkActive]="['ruta-activada']"></button>
					</div>
					<div class="ui-g-4 ui-md-2 ui-lg-2">
						<button pButton type="button" icon="ui-icon-assignment" i18n-label label="Transacciones" routerLink="transacciones" [routerLinkActive]="['ruta-activada']"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-w-title">
			<!--Se despliega el componente seleccionado-->
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!--Cuadro de dialog para realizar la suspención del cliente-->
<p-dialog i18n-header header="Suspender Miembro" [(visible)]="suspender" [responsive]="true" showEffect="fade" [modal]="true"
 width="400" height="277">
	<form role="form" #formSuspencion="ngForm">
		<div class="ui-g form-group">
			<div class="ui-g-12 ui-md-12">
				<label i18n><strong>Causa de suspención: </strong></label>
			</div>
			<div class="ui-g-12 ui-md-12">
				<textarea pInputTextarea rows="2" cols="40" id="txtSuspension" required name="txtSuspension" [(ngModel)]="miembro.causaSuspension"
				 maxlength="200" #nombre="ngModel" required></textarea>
			</div>
		</div>
	</form>
	<p-footer>
		<button pButton i18n-label label="Cancelar" icon="ui-icon-close" (click)="suspender=false"></button>
		<button pButton (click)="confirmar = true; suspender = false;" icon="ui-icon-archive" i18n-label label="Suspender" [disabled]="!formSuspencion.form.valid"></button>		
	</p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="confirmar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12"> <ng-container>{{pregunta}}</ng-container></div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="confirmar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Suspender" (click)="suspenderMiembro()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>
