<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-grid-col-1">
					<button pButton type="button" icon="ui-icon-arrow-back" (click)="goBack()" style="margin-top: 34px;"></button>
				</div>
				<div class="ui-grid-col-2">
					<img class="cp-perfil cp-round" src='{{avatar}}' />
				</div>
				<div class="ui-g-12 ui-md-7"  style="margin: 20px 0px 0 0px;">
					<div class="heading-detalle">
						{{miembro.nombre}} {{miembro.apellido}}
					</div>

					<div class="sub-heading-detalle">
						<ng-container>{{miembro.nombreUsuario}}</ng-container>
						<ng-container i18n>Miembro</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui-g-12 ui-lg-12">
		<div class="card card-w-title">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12">
					<h1 i18n>Perfil del Miembro</h1>
				</div>
				<div class="ui-g-12 ui-md-12">
					<p-tabView>
						<p-tabPanel i18n-header header="Información personal">
							<form role="form" [formGroup]="formMiembro">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g form-group">
											<div class="ui-g-12 ui-md-12"></div>

											<!--Nombre del cliente-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3 ui-lg-3"> <label for="txtNombre" i18n><strong>Nombre:</strong></label> </div>
												<div class="ui-g-12 ui-md-8 ui-lg-6">
													<input type="text" pInputText id="txtNombre" name="txtNombre" maxlength="30" [(ngModel)]="miembro.nombre" formControlName="nombre"
														pTooltip="Nombre del cliente" tooltipPosition="top">
												</div>
											</div>

											<!--1er Apellido del cliente -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3 ui-lg-3"> <label for="txtApellido" i18n><strong>1er Apellido:</strong></label> </div>
												<div class="ui-g-12 ui-md-8 ui-lg-6">
													<input type="text" pInputText id="txtApellido" name="txtApellido" maxlength="50" [(ngModel)]="miembro.apellido" formControlName="apellido"
														pTooltip="1er Apellido del cliente" tooltipPosition="top">
												</div>
											</div>

											<!--2do Apellido del cliente -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3 ui-lg-3">
													<label for="txtApellido2" i18n><strong>2do Apellido: (Opcional)</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ui-lg-6">
													<input type="text" pInputText id="txtApellido2" name="txtApellido2" maxlength="50" [(ngModel)]="miembro.apellido2" formControlName="apellido2"
														pTooltip="2do Apellido del cliente" tooltipPosition="top">
												</div>
											</div>

											<!-- Identificacion -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3 ui-lg-3">
													<label for="txtIngreso" i18n><strong>Identificación:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ui-lg-6">
													<input type="text" pInputText id="txtIngreso" name="txtIngreso" [(ngModel)]="miembro.docIdentificacion" maxlength="100" pTooltip="Identificación"
														tooltipPosition="top" formControlName="identificacion">
												</div>
											</div>

											<!--Nombre de usuario -->
											<!--<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-4 ui-lg-3">
													<label for="txtUsuario" i18n><strong>Nombre de usuario:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ui-lg-7">
													<input type="text" pInputText id="txtUsuario" name="txtUsuario" maxlength="30" disabled="true" formControlName="nombreUsuario" [(ngModel)]="miembro.nombreUsuario">
												</div>
											</div>-->

											<!--Email del cliente  -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3 ui-lg-3">
													<label for="txtEmail" i18n><strong>Correo:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ui-lg-6">
													<input type="email" pInputText id="txtEmail" name="txtEmail" maxlength="100" [(ngModel)]="miembro.correo" formControlName="correo"
														(blur)="validarExistencia()">
												</div>
											</div>

											<!--Password-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3 ui-lg-3">
													<label for="txtEmail" i18n><strong>Password:</strong></label>
												</div>
												<div class="ui-g-10 ui-md-8 ui-lg-6">
													<input type="password" pInputText id="txtPassword" name="txtPassword" maxlength="100" [(ngModel)]="miembro.contrasena" formControlName="contrasena"
														pTooltip="Password del cliente" tooltipPosition="top">
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>

						</p-tabPanel>
						<p-tabPanel i18n-header header="Información Adicional" leftIcon="fa-print">
							<form role="form">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g form-group">
											<div class="ui-g-12 ui-md-12"></div>
											<!-- Fecha de nacimiento -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtFecNacimiento" i18n><strong>Fecha de Nacimiento:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-calendar id="txtFecNacimiento" name="txtFecNacimiento" showAnim="slideDown" [yearNavigator]="true" [yearRange]="rango" styleClass=""
														placeholder="dd/mm/yy" [(ngModel)]="fecNac" dateFormat="dd/mm/yy" [readonlyInput]="true" (onSelect)="miembro.fechaNacimiento= fecNac"></p-calendar>
												</div>
											</div>

											<!--Número de movil-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtTelefono" i18n><strong>Teléfono móvil:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-inputMask mask="9999-9999" placeholder="9999-9999" [(ngModel)]="miembro.telefonoMovil" id="txtTelefono" name="txtTelefono"
														pTooltip="Télefono móvil" tooltipPosition="top"></p-inputMask>
												</div>
											</div>

											<!--Genero-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="indGenero" i18n><strong>Género:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-dropdown [options]="generoItems" id="indGenero" name="indGenero" [(ngModel)]="miembro.indGenero" autoWidth pTooltip="Genero"
														tooltipPosition="top"></p-dropdown>
												</div>
											</div>

											<!--Estado civil-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="indEstadoCivil" i18n><strong>Estado Civil:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-dropdown [options]="estadoCivilItems" id="indEstadoCivil" name="indEstadoCivil" [(ngModel)]="miembro.indEstadoCivil" autoWidth
														pTooltip="Estado Civil" tooltipPosition="top"></p-dropdown>
												</div>
											</div>

											<!--Grado de educacion-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtEducacion" i18n><strong>Grado de educación:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-dropdown [options]="educacionItems" id="txtEducacion" name="txtEducacion" [(ngModel)]="miembro.indEducacion" autoWidth
														pTooltip="Grado de educación" tooltipPosition="top"></p-dropdown>
												</div>
											</div>

											<!--Hijos [True/False]-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-4 ui-md-4">
													<label i18n><strong>¿Tiene hijos?</strong></label>
												</div>
												<div class="ui-g-4 ui-md-4">
													<p-radioButton name="indHijos" [value]="true" i18n-label label="Si" [(ngModel)]="miembro.indHijos"></p-radioButton>
												</div>
												<div class="ui-g-4 ui-md-4">
													<p-radioButton name="indHijos" [value]="false" i18n-label label="No" [(ngModel)]="miembro.indHijos"></p-radioButton>
												</div>
											</div>

											<!--Ingreso Económico-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtIngreso" i18n><strong>Ingreso Económico:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-spinner size="30" id="txtIngreso" name="txtIngreso" [min]="0" [(ngModel)]="miembro.ingresoEconomico" pTooltip="Ingreso Económico"
														tooltipPosition="top"></p-spinner>
												</div>
											</div>

											<!--Frecuencia de compra-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtVencimiento" i18n><strong>Frecuencia de compra al mes:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-spinner size="30" id="txtCompras" name="txtCompras" [min]="0" [(ngModel)]="miembro.frecuenciaCompra" pTooltip="Frecuancia de compra al mes"
														tooltipPosition="top"></p-spinner>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</p-tabPanel>

						<p-tabPanel i18n-header header="Dirección" leftIcon="fa-print">
							<form role="form">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g form-group">
											<div class="ui-g-12 ui-md-12"></div>
											<!-- Código postal -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtCodPostal" i18n><strong>Código Postal:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<input type="text" pInputText id="txtCodPostal" name="txtCodPostal" [(ngModel)]="miembro.codigoPostal" maxlength="10" pTooltip="Código Postal"
														tooltipPosition="top">
												</div>
											</div>

											<!-- Pais de residencia -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtPais" i18n><strong>País de residencia:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-dropdown [options]="paisItems" id="txtPais" name="txtPais" [(ngModel)]="miembro.paisResidencia" autoWidth pTooltip="País de residencia"
														tooltipPosition="top"></p-dropdown>
												</div>
											</div>

											<!-- Estado de residencia -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtEstadoResi" i18n><strong>Estado Residencia:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<input type="text" pInputText id="txtEstadoResi" name="txtEstadoResi" [(ngModel)]="miembro.estadoResidencia" maxlength="100"
														pTooltip="Estado de residencia" tooltipPosition="top">
												</div>
											</div>

											<!-- Ciudad de residencia -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtCiudad" i18n><strong>Ciudad Residencia:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<input type="text" pInputText id="txtCiudad" name="txtCiudad" [(ngModel)]="miembro.ciudadResidencia" maxlength="100" pTooltip="Ciudad de residencia"
														tooltipPosition="top">
												</div>
											</div>

											<!-- Dirección de residencia -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtIngreso" i18n><strong>Dirección de residencia:</strong></label>
												</div>
												<span class="md-inputfield">
													<textarea pInputTextarea rows="4" cols="10" type="text" id="txtDireccion" name="txtDireccion" [(ngModel)]="miembro.direccion"
													maxlength="200" pTooltip="Dirección de residencia" tooltipPosition="top"></textarea>
												</span>
											</div>
										</div>
									</div>
								</div>
							</form>
						</p-tabPanel>
						<p-tabPanel i18n-header header="Datos de programa" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">
							<form role="form">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g form-group">
											<div class="ui-g-12 ui-md-12"></div>
											<!-- Recepcion de ofertas style="border: 1px solid #bdbdbd"-->
											<div class="ui-g-12 ui-md-11">
												<p-fieldset legend="Suscripción a ofertas">
													<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
														<div class="ui-grid-col-3">
															<p-checkbox binary="true" name="email" i18n-label label="Email" [(ngModel)]="miembro.indContactoEmail"></p-checkbox>
														</div>
														<div class="ui-grid-col-3">
															<p-checkbox binary="true" name="sms" i18n-label label="SMS" [(ngModel)]="miembro.indContactoSms"></p-checkbox>
														</div>
														<div class="ui-grid-col-3">
															<p-checkbox binary="true" name="notificacion" i18n-label label="Notificación" [(ngModel)]="miembro.indContactoNotificacion"></p-checkbox>
														</div>
														<div class="ui-grid-col-3">
															<p-checkbox binary="true" name="contactoEstado" i18n-label label="Estado electrónico" [(ngModel)]="miembro.indContactoEstado"></p-checkbox>
														</div>
													</div>
												</p-fieldset>
											</div>
											<div class="ui-g-12 ui-md-12"></div>

											<!-- Indicador de miembro del sistema-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-4 ui-md-3">
													<label i18n><strong>Indicador de miembro del sistema</strong></label>
												</div>
												<div class="ui-g-4 ui-md-4">
													<p-radioButton name="indMiembroSistema" [value]="true" i18n-label label="Si" [(ngModel)]="miembro.indMiembroSistema"></p-radioButton>
												</div>
												<div class="ui-g-4 ui-md-4">
													<p-radioButton name="indMiembroSistema" [value]="false" i18n-label label="No" [(ngModel)]="miembro.indMiembroSistema"></p-radioButton>
												</div>
											</div>
											<!-- Fecha de expiracion [minDate]="1m"  [yearNavigator]="true" dateFormat="yy-mm-dd"-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label i18n><strong>Fecha de exipiración del usuario:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-calendar id="txtFecExpira" name="txtFecExpira" [(ngModel)]="fecExpira" showAnim="slideDown" [readonlyInput]="true" pTooltip="Fecha de expiración"
														tooltipPosition="top" placeholder="dd/mm/yy" (onSelect)="miembro.fechaExpiracion=fecExpira"></p-calendar>
												</div>
											</div>

											<!--Fecha de suspencion -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label i18n><strong>Fecha de suspención del usuario:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<p-calendar id="txtFecSuspencion" name="txtFecSuspencion" [(ngModel)]="fecSuspencion" showAnim="slideDown" [readonlyInput]="true"
														pTooltip="Fecha de suspención" tooltipPosition="top" placeholder="dd/mm/yy" (onSelect)="miembro.fechaSuspension = fecSuspencion"></p-calendar>
												</div>
											</div>

											<!-- Causa de suspencion -->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtIngreso" i18n><strong>Causa de suspención:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<textarea pInputTextarea rows="4" cols="10" type="text" id="txtCausa" name="txtCausa" [(ngModel)]="miembro.causaSuspension"
													maxlength="200" pTooltip="Causa de suspension" tooltipPosition="top"></textarea>
												</div>
											</div>

											<!-- Comentario-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-3">
													<label for="txtIngreso" i18n><strong>Comentario:</strong></label>
												</div>
												<div class="ui-g-12 ui-md-8 ">
													<textarea pInputTextarea rows="4" cols="10" type="text" id="txtComentario" name="txtComentario" [(ngModel)]="miembro.comentarios"
													maxlength="200" pTooltip="Comentario" tooltipPosition="top"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</p-tabPanel>
						<p-tabPanel i18n-header header="Avatar" leftIcon="fa-print">
							<form role="form">
								<div class="ui-g">
									<div class="ui-g-12 ui-md-12">
										<div class="ui-g form-group">
											<div class="ui-g-12 ui-md-12"></div>
											<!--Avatar para el grupo-->
											<div class="ui-g-12 ui-md-12">
												<div class="ui-g-12 ui-md-12">
													<div class="ui-g-12 ui-md-12">
														<img class="cp-insert cp-round" src='{{avatar}}' alt="" weight="140" height="140"/>
														<p class="infoSmall" i18n><small>Extenciones permitidas: *.jpg, *.jpeg, *.png</small></p>
													</div>
												</div>
												<div class="ui-g-12 ui-md-12">
													<input class="upload" id="avatar" name="avatar" type="file" (change)="subirImagen()" accept="image/jpg,image/jpeg,image/png">
													<label for="avatar" i18n>Seleccione un archivo</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</p-tabPanel>
					</p-tabView>
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-8">
						<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
					</div>
					<!--Botón para Cancelar-->
					<div class="ui-g-12 ui-md-2">
						<button pButton type="button" i18n-label label="Cancelar" class="red-btn" (click)="goBack()" icon="ui-icon-close"></button>
					</div>

					<!--Se activa hasta que el formMiembro sea valido-->
					<div class="ui-g-12 ui-md-2" *ngIf="miembro.indEstadoMiembro == 'A' && escritura">
						<button pButton type="button" i18n-label label="Guardar" icon="ui-icon" class="green-btn flat" icon="ui-icon-save" [disabled]="!formMiembro.valid"
							(click)="confirmar = true"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="confirmar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea actualizar los datos de este miembro?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="confirmar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Actualizar" (click)="actualizarMiembro()" icon="ui-icon-check"></button>
    </p-footer>
</p-dialog>
