<div class="ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <div class="heading-detalle">
                        <ng-container i18n>Importación</ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-toolbar">
            <!--Se muestran las diferentes opciones en la barra-->
            <div class="ui-toolbar-group">
                <div class="ui-g">
                    <div class="ui-g-4 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-reorder" i18n-label label="Miembros" (click)="miembro = true; atributo = false; ayuda = false; cambioArchivo()"
                            [ngClass]="{'ruta-activada': miembro}"></button>
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-brush" i18n-label label="Atributos dinámicos" (click)="atributo = true; miembro = false; ayuda = false; busquedaAtributos(); cambioArchivo()"
                            [ngClass]="{'ruta-activada': atributo}"></button>
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-lg-2">
                        <button pButton type="button" icon="ui-icon-help" i18n-label label="Ayuda" (click)="ayuda = true; atributo = false; miembro = false;"
                            [ngClass]="{'ruta-activada': ayuda}"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12" *ngIf="miembro">
                    <div class="ui-g-12 ui-md-10">
                        <h3 i18n>Importación de miembros</h3>
                    </div>
                    <div class="ui-g" *ngIf="!escrituraMiembro">
                        <div class="ui-g-12" style="margin-top: 25px;"></div>
                        <div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
                            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                                <i class="material-icons">information</i>
                            </div>
                            <div class="ui-g-8 ui-md-7 ui-lg-7">
                                <label i18n>No tiene autorización para importar miembros.</label>
                            </div>
                        </div>
                    </div>
                    <!--Importación de miembros-->
                    <div class="ui-g-12" *ngIf="escrituraMiembro">
                        <div class="ui-g-12 ui-md-2">
                            <button pButton type="button" class="green-btn" i18n-label label="Subir archivo" icon="ui-icon-file-upload" (click)="importarMiembros()"></button>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo == ''">
                                <ng-container i18n>Ningún archivo seleccionado</ng-container>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo != ''">
                                <ng-container>{{nombreArchivo}}</ng-container>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <input class="upload" id="archivo" name="archivo" type="file" (change)="subirArchivo()" accept=".csv">
                                <label for="archivo" i18n>Seleccione un archivo</label>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--Importación de atributos-->
                <div class="ui-g-12 ui-md-12" *ngIf="atributo">
                    <div class="ui-g-12 ui-md-10">
                        <h3 i18n>Importación de atributos</h3>
                    </div>
                    <div class="ui-g" *ngIf="!escrituraMiembro || !escrituraAtributo">
                        <div class="ui-g-12" style="margin-top: 25px;"></div>
                        <div class="ui-g-12" *ngIf="!lectura && !cargandoDatos" style="background: #2196F3; font-size: x-small; color: white;">
                            <div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
                                <i class="material-icons">information</i>
                            </div>
                            <div class="ui-g-8 ui-md-7 ui-lg-7">
                                <label i18n>No tiene autorización para importar atributos a miembros.</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12" *ngIf="escrituraMiembro && escrituraAtributo">
                        <div class="ui-g-12 ui-md-2">
                            <button pButton type="button" class="green-btn" i18n-label label="Subir archivo" icon="ui-icon-file-upload" (click)="importarAtributos()"></button>
                        </div>
                        <div class="ui-g-12" *ngIf="escrituraMiembro && escrituraAtributo && lecturaAtributo">
                            <div class="ui-g-12 ui-md-4">
                                <div class="ui-g-12 ui-md-4">
                                    <ng-container i18n>Identificador:</ng-container>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <p-dropdown [options]="idItems" name="identificacion" [(ngModel)]="identificacion" autoWidth></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <div class="ui-g-12 ui-md-4">
                                    <ng-container i18n>Tipo de atributo:</ng-container>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <p-dropdown [options]="tipoAtributoItem" name="tipoAtributo" [(ngModel)]="tipo" autoWidth (onChange)="cambioAtributo()"></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4" *ngIf="tipo == 'E'">
                                <div class="ui-g-12 ui-md-4">
                                    <ng-container i18n>Atributos:</ng-container>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <p-dropdown [options]="atributosEstaticos" name="estatico" [(ngModel)]="idAtributo" autoWidth></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4" *ngIf="tipo == 'D'">
                                <div class="ui-g-12 ui-md-4">
                                    <ng-container i18n>Atributos:</ng-container>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <p-dropdown [options]="atributosDinamicos" name="dinamico" [(ngModel)]="idAtributo" autoWidth></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo == ''">
                                <ng-container i18n>Ningún archivo seleccionado</ng-container>
                            </div>
                            <div class="ui-g-12 ui-md-12" *ngIf="nombreArchivo != ''">
                                <ng-container>{{nombreArchivo}}</ng-container>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <input class="upload" id="archivo" name="archivo" type="file" (change)="subirArchivo()" accept=".csv">
                                <label for="archivo" i18n>Seleccione un archivo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="ayuda">
                    <!--Información para importar miembros/atributos -->
                    <div class="ui-g-12 ui-md-6">
                        <div class="card">
                            <h2 i18n> Requisitos para la importación de miembros: </h2>
                            <ul id="info">
                                <li i18n>Extención del archivo .csv</li>
                                <li><span i18n>Los campos deben tener el orden mostrado a continuación:</span>
                                    <ol>
                                        <li i18n>Documento de identificación *</li>
                                        <li i18n>Fecha nacimiento con el formato dd/mm/yy</li>
                                        <li i18n>Nombre *</li>
                                        <li i18n>Primer apellido *</li>
                                        <li i18n>Segundo apellido</li>
                                        <li i18n>Género, representado por 1 = masculino, 2 = femenino</li>
                                        <li i18n>Correo *</li>
                                        <li i18n>Contraseña *</li>
                                        <li i18n>Teléfono</li>
                                        <li i18n>Ciudad</li>
                                        <li i18n>Fecha de ingreso</li>
                                    </ol>
                                </li>
                                <li i18n>Los campos con asterisco (*) son obligatorios</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="card">
                            <h2 i18n> Requisitos para la importación de atributos de miembros </h2>
                            <ul>
                                <li i18n>Extención del archivo .csv</li>
                                <li i18n>Seleccionar el tipo de identificación para el miembro:</li>
                                <ul>
                                    <li i18n> UUID </li>
                                    <li i18n> Identificación del miembro</li>
                                </ul>
                                <li i18n>Escoger el tipo de atributo, ya sea dinámico o estático</li>
                                <li i18n>Seleccionar el atributo a importar</li>
                                <li><span i18n>Los campos deben tener el orden mostrado a continuación:</span>
                                    <ol>
                                        <li i18n>Identificación</li>
                                        <li i18n>Valor del atributo</li>
                                    </ol>
                                </li>
                                <li i18n>Los campos son obligatorios.</li>
                            </ul>
                            <div class="clearfix"></div>
                            <!-- style="height: 72px;"-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>