<div class="ui-g ui-fluid" style="background: whitesmoke;">
	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>
	<!--Se listan los datos en diferentes cards para mantener el orden, no se pueden editar directamente desde esta parte-->
	<div class="ui-g-12 ui-lg-12" *ngIf="!cargandoDatos">
		<div class="ui-g form-group">
			<div class="ui-g-12 ui-lg-6">
				<div class="card">
					<p-fieldset i18n-legend legend="Datos personales">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Correo:</strong></ng-container></div>
								<div class="ui-grid-col-8">{{miembro.correo}}</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Nombre:</strong></ng-container></div>
								<div class="ui-grid-col-8">{{miembro.nombre}}</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Apellidos:</strong></ng-container></div>
								<div class="ui-grid-col-8">{{miembro.apellido}} {{miembro.apellido2}}</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Cumpleaños:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.fechaNacimiento != null">{{miembro.fechaNacimiento | date}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.fechaNacimiento == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Identificación:</strong></ng-container></div>
								<div class="ui-grid-col-8">{{miembro.docIdentificacion}}</div>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>

			<div class="ui-g-12 ui-lg-6">
				<div class="card">
					<p-fieldset i18n-legend legend="Dirección">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Código Postal:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.codigoPostal != null">{{miembro.codigoPostal}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.codigoPostal == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>País de residencia:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.paisResidencia != null">{{miembro.paisResidencia}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.paisResidencia == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Estado Residencia:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.estadoResidencia != null">{{miembro.estadoResidencia}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.estadoResidencia == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Ciudad Residencia:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.ciudadResidencia != null">{{miembro.ciudadResidencia}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.ciudadResidencia == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Dirección de residencia</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.direccion != null">{{miembro.direccion}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.direccion == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>

			<div class="ui-g-12 ui-lg-6">
				<div class="card">
					<p-fieldset i18n-legend legend="Información Adicional">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Hijos:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.indHijos != null" >{{miembro.indHijos}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.indHijos == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Género:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.indGenero != null">{{miembro.indGenero | generoMiembro}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.indGenero == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Estado Civil:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.indEstadoCivil != null">{{miembro.indEstadoCivil | estadoCivilMiembro}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.indEstadoCivil == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Teléfono móvil:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.telefonoMovil != null">{{miembro.telefonoMovil}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.telefonoMovil == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Grado de educación:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.educacionMiembro != null">{{miembro.indEducacion | educacionMiembro}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.educacionMiembro == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-4"><ng-container i18n><strong>Ingreso Económico:</strong></ng-container></div>
								<div class="ui-grid-col-8" *ngIf="miembro.ingresoEconomico != null">{{miembro.ingresoEconomico}}</div>
								<div class="ui-grid-col-8" *ngIf="miembro.ingresoEconomico == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>

			<div class="ui-g-12 ui-lg-6">
				<div class="card">
					<p-fieldset i18n-legend legend="Datos programa">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Frecuencia de compra al mes:</strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="miembro.frecuenciaCompra != null">{{miembro.frecuenciaCompra}}</div>
								<div class="ui-grid-col-7" *ngIf="miembro.frecuenciaCompra == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Fecha de expiración del miembro:</strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="fecExpira != null">{{fecExpira | date}}</div>
								<div class="ui-grid-col-7" *ngIf="fecExpira == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Fecha de suspención del miembro:</strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="fecSuspencion != null" >{{fecSuspencion | date}}</div>
								<div class="ui-grid-col-7" *ngIf="fecSuspencion == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Causa de suspención:</strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="miembro.causaSuspension != null">{{miembro.causaSuspension}}</div>
								<div class="ui-grid-col-7" *ngIf="miembro.causaSuspension == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>

							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Comentario</strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="miembro.comentarios != null">
									<textarea pInputTextarea rows="2" cols="30" [(ngModel)]="miembro.comentarios" [disabled]="true"></textarea>
								</div>
								<div class="ui-grid-col-7" *ngIf="miembro.comentarios == null" style="color: darkgray;">
									<textarea pInputTextarea rows="2" cols="30" i18n-placeholder placeholder="Vacío" [disabled]="true"></textarea>
								</div>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>
			<div class="ui-g-12 ui-lg-12">
				<div class="card">
					<p-fieldset i18n-legend legend="Miembro">
						<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Indicador de miembro en el sistema: </strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="miembro.indMiembroSistema"><ng-container  i18n>Si</ng-container></div>
								<div class="ui-grid-col-7" *ngIf="!miembro.indMiembroSistema"><ng-container  i18n>No</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Aceptó las políticas del programa: </strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="miembro.indPolitica"><ng-container  i18n>Si</ng-container></div>
								<div class="ui-grid-col-7" *ngIf="!miembro.indPolitica"><ng-container  i18n>No</ng-container></div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-5"><ng-container i18n><strong>Fecha en la que aceptó las políticas:</strong></ng-container></div>
								<div class="ui-grid-col-7" *ngIf="miembro.fechaPolitica != null">{{miembro.fechaPolitica | date}}</div>
								<div class="ui-grid-col-7" *ngIf="miembro.fechaPolitica == null" style="color: darkgray;"><ng-container  i18n>Vacío</ng-container></div>
							</div>
						</div>
					</p-fieldset>
				</div>
			</div>
			<div class="ui-g-12 ui-md-10"></div>
			<!--este botón redirecciona a la edición de los datos del miembro-->
			<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="miembro.indEstadoMiembro == 'A' && escritura">
				<button pButton type="button" i18n-label label="Editar" icon="ui-icon" class="green-btn" icon="ui-icon-edit" (click)="editar()"></button>
			</div>
		</div>
	</div>
</div>