<div class="ui-g ui-fluid">
    <div class=" ui-g-12 ui-md-12"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-7">
            <h3 i18n>Transacciones</h3>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
                <div class="ui-g-5 ui-md-5"></div>
                <div class="ui-g-2 ui-md-2">
                    <img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
                </div>
            </div>
            <div *ngIf="!cargandoDatos">
                <!--se muestra la lista de las transacciones realizadas por un miembro-->
                <p-dataTable [value]="listaTransacciones" [paginator]="true" [rows]="15" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"
                [rowHover]="true" [styleClass]="gridList">
                    <p-header i18n>
                        Transacciones realizadas
                    </p-header>
                    <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
                    <p-column field="idCompra" i18n-header header="Transacción"></p-column>
                    <p-column field="total" i18n-header header="Total de la compra"></p-column>
                    <p-column i18n-header header="Fecha">
                        <ng-template let-transaccion="rowData" pTemplate="body">
                            <ng-container>{{transaccion.fecha | date }}</ng-container>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header header="Ubicación">
                        <ng-template let-transaccion="rowData" pTemplate="body">
                            <div *ngIf="transaccion.ubicacion != null">{{transaccion.ubicacion.nombre }}</div>
                            <div *ngIf="transaccion.ubicacion == null"><ng-container i18n>Vacío</ng-container></div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>