<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-4">
            <h3 i18n class="sub-heading-detalle">Historial de Métricas</h3>
        </div>
        <div class="ui-g-12 ui-md-4">

        </div>
        <div class="ui-g-12 ui-md-4">
            <!--busqueda por período-->
            <label i18n><strong>Períodos:</strong></label>
            <p-dropdown [options]="periodos" [(ngModel)]="indPeriodo" (onChange)="obtenerActividad()"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
        <!--tabla con la actividad de metricas del miembro -->
        <p-dataTable #dt exportFilename="{{miembro.idMiembro}}_metrica" [value]="listaActividades" [rows]="20" [paginator]="true">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g-10"></div>
                    <div class="ui-g-2">
                         <div style="text-align:center">
                        <button type="button" pButton icon="fa-file-o" iconPos="left" i18n-label label="Exportar a CSV" (click)="dt.exportCSV()" style="float:left"></button>
                         </div>
                    </div>
                </div>
            </p-header>
            <p-column field="nombreElemento" i18n-header header="Métrica" sortable="true">
                    <ng-template let-evento="rowData" pTemplate="body">
                            <span i18n *ngIf="evento.indTipoGane=='V'">-</span>{{evento.nombreElemento}}
                    </ng-template>
                   
            </p-column>
            
            <p-column field="indTipo" i18n-header header="Tipo" sortable="true">
                <ng-template let-evento="rowData" pTemplate="body">
                    <!--  GANO_METRICA("I"),-->
                    <div style="text-align:center">
                        <span i18n *ngIf="evento.indTipo=='I'">Ganó Métrica</span>
                        <span i18n *ngIf="evento.indTipo=='B'">Métrica abierta</span>
                    </div>
                </ng-template>
            </p-column>
            <p-column field="indTipoGane" i18n-header header="Acción" sortable="true">
                <!-- VENCIMIENTO("Y"),
            DESCONOCIDO("D"),
            MISION("M"),
            BIENVENIDA("B"),
            REFERENCIA("R"),
            TRANSACCION("T"),
            REVERSION("V"),
            REDENCION("X"),
            BONIFICACION_EXTRA("E"); -->
                <ng-template let-evento="rowData" pTemplate="body">
                    <div style="text-align:center">
                        <span i18n *ngIf="evento.indTipoGane=='Y'">Vencimiento</span>
                        <span i18n *ngIf="evento.indTipoGane=='D'">Desconocido</span>
                        <span i18n *ngIf="evento.indTipoGane=='M'">Mision</span>
                        <span i18n *ngIf="evento.indTipoGane=='B'">Bienvenida</span>
                        <span i18n *ngIf="evento.indTipoGane=='R'">Referencia</span>
                        <span i18n *ngIf="evento.indTipoGane=='T'">Transacción</span>
                        <span i18n *ngIf="evento.indTipoGane=='V'">Reversión</span>
                        <span i18n *ngIf="evento.indTipoGane=='X'">Redención</span>
                        <span i18n *ngIf="evento.indTipoGane=='E'">Bonificación Extra</span>
                        
                    </div>
                </ng-template>
            </p-column>
            <p-column field="fecha" i18n-header header="Fecha" sortable="true">
                <ng-template let-evento="rowData" pTemplate="body">
                    <div style="text-align:center">
                    <span>{{evento.fecha|date:'short'}}</span>
                    </div>
                </ng-template>
            </p-column>
            <p-column header="" *ngIf="lecturaMetrica">
                <ng-template let-evento="rowData" pTemplate="body">
                    <div style="text-align:center">
                        <button style="width:auto" pButton (click)="gotoDetail(evento.idElemento)" i18n-label label="Ir a Métrica"></button>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>