<div class="ui-g ui-fluid">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-10">
			<h3 i18n>Registro de niveles</h3>
		</div>
		<!--se muestra cuando asignar es falso, el miembro esta publicado y tiene permisos de metrica-->
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="!asignar && miembro.indEstadoMiembro =='A' && lecturaMetrica && escrituraMetrica && escritura">
			<button pButton type="button" i18n-label label="Asignar Nivel" (click)="asignarNivel()" icon="ui-icon-add"></button>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="asignar">
			<button pButton type="button" i18n-label label="Volver" (click)="asignar = false; cargandoDatos = false" icon="ui-icon-arrow-back"></button>
		</div>
	</div>

	<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
		<div class="ui-g-5 ui-md-5"></div>
		<div class="ui-g-2 ui-md-2">
			<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
		</div>
	</div>

	<div class="ui-g-12 ui-lg-12" *ngIf="!asignar && !cargandoDatos">
		<!--En este panel se muestran las métricas asociadas-->
		<div class="ui-g-12 ui-lg-12 ui-md-12" *ngIf="!listaVacia">
			<p-dataTable [value]="metricaMiembro" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" [responsive]="true" (onLazyLoad)="loadData($event)">
				<p-header i18n>
					Métricas asociadass
				</p-header>
				<p-column field="nombre" i18n-header header="Nombre">
					<ng-template let-metrica="rowData" pTemplate="body">
						<span>{{metrica.nombre}}</span>
					</ng-template>
				</p-column>
				<p-column field="medida" i18n-header header="Medida">
					<ng-template let-metrica="rowData" pTemplate="body">
						<span>{{metrica.medida | metricaTipoMedida}}</span>
					</ng-template>
				</p-column>
				<p-column styleClass="col-button" i18n-header header="Acción" [style]="{'width': '230px'}">
					<ng-template let-metrica="rowData" pTemplate="body">
						<button style="width:auto" pButton (click)="gotoMetrica(metrica.idMetrica)" i18n-label label="Ir a Métrica" *ngIf="lecturaMetrica"></button>
						<button style="width:auto" pButton (click)="confirmar(metrica.idMetrica)" i18n-label label="Remover" *ngIf="escritura && escrituraMetrica && miembro.indEstadoMiembro == 'A'"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
		<!--Se muestra este mensaje si no existen metricas-->
		<div *ngIf="listaVacia">
			<span i18n>No existen asociaciones.</span>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12" *ngIf="asignar && !cargandoDatos">
		<!--En este panel se da la asociacion de metricas-->
		<div *ngIf="miembro.indEstadoMiembro == 'A'" class="ui-g-12 ui-md-12">
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-3">
					<label for="dropMetricas" i18n>Métricas disponibles:</label>
				</div>
				<div class="ui-g-12 ui-md-9" *ngIf="!metricaVacio && lecturaMetrica">
					<div class="ui-g-12 ui-md-9 ui-lg-7" style="padding-right: 10px;">
						<input type="text" pInputText id="nameMetrica" name="nameMetrica" [(ngModel)]="nombreMetrica" style="width:100%" readonly/>
					</div>
					<div class="ui-g-12 ui-md-3 ui-lg-2" style="padding-left: 7px; padding-right: 7px;">
						<button type="button" i18n-label label="Selecionar" pButton (click)="displayDialogMetrica=true; obtenerMetricas()"></button>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-6" *ngIf="metricaVacio && lecturaMetrica">
					<ng-container i18n><strong>No hay métricas disponibles en el sistema</strong></ng-container>
				</div>
				<div class="ui-g-6 ui-md-6" *ngIf="!lecturaMetrica">
					<ng-container i18n><strong>No cuenta con permisos de lectura sobre métricas</strong></ng-container>
				</div>
			</div>
		</div>

		<div *ngIf="miembro.indEstadoMiembro == 'A'" class="ui-g-12 ui-md-12">
			<div class="ui-g-12 ui-md-12">
				<div class="ui-g-12 ui-md-3">
					<label for="dropMetricas" i18n>Niveles disponibles:</label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<div class="ui-g-12 ui-md-6" *ngIf="!nivelVacio && !cargandoNivel && lecturaMetrica">
						<p-dropdown [options]="nivelItems" id="dropNivel" name="dropNivel" [(ngModel)]="idNivel" autoWidth pTooltip="Niveles disponibles"
							tooltipPosition="top"></p-dropdown>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-6" *ngIf="nivelVacio && lecturaMetrica">
				<ng-container i18n><strong>No hay niveles disponibles.</strong></ng-container>
			</div>
			<div class="ui-g-12 ui-md-6" *ngIf="!lecturaMetrica">
				<ng-container i18n><strong>No cuenta con permisos de lectura sobre métricas</strong></ng-container>
			</div>
		</div>

		<div class="ui-g-12 ui-md-12" *ngIf="cargandoNivel">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
			</div>
		</div>
		<div class="ui-g-12 ui-md-12" *ngIf="idNivel">
			<div class="ui-g-12 ui-md-10"></div>
			<div class="ui-g-12 ui-md-2" *ngIf="miembro.indEstadoMiembro == 'A' && escritura && escrituraMetrica">
				<button type="button" i18n-label label="Asignar" class="green-btn" pButton (click)="asociarNivel()" icon="ui-icon-add"></button>
			</div>
		</div>
	</div>
</div>

<!--Cuadro para seleccionar las metricas disponibles-->
<p-dialog i18n-header header="Seleccione un elemento" [(visible)]="displayDialogMetrica" [width]="800">
    <p-chips [(ngModel)]="listaBusqueda" (onAdd)="obtenerMetricas()" (onRemove)="obtenerMetricas()" i18n-placeholder placeholder="Búsqueda"></p-chips>
    <p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
    <p-dataTable [value]="listaMetricas" [rows]="5" [paginator]="true" [totalRecords]="totalRecordsMetrica" [lazy]="true" (onLazyLoad)="loadDataMetrica($event)">
        <p-column field="nombre" i18n-header header="Nombre"></p-column> 
        <p-column field="medida" i18n-header header="Tipo">
            <ng-template let-metrica="rowData" pTemplate="body">
                <span>{{metrica.medida | metricaTipoMedida}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'110px'}" header="Selección" i18n-header>
            <ng-template let-metrica="rowData" pTemplate="body"  style="text-align: -webkit-center;">
                <button type="button" pButton (click)="seleccionarMetrica(metrica)" icon="ui-icon-check"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
        <button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="removerNivel()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>