<div class="ui-g ui-fluid card">
	<div class="ui-g-12 ui-md-12">
		<div class="ui-g-12 ui-md-12">
			<div class="heading-detalle">
				<ng-container i18n>Miembros</ng-container>
			</div>
		</div>
		<div class="ui-g-12 ui-md-8">
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaMiembros()" (onRemove)="busquedaMiembros()" i18n-placeholder placeholder="Búsqueda"></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2">
			<button pButton type="button" (click)="avanzada = !avanzada" i18n-label label="Búsqueda Avanzada"></button>
		</div>
		<div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="escritura">
			<button pButton type="button" i18n-label label="Agregar" class="green-btn flat" (click)="nuevoCliente()" icon="ui-icon-add"></button>
		</div>
		<!--Se muestra la búsqueda avanzada-->
		<div class="ui-g-12 ui-md-12" *ngIf="avanzada">
			<p-fieldset legend="Estado" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
					<div class="ui-g-12 ui-md-6">
						<p-checkbox value="A" name="activo" i18n-label label="Activos" [(ngModel)]="estado" (onChange)="busquedaMiembros()"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-6">
						<p-checkbox value="I" name="inactivo" i18n-label label="Inactivos" [(ngModel)]="estado" (onChange)="busquedaMiembros()"></p-checkbox>
					</div>
				</div>
			</p-fieldset>
			<p-fieldset legend="Filtro" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
					<div class="ui-g-12 ui-md-4">
						<p-checkbox value="nombre-usuario" i18n-label label="Nombre de usuario" (onChange)="listaMiembros=undefined;busquedaMiembros()"
							[(ngModel)]="filtros"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p-checkbox value="email" i18n-label label="E-mail" (onChange)="listaMiembros=undefined;busquedaMiembros()" [(ngModel)]="filtros"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p-checkbox value="doc-identificacion" i18n-label label="Identificación" (onChange)="listaMiembros=undefined;busquedaMiembros()"
							[(ngModel)]="filtros"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p-checkbox value="nombre" i18n-label label="Nombre" (onChange)="listaMiembros=undefined;busquedaMiembros()" [(ngModel)]="filtros"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p-checkbox value="apellido" i18n-label label="Primer Apellido" (onChange)="listaMiembros=undefined;busquedaMiembros()" [(ngModel)]="filtros"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p-checkbox value="apellido2" i18n-label label="Segundo Apellido" (onChange)="listaMiembros=undefined;busquedaMiembros()"
							[(ngModel)]="filtros"></p-checkbox>
					</div>
				</div>
			</p-fieldset>
			</div>
			<div class="ui-g-12 ui-md-12" *ngIf="!listaMiembros">
				<div class="ui-g-5 ui-md-5"></div>
				<div class="ui-g-2 ui-md-2">
					<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
			<!--Lista de los miembros-->
			<div class="ui-g-12" *ngIf="listaMiembros && listaMiembros.length>0">
				<p-dataList [value]="listaMiembros" [paginator]="true" [rows]="9" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)"
					*ngIf="!listaVacia">
					<p-header i18n>
						Lista de Miembros
					</p-header>
					<ng-template let-miembro pTemplate="item">
						<div class="listBorder clearfix">
							<button pButton type="button" class="listButton" (click)="miembroSeleccionado(miembro,'detalle')" icon="ui-icon-edit"></button>
							<button pButton type="button" class="listButton" (click)="miembroSeleccionado(miembro,'suspender')" *ngIf="miembro.indEstadoMiembro == 'A' && escritura"
								icon="ui-icon-delete"></button>
							<div class="ui-g-12 ui-md-3 ui-lg-3">
								<img class="cp-list cp-round" src="{{miembro.avatar}}">
							</div>
							<div class="ui-g-12 ui-md-8 ui-lg-7 ui-g-nopad">
								<div class="ui-grid-row">
									<div class="ui-g-12">
										<h2><strong>{{miembro.nombre}} {{miembro.apellido}}</strong></h2>
									</div>
								</div>
								<div class="ui-grid-row">
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong> Usuario: </strong></label><label>{{miembro.correo}}</label>
									</div>
									<div class="ui-g-12 ui-md-6">
										<label i18n><strong>Estado: </strong></label><label> {{miembro.indEstadoMiembro | cambioEstado}}</label>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataList>
			</div>
			<div class="ui-g" *ngIf="listaVacia">
				<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">				
						<span i18n>No existen miembros disponible</span>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--Cuadro de dialog para ver el detalle del cliente-->
<p-dialog i18n-header header="Suspender Miembro" [(visible)]="suspender" [responsive]="true" showEffect="fade" [modal]="true"
	width="400" height="277">
	<div class="ui-g-12 ui-md-12">
		<form role="form" #formSuspencion="ngForm">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12">
					<p i18n><strong>Causa de suspención: </strong></p>
				</div>
				<div class="ui-g-12 ui-md-12">
					<span class="md-inputfield">
                       <textarea pInputTextarea rows="2" cols="40" id="txtSuspension" name="txtSuspension" [(ngModel)]="miembro.causaSuspension"
						maxlength="200" #nombre="ngModel" required></textarea>
                    </span>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" icon="ui-icon-close" (click)="suspender=false"></button>
		<button pButton type="button" [disabled]="!formSuspencion.form.valid" (click)="confirmar = true; suspender = false"
			icon="ui-icon-archive" i18n-label label="Suspender"></button>
	</p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="confirmar" [responsive]="true" showEffect="fade" [modal]="true">
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12">
			<ng-container>{{pregunta}}</ng-container>
		</div>
	</div>
	<p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="confirmar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Suspender" (click)="suspenderMiembro()" icon="ui-icon-check" *ngIf="escritura"></button>
	</p-footer>
</p-dialog>