<div class="ui-g ui-fluid">
	<div class="ui-g-12 ">
		<div class="ui-g-12 ui-md-7">
			<h3 i18n>Preferencias del miembro</h3>
		</div>
		<div class="ui-g-12 ui-md-8 ui-lg-8">
			<!--Criterios de búsqueda-->
			<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaRespuestasMiembro()" (onRemove)="busquedaRespuestasMiembro()" placeholder="Búsqueda"
				i18n-placeholder></p-chips>
			<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
		</div>
		<div class="ui-g-12 ui-md-12">
			<p-fieldset legend="Tipo de respuesta" class="ui-g-12 ui-md-12">
				<div class="ui-grid ui-grid-responsive ui-grid-pad ui-g-12">
					<div class="ui-g-12 ui-md-4">
						<p-checkbox name="group1" value="SU" i18n-label label="Selección única" [(ngModel)]="tipo" (onChange)="busquedaRespuestasMiembro()"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-4">
						<p-checkbox name="group1" value="RM" i18n-label label="Respuesta múltiple" [(ngModel)]="tipo" (onChange)="busquedaRespuestasMiembro()"></p-checkbox>
					</div>
					<div class="ui-g-12 ui-md-4">
						<p-checkbox name="group1" value="TX" i18n-label label="Texto" [(ngModel)]="tipo" (onChange)="busquedaRespuestasMiembro()"></p-checkbox>
					</div>
				</div>
			</p-fieldset>
		</div>
	</div>

	<!--Lista de las respuestas a preferencias del miembro-->
	<div class="ui-g-12 ui-lg-12">
		<div *ngIf="!respuestaVacia">
			<p-dataTable [value]="listaRespuestas" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
				<p-header i18n>
					Respuestas
				</p-header>
				<p-column i18n-header header="Tipo">
					<ng-template let-respuesta="rowData" pTemplate="body">
						<p *ngIf="respuesta.indTipoRespuesta == 'SU'" i18n>Selección única</p>
						<p *ngIf="respuesta.indTipoRespuesta == 'RM'" i18n>Respuesta múltiple</p>
						<p *ngIf="respuesta.indTipoRespuesta == 'TX'" i18n>Texto</p>
					</ng-template>
				</p-column>
				<p-column i18n-header header="Pregunta">
					<ng-template let-respuesta="rowData" pTemplate="body">
						{{respuesta.pregunta}}
					</ng-template>
				</p-column>
				<p-column i18n-header header="Respuestas">
					<ng-template let-respuesta="rowData" pTemplate="body">
						{{respuesta.respuestas}}
					</ng-template>
				</p-column>
				<p-column i18n-header header="Miembro">
					<ng-template let-respuesta="rowData" pTemplate="body">
						<p *ngIf="respuesta.respuestaMiembro != null">{{respuesta.respuestaMiembro}}</p>
						<p *ngIf="respuesta.respuestaMiembro == null || respuesta.respuestaMiembro == ''" i18n>No respuesta</p>
					</ng-template>
				</p-column>
				<p-column styleClass="col-button">
					<ng-template let-respuesta="rowData" pTemplate="body">
						<button pButton type="button" i18n-label label="Ir a preferencia" (click)="preferenciaSeleccionada(respuesta.idPreferencia)"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
	</div>
</div>