<div class="ui-g ui-fluid">
    <div class="ui-g-12 ">
        <div class="ui-g-12 ui-md-7">
            <h3 i18n>Segmentos del miembro</h3>
        </div>
    </div>

    <p-dataTable #dt exportFilename="{{id}}_segmentos" [value]="listaSegmentos" [rows]="20" [paginator]="true">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g-9"></div>
                <div class="ui-g-2">
                    <div style="text-align:center">
                        <button type="button" pButton icon="fa-file-o" iconPos="left" i18n-label label="Exportar a CSV" (click)="dt.exportCSV()" style="float:right"></button>
                    </div>
                </div>
                <div class="ui-g-1" *ngIf="lecturaSegmento">
                    <button type="button" pButton icon="ui-icon-refresh" (click)="obtenerListaSegmentos()" style="float:right"></button>
                </div>
            </div>
        </p-header>
        <p-column field="nombre" i18n-header header="Nombre" sortable="true"></p-column>
        <p-column field="nombreDespliegue" i18n-header header="Nombre de Despliegue" sortable="true"></p-column>
        <p-column field="indEstatico" i18n-header header="Tipo" sortable="true">
            <ng-template let-segmento="rowData" pTemplate="body">
                <div style="text-align:center">
                    <div [ngSwitch]="segmento.indEstatico">
                        <div i18n *ngSwitchCase="'E'">Estático</div>
                        <div i18n *ngSwitchCase="'D'">Dinámico</div>
                        <div *ngSwitchDefault></div>
                    </div>
                </div>
            </ng-template>
        </p-column>
        <p-column field="idSegmento" header="">
            <ng-template let-segmento="rowData" pTemplate="body">
                <div style="text-align:center">
                    <button style="width:auto" pButton (click)="gotoDetail(segmento.idSegmento)" i18n-label label="Ir a Segmento"></button>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
