<div class="row" *ngIf="!offers">
  <div style="text-align: center" >
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
</div>

<div class="row" *ngIf="offers && offers.length>0">
  <div class="col-xs-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" [attr.data-slide-to]="i" *ngFor="let offer of offers;let i=index;" [ngClass]="{'active':i==0}"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item " [ngClass]="{'active':i==0}" *ngFor="let offer of offers;let i=index;">
          <img (click)="gotoDetail(offer)" [src]="offer.imagenArte" class="center-block img-responsive" style="height: 300px">
          <!--<div class="carousel-caption">
                <h3>{{offer.encabezadoArte}}</h3>
                <p>{{offer.subencabezadoArte}}</p>
              </div>-->
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only" i18n>Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only" i18n>Next</span>
      </a>
    </div>
  </div>
</div>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content card">
     <offer-detail [offer]="selectedOffer"></offer-detail>
    </div>
  </div>
</div>