<div class="container-fluid">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- Project Details Go Here -->
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <h2>{{offer.encabezadoArte}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <p class="item-intro text-muted">
                    {{offer.subencabezadoArte}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <img class="img-responsive img-centered" src="{{offer.imagenArte}}" style=" margin-top: 15px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <p class="offer-descr">
                    <strong>{{offer.detalleArte}}</strong>
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <!--null-Ninguno
                        A-URL
                        B-Código QR
                        C-ITF
                        D-EAN
                        E-Code 128
                        F-Code 39-->
                <div [ngSwitch]="offer.indTipoAccion" style="margin-bottom: 25px">
                    <div *ngSwitchCase="null" i18n>Ninguno</div>
                    <div *ngSwitchCase="'A'">
                        <a target="_blank" href="{{offer.urlOrCodigo}}" class="btn btn-primary pull-right" i18n>Read More</a>
                    </div>
                    <div *ngSwitchCase="'B'" i18n>Código QR</div>
                    <div *ngSwitchCase="'C'" style="text-align: center">
                        <barcode [format]="ITF" [value]="offer.urlOrCodigo"></barcode>
                    </div>
                    <div *ngSwitchCase="'D'" style="text-align: center">
                        <barcode [format]="EAN / UPC" [value]="offer.urlOrCodigo"></barcode>
                    </div>
                    <div *ngSwitchCase="'E'" style="text-align: center">
                        <barcode [format]="CODE128" [value]="offer.urlOrCodigo"></barcode>
                    </div>
                    <div *ngSwitchCase="'F'" style="text-align: center">
                        <barcode [format]="CODE39" [value]="offer.urlOrCodigo"></barcode>
                    </div>
                    <div *ngSwitchDefault style="text-align: center">{{offer.indTipoAccion}}</div>
                </div>
            </div>
        </div>
    </div>
</div>