<div class="ui-g ui-fluid card">
	<div class="ui-g-12 ui-md-12 ui-lg-12">
		<div class="ui-g-12 ui-md-12 ui-lg-12">
			<div class="ui-g-12 ui-md-8 ui-lg-8">
				<h2 i18n>Unidades de medida</h2>
			</div>
		</div>
		<div class="ui-g-12 ui-md-12">
			<div class="ui-g-6 ui-md-8">
				<p-chips [(ngModel)]="listaBusqueda" (onAdd)="busquedaUnidades()" (onRemove)="busquedaUnidades()" i18n-placeholder placeholder="Búsqueda"></p-chips>
				<p class="infoSmall" i18n><small>Ingrese el criterio de búsqueda y presione "enter" para continuar.</small></p>
			</div>
			<!--Botón para agregar una nueva unidad de medida-->
			<div class="ui-g-12 ui-md-3 ui-lg-2" *ngIf="escritura">
				<button pButton type="button" i18n-label label="Agregar" class="green-btn" (click)="editar=true" icon="ui-icon-add"></button>
			</div>
		</div>
	</div>
	<div class="ui-g-12 ui-lg-12 ui-md-12">
		<div class="ui-g-12 ui-md-12" *ngIf="cargandoDatos">
			<div class="ui-g-5 ui-md-5"></div>
			<div class="ui-g-2 ui-md-2">
				<img class="loading-gif-centered" src="/resources/img/loading_icon.gif">
				</div>
			</div>
			<div *ngIf="!listaVacia && !cargandoDatos">
				<p-dataList [value]="listaUnidades" [paginator]="true" [rows]="10" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
					<p-header i18n>
						Unidades de medida
					</p-header>
					<ng-template let-unidadMedida pTemplate="body">
						<div class="clearfix listBorder">
							<div class="ui-g-12 ui-md-8 ui-lg-8">
			                       <div class="ui-g-4 ui-md-4">
									<p i18n><strong>Descripción:</strong></p>
								</div>
						    	<div class="ui-g-7 ui-md-7">
									<p>{{unidadMedida.descripcion}}</p>
								</div>
							</div>
							<!--Botón que permite ir al detalle de la insignia-->
							<button type="button" pButton (click)="unidadSeleccionada(unidadMedida)" icon="ui-icon-edit" class="listButton" *ngIf="escritura"></button>
							<button type="button" pButton (click)="confirmar(unidadMedida.idUnidad)" icon="ui-icon-delete" class="listButton" *ngIf="escritura"></button>
						</div>
					</ng-template>
				</p-dataList>
			</div>

			<!--Se muestra este mensaje si no existen asignaciones-->
			<div class="ui-g-12 ui-lg-12" *ngIf="listaVacia && !cargandoDatos">
				<div class="ui-g-12" style="background: #2196F3; font-size: x-small; color: white;">
					<div class="ui-g-2 ui-md-1 ui-lg-1" style="margin-right: -35px">
						<i class="material-icons">information</i>
					</div>
					<div class="ui-g-8 ui-md-7 ui-lg-7">
						<span i18n>No existen unidades de medida disponibles en el sistema.</span>
					</div>
				</div>
			</div>
	</div>
</div>

<!--Cuadro de dialog para editar/insertar una subcategoria-->
<p-dialog i18n-header header="Unidad de medida" [closeOnEscape]="false" [closable]="false" [responsive]="true" [(visible)]="editar" showEffect="fade"
	[modal]="true" width="600" height="auto" [resizable]="true">
	<div class="ui-g-12 ui-md-12">
		<!--Formulario para la inserción/edición de una unidad -->
		<form role="form" [formGroup]="formUnidad">
			<div class="ui-g form-group">
				<!-- Descripción -->
				<div class="ui-g-12 ui-md-12">
					<div class="ui-g-12 ui-md-4">
						<label i18n><strong>Descripción</strong></label>
					</div>
					<div class="ui-g-12 ui-md-8">
						<input type="text" pInputText formControlName="descripcion">
					</div>
				</div>
			</div>
		</form>
	</div>
	<p-footer>
		<img src="/resources/img/loading_icon.gif" height="25" width="25" class="pull-right" *ngIf="subiendoImagen" />
		<button pButton type="button"  i18n-label label="Cancelar" icon="ui-icon-close" (click)="cancelarAccion()"></button>
		<button pButton type="button" i18n-label label="Guardar" icon="ui-icon-save" (click)="accionUnidad()" [disabled]="!formUnidad.valid"></button>
    </p-footer>
</p-dialog>

<!--Cuadro de diálogo para confirmar la eliminiación-->
<p-dialog i18n-header header="Confirmación" [(visible)]="eliminar" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <ng-container i18n>¿Confirma que desea remover este elemento?</ng-container>
       </div>
    </div>
    <p-footer>
		<button pButton type="button" i18n-label label="Cancelar" (click)="eliminar = false" icon="ui-icon-close"></button>
		<button pButton type="button" i18n-label label="Remover" (click)="eliminarUnidad()" icon="ui-icon-trash"></button>
    </p-footer>
</p-dialog>