<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 form-padding">
    <h3 i18n>My Progress</h3>
    <offer-carousel></offer-carousel>
    <div class="row form-padding">
      <div class="col-lg-12">
        <h4 i18n>Current Progress:</h4>
        <span><strong *ngIf="progress && progress.nivelActual">{{progress.nivelActual.descripcion}} </strong></span><br>
        <span i18n>{{balance?.disponible}} Points</span>
      </div>
    </div>
    <div class="row form-padding">
      <div class="col-lg-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="height: 20px;" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width':porcentajeCompletado+'%'}">
          </div>
          <!--[attr.aria-valuenow]="progreso?.porcentajeCompletado"-->
        </div>
      </div>
      <div class="col-lg-12" *ngIf="!lastLevel">
        <span class="pull-right" i18n><strong>Next Level:</strong> 
          </span><br>
        <span class="pull-right" i18n>{{progress?.tope||0}} points</span><br>        
        <span class="pull-right" i18n>{{pointsToGo||0}} points to level up!</span>
      </div>
      <div class="col-lg-12" *ngIf="lastLevel">
        <span class="pull-right" i18n>You are at the top level!</span>
      </div>
    </div>
    <div class="row form-padding">
    </div>
  </div>
</div>