
/*Estilos que sobreescriben los del tema */

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
     text-transform: none; 
    font-weight: 700;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fed136;
    background-color: #222222;
    border-color: transparent;
}

.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    /* color: white; */
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: #fed136;
    outline: none;
    background-color: #3c3737;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #3c3737;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    /* color: #333; */
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    .modal{
        max-width: 340px;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0;
        left: 0px;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
}

@media screen and (min-width: 481px) {
    .modal{
        position: fixed;
        top: 20%;
        right: 0px;
        bottom: 0;
        left: 0px;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
}
